[2016-02-25 17:20] karato commented on #936
@prahladyeri many thanks for the report, I topped your account for 15 mins, transaction 78546791

[2016-02-25 17:24] longtimeago commented on #1032
@dmzaytsev sorry, was really busy with 2 other projects :(

[2016-02-25 17:31] dmzaytsev commented on #1045
@rultor release, tag=`2.22.8`

[2016-02-25 17:32] rultor commented on #1045
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7244-188893169)

[2016-02-25 17:39] CarlosGines commented on #862
Ok @karato I will keep it in mind. Please check PR #1050 for this task. I still consider issue #1033 above relevant, but I have managed anyways.

[2016-02-25 17:49] rultor commented on #1045
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/7244-188893169) (took me 17min)

[2016-02-25 17:56] karato commented on #828
@dmzaytsev right, I added "urgent" label

[2016-02-25 18:04] dmzaytsev commented on #1045
@yegor256 it seems dumps appear more then every 20 mins
would it possible display the creation time of the file?

[2016-02-25 18:12] yegor256 commented on #1045
@dmzaytsev they are created every 10 minutes... let's make them less frequently?

[2016-02-25 18:12] yegor256 commented on #1045
@dmzaytsev for the file creation time, submit a ticket to https://github.com/yegor256/s3auth

[2016-02-25 18:15] dmzaytsev commented on #1045
@yegor256 let's left it as is

[2016-02-25 18:30] karato commented on #850
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-02-25 18:30] karato commented on #859
@elenavolokhova please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-25 18:30] karato commented on #1023
@ypshenychka review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-25 18:30] dmzaytsev commented on #1045
@yegor256 is it eat the memory right now?
dumps not too big

[2016-02-25 18:31] yegor256 commented on #1045
@dmzaytsev well, I restart it every 20 minutes... I can stop that and the memory leak will show up... stopped. let's see

[2016-02-25 18:33] karato commented on #992
@kujtimiihoxha paied 10 mins to @ypshenychka for QA review (payment ID is `78550562`); I added **30 mins** to your account, many thanks for working with the project (AP-33X928795Y214980G)! The completion time here was 379 hours and 34 mins.; +30 to your rating, your total score is [+353](http://www.netbout.com/b/36323?open=rating)

[2016-02-25 18:34] dmzaytsev commented on #1045
@yegor256 the biggest file is
![image](https://cloud.githubusercontent.com/assets/9972909/13329885/33576980-dc18-11e5-9be0-678dc6bab41c.png)

[2016-02-25 18:34] karato commented on #931
@longtimeago many thanks for the bug report, I added 15 mins to your acc, transaction `78550839`

[2016-02-25 18:36] dmzaytsev commented on #1045
@yegor256 but you said memory limit is 512mb right?

[2016-02-25 18:54] dmzaytsev commented on #1045
@yegor256 well..  I'm not expert in the memory dump analyzing
however as I can see there are two problems:
*  not closed streams in Takes I guess as Netbout doesn't use sockets directly
*  jcabi method cache

[2016-02-25 19:58] karato commented on #828
@kujtimiihoxha do this task

[2016-02-25 19:59] karato commented on #1026
@hdouss thank you for reporting this, I added 15 mins to your acc, transaction `78555520`

[2016-02-25 20:27] ypshenychka commented on #1023
@karato Quality is good.

[2016-02-25 20:45] karato commented on #1045
@dmzaytsev sure, the task is yours now

[2016-02-25 21:14] karato commented on #1038
@yegor256 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `000-07a829af`

[2016-02-25 21:52] 2686747 commented on #1032
@dmzaytsev please, check it #1051

[2016-02-25 22:13] yegor256 commented on #1045
@dmzaytsev now it's 1Gb on Heroku, and we set 512mb for the JVM

[2016-02-25 22:15] yegor256 commented on #1045
@dmzaytsev I changed the interval: `heroku config:set JMAP_INTERVAL=120`

[2016-02-26 03:56] dmzaytsev commented on #1045
@yegor256 you don't restart by cron now, right?

[2016-02-26 10:21] yegor256 commented on #1045
@dmzaytsev I restart every 4 hours

[2016-02-26 10:44] dmzaytsev commented on #1032
@2686747 also please revert commits https://github.com/dmzaytsev/netbout/commit/2f612c5deea7af3c5f76355be519795422c76144
and https://github.com/dmzaytsev/netbout/commit/e1cf2987a4e28497a802818279589c2c40569172

[2016-02-26 12:52] karato commented on #1023
@ypshenychka thank you, good quality is always good :)

[2016-02-26 14:13] elenavolokhova commented on #859
@karato Looks good!

[2016-02-26 14:16] elenavolokhova commented on #850
@karato Looks good!

[2016-02-26 15:11] dmzaytsev commented on #1045
@rultor release, tag=`2.22.9`

[2016-02-26 15:12] rultor commented on #1045
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7244-189317458)

[2016-02-26 15:31] rultor commented on #1045
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/7244-189317458) (took me 18min)

[2016-02-26 17:02] techartist opened #1053 "Stack Trace."
java.lang.IllegalStateException: [GET http://www.netbout.com/?PsByFlag=PsGoogle&code=4%2Fw6fusCi9LOJMOB56qKNFo3BkByN-VjU1Wxt5-9ks6mU&state=http%3A%2F%2Fwww.netbout.com%2F] failed in 369ms: null
    at org.takes.facets.fallback.TkFallback.error(TkFallback.java:233)
    at org.takes.facets.fallback.TkFallback.route(TkFallback.java:112)
    at org.takes.facets.fallback.TkFallback.access$000(TkFallbac

[2016-02-26 17:13] dmzaytsev commented on #1053
@techartist thanks for reporting
we have ticket  #1038 for this case

[2016-02-26 17:44] dmzaytsev commented on #1045
@yegor256 I think we can stop auto restart the instance now
I don't see `java.lang.ref.Finalizer` leakages related to AWS for last two hours

however let's keep memory settings

[2016-02-26 18:20] 2686747 commented on #1032
@dmzaytsev dmzaytsev@2f612c5 seems correct , doesn't it?

[2016-02-26 18:25] dmzaytsev commented on #1032
@2686747 I have removed that property but it did not affect to the issue
do you think we have to keep it removed?  if so let's do it

[2016-02-26 18:28] 2686747 commented on #1032
It was timestamp property for coverall-plugin, i think. Maybe 63ebb1c438f204044571f7ea2c7c31fa4035fc54 has to be reverted?

[2016-02-26 18:30] dmzaytsev commented on #1032
@2686747 yes, let's remove it

[2016-02-26 18:52] 2686747 commented on #1032
@dmzaytsev done 12ac1d9

[2016-02-26 19:32] CarlosGines commented on #862
@mkordas bug fixed in PR #1050 Please close the ticket.

[2016-02-26 19:39] CarlosGines commented on #861
@karato It looks like this issue comes from [yegor256/takes](https://github.com/yegor256/takes). How should I proceed to close this ticket then?

[2016-02-26 19:40] mkordas commented on #862
@CarlosGines thanks

[2016-02-26 19:40] #862 closed

[2016-02-26 20:28] yegor256 commented on #1045
@dmzaytsev OK, stopped. what was the problem? can you explain?

[2016-02-27 05:37] dmzaytsev commented on #1045
@yegor256 is it stable now? have you seen any errors in heroku logs?

[2016-02-27 05:53] dmzaytsev commented on #1045
@yegor256

There were a few problems, I tried to fix one of them.
I have seen in heap dumps a lot of `java.lang.ref.Finalizer` objects that linked to AWS sockets
It seems that a `finalize()` method was deadlocked/blocked causing thread to be stuck at this object, hence the remaining of the Finalizer queue is not processed and piles up.

I have upgraded Netbout to latest AWS dependencies.

The seco

[2016-02-27 06:22] dmzaytsev commented on #1045
@yegor256 I think easiest workaround is usage of `SoftReference` inside jcabi-cache
I just created a new [ticket](https://github.com/jcabi/jcabi-aspects/issues/214) there

[2016-02-27 09:56] karato commented on #859
@elenavolokhova thank you ;)

[2016-02-27 09:56] karato commented on #850
@elenavolokhova thanks for the review and a good remark

[2016-02-27 10:14] karato commented on #857
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-02-27 10:16] karato commented on #859
@kujtimiihoxha 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 78631142... **1 hour** sent to your balance (ID `AP-8G559753YG607102Y`), many thanks! It took 23 hours and 3 mins.... there is a bonus for fast delivery (m=1383)... +60 to your rating, your total score is [+413](http://www.netbout.com/b/36323?open=rating)

[2016-02-27 10:16] karato commented on #1045
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-fb1d0dd5

[2016-02-27 10:17] karato commented on #1044
@dmzaytsev please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-02-27 10:46] dmzaytsev commented on #1032
@rultor release, tag=`2.22.10`

[2016-02-27 10:46] rultor commented on #1032
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7215-189617466)

[2016-02-27 11:03] rultor commented on #1032
@dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7215-189617466) (spent 17min)

[code]

[2016-02-27 11:06] dmzaytsev commented on #1032
@2686747 any ideas?

[2016-02-27 11:13] ypshenychka commented on #857
@karato Quality is good.

[2016-02-27 11:46] karato commented on #850
@kujtimiihoxha just added 10 mins to @elenavolokhova (for QA), payment ID is `78632709`... **1 hour** sent to your balance (ID `AP-7CR966840D138283T`), many thanks! It took 23 hours and 3 mins.... the bonus for fast delivery (m=1383)... +60 added to your rating, at the moment it is: [+473](http://www.netbout.com/b/36323?open=rating)

[2016-02-27 11:46] karato commented on #858
@kujtimiihoxha this is your task

[2016-02-27 11:48] 2686747 commented on #1032
@dmzaytsev it seems like other issue

[2016-02-27 12:17] kujtimiihoxha commented on #858
@dmzaytsev I think this should be done in RsHTML of task, not here on netbout. What do you think ?

[2016-02-27 12:19] kujtimiihoxha commented on #858
@dmzaytsev  becuase this would not only affect this case but all html responses will have this vulnerability.

[2016-02-27 12:30] dmzaytsev commented on #858
@kujtimiihoxha it should be done in MarkdownTxtMark.
perhaps TxtMark has an option for it
see https://github.com/rjeschke/txtmark

[2016-02-27 12:30] dmzaytsev commented on #858
@kujtimiihoxha all messages in a bout processed by Markdown

[2016-02-27 12:52] karato commented on #857
@ypshenychka thank you, good quality is always good :)

[2016-02-27 13:00] kujtimiihoxha commented on #858
@karato  @dmzaytsev  see PR #1054

[2016-02-27 13:21] karato commented on #856
@kujtimiihoxha do this task

[2016-02-27 13:21] karato commented on #857
@kujtimiihoxha added 10 mins to @ypshenychka, for QA review, payment code is `78634494`... **45 mins** sent to your balance (ID `AP-2WN03557XL626570S`), many thanks! It took 46 hours and 40 mins.... m=2800, that's why a bonus here for fast delivery... +45 added to your rating, at the moment it is: [+518](http://www.netbout.com/b/36323?open=rating)

[2016-02-27 14:41] CarlosGines commented on #861
@karato I created an issue for this specific case: yegor256/takes#626
It seems like yegor256/takes#254 did not solve it. This task should be postponed until it is solved in takes. Can you confirm this please?

[2016-02-27 14:46] karato commented on #858
@kujtimiihoxha thanks, will take a look

[2016-02-27 15:14] karato commented on #855
@kujtimiihoxha do this task

[2016-02-27 15:14] karato commented on #1023
@dmzaytsev 10 mins was added to the account of @ypshenychka (for QA review), in transaction 78637238; **30 mins** added to your account (payment number `78637260`), many thanks for your contribution! 94 hours and 30 mins spent here.; +30 added to your rating, current score is: [+3554](http://www.netbout.com/b/35166?open=rating)

[2016-02-27 16:55] 2686747 commented on #974
@karato can you calculate this task?

[2016-02-27 16:57] 2686747 commented on #995
@karato can you calculate this task?

[2016-02-27 18:52] kujtimiihoxha commented on #858
@mkordas changes have been merged please close this issue.

[2016-02-27 19:06] mkordas commented on #858
@kujtimiihoxha thanks

[2016-02-27 19:06] #858 closed

[2016-02-27 21:59] 2686747 opened #1055 "Cobertura-maven-plugin doesn't generate xml report."
It seems like cobertura-maven-plugin doesn't generate xml report (see [log](http://www.rultor.com/t/7215-189617466)) and as result https://github.com/yegor256/netbout/issues/1032#issuecomment-189618572

[2016-02-27 22:06] 2686747 commented on #1032
@karato waiting for #1055

[2016-02-28 05:15] yegor256 commented on #1045
@dmzaytsev I'm not against switching to Guava cache... but let's see what we have after that fix in jcabi cache. also, I'm restarting Heroku every 20 minutes now again

[2016-02-28 06:15] preetimanda opened #1056 "error"
java.lang.IllegalStateException: [GET http://www.netbout.com/?PsByFlag=PsGoogle&code=4%2FqN16biU8kB3xRxwBdEU3IRGvl34ELhqvGtlaIK4A474&state=http%3A%2F%2Fwww.netbout.com%2F] failed in 365ms: null
    at org.takes.facets.fallback.TkFallback.error(TkFallback.java:233)

[2016-02-28 06:34] dmzaytsev commented on #1045
@yegor256 when do you plan to release that fix ?

on another note that fix should only prevent OOM

I think we have wrong design in `DyFriend`, a new `AwsTable` instance created (and cached) for each `Friend`

[code]
as result we have 135000 copies of AwsTable (and open sockets to Dynamo server)
I guess some bout have too many friends. Deletion of that bout should help for now

Is jcabi dynamo abl

[2016-02-28 06:49] yegor256 commented on #1045
@dmzaytsev it's an interesting catch... looks like that is the problem. let me investigate a bit

[2016-02-28 06:53] dmzaytsev commented on #1045
@yegor256 yep, also that's why we have a huge Finalizers queue

[2016-02-28 06:59] dmzaytsev commented on #1045
@yegor256 on the side note
it would be good to have a monitoring tool
Heroku offers hosted Graphite https://elements.heroku.com/addons/hostedgraphite (with Grafana dashboard)
Netbout can collect some metrics and send the metrics to the Graphite instance

[2016-02-28 07:00] yegor256 commented on #1045
@dmzaytsev sure, let's use it. what do you need me to do?

[2016-02-28 07:12] dmzaytsev commented on #1045
@yegor256 I don't know right now
API key at least

[2016-02-28 07:31] yegor256 commented on #1045
@dmzaytsev see #1057

[2016-02-28 07:31] yegor256 commented on #1045
@dmzaytsev what is API key? where exactly to get it?

[2016-02-28 07:41] dmzaytsev commented on #1045
@yegor256 see https://devcenter.heroku.com/articles/hostedgraphite#provisioning-the-add-on
[code]

we don't need to do it right now
I think it should be added to MANIFEST later

if you prefer a free plan
we need ten metrics to collect

[2016-02-28 07:51] dmzaytsev commented on #1055
@karato  valid bug

[2016-02-28 07:59] yegor256 commented on #1045
@dmzaytsev done:

[code]

I put the key into `settings.xml`, which is available for rultor. It's called `${graphite.key}`

[2016-02-28 08:14] dmzaytsev commented on #1045
@rultor release, tag=`2.22.11`

[2016-02-28 08:15] dmzaytsev commented on #1045
@yegor256 please do the same for snapshot-netbout

[2016-02-28 08:16] rultor commented on #1045
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7244-189818274)

[2016-02-28 08:22] yegor256 commented on #1045
@dmzaytsev done:

[code]

[2016-02-28 08:35] rultor commented on #1045
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/7244-189818274) (took me 18min)

[2016-02-28 08:40] dmzaytsev commented on #1045
@yegor256 let's check the new release

[2016-02-28 09:39] karato commented on #1032
@2686747 agreed, we'll wait for #1055

[2016-02-28 09:39] karato commented on #1055
@dmzaytsev I tagged this as "bug"

[2016-02-28 11:01] karato commented on #1055
@2686747 attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-02-28 11:23] karato commented on #862
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-28 11:25] karato commented on #1055
@2686747 thank you for the ticket reported, I topped your account for 15 mins, transaction `56d2d91a313c2b3e50000312`

[2016-02-28 11:32] yegor256 commented on #1045
@dmzaytsev I turned off the restarting daemon... let's see what will happen in the next few hours

[2016-02-28 12:22] elenavolokhova commented on #862
@CarlosGines

I have created issue #1033 that needs to be addressed before I can continue with this task. Waiting for its approval.

 According to our [quality rules](http://www.teamed.io/qa.html):

 As far as you are the performer of this ticket you are responsible for its quality. Please follow this rule in your tickets in the future. All issues should be fixed before ticket is closed and passed

[2016-02-28 12:39] 2686747 commented on #1055
@karato i can take this issue and resolve with #1032

[2016-02-28 12:54] karato commented on #974
@2686747 sure, will do soon

[2016-02-29 10:10] karato commented on #858
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-02-29 10:17] dmzaytsev commented on #1056
@prahladyeri thanks for reporting
Actually Google Auth is broken now and we have ticket #1038 for this case

[2016-02-29 16:13] CarlosGines commented on #862
@elenavolokhova everything is clear and I have no questions regarding this approach. I have fixed my comment here too. Thank you.

[2016-02-29 16:23] dmzaytsev commented on #1045
@yegor256 is it stable now?
do you see error messages in heroku logs?

[2016-02-29 16:40] karato commented on #1012
@danff 15 days already, in 48 hours I will re-assign

do not forget that you should remove the `@todo` puzzle from the source code

-30 added to your rating, current score is: [+30](http://www.netbout.com/b/36198?open=rating)

[2016-02-29 16:46] yegor256 commented on #1045
@dmzaytsev no, it's not... I had to turn the restarter ON again. I will monitor it in a few days again and will report here

[2016-02-29 17:15] yegor256 commented on #995
@karato pls add extra 30 mins to @2686747

[2016-02-29 18:17] karato commented on #995
@2686747 @yegor256 please help us here

[2016-02-29 18:17] karato commented on #995
@yegor256 I've paid 30 mins to @2686747 in transaction `56d48b308fb60a00660000c2`

[2016-02-29 18:17] karato commented on #1055
@2686747 you should ask project architect for this (@dmzaytsev)

[2016-02-29 18:23] dmzaytsev commented on #1055
@2686747 the ticket performer and ticket resolver should be different persons

[2016-02-29 18:38] 2686747 commented on #1055
@dmzaytsev No problems. I seen just §29. By the way, i have some ideas for resolver.

[2016-02-29 18:54] dmzaytsev commented on #1055
@2686747 it would be great if you can share your ideas

[2016-02-29 18:55] 2686747 commented on #1055
@dmzaytsev Try update cobertura-maven-plugin to last version

[2016-02-29 19:20] dmzaytsev commented on #1055
@2686747 thank you

[2016-02-29 19:53] karato commented on #600
@dmzaytsev last puzzled solved `692-1caba32d`/#770

[2016-02-29 19:53] karato commented on #692
@dmzaytsev the last puzzle `692-1caba32d`/#770 originated from here solved

[2016-02-29 19:53] karato commented on #847
@yegor256 the last puzzle `888-3f71fb04`/#937 solved

[2016-02-29 19:53] karato commented on #867
@dmzaytsev last puzzled solved `888-3f71fb04`/#937

[2016-02-29 19:53] karato commented on #873
@dmzaytsev the last puzzle `888-3f71fb04`/#937 solved

[2016-02-29 19:53] karato commented on #888
@dmzaytsev the last puzzle `888-3f71fb04`/#937 originated from here solved

[2016-02-29 20:04] danff commented on #1012
@karato need more time to close the PR

[2016-02-29 20:36] karato commented on #848
@dmzaytsev pay attention to the following, as required in [par.33](http://at.teamed.io/policy.html#33):

 * some tasks are stuck: #775 (188 days), #834 (108 days), #839 (104 days), #841 (103 days), #853 (80 days), #852 (80 days), #849 (77 days), #879 (74 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them

[2016-02-29 20:36] karato commented on #989
@original-brownbear this is your task

[2016-03-01 03:30] IgorGanapolsky opened #1060 "Registering for NetBout on mobile is faulty."
After going through registration process with my github credentials, I see a page that is only partly functional.
![screenshot_20160229-222134](https://cloud.githubusercontent.com/assets/201209/13416887/170aa9bc-df34-11e5-9d66-0c7c903dcf4c.png)

[2016-03-01 03:36] dmzaytsev commented on #1055
@rultor release, tag=`2.22.12`

[2016-03-01 03:37] rultor commented on #1055
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7384-190524282)

[2016-03-01 03:58] rultor commented on #1055
@2686747 @dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7384-190524282) (spent 21min)

[code]

[2016-03-01 07:20] danff commented on #1012
@karato the PR #1022 was merged and closed. Can the ticket be closed, please?

[2016-03-01 09:12] karato commented on #861
@carlosgines you can just wait, it's an impediment

[2016-03-01 09:12] karato commented on #861
@carlosgines sure, thanks for telling me, take your time

[2016-03-01 09:13] karato commented on #1012
@danff agreed, take your time

[2016-03-01 09:35] danff commented on #1012
@dmzaytsev Who should close these tickets (from puzzles)?

[2016-03-01 09:37] dmzaytsev commented on #1012
@danff @karato will close it

[2016-03-01 09:37] karato commented on #853
@original-brownbear do this task

[2016-03-01 09:39] danff commented on #1012
@dmzaytsev thanx

[2016-03-01 10:42] karato opened #1061 "pom.xml:754-757: These excludes were added because..."
Puzzle `1012-7ae4ec06` in `netbout-web/pom.xml:754-757` has to be resolved: These excludes were added because of the upgrade to qulice 0.16.2. The new version of qulice adds some javadocs rules and also regexp rules for imported some wrong classes which should be replaced with others.... The puzzle was created by Dan Baleanu on 18-Feb-2016.

If you have any technical questions, don't ask me, submi

[2016-03-01 10:43] karato commented on #1012
@dmzaytsev 3 puzzles were created here: `1012-2dfa2c65`, `1012-7ae4ec06`/#1061, `1012-68768ab8`

[2016-03-01 11:02] karato commented on #852
@original-brownbear do this task

[2016-03-01 13:10] elenavolokhova commented on #862
@CarlosGines Thank you!

[2016-03-01 13:10] elenavolokhova commented on #862
@karato Quality is acceptable here.

[2016-03-01 13:46] karato commented on #1061
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2016-03-01 13:48] karato opened #1062 "Ports.java:42-44: This class should not be..."
Puzzle `1012-68768ab8` in `netbout-web/src/main/java/com/netbout/misc/Ports.java:42-44` has to be resolved: This class should not be left as utility one. All methods became static because of checkstyle NonStaticMethodCheck introduced after qulice upgrade to 0.15.2 and the contructor became private.... The puzzle was created by Dan Baleanu on 25-Feb-2016.

If you have any technical questions, don't

[2016-03-01 14:15] original-brownbear commented on #852
@dmzaytsev I think 442b8841ddf1aa0b25605960885461d1092be489 effectively turns this into a duplicate of #/629, right?
I mean in a sense fixing #629 fixes this, the issue as described by you cannot be reproduced anymore due to the linked commit adding JS that prevents empty emails from being submitted.
Of cause I can write a test reproducing this via the respective `POST` request and fix it, but the

[2016-03-01 14:37] original-brownbear commented on #989
@mkordas , I could reproduce this now. This appears to be an issue with the DynamoDB sync and is just a timing thing.
For me this happens:
* Change email, I get my verification link and experience #853 too
 * If I click the link I get something like "no verification needed" as a notice
* Then I wait for say 15 minutes
* New email appears instead of old one at last and I see the exclamation mark, t

[2016-03-01 14:54] karato commented on #1062
@dmzaytsev attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-03-01 14:54] karato commented on #862
@elenavolokhova thanks, got it. everybody, please try to make it good next time

[2016-03-01 14:54] karato opened #1063 "NbRule.java:42-45: No public static methods are..."
Puzzle `1012-2dfa2c65` in `netbout-client/src/test/java/com/netbout/client/NbRule.java:42-45` has to be resolved: No public static methods are allowed. This class should be refactored to not contain any of them. The method get() should either be an instance method with refrence to this (to avoid checkstyle NonStaticMethodCheck) or a static but not public.... The puzzle was created by Dan Baleanu o

[2016-03-01 15:00] vicentiuveres opened #1064 "bug"
java.lang.IllegalStateException: [GET http://www.netbout.com/?PsByFlag=PsGoogle&code=4%2Fy1fBW_1f5wpG4R9jFiCipi7NKeBfqxtktVchTyjfTb4&state=http%3A%2F%2Fwww.netbout.com%2F] failed in 305ms: null
    at org.takes.facets.fallback.TkFallback.error(TkFallback.java:233)
    at org.takes.facets.fallback.TkFallback.route(TkFallback.java:112)
    at org.takes.facets.fallback.TkFallback.access$000(TkFallbac

[2016-03-01 15:17] CarlosGines commented on #862
@karato sure, I have learnt a lot from this, my first ticket, I will keep improving.

[2016-03-01 15:27] karato commented on #862
@carlosgines 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 79078243. thank you, added **30 mins** to your acc, payment num is `AP-82B510046B4381619`, 158 hours and 57 mins spent in total to complete. added +30 to your rating, now it is equal to [+30](http://www.netbout.com/b/36645?open=rating)

[2016-03-01 15:35] original-brownbear commented on #721
@dmzaytsev see my comment here:
https://github.com/yegor256/netbout/issues/989#issuecomment-190744882
... essentially this one, #853 ( clear duplicate of this one ) and #989 are all the same issue.
I think at least either this one or #853 should be marked as duplicate.

[2016-03-01 15:53] elenavolokhova commented on #858
@karato Looks good!

[2016-03-01 17:03] karato commented on #1063
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2016-03-01 17:26] 2686747 commented on #1055
@dmzaytsev  is it solved? i have some fixes

[2016-03-01 17:57] dmzaytsev commented on #1055
@2686747 it's not solved yet as you can see above

[2016-03-01 18:52] 2686747 commented on #1055
@dmzaytsev please, see #1065.

[2016-03-01 19:23] original-brownbear commented on #989
@mkordas PR #1066 added, reproducing and fixing(well by turning off the cache) the above explanation.

[2016-03-01 19:29] mkordas commented on #989
@original-brownbear great job!

[2016-03-01 20:26] kujtimiihoxha commented on #828
@dmzaytsev  Is there any class that would affect all the requests from authenticated users, or do I have do do  this in many classes ?

[2016-03-02 04:34] original-brownbear commented on #989
@mkordas thanks :), I think we can close here right? Workaround merged, rest goes elsewhere I suppose.

[2016-03-02 04:36] original-brownbear commented on #853
@mkordas same as in #989 this should be resolved by #1066 for the time being :)

[2016-03-02 10:07] karato commented on #721
@rultor rultor closed it by mistake, @erimerturk please take a look

[2016-03-02 10:08] rultor commented on #721
@karato I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-03-02 13:57] karato commented on #1012
@dmzaytsev Thanks all, I am closing

[2016-03-02 13:57] #1012 closed

[2016-03-02 13:58] karato commented on #1012
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-03-02 14:09] 2686747 commented on #995
@karato can you explain me why [22](http://at.teamed.io/policy.html#22) doesn't work here?

[2016-03-02 14:25] ypshenychka commented on #1012
@karato Quality is good.

[2016-03-02 15:07] karato commented on #851
@original-brownbear this is your task

[2016-03-02 15:07] karato commented on #973
@danff 15 days already, in 48 hours I will re-assign; do not forget that you should remove the `@todo` puzzle from the source code; -30 added to your rating, current score is: [+0](http://www.netbout.com/b/36198?open=rating)

[2016-03-02 17:01] karato commented on #1012
@ypshenychka thank you ;)

[2016-03-02 17:21] karato commented on #1012
@danff just added 10 mins to @ypshenychka (for QA), payment ID is `79193542`

Much appreciated! **30 mins** was added to your account, payment ID `AP-7UJ268700W4853621`, time spent is 378 hours and 16 mins

added +30 to your rating, now it is equal to [+30](http://www.netbout.com/b/36198?open=rating)

[2016-03-02 18:28] danff commented on #973
@karato need more time

[2016-03-02 18:41] dmzaytsev opened #1067 "Netbout monitoring"
Let's use [Metrics](http://metrics.dropwizard.io/3.1.0/) to monitor Netbout.
We can start with [JVM Instrumentation](http://metrics.dropwizard.io/3.1.0/manual/jvm/) and a reporting to [HostedGraphite](https://devcenter.heroku.com/articles/hostedgraphite) using [GraphiteReporter](http://metrics.dropwizard.io/3.1.0/manual/graphite/)
API key for Heroku graphite can be found in settings.xml, which is

[2016-03-02 18:42] dmzaytsev commented on #1067
@karato valid bug

[2016-03-02 18:45] dmzaytsev commented on #1060
@IgorGanapolsky

please explain a little bit
what do you mean exactly?

[2016-03-02 18:58] IgorGanapolsky commented on #1060
@dmzaytsev Does the top-right section look correct to you?

[2016-03-02 19:26] dmzaytsev commented on #1060
@IgorGanapolsky I woudn't like to guess
do you mean inactive "Start bout" link  or maybe the form looks incorrect on screens with a small resolution or maybe you not be able to set your email or something else.
A future performer of this ticket need to know what exactly he/she should to do.
that's why I have asked you.

[2016-03-02 19:32] IgorGanapolsky commented on #1060
It looks exactly like the screenshot on my Android device: Nexus 5X.  The top-right part is all jumbled up and non-functional.

[2016-03-02 20:15] original-brownbear commented on #851
@mkordas PR #1068 created, now runs locally without forcing you to run tests before :)

[2016-03-02 20:22] karato commented on #973
@danff no problem, thanks for letting me know

[2016-03-02 20:22] karato commented on #1067
@dmzaytsev I added `bug` tag to this ticket

[2016-03-02 20:33] original-brownbear commented on #989
@mkordas ping :)

[2016-03-02 20:33] original-brownbear commented on #853
@mkordas ping :)

[2016-03-02 20:34] original-brownbear commented on #852
@dmzaytsev ping :), I need some clarification of your wishes here given that this seems to be fixed as explained in the above.

[2016-03-02 21:11] mkordas commented on #853
@original-brownbear right, thanks

[2016-03-02 21:11] #853 closed

[2016-03-02 21:12] mkordas commented on #989
@original-brownbear thanks!

[2016-03-02 21:12] #989 closed

[2016-03-03 03:47] dmzaytsev commented on #852
@original-brownbear you're right, it [fixed already](https://github.com/yegor256/netbout/commit/442b8841ddf1aa0b25605960885461d1092be489)

@mkordas please close the ticket

[2016-03-03 03:55] dmzaytsev commented on #1055
@rultor release, tag=`2.22.13`

[2016-03-03 03:56] rultor commented on #1055
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7384-191569467)

[2016-03-03 04:01] dmzaytsev commented on #813
@yegor256 ping

@yegor256 what was the idea of Start(later) ?
Start of a new bout disabled when "/page/bouts and count(/page/bouts/bout) = 0 and /page/query = ''

[2016-03-03 04:07] dmzaytsev commented on #1060
@IgorGanapolsky Actually it is duplicate of #813
you can search for something as workaround for now
just type any text in `Find` area and press Enter
you will be able to start a new bout after that

[2016-03-03 04:07] rultor commented on #1055
@2686747 @dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7384-191569467) (spent 11min)

[code]

[2016-03-03 04:15] dmzaytsev commented on #1055
@2686747 weird `com.github.github:site-maven-plugin:0.10:site` has been used instead of `0.12` after your PR.
would you like fix it in another ticket?
I can assign you

[2016-03-03 04:18] 2686747 commented on #1055
@dmzaytsev sure, thanks.

[2016-03-03 04:19] dmzaytsev opened #1069 "upgrade github maven plugin"
let's upgrade github maven plugin to `0.12`

See https://github.com/yegor256/netbout/issues/1055#issuecomment-191572079 for details

[2016-03-03 04:20] dmzaytsev commented on #1069
@karato valid bug

[2016-03-03 04:20] dmzaytsev commented on #1069
@karato assign @2686747 please

[2016-03-03 04:21] dmzaytsev commented on #1055
@karato this is postponed

[2016-03-03 06:22] mkordas commented on #852
@dmzaytsev thanks

[2016-03-03 06:22] #852 closed

[2016-03-03 07:14] kujtimiihoxha commented on #828
@dmzaytsev  where should I start with this task could you please assist.

[2016-03-03 09:03] original-brownbear commented on #851
@mkordas as always: close please given this is merged :) thanks!

[2016-03-03 09:08] mkordas commented on #851
@original-brownbear thanks!

[2016-03-03 09:08] #851 closed

[2016-03-03 13:18] dmzaytsev commented on #828
@kujtimiihoxha I think you can create a new `Take` decorator and use it in `TkApp` in `FkRegistered` constructor

[2016-03-03 14:10] kujtimiihoxha commented on #828
@dmzaytsev Is there any possibility to get the Alias of the user in TkApp ?

[2016-03-03 14:35] karato commented on #1067
@dmzaytsev I set milestone here to `3.1`, let me know if it is wrong

[2016-03-03 14:36] karato commented on #1055
@dmzaytsev got it, "postponed" label here

[2016-03-03 14:36] karato commented on #1055
@dmzaytsev no problem, I will try to find somebody else

[2016-03-03 14:36] karato commented on #1069
@dmzaytsev tag "bug" added

[2016-03-03 14:52] karato commented on #849
@2686747 this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-03-03 14:52] karato commented on #1067
@dmzaytsev thanks for the ticket, your account was topped for 30 mins, payment 79244819

[2016-03-03 15:02] original-brownbear commented on #989
@karato please pay attention to this ticket as well as my other closed tickets in your project. I closed all of them in a very short period of time each, still I'm blocked by having them pile up as open tasks and receive an unrealistic speed rating by them staying open long after the PRs are closed and payment on them is handled.
Thanks :)

[2016-03-03 15:03] original-brownbear commented on #851
@karato please pay attention to this ticket as well as my other closed tickets in your project. I closed all of them in a very short period of time each, still I'm blocked by having them pile up as open tasks and receive an unrealistic speed rating by them staying open long after the PRs are closed and payment on them is handled.
Thanks :)

[2016-03-03 15:03] original-brownbear commented on #852
@karato please pay attention to this ticket as well as my other closed tickets in your project. I closed all of them in a very short period of time each, still I'm blocked by having them pile up as open tasks and receive an unrealistic speed rating by them staying open long after the PRs are closed and payment on them is handled.
Thanks :)

[2016-03-03 15:03] original-brownbear commented on #853
@karato please pay attention to this ticket as well as my other closed tickets in your project. I closed all of them in a very short period of time each, still I'm blocked by having them pile up as open tasks and receive an unrealistic speed rating by them staying open long after the PRs are closed and payment on them is handled.
Thanks :)

[2016-03-03 15:34] karato commented on #1069
@dmzaytsev attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-03-03 15:37] karato commented on #947
@kujtimiihoxha last puzzled solved `947-64235763`/#957

[2016-03-03 15:57] karato commented on #1069
@dmzaytsev thanks a lot for reporting, **30 mins** added to your acc, pmt ID `79248278`

[2016-03-03 15:58] kujtimiihoxha commented on #828
@dmzaytsev I think I got it i will submit a pull request soon.

[2016-03-03 18:21] karato commented on #1069
@dmzaytsev OK @2686747 please go ahead, this task is yours

[2016-03-03 18:55] kujtimiihoxha commented on #828
@yegor256  @dmzaytsev @karato  Please see PR #1070

[2016-03-03 20:06] 2686747 commented on #1069
@dmzaytsev see  #1071, please

[2016-03-03 21:30] danff commented on #952
@karato PR #1072 has been created adressing this issue

[2016-03-04 11:41] karato commented on #952
@danff thank you!

[2016-03-04 15:10] 2686747 commented on #849
@mkordas Project uses bower, so : "_Bower depends on Node.js and npm. Also make sure that git is installed as some bower packages require it to be fetched and installed._" ([details](https://github.com/bower/bower)). Also please see #993. As result i see two solutions:
1. edit our documentation
2. do over script editing job for windows users for installing full bower dependencies
What do you think

[2016-03-04 15:12] karato commented on #851
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-04 15:12] karato commented on #852
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-03-04 15:12] karato commented on #853
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-04 15:12] karato commented on #989
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-03-04 15:15] karato commented on #1064
@dmzaytsev please dispatch this issue

[2016-03-04 15:20] ypshenychka commented on #851
@karato Quality is good.

[2016-03-04 15:21] ypshenychka commented on #853
@karato Quality is good.

[2016-03-04 16:11] mkordas commented on #849
@2686747 I think our architect should make decision here

[2016-03-04 18:03] karato commented on #853
@ypshenychka thank you :)

[2016-03-04 18:03] karato commented on #851
@ypshenychka thanks a lot :)

[2016-03-04 18:21] karato commented on #853
@original-brownbear just added 10 mins to @ypshenychka (for QA), payment ID is `79311186`

[2016-03-04 18:30] dmzaytsev commented on #849
@2686747 @mkordas I think we should mention in readme about git for window as requirements  for windows users
(or git and sh.exe)

[2016-03-04 18:53] dmzaytsev commented on #1069
@rultor release, tag=`2.22.14`

[2016-03-04 18:53] rultor commented on #1069
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7487-192408105)

[2016-03-04 19:33] rultor commented on #1069
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/7487-192408105) (took me 39min)

[2016-03-04 19:40] dmzaytsev commented on #1069
@2686747 perfect, thanks

[2016-03-04 21:06] karato commented on #851
@original-brownbear paied 10 mins to @ypshenychka for QA review (payment ID is `79318454`)

**1 hour** was added to your account, many thanks for your contribution (payment AP-2JL00201N5175423T)! The task took 23 hours and 31 mins.

the bonus for fast delivery (m=1411)

+60 added to your rating, at the moment it is: [+692](http://www.netbout.com/b/36646?open=rating)

[2016-03-04 21:11] mkordas commented on #849
@dmzaytsev @2686747 fine with me, but I would be precise - let's write that `sh.exe` should be in `PATH`

[2016-03-05 08:21] elenavolokhova commented on #852
@karato Quality is bad here as far as it was fixed in another issue.

[2016-03-05 08:26] elenavolokhova commented on #989
@karato Looks good!

[2016-03-05 13:24] 2686747 commented on #849
@dmzaytsev More investigations: bower's [postinstall.sh](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/bower/postinstall.sh) script is too OS dependent for simple copy/rm operations (the reason of windows fails here). i think i have to rewrite this on something more independable here (node.js, e.g.) or invoke this from maven.

[2016-03-05 15:43] dmzaytsev commented on #849
@2686747 @mkordas by the way Git for windows contains mv and rm and other utilities
we need `sh.exe` as requirement
I guess we already have `mv.exe` and others

@2686747 anyway you can rewrite the script or invoke copy operation from maven
it's up to you

[2016-03-05 18:17] karato commented on #989
@elenavolokhova many thanks

[2016-03-05 18:20] 2686747 commented on #849
@dmzaytsev check, please, #1073

[2016-03-05 18:43] karato commented on #848
@dmzaytsev pay attention to the following, as required in [par.33](http://at.teamed.io/policy.html#33):

 * some tasks are stuck: #775 (192 days), #834 (112 days), #839 (108 days), #841 (107 days), #879 (78 days), #1003 (23 days), #1008 (20 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * some iss

[2016-03-05 18:43] karato commented on #989
@original-brownbear paied 10 mins to @elenavolokhova for QA review (payment ID is `79352562`); **38 mins** added to your account (payment number `AP-0CX14905429037629`), many thanks for your contribution! 66 hours and 1 min spent here.; there is a bonus for fast delivery (m=3961); +38 added to your rating, at the moment it is: [+730](http://www.netbout.com/b/36646?open=rating)

[2016-03-05 19:51] longtimeago opened #1074 "Error on post a message to the bout"
This is the link http://www.netbout.com/b/36865
And the exception:

[code]

[2016-03-06 08:19] kujtimiihoxha commented on #828
@yegor256 please close this issue, the changes are merged.

[2016-03-06 08:33] dmzaytsev commented on #1074
@karato valid bug

[2016-03-06 08:35] dmzaytsev commented on #1045
@karato I need more time

[2016-03-06 09:26] #849 closed

[2016-03-06 10:04] karato commented on #1045
@dmzaytsev OK, take your time

[2016-03-06 10:04] karato commented on #1074
@dmzaytsev I added `bug` tag to this ticket

[2016-03-06 11:08] karato commented on #1074
@longtimeago since there is no milestone yet I set it to "3.1"

[2016-03-06 11:26] karato commented on #1074
@longtimeago thank you for reporting this, I added 15 mins to your acc, transaction `79372620`

[2016-03-06 18:55] karato commented on #852
@elenavolokhova thanks a lot, noticing bad quality is what makes us better

[2016-03-06 19:24] joshfischer1108 opened #1075 "Stacktrace Error"
Occurs when signing up with a google account

java.lang.IllegalStateException: [GET http://www.netbout.com/?PsByFlag=PsGoogle&code=4%2FS8TjT2loh1szmQkOE06tZ63RwUsOx_RFUoGP-IdU9N8&state=http%3A%2F%2Fwww.netbout.com%2F] failed in 153ms: null
    at org.takes.facets.fallback.TkFallback.error(TkFallback.java:233)
    at org.takes.facets.fallback.TkFallback.route(TkFallback.java:112)
    at org.takes.f

[2016-03-06 19:28] karato commented on #852
@original-brownbear 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 79383845

[2016-03-06 19:28] karato commented on #839
@carlosgines This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-03-06 19:32] yegor256 commented on #828
@kujtimiihoxha thanks!

[2016-03-06 19:32] #828 closed

[2016-03-06 20:03] 2686747 commented on #1069
@dmzaytsev can we close this, #1055, #1032?

[2016-03-06 20:15] karato commented on #995
@2686747 @yegor256 please help us here

[2016-03-07 06:22] dmzaytsev commented on #1069
@2686747 thanks

[2016-03-07 06:22] #1069 closed

[2016-03-07 06:29] dmzaytsev commented on #1069
@2686747 you should ask for close in these tickets and mention PRs which fixed the issues

[2016-03-07 07:04] danff commented on #952
@dmzaytsev The PR #1072 has been merged. Can the ticket be closed?

[2016-03-07 07:15] dmzaytsev commented on #952
@danff thanks!

[2016-03-07 07:15] #952 closed

[2016-03-07 07:32] 2686747 commented on #1055
@karato @dmzaytsev it's resolved ( #1065 , #1069), can i close it?

[2016-03-07 07:45] dmzaytsev commented on #1055
@2686747 just close it by yourself

[2016-03-07 07:49] dmzaytsev commented on #1075
@joshfischer1108 thanks for reporting
Actually Google Auth is broken now and we have ticket #1038 for this case

[2016-03-07 07:49] dmzaytsev commented on #1064
@vicentiuveres thanks for reporting
Actually Google Auth is broken now and we have ticket #1038 for this case

[2016-03-07 07:50] dmzaytsev commented on #1056
@karato this is duplicate of #1038

[2016-03-07 07:50] dmzaytsev commented on #1075
@karato this is duplicate of #1038

[2016-03-07 07:50] dmzaytsev commented on #1064
@karato this is duplicate of #1038

[2016-03-07 07:50] dmzaytsev commented on #1053
@karato this is duplicate of #1038

[2016-03-07 07:51] dmzaytsev commented on #1044
@kujtimiihoxha I think it fixed already
please close

[2016-03-07 07:51] dmzaytsev commented on #1001
@sebing I think it fixed already
please close

[2016-03-07 07:53] #1044 closed

[2016-03-07 07:53] kujtimiihoxha commented on #1044
@dmzaytsev thanks.

[2016-03-07 09:07] #1055 closed

[2016-03-07 09:14] 2686747 commented on #1032
@dmzaytsev could you close this ticket (resolved in #1051)?

[2016-03-07 09:19] sebing commented on #1001
@dmzaytsev Thanks. Closing the issue as the problem seems fixed.

[2016-03-07 09:36] dmzaytsev commented on #1032
@2686747 thanks

[2016-03-07 09:36] #1032 closed

[2016-03-07 12:34] CarlosGines commented on #861
@mkordas @karato since this task is not going to involve developing for netbout, but for takes, couldn't we close it??

[2016-03-07 12:48] karato commented on #849
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-03-07 15:58] mkordas commented on #861
@dmzaytsev please make decision here

[2016-03-07 17:07] dmzaytsev commented on #861
@CarlosGines @mkordas the issue in Netbout not fixed yet so we can't close this ticket

@CarlosGines did you try [latest](https://github.com/yegor256/takes/releases/tag/0.32.4) Takes?

[2016-03-07 17:18] dmzaytsev commented on #861
@CarlosGines on the side note if it bug in Takes you should submit a bug there
and put a link to the approved bug here
like this `@karato we are waiting for yegor256/takes#99999`

you have been assigned 15 days ago so  I would suggest ask PM for more time or put a link to the blocking ticket

[2016-03-07 17:56] CarlosGines commented on #861
@dmzaytsev yes, I tested with the latest Takes. And I also posted a link to the issue several comments ago (yegor256/takes#626).

I understand that this ticket is not closed, but then it is a waste of time having it assigned to anybody. Developers have a max number of simultaneous tasks, and while this one is blocked, it is also blocking me from working in another ticket.

I think it would be a go

[2016-03-07 18:05] dmzaytsev commented on #861
@CarlosGines feel free submit your idea to https://github.com/teamed/xdsd

[2016-03-07 18:08] dmzaytsev commented on #879
@karato assign @CarlosGines please

[2016-03-07 19:31] 2686747 opened #1076 "XSS vulnerability in bouts"
Can execute javascript by <img onload>
![2016 03 07-22 28 01 677820469-max-vaio-arch](https://cloud.githubusercontent.com/assets/8187855/13580636/3e1a17e2-e4b4-11e5-83d6-3a254d9c8122.jpg)
![2016 03 07-22 28 17 714157787-max-vaio-arch](https://cloud.githubusercontent.com/assets/8187855/13580637/3e4e4f1c-e4b4-11e5-8797-b0e4b94bb8b9.jpg)

[2016-03-07 20:50] karato commented on #879
@dmzaytsev OK @carlosgines please proceed, this task is yours

[2016-03-07 21:07] karato commented on #828
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-08 01:19] wild-lotus opened #1077 "DyBout.updated() not implemented correctly."
In `DyBout`, `updated()` method is delegating in `date()` method:

[code]

This is incorrect, since `date()` should be getting the creation time and `updated()` the update time. Please implement `updated()` correctly.

[2016-03-08 03:21] CarlosGines commented on #839
@karato please see PR #1078.

[2016-03-08 06:24] dmzaytsev commented on #1076
@2686747 did you test it on http://snapshot.netbout.com?
I think it fixed already

[2016-03-08 06:34] 2686747 commented on #1076
@dmzaytsev yes, did it

[2016-03-08 06:45] dmzaytsev commented on #1076
@2686747 thanks

[2016-03-08 06:45] dmzaytsev commented on #1076
@karato valid bug

[2016-03-08 10:18] karato commented on #839
@carlosgines thank you, I will check it

[2016-03-08 10:19] karato commented on #1076
@dmzaytsev I just added bug tag here

[2016-03-08 12:40] karato commented on #1076
@2686747 there is no milestone yet, so I set it to `3.1`

[2016-03-08 13:00] karato commented on #952
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-08 13:00] karato commented on #1032
@elenavolokhova please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-08 13:00] karato commented on #1069
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-03-08 13:06] karato commented on #1076
@2686747 thanks for tis bug, I topped your account for 15 mins, transaction `56dece47e2989526460000f8`

[2016-03-08 14:42] elenavolokhova commented on #849
@karato Looks good!

[2016-03-08 14:51] elenavolokhova commented on #828
@karato Looks good!

[2016-03-08 14:52] elenavolokhova commented on #952
@karato Looks good!

[2016-03-08 14:56] elenavolokhova commented on #1032
@karato Looks good!

[2016-03-08 15:01] karato commented on #834
@2686747 This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [th

[2016-03-08 16:23] karato commented on #828
@elenavolokhova thanks a lot ;)

[2016-03-08 16:23] karato commented on #849
@elenavolokhova thanks a lot

[2016-03-08 16:23] karato commented on #952
@elenavolokhova thank you, good quality is always good ;)

[2016-03-08 16:23] karato commented on #1032
@elenavolokhova thanks for the review

[2016-03-08 16:38] karato commented on #828
@kujtimiihoxha paied 10 mins to @elenavolokhova for QA review (payment ID is `79791002`)

thank you, added **30 mins** to your acc, payment num is `AP-1A428767F7306625G`, 240 hours and 20 mins spent in total to complete

+30 added to your rating, current score is: [+788](http://www.netbout.com/b/36323?open=rating)

[2016-03-08 17:30] karato commented on #849
@2686747 paied 10 mins to @elenavolokhova for QA review (payment ID is `79793533`); **38 mins** sent to your balance (ID `56df0bd38c97370250000217`), many thanks! It took 67 hours and 13 mins.; m=4033, that's why a bonus here for fast delivery; +38 added to your rating, at the moment it is: [+16](http://www.netbout.com/b/36452?open=rating)

[2016-03-08 17:33] 2686747 commented on #849
@karato Thanks a lot

On 03/08/2016 08:30 PM, Andre Janssen wrote:

[2016-03-08 18:56] CarlosGines commented on #879
@dmzaytsev thank you :)

[2016-03-08 19:41] karato commented on #849
@2686747 sure, you are welcome

[2016-03-08 19:54] karato commented on #952
@danff added 10 mins to @elenavolokhova, for QA review, payment code is `79801583`; Thanks a lot, I just topped your account for **30 mins**, transaction ID `AP-25N224498F156105V`, total time was 1058 hours and 57 mins; added +30 to your rating, now it is equal to [+60](http://www.netbout.com/b/36198?open=rating)

[2016-03-09 04:52] yegor256 commented on #995
@2686747 as I see, it took over 3 days to fix this ticket. correct me if I'm wrong

[2016-03-09 05:46] 2686747 commented on #995
@yegor256  03/11/2016 3:27PM - [start](https://github.com/yegor256/netbout/issues/995#issuecomment-182836345)
03/12/2016 11:24 AM - #1005, fixed

[2016-03-09 05:49] yegor256 commented on #995
@2686747 check this out: http://at.teamed.io/policy.html#15

[2016-03-09 06:16] 2686747 commented on #974
@karato could you, please, calculate it for me?

[2016-03-09 06:21] ypshenychka commented on #1069
@karato Quality is good.

[2016-03-10 02:41] CarlosGines commented on #879
@karato please check PR #1079

[2016-03-10 03:20] wild-lotus opened #1080 "Entering an invalid email causes Internal Application Error"
At the page to change email `/acc/index`, if you enter an invalid email, like "a@b.c", you get an Internal Application Error.

[code]

[2016-03-10 03:27] CarlosGines opened #1081 "Bout name too long causes Internal Application Error"
If you rename a bout with a title longer than 200 characters, you get an Internal Application Error:
[code]

[2016-03-10 10:33] karato commented on #879
@carlosgines thank you

[2016-03-10 10:33] karato commented on #1069
@ypshenychka thank you

[2016-03-10 10:51] karato commented on #1032
@2686747 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 79940360... **30 mins** added to your account (payment number `56e15177be202c0fbf000359`), many thanks for your contribution! 259 hours and 16 mins spent here.... +30 to your rating, your total score is [+46](http://www.netbout.com/b/36452?open=rating)

[2016-03-10 10:52] 2686747 commented on #1032
@karato thanks a lot

[2016-03-10 13:10] karato commented on #1032
@2686747 sure, you are welcome

[2016-03-10 13:26] karato commented on #1069
@2686747 paied 10 mins to @ypshenychka for QA review (payment ID is `79946068`)

Thanks for your contribution, **30 mins** was added to your account, payment ID is `56e175d4ebbe7b71a6000017`, 90 hours and 11 mins spent total

+30 added to your rating, at the moment it is: [+76](http://www.netbout.com/b/36452?open=rating)

[2016-03-10 13:27] 2686747 commented on #1069
@karato thank you

[2016-03-10 15:34] karato commented on #1069
@2686747 sure, no problem

[2016-03-10 15:38] CarlosGines opened #1082 ""Unverified email" not properly handled."
Right now, "unverified email" (saved but not verified though the link sent by email) is stored in the same place as the "verified" email, everywhere (Dynamo, H2Sql). They are handled as a single String with this format:

`<verified>!<unverified>`

This is very bad practice. Please add to `Alias` interface this methods:
[code]
Then create corresponding implementations and use them in order to prope

[2016-03-10 18:54] CarlosGines commented on #839
@dmzaytsev Please close this ticket as soon as you merge #1078. Thank you!

[2016-03-10 19:31] CarlosGines commented on #839
@dmzaytsev thank you!

[2016-03-10 20:59] karato commented on #754
@antonini #839 is closed, it was an impediment

[2016-03-10 21:47] 2686747 opened #1083 "505 error if alias is occupied"
If i try to get existing alias after authorization with github i see following exception stacktrace

Internal Application Error
Version: 2.22.14
`
java.lang.IllegalStateException: [POST http://www.netbout.com/login/register] failed in 665ms: alias 'alice' is occupied
    at org.takes.facets.fallback.TkFallback.error(TkFallback.java:233)
    at org.takes.facets.fallback.TkFallback.route(TkFallback.

[2016-03-10 21:53] 2686747 commented on #1083
P.S.: it happens when i press 'register' button before i see message "this alias is occupied"

[2016-03-10 23:08] 2686747 opened #1084 "Can't kick (with mouse) aliases from bouts at main page except bottom bout"
If you have few bouts
![2016 03 11-01 55 27 895258190-max-vaio-arch](https://cloud.githubusercontent.com/assets/8187855/13687712/11dd4970-e72e-11e5-9a15-4c0161a8ae86.jpg)

you can't kick any alias because alias popup  hides when mouse pointer leaves alias icon. All (except #528) is fine with bottom bout.

[2016-03-10 23:27] 2686747 opened #1085 "Alias stays in the bout after kick"
In conversation
![2016 03 11-02 19 26 351460552-max-vaio-arch](https://cloud.githubusercontent.com/assets/8187855/13688051/49990348-e730-11e5-915b-62edd3a4887c.jpg)
you try to kick somebody
![2016 03 11-02 19 38 435657304-max-vaio-arch](https://cloud.githubusercontent.com/assets/8187855/13688067/6469b622-e730-11e5-8c2b-63e4c74151dd.jpg)
but this alias stays in the bout, can post message and do oth

[2016-03-10 23:31] 2686747 commented on #1085
P.S. Some time ago (around 5 min) kicked alias can't open this bout and sees #834

[2016-03-11 03:59] antonini commented on #754
@karato, Unfortunately I was removed from the project and I don't know why until now. :(

[2016-03-11 05:24] dmzaytsev commented on #1081
@CarlosGines did you get the exception on latest master?

[2016-03-11 05:24] dmzaytsev commented on #1083
@karato valid bug

[2016-03-11 06:20] dmzaytsev commented on #1080
@CarlosGines you expect a friendly error message, right?

[2016-03-11 06:20] dmzaytsev commented on #1080
@karato valid bug

[2016-03-11 09:21] row2002 opened #1086 "Exception during authentification via Google+ account"
Here is the stacktrace
[code]

P.S. I enabled two-factor authentication for my account

[2016-03-11 09:38] karato commented on #1083
@dmzaytsev added "bug" tag to this issue

[2016-03-11 09:39] karato commented on #1080
@dmzaytsev tagged this issue with "bug"

[2016-03-11 09:47] row2002 commented on #1086
duplicate of #1038

[2016-03-11 09:47] #1086 closed

[2016-03-11 09:53] karato commented on #1077
@dmzaytsev dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-11 10:04] dmzaytsev commented on #1038
@karato assign me please

[2016-03-11 11:26] karato commented on #1080
@carlosgines attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-03-11 11:26] karato commented on #1083
@2686747 I set the milestone to 3.1 since there is nothing set yet

[2016-03-11 11:27] karato commented on #1038
@dmzaytsev yep, it is yours, go ahead

[2016-03-11 11:50] karato commented on #1083
@2686747 thanks for the report, I topped your acc for 15 mins, payment ID `56e2b10c92575230ef000001`

[2016-03-11 12:22] CarlosGines commented on #1080
@dmzaytsev Yes, users should never see the error page under normal circumstances.

[2016-03-11 12:24] CarlosGines commented on #1080
@karato I don't know how we work with milestones, so I can't tell if it is wrong. Is there somewhere I could read about it, or could you give me a short explanation?

[2016-03-11 12:41] CarlosGines commented on #1081
@dmzaytsev Yes. Just be sure to enter more than 200 characters.

[2016-03-11 12:45] 2686747 commented on #1083
@karato thanks a lot

[2016-03-11 13:07] wild-lotus opened #1088 "Coupling between RtXXX and XeXXX classes on directive names"
For example, between `XeAttachment` and `RtAttachment`:
- In `XeAttachment.make()` we create a directive using literal `"unseen"`.
- In `RtAttachment.unseen()` we read that directive using xpath and `"unseen/text()"`.
  There is coupling of the literal `"unseen"`. You might change the name of the directive, inadvertently creating an error on `RtAttachment` (and potentially in more places).

This s

[2016-03-11 14:10] karato commented on #1083
@2686747 sure, you are welcome

[2016-03-11 14:25] karato commented on #1080
@carlosgines many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `AP-25243432H82539259`

[2016-03-11 15:54] dmzaytsev commented on #1038
@rultor release, tag=`2.22.15`

[2016-03-11 15:55] rultor commented on #1038
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7630-195425298)

[2016-03-11 16:27] rultor commented on #1038
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/7630-195425298) (took me 31min)

[2016-03-11 18:31] dmzaytsev commented on #1081
@karato valid bug

[2016-03-11 18:49] karato commented on #1081
@dmzaytsev added "bug" tag to this issue

[2016-03-11 19:51] CarlosGines commented on #839
@karato ticket closed, please proceed here.

[2016-03-11 20:47] karato commented on #1081
@carlosgines since the ticket has no milestone I set it to 3.1

[2016-03-11 21:00] karato commented on #839
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-03-11 21:02] karato commented on #1081
@carlosgines thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-40297242CU0435737`

[2016-03-12 04:12] elenavolokhova commented on #839
@karato Looks good!

[2016-03-12 09:19] amitMist opened #1089 "Google Authentican"
[code]

[2016-03-12 09:47] karato commented on #754
@antonini I see

[2016-03-12 09:48] karato commented on #839
@elenavolokhova many thanks

[2016-03-12 09:48] karato commented on #974
@2686747 @yegor256 please help us here

[2016-03-12 09:48] karato opened #1090 "DyAttachment.java:166-172: An attribute for the creation..."
Puzzle `839-90f22678` in `netbout-web/src/main/java/com/netbout/dynamo/DyAttachment.java:166-172` has to be resolved: An attribute for the creation time must be added to the attachment item in the remote db. Until then, this method crashes. Once it is done, this must be developed: - Remove @Ignore from DyAttachmentITCase.obtainsCreationDate(). - Add directive for date in XeAttachment.make(). - Pro

[2016-03-12 09:49] karato commented on #839
@dmzaytsev there is a puzzle in this code `839-90f22678`/#1090, we'll resolve it later

[2016-03-12 10:04] karato commented on #839
@carlosgines 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 80042007

Thanks a lot, I just topped your account for **30 mins**, transaction ID `AP-7LL551650V098904T`, total time was 97 hours and 14 mins

+30 added to your rating, current score is: [+150](http://www.netbout.com/b/36645?open=rating)

[2016-03-12 11:00] karato commented on #1090
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2016-03-12 12:18] 2686747 commented on #974
@karato is there some question? i thought this is  simple 30min resolved issue

[2016-03-12 17:57] dmzaytsev commented on #1038
@yegor256 could you check Netbout google auth settings?
on the side note is there any project that uses PsGoogle for an authentification?

[2016-03-12 21:26] 2686747 commented on #834
@karato @dmzaytsev it depends on #1085 which has a problem with caching. I can propose 3 solutions:
- wait for #1085 resolving, it will fix this (and similar) issue
- just catch exception - seems like fix of result but not a reason and similar issue can become
- remove cache annotations from some methods - if cache isn't really necessary will work
waiting #1085 now

[2016-03-13 13:51] karato commented on #856
@kujtimiihoxha 15 days already, in 48 hours I will re-assign

added -30 to your rating, now it is equal to [+689](http://www.netbout.com/b/36323?open=rating)

[2016-03-13 15:30] karato commented on #855
@kujtimiihoxha 15 days already, in 48 hours I will re-assign

-30 added to your rating, current score is: [+659](http://www.netbout.com/b/36323?open=rating)

[2016-03-13 16:00] TommyWind commented on #1080
created PR #1091 for this.

[2016-03-13 16:42] karato commented on #1082
@dmzaytsev please dispatch this issue

[2016-03-14 11:06] karato commented on #1085
@dmzaytsev please do something about this issue

[2016-03-14 11:06] karato commented on #1084
@dmzaytsev please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-03-14 14:30] karato commented on #1088
@dmzaytsev please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-03-15 01:26] yegor256 commented on #974
@karato pls add extra 30 mins to @2686747

[2016-03-15 01:49] yegor256 commented on #1038
@dmzaytsev I don't have any... you can create your own Google account and check how it all works... I will check Google settings now

[2016-03-15 10:17] karato commented on #974
@yegor256 I've sent 30 mins extra to @2686747 in transaction ID "56e7e111959aa10061000302"

[2016-03-15 10:36] CarlosGines commented on #879
@karato PR #1079 merged. Please close this ticket.

[2016-03-15 10:37] karato commented on #1089
@dmzaytsev please do something about this issue

[2016-03-15 14:05] amitMist opened #1092 "Application error"
Whenever I am trying to load the netbout.com I am getting-

[code]

[2016-03-16 10:21] karato commented on #1090
@ail-man this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2016-03-16 12:21] CarlosGines commented on #879
@karato please close this issue.

[2016-03-16 13:19] karato commented on #879
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-03-16 13:28] ypshenychka commented on #879
@karato Quality is good.

[2016-03-16 15:44] karato commented on #879
@ypshenychka thanks for the review

[2016-03-16 16:04] karato commented on #879
@carlosgines paied 10 mins to @ypshenychka for QA review (payment ID is `80596220`). Much appreciated! **30 mins** was added to your account, payment ID `AP-19E26381XW290394P`, time spent is 182 hours and 56 mins. +30 to your rating, your total score is [+180](http://www.netbout.com/b/36645?open=rating)

[2016-03-16 16:39] CarlosGines commented on #879
@karato Thank you! Please do not forget to close the ticket so that I can get a new task assigned!

[2016-03-16 19:08] #879 closed

[2016-03-16 19:08] karato commented on #879
@dmzaytsev The issue is closed

[2016-03-17 15:22] ail-man commented on #1090
@karato, I assume that before the fix I need to setup my environment (I newbee in the project) and run it properly. I try to do it by myself, but it fails.Who can help me with it?

[2016-03-17 17:14] ail-man commented on #1090
@karato sorry, already figured out

[2016-03-17 19:38] karato commented on #914
@prahladyeri the last puzzle `914-ecab4401`/#982 solved

[2016-03-18 09:58] karato commented on #834
@2686747 try to address your comments to one person, to avoid noise, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2016-03-18 10:39] 2686747 commented on #834
@karato waiting #1085

[2016-03-18 12:58] dmzaytsev commented on #1038
@karato more time

[2016-03-18 17:58] karato commented on #1038
@dmzaytsev sure, take your time

[2016-03-18 18:26] karato commented on #856
@kujtimiihoxha task is too long, stop working with it... -60 added to your rating, at the moment it is: [+509](http://www.netbout.com/b/36323?open=rating)

[2016-03-18 18:27] karato commented on #1092
@dmzaytsev please do something about this issue

[2016-03-18 20:31] karato commented on #855
@kujtimiihoxha task is too long, stop working with it; -60 added to your rating, current score is: [+449](http://www.netbout.com/b/36323?open=rating)

[2016-03-19 10:46] ail-man commented on #1090
@karato I do not understand the statement of the problem? What should be done: prevent crashes of DyAttachment.date() or develop XeAttachment.make() and RtAttachmentsITCase.obtainsCreationDate()?

[2016-03-20 12:27] CarlosGines commented on #856
@karato I have realized this task is assigned to me since yesterday according to Netbout , but I have had no notice here. Can you please confirm something about this?

[2016-03-20 13:41] karato commented on #856
@carlosgines this is your task

[2016-03-20 23:47] TommyWind commented on #1080
PR updated.

[2016-03-21 17:58] ekondrashev commented on #1089
@yegor256 can't login to netbout - redirected to home page, and got "Bad Request" on google authentication chosen.

[2016-03-22 22:27] CarlosGines commented on #856
@karato please check PR #1093

[2016-03-23 09:13] karato commented on #856
@carlosgines thanks for that

[2016-03-23 12:56] karato commented on #547
@carlosmiranda last puzzled solved `682-753e25af`/#693

[2016-03-23 15:59] karato commented on #834
@2686747 15 days already, in 48 hours I will re-assign

-30 to your rating, your total score is [+61](http://www.netbout.com/b/36452?open=rating)

[2016-03-23 16:21] 2686747 commented on #834
@karato i asked you for waiting  resolving #1085, i can't do normally this task without rejection/confirmation this bug.

[2016-03-23 16:33] dmzaytsev commented on #1085
@2686747 kickout is deprecated feature

[2016-03-23 16:41] dmzaytsev commented on #834
@2686747 just catch the exception to get proper error message instead of a stack trace

[2016-03-23 19:08] karato commented on #834
@2686747 ok, let's wait for #1085

[2016-03-23 19:08] karato commented on #1090
@ail-man check this out: http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

[2016-03-23 19:08] karato commented on #1090
@ail-man OK

[2016-03-23 19:08] karato commented on #1090
@ail-man you better address your questions to the architect of the project (@dmzaytsev)

[2016-03-23 19:09] #1085 closed

[2016-03-23 19:18] TommyWind commented on #1080
@dmzaytsev PR updated.

[2016-03-23 21:22] karato commented on #834
@longtimeago impediment in issue #1085 is closed, we can probably try to continue here

[2016-03-24 19:18] CarlosGines commented on #856
@mkordas PR #1093 merged, please please close this ticket.

[2016-03-24 19:20] mkordas commented on #856
@CarlosGines thanks!

[2016-03-24 19:20] #856 closed

[2016-03-24 20:54] 2686747 commented on #834
@dmzaytsev please, check #1094

[2016-03-25 21:32] karato commented on #856
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-03-25 21:33] karato commented on #754
@bdragan check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

-30 to your rating, your total score is [-30](

[2016-03-26 07:27] ypshenychka commented on #856
@karato Quality is good.

[2016-03-26 09:19] karato commented on #856
@ypshenychka many thanks

[2016-03-26 09:51] karato commented on #856
@carlosgines just added 10 mins to @ypshenychka (for QA), payment ID is `81432796`... Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-0CJ11269334707018`, the task took 130 hours and 44 mins)... +30 added to your rating, current score is: [+225](http://www.netbout.com/b/36645?open=rating)

[2016-03-27 18:14] ail-man commented on #1090
@karato please assign this puzzle someone else

[2016-03-27 19:17] karato commented on #1090
@ail-man 30 points deducted from your rating

[2016-03-27 19:17] karato commented on #1090
@ail-man no problem, I will try to find somebody else

[2016-03-28 10:52] karato opened #1095 "Re-estimate project size"
The latest estimate is rather old (created on 19-Feb-2016),we have to create a new one as explained [here](https://github.com/teamed/est)

[2016-03-28 11:09] karato commented on #1095
@ail-man please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have; The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-03-28 13:44] karato commented on #1095
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2016-03-28 13:44] karato opened #1096 "DyMessages.java:197-202: HttpException seems not really appropriate..."
Puzzle `1094-571b0dd7` in `netbout-web/src/main/java/com/netbout/dynamo/DyMessages.java:197-202` has to be resolved: HttpException seems not really appropriate here in database layer. I think we have to throw something like BoutNotFoundException and process its somewhere in web layer. Pay attention that we should also change a test DyMessagesITCase.exceptionIfBoutNotFound() which tests a presence

[2016-03-28 14:38] karato commented on #1096
@dmzaytsev since the ticket has no milestone I set it to 3.1

[2016-03-28 17:09] karato commented on #1090
@carlosgines this is your task

[2016-03-28 17:15] dmzaytsev commented on #1096
@karato this is postponed

[2016-03-28 19:22] karato commented on #1096
@dmzaytsev thanks, I added "postponed" label

[2016-03-28 19:22] karato commented on #1096
@dmzaytsev someone else will help in this task, no problem at all

[2016-03-29 13:58] original-brownbear commented on #834
@longtimeago I was only CR here, but seems the performer forgot to ask you to close here and I'm already at 17 open tasks :) Fix should be fine ;)

[2016-03-29 15:37] longtimeago commented on #834
@original-brownbear nice, thanks :)

[2016-03-29 15:37] #834 closed

[2016-03-30 10:22] ail-man commented on #1095
@karato please specify the problem. Keep in mind that I'm a Java Developer, i.e. Programmer role according to [this article](http://www.yegor256.com/2014/04/12/puzzle-driven-development-by-roles.html). Most likely, this issue is not for [Programmer role](http://www.yegor256.com/2014/04/12/puzzle-driven-development-by-roles.html#designer-and-programmer), so probably you should reassign this one.

[2016-03-30 13:53] CarlosGines commented on #1090
@karato Please check PR #1097

[2016-03-30 13:56] CarlosGines commented on #1090
@karato Please update labels of this ticket too, removing ail-man label and adding mine.

[2016-04-01 11:55] karato commented on #1090
@carlosgines thank you!

[2016-04-01 12:15] karato commented on #834
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-04-01 12:23] ypshenychka commented on #834
@karato Quality is good.

[2016-04-01 14:28] karato commented on #834
@ypshenychka many thanks

[2016-04-01 14:51] karato commented on #834
@2686747 paied 10 mins to @ypshenychka for QA review (payment ID is `82131999`). Thanks a lot, I just topped your account for **30 mins**, transaction ID `56fe8add2e23293e8600026f`, total time was 138 hours and 41 mins. +30 to your rating, your total score is [+91](http://www.netbout.com/b/36452?open=rating)

[2016-04-03 16:45] dmzaytsev commented on #1045
@rultor release, tag=`2.22.16`

[2016-04-03 16:45] rultor commented on #1045
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7244-205008646)

[2016-04-03 17:20] rultor commented on #1045
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/7244-205008646) (took me 35min)

[2016-04-03 18:38] dmzaytsev commented on #1045
@yegor256 let's try turn off the restarting daemon
I switched to latest jcabi-aspect that should use SoftReferences to prevent OutOfMemoryError

[2016-04-04 16:46] longtimeago opened #1099 "IllegalStateException: The element type "T" must be terminated by the matching end-tag"
This appears requesting for the bout http://www.netbout.com/b/37013

[code]

[2016-04-04 17:41] dmzaytsev commented on #1099
@karato valid bug

[2016-04-04 20:24] karato commented on #1099
@dmzaytsev tag bug added to this issue

[2016-04-04 20:42] yegor256 commented on #1045
@dmzaytsev turned it off

[2016-04-05 00:49] yegor256 opened #1100 "conflict at com.jcabi.s3.AwsBucket.ocket"
I'm getting this in production:

[code]

It's a serious blocker, let's try to fix ASAP!

[2016-04-05 00:51] yegor256 commented on #1100
@dmzaytsev I think we just need to upgrade to the latest jcabi-s3, where this will be fixed: https://github.com/jcabi/jcabi-s3/issues/44 (I'm working on it now). and, of course, we have to reproduce it first.

[2016-04-05 01:31] yegor256 commented on #1100
@dmzaytsev 0.11.5 of jcabi-s3 should fix the problem

[2016-04-05 11:06] karato commented on #1099
@longtimeago I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-04-05 11:14] dmzaytsev commented on #1100
@karato valid bug

[2016-04-05 13:42] karato commented on #1100
@dmzaytsev tagged this issue with "bug"

[2016-04-05 16:35] dmzaytsev commented on #1100
@yegor256 I think it can't be reproduced in a test due to a unreachable code for the integration test
[DyAttachment.java#L270](
https://github.com/yegor256/netbout/blob/master/netbout-web%2Fsrc%2Fmain%2Fjava%2Fcom%2Fnetbout%2Fdynamo%2FDyAttachment.java#L270) is the saving to AWS bucket (when we have an attachment's size greater than 50k bytes)
For the integration test we are use LocalDynamo instan

[2016-04-05 16:36] dmzaytsev commented on #1100
@karato assign me please

[2016-04-05 17:35] karato commented on #1100
@yegor256 I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-04-05 21:06] karato commented on #1100
@dmzaytsev the task is yours, please proceed

[2016-04-05 22:53] CarlosGines commented on #1090
@karato PR #1097 successfully merged and closed. Please close this ticket.

[2016-04-06 06:03] original-brownbear opened #1102 "Netbout Travis Build is very unstable"
I see this in a bunch of Netbout Travis builds when reviewing:

Always shows this warning first:

[code]

Then fails on this error:
e.g. (https://travis-ci.org/yegor256/netbout/builds/121056109#L175)

[code]

The way Phantom/CasperJS is installed in Netbout needs to be fixed to be more stable on Travis I think!

[2016-04-06 06:29] dmzaytsev commented on #1100
@rultor release, tag=`2.22.17`

[2016-04-06 06:29] rultor commented on #1100
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7986-206140959)

[2016-04-06 06:39] dmzaytsev commented on #1102
@karato valid bug

[2016-04-06 06:42] dmzaytsev commented on #1045
@yegor256 did you see "Error R14 (Memory quota exceeded)" in heroku logs after the restarting daemon has been turned off?

[2016-04-06 06:57] rultor commented on #1100
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/7986-206140959) (took me 28min)

[2016-04-06 07:01] dmzaytsev opened #1103 "attribute date not found"
I am getting on production

Version: 2.22.17
Netbout team has already received a notification about this problem. We will investigate and fix as soon as possible. In the mean time, click "Back" button in your browser and try again. It may work :)
If you want to help our project, please post the following exception stacktrace to our Github account.
java.lang.IllegalStateException: [GET http://www.n

[2016-04-06 07:01] dmzaytsev commented on #1103
@karato valid bug

[2016-04-06 07:01] dmzaytsev commented on #1103
@karato assign me

[2016-04-06 08:23] dmzaytsev commented on #1103
@rultor release, tag=`2.2.18`

[2016-04-06 08:25] rultor commented on #1103
@dmzaytsev Invalid release tag `2.2.18` specified. There is already a release `2.22.17` newer than the given release in this repository.

[2016-04-06 08:25] rultor commented on #1103
@dmzaytsev I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-04-06 08:26] dmzaytsev commented on #1103
@rultor release, tag=`2.2.20`

[2016-04-06 08:27] rultor commented on #1103
@dmzaytsev Invalid release tag `2.2.20` specified. There is already a release `2.22.17` newer than the given release in this repository.

[2016-04-06 08:27] rultor commented on #1103
@dmzaytsev I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-04-06 08:28] dmzaytsev commented on #1103
@rultor release, tag=`2.3`

[2016-04-06 08:29] rultor commented on #1103
@dmzaytsev Invalid release tag `2.3` specified. There is already a release `2.22.17` newer than the given release in this repository.

[2016-04-06 08:29] rultor commented on #1103
@dmzaytsev I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-04-06 08:31] dmzaytsev commented on #1103
@rultor release, tag=`2.22.18`

[2016-04-06 08:31] rultor commented on #1103
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7988-206217062)

[2016-04-06 09:04] rultor commented on #1103
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/7988-206217062) (took me 32min)

[2016-04-06 09:05] dmzaytsev commented on #1100
@yegor256 fixed in #1101 please check again on production and close the issue if alright

[2016-04-06 10:28] karato commented on #1103
@dmzaytsev I tagged this as "bug"

[2016-04-06 10:28] karato commented on #1102
@dmzaytsev I just added bug tag here

[2016-04-06 10:28] karato opened #1105 "DyAttachments.java:52-54: No public static literals are..."
Puzzle `1090-d49470f5` in `netbout-web/src/main/java/com/netbout/dynamo/DyAttachments.java:52-54` has to be resolved: No public static literals are recommended according to our methodology. This class should be refactored to not contain any of them. See: http://www.yegor256.com/2015/07/06/public-static-literals.html... The puzzle was created by Carlos Ginés on 4-Apr-2016.

If you have any technic

[2016-04-06 10:30] karato commented on #1090
@dmzaytsev 2 puzzles were created here: `1090-b1fba4c1`, `1090-d49470f5`/#1105

[2016-04-06 10:30] karato commented on #1103
@dmzaytsev there is a puzzle in this code `1103-520ca7fd`, we'll resolve it later

[2016-04-06 10:32] dmzaytsev commented on #1105
@karato this is postponed

[2016-04-06 11:33] yegor256 commented on #1100
@dmzaytsev thanks!

[2016-04-06 11:33] #1100 closed

[2016-04-06 12:12] yegor256 commented on #1045
@dmzaytsev no, I don't see it any more, thanks!

[2016-04-06 12:12] #1045 closed

[2016-04-06 12:13] yegor256 commented on #1045
@dmzaytsev thanks for finding the cause of the problem and for the fix!

[2016-04-06 12:13] dmzaytsev commented on #1045
@yegor256 fixed in #1098

[2016-04-06 12:34] dmzaytsev commented on #848
@yegor256 could you mark the latest release 2.22.18 as final ?

[2016-04-06 14:07] karato commented on #1102
@original-brownbear I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-04-06 14:07] karato commented on #1103
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-04-06 14:07] karato commented on #1105
@dmzaytsev attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-04-06 14:08] karato opened #1106 "RtAttachment.java:53-55: There is code duplication in..."
Puzzle `1090-b1fba4c1` in `netbout-client/src/main/java/com/netbout/client/RtAttachment.java:53-55` has to be resolved: There is code duplication in public methods in this class: ctype(), etag(), unseen(), date(), author(), read() and write(). Please refactor to avoid it.... The puzzle was created by Carlos Ginés on 4-Apr-2016.

If you have any technical questions, don't ask me, submit new ticket

[2016-04-06 14:39] dmzaytsev commented on #1045
@yegor256 would it possible to get extra payment ? Because I have spent much more time than 30 min on this issue

[2016-04-06 14:39] dmzaytsev commented on #1106
@karato this is postponed

[2016-04-06 14:42] dmzaytsev commented on #1060
@karato  duplicate of #813

[2016-04-06 16:34] karato commented on #1106
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2016-04-06 16:35] karato commented on #1105
@dmzaytsev OK, I put "postponed" label here

[2016-04-06 16:35] karato commented on #1105
@dmzaytsev right, I'll try to find someone else for this task

[2016-04-06 16:35] karato commented on #1103
@dmzaytsev of course, the task is yours, go ahead

[2016-04-06 16:35] karato commented on #1103
@dmzaytsev assigning yourself to your own tasks is a bad practice, according to our [five principles](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html) of bug tracking, try to avoid this in the future

[2016-04-06 16:35] karato opened #1107 "DyAttachment.java:168-171: please create a proper integration..."
Puzzle `1103-520ca7fd` in `netbout-web/src/main/java/com/netbout/dynamo/DyAttachment.java:168-171` has to be resolved: please create a proper integration test for both cases when attribute DyAttachments.ATTR_DATE exists before getting, when attribute DyAttachments.ATTR_DATE not exists.... The puzzle was created by Dmitry Zaytsev on 6-Apr-2016.

If you have any technical questions, don't ask me, su

[2016-04-06 17:11] dmzaytsev commented on #1103
@karato it was an urgent issue

[2016-04-06 17:11] dmzaytsev commented on #1103
@karato fixed in #1104

I'm closing the issue

[2016-04-06 17:11] #1103 closed

[2016-04-06 17:52] karato commented on #1107
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2016-04-06 17:53] karato commented on #1106
@dmzaytsev got it, "postponed" label here

[2016-04-06 17:53] karato commented on #1106
@dmzaytsev right, I will find someone else, no problem

[2016-04-06 18:20] wtpayne opened #1108 "Failure to authenticate with google+"
I am trying to sign in to the service using my google profile from within a corporate network.

One possibility is that the google authentication mechanism is blocked by firewall / access control policy (because the google social network is blocked too).

Another possibility is a man-in-the-middle "attack" from the security appliance sitting at the edge of the network. Given these impediments, I w

[2016-04-06 21:02] karato commented on #1103
@dmzaytsev thank you!

[2016-04-07 11:05] karato commented on #1090
@dmzaytsev The issue should be closed..

[2016-04-07 11:05] #1090 closed

[2016-04-07 11:06] karato commented on #1090
@ypshenychka review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-04-07 11:11] ypshenychka commented on #1090
@karato Quality is good.

[2016-04-07 16:26] karato commented on #1090
@ypshenychka thanks a lot

[2016-04-07 16:44] karato commented on #1045
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-04-07 16:44] karato commented on #1100
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-04-07 16:46] karato commented on #1090
@carlosgines paied 10 mins to @ypshenychka for QA review (payment ID is `82799661`)

Much obliged! I have added **30 mins** to your account in payment "AP-8LJ60695TA182764G", 209 hours and 19 mins spent

added +30 to your rating, now it is equal to [+255](http://www.netbout.com/b/36645?open=rating)

[2016-04-07 19:05] ypshenychka commented on #1100
@karato Quality is good.

[2016-04-07 19:11] ypshenychka commented on #1045
@karato Quality is good.

[2016-04-07 21:05] karato commented on #1045
@ypshenychka many thanks

[2016-04-07 21:05] karato commented on #1100
@ypshenychka thanks a lot :)

[2016-04-07 21:30] karato commented on #1103
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-04-07 21:30] karato commented on #1045
@dmzaytsev 10 mins was added to the account of @ypshenychka (for QA review), in transaction 82812926. Thanks for your contribution, **30 mins** was added to your account, payment ID is `82812939`, 977 hours and 20 mins spent total. +30 to your rating, your total score is [+2807](http://www.netbout.com/b/35166?open=rating)

[2016-04-08 11:14] elenavolokhova commented on #1103
@karato Quality is acceptable here, as far as this rule is not followed:

@dmzaytsev Please, try to avoid such cases in future.

[2016-04-08 11:25] dmzaytsev commented on #1103
@elenavolokhova sure
 it was an urgent issue

[2016-04-08 15:34] karato commented on #1100
@dmzaytsev added 10 mins to @ypshenychka, for QA review, payment code is `82849715`... I added **1 hour** to your account, many thanks for working with the project (82849740)! The completion time here was 16 hours and 59 mins.... there is a bonus for fast delivery (m=1019)... +60 to your rating, your total score is [+2850](http://www.netbout.com/b/35166?open=rating)

[2016-04-12 09:15] karato commented on #1095
@ail-man 30 points deducted from your rating

[2016-04-12 09:15] karato commented on #1095
@ail-man got it, someone else will be assigned soon

[2016-04-12 11:58] karato commented on #1095
@2686747 this is your task

[2016-04-12 19:59] elenavolokhova commented on #1103
@karato Quality is acceptable here.

[2016-04-12 21:37] yegor256 commented on #848
@karato release 2.22.18 is final

[2016-04-13 07:49] sebing commented on #1001
@dmzaytsev I am still getting the problem. I am not sure it is the same.

[2016-04-13 09:17] karato commented on #848
@yegor256 I dropped "draft" flag for release 2.22.18

[2016-04-13 09:17] karato commented on #1103
@elenavolokhova thanks a lot, next time everybody should try to make it better

[2016-04-13 09:35] karato commented on #1103
@dmzaytsev I added 10 mins to @elenavolokhova (for QA review) in transaction 83432261... Thanks so much! Your account was topped up for **1 hour** (transaction ID is `83432282`, the task took 1 hour and 16 mins)... there is a bonus for fast delivery (m=76)... +60 to your rating, your total score is [+2701](http://www.netbout.com/b/35166?open=rating)

[2016-04-17 21:42] CarlosGines commented on #861
@karato this bug has been fixed on yegor256/takes#626, can this ticket be closed now?

[2016-04-21 12:53] karato commented on #861
@carlosgines you should ask bug reporter

[2016-04-21 13:20] CarlosGines commented on #861
@karato that is true, thank you.

[2016-04-21 13:21] CarlosGines commented on #861
@mkordas this bug has been fixed on yegor256/takes#626, can you please close this ticket? Thanks in advance.

[2016-04-21 14:28] karato commented on #861
@carlosgines sure, you are welcome

[2016-04-21 15:18] #861 closed

[2016-04-22 13:24] yegor256 commented on #855
@karato assign someone else here

[2016-04-22 14:56] karato commented on #855
@yegor256 I will ask somebody else to pick this up

[2016-04-22 15:32] karato commented on #1099
@longtimeago thank you for the ticket reported, I topped your account for 15 mins, transaction `84295859`

[2016-04-22 15:36] karato commented on #1108
@dmzaytsev please do something about this issue

[2016-04-22 17:02] karato commented on #754
@bdragan it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... added -60 to your rating, now it is equal to [-120](http://www.netbout.com/b/35709?open=rating)

[2016-04-22 17:02] karato commented on #848
@dmzaytsev There are a few problems in the project now, see [par.33](http://at.teamed.io/policy.html#33):

 * some tasks are stuck: #754 (alive for 256 days, assigned for 42 days), #775 (241 days), #841 (156 days), #855 (132 days), #1003 (71 days), #1008 (69 days), #1028 (63 days), #1019 (61 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them,

[2016-04-22 17:02] karato commented on #855
@2686747 this is your task

[2016-04-22 17:02] karato commented on #1102
@original-brownbear many thanks for the report, I topped your account for 15 mins, transaction AP-69119135J01738532

[2016-04-22 19:16] karato commented on #861
@ypshenychka review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-04-22 19:39] 2686747 commented on #855
@yegor256 please, answer to my [question](www.netbout.com/b/37028).

[2016-04-22 20:30] karato commented on #754
@ail-man this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-04-25 05:40] ekondrashev commented on #1108
@dmzaytsev I believe it is pretty similar to #1089. Is it possible to prioritise this, I'm personally failing to login with my google account for pretty long time.

[2016-04-25 05:41] ekondrashev commented on #1108
@yegor256 any chance to give this a go? Can't login to netbout for several months already:(

[2016-04-25 06:21] 2686747 commented on #855
@karato thanks, please move this task, i stop working with team.

[2016-04-25 06:21] 2686747 commented on #1095
@karato thanks, please move this task, i stop working with team.

[2016-04-25 16:17] karato commented on #842
@dmzaytsev last puzzled solved `842-9eb73ef4`/#879

[2016-04-25 16:31] dmzaytsev commented on #1038
@yegor256 you have to enable access to Google+ API for Google project related to Netbout Google account. As Takes PsGoogle uses that API

[2016-04-25 16:34] dmzaytsev commented on #1108
@ekondrashev actually that problem related to Google account settings
only @yegor256 can change these settings

[2016-04-26 18:15] dmzaytsev commented on #848
@yegor256 the last release marked as final 2 week ago
could you check why this ticket not closed yet?

[2016-04-26 19:23] karato commented on #848
@dmzaytsev There are a few problems in the project now, see [par.33](http://at.teamed.io/policy.html#33):

 * some tasks in the project are "stuck": #775 (245 days), #841 (160 days), #1003 (75 days), #1008 (73 days), #1028 (67 days), #1019 (65 days), #1026 (62 days), #1047 (62 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](

[2016-04-27 11:45] ekondrashev commented on #1108
@dmzaytsev could you please elaborate, not sure I understand.. I was able to login with Google account and after some time it started to respond with `Bad request`. I can assume that is because of me changed the password. No other reasons I can think of, but you're saying something different..?

[2016-04-27 11:54] dmzaytsev commented on #1108
@ekondrashev Netbout uses PsGoogle from Takes, PsGoogle uses G+ api in turn to fetch avatar and other info. G+ api not enabled for the Netbout's acount so the last api call causes an exception Bad request.

[2016-04-27 11:56] ekondrashev commented on #1108
@dmzaytsev and what is the reason for the G+ api not being enabled?

[2016-04-27 12:01] dmzaytsev commented on #1108
@ekondrashev Invalid link to g+ api was used in previous releases of Takes, They have fixed this bug and the api call throws an exception now. We can't use old release of Takes for some reasons.
Yegor should just click on "enable" for G+APi in his Google console

[2016-04-27 12:28] ekondrashev commented on #1108
@dmzaytsev ok, so, let ping @yegor256 to resolve this issue

[2016-04-27 14:12] karato commented on #1095
@2686747 you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; -30 to your rating, your total score is [-29](http://

[2016-04-30 21:24] karato commented on #848
@dmzaytsev please, pay attention to this ([par.33](http://at.teamed.io/policy.html#33)):

 * some tasks are stuck: #775 (249 days), #841 (164 days), #1003 (79 days), #1008 (77 days), #1028 (71 days), #1019 (70 days), #1026 (67 days), #1047 (66 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * some

[2016-05-02 05:21] ekondrashev commented on #1108
@yegor256 ping, could you please comment what @dmzaytsev said is possible:

[2016-05-02 13:03] karato commented on #1095
@2686747 the task is overdue, and I have to re-assign it to someone else. Please, stop working with it immediately. In general, we're against overdue tasks, check [this page](http://www.xdsd.org/2014/04/13/no-obligations-principle.html)... -60 added to your rating, current score is: [-89](http://www.netbout.com/b/36452?open=rating)

[2016-05-03 11:36] yegor256 commented on #1108
@ekondrashev @dmzaytsev I've enabled Google+ API in Google Console, a minute ago

[2016-05-03 12:16] ekondrashev commented on #1108
@yegor256 just tried to login and got
[code]

[2016-05-03 12:17] ekondrashev commented on #1108
@yegor256 second try went fine though, I'm finally in:)

[2016-05-03 13:08] yegor256 commented on #1108
@ekondrashev can you please logout and try to login again?

[2016-05-03 13:12] ekondrashev commented on #1108
@yegor256 done, no problems this time.

[2016-05-03 13:23] yegor256 commented on #1038
@dmzaytsev I enabled Google+ API

[2016-05-03 13:23] yegor256 commented on #1038
@dmzaytsev works fine now

[2016-05-03 13:23] #1038 closed

[2016-05-03 13:42] karato commented on #855
@2686747 -30 points to your rating :(

[2016-05-03 13:42] karato commented on #855
@2686747 right, I will find someone else, no problem

[2016-05-03 16:25] dmzaytsev commented on #1038
@karato fixed in PR #1087

[2016-05-03 18:14] karato commented on #1038
@dmzaytsev thank you!

[2016-05-04 14:08] karato commented on #1038
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-05-04 17:43] elenavolokhova commented on #1038
@karato Looks good!

[2016-05-04 19:21] karato commented on #1038
@elenavolokhova thank you, good quality is always good ;)

[2016-05-04 19:39] karato commented on #1038
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `85669340`; Thanks for your contribution, **30 mins** was added to your account, payment ID is `85669361`, 1274 hours and 14 mins spent total; +30 added to your rating, at the moment it is: [+1344](http://www.netbout.com/b/35166?open=rating)

[2016-05-05 11:15] karato commented on #848
@dmzaytsev there are some issues (see [par.33](http://at.teamed.io/policy.html#33)) in the project now:

 * some tasks in the project are "stuck": #754 (alive for 269 days, assigned for 12 days), #775 (253 days), #841 (168 days), #855 (144 days), #1003 (84 days), #1008 (81 days), #1028 (75 days), #1019 (74 days); please do something about it ASAP. You basically have three options: 1) mark some of

[2016-05-06 06:38] dmzaytsev commented on #848
@yegor256 the latest release marked as final more than 3 weeks ago!
why this ticket still open?
could you check please?

[2016-05-09 16:07] karato commented on #848
@dmzaytsev There are a few problems in the project now, see [par.33](http://at.teamed.io/policy.html#33):

 * some tasks in the project are "stuck": #754 (alive for 273 days, assigned for 16 days), #775 (257 days), #841 (173 days), #855 (149 days), #1003 (88 days), #1008 (86 days), #1028 (80 days), #1019 (78 days); please do something about it ASAP. You basically have three options: 1) mark some o

[2016-05-09 22:07] CarlosGines commented on #861
@ypshenychka please help us with the review.

[2016-05-10 06:51] ypshenychka commented on #861
@karato Quality is bad here since no PR (and correspondingly no work) was done in scope of this issue.

[2016-05-10 10:54] karato commented on #1095
@carlosgines this is your task

[2016-05-10 12:37] karato commented on #855
@carlosgines do this task

[2016-05-13 05:25] dmzaytsev commented on #848
@karato why you don't close this ticket ?
it  has been marked as final  a month ago

[2016-05-13 07:45] yegor256 commented on #1108
@wtpayne please, close the ticket if authentication works

[2016-05-13 07:49] yegor256 opened #1109 "introduce redundancy in the DynamoDB"
I think our current design of the persistence layer is not good enough. We keep data in a non-redundant way in DynamoDB and intensively cache it on Java level. Instead, we should duplicate it as much as necessary in DynamoDB and make sure Java is making just a few requests to the DynamoDB. They still may be cached, but there should be just a few of them.

[2016-05-13 08:12] wtpayne commented on #1108
Authentication works from my current location. I'll try it again from within the corporate network later today, and if that works too, I'll close the ticket.

Many thanks.

[2016-05-16 10:37] karato commented on #848
@dmzaytsev once a new (not pre) release is published I will close it, not earlier

[2016-05-16 10:37] karato commented on #1109
@yegor256 I added `indie` tag to this ticket

[2016-05-16 11:17] dmzaytsev commented on #848
@karato @yegor256  we have a final release from 13 April
I didn't get why I should ask to close the ticket again and again. 3 month!

@karato release 2.22.18 is final
@yegor256 I dropped "draft" flag for release 2.22.18

[2016-05-16 14:39] karato commented on #1109
@yegor256 since the ticket has no milestone I set it to 3.1

[2016-05-16 14:57] karato commented on #1109
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-1a933d28

[2016-05-16 16:10] wtpayne commented on #1108
Works from the corporate network too!

[2016-05-16 16:10] #1108 closed

[2016-05-17 11:04] karato commented on #861
@ypshenychka thanks for review, we'll try to make it better next time

[2016-05-17 14:30] amihaiemil opened #1110 "Why reserve an array with 16 objects from the start"
Inside method [RtMessages.search(term)](https://github.com/yegor256/netbout/blob/dad50237fd55646fdb58eeda56d0f87982c959c0/netbout-client/src/main/java/com/netbout/client/RtMessages.java), why reserve an array with 16 objects from the start? I think a result of 16 messages would be rather rare. I would simply do ``final List<Message> result = new ArrayList<Message>()``;

[2016-05-17 15:10] #976 closed

[2016-05-17 15:10] karato commented on #976
@dmzaytsev The task is closed, thanks everybody

[2016-05-17 15:11] karato commented on #861
@carlosgines 10 mins was added to the account of @ypshenychka (for QA review), in transaction 86999366

[2016-05-20 16:29] karato commented on #848
@dmzaytsev There are a few problems in the project now, see [par.33](http://at.teamed.io/policy.html#33):

 * some tasks in the project are "stuck": #754 (alive for 284 days, assigned for 27 days), #775 (268 days), #841 (184 days), #855 (alive for 160 days, assigned for 10 days), #1003 (99 days), #1008 (97 days), #1028 (91 days), #1019 (89 days); please do something about it ASAP. You basically ha

[2016-05-20 18:46] longtimeago commented on #1037
@yegor256 @dmzaytsev I have several bouts created by mistake. Is there any way to get rid of them?

[2016-05-20 20:40] karato commented on #1110
@dmzaytsev dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-05-22 15:00] dmzaytsev commented on #1037
@longtimeago there is no way to delete a bout.
it is a kind of Netbout policy as I know.
no messages can be deleted
and no bouts can be deleted

[2016-05-22 15:16] dmzaytsev commented on #1110
@amihaiemil actually it is a kind of checkstyle suppression.
Checkstyle doesn't allow `ArrayList` declaration without capacity

[2016-05-22 15:19] amihaiemil commented on #1110
@dmzaytsev ok : D

[2016-05-22 15:19] #1110 closed

[2016-05-24 19:52] karato commented on #848
@dmzaytsev please, pay attention to this ([par.33](http://at.teamed.io/policy.html#33)):

 * some tasks are stuck: #754 (alive for 289 days, assigned for 31 days), #775 (273 days), #841 (188 days), #855 (alive for 164 days, assigned for 14 days), #1003 (103 days), #1008 (101 days), #1028 (95 days), #1019 (93 days); please do something about it. There are basically three options: 1) mark some of th

[2016-05-25 12:25] karato commented on #1095
@carlosgines 15 days already, in 48 hours I will re-assign... -30 to your rating, your total score is [+225](http://www.netbout.com/b/36645?open=rating)

[2016-05-25 13:43] karato commented on #855
@carlosgines 15 days already, in 48 hours I will re-assign

added -30 to your rating, now it is equal to [+195](http://www.netbout.com/b/36645?open=rating)

[2016-05-29 09:44] karato commented on #848
@dmzaytsev There are a few problems in the project now, see [par.33](http://at.teamed.io/policy.html#33):

 * some tasks in the project are "stuck": #754 (alive for 293 days, assigned for 36 days), #775 (277 days), #841 (192 days), #855 (alive for 168 days, assigned for 18 days), #1003 (108 days), #1008 (105 days), #1028 (99 days), #1019 (98 days); please do something about it ASAP. You basically

[2016-05-30 11:38] karato commented on #1095
@carlosgines task is too long, stop working with it

-60 to your rating, your total score is [+135](http://www.netbout.com/b/36645?open=rating)

[2016-05-30 13:50] karato commented on #855
@carlosgines task is too long, stop working with it

added -60 to your rating, now it is equal to [+75](http://www.netbout.com/b/36645?open=rating)

[2016-06-15 07:01] amihaiemil opened #1111 "Details about impediments in netbout agenda"
In the "agenda" tab you see all the task listed and on the "details" column you can see how many (if any) impediments are there.

I think it would be nice to be able to click on it and see some sort of summary (what impediments are there?).

If it's your task from the start you should know it already, but if you inherited the task and it has already a long conversation with more related tickets, t

[2016-06-15 09:37] dmzaytsev commented on #1111
@amihaiemil actually this is out of the scope of the project .
I would suggest you to ask @yegor256 right in Netbout

[2016-06-15 09:52] amihaiemil commented on #1111
@dmzaytsev im going to leave this open a bit, maybe he replies here.

[2016-06-24 14:28] #1111 closed

[2016-06-27 20:50] yegor256 commented on #848
@dmzaytsev let's release 2.23 and make it final, that will be enough to close this ticket. sorry about the delay!

[2016-06-28 09:55] dmzaytsev commented on #848
@rultor release, tag=`2.23`

[2016-06-28 09:55] rultor commented on #848
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6736-229004805)

[2016-06-28 10:27] rultor commented on #848
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/6736-229004805) (took me 31min)

[2016-06-28 12:04] karato commented on #848
@dmzaytsev There are a few concerns (see [par.33](http://at.teamed.io/policy.html#33)):

 * some tasks in the project are "stuck": #754 (alive for 323 days, assigned for 66 days), #775 (307 days), #841 (222 days), #855 (198 days), #1003 (138 days), #1008 (135 days), #1028 (129 days), #1019 (128 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "pos

[2016-07-02 10:35] karato opened #1112 "Indie tech review no.6"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `indie` tag to each of them.

[2016-07-02 11:10] karato commented on #1112
@dmzaytsev I set milestone here to `3.1`, let me know if it is wrong

[2016-07-02 14:38] karato commented on #848
@dmzaytsev There are a few concerns (see [par.33](http://at.teamed.io/policy.html#33)):

 * some tasks in the project are "stuck": #754 (alive for 327 days, assigned for 70 days), #775 (311 days), #841 (227 days), #855 (203 days), #1003 (142 days), #1008 (140 days), #1028 (134 days), #1019 (132 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "pos

[2016-07-06 17:17] karato commented on #848
@dmzaytsev there are a few issues by [par.33](http://at.teamed.io/policy.html#33):

 * some tasks are stuck: #754 (alive for 332 days, assigned for 74 days), #775 (316 days), #841 (231 days), #855 (207 days), #1003 (146 days), #1008 (144 days), #1028 (138 days), #1019 (136 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help perform

[2016-07-27 16:13] malele86 opened #1113 "referenced classes (.jar files) with loggable annotation doesn't work"
Hey,

my maven project:
[prj 1] maven web app
[prj 2] maven java app

--> prj 1 has a reference to prj 2 !

prj1 and prj 2 has a class which is annotated with @Loggable.

After build + deploy (glassfish) for prj 1 logging is working like a charm but not for prj 2.

Why?
Is this not supported or does i have a misunderstanding (i am new @ java world comes from .net world ;) )..?

If you need further

[2016-07-27 18:26] dmzaytsev commented on #1113
@malele86 do you mean [Jcabi Loggable](http://aspects.jcabi.com/annotation-loggable.html) ?
if so I would suggest you ask here https://github.com/jcabi/jcabi-aspects/issues

[2016-07-27 19:22] malele86 commented on #1113
Yes you are right! Thanks...

[2016-07-30 07:33] krzyk opened #1114 "transient is not needed anymore"
`transient` requirement has been removed from qulice. Please remove it everywhere where it was not added explicitly.

Also remove `of` parameter from all `@EqualsAndHashCode`, it was there because we had transient fields and we constantly were forgeting to add new fields there, now it won't be needed. (check tests for `EqualsVerifier.ignoredFields` for cases where `of` is still needed).

Also in c

[2016-08-02 10:14] karato commented on #1114
@dmzaytsev please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-08-02 18:36] dmzaytsev commented on #1114
@karato valid bug

[2016-08-02 20:02] karato commented on #1114
@dmzaytsev I just added bug tag here

[2016-08-03 09:41] karato commented on #1114
@krzyk since the ticket has no milestone I set it to 3.1

[2016-08-03 09:58] karato commented on #1114
@krzyk thanks for tis bug, I topped your account for 15 mins, transaction `95597232`

[2016-08-05 17:17] karato commented on #1095
@amihaiemil this is your task

[2016-08-05 18:20] karato commented on #855
@amihaiemil this is your task

[2016-08-06 19:45] amihaiemil commented on #855
@karato I created pr #1115 for this issue

[2016-08-07 10:26] karato commented on #855
@amihaiemil thank you!

[2016-08-11 06:11] amihaiemil commented on #1095
@mkordas Can you give me a hint here, please? (I saw you did 2 of the estimation [and yes, I know the not-supposed-to-look-back principle], but I had no clue where to start)...

How do I know what scopes are currently in for implementation? Is it the general overview of the opened issue in this milestone (3.1) or?

[2016-08-11 11:48] amihaiemil commented on #1095
@mkordas ping

[2016-08-11 17:35] amihaiemil commented on #855
@mkordas the PR was closed, can u close this ticket? :D

[2016-08-11 17:49] amihaiemil commented on #1095
@mkordas any help, please? :D

[2016-08-11 18:18] mkordas commented on #1095
@amihaiemil yep, generally project scope should be estimated based on
entire contents of GitHub: source code, README plus all open and closed
issues including ARC ones

[2016-08-11 18:19] mkordas commented on #1095
@amihaiemil so in scope is everything that is officially approved by
architect

[2016-08-11 18:24] amihaiemil commented on #1095
@mkordas thanks ^^

[2016-08-11 19:56] mkordas commented on #855
@amihaiemil thanks

[2016-08-11 19:56] #855 closed

[2016-08-12 07:07] ekondrashev opened #1116 "Error 400: redirect_uri_mismatch when trying to authenticate with Google account"
While trying to login to netbout with my google account I'm getting `Error 400` response with such details:
[code]

[2016-08-13 10:35] karato commented on #855
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-08-13 10:48] elenavolokhova commented on #855
@karato  Looks good!

[2016-08-13 11:06] amihaiemil commented on #1095
@karato I created PR #1117 for this

[2016-08-13 12:07] krzyk opened #1118 "Switch to jacoco maven plugin"
Currently this project uses cobertura plugin for code coverage.
Cobertura requires a separate test phase for calculation of the coverage, which increases the build time.
Jacoco on the other hand is integrated into the standard phases (uses agent to connect to surefire process), so the build process won't need to run the unit tests twice - should speed up the builds in travis and rultor.

Another a

[2016-08-13 12:12] krzyk opened #1119 "Project uses outdated jcabi-parent"
jcabi-parent used by the project is 0.32.1 but the current one is 0.45, please update it and fix all possible problems that might be caused by this upgrade.

Also remove an incorrect puzzle in pom.xml that wasn't parsed correctly by pdd (`<!--@todo #909:30min jcabi-parent used by Netbout is pretty outdated, `).

[2016-08-13 12:27] krzyk opened #1120 "Let's upgrade to qulice 0.17.1"
Project uses 0.16.2 version of qulice, which is quite old right now.
Upgrade to 0.17.1 and fix all newly reported errors like ones from following issues:

* teamed/qulice#659 Prohibit 'public static' methods
* teamed/qulice#715 Enforce usage of diamond operator
* teamed/qulice#741 Unification if checks display messages
* teamed/qulice#701 Duplicated PMD and Checkstyle checks for multiple string li

[2016-08-13 13:40] karato commented on #855
@elenavolokhova thank you

[2016-08-13 13:40] karato commented on #1095
@amihaiemil thank you!

[2016-08-13 13:59] karato commented on #855
@amihaiemil I added 10 mins to @elenavolokhova (for QA review) in transaction 96585672... thank you, added **30 mins** to your acc, payment num is `AP-01S65480SL136520N`, 159 hours and 14 mins spent in total to complete... +30 added to your rating, current score is: [+135](http://www.netbout.com/b/36402?open=rating)

[2016-08-13 18:06] amihaiemil commented on #1095
@karato the PR was merged and closed. Please close this issue.

[2016-08-15 09:05] amihaiemil commented on #1095
@karato ping

[2016-08-15 09:07] amihaiemil commented on #1095
@dmzaytsev since there was no todo for this in the code, will karato know to close this? I never had a task from the pm with no todo, until this one

[2016-08-15 10:20] karato commented on #1116
@dmzaytsev please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-08-15 17:50] amihaiemil commented on #1095
@karato ping

[2016-08-16 08:59] amihaiemil commented on #1095
@karato ping

[2016-08-16 15:04] karato commented on #1095
@dmzaytsev Closing, thanks all

[2016-08-16 15:04] #1095 closed

[2016-08-16 15:06] karato commented on #1095
@amihaiemil I just added **30 mins** to your account, many thanks for your contribution (AP-0KL09644PW354963B).. 235 hours and 29 mins spent here

+30 added to your rating, at the moment it is: [+165](http://www.netbout.com/b/36402?open=rating)

[2016-08-16 15:07] karato commented on #1120
@dmzaytsev please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-08-16 15:07] karato commented on #1118
@dmzaytsev please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-08-16 15:07] karato commented on #1119
@dmzaytsev take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-08-18 08:51] dmzaytsev commented on #1118
@karato valid bug

[2016-08-18 08:51] dmzaytsev commented on #1119
@karato valid bug

[2016-08-18 08:51] dmzaytsev commented on #1120
@karato valid bug

[2016-08-18 08:53] dmzaytsev commented on #1116
@yegor256 looks like google oauth settings are wrong
could you check it?

[2016-08-18 10:19] karato commented on #1120
@dmzaytsev tag "bug" added

[2016-08-18 10:19] karato commented on #1119
@dmzaytsev I tagged this as "bug"

[2016-08-18 10:19] karato commented on #1118
@dmzaytsev tag "bug" added

[2016-08-18 13:13] karato commented on #1118
@krzyk milestone set to `3.1` (correct me if I am wrong)

[2016-08-18 13:13] karato commented on #1119
@krzyk since the ticket has no milestone I set it to 3.1

[2016-08-18 13:13] karato commented on #1120
@krzyk I set milestone here to `3.1`, let me know if it is wrong

[2016-08-18 13:33] karato commented on #1120
@krzyk thanks for reporting! I topped your account for 15 mins, transaction 97253132

[2016-08-18 15:30] karato commented on #1119
@krzyk thanks a lot for reporting, **15 mins** added to your acc, pmt ID `97259640`

[2016-08-18 16:37] yegor256 commented on #1116
@ekondrashev try now please

[2016-08-18 16:43] karato commented on #1118
@krzyk thanks a lot for reporting, **15 mins** added to your acc, pmt ID `97263590`

[2016-08-18 17:15] ekondrashev commented on #1116
@yegor256 yup, it works now, thx!

[2016-08-18 17:15] #1116 closed

[2016-08-22 08:17] amihaiemil opened #1121 "Download report file-format"
The content of all the pages bellow can be downloaded as a report using the little clowd icon on the right:

![image](https://cloud.githubusercontent.com/assets/6305156/17847949/7ed682c4-6859-11e6-9d66-a6794f875353.png)

However, the file-format cannot be opened in Windows (I'm running Windows 7, but I assume it's the same in all of them).
![image](https://cloud.githubusercontent.com/assets/630515

[2016-08-25 06:52] amihaiemil opened #1122 "Outdated dependencies"
There are some [outdated dependencies](https://www.versioneye.com/user/projects/561ac5eca193340f2f001222), including some jcabi libs.

[2016-08-25 06:53] amihaiemil opened #1123 "Low test coverage"
Test coverage is really low (48%). We should start writing more unit tests. It can start from this issue - pick a class, unit test it and add puzzles to other class(es) you see lacks unit tests.

[2016-08-25 10:28] karato commented on #1121
@dmzaytsev please dispatch this issue

[2016-08-27 16:20] amihaiemil commented on #1121
@dmzaytsev ping

[2016-08-28 10:05] karato commented on #1122
@dmzaytsev please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-08-28 10:05] karato commented on #1123
@dmzaytsev please dispatch this issue

[2016-08-28 15:03] amihaiemil commented on #1119
@dmzaytsev can you assign me here pls?

[2016-08-29 15:05] dmzaytsev commented on #1119
@karato assign @amihaiemil please

[2016-08-29 15:08] dmzaytsev commented on #1121
@amihaiemil actually the issue out of the scope of the project
ask @yegor256

[2016-08-29 15:09] dmzaytsev commented on #1123
@karato valid bug

[2016-08-29 15:29] amihaiemil commented on #1121
@yegor256 what do you think?

[2016-08-29 15:45] karato commented on #1123
@dmzaytsev tag "bug" added

[2016-08-29 16:10] amihaiemil commented on #1122
@dmzaytsev what do you think here?

[2016-08-29 18:18] karato commented on #1123
@amihaiemil milestone set to `3.1` (correct me if I am wrong)

[2016-08-29 18:19] karato commented on #1119
@dmzaytsev done. @amihaiemil the task is yours, please go ahead

[2016-08-29 18:37] karato commented on #1123
@amihaiemil thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-8GX07735WU847711X`

[2016-08-30 06:24] amihaiemil opened #1125 "Unit test failing every now and then"
There is a unit test, `TouchBoutTest.changesUpdateAttribute`, which fails sometimes because it has some Thread sleep and then assert in it.

It should be fixed so it doesn't fail randomly again. E.g. maybe raise the Thread.sleep value from 100 to something greater.

The test is [here](https://github.com/yegor256/netbout/blob/master/netbout-client/src/test/java/com/netbout/mock/TouchBoutTest.java)

[2016-08-30 06:32] amihaiemil commented on #1119
@karato PR #1124 is for this issue

[2016-08-30 06:42] amihaiemil commented on #841
@dmzaytsev Can I have this task? :D I ask you for tasks because all my 7 tasks are blocked on jcabi, waiting for ARC to approve (some of them for 2-3 weeks...)

[2016-08-30 09:39] karato commented on #1119
@amihaiemil thanks for that

[2016-08-30 18:32] dmzaytsev commented on #841
@karato assign @amihaiemil please

[2016-08-30 18:34] dmzaytsev commented on #1125
@karato valid bug

[2016-08-30 18:35] dmzaytsev commented on #1122
@karato valid bug

[2016-08-30 18:42] amihaiemil commented on #1119
@krzyk PR #1124 was merged and closed; can u close this ticket? Thanks

[2016-08-30 19:41] amihaiemil commented on #1120
@dmzaytsev Can I have this as well? I did it locally and it works. Some of the found defects I fixed, some I escaped (e.g. some duplicated strings in tests were already escaped for qulice, I added escape for pmd). Also, I escaped 2 where there were todos already.

[2016-08-30 19:57] dmzaytsev commented on #1120
@amihaiemil sure

[2016-08-30 19:57] dmzaytsev commented on #1120
@karato assign @amihaiemil please

[2016-08-31 06:37] amihaiemil opened #1126 "Autocomplete for invite user field"
One might not always know the entire alias of another user, yet might want to invite them to a bout. Autocomplete for the invite field would be usefull. Maybe even search by email. So for instance my alias is "mihai", but my email is "amihaiemil@gmail.com". It would be cool to start typing for example "ami", and get my alias as suggestion.

![image](https://cloud.githubusercontent.com/assets/63051

[2016-08-31 14:37] amihaiemil commented on #1119
@krzyk ping

[2016-08-31 14:55] krzyk commented on #1119
@amihaiemil thanks

[2016-08-31 14:55] #1119 closed

[2016-09-01 09:33] amihaiemil commented on #1119
@karato ping

[2016-09-02 07:00] amihaiemil commented on #1119
@dmzaytsev @krzyk Do you know maybe if something is not working fine? Neither karator nor davvd answer.

karato should assign 2 tasks to me in netbout, davvd 1 task in qulice and this issue should be paid.

[2016-09-02 07:50] krzyk commented on #1119
@amihaiemil you usually have to wait longer for PMs in the open source projects (few days)

[2016-09-02 09:41] karato commented on #841
@dmzaytsev done. @amihaiemil the task is yours, please go ahead

[2016-09-02 09:41] karato commented on #1120
@dmzaytsev OK @amihaiemil please proceed, this task is yours

[2016-09-02 09:42] karato commented on #1125
@dmzaytsev I tagged this as "bug"

[2016-09-02 09:42] karato commented on #1122
@dmzaytsev tagged this issue with "bug"

[2016-09-02 10:05] amihaiemil commented on #1120
@karato PR #1127 is for this

[2016-09-02 12:42] amihaiemil commented on #841
@karato PR #1128 is for this

[2016-09-02 12:54] karato commented on #1122
@amihaiemil milestone set to `3.1` (correct me if I am wrong)

[2016-09-02 12:54] karato commented on #1125
@amihaiemil I set the milestone to 3.1 since there is nothing set yet

[2016-09-02 12:55] karato commented on #1120
@amihaiemil thank you

[2016-09-02 13:14] karato commented on #1125
@amihaiemil thanks for the ticket, your account was topped for 15 mins, payment AP-3W81335326133973M

[2016-09-02 15:29] karato commented on #841
@amihaiemil thanks for that

[2016-09-02 15:46] karato commented on #1122
@amihaiemil thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-96711558B8879473D`

[2016-09-03 04:52] amihaiemil commented on #1120
@krzyk the pr has been merged. Can you close this issue? Thanks

[2016-09-03 08:26] amihaiemil commented on #841
@karato the PR was merged. Please close this issue

[2016-09-03 09:36] karato commented on #1126
@dmzaytsev please do something about this issue

[2016-09-03 11:49] karato commented on #1119
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-09-03 20:41] krzyk commented on #1120
@amihaiemil thanks

[2016-09-03 20:41] #1120 closed

[2016-09-04 14:32] #841 closed

[2016-09-04 14:32] karato commented on #841
@dmzaytsev I am closing it, thanks all

[2016-09-04 14:33] karato commented on #841
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-09-05 10:59] karato commented on #1120
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-09-05 11:24] ypshenychka commented on #1120
@karato Quality is good.

[2016-09-05 11:42] ypshenychka commented on #841
@karato Quality is good.

[2016-09-05 11:46] ypshenychka commented on #1119
@karato Quality is good.

[2016-09-05 14:46] karato commented on #841
@ypshenychka thanks for the review and a good remark

[2016-09-05 14:46] karato commented on #1120
@ypshenychka many thanks

[2016-09-05 14:46] karato commented on #1119
@ypshenychka thanks for the review

[2016-09-05 15:08] karato commented on #841
@amihaiemil I added 10 mins to @ypshenychka (for QA review) in transaction 99209429; Thanks so much! Your account was topped up for **45 mins** (transaction ID is `AP-6YB14967XU653835C`, the task took 27 hours and 18 mins); m=1638, that's why a bonus here for fast delivery; added +45 to your rating, now it is equal to [+390](http://www.netbout.com/b/36402?open=rating)

[2016-09-05 16:56] karato commented on #1120
@amihaiemil I added 10 mins to @ypshenychka (for QA review) in transaction 99369650

I added **38 mins** to your account, many thanks for working with the project (AP-4CY72412JH523225F)! The completion time here was 48 hours and 24 mins.

there is a bonus for fast delivery (m=2904)

+38 to your rating, your total score is [+428](http://www.netbout.com/b/36402?open=rating)

[2016-09-05 18:40] karato commented on #1119
@amihaiemil 10 mins was added to the account of @ypshenychka (for QA review), in transaction 99403416; **30 mins** was added to your account, many thanks for your contribution (payment AP-73W28244WA8950218)! The task took 87 hours and 20 mins.; +30 added to your rating, at the moment it is: [+458](http://www.netbout.com/b/36402?open=rating)

[2016-09-07 12:50] amihaiemil commented on #1126
@dmzaytsev what do you think here? :D

[2016-09-13 10:09] amihaiemil commented on #1118
@dmzaytsev Can I have this task?

[2016-09-15 13:22] dmzaytsev commented on #1118
@karato assign @amihaiemil please

[2016-09-15 13:24] dmzaytsev commented on #1126
@amihaiemil I'm not sure as email is a private thing
@yegor256 what do you think?

[2016-09-15 15:09] karato commented on #1118
@dmzaytsev done. @amihaiemil you are assigned to this task. please proceed...

[2016-09-19 20:57] amihaiemil commented on #1118
@karato PR #1129 is for this

[2016-09-20 09:13] karato commented on #1118
@amihaiemil thanks for that

[2016-09-20 09:13] karato opened #1130 "Re-estimate project size"
The latest estimate is rather old (created on 13-Aug-2016),we have to create a new one as explained [here](https://github.com/teamed/est)

[2016-09-20 09:27] karato commented on #1130
@ail-man This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-09-20 11:52] karato commented on #1130
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2016-09-26 10:41] amihaiemil commented on #1118
@krzyk the PR was merged; please close this issue if it's ok with you

[2016-09-26 11:00] krzyk commented on #1118
@amihaiemil thanks

[2016-09-26 11:00] #1118 closed

[2016-09-27 14:49] karato commented on #1118
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-09-27 18:57] elenavolokhova commented on #1118
@karato  Looks good!

[2016-09-27 21:01] karato commented on #1118
@elenavolokhova thanks a lot :)

[2016-09-27 21:22] karato commented on #1118
@amihaiemil 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 101922351... done, I added **30 mins** in payment `AP-7U21695605532842X`, 263 hours and 10 mins spent to complete this... +30 added to your rating, at the moment it is: [+519](http://www.netbout.com/b/36402?open=rating)

[2016-10-14 15:51] karato commented on #738
@dmzaytsev the last puzzle `738-4d284963`/#841 solved

[2016-11-21 20:54] yegor256 commented on #1126
@dmzaytsev yes, it's a private thing, we shouldn't do that

[2016-11-22 06:59] yegor256 commented on #1121
@dmzaytsev we can make it downloadable in HTML (we can easily convert to HTML from Markdown, right)

[2016-12-21 13:40] #638 closed

[2016-12-21 13:40] #641 closed

[2016-12-21 13:40] #700 closed

[2016-12-21 13:40] #705 closed

[2016-12-21 13:40] #729 closed

[2016-12-21 13:40] #775 closed

[2016-12-21 13:40] #826 closed

[2016-12-21 13:40] #953 closed

[2016-12-21 13:40] #965 closed

[2016-12-21 13:40] #966 closed

[2016-12-21 13:40] #968 closed

[2016-12-21 13:40] #973 closed

[2016-12-21 13:40] #1003 closed

[2016-12-21 13:40] #1028 closed

[2016-12-21 13:40] #1047 closed

[2016-12-21 13:40] #1061 closed

[2016-12-21 13:40] #1062 closed

[2016-12-21 13:40] #1063 closed

[2016-12-21 13:40] #1096 closed

[2016-12-21 13:40] #1105 closed

[2016-12-21 13:40] #1106 closed

[2016-12-21 13:40] #1107 closed

[2016-12-21 13:40] karato commented on #638
@dmzaytsev Closed, done, thanks all

[2016-12-21 13:40] karato commented on #641
@dmzaytsev Finished, thanks, closing..

[2016-12-21 13:40] karato commented on #700
@dmzaytsev The issue should be closed..

[2016-12-21 13:40] karato commented on #705
@dmzaytsev The task is done, thanks all, I am closing it

[2016-12-21 13:40] karato commented on #729
@dmzaytsev Finished, thanks, closing..

[2016-12-21 13:40] karato commented on #775
@dmzaytsev Done, thanks all, closing..

[2016-12-21 13:40] karato commented on #826
@dmzaytsev I'm closing the issue...

[2016-12-21 13:40] karato commented on #953
@dmzaytsev Thanks all, closed

[2016-12-21 13:40] karato commented on #965
@dmzaytsev Thanks, closed

[2016-12-21 13:40] karato commented on #966
@dmzaytsev Closed, done, thanks all

[2016-12-21 13:40] karato commented on #968
@dmzaytsev The issue is closed

[2016-12-21 13:40] karato commented on #973
@dmzaytsev Done, thanks all, closing..

[2016-12-21 13:40] karato commented on #1003
@dmzaytsev Closed, thanks all

[2016-12-21 13:40] karato commented on #1028
@dmzaytsev We are done here, thanks all

[2016-12-21 13:40] karato commented on #1047
@dmzaytsev Thanks, closed

[2016-12-21 13:40] karato commented on #1061
@dmzaytsev The task is done, thanks all, I am closing it

[2016-12-21 13:40] karato commented on #1062
@dmzaytsev The task is done, thanks all, I am closing it

[2016-12-21 13:40] karato commented on #1063
@dmzaytsev Closing this issue now...

[2016-12-21 13:40] karato commented on #1096
@dmzaytsev Closing, thanks all

[2016-12-21 13:40] karato commented on #1105
@dmzaytsev I am closing it, thanks all

[2016-12-21 13:40] karato commented on #1106
@dmzaytsev Thanks, closing it now.

[2016-12-21 13:40] karato commented on #1107
@dmzaytsev I am closing it, thanks all

[2016-12-21 13:41] karato commented on #973
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-12-21 14:50] elenavolokhova commented on #973
@karato Quality is bad as far as no PR or any other work is associated with this issue.

[2016-12-21 17:25] karato commented on #973
@elenavolokhova OK, thanks, we'll try to be better next time

[2016-12-21 17:41] karato commented on #973
@danff just added 10 mins to @elenavolokhova (for QA), payment ID is `111968003`

[2017-01-30 15:52] karato commented on #1
@yegor256 last puzzled solved `1-b5151558`/#638

[2017-01-30 15:52] karato commented on #610
@yegor256 last puzzled solved `610-76d661ee`/#641

[2017-01-30 15:52] karato commented on #682
@dmzaytsev the last puzzle `682-2583dc75`/#1003 originated from here solved

[2017-01-30 15:52] karato commented on #603
@yegor256 Last 2 puzzles came from here were resolved: `603-0cf011c2`/#700, `603-5d374ee5`/#705

[2017-01-30 15:52] karato commented on #643
@dmzaytsev the last puzzle `643-0c6bbfa8`/#729 solved

[2017-01-30 15:52] karato commented on #602
@yegor256 the last puzzle `751-6f10d03b`/#775 solved

[2017-01-30 15:52] karato commented on #751
@dmzaytsev the last puzzle `751-6f10d03b`/#775 originated from here solved

[2017-01-30 15:52] karato commented on #806
@hs3180 the last puzzle `806-1e507f57`/#826 solved

[2017-01-30 15:52] karato commented on #750
@antonini last 2 puzzles `750-23d45618`/#953, `954-b453159b`/#973 that originated from here were solved

[2017-01-30 15:52] karato commented on #954
@dmzaytsev the last puzzle `954-b453159b`/#973 solved

[2017-01-30 15:53] karato commented on #911
@mkordas last 3 puzzles `911-a1464331`/#965, `911-20c870d4`/#966, `911-1ad8e6c0`/#968 that originated from here were solved

[2017-01-30 15:53] karato commented on #961
@exper0 Last 3 puzzles came from here were resolved: `1012-2dfa2c65`/#1063, `1012-7ae4ec06`/#1061, `1012-68768ab8`/#1062

[2017-01-30 15:53] karato commented on #1012
@dmzaytsev last 3 puzzles originated from here are solved: `1012-2dfa2c65`/#1063, `1012-7ae4ec06`/#1061, `1012-68768ab8`/#1062

[2017-01-30 15:53] karato commented on #1013
@krzyk last puzzled solved `1013-d9e5eb87`/#1028

[2017-01-30 15:53] karato commented on #1025
@yegor256 the last puzzle `1025-adc69076`/#1047 originated from here solved

[2017-01-30 15:53] karato commented on #839
@dmzaytsev last 2 puzzles `1090-b1fba4c1`/#1106, `1090-d49470f5`/#1105 originated from here were solved

[2017-01-30 15:53] karato commented on #1090
@dmzaytsev last 2 puzzles `1090-b1fba4c1`/#1106, `1090-d49470f5`/#1105 that originated from here were solved

[2017-01-30 15:53] karato commented on #1103
@dmzaytsev the last puzzle `1103-520ca7fd`/#1107 originated from here solved

[2017-05-11 14:42] 0pdd opened #1131 "DyInbox.java:134-140: DynamoDBLocal doesn't work with all..."
The puzzle `1-b5151558` in [`netbout-web/src/main/java/com/netbout/dynamo/DyInbox.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/dynamo/DyInbox.java) (lines 134-140) has to be resolved: DynamoDBLocal doesn't work with all attributes in global index. If we remove this check for a local version, most tests fail. I'm not sure how to fix that. I suspect, i

[2017-05-11 14:42] 0crat commented on #1131
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-11 14:42] 0pdd opened #1132 "TkStartTest.java:54-57: Test case for negative scenario of..."
The puzzle `610-76d661ee` in [`netbout-web/src/test/java/com/netbout/rest/bout/TkStartTest.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/test/java/com/netbout/rest/bout/TkStartTest.java) (lines 54-57) has to be resolved: Test case for negative scenario of TkStart should be added, e.g. when a friend is not found, the error should be reported correctly and bout creation shou

[2017-05-11 14:42] 0crat commented on #1132
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-11 14:42] 0pdd opened #1133 "RtBout.java:155-157: Implement getting subscription by..."
The puzzle `682-2583dc75` in [`netbout-client/src/main/java/com/netbout/client/RtBout.java`](https://github.com/yegor256/netbout/blob/master/netbout-client/src/main/java/com/netbout/client/RtBout.java) (lines 155-157) has to be resolved: Implement getting subscription by alias. Should return subscription status for current boat, passing friend alias value using REST service call.

The puzzle was c

[2017-05-11 14:42] 0crat commented on #1133
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-11 14:42] 0pdd opened #1134 "DyInbox.java:62-65: Refactor DyInbox class to avoid..."
The puzzle `603-0cf011c2` in [`netbout-web/src/main/java/com/netbout/dynamo/DyInbox.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/dynamo/DyInbox.java) (lines 62-65) has to be resolved: Refactor DyInbox class to avoid suppressing of PMD.TooManyMethods and PMD.ExcessiveImports warnings. for example there are some private static methods there, those coul

[2017-05-11 14:42] 0crat commented on #1134
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-11 14:42] 0pdd opened #1135 "DyMessages.java:68-71: Refactor DyMessages class to avoid..."
The puzzle `603-5d374ee5` in [`netbout-web/src/main/java/com/netbout/dynamo/DyMessages.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/dynamo/DyMessages.java) (lines 68-71) has to be resolved: Refactor DyMessages class to avoid suppressing of PMD.TooManyMethods and PMD.ExcessiveImports warnings. for example there are some private static methods there, t

[2017-05-11 14:42] 0crat commented on #1135
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-05-11 14:44] 0pdd commented on #1134
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-05-11 14:44] 0pdd commented on #1135
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-05-11 14:44] 0pdd commented on #1132
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-05-11 14:44] 0pdd commented on #1133
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-05-11 14:44] 0pdd commented on #1131
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 09:54] 0pdd opened #1136 "DyMessages.java:68-71: Refactor DyMessages class to avoid..."
The puzzle `603-5d374ee5` in [`netbout-web/src/main/java/com/netbout/dynamo/DyMessages.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/dynamo/DyMessages.java) (lines 68-71) has to be resolved: "Refactor DyMessages class to avoid suppressing of PMD.TooManyMethods and PMD.ExcessiveImports warnings. for example there are some private static methods there,

[2017-06-07 09:54] 0crat commented on #1136
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 09:54] 0pdd opened #1137 "bout.js:141-144: System should highlights a message..."
The puzzle `643-0c6bbfa8` in [`netbout-web/src/main/js/bout.js`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/js/bout.js) (lines 141-144) has to be resolved: "System should highlights a message when accessing it through message's permalink. This must be implemented on a different method and must be called over here and on the `else` statement of the same `if else` block."

[2017-06-07 09:54] 0crat commented on #1137
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 09:54] 0pdd opened #1138 "TkRegister.java:67-71: During the user registraton if the..."
The puzzle `751-6f10d03b` in [`netbout-web/src/main/java/com/netbout/rest/login/TkRegister.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/rest/login/TkRegister.java) (lines 67-71) has to be resolved: "During the user registraton if the invite-key` param presented in the original ticket (destination url) it should decrypt that value and use it to search

[2017-06-07 09:54] 0crat commented on #1138
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 09:54] 0pdd opened #1139 "MkAttachments.java:86-88: This method needs to be implemented..."
The puzzle `806-1e507f57` in [`netbout-client/src/main/java/com/netbout/mock/MkAttachments.java`](https://github.com/yegor256/netbout/blob/master/netbout-client/src/main/java/com/netbout/mock/MkAttachments.java) (lines 86-88) has to be resolved: "This method needs to be implemented because it is used in tests that read bout properties. Currently, this implementation always returns 0."

The puzzle

[2017-06-07 09:54] 0crat commented on #1139
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 09:54] 0pdd opened #1140 "TkStart.java:57-59: Solve the puzzle for build..."
The puzzle `750-23d45618` in [`netbout-web/src/main/java/com/netbout/rest/TkStart.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/rest/TkStart.java) (lines 57-59) has to be resolved: "Solve the puzzle for build mysteriously failing for this task citing a NullPointerException (See qulice issue #608 raised for the same) and then remove TkStart.java from q

[2017-06-07 09:54] 0crat commented on #1140
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 09:54] 0pdd opened #1141 "TkStartTest.java:63-65: TkStart should not create new bout..."
The puzzle `954-b453159b` in [`netbout-web/src/test/java/com/netbout/rest/bout/TkStartTest.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/test/java/com/netbout/rest/bout/TkStartTest.java) (lines 63-65) has to be resolved: "TkStart should not create new bout when same token is specified. When this is fixed, remove @Ignore from handlesTokens test"

The puzzle was created by c

[2017-06-07 09:54] 0crat commented on #1141
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 09:54] 0pdd opened #1142 "pom.xml:184-189: Fix findbugs errors in client Some..."
The puzzle `911-a1464331` in [`netbout-client/pom.xml`](https://github.com/yegor256/netbout/blob/master/netbout-client/pom.xml) (lines 184-189) has to be resolved: "Fix findbugs errors in client Some issues may not require fixing an should be excluded. Filters in qulice 0.12 are broken, right excludes should be more granular. I think it should be resolved when #961 completed due to broken Findbugs

[2017-06-07 09:54] 0crat commented on #1142
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 09:54] 0pdd opened #1143 "pom.xml:94-100: Fix findbugs errors in SPI classes..."
The puzzle `911-20c870d4` in [`netbout-spi/pom.xml`](https://github.com/yegor256/netbout/blob/master/netbout-spi/pom.xml) (lines 94-100) has to be resolved: "Fix findbugs errors in SPI classes Friends and Attachemtns Some issues may not require fixing and should be excluded. filters in qulice 0.12 are broken, right excludes should be more granular. I think it should be resolved when #961 completed

[2017-06-07 09:54] 0crat commented on #1143
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 09:54] 0pdd opened #1144 "pom.xml:730-735: Fix findbugs errors in web Some..."
The puzzle `911-1ad8e6c0` in [`netbout-web/pom.xml`](https://github.com/yegor256/netbout/blob/master/netbout-web/pom.xml) (lines 730-735) has to be resolved: "Fix findbugs errors in web Some issues may not require fixing an should be excluded. Filters in qulice 0.12 are broken, right excludes should be more granular. I think it should be resolved when #961 completed due to broken Findbugs filters

[2017-06-07 09:54] 0crat commented on #1144
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 09:54] 0pdd opened #1145 "NbRule.java:42-45: No public static methods are allowed...."
The puzzle `1012-2dfa2c65` in [`netbout-client/src/test/java/com/netbout/client/NbRule.java`](https://github.com/yegor256/netbout/blob/master/netbout-client/src/test/java/com/netbout/client/NbRule.java) (lines 42-45) has to be resolved: "No public static methods are allowed. This class should be refactored to not contain any of them. The method get() should either be an instance method with refren

[2017-06-07 09:54] 0crat commented on #1145
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 09:54] 0pdd opened #1146 "pom.xml:754-757: These excludes were added because of..."
The puzzle `1012-7ae4ec06` in [`netbout-web/pom.xml`](https://github.com/yegor256/netbout/blob/master/netbout-web/pom.xml) (lines 754-757) has to be resolved: "These excludes were added because of the upgrade to qulice 0.16.2. The new version of qulice adds some javadocs rules and also regexp rules for imported some wrong classes which should be replaced with others."

The puzzle was created by Da

[2017-06-07 09:54] 0crat commented on #1146
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 09:54] 0pdd opened #1147 "Ports.java:42-44: This class should not be left as..."
The puzzle `1012-68768ab8` in [`netbout-web/src/main/java/com/netbout/misc/Ports.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/misc/Ports.java) (lines 42-44) has to be resolved: "This class should not be left as utility one. All methods became static because of checkstyle NonStaticMethodCheck introduced after qulice upgrade to 0.15.2 and the contructo

[2017-06-07 09:54] 0crat commented on #1147
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 09:54] 0pdd opened #1148 "pom.xml:193-197: Fix findbugs errors in mock. There..."
The puzzle `1013-d9e5eb87` in [`netbout-client/pom.xml`](https://github.com/yegor256/netbout/blob/master/netbout-client/pom.xml) (lines 193-197) has to be resolved: "Fix findbugs errors in mock. There are issues with classes that use jcabi-aspects annotations and they are causing the false violation positives. This will be resolved when issue teamed/qulice#706 is closed."

The puzzle was created b

[2017-06-07 09:54] 0crat commented on #1148
@0pdd I'm not managing this repo, remove the [webhook](https://github.com/yegor256/netbout/settings/hooks) or contact me in [Slack](http://www.zerocracy.com) //cc @yegor256

[2017-06-07 10:05] 0pdd commented on #1148
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 10:05] 0pdd commented on #1147
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 10:05] 0pdd commented on #1145
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 10:05] 0pdd commented on #1146
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 10:05] 0pdd commented on #1143
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 10:05] 0pdd commented on #1144
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 10:05] 0pdd commented on #1141
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 10:05] 0pdd commented on #1142
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 10:05] 0pdd commented on #1138
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 10:05] 0pdd commented on #1140
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 10:05] 0pdd commented on #1137
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 10:05] 0pdd commented on #1139
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-06-07 10:05] 0pdd commented on #1136
I see you're talking to me, but I can't reply since I'm not a chat bot.

[2017-07-31 10:29] sumonmg opened #1149 "Error"
java.lang.IllegalStateException: [GET http://www.netbout.com/?PsByFlag=PsFacebook&code=AQAhWLGvSXefCFKw175vrWZgkMaIR6SZ1V8uOKF6t5nwyiUnEEM-Tebl4T0QjA_FmbGkRTuEEDJOAVuclEiOxB649uOYMaiM057o4MHlYRagltG_FPMeA-byps8QWlUOl2N3EEqFQTY-mzFoJ4eMhv7upfh3vV4T7_0eEsgpgI6dBnnrzEj1YKmezon2igfwdYAClb6cNCmatLfW2tsEJALvBUzXXB7vP33WQ5GSapc6kNn9enRUrVJbRSh9wO9aPuau1kwDhkeZDcuoq623NFBzzcG4kr4qMYX3Brxr6RSyTNSNst0o9mUfG

[2017-08-06 08:26] 0pdd opened #1150 "TkStart.java:57-59: Solve the puzzle for build..."
The puzzle `750-23d45618` (from #750) in [`netbout-web/src/main/java/com/netbout/rest/TkStart.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/rest/TkStart.java) (lines 57-59) has to be resolved: "Solve the puzzle for build mysteriously failing for this task citing a NullPointerException (See qulice issue #608 raised for the same) and then remove TkStart

[2017-08-06 08:26] 0pdd opened #1151 "NbRule.java:42-45: No public static methods are allowed...."
The puzzle `1012-2dfa2c65` (from #1012) in [`netbout-client/src/test/java/com/netbout/client/NbRule.java`](https://github.com/yegor256/netbout/blob/master/netbout-client/src/test/java/com/netbout/client/NbRule.java) (lines 42-45) has to be resolved: "No public static methods are allowed. This class should be refactored to not contain any of them. The method get() should either be an instance metho

[2017-08-06 08:26] 0pdd opened #1152 "pom.xml:544-547: This integration test doesn't work on..."
The puzzle `1025-adc69076` (from #1025) in [`netbout-web/pom.xml`](https://github.com/yegor256/netbout/blob/master/netbout-web/pom.xml) (lines 544-547) has to be resolved: "This integration test doesn't work on Mac OSX at all. I tried to run it a few times and every time all tests fail with some sort "timeout" problem. I'm not sure what it is. Let's try to fix and enable it again."

The puzzle was

[2017-08-06 08:26] 0pdd opened #1153 "RtAttachment.java:53-55: There is code duplication in public..."
The puzzle `1090-b1fba4c1` (from #1090) in [`netbout-client/src/main/java/com/netbout/client/RtAttachment.java`](https://github.com/yegor256/netbout/blob/master/netbout-client/src/main/java/com/netbout/client/RtAttachment.java) (lines 53-55) has to be resolved: "There is code duplication in public methods in this class: ctype(), etag(), unseen(), date(), author(), read() and write(). Please refact

[2017-08-06 08:26] 0pdd opened #1154 "DyAttachments.java:52-54: No public static literals are..."
The puzzle `1090-d49470f5` (from #1090) in [`netbout-web/src/main/java/com/netbout/dynamo/DyAttachments.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/dynamo/DyAttachments.java) (lines 52-54) has to be resolved: "No public static literals are recommended according to our methodology. This class should be refactored to not contain any of them. See: http

[2017-08-06 08:26] 0pdd opened #1155 "DyMessages.java:197-202: HttpException seems not really..."
The puzzle `1094-571b0dd7` (from #1094) in [`netbout-web/src/main/java/com/netbout/dynamo/DyMessages.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/dynamo/DyMessages.java) (lines 197-202) has to be resolved: "HttpException seems not really appropriate here in database layer. I think we have to throw something like BoutNotFoundException and process its

[2017-08-06 08:26] 0pdd opened #1156 "DyAttachment.java:168-171: please create a proper integration..."
The puzzle `1103-520ca7fd` (from #1103) in [`netbout-web/src/main/java/com/netbout/dynamo/DyAttachment.java`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/dynamo/DyAttachment.java) (lines 168-171) has to be resolved: "please create a proper integration test for both cases when attribute DyAttachments.ATTR_DATE exists before getting, when attribute DyAttachm

[2019-05-21 05:48] #936 closed

[2019-05-21 05:48] #899 closed

[2019-10-18 23:30] yegor256 opened #1157 "migrate to Dokku"

[2019-10-18 23:32] yegor256 commented on #1157
@rultor release, tag is `2.23.1`

[2019-10-19 00:12] yegor256 commented on #1157
@rultor ping

[2019-10-19 09:58] yegor256 commented on #1157
@rultor release, tag is `2.23.1`

[2019-10-19 10:01] rultor commented on #1157
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20650-544006173)

[2019-10-19 12:02] rultor commented on #1157
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20650-544006173) (spent 2hr)

[code]

[2019-10-19 12:06] rultor commented on #1157
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-10-19 12:08] rultor commented on #1157
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20650-544122782)

[2019-10-19 12:11] rultor commented on #1157
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20650-544122782) (spent 3min)

[code]

[2019-10-19 12:12] yegor256 commented on #1157
@rultor release, tag is `2.23.1`

[2019-10-19 12:18] rultor commented on #1157
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20650-544137493)

[2019-10-19 12:26] rultor commented on #1157
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20650-544137493) (spent 7min)

[code]

[2020-09-28 16:09] HelloCoCooo opened #1159 "Dependency conflicts on com.jcabi:jcabi-log, leading to inconsistent program behaviors"
Hi, in **netbout/netbout-client**, there are mulptiple versions of library **com.jcabi:jcabi-log**. However, according to Maven's dependency management strategy: **_"first declaration wins"_**, only **com.jcabi:jcabi-log:0.15.1** can be loaded, and **com.jcabi:jcabi-log:0.17** will be shadowed.

As shown in the following figure, your project expects to invoke method **_<com.jcabi.log.VerboseProces

[2020-09-28 16:09] HelloCoCooo commented on #1159
Executing the following test case on **com.jcabi:jcabi-log:0.15.1** and **0.17** separately, the risky method **_<com.jcabi.log.VerboseProcess: toString()Ljava/lang/String;>_** will get different return values:

[code]

Output results:

[code]

[2020-09-28 16:09] HelloCoCooo commented on #1159
@yegor256 Could please help me check this issue?
May I pull a request to fix it?
Thanks again.

[2020-09-29 04:30] yegor256 commented on #1159
@HelloCoCooo definitely, you are welcome to submit a pull request!