[2015-09-14 12:40] dmzaytsev commented on #750
@yegor256 I meant not fully implementation of any OTP, we don't need to verify an access. All we need is the prevention of duplicates.
You will forward the user to `http://www.netbout.com/start?post=hello&token=<token>`
where <token> is a random string, UUID for instance.
There will be set Guava like cache with  the size/time-based eviction policy on Netbout side.
On /start GET request we will sea

[2015-09-14 17:17] yegor256 commented on #750
@dmzaytsev I like this idea with a "token". And let's make it optional. If there is no "token", we assume it is equal to `nothing`. But if it is set, we pass this request though a cache, just like you suggested. Let's keep this cache for, say, 1 hour. That will be enough. Good idea!

[2015-09-15 03:50] dmzaytsev commented on #784
@karato assign me to this please

[2015-09-15 11:01] karato commented on #784
@dmzaytsev this task is yours now, please proceed

[2015-09-15 11:13] dmzaytsev commented on #784
@karato please see PR #785

[2015-09-15 11:14] dmzaytsev commented on #784
@yegor256 fixed in PR #785 close the ticket please if alright

[2015-09-15 12:43] yegor256 commented on #784
@dmzaytsev let's release 2.17.1 with this feature on board?

[2015-09-15 12:43] yegor256 commented on #784
@dmzaytsev thanks for the fix!

[2015-09-15 12:43] #784 closed

[2015-09-15 14:50] karato commented on #784
@dmzaytsev thank you, I will check it

[2015-09-15 15:15] dmzaytsev commented on #782
@rultor release, tag=`2.17.1`

[2015-09-15 15:16] rultor commented on #782
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5141-140425237)

[2015-09-15 15:37] rultor commented on #782
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/5141-140425237) (took me 21min)

[2015-09-15 15:40] dmzaytsev commented on #784
@yegor256 done

[2015-09-15 15:41] dmzaytsev commented on #782
@karato release `2.17.1` is final

@yegor256 are you agree? please confirm

[2015-09-15 16:02] yegor256 commented on #784
@dmzaytsev thanks!

[2015-09-15 17:52] dmzaytsev opened #786 "unable to logon via Google"
when I tried to logon via Google I got exception
see the screenshot below
![image](https://cloud.githubusercontent.com/assets/9972909/9884906/d0844874-5bfb-11e5-8ef7-af554474938c.png)

[2015-09-15 17:56] dmzaytsev commented on #786
@karato this is valid bug

[2015-09-15 18:23] karato commented on #786
@dmzaytsev tag "bug" added

[2015-09-15 18:28] karato commented on #782
@dmzaytsev There are a few concerns:

some tasks are stuck: #717 (82 days), #737 (66 days), #736 (66 days), #739 (65 days), #738 (65 days), #748 (56 days), #750 (50 days), #756 (37 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

-25 to your rating, your total score is [+1152](http://www.netbout.com/

[2015-09-15 18:54] dmzaytsev opened #787 "incorrect value for `unread messages` in favicon"
there is  incorrect value for `unread messages` in favicon.
the value not be changed when the message has been read.
I think this line in `CdInbox.unread()`
`@Cacheable(lifetime = Tv.FIVE, unit = TimeUnit.HOURS)` is the reason
we should clear the cache when a message been read.

[2015-09-15 18:55] dmzaytsev commented on #787
@karato it's a valid bug

[2015-09-15 19:53] karato commented on #786
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2015-09-15 19:54] karato commented on #787
@dmzaytsev I tagged this as "bug"

[2015-09-15 20:16] karato commented on #787
@dmzaytsev attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-09-16 05:02] yegor256 commented on #786
@dmzaytsev I see this in logs:

[code]

[2015-09-16 08:00] yegor256 opened #788 "new users don't have avatars"
All new users I see in Netbout don't have avatars. I think it's some bug in our system. All other avatars work just fine, but new users have "unknown" images.

[2015-09-16 09:07] karato commented on #788
@yegor256 tagged this issue with "indie"

[2015-09-16 09:11] karato commented on #786
@dmzaytsev many thanks, **30 mins** added to your acc for reporting this bug, pmt ID `65326527`

[2015-09-16 10:22] karato commented on #788
@yegor256 I set the milestone to 3.1 since there is nothing set yet

[2015-09-16 10:28] karato commented on #776
@hs3180 please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here... Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-09-16 10:28] karato commented on #787
@dmzaytsev thanks for reporting! I topped your account for 30 mins, transaction 65328765

[2015-09-16 12:29] karato commented on #732
@hs3180 it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-09-16 12:29] karato commented on #788
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-3498d692

[2015-09-16 16:09] dmzaytsev commented on #788
@karato valid bug

[2015-09-16 16:33] karato commented on #784
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-09-16 17:04] dmzaytsev commented on #786
@yegor256 I wonder why it use invalid link `https://accounts.google.com/o%2Foauth2%2Ftoken`
it has been fixed already in `0.23.3`
https://github.com/yegor256/takes/commit/8eb99ecc0f72c3b30a170bc56f19a00588bab985

[2015-09-16 17:36] yegor256 commented on #786
@dmzaytsev it looks strange to me too

[2015-09-17 04:55] elenavolokhova commented on #784
@alex-palevsky Quality is good here.

[2015-09-17 07:08] dmzaytsev commented on #784
@elenavolokhova,  @karato is PM here :)

[2015-09-17 07:13] elenavolokhova commented on #784
@dmzaytsev ooops :) Thanks!

[2015-09-17 07:14] elenavolokhova commented on #784
@karato Quality is good here.

[2015-09-17 10:22] karato commented on #784
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2015-09-17 10:26] karato commented on #763
@dmzaytsev Done, thanks all, closing..

[2015-09-17 10:26] #763 closed

[2015-09-17 10:29] karato commented on #784
@dmzaytsev I added 10 mins to @elenavolokhova (for QA review) in transaction 65366512. done, I added **1 hour** in payment `65366521`, 3 hours and 47 mins spent to complete this. the bonus for fast delivery (m=227). +60 added to your rating, current score is: [+1322](http://www.netbout.com/b/35166?open=rating)

[2015-09-17 16:24] hs3180 commented on #776
@dmzaytsev unit test failed in netbout-client when I run

    mvn clean install -Dnetbout.token=xxx

It showed me that:

    -------------------------------------------------------------------------------
    Test set: com.netbout.client.RtAliasITCase
    -------------------------------------------------------------------------------
    Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elaps

[2015-09-17 16:33] dmzaytsev commented on #776
@hs3180 I think #737 is the reason
Let's try ignore this test

[2015-09-18 02:17] hs3180 commented on #776
@dmzaytsev
I added netbout.url property functionality, but I found that `RtFriendsITCase` test will get stuck when there is no alias called `alex` in a local snapshot.
By using the method mentioned in #584 , a fake `alex` user added and passed all the client integration tests.
Should I document it in `README.md` or fire a new ticket about it?

[2015-09-18 05:55] abilasharjunan opened #789 "Had an error while I signed up through my gmail account. Have pasted the return error code."
javax.json.stream.JsonParsingException: Not Found
	at com.jcabi.http.response.JsonResponse$VerboseReader.readObject(JsonResponse.java:161)
	at org.takes.facets.auth.social.PsGoogle.fetch(PsGoogle.java:150)
	at org.takes.facets.auth.social.PsGoogle.enter(PsGoogle.java:129)
	at org.takes.facets.auth.PsByFlag.enter(PsByFlag.java:108)
	at org.takes.facets.auth.PsChain.enter(PsChain.java:70)
	at com.ne

[2015-09-18 08:58] dmzaytsev commented on #789
@abilasharjunan we have already the ticket #786 for this bug

[2015-09-18 09:11] dmzaytsev commented on #776
@hs3180 I think it's the bug #773
I can assign you to that ticket if you want
we will discuss there how we can fix this bug

[2015-09-18 09:14] dmzaytsev commented on #772
@karato this issue is invalid

[2015-09-18 09:16] dmzaytsev commented on #776
@hs3180 if you're ready please create a new pull request with netbout.url property functionality

[2015-09-18 09:23] hs3180 commented on #776
@dmzaytsev PR #790 created, please review.

[2015-09-18 09:42] hs3180 commented on #776
@dmzaytsev PR #790 created. Please review it.

[2015-09-18 09:51] hs3180 commented on #776
@dmzaytsev

You can run the integration tests as follow while a local netbout server is running on 8080:

    mvn clean install -Dnetbout.token=XXXX -Dnetbout.url=http://localhost:8080

But there is a more step you should do.

*open this URL on your local server __http://localhost:8080/?PsByFlag=fake-user&urn=urn:test:12345__ and give the user a alias __alex__*

It is because `RtFriendsITCase` tri

[2015-09-18 10:07] dmzaytsev commented on #776
@hs3180 you're right, sorry
please submit a new ticket about this bug

[2015-09-18 10:46] hs3180 opened #791 "netbout-client integration tests get stuck at RtFriendsITCase"
start a local netbout server:

    mvn clean install -Phit-refresh -Dport=8080

run netbout-client integration tests(at netbout-client directory):

    mvn clean verify -Dnetbout.token=xxx -Dnetbout.url=http://localhost:8080

then, it will get stuck like this:

    [INFO] --- maven-failsafe-plugin:2.17:integration-test (default) @ netbout-client ---
    [WARNING] useSystemClassloader setting has n

[2015-09-18 10:50] karato commented on #772
@dmzaytsev sure, thanks, I added "invalid" label to it

[2015-09-18 11:13] dmzaytsev commented on #791
@karato it's a valid bug

[2015-09-18 11:17] #772 closed

[2015-09-18 13:01] karato commented on #791
@dmzaytsev I tagged this as "bug"

[2015-09-18 13:50] dmzaytsev commented on #776
@hs3180 just for information, you should ask the ticket reporter to close the ticket and mention the pull request that fixed the issue

[2015-09-18 13:50] #776 closed

[2015-09-18 13:53] carlosmiranda opened #792 "Not receiving all messages in a subscribed bout"
In the netbout conversation below, I'm subscribed to it from the moment `@alice` mentions me:

![netbout - copy](https://cloud.githubusercontent.com/assets/1917892/9960732/ec7231ea-5e4e-11e5-8ecb-7cf1d755db85.PNG)

However, I only ever received notifications for messages sent by `@alice`. The subsequent messages posted by `@shelan` did not trigger any email notifications. The message highlighted i

[2015-09-18 14:04] carlosmiranda opened #793 "View/Change subscription status from home page"
When I enter a conversation, I see a bell icon next to the title which tells me whether I'm subscribed to it or not. I can also click it to toggle the subscription status:

![netbout-inbout](https://cloud.githubusercontent.com/assets/1917892/9961056/03f38222-5e51-11e5-9a14-e151d5041db3.PNG)

However, I can't see which conversations I'm subscribed to from the home page:

![netbout-home](https://clo

[2015-09-18 14:11] hs3180 commented on #776
thank you for your remind.

PR #790 solved this ticket. @dmzaytsev please close this.

[2015-09-18 15:17] karato commented on #791
@hs3180 I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-09-18 15:27] karato commented on #791
@hs3180 thank you for reporting this, I added 15 mins to your acc, transaction `AP-09N90667A9921863J`

[2015-09-18 16:10] dmzaytsev commented on #792
@carlosmiranda I think it duplicates #695
Are you agree?

[2015-09-18 16:11] dmzaytsev commented on #793
@carlosmiranda thanks for reporting

[2015-09-18 16:11] dmzaytsev commented on #793
@karato it's a valid bug

[2015-09-18 16:55] hs3180 opened #794 "document default encoding issue"
running netbout-web unit tests in simplified chinese windows will cause following failure:

      <testcase name="redirectsToReturnCookie" classname="com.netbout.rest.TkAppTest" time="0.417">
        <error message="default encoding is GBK" type="java.lang.IllegalStateException"><![CDATA[java.lang.IllegalStateException: default encoding is GBK
    	at com.netbout.rest.TkApp.make(TkApp.java:120)

[2015-09-18 17:26] karato commented on #793
@dmzaytsev I just added bug tag here

[2015-09-18 18:16] karato commented on #793
@carlosmiranda milestone set to `3.1` (correct me if I am wrong)

[2015-09-18 18:28] karato commented on #793
@carlosmiranda thanks a lot for reporting, **15 mins** added to your acc, pmt ID `65412302`

[2015-09-18 19:44] karato commented on #782
@dmzaytsev please, pay attention to this:

some tasks are stuck: #717 (85 days), #737 (69 days), #736 (69 days), #739 (69 days), #738 (69 days), #748 (59 days), #750 (54 days), #756 (40 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

-25 added to your rating, current score is: [+1277](http://www.net

[2015-09-19 00:07] carlosmiranda commented on #792
@dmzaytsev yup you're right thanks. Closing...

[2015-09-19 00:07] #792 closed

[2015-09-19 07:07] hs3180 opened #795 "JSR-303 validator failed to initialize: Unable to instantiate Configuration"
After excluded MarkdownTest described in #767 , netbout-web building process still failed leaving following information:

    [INFO] --- jcabi-dynamodb-maven-plugin:0.7:start (dynamodb-integration-test) @ netbout-web ---
    九月 19, 2015 3:16:48 上午 org.hibernate.validator.internal.util.Version <clinit>
    INFO: HV000001: Hibernate Validator 5.1.0.Final
    [ERROR] JSR-303 validator failed to initi

[2015-09-19 07:35] hs3180 opened #796 "netbout-client integration test RtInboxITCase"
RtInboxITCase fails when tests with an empty netbout account.

To reproduce the problem:
1. set up a local netbout-web

   `mvn clean install -Phit-refresh -Dport=8080`
2. find your token as in [README](https://github.com/yegor256/netbout#integration-tests)
3. run RtInboxITCase in netbout-client

   `cd netbout-client`
   `mvn -Dit.test=RtInboxITCase clean verify -Dnetbout.token=${your_token} -Dne

[2015-09-19 15:42] karato commented on #776
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-09-20 07:47] longtimeago opened #797 "Can't add an attachment with underscore"
Shouldn't it be possible to add and attachment with underscore, such as this one ```projects_evaluation.txt```?

Now I see a flash error ```invalid attachment name "projects_evaluation.txt" ```
It came from https://github.com/yegor256/netbout/blob/814170f92de98e2afefccf22217f7c924323e64a/netbout-web/src/main/java/com/netbout/dynamo/DyAttachments.java#L200

UPD: If it's by design, let's update erro

[2015-09-20 07:47] elenavolokhova commented on #776
@karato Quality is good here.

[2015-09-20 08:32] yegor256 commented on #797
@longtimeago it's by design. just `[a-z]+` names should be there, for simplicity

[2015-09-20 08:36] longtimeago commented on #797
@yegor256 Then the error message should be more meaningful, so the user will figure out what's wrong with his file and correct it

[2015-09-20 08:37] yegor256 commented on #797
@longtimeago yes, agree

[2015-09-20 11:02] karato commented on #776
@elenavolokhova thanks a lot

[2015-09-20 12:36] dmzaytsev commented on #797
@yegor256 what's wrong if the underscore in the attachment name with will be allowed? People often use the underscore in file names..

[2015-09-20 12:38] dmzaytsev commented on #789
@abilasharjunan please close this ticket

[2015-09-20 14:08] yegor256 commented on #797
@dmzaytsev I think it's always possible to give a name without an underscore... especially in scope of one bout. or I'm wrong?

[2015-09-20 15:23] dmzaytsev commented on #797
@yegor256 I guess you don't like an underscore, right? ))
of course it's possible...
someone uses underscores to break words in a filename,
someone else uses  low/uppercase for same goal
Camel case vs snake case you know...

@longtimeago the message like below will be enough?
`invalid attachment name "projects_evaluation.txt". Attachment name should match  regex [a-zA-Z\.\-0-9]{3,100}`

[2015-09-20 16:25] dmzaytsev commented on #795
@hs3180 `JSR-303 validator failed to initialize: Unable to instantiate Configuration` It's just warning message,
please provide other error messages after that

[2015-09-20 17:12] longtimeago commented on #797
@dmzaytsev I don't think someone is interested in our regexp :) It should be some user friendly message.

[2015-09-20 17:40] yegor256 commented on #797
@dmzaytsev yeah, I also think so... let's show something more user friendly..

[2015-09-20 18:02] karato commented on #776
@hs3180 I added 10 mins to @elenavolokhova (for QA review) in transaction 65455823; thanks, I just added **38 mins** to your account, payment `AP-61A43367SX3811819`, 52 hours and 50 mins spent; m=3170, that's why a bonus here for fast delivery; +38 to your rating, your total score is [+53](http://www.netbout.com/b/35610?open=rating)

[2015-09-20 18:37] dmzaytsev commented on #797
@longtimeago `attachment name can contains letters in upper or lower case, numbers, dots, dashes` ?

[2015-09-20 18:39] longtimeago commented on #797
@dmzaytsev kind of that

[2015-09-20 19:11] dmzaytsev commented on #797
@longtimeago fixed in #799 please close the ticket

[2015-09-20 19:13] longtimeago commented on #797
@dmzaytsev thanks

[2015-09-20 19:13] #797 closed

[2015-09-21 04:27] dmzaytsev commented on #717
@karato assign me to this please

[2015-09-21 04:45] hs3180 commented on #795
@dmzaytsev I am sorry for pasting the wrong error report. The really error report is following after add "-X -e" parameter

    [ERROR] PermGen space -> [Help 1]
    java.lang.OutOfMemoryError: PermGen space
            at sun.security.x509.X509CertImpl.parse(X509CertImpl.java:1781)
            at sun.security.x509.X509CertImpl.<init>(X509CertImpl.java:196)
            at sun.security.provider.X50

[2015-09-21 10:46] karato commented on #717
@dmzaytsev sure, the task is yours now

[2015-09-21 12:02] dmzaytsev commented on #717
@yegor256 fixed in #798 please close the ticket if alright

[2015-09-21 12:40] dmzaytsev commented on #794
@karato it's a valid bug

[2015-09-21 12:41] karato commented on #794
@dmzaytsev tag "bug" added

[2015-09-21 14:18] karato commented on #794
@hs3180 since there is no milestone yet I set it to "3.1"

[2015-09-21 14:29] karato commented on #794
@hs3180 thanks for reporting! I topped your account for 15 mins, transaction AP-07606277AJ7491150

[2015-09-21 16:26] karato commented on #748
@hs3180 this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-21 17:33] karato commented on #588
@hs3180 can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-21 18:54] yegor256 commented on #717
@dmzaytsev thanks!

[2015-09-21 18:54] #717 closed

[2015-09-22 11:10] karato commented on #782
@dmzaytsev There are a few problems in the project now:

some tasks in the project are "stuck": #737 (72 days), #736 (72 days), #739 (72 days), #738 (72 days), #748 (62 days), #750 (57 days), #756 (43 days), #754 (43 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them ([pa

[2015-09-23 09:46] karato commented on #717
@ypshenychka please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-09-23 12:17] ypshenychka commented on #717
@karato Quality is good.

[2015-09-23 13:40] karato commented on #717
@ypshenychka thanks a lot

[2015-09-23 13:47] karato commented on #717
@dmzaytsev just added 10 mins to @ypshenychka (for QA), payment ID is `65821708`. I added **1 hour** to your account, many thanks for working with the project! The completion time here was 65821724.. there is a bonus for fast delivery (m=599). +60 added to your rating, current score is: [+1261](http://www.netbout.com/b/35166?open=rating)

[2015-09-24 14:48] karato commented on #796
@dmzaytsev please do something about this issue

[2015-09-25 11:41] dmzaytsev commented on #789
@karato please put invalid tag here
and close this ticket

[2015-09-25 11:42] dmzaytsev commented on #773
@karato this is postponed

[2015-09-25 13:02] karato commented on #773
@dmzaytsev OK, I put "postponed" label here

[2015-09-25 13:02] karato commented on #773
@dmzaytsev I will try to find someone else

[2015-09-25 18:52] dmzaytsev commented on #795
@hs3180 unfortunately I can't reproduce this issue...
does the error is stable on your end?
could you provide a few lines before and after this? I need to know broken test name

[2015-09-27 16:01] longtimeago opened #800 "Missing page with DEV's statuses"
Sometimes developers are on vacation.
It's useful information for other developers/architects to plan their activities accordingly.
I propose to create a netbout page with statuses of each developer.
Kind of:
@longtimeago   away  (starting from ...)
@karato             available

[2015-09-27 16:12] dmzaytsev commented on #800
@longtimeago this is out of the scope of the project, sorry

I would suggest to report this to http://www.netbout.com/b/35298
or direct to @yegor256

[2015-09-27 16:12] longtimeago commented on #800
@dmzaytsev ok, no problem! Thanks

[2015-09-27 16:12] #800 closed

[2015-09-27 16:57] dmzaytsev commented on #789
@yegor256 could you close this? thank you

[2015-09-28 11:04] karato commented on #736
@bdragan please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-28 15:03] karato commented on #685
@dmzaytsev the last puzzle `685-6534dff2`/#713 solved

[2015-09-28 19:49] yegor256 commented on #786
@dmzaytsev it's a bit annoying to have this in production... can we make this urgent?

[2015-09-28 19:52] dmzaytsev commented on #786
@yegor256 can we force this https://github.com/yegor256/takes/issues/383 ?

[2015-09-28 21:08] yegor256 commented on #786
@dmzaytsev I will try...

[2015-09-28 21:08] #789 closed

[2015-09-28 22:29] bguidolim opened #801 ""Waiting" message showing unnecessarily"
When you access a bout with many messages that needs to be load with "endless scrolling" functionality and reach the bottom, the message "please, wait a second..." still showing even without more data to load.

Steps to reproduce:

  1 - Get a bout with many messages (mine has 23 messages)
  2 - Scroll to bottom
  3 - Wait loading
  4 - Reach the first bout's message
  5 - Look ate the bottom and

[2015-09-29 10:20] karato commented on #606
@dmzaytsev the last puzzle `606-457eb15d`/#723 originated from here solved

[2015-09-29 10:27] karato commented on #737
@dimonn12 this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-29 13:45] karato commented on #738
@dimonn12 this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-09-29 18:22] dmzaytsev commented on #795
@hs3180 ping

[2015-09-29 18:25] dmzaytsev commented on #801
@karato this is valid bug

[2015-09-29 18:49] karato commented on #801
@dmzaytsev tag "bug" added

[2015-09-29 19:47] karato commented on #801
@bguidolim since there is no milestone yet I set it to "3.1"

[2015-09-29 19:56] karato commented on #801
@bguidolim thanks for the ticket, your account was topped for 15 mins, payment AP-1DB382714C4081947

[2015-09-30 02:33] hs3180 commented on #795
@dmzaytsev
The error is **stable**. Below is the whole tail of console log if I didn't set a larger PermSize:

    [INFO] --- jcabi-dynamodb-maven-plugin:0.7:create-tables (dynamodb-integration-test) @ netbout-web ---
    [DEBUG] Configuring mojo com.jcabi:jcabi-dynamodb-maven-plugin:0.7:create-tables from plugin realm ClassRealm[plugin>com.jcabi:jcabi-dynamodb-maven-plugin:0.7, parent: sun.misc.L

[2015-09-30 16:38] dmzaytsev commented on #795
@hs3180 I have no idea how a future developer of this ticket can reproduce the issue...
sorry I can't set bug tag here

[2015-09-30 16:51] yegor256 commented on #795
@hs3180 check this out: http://stackoverflow.com/questions/88235/dealing-with-java-lang-outofmemoryerror-permgen-space-error

[2015-09-30 17:20] dmzaytsev commented on #695
@karato this is postponed

[2015-09-30 17:22] dmzaytsev commented on #637
@karato this is postponed

[2015-09-30 19:54] karato commented on #637
@dmzaytsev got it, "postponed" label here

[2015-09-30 19:54] karato commented on #637
@dmzaytsev someone else will help in this task, no problem at all

[2015-09-30 19:54] karato commented on #695
@dmzaytsev right, I added "postponed" label

[2015-09-30 19:54] karato commented on #695
@dmzaytsev someone else will help in this task, no problem at all

[2015-10-01 03:33] dmzaytsev commented on #695
@karato this task is not postponed anymore

[2015-10-01 03:33] dmzaytsev commented on #637
@karato this task is not postponed anymore

[2015-10-01 09:55] karato commented on #637
@dmzaytsev OK, I un-labeled it as "postponed" tag

[2015-10-01 09:55] karato commented on #695
@dmzaytsev right, I removed "postponed" tag

[2015-10-01 12:55] karato commented on #732
@hs3180 15 days already, in 48 hours I will re-assign; -30 added to your rating, at the moment it is: [+98](http://www.netbout.com/b/35610?open=rating)

[2015-10-01 16:25] dmzaytsev commented on #637
@karato we are waiting https://github.com/yegor256/takes/issues/400

[2015-10-01 16:25] dmzaytsev commented on #637
@karato this is postponed

[2015-10-01 16:26] dmzaytsev commented on #637
@karato please set milestone 3.1

[2015-10-01 17:41] karato commented on #637
@dmzaytsev right, I added "postponed" label

[2015-10-01 17:41] karato commented on #637
@dmzaytsev I will try to find someone else

[2015-10-01 17:41] karato commented on #637
@dmzaytsev I attached this issue to milestone `3.1`

[2015-10-02 21:12] bdragan commented on #736
@karato PR #802 created and ready for review.

[2015-10-05 11:00] karato commented on #736
@bdragan OK thanks

[2015-10-05 12:02] karato commented on #703
@super132 last puzzled solved `703-ca5668ad`/#753

[2015-10-05 15:53] dmzaytsev opened #803 "switch to an hourglass cursor when Netbout processes a request"
Sometimes when I click on Preview nothing happens for a while because request to netbout takes a long time.
Let's switch to an hourglass cursor when Netbout processes a request and then back to a normal cursor when the process has completed.

[2015-10-05 15:54] dmzaytsev commented on #803
@karato it's a valid bug

[2015-10-05 16:45] karato commented on #803
@dmzaytsev tagged this issue with "bug"

[2015-10-05 17:47] karato commented on #803
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2015-10-05 18:00] karato commented on #803
@dmzaytsev thank you for reporting this, I added 30 mins to your acc, transaction `66748676`

[2015-10-06 05:23] dmzaytsev commented on #736
@bdragan you should ask the ticket reporter to close the ticket
Also mention in which PR  the issue been resolved

[2015-10-06 06:34] dmzaytsev opened #804 "Gmail doesn't show actions in emails from netbout"
Right now we can't see Gmail action in emails from Netbout because registration on Google not completed yet.

Need to fill out the registration form
https://developers.google.com/gmail/markup/registering-with-google

Proper email body for sending to `schema.whitelisting+sample@gmail.com`
can be found here https://github.com/yegor256/netbout/pull/659#issuecomment-109174392
this email should be sent

[2015-10-06 06:34] dmzaytsev commented on #804
@karato it's valid bug

[2015-10-06 06:34] dmzaytsev commented on #804
@karato please assign @yegor256 to this

[2015-10-06 09:31] bdragan commented on #736
@yegor256 The PR #802 has been merged to master. This ticket can be closed. Thanks!

[2015-10-06 11:46] karato commented on #804
@dmzaytsev I just added bug tag here

[2015-10-06 13:47] karato commented on #804
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-10-06 14:59] karato commented on #804
@dmzaytsev yep, done. @yegor256 it is your task now

[2015-10-06 15:11] karato commented on #695
@pecko This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-10-06 15:11] karato commented on #804
@dmzaytsev thanks for the report, I topped your acc for 30 mins, payment ID `66784521`

[2015-10-06 15:33] pecko commented on #695
@karato @dmzaytsev

I have only one github account. You mean that I should create some helper accounts or there are some such accounts?

[2015-10-06 15:37] dmzaytsev commented on #695
@pecko yeah you should create one more github account
it's free :)

[2015-10-06 15:42] pecko commented on #695
@dmzaytsev

OK. Thanks.

[2015-10-06 15:56] yegor256 commented on #804
@dmzaytsev isn't it a duplicate of #546

[2015-10-06 16:09] dmzaytsev commented on #804
@yegor256 #546 closed, we already add gmail action support to Netbout. But
it doesn't work properly, it's a bug. I guess something wrong with
registering on google . Only product owner can do this ticket, that's why I
asked to assign it to you.

[2015-10-06 16:31] pecko commented on #695
@dmzaytsev @karato

I can reproduce the issue with two browsers/two accounts. When an account receives a message without email notification, email notification is dead for that bout. Log off/log on, notify off/notify on don't help.
I will try to fix it, but I don't know netbout enough (hoping for now) and maybe need more time.

[2015-10-06 16:38] dmzaytsev commented on #695
@pecko you have 10 days to complete a task.
According the policy http://www.teamed.io/policy.html#10 if you need more time just type
`@karato I need more time` right here in the ticket

[2015-10-06 17:16] karato commented on #748
@hs3180 the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. do not forget that the ticket will be closed once the `@todo` puzz

[2015-10-06 17:24] pecko commented on #695
@karato
That should be enough. Thanks.

[2015-10-06 18:29] karato commented on #695
@pecko no problem :)

[2015-10-06 18:39] karato commented on #739
@pecko this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-10-06 19:02] yegor256 commented on #804
@dmzaytsev but we can't fix it at the moment, because Google doesn't accept our application. We have to send at least 100 emails per day to be qualified for this feature. I think I explained it already in #546

[2015-10-06 20:30] yegor256 commented on #732
@karato I think we need someone else here

[2015-10-06 20:35] yegor256 commented on #736
@bdragan thanks!

[2015-10-06 20:35] #736 closed

[2015-10-06 20:38] karato commented on #732
@pecko could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here... The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-10-07 02:49] hs3180 opened #805 "MkBout.java:103-105: MkBout's updated method hasn't be implemented yet"
`updated` method in `MkBout` class always throws an `UnsupportedOperationException` now.

[2015-10-07 02:51] hs3180 commented on #748
@karato
`MkBout` can't work with TkInbox now because of #805.
I'm waiting for #805.

[2015-10-07 04:20] hs3180 opened #806 "MkAttachments.java:85-87: MkAttachments's unseen method hasn't be implemented yet"
`unseen` method in `MkAttachments` class always throws an `UnsupportedOperationException` now.

<hr id='w'>

 - ~~`806-43ee63d7`/#827~~ (by )
 - `806-1e507f57`/#826 (by )

[2015-10-07 04:21] hs3180 commented on #748
@karato
`MkAttachments` can't work because of #806.
I'm waiting for #806

[2015-10-07 11:10] karato commented on #732
@yegor256 30 points deducted from your rating

[2015-10-07 11:10] karato commented on #732
@yegor256 right, I will find someone else, no problem

[2015-10-07 11:19] karato commented on #588
@hs3180 you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. -30 added to your rating, current score is: [-142](htt

[2015-10-08 11:45] karato commented on #748
@hs3180 yes, right, let's wait for #805

[2015-10-08 11:45] karato commented on #748
@hs3180 yes, of course, we'll wait for #806

[2015-10-08 11:51] karato commented on #736
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-10-08 13:40] aaditgupta2 opened #807 "Execption ther while parsing jsin"

[2015-10-09 02:53] elenavolokhova commented on #736
@karato Quality is good here.

[2015-10-09 06:25] ashishsabhaya opened #808 "Internal Application Error Version: 2.17.1 Netbout team has already received a notification about this problem. We will investigate and fix as soon as possible. In the mean time, click "Back" button in your browser and try again. It may work"
javax.json.stream.JsonParsingException: Not Found
	at com.jcabi.http.response.JsonResponse$VerboseReader.readObject(JsonResponse.java:161)
	at org.takes.facets.auth.social.PsGoogle.fetch(PsGoogle.java:150)
	at org.takes.facets.auth.social.PsGoogle.enter(PsGoogle.java:129)
	at org.takes.facets.auth.PsByFlag.enter(PsByFlag.java:108)
	at org.takes.facets.auth.PsChain.enter(PsChain.java:70)
	at com.ne

[2015-10-09 06:27] ashishsabhaya commented on #808
I found this error while clicked on g+ inside netbout.com, please resolve it.

[2015-10-09 07:06] dmzaytsev commented on #808
@ashishsabhaya thanks for reporting
we have ticket #786 for this issue. I hope it will be resolved soon

[2015-10-09 07:07] dmzaytsev commented on #807
@aaditgupta2 thanks for reporting
we have ticket #786 for this issue. I hope it will be resolved soon

[2015-10-09 07:13] dmzaytsev commented on #804
@karato this is invalid

[2015-10-09 07:13] dmzaytsev commented on #804
@yegor256 Sorry, I hadn't knew about the restriction. You didn't tell me.
It looked like you forgot about filling the form. Sorry again
I'm  closing the ticket

[2015-10-09 07:13] #804 closed

[2015-10-09 07:15] dmzaytsev commented on #805
@hs3180 why do you need implementation of `MkBout.updated()`

[2015-10-09 07:16] dmzaytsev commented on #806
@hs3180 why do you need implementation of `MkAttachments.inseen()` ?

[2015-10-09 07:19] dmzaytsev commented on #795
@hs3180  Sorry I can't set bug tag here. it is not reproducible.
http://www.yegor256.com/2014/04/13/bugs-are-welcome.html#what-is-a-bug?
Please close the ticket

[2015-10-09 07:23] hs3180 commented on #805
@dmzaytsev
`TkInobx.source` retrieves bout information and builds sheets.
It needs `bout.updated()`.
When testing it, the `bout` is actually a `MkBout`, but `MkBout.updated()` only throws an `UnsupportedOperationException` right now.

[2015-10-09 07:25] hs3180 commented on #795
@dmzaytsev
ok, I will try to reproduce this bug in a ec2 instance if I can.

[2015-10-09 07:25] #795 closed

[2015-10-09 07:28] hs3180 commented on #806
@dmzaytsev
`TkInobx.source` retrieves bout information and builds sheets.
It needs `bout.attachements().unseen()`.
When testing it, the bout is actually a `MkBout`.
`bout.attachements` will give me a `MkAttachments`.
`MkAttachments.unseen()` will only throws an `UnsupportedOperationException` right now.

[2015-10-09 08:00] hs3180 commented on #588
@yegor256
I've started a snapshot `netbout-web` server.
The first user named `tester` opens a new bout which id is `1444377065085`.
register a new user named `alex`, and accesss this address : `http://localhost:8888/b/1444377065085`.
`netbout` gives me **page not found**.
![image](https://cloud.githubusercontent.com/assets/1643451/10388700/af0a1790-6e9e-11e5-96de-cdc7818b0ddd.png)

I think this is

[2015-10-09 08:02] dmzaytsev commented on #806
@karato it's a valid bug

[2015-10-09 08:03] dmzaytsev commented on #805
@karato it's a valid bug

[2015-10-09 08:08] dmzaytsev commented on #588
@hs3180 take a look this comment https://github.com/yegor256/netbout/issues/588#issuecomment-111860194
the browser should be redirected to root page in case of such errors
"page not found" should be displayed like message on screenshot in the comment

[2015-10-09 09:58] vimal82vats opened #809 "Netbout:-Internal Application Error"
Dear Team,

Netbout site is down throwing following exception. Please do the needful.

javax.json.stream.JsonParsingException: Not Found
	at com.jcabi.http.response.JsonResponse$VerboseReader.readObject(JsonResponse.java:161)
	at org.takes.facets.auth.social.PsGoogle.fetch(PsGoogle.java:150)
	at org.takes.facets.auth.social.PsGoogle.enter(PsGoogle.java:129)
	at org.takes.facets.auth.PsByFlag.enter

[2015-10-09 10:04] dmzaytsev commented on #809
@vimal82vats thanks for reporting
we have ticket #786 for this issue. I hope it will be resolved soon

[2015-10-09 12:18] karato commented on #736
@elenavolokhova thanks for the review and a good remark

[2015-10-09 12:18] karato commented on #804
@dmzaytsev sure, thanks, I added "invalid" label to it

[2015-10-09 12:18] karato commented on #805
@dmzaytsev tag "bug" added

[2015-10-09 12:18] karato commented on #806
@dmzaytsev I tagged this as "bug"

[2015-10-09 12:27] karato commented on #736
@bdragan just added 10 mins to @elenavolokhova (for QA), payment ID is `66930257`... Thanks for your contribution, **30 mins** was added to your account, payment ID is `66930270`, 216 hours and 7 mins spent total... +30 added to your rating, at the moment it is: [+45](http://www.netbout.com/b/35709?open=rating)

[2015-10-09 15:05] karato commented on #805
@hs3180 there is no milestone yet, so I set it to `3.1`

[2015-10-09 15:05] karato commented on #806
@hs3180 attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-10-09 15:19] karato commented on #806
@hs3180 thanks for the report, I topped your acc for 15 mins, payment ID `AP-32C10218H0367811U`

[2015-10-09 17:11] karato commented on #805
@hs3180 thanks for tis bug, I topped your account for 15 mins, transaction `AP-9J9054174W551444M`

[2015-10-09 17:59] pecko commented on #732
@karato @yegor256

Is this issue my or not?

[2015-10-09 18:40] yegor256 commented on #732
@karato assign this to @pecko pls

[2015-10-09 19:17] pecko opened #810 "How to create a more accounts on local server"
@dmzaytsev

I have created local server at http://localhost:8080 as described in README.
However, I couldn't (or don't know) create a more accounts.
There is only one account: tester
Is it possible create server similar to http://snapshot.netbout.com/ locally. It could sign up with google, github, facebook ...

[2015-10-09 19:20] pecko commented on #810
@dmzaytsev

This is related to my task: https://github.com/yegor256/netbout/issues/695
I'm not sure but it could be important: What database is used on http://snapshot.netbout.com/?

[2015-10-09 19:21] pecko commented on #695
@dmzaytsev  @karato

When I have tested the previous time I have reproduced the issue exactly how it described in the issue description.

Now, account 2 receives email notification not matter if she/he is subscribed or not.
I would like to start local server as http://snapshot.netbout.com/
I can created the server with
[code]
but this server has only one user: tester. I can't (or don't know) creat

[2015-10-09 19:51] karato commented on #732
@yegor256 yep, done. @pecko it is your task now

[2015-10-09 20:24] pecko commented on #739
@dmzaytsev @karato

I think that this issue depends on #738 that is still open. Right?

[2015-10-10 07:19] dmzaytsev commented on #739
@pecko you can process this ticket
no need to wait #738
furthermore the verification should be implemented before sending confirmation, isn't?

[2015-10-10 07:27] dmzaytsev commented on #810
@pecko try to use similar link `http://localhost:8080/?PsByFlag=fake-user&urn=urn:test:54321` to register a new user.

Amazon DynamoDB

[2015-10-10 11:21] pecko commented on #739
@dmzaytsev

What is the verification link? You mean the Save button or it must be added in some of these two tasks?

[2015-10-10 11:48] pecko commented on #810
@dmzaytsev

It works, but I can create only one user this way. There isn't any way to logout and get register page again.

Is there some documentation related to this project? I have seen general documentation about the takes project, but ask if there some about netbout except README.

[2015-10-10 15:56] dmzaytsev commented on #810
@pecko we have only README

[2015-10-10 17:37] pecko commented on #810
@dmzaytsev

Thanks!
It's all for this issue.

[2015-10-10 17:37] #810 closed

[2015-10-10 17:38] pecko commented on #695
@dmzaytsev @karato

See the PR: https://github.com/yegor256/netbout/pull/811

[2015-10-12 05:40] dmzaytsev commented on #739
@pecko the verification link will be sent by email see #738 and then the user will click on it. I this ticket you should implement a handler for the link `TkEmVerify`

[2015-10-12 09:55] dmzaytsev commented on #695
@pecko I just tested on snaphot.netbout.com. It works.
thank you

[2015-10-12 09:55] #695 closed

[2015-10-12 09:58] dmzaytsev commented on #782
@yegor256 I'm going to release 2.18 if you don't mind

[2015-10-12 10:10] dmzaytsev opened #812 "jcabi-aspects is outdated"
Right now we have the outdated dependence  in the project
jcabi-aspects `0.22`  but latest is  `0.22.1`
https://www.versioneye.com/user/projects/561ac5eca193340f2f001222
![image](https://cloud.githubusercontent.com/assets/9972909/10425644/9d7af598-70f2-11e5-8ba1-3b72d171b4e9.png)

@yegor256 should we move to latest jcabi-aspects ?
to make the green badge in Readme

[2015-10-12 10:14] pecko commented on #739
@dmzaytsev

When I will do it? When user click save to change an email?

[2015-10-12 10:15] pecko commented on #739
@dmzaytsev

Sorry for a lot questions, but I still don't understand requirement completely.

[2015-10-12 10:25] dmzaytsev commented on #739
@pecko you should  implement the verification as it described in the ticket description

you don't need the real link to test your code isn't it ?

 #738 will be resolved by another developer(or you will do it)  later

[2015-10-12 10:48] pecko commented on #739
@dmzaytsev

OK. Thanks.
I probably have to explore it more. I don't know still what exactly is Take or similar concepts.
Need some more times, but probably not more than 10 days from today.

[2015-10-12 11:00] dmzaytsev commented on #739
@pecko yep, definitely you  need to know something about [Takes](https://github.com/yegor256/takes) because Netbout build on Takes.
don't worry, I'm sure it won't be too hard for you

btw please ask @karato about more time
He is the project manager on the project

[2015-10-12 11:13] pecko commented on #739
@dmzaytsev

Thank you. I will ask @karato if I need more time.
It would be good when we would have a more documentation about takes/netbout, but I will try to use existing docs and the code.

[2015-10-12 19:38] yegor256 commented on #812
@dmzaytsev yeah, I think it's a valid bug

[2015-10-12 19:48] yegor256 commented on #782
@dmzaytsev yeah, let's do it

[2015-10-13 03:31] dmzaytsev commented on #812
@karato it's a valid bug

[2015-10-13 03:32] dmzaytsev commented on #782
@rultor release, tag=`2.18`

[2015-10-13 03:33] rultor commented on #782
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5141-147585086)

[2015-10-13 03:40] rultor commented on #782
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/5141-147585086) (took me 7min)

[2015-10-13 03:49] dmzaytsev commented on #792
@carlosmiranda `2.18` just released
this feature should works

[2015-10-13 09:14] karato commented on #812
@dmzaytsev tag "bug" added

[2015-10-13 09:22] karato commented on #588
@hs3180 this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle; -60 to your rating, your total score is [-172](http://www.netbout.com/b/35610?open=rating)

[2015-10-14 15:27] dmzaytsev commented on #782
@yegor256 can we set final status to `2.18` ?

[2015-10-14 17:06] yegor256 commented on #782
@karato release 2.18 is final

[2015-10-14 18:23] karato commented on #812
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-10-14 18:23] karato commented on #782
@yegor256 release 2.18 is final

[2015-10-14 18:33] karato commented on #695
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-10-14 18:35] karato commented on #750
@bdragan could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-10-14 18:35] karato commented on #782
@dmzaytsev There are a few problems in the project now:

 * some tasks in the project are "stuck": #737 (93 days), #739 (93 days), #738 (93 days), #750 (78 days), #756 (64 days), #754 (64 days), #755 (64 days), #761 (56 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them (

[2015-10-14 18:35] karato commented on #812
@dmzaytsev thanks for the report, I topped your acc for 30 mins, payment ID `67376875`

[2015-10-14 22:00] Rossiar opened #813 "New user Start button disabled until Find is used"
After signing up with GitHub, I read the introduction text and try to start a new bout by clicking "Start", but the button is not selectable.

![image](https://cloud.githubusercontent.com/assets/1635940/10499214/f84aa470-72c6-11e5-973a-8f6f6eccd4b9.png)

Once I search for any string the button changes and becomes selectable, allowing me to start new bouts:

![image](https://cloud.githubusercontent

[2015-10-14 22:06] Rossiar opened #814 "User email not verified"
After signing up to NetBout and entering my email, no confirmation email was sent to my email address. I would expect there to be a confirmation address to ensure that I am not a robot / mis-representing some other GitHub user. For further justification see http://stackoverflow.com/questions/7069228/why-do-we-send-confirmation-emails.

[2015-10-15 05:52] dmzaytsev commented on #813
@Rossiar thanks

[2015-10-15 05:52] dmzaytsev commented on #813
@karato it's a valid bug

[2015-10-15 05:55] dmzaytsev commented on #814
@Rossiar thanks for reporting but we already have the ticket #738 for same purpose

[2015-10-15 09:24] karato commented on #813
@dmzaytsev added "bug" tag to this issue

[2015-10-15 09:25] karato opened #815 "2.19"
Please, publish a new release **2.19** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-10-15 09:26] elenavolokhova commented on #695
@karato Looks good.

[2015-10-15 09:33] karato commented on #815
@dmzaytsev this is your task

[2015-10-15 11:56] karato commented on #813
@rossiar milestone set to `3.1` (correct me if I am wrong)

[2015-10-15 11:56] karato commented on #815
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2015-10-15 11:57] karato commented on #695
@elenavolokhova thanks a lot :)

[2015-10-15 12:10] karato commented on #695
@pecko 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 67403093. Thanks so much! Your account was topped up for **30 mins** (transaction ID is `67403132`, the task took 162 hours and 4 mins). added +30 to your rating, now it is equal to [+135](http://www.netbout.com/b/35660?open=rating)

[2015-10-15 20:51] karato commented on #782
@dmzaytsev The task is done, thanks all, I am closing it

[2015-10-15 20:51] #782 closed

[2015-10-15 20:52] karato commented on #782
@dmzaytsev I added **30 mins** to your account, many thanks for working with the project! The completion time here was 67419930.

+30 added to your rating, at the moment it is: [+1383](http://www.netbout.com/b/35166?open=rating)

[2015-10-15 21:40] Rossiar opened #816 "@help doesn't exist"
I create a new bout and attempt to Invite "@help" as recommended:

![image](https://cloud.githubusercontent.com/assets/1635940/10528308/6118b962-738d-11e5-9e3d-74a1864f7031.png)

The user "@help" does not exist:

![image](https://cloud.githubusercontent.com/assets/1635940/10528324/79d752d8-738d-11e5-84cb-b4bcad027389.png)

This also does not work when attempting to Invite user "help". I am using G

[2015-10-15 21:44] Rossiar commented on #814
@dmzaytsev closing this issue as a duplicate

[2015-10-15 21:44] #814 closed

[2015-10-16 10:30] dmzaytsev commented on #816
@Rossiar thanks

[2015-10-16 10:30] dmzaytsev commented on #816
@karato it's valid bug

[2015-10-16 10:37] dmzaytsev commented on #816
@yegor256 what do you think about this feature?
to be honest I have no idea what the user `@help` should be able to do. Just provides something like a sandbox where a new user can play with Netbout ?
In this case we need check existing of `@help` alias and create it if need on startup.

[2015-10-16 12:45] karato commented on #816
@dmzaytsev I tagged this as "bug"

[2015-10-16 14:26] pecko commented on #732
@karato
Can I have more time to work on this issue, please?

[2015-10-16 14:27] pecko commented on #739
@karato
Can I have more time to work on this issue, please?

[2015-10-16 14:36] karato commented on #816
@rossiar attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-10-16 16:25] karato commented on #732
@pecko of course, take your time

[2015-10-16 16:25] karato commented on #739
@pecko right, take your time and thanks for informing

[2015-10-17 13:49] Rossiar opened #817 "Long bout name produces Stack Trace"
I start a new bout and rename the bout as below:

![image](https://cloud.githubusercontent.com/assets/1635940/10558999/96b506ec-74dd-11e5-8a11-9a2e1d9e24da.png)

I am redirected to the following page:

[code]

I am using `Google Chrome Version 47.0.2526.8 dev-m (64-bit)`.

[2015-10-17 14:14] dmzaytsev commented on #817
@Rossiar just curious why do you need such strange bout's name?
anyway thanks for reporting

[2015-10-17 14:14] dmzaytsev commented on #817
@karato it's a valid bug

[2015-10-17 15:37] karato commented on #817
@dmzaytsev tag "bug" added

[2015-10-17 16:50] karato commented on #817
@rossiar I set milestone here to `3.1`, let me know if it is wrong

[2015-10-18 13:45] karato commented on #815
@dmzaytsev there are some issues in the project now:

 * some tasks are stuck: #737 (99 days), #738 (98 days), #750 (83 days), #756 (69 days), #754 (69 days), #755 (69 days), #761 (61 days), #758 (61 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * some issues were reported some time ago, but stil

[2015-10-18 14:41] dmzaytsev commented on #737
@karato this is postponed

[2015-10-18 14:43] dmzaytsev commented on #738
@karato this is postponed

[2015-10-18 17:44] karato commented on #737
@dmzaytsev got it, "postponed" label here

[2015-10-18 17:44] karato commented on #737
@dmzaytsev I will try to find someone else

[2015-10-18 17:44] karato commented on #738
@dmzaytsev right, I added "postponed" label

[2015-10-18 17:44] karato commented on #738
@dmzaytsev someone else will help in this task, no problem at all

[2015-10-18 17:53] karato commented on #748
@bdragan This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here

Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-10-18 18:02] dmzaytsev commented on #737
@karato this is not postponed anymore

[2015-10-18 18:02] dmzaytsev commented on #738
@karato this is not postponed anymore

[2015-10-18 19:17] karato commented on #737
@dmzaytsev OK, I un-labeled it as "postponed" tag

[2015-10-18 19:17] karato commented on #738
@dmzaytsev right, I removed "postponed" tag

[2015-10-18 19:32] karato commented on #588
@bdragan please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here... Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-10-19 11:55] karato commented on #738
@dimonn12 can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-10-19 15:19] dmzaytsev commented on #737
@karato this is urgent

[2015-10-19 17:36] karato commented on #737
@dmzaytsev sure, thanks, I added "urgent" label to it

[2015-10-19 19:23] karato commented on #815
@dmzaytsev the bonus here is 1 hour and 29 mins, due to these numbers: t=0, c=1, h=435, diff=2.18..master, [this page](http://www.teamed.io/release.html) explains the formula

[2015-10-20 03:38] dmzaytsev commented on #755
@karato assign me to this please

[2015-10-20 03:50] dmzaytsev commented on #815
@yegor256 I'm going to release `2.19` with new Takes if you don't mind

[2015-10-20 12:11] karato commented on #755
@dmzaytsev the task is yours, please proceed

[2015-10-20 12:18] dmzaytsev commented on #755
@antonini fixed in #818 please close if alright

[2015-10-20 16:23] yegor256 commented on #815
@dmzaytsev go ahead

[2015-10-20 16:30] dmzaytsev commented on #815
@rultor release, tag='2.19'

[2015-10-20 16:31] rultor commented on #815
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5523-149623968)

[2015-10-20 16:31] rultor commented on #815
@dmzaytsev @karato Oops, I failed. You can see the full log [here](http://www.rultor.com/t/5523-149623968) (spent 24s)

[code]

[2015-10-20 16:47] dmzaytsev commented on #815
@rultor release, tag=`2.19`

[2015-10-20 16:48] rultor commented on #815
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5523-149629886)

[2015-10-20 16:56] rultor commented on #815
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/5523-149629886) (took me 7min)

[2015-10-20 17:19] dmzaytsev opened #820 "Facebook login doesn't work"
I tried login via facebook and got stack trace

![image](https://cloud.githubusercontent.com/assets/9972909/10615299/768d3d10-7778-11e5-91cc-20f1f253e207.png)

	at org.takes.facets.auth.social.PsFacebook.fetch(PsFacebook.java:165)
	at org.takes.facets.auth.social.PsFacebook.enter(PsFacebook.java:131)
	at org.takes.facets.auth.PsByFlag.enter(PsByFlag.java:108)
	at org.takes.facets.auth.PsChain.ente

[2015-10-20 17:20] dmzaytsev commented on #820
@karato it's a valid bug

[2015-10-20 17:22] dmzaytsev commented on #786
@yegor256  the issue resolved, Google login works now
I'm closing the ticket

[2015-10-20 17:22] #786 closed

[2015-10-20 17:36] dmzaytsev commented on #809
@vimal82vats the issue fixed please close the ticket

[2015-10-20 17:37] dmzaytsev commented on #808
@ashishsabhaya the issue fixed please close the ticket

[2015-10-20 17:37] dmzaytsev commented on #807
@aaditgupta2 the issue fixed
please close the ticket

[2015-10-20 17:54] yegor256 commented on #786
@dmzaytsev thanks!

[2015-10-20 17:55] karato commented on #820
@dmzaytsev added "bug" tag to this issue

[2015-10-20 20:08] antonini commented on #755
@dmzaytsev Looks good.

[2015-10-20 20:08] #755 closed

[2015-10-20 20:49] karato commented on #820
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2015-10-20 21:00] karato commented on #820
@dmzaytsev thanks for the report, I topped your acc for 30 mins, payment ID `67821520`

[2015-10-21 20:29] karato commented on #737
@dimonn12 this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-10-22 12:28] karato commented on #755
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://www.teamed.io/policy.html#24)

[2015-10-22 12:57] ypshenychka commented on #755
@karato Quality is good here.

[2015-10-22 16:28] karato commented on #755
@ypshenychka thanks for the review and a good remark

[2015-10-22 16:37] karato commented on #755
@dmzaytsev added 10 mins to @ypshenychka, for QA review, payment code is `67932499`

**1 hour** was added to your account, many thanks for your contribution (payment 67932514)! The task took 8 hours and 37 mins.

the bonus for fast delivery (m=517)

+60 to your rating, your total score is [+1488](http://www.netbout.com/b/35166?open=rating)

[2015-10-23 11:02] bguidolim opened #822 "Modify profile"
As an user, I want to modify my profile like change my wallet from PayPal to Bitcoin.

[2015-10-23 11:03] bguidolim opened #823 "Commands for Netbout"
As an user, I want to know which commands I can type to talk with "alice".

[2015-10-23 11:26] dmzaytsev commented on #822
@bguidolim  this is out of the scope of the project
Netbout.com is a communication platform only
I would suggest to ask about this direct to @yegor256 in Netbout

[2015-10-23 11:27] dmzaytsev commented on #823
@bguidolim  this is out of the scope of the project
Netbout.com is a communication platform only
I would suggest to ask about this direct to @yegor256 in Netbout

[2015-10-23 12:29] bguidolim commented on #822
@dmzaytsev ok, thank you. Closing it.

[2015-10-23 12:29] #822 closed

[2015-10-23 12:29] bguidolim commented on #823
@dmzaytsev ok, thank you. Closing it.

[2015-10-23 12:29] #823 closed

[2015-10-23 16:34] karato commented on #815
@dmzaytsev there are a few issues:

 * some tasks are stuck: #737 (104 days), #738 (103 days), #750 (88 days), #756 (74 days), #754 (74 days), #761 (66 days), #758 (66 days), #767 (63 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * some issues were reported some time ago, but still not dispatched

[2015-10-23 16:36] dmzaytsev commented on #809
@yegor256 close the ticket please

[2015-10-23 16:36] dmzaytsev commented on #808
@yegor256 close the ticket please

[2015-10-23 16:37] dmzaytsev commented on #807
@yegor256 close the ticket please

[2015-10-23 16:41] vimal82vats commented on #809
Closed.

[2015-10-23 16:41] #809 closed

[2015-10-23 16:45] vimal82vats commented on #809
Dear Dmitry,

Sorry for the delay in closing the issue. I could not connect to internet
to see your mail lately.

Thanks for your cooperation and resolving the issue.

On Fri, Oct 23, 2015 at 10:06 PM, Dmitry Zaytsev <notifications@github.com>
wrote:

[2015-10-23 16:55] dmzaytsev commented on #809
@vimal82vats no problem at all

[2015-10-23 21:52] #807 closed

[2015-10-23 22:02] #808 closed

[2015-10-23 22:08] yegor256 commented on #808
@dmzaytsev in the future, you can just ask a PM to close it as invalid, see http://www.teamed.io/policy.html#36

[2015-10-24 14:27] dmzaytsev commented on #820
@karato please assign this to @bdragan

[2015-10-24 16:20] karato commented on #820
@dmzaytsev yep, done. @bdragan it is your task now

[2015-10-25 19:07] dmzaytsev commented on #815
@yegor256 Facebook login issue has been fixed, I'm going to release `2.20`

[2015-10-25 19:09] dmzaytsev commented on #815
@rultor release, tag=`2.20`

[2015-10-25 19:10] rultor commented on #815
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5523-150959683)

[2015-10-25 19:17] rultor commented on #815
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/5523-150959683) (took me 7min)

[2015-10-25 19:20] dmzaytsev commented on #815
@yegor256 it works

[2015-10-25 19:26] yegor256 commented on #815
@dmzaytsev cool, thanks

[2015-10-26 14:11] dmzaytsev commented on #820
@bdragan thanks!

[2015-10-26 14:11] #820 closed

[2015-10-26 18:41] karato commented on #815
@dmzaytsev pay attention to the following:

 * some tasks are stuck: #737 (107 days), #738 (106 days), #750 (91 days), #756 (78 days), #754 (78 days), #761 (69 days), #758 (69 days), #767 (66 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * these issues are still not dispatched anyhow: #796. Eithe

[2015-10-26 19:44] bdragan commented on #750
@karato Please assign someone else.

[2015-10-27 17:00] karato commented on #750
@bdragan -30 points to your rating :(

[2015-10-27 17:00] karato commented on #750
@bdragan I will assign somebody else to this issue

[2015-10-27 17:07] karato commented on #820
@bdragan there weren't any messages from you, no need to pay, as I understand (feel free to correct me)

[2015-10-27 17:21] bdragan commented on #820
@karato PR #824 has been merged to master. The issue has been fixed and reviewed. I expected quality review to be completed before I start complaining about the payment. :)

Please, could you send me a link to any docs about the task resolution workflow we follow? I found [How XDSD Is Different](http://www.yegor256.com/2014/04/17/how-xdsd-is-different.html) and [Definition Of Done](http://www.yego

[2015-10-27 17:56] dmzaytsev commented on #820
@bdragan please check the quality rules http://www.teamed.io/qa.html

but @karato uses some automatic tools to check tickets that's why got this warning before QA review

The policy http://www.teamed.io/policy.html will be useful too.

anyway when you complete the task (PR or PRs merged) ask the ticket reporter to close the ticket and mention PR which fixed the issue.

[2015-10-27 18:25] bdragan commented on #820
@dmzaytsev Thank you for the explanation!

[2015-10-27 18:27] bdragan commented on #748
@karato PR #821 has been merged to master.

[2015-10-27 20:11] yegor256 commented on #820
@karato pls add extra 30 mins to @bdragan

[2015-10-28 10:42] karato commented on #748
@bdragan OK thanks

[2015-10-28 10:42] karato commented on #820
@yegor256 30 mins extra was just paid to @bdragan, transaction `68413110`

[2015-10-28 23:06] yegor256 commented on #816
@dmzaytsev I think this user should just be ready to answer some simple questions to the user, explaining how Netbout works. for example:

[code]

Something similar to Apple Siri, but in a text mode. Make sense?

[2015-10-28 23:06] yegor256 commented on #788
@karato assign @dmzaytsev to this pls

[2015-10-29 08:43] bdragan commented on #748
@karato Please close this issue.

[2015-10-29 10:22] dmzaytsev commented on #748
@bdragan puzzle tickets like this one will close automatically when the puzzle will be removed from the code base. You didn't remove the puzzle  in PR #821.  Both @pinaf and me have missed this mistake. Please create a new PR and remove the original puzzle.

[2015-10-29 11:40] karato commented on #788
@yegor256 OK @dmzaytsev please proceed, this task is yours

[2015-10-30 09:40] karato opened #826 "MkAttachments.java:86-88: This method needs to be..."
Puzzle `806-1e507f57` in `netbout-client/src/main/java/com/netbout/mock/MkAttachments.java:86-88` has to be resolved: This method needs to be implemented because it is used in tests that read bout properties. Currently, this implementation always returns 0.... The puzzle was created by bdragan on 26-Oct-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-10-30 09:41] karato commented on #806
@hs3180 these 2 puzzles were created in this ticket: `806-1e507f57`/#826, `806-43ee63d7`

[2015-10-30 09:47] karato commented on #815
@dmzaytsev there are a few issues:

 * some tasks are stuck: #737 (110 days), #738 (110 days), #750 (95 days), #756 (81 days), #754 (81 days), #761 (73 days), #758 (73 days), #767 (69 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://www.teamed.io/po

[2015-10-30 13:29] karato commented on #826
@dmzaytsev I set milestone here to `3.1`, let me know if it is wrong

[2015-10-30 13:29] karato opened #827 "MkBout.java:104-106: This method needs to be..."
Puzzle `806-43ee63d7` in `netbout-client/src/main/java/com/netbout/mock/MkBout.java:104-106` has to be resolved: This method needs to be implemented because it is used in tests that read bout properties. Currently, this implementation always returns the current date.... The puzzle was created by bdragan on 26-Oct-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-10-30 16:42] karato commented on #827
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2015-10-31 01:10] yegor256 opened #828 "X-Netbout-Alias"
Let's add HTTP header `X-Netbout-Alias` to each response, when a user is authenticated and has an alias. We don't have it now and it's difficult to understand by HTTP response what user is talking to the Netbout server.

[2015-10-31 07:20] dmzaytsev commented on #828
@karato it's a vald bug

[2015-10-31 07:37] dmzaytsev commented on #816
@yegor256 it will be hard to implement and the user will get a little benefit.
I mean hard to implement good text version of Siri :)
To be honest I prefer to use simple commands instead of  a simulation the human talk.

In my opinion will be enough to have a brief faq about Netbout. and put a link to the faq somewhere.
Also we should remove the recommendation to invite `@help` user

[2015-10-31 09:14] karato commented on #828
@dmzaytsev tag bug added to this issue

[2015-10-31 11:10] karato commented on #828
@yegor256 I set milestone here to `3.1`, let me know if it is wrong

[2015-10-31 11:15] bdragan commented on #748
@karato PR #821 and PR #825 have been merged to master. The issue can be closed.

[2015-10-31 11:24] karato commented on #828
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-f0fff31c`

[2015-10-31 16:10] dmzaytsev commented on #588
@bdragan just a suggestion
ask the PM for more time if you working on a ticket more than 7 days
otherwise your rating will be decreased, see the policy
but yes it's a campus project, usually you have about 14 days before you get a warning from the PM

[2015-10-31 19:50] bdragan commented on #588
@dmzaytsev Noted, thanks!

[2015-11-01 11:43] karato commented on #748
@dmzaytsev We are done here, thanks all

[2015-11-01 11:43] #748 closed

[2015-11-01 11:45] karato commented on #748
@elenavolokhova please, help us to evaluate quality here, as per [par.24](http://www.teamed.io/policy.html#24)

[2015-11-01 19:40] dmzaytsev commented on #788
@yegor256 I need your help here. There is a problem to save an avatar for a new user into the database. I can't expect Dynamo but I guess the problem is here. It would be great If you can check attribute `photo` for any new user which have avatar on his github account. So if if will be empty or invalid we on the right way.
Also I can't find any usage of `DyAlias.photo(URI)`. It has to save the ava

[2015-11-02 04:37] elenavolokhova commented on #748
@bdragan
 According to our [quality rules](http://www.teamed.io/qa.html):

 Two PRs were created for this issue. Please try to follow this rule in your tickets in the future.

 Please confirm that everything is clear and you have no questions regarding this approach.

[2015-11-02 12:04] bdragan commented on #748
@elenavolokhova Thanks, I confirm.

[2015-11-02 13:56] karato commented on #815
@dmzaytsev There are a few problems in the project now:

 * some tasks are stuck: #737 (114 days), #738 (113 days), #750 (98 days), #756 (84 days), #754 (84 days), #761 (76 days), #758 (76 days), #767 (72 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * these issues are still not dispatched anyhow

[2015-11-02 14:45] elenavolokhova commented on #748
@karato Quality is acceptable here.

[2015-11-02 14:45] elenavolokhova commented on #748
@bdragan Thanks!

[2015-11-02 16:29] karato commented on #748
@elenavolokhova thanks, got it. everybody, please try to make it good next time

[2015-11-02 16:38] karato commented on #748
@bdragan I added 10 mins to @elenavolokhova (for QA review) in transaction 68845867

Much obliged! I have added **30 mins** to your account in payment "68845872", 303 hours and 23 mins spent

+30 added to your rating, current score is: [+233](http://www.netbout.com/b/35709?open=rating)

[2015-11-03 11:48] karato commented on #588
@bdragan 15 days already, in 48 hours I will re-assign... -30 added to your rating, current score is: [+203](http://www.netbout.com/b/35709?open=rating)

[2015-11-03 15:33] dmzaytsev commented on #588
@karato we need more time here

[2015-11-03 16:51] karato commented on #588
@dmzaytsev OK, take your time

[2015-11-03 20:14] bdragan commented on #588
@YamStranger PR #829 has been merged to master. The issue can be closed.

[2015-11-03 20:52] #588 closed

[2015-11-04 12:10] karato commented on #732
@bdragan this is your task

[2015-11-05 04:21] yegor256 commented on #788
@dmzaytsev hm... I also can't find it, but it has to be in `RqAlias`. It has to work like this:

[code]

But it's not always "avatar". We should check `identity.urn()`. If it starts with "urn:github" - it's "avatar". If it's "urn:google" - it's "photo", if it's "urn:facebook" - it's something else. Check sources of Takes.

[2015-11-05 04:22] yegor256 commented on #788
@dmzaytsev I don't know what happened to this code... I suspect it just got lost after the migration to Takes. No idea...

[2015-11-05 04:36] yegor256 commented on #816
@dmzaytsev make sense, let's do as you suggested, I agree

[2015-11-05 04:38] dmzaytsev commented on #788
@karato we need more time here

[2015-11-05 13:16] karato commented on #788
@dmzaytsev of course, thanks for letting me know, take your time

[2015-11-05 13:16] karato opened #830 "Indie tech review no.4"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `indie` tag to each of them.

[2015-11-05 13:22] karato commented on #588
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://www.teamed.io/policy.html#24)

[2015-11-05 15:30] karato commented on #830
@dmzaytsev I set milestone here to `3.1`, let me know if it is wrong

[2015-11-05 15:43] ypshenychka commented on #588
@karato Quality is good.

[2015-11-06 11:00] dmzaytsev commented on #788
@karato please see PR #831

[2015-11-06 12:11] karato commented on #788
@dmzaytsev thank you, I will check it

[2015-11-07 09:47] dmzaytsev commented on #788
@yegor256 the issue fixed in PR#831
Please close if alright

[2015-11-07 11:07] bdragan commented on #732
@karato Could you please provide more details about the issue?

1. What is estimated?
2. What do you mean when saying that the latest estimate is created on 29-May-2015? I see no [commits](https://github.com/teamed/est/commits/master) that are performed on that date.

Thanks!

[2015-11-07 16:47] dmzaytsev commented on #732
@bdragan please check out https://github.com/teamed/est
@karato meant this estimation https://github.com/yegor256/netbout/blob/master/est/first.est
Let's name your estimation as `002.est`

[2015-11-07 17:55] bdragan commented on #732
@karato Please assign someone else.

[2015-11-07 17:55] bdragan commented on #732
@dmzaytsev Thanks!

[2015-11-08 18:32] karato commented on #732
@bdragan -30 points to your rating

[2015-11-08 18:32] karato commented on #732
@bdragan right, I will find someone else, no problem

[2015-11-08 18:59] dmzaytsev commented on #788
@yegor256 I just checked on http://snapshot.netbout.com/
and I see that the avatar updated.
so we can release it

[2015-11-08 20:42] yegor256 commented on #788
@dmzaytsev thanks! let's release

[2015-11-08 20:42] #788 closed

[2015-11-09 03:48] dmzaytsev commented on #815
@rultor release, tag=`2.21`

[2015-11-09 03:48] rultor commented on #815
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5523-154911332)

[2015-11-09 03:55] rultor commented on #815
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/5523-154911332) (took me 7min)

[2015-11-09 04:13] dmzaytsev commented on #815
@yegor256 would it possible make 2.21 final?

[2015-11-09 18:47] karato commented on #739
@bdragan this is your task

[2015-11-09 22:24] bdragan commented on #739
@dmzaytsev Could you please assist with the following questions:
1. How do I find `Alias` for the provided alias which is the first part of the code?
2. Can alias names change?

[2015-11-10 07:10] yegor256 commented on #815
@karato release 2.21 is final

[2015-11-10 16:22] dmzaytsev commented on #739
@bdragan yeah, you're right, we can't find `Alias` using alias.
let's use `urn` to find `Alias`
in #738 we will make {code} as `<URLEncoder.encode(urn)>:<new email>`

also let's use Jasypt to decrypt {code},  see EmCatch for instance

No, we can't

[2015-11-10 16:59] karato commented on #815
@yegor256 it is final now (2.21 doesn't have "draft" flag any more)

[2015-11-10 17:11] karato commented on #754
@bdragan do this task

[2015-11-10 17:11] karato commented on #815
@dmzaytsev there are some issues (see [par.33](http://www.teamed.io/policy.html#33)) in the project now:

 * some tasks are stuck: #737 (121 days), #738 (121 days), #750 (106 days), #756 (92 days), #754 (92 days), #761 (84 days), #758 (84 days), #767 (80 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://www.teamed.io/po

[2015-11-10 19:09] bdragan commented on #739
@dmzaytsev Thanks. I would say that there is no need to encode the `urn`, since it will already be part of the encrypted `code`. What do you think?

[2015-11-10 23:38] dmzaytsev commented on #739
@bdragan
Yep, indeed, no needs to encode the urn, but it contains colons. You should take it into account when you will parse it. We can use another separator in this case. Up to you.

Let's do as you suggested about the alias

[2015-11-10 23:46] bdragan commented on #739
@dmzaytsev Thanks. I kept the colon as separator. The regex is fairly simple anyway: `(.+):([^:]+):([^:]+)`. PR submitted.

[2015-11-11 05:33] dmzaytsev commented on #738
@bdragan would you like to pickup this?
I can assign you to this task?

[2015-11-11 17:47] karato opened #833 "2.22"
Please, publish a new release **2.22** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-11-11 17:55] karato commented on #788
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2015-11-11 17:56] karato commented on #833
@dmzaytsev this is your task

[2015-11-11 18:01] bdragan commented on #738
@dmzaytsev Yes, please. Thanks.

[2015-11-11 18:12] dmzaytsev commented on #738
@karato assign @bdragan to this please

[2015-11-12 06:16] ypshenychka commented on #788
@karato Quality is good here.

[2015-11-12 08:47] bdragan commented on #739
@dmzaytsev PR #832 has been merged. The issue can be closed.

[2015-11-12 08:58] dmzaytsev commented on #739
@bdragan thanks!

[2015-11-12 08:58] #739 closed

[2015-11-12 17:14] karato commented on #833
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2015-11-12 17:15] karato commented on #738
@dmzaytsev OK. @bdragan the ticket is yours, please proceed

[2015-11-12 17:15] karato commented on #788
@ypshenychka thank you

[2015-11-12 17:22] karato commented on #788
@dmzaytsev added 10 mins to @ypshenychka, for QA review, payment code is `69562702`

Thanks for your contribution, **30 mins** was added to your account, payment ID is `69562707`, 270 hours and 59 mins spent total

+30 added to your rating, current score is: [+1281](http://www.netbout.com/b/35166?open=rating)

[2015-11-13 08:33] longtimeago opened #834 "NoSuchElementException: no more items in the frame, position=-1 strikes back"
Requested url:
``` http://www.netbout.com/b/36037 ```
Stracktrace:
[code]

[2015-11-13 09:09] dmzaytsev commented on #834
@longtimeago is the issue stable?

[2015-11-13 09:16] longtimeago commented on #834
@dmzaytsev yes, I'm still observing it

[2015-11-13 09:19] dmzaytsev commented on #834
@longtimeago well I guess it is a data specific problem in your bout. I can't reproduce it locally or remote.
But I can try to make a quick fix. I hope it will help

[2015-11-13 09:20] dmzaytsev commented on #834
@karato it is a valid bug

[2015-11-13 09:22] longtimeago commented on #834
@dmzaytsev I think that's because I requested a bout, which does not exist anymore (closed/deleted)

[2015-11-13 09:29] dmzaytsev commented on #834
@longtimeago oh it helpful, thanks!
but just curious why you need access to the not existing bout? : )

Could you let me know the steps to reproduce it if possible?
As I know netbout doesn't allow to delete a bout

[2015-11-13 09:34] karato commented on #834
@dmzaytsev I added `bug` tag to this ticket

[2015-11-13 09:39] karato commented on #815
@dmzaytsev Finished, thanks, closing..

[2015-11-13 09:39] #815 closed

[2015-11-13 09:40] longtimeago commented on #834
@dmzaytsev I've discovered that during the interview.
When I reject the applicant Alice removes that bout somehow. At least it disappears from the list of my bouts.
But if the bout is still openned in my browser and I refresh the page I get this error.

[2015-11-13 09:41] karato commented on #732
@dimonn12 please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-11-13 09:41] karato commented on #815
@dmzaytsev Thanks for your contribution, **30 mins** was added to your account, payment ID is `69587376`, 656 hours and 15 mins spent total

+30 added to your rating, current score is: [+1311](http://www.netbout.com/b/35166?open=rating)

[2015-11-13 10:29] dmzaytsev commented on #834
@longtimeago it's more clear now, thanks

[2015-11-13 12:20] karato commented on #834
@longtimeago I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-11-13 12:27] karato commented on #834
@longtimeago thanks for the report, I topped your acc for 15 mins, payment ID `69590833`

[2015-11-13 15:34] longtimeago opened #835 "Bout reply person looks incorrect"
I've seen several times the case when the message should be from Alice, but it appears to be from another guy.
For example, see this screenshot
![screenshot from 2015-11-13 17 16 56](https://cloud.githubusercontent.com/assets/1388994/11149428/3e588d44-8a2b-11e5-94fb-8d92286eb2f5.png)

IMHO, the message below (http://www.netbout.com/b/36043#msg512998) looks correct. The author is talking to Alice.

[2015-11-13 17:49] karato commented on #739
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2015-11-13 18:05] dmzaytsev commented on #835
@longtimeago I guess this case out of the scope of the project.
@yegor256 Is it agent's issue ? what do you think?

[2015-11-14 04:30] elenavolokhova commented on #739
@karato Looks good!

[2015-11-14 11:45] karato commented on #739
@elenavolokhova thank you, good quality is always good ;)

[2015-11-14 11:53] karato commented on #739
@bdragan added 10 mins to @elenavolokhova, for QA review, payment code is `69623218`... Much appreciated! **38 mins** was added to your account, payment ID `69623230`, time spent is 70 hours and 29 mins... m=4229, that's why a bonus here for fast delivery... added +38 to your rating, now it is equal to [+301](http://www.netbout.com/b/35709?open=rating)

[2015-11-14 17:33] karato commented on #756
@bdragan do this task

[2015-11-14 20:50] karato commented on #833
@dmzaytsev please, pay attention to this ([par.33](http://at.teamed.io/policy.html#33)):

 * some tasks are stuck: #737 (126 days), #738 (125 days), #750 (110 days), #756 (97 days), #754 (97 days), #761 (88 days), #758 (88 days), #767 (85 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * some issue

[2015-11-15 08:28] krzyk opened #838 "Using bold causes the space after it to disappear"
When I write text like this: `This is **bold** test`, the space after `bold` disappears, here's the result:
This is **bold**test.
`bold` and `test` merge into one word.
Bolding a word shouldn't make spaces after it disappear.

[2015-11-15 10:39] bdragan commented on #754
@antonini Attachment deletion is already supported ([`TkDelete`](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/rest/bout/TkDelete.java)).

Could you please provide more details about what is required in this issue regarding attachments deletion? Thanks!

[2015-11-15 11:54] antonini commented on #754
@bdragan I updated the description. Also, take a look on what @dmzaytsev [said](#issuecomment-129173355)!

[2015-11-15 15:22] dmzaytsev commented on #838
@karato it's a valid bug

[2015-11-15 18:18] karato commented on #838
@dmzaytsev I tagged this as "bug"

[2015-11-15 18:27] longtimeago commented on #835
@yegor256 ping :)

[2015-11-15 18:47] bdragan commented on #754
@antonini Thanks. How can I verify that there are no messages posted to the bout after the attachment is created? Should we introduce a new field in the `Attachment`, like upload date or similar?

[2015-11-16 09:11] karato commented on #838
@krzyk there is no milestone yet, so I set it to `3.1`

[2015-11-16 09:18] karato commented on #838
@krzyk many thanks for the bug report, I added 15 mins to your acc, transaction `69670447`

[2015-11-16 14:30] antonini commented on #754
@bdragan You should ask @dmzaytsev. He is the architect.

[2015-11-16 17:44] dmzaytsev opened #839 "creation date and author of the attachment"
Let's add a new methods into `Attachment`
[code]
the implementation also required

[2015-11-16 17:44] dmzaytsev commented on #839
@karato it's a valid bug

[2015-11-16 17:47] dmzaytsev commented on #754
@bdragan I just created the ticket #839
would you like to do that ticket?
let me know if so

[2015-11-16 17:48] dmzaytsev commented on #754
@karato we are waiting for #839

[2015-11-16 17:53] antonini opened #840 "When a file is uploaded, system should add a message to notify it in timeline"
When a user uploads a file, the system should automatically generate a message in the timeline that describes that the file was uploaded.

Example:
![image](https://cloud.githubusercontent.com/assets/209396/11189935/328e4a2a-8c7a-11e5-8954-5dd96c429c8d.png)

[2015-11-16 17:55] dmzaytsev commented on #840
@antonini thanks, but we already have a ticket #756

[2015-11-16 18:05] antonini commented on #840
@dmzaytsev You are right! It's duplicated! Tks!

[2015-11-16 18:05] #840 closed

[2015-11-16 18:32] bdragan commented on #738
@dmzaytsev PR #836 has been merged. The issue can be closed.

[2015-11-16 18:33] dmzaytsev commented on #738
@bdragan thanks!

[2015-11-16 18:33] #738 closed

[2015-11-16 18:34] bdragan commented on #754
@dmzaytsev Sure, please assign #839 to me.

[2015-11-16 18:35] dmzaytsev commented on #839
@karato please assign @bdragan to this ticket

[2015-11-16 19:54] karato commented on #754
@dmzaytsev yes, waiting for #839

[2015-11-16 19:54] karato commented on #839
@dmzaytsev tagged this issue with "bug"

[2015-11-17 01:43] yegor256 commented on #835
@longtimeago yeah, it's not a bug of Netbout. it's just "by design". here it is: https://github.com/teamed/at.teamed.io/blob/master/js/join.js#L31-L38

[2015-11-17 06:57] longtimeago commented on #835
@yegor256 should I post the bug on at.teamed.io issue tracker?

[2015-11-17 07:54] ypshenychka commented on #588
@karato Please consider this ticket. It was already checked and marked as good.

[2015-11-17 09:44] karato commented on #839
@dmzaytsev I set milestone here to `3.1`, let me know if it is wrong

[2015-11-17 09:52] karato commented on #839
@dmzaytsev thank you for the ticket reported, I topped your account for 30 mins, transaction `69966852`

[2015-11-17 12:54] karato commented on #839
@dmzaytsev OK @bdragan please go ahead, this task is yours

[2015-11-18 09:42] karato commented on #738
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2015-11-18 10:07] ypshenychka commented on #738
@karato Quality is good.

[2015-11-18 12:41] karato commented on #738
@ypshenychka thanks, got it, great to see high-quality tickets here

[2015-11-18 12:41] karato opened #841 "EmAlias.java:130-134: We need to improve the..."
Puzzle `738-4d284963` in `netbout-web/src/main/java/com/netbout/email/EmAlias.java:130-134` has to be resolved: We need to improve the format and content of the verification email. Currently, it only asks the user to verify the new email by using the provided verification link. We may add some header, footer, note like "Ignore this email if you did not change your email address", etc.... The puzzl

[2015-11-18 12:42] karato commented on #738
@dmzaytsev these 2 puzzles were created in this ticket: `738-4d284963`/#841, `738-d76bd177`

[2015-11-18 12:49] karato commented on #738
@bdragan 10 mins was added to the account of @ypshenychka (for QA review), in transaction 70053244; Many thanks! **30 mins** were added to your account in Transaction ID `70053249` (task took 98 hours and 38 mins); +30 to your rating, your total score is [+361](http://www.netbout.com/b/35709?open=rating)

[2015-11-18 15:49] karato commented on #841
@dmzaytsev I set the milestone to 3.1 since there is nothing set yet

[2015-11-18 15:50] karato opened #842 "TkSaveEmail.java:53-55: If the email attribute value..."
Puzzle `738-d76bd177` in `netbout-web/src/main/java/com/netbout/rest/account/TkSaveEmail.java:53-55` has to be resolved: If the email attribute value contains !, we should display an exclamation icon with hint that the email is not verified yet near the alias name.... The puzzle was created by bdragan on 14-Nov-2015.

If you have any technical questions, don't ask me, submit new tickets instead

<

[2015-11-18 19:05] karato commented on #842
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2015-11-21 12:56] karato commented on #841
@bdragan do this task

[2015-11-22 13:33] bdragan commented on #756
@dmzaytsev PR #837 has been merged. The issue can be closed.

[2015-11-22 14:08] dmzaytsev commented on #756
@bdragan thanks!

[2015-11-22 14:08] #756 closed

[2015-11-23 16:25] karato commented on #756
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2015-11-25 00:55] elenavolokhova commented on #756
@karato Looks good!

[2015-11-25 06:17] ypshenychka commented on #588
@yegor256 The performer of the ticket was not yet paid.

[2015-11-25 11:37] karato commented on #756
@elenavolokhova thank you

[2015-11-25 11:44] karato commented on #756
@bdragan just added 10 mins to @elenavolokhova (for QA), payment ID is `70622540`

I added **30 mins** to your account, many thanks for working with the project! The completion time here was 70622547.

added +30 to your rating, now it is equal to [+421](http://www.netbout.com/b/35709?open=rating)

[2015-11-30 21:48] yegor256 opened #843 "RtFriends#invite() doesn't throw UnknownAliasException"
`Friends#invite()` must throw `UnknownAliasException` when/if alias is unknown. We have to add this to the Javadoc of the method.

`RtFriends#invite()` never throws this type of exception. We should fix that.

`ReFriends#invite()` should not retry if `UnknownAliasException` is thrown. We should add `ignore` to `@RetryOnFailure`.

similar to #844

[2015-11-30 21:55] yegor256 opened #844 "RtFriends#kick() doesn't throw UnknownAliasException"
`Friends#kick()` must throw `UnknownAliasException` when/if alias is unknown. We have to add this to the Javadoc of the method.

`RtFriends#kick()` never throws this type of exception. We should fix that.

`ReFriends#kick()` should not retry if `UnknownAliasException` is thrown. We should add `ignore` to `@RetryOnFailure`.

very similar to #843

[2015-12-01 08:33] dmzaytsev commented on #844
@karato it's a valid bug

[2015-12-01 08:33] dmzaytsev commented on #843
@karato it's a valid bug

[2015-12-01 12:40] karato commented on #844
@dmzaytsev tagged this issue with "bug"

[2015-12-01 12:40] karato commented on #843
@dmzaytsev tag bug added to this issue

[2015-12-01 15:45] karato commented on #843
@yegor256 milestone set to `3.1` (correct me if I am wrong)

[2015-12-01 15:45] karato commented on #844
@yegor256 attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-12-01 15:46] karato commented on #704
@dmzaytsev the last puzzle `704-c6ad2d19`/#748 solved

[2015-12-01 15:59] karato commented on #844
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-727c5197

[2015-12-01 19:51] bdragan commented on #839
@karato Please assign someone else.

[2015-12-01 19:52] bdragan commented on #841
@karato Please assign someone else.

[2015-12-01 20:41] karato commented on #843
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-903031e6

[2015-12-02 09:06] karato commented on #839
@bdragan 30 points was deducted from your rating

[2015-12-02 09:06] karato commented on #839
@bdragan I will assign somebody else to this issue

[2015-12-02 09:06] karato commented on #841
@bdragan -30 points to your rating :(

[2015-12-02 09:06] karato commented on #841
@bdragan someone else will help in this task, no problem at all

[2015-12-03 06:55] dmzaytsev commented on #843
@karato please assign me to this

[2015-12-03 10:57] karato commented on #843
@dmzaytsev of course, the task is yours, go ahead

[2015-12-03 11:21] dmzaytsev commented on #843
@yegor256 fixed in PR #845
please close if alright

[2015-12-04 06:02] dmzaytsev commented on #844
@karato assign me to this please

[2015-12-05 10:20] karato commented on #844
@dmzaytsev of course, the task is yours, go ahead

[2015-12-05 10:43] dmzaytsev commented on #844
@yegor256 fixed in PR #846
please close the ticket

[2015-12-05 13:54] dmzaytsev commented on #843
@yegor256 ping

[2015-12-07 13:08] yegor256 commented on #844
@dmzaytsev many thanks!

[2015-12-07 13:08] #844 closed

[2015-12-07 13:08] yegor256 commented on #843
@dmzaytsev thanks!

[2015-12-07 13:08] #843 closed

[2015-12-07 13:09] yegor256 commented on #843
@dmzaytsev can we release a new version with these changes?

[2015-12-07 13:19] dmzaytsev commented on #843
@yegor256 sure

[2015-12-07 13:20] dmzaytsev commented on #833
@rultor release, tag=`2.3`

[2015-12-07 13:21] rultor commented on #833
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5858-162522242)

[2015-12-07 13:32] rultor commented on #833
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/5858-162522242) (took me 10min)

[2015-12-07 15:55] yegor256 commented on #833
@dmzaytsev what just happened? why 2.3?

[2015-12-07 17:19] yegor256 commented on #835
@longtimeago I fixed it already

[2015-12-07 17:43] longtimeago commented on #835
@yegor256 I'll wait for the next interview assignment to check it if you don't mind :)

[2015-12-07 17:44] longtimeago commented on #835
@yegor256 by the way, it still reproduce here http://www.netbout.com/b/36145

[2015-12-07 18:33] dmzaytsev commented on #833
@yegor256 my bad
it should be 2.22
sorry

[2015-12-07 18:45] yegor256 commented on #833
@dmzaytsev let's release 2.22. Probably, we should make a check in Rultor, to prevent releases with versions that are lower than already existing ones...

[2015-12-07 18:51] dmzaytsev commented on #833
@rultor release, tag=`2.22`

[2015-12-07 18:51] rultor commented on #833
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/5858-162622190)

[2015-12-07 19:02] rultor commented on #833
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/5858-162622190) (took me 10min)

[2015-12-07 19:08] dmzaytsev commented on #833
@yegor256 please make it final if possible

[2015-12-07 19:45] karato commented on #833
@dmzaytsev There are a few problems in the project now, see [par.33](http://at.teamed.io/policy.html#33):

 * some tasks are stuck: #737 (149 days), #750 (133 days), #761 (111 days), #758 (111 days), #767 (108 days), #770 (106 days), #775 (104 days), #787 (82 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve

[2015-12-07 20:52] yegor256 commented on #833
@karato release 2.22 is final

[2015-12-08 12:46] karato commented on #833
@yegor256 2.22 is final now ("draft" flag removed)

[2015-12-08 13:48] yegor256 opened #847 "org.pegdown.ParsingTimeoutException"
I see this in production logs, very often:

[code]

Would be great to fix this somehow.

[2015-12-08 14:35] karato commented on #847
@yegor256 added "indie" tag to this issue

[2015-12-08 14:35] karato opened #848 "2.23"
Please, publish a new release **2.23** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-12-08 14:43] karato commented on #848
@dmzaytsev do this task

[2015-12-08 17:15] karato commented on #847
@yegor256 since the ticket has no milestone I set it to 3.1

[2015-12-08 17:15] karato commented on #848
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2015-12-08 17:25] karato commented on #843
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2015-12-08 17:25] karato commented on #844
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2015-12-08 17:26] karato commented on #847
@yegor256 thanks for tis bug, I topped your account for 15 mins, transaction `000-19c8b22a`

[2015-12-09 06:46] elenavolokhova commented on #844
@karato  Quality is good here.

[2015-12-09 06:47] elenavolokhova commented on #843
@karato  Quality is good here.

[2015-12-09 13:10] karato commented on #844
@elenavolokhova thanks for the review

[2015-12-09 13:10] karato commented on #843
@elenavolokhova many thanks

[2015-12-09 13:28] karato commented on #844
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `71768357`... Many thanks! **38 mins** were added to your account in Transaction ID `71768390` (task took 53 hours and 20 mins)... m=3200, that's why a bonus here for fast delivery... +38 added to your rating, current score is: [+794](http://www.netbout.com/b/35166?open=rating)

[2015-12-09 15:05] #833 closed

[2015-12-09 15:05] karato commented on #833
@dmzaytsev The issue is closed

[2015-12-09 15:08] karato commented on #833
@dmzaytsev paid, thanks, added **30 mins** to your account, payment `71773014`, 644 hours and 42 mins was spent; added +30 to your rating, now it is equal to [+824](http://www.netbout.com/b/35166?open=rating)

[2015-12-09 15:08] karato commented on #843
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `71773003`; **30 mins** was added to your account, many thanks for your contribution (payment 71773026)! The task took 100 hours and 43 mins.; +30 to your rating, your total score is [+854](http://www.netbout.com/b/35166?open=rating)

[2015-12-09 17:35] karato commented on #830
@dmzaytsev I'm closing the issue...

[2015-12-09 17:35] #830 closed

[2015-12-09 19:07] karato commented on #841
@ivanjunckes the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here. Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-12-09 19:07] karato commented on #842
@mkordas this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-12-09 21:00] karato commented on #750
@ivanjunckes this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-12-09 21:00] karato commented on #758
@mkordas can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here. This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-12-09 21:27] mkordas opened #849 "Build fails on Windows during 'bower install' phase when frontend-maven-plugin is executed"
Error occurs every time I invoke `mvn clean install` from console on Windows 10 when `netbout-web` project is build. It happens during `bower install` phase of frontend-maven-plugin execution.

Logs:
[code]

[2015-12-09 21:35] mkordas opened #850 "Multiple tests do not work on Windows due to encoding set to 'windows-1250' by default"
On Windows default encoding is set to `windows-1250`. This makes the following tests failing:
[code]
Sample stack trace from `TkAppTest.redirectsToReturnCookie`:
[code]

[2015-12-09 22:31] mkordas opened #851 "Error when starting server with '-DskipTests'"
When command `mvn install -DskipTests  -Phit-refresh -Dport=8080` is invoked on Windows, the following exception crashes the build:
[code]

[2015-12-10 11:50] dmzaytsev commented on #847
@yegor256 there is a bug inside Pegdown.
btw you submitted it year and a half ago https://github.com/sirthias/pegdown/issues/136
but it seems the author of Pegdown don't want to fix it.

it's impossible to fix this bug if we will still use Pegdown

[2015-12-10 15:27] dmzaytsev commented on #851
@mkordas you skip tests and that's why local DynamoDB doesn't start

Readme [says](https://github.com/yegor256/netbout#run-locally-and-test-it)
[code]

[2015-12-10 15:44] dmzaytsev commented on #850
@mkordas if you opened `com.netbout.rest.TkApp#make()` you would  see
[code]
so this is an intentional behavior

I guess you meant that we need to update Readme, right ? :)

[2015-12-10 16:01] dmzaytsev commented on #849
@mkordas I just built it on Windows 10
![image](https://cloud.githubusercontent.com/assets/9972909/11720394/d06ee0f6-9f80-11e5-9d43-5b89a9b9dbd2.png)

how a ticket performer can reproduce the issue?
If you have any idea, please let me know

[2015-12-10 16:56] mkordas commented on #849
@dmzaytsev Thanks for confirmation that it works for you - it's not about system then. I'll reopen this issue whenever I'll have reliable reproducer.

[2015-12-10 17:00] mkordas commented on #850
@dmzaytsev Yes, README doesn't say anything about preconditions about environment, but the less manual steps the better. If different default encoding is needed for tests, this can be set in Maven by `file.encoding` argument for the JVM running the tests.

[2015-12-10 17:04] mkordas commented on #851
I used `-DskipTests` because I was blocked by #850. This is pretty standard Maven property that is even available as a button e.g. in IntelliJ. We shouldn't fail the build with totally not meaningful `NumberFormatException: null` just because someone doesn't want to invoke tests before running the application.

[2015-12-10 19:30] yegor256 commented on #847
@dmzaytsev maybe we can replace pegdown with something else?

[2015-12-10 21:43] mkordas opened #852 "Exclamation mark used as new/old email address internal separator is displayed to user"
##### Scenario 1:
User without email address at `acc/index` presses save without specifying any value. Empty email is correctly considered as invalid, but message displayed to user is `Email '!' is invalid`

##### Scenario 2:
User with assigned email address (e.g. current@email.com) at `acc/index` presses save without specifying any value. New email that is empty is correctly considered as invalid

[2015-12-10 22:21] mkordas opened #853 "Email that is not yet verified is not displayed on account page"
1. Go to http://www.netbout.com/acc/index
2. Fill in new email (valid one), press save
3. See that information `Email changed to "new@email.com". The verification link sent to this address.` is displayed at the top and email is sent
4. Refresh page at http://www.netbout.com/acc/index - **old email is still displayed instead of new one**

[2015-12-10 22:22] mkordas commented on #842
@karato I think it is blocked by #853. Please let me know if you see possibility to implement this one without #853 being done first.

[2015-12-10 22:26] mkordas commented on #758
@karato is it possible to test email feature locally? Right now I'm getting `Sorry we were not able to send verification link to the new address`.

[2015-12-11 05:44] dmzaytsev commented on #853
@karato it's a valid bug

[2015-12-11 05:47] dmzaytsev commented on #842
@mkordas I think this ticket and #853 are different issues and can be resolved separately

[2015-12-11 05:48] dmzaytsev commented on #852
@karato it's a valid bug

[2015-12-11 05:52] dmzaytsev commented on #758
@mkordas yes it's possible if you updated the email credentials in `MANIFEST.MF`
but I would suggest to reproduce the issue on the production server before

[2015-12-11 06:24] dmzaytsev commented on #850
@mkordas
btw how it can be set in pom.xml?

I think it will be enough if we mention the environment preconditions in README

[2015-12-11 07:07] dmzaytsev commented on #847
@yegor256 okay, let's try
I didn't use another markdown processors before...
but what do you think about https://github.com/rjeschke/txtmark ?

[2015-12-11 07:21] yegor256 commented on #847
@dmzaytsev looks good... let's try

[2015-12-11 08:05] dmzaytsev commented on #847
@karato it's a valid bug

[2015-12-11 09:14] karato commented on #853
@dmzaytsev added "bug" tag to this issue

[2015-12-11 09:14] karato commented on #852
@dmzaytsev tagged this issue with "bug"

[2015-12-11 10:50] karato commented on #852
@mkordas I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-12-11 10:50] karato commented on #853
@mkordas since the ticket has no milestone I set it to 3.1

[2015-12-11 11:00] karato commented on #853
@mkordas many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `566aacd5ee243500a5000059`

[2015-12-11 12:29] karato commented on #852
@mkordas thank you for the ticket reported, I topped your account for 15 mins, transaction `566ac1923c54100b1c000022`

[2015-12-11 16:59] dmzaytsev commented on #847
@karato please assign me to this

[2015-12-11 19:07] karato commented on #847
@dmzaytsev of course, the task is yours, go ahead

[2015-12-11 19:11] dmzaytsev commented on #847
@yegor256 please see PR #854
`MardownTxtmark` will be implemented in the next puzzle
I think this ticket can be closed

[2015-12-11 22:00] mkordas commented on #758
@dmzaytsev unfortunately I cannot reproduce this issue on production instance. When I reply to the email sent by Netbout nothing happens for me. Am I missing something?

[2015-12-11 22:15] mkordas opened #855 "No information whether search has returned any results"
When I search for something that has never occurred in my bouts I would expect error message like `No results found for "invalid search"`. Instead, just empty homepage without any information is shown:

![image](https://cloud.githubusercontent.com/assets/5467276/11756833/007d1b28-a05d-11e5-9fb3-e2cc6faa07c4.png)

[2015-12-11 22:22] mkordas opened #856 "Not possible to search by bout names"
I would expect bout names to be searchable.

For example when I have the following bout:
![image](https://cloud.githubusercontent.com/assets/5467276/11756969/ee212054-a05d-11e5-9295-7fa8d730cfb8.png)
I would expect it to be returned during the search, but it doesn't:

![image](https://cloud.githubusercontent.com/assets/5467276/11756985/098627ae-a05e-11e5-812d-9b0cab7f4f3b.png)

[2015-12-11 22:34] mkordas opened #857 "Pressing 'Upload' without attachment chosen redirects to home page"
When no file is chosen and 'Upload' button is pressed:
![image](https://cloud.githubusercontent.com/assets/5467276/11757165/715dd114-a05f-11e5-9509-fd3a06be00f2.png)

user is redirected from bout to home page with the following error:
![image](https://cloud.githubusercontent.com/assets/5467276/11757141/4e34d53e-a05f-11e5-8c59-62cabfdbf7d9.png)

[2015-12-11 22:57] mkordas opened #858 "XSS vulnerability in bouts"
If someone would type the following message in the bout:
![image](https://cloud.githubusercontent.com/assets/5467276/11757329/b2844870-a060-11e5-98f7-4177100e4b37.png)

Then every time the bout is open, alert window will be shown:
![image](https://cloud.githubusercontent.com/assets/5467276/11757590/dbf85f00-a062-11e5-9feb-d2cc74aa6aeb.png)

[2015-12-11 23:04] mkordas opened #859 "Visual glitches when using markdown titles in bouts"
In any bout post a message with markdown-like titles, for example:
[code]

Here is how it looks just after pressing 'Post new message' button:
![image](https://cloud.githubusercontent.com/assets/5467276/11757691/d671f9c8-a063-11e5-9603-d82d3c043a01.png)

[2015-12-11 23:23] mkordas opened #860 "Email can be 'changed' to the same email"
1. Go to http://www.netbout.com/acc/index
2. See your current email
3. Without changing it, press 'save'

Expected: no action, as there was no change to an email
Actual: entire procedure to confirm your current email begins, which doesn't really make sense

[2015-12-11 23:53] yegor256 commented on #847
@dmzaytsev thanks!

[2015-12-11 23:53] #847 closed

[2015-12-11 23:53] mkordas opened #861 "Errors on production when trying to upload files"
I was playing with production instance of Netbout and while adding attachment to the bout (3 MB TXT file) I get the following stacktrace displayed:
[code]

After pressing back the following stacktraces were shown:
[code]

This made entire application down:
![image](https://cloud.githubusercontent.com/assets/5467276/11758389/b04220f0-a06a-11e5-9ad6-41fb3251d84e.png)

It must be some kind of bug, bu

[2015-12-12 00:04] mkordas commented on #842
@karato I need more time

[2015-12-12 07:22] dmzaytsev commented on #860
@karato it's a valid bug

[2015-12-12 07:22] dmzaytsev commented on #858
@karato it's a valid bug

[2015-12-12 07:25] dmzaytsev commented on #857
@mkordas what are you expect in this case?
the user made an invalid action and got the error message, what's wrong?

[2015-12-12 07:26] dmzaytsev commented on #856
@karato it's a valid bug

[2015-12-12 07:27] dmzaytsev commented on #855
@karato it's a valid bug

[2015-12-12 07:29] dmzaytsev commented on #861
@mkordas is this issue reproducible ?

[2015-12-12 07:30] dmzaytsev commented on #859
@karato it's a valid bug

[2015-12-12 10:46] karato commented on #842
@mkordas agreed, take your time

[2015-12-12 10:46] karato commented on #860
@dmzaytsev I just added bug tag here

[2015-12-12 10:46] karato commented on #859
@dmzaytsev I added `bug` tag to this ticket

[2015-12-12 10:46] karato commented on #856
@dmzaytsev added "bug" tag to this issue

[2015-12-12 10:46] karato commented on #858
@dmzaytsev tag "bug" added

[2015-12-12 10:46] karato commented on #855
@dmzaytsev tagged this issue with "bug"

[2015-12-12 11:50] karato commented on #855
@mkordas since there is no milestone yet I set it to "3.1"

[2015-12-12 11:50] karato commented on #856
@mkordas I set milestone here to `3.1`, let me know if it is wrong

[2015-12-12 11:50] karato commented on #858
@mkordas milestone set to `3.1` (correct me if I am wrong)

[2015-12-12 11:50] karato commented on #859
@mkordas there is no milestone yet, so I set it to `3.1`

[2015-12-12 11:50] karato commented on #860
@mkordas there is no milestone yet, so I set it to `3.1`

[2015-12-12 12:05] karato commented on #860
@mkordas thank you for reporting this, I added 15 mins to your acc, transaction `566c0d6f530033475e0000bc`

[2015-12-12 13:31] karato commented on #859
@mkordas thanks for this report, I added 15 mins to your account, in transaction `566c21a3c12c547c34000051`

[2015-12-12 14:21] mkordas commented on #857
@dmzaytsev
I would expect one of the following:
* upload button is greyed out/not displayed when no file is chosen
* do not redirect to home page, just display information that file choice is needed
I don't expect the following behaviours:
* redirection to home page
* typo in message (`can contains`)
* being not precise in message (technically speaking empty string doesn't contain any disallowed c

[2015-12-12 14:29] mkordas opened #862 "Setting bout name to empty string causes not handled exception"
1. Go to www.netbout.com/start
2. Click name of bout ("untitled") and remove all characters (make name empty)
3. Press enter

Application crashes with the following stacktrace:
[code]

[2015-12-12 15:26] karato commented on #858
@mkordas thank you for reporting this, I added 15 mins to your acc, transaction `566c3cb3fededc5f510000f8`

[2015-12-12 15:49] dmzaytsev commented on #862
@karato it's a valid bug

[2015-12-12 15:51] dmzaytsev commented on #857
@karato it's a valid bug

[2015-12-12 16:21] karato commented on #862
@dmzaytsev added "bug" tag to this issue

[2015-12-12 16:21] karato commented on #857
@dmzaytsev I just added bug tag here

[2015-12-12 16:32] karato commented on #856
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 566c4c34c12c543358000161

[2015-12-12 17:44] karato commented on #857
@mkordas since the ticket has no milestone I set it to 3.1

[2015-12-12 17:44] karato commented on #862
@mkordas I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-12-12 17:57] karato commented on #855
@mkordas many thanks for the report, I topped your account for 15 mins, transaction 566c5ffdc12c540c83000110

[2015-12-12 18:58] ivanjunckes commented on #849
@mkordas I am having this issue while trying to setup my local env. Can anyone help me out?

[code]

[2015-12-12 19:04] mkordas commented on #849
@ivanjunckes so we have exactly the same issue. What Maven version do you use?

[2015-12-12 19:05] ivanjunckes commented on #849
[code]

[2015-12-12 19:20] mkordas commented on #849
Here are my details:
[code]
So failure happens both on JDK 7/JDK 8 and Maven 3.2.5/3.3.9.

@dmzaytsev can you share your environment details?

[2015-12-12 19:44] ivanjunckes commented on #850
@mkordas I have the same issue when running maven through eclipse in windows 10. Please let me know if you found out how to fix it.
[code]

[2015-12-12 19:52] mkordas commented on #849
@ivanjunckes I may have some trace. What is your `PATHEXT` env variable? When I change it from `.COM;.EXE;.BAT;.CMD;.VBS;.VBE;.JS;.JSE;.WSF;.WSH;.MSC` to default `.COM;.EXE;.BAT;.CMD` this error disappears (but I get another one).

[2015-12-12 20:13] ivanjunckes commented on #849
@mkordas I changed it to ```.COM;.EXE;.BAT;.CMD``` but keep getting the same error.

[2015-12-12 20:19] mkordas commented on #850
@dmzaytsev

Just like below. Would be good to incorporate it into POM. Can I raise pull request?

            <plugin>
                <artifactId>maven-surefire-plugin</artifactId>
                <configuration>
                    <argLine>-Dfile.encoding=UTF-8</argLine>
                </configuration>
            </plugin>
@ivanjunckes you can use the above as temporary solution. But Windows

[2015-12-12 20:32] ivanjunckes commented on #850
@mkordas That works, thanks.

[2015-12-12 21:04] karato commented on #848
@dmzaytsev there are some issues (see [par.33](http://at.teamed.io/policy.html#33)) in the project now:

 * some tasks are stuck: #737 (154 days), #750 (138 days), #761 (116 days), #758 (116 days), #767 (113 days), #770 (111 days), #775 (109 days), #787 (87 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve t

[2015-12-12 21:04] karato commented on #862
@mkordas thank you for reporting this, I added 15 mins to your acc, transaction `566c8bc8de472f4f2a000103`

[2015-12-12 21:19] mkordas commented on #861
@dmzaytsev yes, just try to attach this large [TXT file](https://drive.google.com/file/d/0BwYOBDbn-h3fX1ZHVmJJdDhPMy13Y1N3Nlh2OW5JVGxJNUlZ) to any bout on production instance

[2015-12-12 21:53] mkordas opened #863 "Reference-style markdown images do not work in bouts"
When posting as a bout the following text:
[code]
It renders as follows:
![image](https://cloud.githubusercontent.com/assets/5467276/11764066/82ace34c-a122-11e5-95ce-5a807b5e560b.png)

It is because square brackets are added around the link
![image](https://cloud.githubusercontent.com/assets/5467276/11764071/a81ef476-a122-11e5-9fe8-3db8857c44e0.png)

The same here in GitHub works fine as it is pro

[2015-12-12 22:17] mkordas opened #864 "Trying to invite alias with long string causes not handled exception"
1. Go to www.netbout.com/start
2. Paste into `Invite...` field some longer string, for example `123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890`
3. Press enter
Application crashes with the following stacktrace:
[code]
I would expect just an error message that alias name is too long.

[2015-12-12 22:36] mkordas opened #865 "Obsolete text field "attachment name...""
Field "attachment name..." displayed when adding files to bouts doesn't seem to be used anywhere and it doesn't impact anything:
![image](https://cloud.githubusercontent.com/assets/5467276/11764248/ec007bc8-a128-11e5-87f0-e57b55879d08.png)

I think it should be removed. Or maybe I'm missing something?

[2015-12-13 04:58] dmzaytsev commented on #849
@mkordas
[code]

[2015-12-13 05:14] dmzaytsev commented on #861
@karato it's a valid bug

[2015-12-13 05:18] dmzaytsev commented on #863
@karato it's a valid bug

[2015-12-13 05:20] dmzaytsev commented on #864
@karato it's a valid bug

[2015-12-13 05:44] dmzaytsev commented on #865
@mkordas I guess, there  was an idea, "attachment name" should be a label for an attachment.
@yegor256 am I right?
if so field "attachment name" should be filled by a file name by default
unallowed  chars like spaces or dashes should be replaced/removed as well

[2015-12-13 05:49] dmzaytsev commented on #850
@mkordas

the broken test ignored

[2015-12-13 05:52] dmzaytsev commented on #850
@mkordas

no, you can't
Problem reporter and problem solver should be two different persons

[2015-12-13 07:28] dmzaytsev commented on #850
@karato it's a valid bug

[2015-12-13 09:18] karato commented on #864
@dmzaytsev I added `bug` tag to this ticket

[2015-12-13 09:18] karato commented on #861
@dmzaytsev added "bug" tag to this issue

[2015-12-13 09:18] karato commented on #863
@dmzaytsev I just added bug tag here

[2015-12-13 09:18] karato commented on #850
@dmzaytsev I added `bug` tag to this ticket

[2015-12-13 09:18] karato opened #867 "Markdown.java:38-40: MarkdownTxtmark not implemented but has..."
Puzzle `847-f2a7caae` in `netbout-web/src/main/java/com/netbout/rest/Markdown.java:38-40` has to be resolved: MarkdownTxtmark not implemented but has to be. This class should be implementation of Markdown using TxtMark. See https://github.com/rjeschke/txtmark. Don't forget about unit tests.... The puzzle was created by Dmitry Zaytsev on 11-Dec-2015.

If you have any technical questions, don't ask

[2015-12-13 09:19] karato commented on #847
@yegor256 there is a puzzle in this code `847-f2a7caae`/#867, we'll resolve it later

[2015-12-13 09:33] karato commented on #857
@mkordas thanks a lot for reporting, **15 mins** added to your acc, pmt ID `566d3b5ed4a82e15c600011c`

[2015-12-13 10:27] karato commented on #850
@mkordas attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-12-13 10:27] karato commented on #861
@mkordas I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-12-13 10:27] karato commented on #863
@mkordas attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-12-13 10:27] karato commented on #864
@mkordas I set milestone here to `3.1`, let me know if it is wrong

[2015-12-13 10:27] karato commented on #867
@dmzaytsev I set milestone here to `3.1`, let me know if it is wrong

[2015-12-13 10:48] karato commented on #864
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `566d4ce29ee017247d000298`

[2015-12-13 11:57] karato commented on #847
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2015-12-13 11:59] karato commented on #863
@mkordas thank you for reporting this, I added 15 mins to your acc, transaction `566d5d84fededc47350003cd`

[2015-12-13 12:02] ypshenychka commented on #847
@karato Quality is good.

[2015-12-13 13:06] karato commented on #861
@mkordas many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `566d6d668d888545d1000129`

[2015-12-13 13:13] dmzaytsev commented on #758
@mstzn36 we can't reproduce the issue
It seems you have launched integration test on the production instance, that's why these bouts have been created

[2015-12-13 14:43] dmzaytsev commented on #758
@karato this is invalid

[2015-12-13 14:45] karato commented on #847
@ypshenychka thanks!

[2015-12-13 14:46] dmzaytsev commented on #767
@karato assign @mkordas to this ticket please

[2015-12-13 14:46] dmzaytsev commented on #787
@karato this is urgent

[2015-12-13 15:05] karato commented on #847
@dmzaytsev 10 mins was added to the account of @ypshenychka (for QA review), in transaction 71916111

Thanks for your contribution, **1 hour** was added to your account, payment ID is `71916116`, 15 hours and 37 mins spent total

the bonus for fast delivery (m=937)

+60 added to your rating, at the moment it is: [+1005](http://www.netbout.com/b/35166?open=rating)

[2015-12-13 15:05] karato commented on #850
@mkordas thanks for the ticket, your account was topped for 15 mins, payment 566d8936d4a82e7a1c000159

[2015-12-13 16:22] karato commented on #758
@dmzaytsev OK, I put "invalid" label here

[2015-12-13 16:22] karato commented on #767
@dmzaytsev OK @mkordas please go ahead, this task is yours

[2015-12-13 16:22] karato commented on #787
@dmzaytsev OK, I put "urgent" label here

[2015-12-13 16:30] dmzaytsev opened #868 "broken test TkAttachTest#sendsMessageToBout() on windows"
We have a broken test TkAttachTest#sendsMessageToBout() on windows
`mvn clean install` causes the stack trace like below

sendsMessageToBout(com.netbout.rest.bout.TkAttachTest)  Time elapsed: 1.465 sec  <<< ERROR!
java.io.IOException: Unable to delete file: C:\Users\Dmitry\AppData\Local\Temp\netbout8077744991897733500bin
        at org.apache.commons.io.FileUtils.forceDelete(FileUtils.java:2279)

[2015-12-13 16:31] dmzaytsev commented on #868
@karato it's a valid bug

[2015-12-13 17:57] karato commented on #868
@dmzaytsev I added `bug` tag to this ticket

[2015-12-13 19:27] karato commented on #868
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2015-12-13 19:37] karato commented on #868
@dmzaytsev thanks for tis bug, I topped your account for 30 mins, transaction `71921211`

[2015-12-13 22:25] mstzn36 commented on #758
@dmzaytsev Actually I had faced this issue on production instance. Here's my [homepage] (http://s14.postimg.org/w9bvy6881/Screen_Shot_2015_12_14_at_00_15_52.png)

I tried again but i could not reproduce.

fyi

[2015-12-14 03:53] dmzaytsev commented on #758
@mstzn36 so could you close the ticket ?

[2015-12-14 11:49] ivanjunckes commented on #849
@mkordas I found a way to fix it, but not sure if this is the best solution.
I changed this file ```..\netbout\netbout-web\.bowerrc``` removing ```sh src/main/bower/postinstall.sh``` from the ```postinstall``` property, thus it will avoid the execution of the sh script. Bash scripts are not supposed to be executed on windows, so it ends up failing.
[code]
@dmzaytsev can you share your .bowerrc con

[2015-12-14 12:02] dmzaytsev commented on #849
@ivanjunckes does it make sense to share `.bowerrc`? it always pulls from github
but It seems I realized what's the matter

[code]

@mkordas if you reopened the issue I will put a bug tag here

[2015-12-14 12:04] dmzaytsev commented on #867
@karato assign me to this ticket please

[2015-12-14 12:20] mkordas commented on #849
@dmzaytsev I've reopened the issue

[2015-12-14 12:22] dmzaytsev commented on #849
@karato it's a valid bug

[2015-12-14 12:24] ivanjunckes commented on #849
@dmzaytsev I was just wondering if you did local changes to make it work :)

I installed bash for windows and it is working properly, we may need to add instructions to install bash.

[2015-12-14 12:33] dmzaytsev commented on #849
@ivanjunckes yeah, README needs to be updated or maybe it needs to make some modifications in `.bowerrc`
I don't know exactly

[2015-12-14 14:03] karato commented on #867
@dmzaytsev of course, the task is yours, go ahead

[2015-12-14 14:03] karato commented on #849
@dmzaytsev tagged this issue with "bug"

[2015-12-14 14:39] karato commented on #849
@mkordas since the ticket has no milestone I set it to 3.1

[2015-12-14 14:55] karato commented on #849
@mkordas thanks for the ticket, your account was topped for 15 mins, payment 566ed847d26ede56550002dc

[2015-12-14 15:31] ivanjunckes opened #871 "Build failed with Exception: java.lang.OutOfMemoryError"
netbout-web failed the build with Exception: java.lang.OutOfMemoryError.

OS: Windows 10

The log is below, can anyone help me with this?
[code]

[2015-12-14 16:06] dmzaytsev commented on #871
@ivanjunckes

https://www.google.ru/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=OutOfMemoryError+maven

https://cwiki.apache.org/confluence/display/MAVEN/OutOfMemoryError

so try to use

`set MAVEN_OPTS=-Xmx512m -XX:MaxPermSize=128m`

I hope this will help

[2015-12-14 16:27] ivanjunckes commented on #871
It helped, thanks.

[2015-12-14 16:38] dmzaytsev commented on #871
@ivanjunckes if so could you close the ticket?

[2015-12-14 16:47] ivanjunckes commented on #871
Sure.

[2015-12-14 16:47] #871 closed

[2015-12-14 17:47] dmzaytsev commented on #867
@karato fixed in PR #869 the task can be closed

[2015-12-14 17:57] dmzaytsev opened #872 "Appveyor setup"
we have many windows-specific issues in the project.
it will be good to setup Appveyor CI for netbout to validate pull requests against that  issues.

[2015-12-14 17:58] dmzaytsev commented on #872
@karato it's a valid bug

[2015-12-14 18:00] dmzaytsev commented on #872
@yegor256  you are owner of the repository. Could you register netbout in Appveyor?
I will create the configuration file later

[2015-12-14 18:56] karato commented on #872
@dmzaytsev I tagged this as "bug"

[2015-12-14 19:09] karato commented on #758
@mstzn36 I am closing it

[2015-12-14 19:09] #758 closed

[2015-12-14 20:34] yegor256 commented on #872
@dmzaytsev done: https://ci.appveyor.com/project/yegor256/netbout

[2015-12-14 20:40] karato commented on #872
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2015-12-14 21:03] karato commented on #872
@dmzaytsev thank you for the ticket reported, I topped your account for 30 mins, transaction `72234292`

[2015-12-15 08:13] yegor256 commented on #865
@dmzaytsev yes, attachment name should be taken from the form field, not file name

[2015-12-15 08:18] dmzaytsev commented on #865
@karato it's a valid bug

[2015-12-15 08:21] dmzaytsev commented on #865
@mkordas Field "attachment name..."  shouldn't be removed, however we have a bug here

[2015-12-15 08:43] mkordas commented on #865
@dmzaytsev should I rename the issue and change the description? Or just comments are enough?

[2015-12-15 09:16] karato commented on #867
@dmzaytsev thanks, will take a look

[2015-12-15 09:17] karato commented on #865
@dmzaytsev I added `bug` tag to this ticket

[2015-12-15 10:23] karato commented on #865
@mkordas since there is no milestone yet I set it to "3.1"

[2015-12-15 10:34] karato commented on #865
@mkordas many thanks for the report, I topped your account for 15 mins, transaction 566fecb821649a322a0000a7

[2015-12-15 11:09] dmzaytsev commented on #865
@mkordas I think comments are enough

[2015-12-15 13:26] karato commented on #767
@mkordas I'm not sure who actually completed this task, since there were no messages from you above (correct me if I'm wrong)

[2015-12-15 13:46] mkordas commented on #767
@karato I've completed this task in #870, sorry for no message above

[2015-12-15 14:41] karato opened #873 "MarkdownTxtmarkTest.java:42-46: MarkdownTxtmark not implemented but has..."
Puzzle `867-4e7e6e8f` in `netbout-web/src/test/java/com/netbout/rest/MarkdownTxtmarkTest.java:42-46` has to be resolved: MarkdownTxtmark not implemented but has to be. See #847 for details. This class should be implementation of Markdown using TxtMark. See https://github.com/rjeschke/txtmark. After that don't forget remove Ignore annotation from unit tests.... The puzzle was created by Dmitry Zayt

[2015-12-15 14:41] karato commented on #867
@dmzaytsev there is a puzzle in this code `867-4e7e6e8f`/#873, we'll resolve it later

[2015-12-15 14:51] karato commented on #787
@mkordas this is your task

[2015-12-15 15:14] karato commented on #873
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2015-12-15 18:13] mkordas commented on #787
@dmzaytsev can you assist me with this issue? I have several questions:
* What class should be modified?
* How cache can be cleaned or refreshed?
* How to identify whether message has been read or not?

[2015-12-15 18:24] mkordas commented on #842
@karato done in #842

[2015-12-15 19:03] dmzaytsev commented on #787
@mkordas there is the subject of the ticket...

[2015-12-15 23:25] mkordas commented on #787
@dmzaytsev subject doesn't say anything different than issue description, but I looked into code and managed to come up with solution
@karato please see PR #874

[2015-12-16 11:12] karato commented on #842
@rultor @karato please take a look, rultor closed it automatically

[2015-12-16 11:39] mkordas commented on #842
@karato GitHub automatically closes all issues when pull request with description `fixes #XXX` is merged by anyone (including rultor)

[2015-12-16 15:09] karato commented on #867
@dmzaytsev Thanks all, I am closing

[2015-12-16 15:09] #867 closed

[2015-12-16 15:10] karato commented on #867
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2015-12-16 15:12] ypshenychka commented on #867
@karato Quality is good here.

[2015-12-16 17:46] karato commented on #867
@ypshenychka many thanks

[2015-12-16 17:58] karato commented on #867
@dmzaytsev paied 10 mins to @ypshenychka for QA review (payment ID is `72373678`)... I just added **45 mins** to your account, many thanks for your contribution (72373704).. 24 hours and 37 mins spent here... the bonus for fast delivery (m=1477)... added +45 to your rating, now it is equal to [+942](http://www.netbout.com/b/35166?open=rating)

[2015-12-16 19:49] karato commented on #767
@mkordas thanks, please don't forget to report PR number in each ticket you complete

[2015-12-16 19:49] karato commented on #842
@mkordas yeah, this is how GitHub works, we can't change that

[2015-12-16 20:39] yegor256 commented on #767
@karato pls add extra 30 mins to @mkordas

[2015-12-16 23:49] mkordas opened #875 "Unexpected exception is thrown when kicking off user that is not in the bout"
To reproduce open any bout and add to URL string like `/kick?name=any`, e.g. `http://www.netbout.com/b/36163/kick?name=any`. It can also happen when user uses two windows for the same bout and tries to remove someone in both without refresh.

This is what is displayed:
![screenshot from 2015-12-17 00 44 01](https://cloud.githubusercontent.com/assets/5467276/11857330/89e3ac62-a457-11e5-8488-66abc1b

[2015-12-16 23:57] mkordas opened #876 "More than 3 asterisks, hyphens or underscores in line are not displayed in bout"
To reproduce e.g. post in bout

[code]

Such message will not be displayed:
![screenshot from 2015-12-17 00 55 41](https://cloud.githubusercontent.com/assets/5467276/11857489/eced565e-a458-11e5-9bdb-1ea9e14e2f69.png)
while I would expect **horizontal rule** to be displayed as per [Markdown reference](http://daringfireball.net/projects/markdown/syntax#hr).

Same goes with hyphens (-) or underscores

[2015-12-17 06:53] dmzaytsev commented on #875
@karato it's a valid bug

[2015-12-17 07:15] dmzaytsev commented on #876
@mkordas please submit a bug properly
you wrote

but what are you expect to see? 3 asterisks  ? or a line ? or something else?

it would better if you the bug description contains something like

"you can produce a horizontal rule by placing three or more hyphens"

[2015-12-17 07:21] mkordas commented on #876
@dmzaytsev you are right, I've fixed the description

[2015-12-17 07:52] mkordas opened #877 "Internal Application Error when path contains "[" or "]" character"
To reproduce put `[` or `]` at any place to path, e.g. go to `http://www.netbout.com/[` and see the following error:
![image](https://cloud.githubusercontent.com/assets/5467276/11864189/bce54560-a49a-11e5-8a6b-a73282154e0d.png)

Stacktrace:

[code]

I would expect redirect to home page without error or with information that path is invalid.

[2015-12-17 08:11] dmzaytsev commented on #876
@karato it's a valid bug

[2015-12-17 08:11] dmzaytsev commented on #877
@karato it's a valid bug

[2015-12-17 11:05] karato commented on #767
@rultor @dmzaytsev please take a look, rultor closed it automatically

[2015-12-17 11:06] karato commented on #876
@dmzaytsev tagged this issue with "bug"

[2015-12-17 11:06] karato commented on #877
@dmzaytsev I added `bug` tag to this ticket

[2015-12-17 11:06] karato commented on #875
@dmzaytsev added "bug" tag to this issue

[2015-12-17 11:09] mkordas opened #878 "Netbout presented in Google Search in unfriendly way"
This is what shows when [searching for "netbout"](https://www.google.com/search?q=netbout):
![image](https://cloud.githubusercontent.com/assets/5467276/11867874/3ddfe4a4-a4b4-11e5-904f-89bf18cf84a6.png)

Netbout should have proper meta and title tags on main page, for example:
[code]

[2015-12-17 12:06] karato commented on #875
@mkordas since there is no milestone yet I set it to "3.1"

[2015-12-17 12:06] karato commented on #876
@mkordas milestone set to `3.1` (correct me if I am wrong)

[2015-12-17 12:06] karato commented on #877
@mkordas since the ticket has no milestone I set it to 3.1

[2015-12-17 12:07] karato commented on #767
@yegor256 I've sent 30 mins extra to @mkordas in transaction ID "5672a55e000f564b5e0002c9"

[2015-12-17 12:18] karato commented on #767
@mkordas do this task, 30 mins is budget

[2015-12-17 12:18] karato commented on #877
@mkordas thanks for the ticket, your account was topped for 15 mins, payment 5672a80e9d6a2504300000a4

[2015-12-17 12:28] mkordas commented on #767
@karato I did this task in #870

[2015-12-17 12:44] #767 closed

[2015-12-17 14:35] karato opened #879 "XeAlias.java:95-97: Write test for the logic..."
Puzzle `842-9eb73ef4` in `netbout-web/src/main/java/com/netbout/rest/XeAlias.java:95-97` has to be resolved: Write test for the logic of generating Xembly for {@link Alias} class. It should focus on checking whether tags "email" and "newEmail" are properly populated based on input.... The puzzle was created by mkordas on 12-Dec-2015.

If you have any technical questions, don't ask me, submit new t

[2015-12-17 14:35] karato commented on #842
@dmzaytsev there is a puzzle in this code `842-9eb73ef4`/#879, we'll resolve it later

[2015-12-17 14:47] karato commented on #876
@mkordas many thanks for the bug report, I added 15 mins to your acc, transaction `5672caeaa1032f624000002f`

[2015-12-17 15:54] karato commented on #879
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2015-12-17 16:11] karato commented on #875
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `5672de9080c2b226890001c5`

[2015-12-17 19:42] mkordas opened #880 "Error message when uploading files with short names in not meaningful"
To reproduce create file named `a` and upload it to any bout. The following error will be displayed in red:

This error message is misleading because name contains just lower case letters and should pass the validation.

Only by looking into code of `DyAttachments`, it appears that to pass the validation name must have at least 3 characters. I see two possible solutions:
* do not demand at least 3

[2015-12-17 20:05] mkordas opened #881 "Strange behaviour when uploading empty attachment"
To reproduce create empty file using e.g. command `touch temp.md`.

When trying to upload it into any bout, there will be redirect to homepage with error

Surprisingly, the attachment gets added to the bout:
![screenshot from 2015-12-17 21 02 16](https://cloud.githubusercontent.com/assets/5467276/11880523/804a89f0-a501-11e5-8b5e-359f72ad58db.png)
but even more strange is that after download this a

[2015-12-17 20:28] mkordas opened #882 "Preview does not display properly markdown when line begins with space"
To reproduce put the following message as a text to post to bout:
[code]
Note that there is space at the beginning of line.

Here's how preview looks for it:
![screenshot from 2015-12-17 21 25 46](https://cloud.githubusercontent.com/assets/5467276/11881070/c42bc622-a504-11e5-97d2-888b848e280d.png)

After posting the message it looks correctly though:
![screenshot from 2015-12-17 21 26 38](https://

[2015-12-17 20:42] mkordas opened #883 "Frame for code in preview is too wide and causes visual glitch"
To reproduce prepare the following text in post new message to bout field:
[code]
Note that it begins with four spaces.

Press preview button and observe too wide frame:
![screenshot from 2015-12-17 21 40 21](https://cloud.githubusercontent.com/assets/5467276/11881381/cb5a8c6a-a506-11e5-97bc-6c23044b9785.png)

I'd expect it fitting exactly to the parent frame:
![screenshot from 2015-12-17 21 41 45

[2015-12-17 20:51] mkordas opened #884 "Emphasis within the words does not work for bout message contents"
According to [the Markown spec](http://daringfireball.net/projects/markdown/syntax#em), e.g. the text `un*frigging*believable` should be rendered as un_frigging_believable, but it is not.

![screenshot from 2015-12-17 21 48 19](https://cloud.githubusercontent.com/assets/5467276/11881574/e8b54f24-a507-11e5-8934-58403c2f1a88.png)
produces:

![screenshot from 2015-12-17 21 47 36](https://cloud.github

[2015-12-18 11:26] dmzaytsev commented on #873
@karato assign me please

[2015-12-18 11:26] dmzaytsev commented on #873
@karato please see PR #885

[2015-12-18 13:16] karato commented on #873
@dmzaytsev this task is yours now, please proceed

[2015-12-18 13:16] karato commented on #873
@dmzaytsev thanks, will take a look

[2015-12-18 13:30] karato commented on #737
@dimonn12 you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. added -60 to your rating, now it is equal to [-240](http://www.netbout.com/b/35589?open=rating)

[2015-12-18 13:30] karato commented on #761
@mkordas this is your task

[2015-12-18 16:31] karato commented on #767
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2015-12-18 17:32] elenavolokhova commented on #767
@karato Looks good.

[2015-12-18 18:01] karato commented on #737
@mkordas this is your task

[2015-12-18 18:53] karato commented on #767
@elenavolokhova many thanks

[2015-12-18 19:12] karato commented on #732
@mkordas this is your task

[2015-12-18 19:12] karato commented on #767
@mkordas paied 10 mins to @elenavolokhova for QA review (payment ID is `72469393`)

**1 hour** sent to your balance (ID `56745a65129ba5381a000065`), many thanks! It took 2 hours and 27 mins.

the bonus for fast delivery (m=147)

+60 added to your rating, current score is: [+510](http://www.netbout.com/b/36080?open=rating)

[2015-12-18 20:34] mkordas commented on #842
@karato @dmzaytsev this was done 3 days ago, please proceed

[2015-12-18 22:08] mkordas commented on #732
@karato @dmzaytsev please see PR #887

[2015-12-18 22:34] mkordas commented on #737
@dmzaytsev how can I refer from `CdAlias` to `CdFriend`? They do not have any reference to each other. Moreover, I don't see any possibility to clear cache from outside of the class.

[2015-12-18 22:35] mkordas commented on #787
@karato @dmzaytsev this was done 3 days ago, please proceed

[2015-12-19 05:25] dmzaytsev commented on #787
@mkordas you should ask the ticket reporter to close task and mention the PR that fixed the issue
it's needed to track tickets and to do the payment automatically

[2015-12-19 05:27] dmzaytsev commented on #842
@mkordas @karato will close this ticket

[2015-12-19 07:57] mkordas commented on #787
@dmzaytsev as a ticket reporter please close this issue - it was implemented in #874

[2015-12-19 08:20] #787 closed

[2015-12-19 09:33] karato commented on #732
@mkordas thank you, I will check it

[2015-12-19 20:58] mkordas commented on #737
@dmzaytsev ping

[2015-12-20 08:30] dmzaytsev commented on #880
@karato valid bug

[2015-12-20 08:31] dmzaytsev commented on #881
@karato valid bug

[2015-12-20 08:31] dmzaytsev commented on #878
@karato valid bug

[2015-12-20 08:32] dmzaytsev commented on #883
@karato valid bug

[2015-12-20 08:32] dmzaytsev commented on #884
@karato valid bug

[2015-12-20 08:33] dmzaytsev commented on #882
@karato valid bug

[2015-12-20 09:41] karato commented on #884
@dmzaytsev I just added bug tag here

[2015-12-20 09:41] karato commented on #882
@dmzaytsev I just added bug tag here

[2015-12-20 09:41] karato commented on #883
@dmzaytsev I tagged this as "bug"

[2015-12-20 09:41] karato commented on #881
@dmzaytsev tag bug added to this issue

[2015-12-20 09:41] karato commented on #878
@dmzaytsev I added `bug` tag to this ticket

[2015-12-20 09:41] karato commented on #880
@dmzaytsev tag "bug" added

[2015-12-20 10:00] karato commented on #787
@ypshenychka review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2015-12-20 11:07] karato commented on #878
@mkordas since there is no milestone yet I set it to "3.1"

[2015-12-20 11:07] karato commented on #880
@mkordas I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-12-20 11:07] karato commented on #881
@mkordas since there is no milestone yet I set it to "3.1"

[2015-12-20 11:07] karato commented on #882
@mkordas there is no milestone yet, so I set it to `3.1`

[2015-12-20 11:07] karato commented on #883
@mkordas there is no milestone yet, so I set it to `3.1`

[2015-12-20 11:07] karato commented on #884
@mkordas I set milestone here to `3.1`, let me know if it is wrong

[2015-12-20 11:19] karato commented on #884
@mkordas thank you for the ticket reported, I topped your account for 15 mins, transaction `56768eaa90b4583059000165`

[2015-12-20 12:28] karato commented on #883
@mkordas many thanks for the bug report, I added 15 mins to your acc, transaction `56769ee36efb162b59000073`

[2015-12-20 13:21] karato commented on #882
@mkordas thanks for the ticket, your account was topped for 15 mins, payment 5676ab367d98e5731800005b

[2015-12-20 15:07] karato commented on #881
@mkordas many thanks for the report, I topped your account for 15 mins, transaction 5676c41a7d98e517440000c6

[2015-12-20 15:08] dmzaytsev commented on #737
@mkordas I believe we shouldn't use jcabi Cacheable in this case, because  each alias contains own cache of its friends now. So an alias can clear only own cache. thus we need to use a shared cache instead.
Let's introduce a new class, say named SharedCache in com.netbout.cached
This class should contains a map of google guava cache instances, names(parameters) of instances will be passed in a con

[2015-12-20 16:33] karato commented on #880
@mkordas thank you for the ticket reported, I topped your account for 15 mins, transaction `5676d8533bfa9c68dc000122`

[2015-12-20 17:55] karato commented on #878
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `5676eb8490b4581f3c0000bc`

[2015-12-20 18:46] dmzaytsev commented on #873
@karato fixed in PR #885 , the ticket can be closed

[2015-12-20 21:00] mkordas commented on #842
@karato please close this one, it was done 5 days ago in #866

[2015-12-20 21:05] mkordas commented on #732
@karato this was done in #887, please close the issue

[2015-12-21 09:24] ypshenychka commented on #787
@karato Quality is good here.

[2015-12-21 10:24] karato commented on #873
@dmzaytsev ok thanks

[2015-12-21 13:37] karato commented on #787
@ypshenychka thanks for the review

[2015-12-21 13:37] karato opened #888 "MarkdownTxtmarkTest.java:200-204: MarkdownTxtmark doesn't break a line..."
Puzzle `873-3b1d8aa3` in `netbout-web/src/test/java/com/netbout/rest/MarkdownTxtmarkTest.java:200-204` has to be resolved: MarkdownTxtmark doesn't break a line on a new line symbol. It should put br code or make a new paragraph on each new line in the input data. I didn't find that option in TxtMark's settings, but perhaps I missed something. If the option won't be found we can replace single eol

[2015-12-21 13:37] karato commented on #873
@dmzaytsev 2 puzzles were created here: `873-bdf7b68b`, `873-3b1d8aa3`/#888

[2015-12-21 13:52] karato commented on #787
@mkordas 10 mins was added to the account of @ypshenychka (for QA review), in transaction 72553523... I added **30 mins** to your account, many thanks for working with the project! The completion time here was 567803cfeb3fb64e940002f2.... +30 to your rating, your total score is [+660](http://www.netbout.com/b/36080?open=rating)

[2015-12-21 13:52] karato commented on #791
@prahladyeri can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

**30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). Se

[2015-12-21 13:58] prahladyeri commented on #791
@karato I'm presently occupied with [this](https://github.com/teamed/qulice/issues/526) issue, until at least tomorrow.

[2015-12-21 14:53] karato commented on #888
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-12-21 14:53] karato commented on #732
@mkordas will close soon, right after the next deployment cycle

[2015-12-21 14:53] karato opened #889 "MarkdownTxtmark.java:62-64: We need more tests for..."
Puzzle `873-bdf7b68b` in `netbout-web/src/main/java/com/netbout/rest/MarkdownTxtmark.java:62-64` has to be resolved: We need more tests for the case, when text contains several links. Both plain links and markdown preformatted links need to be checked.... The puzzle was created by Dmitry Zaytsev on 20-Dec-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-12-21 16:15] karato commented on #889
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2015-12-21 16:58] prahladyeri commented on #791
@karato I've finished with issue 526, now you can assign this ticket to me. I'll checkout the `netbout` code and try to replicate this issue.

[2015-12-21 17:58] mkordas commented on #842
@karato ping

[2015-12-21 22:20] mkordas commented on #732
@karato I think deployment should be done by now

[2015-12-22 03:32] prahladyeri commented on #791
@karato Yes, I can replicate this issue at my end. The freeze issue is caused by `maven-failsafe-plugin` when the `integration-test` goal is run. You can find this inside `/netbout-client/pom.xml`:

            <plugin>
                <artifactId>maven-failsafe-plugin</artifactId>
                <configuration>
                    <systemPropertyVariables>
                        <netbout.token>

[2015-12-22 11:20] karato commented on #791
@prahladyeri no need to inform me about the progress, let me know when it's done

[2015-12-22 11:20] karato commented on #791
@prahladyeri we assign tickets according to our own algorithm, but thanks for asking

[2015-12-22 11:20] karato commented on #842
@mkordas I'm here

[2015-12-22 11:26] prahladyeri commented on #791
@karato Raised [539](https://github.com/teamed/qulice/issues/539) for the `maven-failsafe-plugin` issue. Awaiting its resolution from there.

[2015-12-22 12:06] hs3180 commented on #791
@prahladyeri I may not explain this bug clearly. You could pass all tests if you skip `invitesAndKicksOff` in `RtFriendsITCase` or add a user named `alex` in netbout server. Your quest is to figure out why `invitesAndKicksOff` will get stuck when there is no one named `alex`.

[2015-12-22 12:26] dmzaytsev commented on #791
@prahladyeri I agree with @hs3180
it seems a problem in `invitesAndKicksOff`
the maven plugin doesn't related to this issue

[2015-12-22 12:35] prahladyeri commented on #791
@dmzaytsev Thanks, I'll try to figure that out from `netbout` code and the maven scripts.
@hs3180 I'm looking into it.

[2015-12-22 14:33] prahladyeri commented on #791
@hs3180 Indeed, the issue is in `invitesAndKicksOff()` method of `com.netbout.client.RtFriendsITCase` which is called in the verification goal.  Problem here is that `alex` user is hard-coded for testing this scenario. The code below assumes that `alex` user is registered and proceeds to invite that user:

        final User user = this.rule.get();
        final Alias alias = user.aliases().iterat

[2015-12-22 15:18] hs3180 commented on #791
@prahladyeri There are actually two questions here.
1. a hard-coded name in test case.
2. test case get stuck when invite a friend which doesn't exist.

Just show us your pull request, or your planned solution if you are not sure whether you understand requirements. Look at this http://www.yegor256.com/2014/10/07/stop-chatting-start-coding.html

[2015-12-22 15:26] karato commented on #732
@dmzaytsev Closed, thanks all

[2015-12-22 15:26] #732 closed

[2015-12-22 15:26] karato commented on #873
@dmzaytsev I'm closing the issue...

[2015-12-22 15:26] #873 closed

[2015-12-22 15:27] karato commented on #873
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2015-12-22 15:28] karato commented on #732
@mkordas I added **30 mins** to your account, many thanks for working with the project! The completion time here was 56796bd96bfea61493000097.... added +30 to your rating, now it is equal to [+794](http://www.netbout.com/b/36080?open=rating)

[2015-12-22 15:41] ypshenychka commented on #873
@karato Quality is good.

[2015-12-22 15:49] dmzaytsev commented on #791
@prahladyeri  RtFriendsITCase#invitesAndKicksOff() must not get stuck if a friend doesn't exists or any another reason.
A test method should raise an exception if something happened inside
a hard-coded name is another issue

[2015-12-22 17:34] karato commented on #873
@ypshenychka thank you

[2015-12-22 17:51] karato commented on #873
@dmzaytsev added 10 mins to @ypshenychka, for QA review, payment code is `72874455`. done, I added **30 mins** in payment `72874472`, 72 hours and 20 mins spent to complete this. +30 added to your rating, at the moment it is: [+1070](http://www.netbout.com/b/35166?open=rating)

[2015-12-22 18:19] mkordas commented on #842
@karato can you accept and close this issue?

[2015-12-22 21:51] mkordas commented on #737
@dmzaytsev are you sure about the above? Do we really need map of caches? I think we just need one shared cache right now.

[2015-12-23 04:15] dmzaytsev commented on #737
@mkordas we have at least one more case where we could use instance SharedCache instead of removing Cacheable annotation
https://github.com/yegor256/netbout/pull/811

[2015-12-23 04:39] prahladyeri commented on #791
@hs3180
Raised the pull request [891](https://github.com/yegor256/netbout/pull/891) as fix for this. Adding the parallel tests timeout fixes this. The build is presently failing, but I'm in the process of sorting it out.

[2015-12-23 05:01] hs3180 commented on #791
@prahladyeri
it doesn't solve the problem mentioned in this ticket. if you think tests should timeout when there are freeze issues, raise a new ticket about that.

[2015-12-23 05:29] prahladyeri opened #892 "Tests should timeout when there are freeze issues"
I came across this when working on #791. As a quick workaround, I have raised CR [891](https://github.com/yegor256/netbout/pull/891). I have added an arbitary value to `parallelTestsTimeoutInSeconds`. Not sure whether it is the ideal thing to do, but looks like we need some generic blanket check when a rogue task runs indefinitely and the entire build process stalls because of that one thing.

**E

[2015-12-23 08:07] prahladyeri commented on #791
@hs3180 How does it not solve the problem in this ticket? The issue is about `netbout-client` integration tests getting stuck and my fix certainly provides a workaround for that.

If you need RCA (Root Cause Analysis) of the RtFriendsITCase component, that could be raised a separate bug, but this one is solved.

[2015-12-23 08:47] hs3180 commented on #791
@prahladyeri It's fine if you can raise several new non-trivial tickets to solve these problems. But I can't close this ticket if you just let the tests timeout when get stuck.

[2015-12-23 09:40] prahladyeri opened #893 "Perform RCA on RtFriendsITCase getting stuck"
This is linked to issue #791. I did lots of trial-error with the `pom.xml` of `netbout-client` by adjusting the various configuration parameters of `maven-failsafe-plugin` but still couldn't find the root cause of it. I am told that the issue is related to this one test class `RtFriendsITCase`, but I couldn't pinpoint that by debugging (running various builds with different configurations). Even a

[2015-12-23 10:17] prahladyeri commented on #889
@karato What's the puzzle in that? Isn't it something as straightforward as adding a unit-test case in `MarkdownTxtmarkTest` like this one (example):

    @Test
    public void handlesTextWithLotsOfLinks() throws Exception {
        MatcherAssert.assertThat(
            new MarkdownTxtmark().html(
                "Foo Bar Baz [google](http://www.google.com) Quick Brown"
                + "Fox Jump

[2015-12-23 10:54] dmzaytsev opened #894 "upgrade to latest Takes"
Let's upgrade to latest Takes
I expect a few broken tests, related to missed `Accept` header
see https://github.com/yegor256/takes/issues/475
just use something like this `new RqWithHeader(req, "Accept", "text/xml")` in appropriate places

[2015-12-23 10:56] dmzaytsev commented on #894
@karato valid bug

[2015-12-23 10:56] dmzaytsev commented on #894
@karato this is urgent

[2015-12-23 11:04] dmzaytsev commented on #894
@exper0, @danff, @bdragan, @erimerturk, @komaz, @ivanjunckes, @mbarbieri, @prahladyeri, @lauresh
let me know if anyone of you would like to do it

[2015-12-23 11:16] exper0 commented on #894
@dmzaytsev I can take this. How urgent is it? Since this is my first task I may need some time to get into Takes and Netbout in general (learn some basic things)

[2015-12-23 11:25] dmzaytsev commented on #894
@exper0 according the policy www.teamed.io/policy.html
you have 10 days to complete the ticket
anyway you can reject the ticket anytime

[2015-12-23 11:32] prahladyeri commented on #894
@dmzaytsev  I can take the ticket in case @exper0 rejects it.

[2015-12-23 12:09] karato commented on #894
@dmzaytsev I just added bug tag here

[2015-12-23 12:31] exper0 commented on #894
@dmzaytsev I'll take it

[2015-12-23 12:38] dmzaytsev commented on #894
@karato assign @exper0 to this ticket please

[2015-12-23 12:42] dmzaytsev commented on #894
@karato this not urgent anymore

[2015-12-23 13:51] karato commented on #894
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2015-12-23 13:51] karato commented on #842
@mkordas will do

[2015-12-23 13:54] karato commented on #889
@prahladyeri I have no idea, don't ask me technical questions. You see who is the author of the puzzle, you can talk to him

[2015-12-23 14:11] karato commented on #894
@dmzaytsev thank you for the ticket reported, I topped your account for 30 mins, transaction `72950391`

[2015-12-23 15:19] karato commented on #894
@dmzaytsev got it, "urgent" label here

[2015-12-23 15:19] karato commented on #894
@dmzaytsev OK @exper0 please go ahead, this task is yours

[2015-12-23 15:19] karato commented on #894
@dmzaytsev sure, thanks, I removed "urgent" tag to it

[2015-12-23 19:46] dmzaytsev commented on #892
@prahladyeri I think we don't timeouts on tests right now

[2015-12-23 19:48] dmzaytsev commented on #893
@prahladyeri https://github.com/yegor256/netbout/pull/891#issuecomment-166977950

[2015-12-24 06:54] prahladyeri commented on #791
@hs3180 I've made a permanent fix for the build freeze issue by removing the `ReUser` wrapper class from `NbRule` test case. Please close if this resolves the issue.

[2015-12-24 07:02] prahladyeri commented on #892
@dmzaytsev Maybe not right now, but such a scenario may occur in future. This is just for an overall check in `pom.xml` (forget #791 for the moment) that whenever a test takes infinitely long time (like say >10 mins), there should be a constraint to kill that process. Otherwise, it will just freeze our `travis` or `appveyor` machine and the entire build queue will halt because of that one rogue te

[2015-12-24 07:04] prahladyeri commented on #893
I've fixed #791 by removing the rogue wrapper class `ReUser` from `NbRule` which was causing the freeze. Hence, closing this.

[2015-12-24 07:04] #893 closed

[2015-12-24 15:13] exper0 commented on #894
@dmzaytsev netbound with current version of Takes(0.24.1) fails some tests:
  TkAppTest.rendersSearchPage:78 » IllegalState default encoding is windows-1251
  TkAppTest.redirectsToLoginAndSetsCookie:124 » IllegalState default encoding is...
  TkAppTest.rendersStaticResources:105 » IllegalState default encoding is window...
  TkAppTest.rendersFrontPage:64 » IllegalState default encoding is windows-

[2015-12-24 15:15] exper0 commented on #894
@dmzaytsev by current version I mean the version I actually cloned. With newer version of Takes (0.28.2) there are more failed tests but this is expected and in scope of this task

[2015-12-24 15:39] dmzaytsev commented on #894
@exper0 try to use `set JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF8`

[2015-12-24 16:44] exper0 commented on #894
@dmzaytsev thanks, it helped to solve encoding problem. I finished it: pull request https://github.com/yegor256/netbout/pull/895 . Please review and comment if anything is wrong

[2015-12-24 16:46] dmzaytsev commented on #894
@exper0 the PM will assign someone to review

[2015-12-24 17:17] exper0 commented on #868
@dmzaytsev @karato ready to fix it - I encounter this bug as well

[2015-12-24 17:25] dmzaytsev commented on #868
@karato assign @exper0 to this ticket please

[2015-12-24 18:37] karato commented on #868
@dmzaytsev OK @exper0 please go ahead, this task is yours

[2015-12-24 18:41] exper0 opened #896 "jcabi-http versions"
netbout-web uses jcabi-http version 1.10.3
netbout-client uses jcabi-http version 1.10.4
netbout-web depends on netbout-client  -> potentially dangerous versions mismatch(actually only one version is used depending on which one is first appeared in classpath). I think we need to upgrade both to latest 1.14.1

[2015-12-24 19:12] exper0 commented on #868
@karato done

[2015-12-24 20:50] karato commented on #841
@ivanjunckes you're working with this ticket for the last 15 days. If it is not closed within the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... as a reminder, don't forget to remove the `@tod

[2015-12-25 05:49] dmzaytsev commented on #896
@exper0 netbout-web doesn't depend on netbout-client
but let's upgrade to lates jcabi-http anyway

[2015-12-25 05:49] dmzaytsev commented on #896
@karato valid bug

[2015-12-25 06:09] dmzaytsev opened #898 "maven.netbout.com is out of date"
the site deployment has been disabled some time ago
that's why http://maven.netbout.com is out of date
see https://github.com/yegor256/netbout/issues/640 , https://github.com/yegor256/netbout/issues/577#issuecomment-105406368

it seems the issue Github maven plugin fixed already,
see https://github.com/github/maven-plugins/issues/88#issuecomment-108613808

let's upgrade to latest Github maven plug

[2015-12-25 06:09] dmzaytsev commented on #898
@karato valid bug

[2015-12-25 06:36] exper0 commented on #896
@dmzaytsev you're right, I missed that it's a test scope dependency in netbout-web. Anyway it's better to have consistent and fresh versions

[2015-12-25 08:29] prahladyeri commented on #791
@hs3180
Plz have a look at my fix. Either close this or let me know what else is needed.

[2015-12-25 10:36] karato commented on #896
@dmzaytsev I tagged this as "bug"

[2015-12-25 10:36] karato commented on #898
@dmzaytsev I added `bug` tag to this ticket

[2015-12-25 10:50] karato commented on #750
@ivanjunckes the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. -30 to your rating, your total score is [-60](http://www.netb

[2015-12-25 11:12] karato commented on #896
@exper0 since the ticket has no milestone I set it to 3.1

[2015-12-25 11:12] karato commented on #898
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2015-12-25 11:35] karato commented on #898
@dmzaytsev thanks a lot for reporting, **30 mins** added to your acc, pmt ID `73017088`

[2015-12-25 11:36] dmzaytsev commented on #868
@exper0 to be paid you should ask a ticket reporter to close the ticket and mention the PR number  fixes the issue
so you should ask me in this case

[2015-12-25 11:49] exper0 commented on #868
@dmzaytsev thanks for clarification. So if you are ok with my fix could you please close the ticket? PR 897

[2015-12-25 11:53] dmzaytsev commented on #868
@exper0 PR number should be a link like `#897`

[2015-12-25 11:57] exper0 commented on #868
@dmzaytsev OK bug fixed in PR #897 Please close the ticket

[2015-12-25 12:02] dmzaytsev commented on #868
@exper0 thanks!

[2015-12-25 12:02] #868 closed

[2015-12-25 12:36] hs3180 commented on #791
@prahladyeri thanks.
BTW: you can raise issues about hard-coded unit test and ReUser.

[2015-12-25 12:36] #791 closed

[2015-12-25 12:59] prahladyeri opened #899 "ReUser class is causing friends iteration to freeze"
I came across this while working on #791. The netbout verification was freezing on `RtFriendsITCase` and it turns out that was because of this one rogue class:

[code]

 `rule.get()` was returning a `ReUser` object and that was fixed by using a `CdUser` object instead, but the deeper puzzle still remains as to _why ReUser is going in an infinite loop_? This is happening despite the fact that `@Ret

[2015-12-25 15:34] karato commented on #896
@exper0 thank you for the ticket reported, I topped your account for 15 mins, transaction `AP-5S735906DC988552U`

[2015-12-25 16:44] exper0 commented on #868
@karato the issue is closed so I guess my account should be topped for 30mins?

[2015-12-25 21:41] ivanjunckes commented on #841
@karato Thanks for the tips, I was stuck trying to configure the SMTP, and couldn' t find a way to do it. I will probably not be able to deliver this in time.

[2015-12-25 21:44] ivanjunckes commented on #750
@karato I was stuck with #841, so I didn' t go further with this task. This task will need me to deal with caching, I would fell more comfortable to get another task right now, since it will probably take me some time to figure out how caching works in the framework. Can you please assign this to someone else?

[2015-12-26 10:19] mkordas commented on #842
@karato can you close this issue? It's hanging too long.

[2015-12-26 13:00] karato commented on #842
@dmzaytsev The issue should be closed..

[2015-12-26 13:00] #842 closed

[2015-12-26 13:01] karato commented on #842
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2015-12-26 13:39] elenavolokhova commented on #842
@karato Looks good!

[2015-12-26 14:50] karato commented on #791
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2015-12-26 14:50] karato commented on #868
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2015-12-26 15:25] karato commented on #842
@elenavolokhova thank you

[2015-12-26 15:51] karato commented on #842
@mkordas added 10 mins to @elenavolokhova, for QA review, payment code is `73038738`; Thanks a lot, I just topped your account for **30 mins**, transaction ID `567eb72bc9e434779700006f`, total time was 376 hours and 7 mins; +30 to your rating, your total score is [+862](http://www.netbout.com/b/36080?open=rating)

[2015-12-27 22:09] mkordas commented on #737
@karato I need more time here

[2015-12-27 22:09] mkordas commented on #761
@karato I need more time here

[2015-12-27 22:44] mkordas commented on #737
@dmzaytsev how would you like to achieve type-safety in such shared cache? Each cache may contain mappings between different things.

[2015-12-28 00:15] mkordas opened #900 "Upgrade dependencies in netbout-client"
Some dependencies in `netbout-client` module are outdated, let's upgrade them:
[code]

[2015-12-28 09:19] karato commented on #737
@mkordas OK, no problem, take your time

[2015-12-28 09:19] karato commented on #761
@mkordas yes, take your time, thanks for letting me know

[2015-12-28 14:31] elenavolokhova commented on #868
@karato Quality is good here.

[2015-12-28 14:39] elenavolokhova commented on #791
@karato Quality is good here.

[2015-12-28 14:39] karato commented on #899
@dmzaytsev take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-28 16:26] karato commented on #791
@elenavolokhova thanks for the review

[2015-12-28 16:26] karato commented on #868
@elenavolokhova thank you :)

[2015-12-28 16:57] karato commented on #791
@prahladyeri I added 10 mins to @elenavolokhova (for QA review) in transaction 73332895. Thanks a lot, I just topped your account for **30 mins**, transaction ID `73332907`, total time was 95 hours and 37 mins. +30 to your rating, your total score is [+75](http://www.netbout.com/b/36189?open=rating)

[2015-12-28 19:10] karato commented on #868
@exper0 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 73337529; **1 hour** sent to your balance (ID `AP-5NL55921CM4167458`), many thanks! It took 18 hours and 48 mins.; the bonus for fast delivery (m=1128); +60 added to your rating, current score is: [+90](http://www.netbout.com/b/36185?open=rating)

[2015-12-28 21:44] mkordas opened #901 "After removing yourself from the bout it becomes abandoned"
It is possible for author of the bout to kick of himself even if he's the only person in the conversation. After that action bout becomes zombie and it is not possible to rejoin it.

It should be not possible to remove author from bout when he's the last person.

[2015-12-28 21:55] mkordas opened #902 "Page elements are overlapping on small resolutions"
When I'm using Netbout on my phone it displays like that:
![screenshot from 2015-12-28 22 51 45](https://cloud.githubusercontent.com/assets/5467276/12026087/c18e7a72-adb5-11e5-87c4-4a8b1fcc6803.png)
Home icon is overlapping with find textbox and "plus" icon is overlapping with logout.

I wouldn't expect any overlaps, especially when there's enough place to fit everything like above.

To reproduce

[2015-12-28 22:37] mkordas opened #903 "Unintuitive behaviour when 'since' parameter used to filter out bouts"
To reproduce it is required a few bouts at http://www.netbout.com/

Then open http://www.netbout.com/?since=0 - normally I would expect all bouts being displayed, as it could mean "since message with timestamp 0" or "since message with id 0", but nothing is displayed.

I would expect either displaying error that messages cannot be displayed since `0`, because message `0` doesn't exist or another a

[2015-12-28 22:41] mkordas opened #904 "Internal Application Error when providing 'since' parameter without value"
To reproduce just open http://www.netbout.com/?since

![screenshot from 2015-12-28 23 40 10](https://cloud.githubusercontent.com/assets/5467276/12026649/60a79ad4-adbc-11e5-85da-fa93f92ba34e.png)

Stacktrace:
[code]

I would expect user-friendly error message instead.

[2015-12-28 22:59] mkordas opened #905 "Adding '/preview' to any bout link freezes the application"
To reproduce it is necessary to have link to the bout you can access, e.g. http://www.netbout.com/b/36163.

Then add `/preview` at the end, e.g. http://www.netbout.com/b/36163/preview. This will freeze Netbout for 30 s and after that time the following page is displayed:
![screenshot from 2015-12-28 23 58 26](https://cloud.githubusercontent.com/assets/5467276/12026867/e9dc75ac-adbe-11e5-98ad-8650f

[2015-12-29 10:43] dmzaytsev commented on #835
@longtimeago could you close this ticket?
actually it out of the scope of the project

[2015-12-29 10:47] dmzaytsev commented on #796
@karato valid bug

[2015-12-29 10:47] longtimeago commented on #835
@dmzaytsev OK

[2015-12-29 10:47] #835 closed

[2015-12-29 10:47] dmzaytsev commented on #796
@karato this is postponed

[2015-12-29 12:17] karato commented on #796
@dmzaytsev tagged this issue with "bug"

[2015-12-29 14:21] karato commented on #796
@hs3180 since the ticket has no milestone I set it to 3.1

[2015-12-29 16:32] karato commented on #796
@dmzaytsev thanks, I added "postponed" label

[2015-12-29 16:32] karato commented on #796
@dmzaytsev right, I will find someone else, no problem

[2015-12-29 19:20] karato commented on #841
@ivanjunckes you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... added -60 to your rating, now it is equal to [-120](http://www.netbout.com/b/36097?open=rating)

[2015-12-30 08:35] exper0 commented on #894
@karato @dmzaytsev how disputes are being solved? What should I do if I don't agree with reviewer? Are there any arbitrage?

[2015-12-30 11:17] karato commented on #750
@ivanjunckes @karato someone else

[2015-12-30 11:17] karato commented on #841
@ivanjunckes @karato someone else

[2015-12-30 11:31] karato commented on #750
@ivanjunckes it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

added -60 to your rating, now it is equal to [-180](http://www.netbout.com/b/36097?open=rating)

[2015-12-30 15:48] karato commented on #750
@prahladyeri this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-30 17:39] exper0 commented on #894
@dmzaytsev finally this has been done ( PR #895 ). Please confirm and close ticket

[2015-12-30 17:44] dmzaytsev commented on #894
@exper0 thanks!

[2015-12-30 17:44] #894 closed

[2015-12-30 21:41] yegor256 commented on #841
@karato assign someone else here pls

[2015-12-31 02:47] prahladyeri commented on #750
@karato OK, I'm looking into this.

[2015-12-31 11:28] karato commented on #841
@yegor256 someone else will help in this task, no problem at all

[2015-12-31 11:41] karato commented on #900
@dmzaytsev please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2015-12-31 20:13] mkordas commented on #737
@dmzaytsev ping

[2015-12-31 20:47] karato commented on #894
@elenavolokhova please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-01 10:01] karato commented on #901
@dmzaytsev please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-01-01 10:01] karato commented on #902
@dmzaytsev please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-01-01 10:01] karato commented on #903
@dmzaytsev dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-01-01 10:01] karato commented on #904
@dmzaytsev please dispatch this issue

[2016-01-01 10:01] karato commented on #905
@dmzaytsev please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-01-01 10:10] elenavolokhova commented on #894
@karato Looks good!

[2016-01-01 11:38] karato commented on #894
@elenavolokhova thanks for the review

[2016-01-01 11:54] karato commented on #894
@exper0 added 10 mins to @elenavolokhova, for QA review, payment code is `73519041`... thanks, I just added **30 mins** to your account, payment `AP-84561307MF502311G`, 171 hours and 44 mins spent... +30 added to your rating, current score is: [+120](http://www.netbout.com/b/36185?open=rating)

[2016-01-01 14:25] karato commented on #750
@prahladyeri thanks

[2016-01-01 17:45] dmzaytsev commented on #889
@karato assign me to the ticket please

[2016-01-01 18:01] dmzaytsev commented on #637
@karato this is not postponed anymore

[2016-01-01 18:01] dmzaytsev commented on #637
@karato assign me to this please

[2016-01-01 19:44] karato commented on #637
@dmzaytsev got it, "postponed" tag removed from here

[2016-01-01 19:44] karato commented on #637
@dmzaytsev the task is yours, please proceed

[2016-01-01 19:44] karato commented on #889
@dmzaytsev sure, the task is yours now

[2016-01-01 19:59] mkordas commented on #761
@karato please assign someone else

[2016-01-01 19:59] mkordas commented on #737
@karato please assign someone else

[2016-01-01 20:52] exper0 commented on #896
@dmzaytsev @karato ready to take it

[2016-01-02 02:40] dmzaytsev commented on #637
@yegor256 fixed in #886 please close if alright

[2016-01-02 03:36] dmzaytsev commented on #896
@exper0 the ticker reporter and the ticker performer should be different persons

[2016-01-02 03:38] dmzaytsev commented on #889
@karato fixed in #906 , #907
please close the ticket

[2016-01-02 10:48] karato commented on #737
@mkordas -30 points to your rating

[2016-01-02 10:48] karato commented on #737
@mkordas I will assign somebody else to this issue

[2016-01-02 10:48] karato commented on #761
@mkordas 30 points deducted from your rating

[2016-01-02 10:48] karato commented on #761
@mkordas no problem, I will try to find somebody else

[2016-01-02 10:48] karato commented on #889
@dmzaytsev I will close it when the puzzle disappears from the source code, and keep in mind that it may take up to a day to update project stats after a successful deployment

[2016-01-02 10:51] dmzaytsev commented on #737
@karato this is postponed

[2016-01-02 13:29] karato commented on #737
@dmzaytsev thanks, I added "postponed" label

[2016-01-02 13:29] karato commented on #737
@dmzaytsev right, I removed "urgent" tags

[2016-01-02 13:29] karato commented on #737
@dmzaytsev I will ask somebody else to pick this up

[2016-01-04 09:28] dmzaytsev commented on #905
@karato valid bug

[2016-01-04 09:28] dmzaytsev commented on #904
@karato valid bug

[2016-01-04 09:31] dmzaytsev commented on #902
@mkordas I can't reproduce it on both desktop and mobile browsers
what browser and OS do you use ?

[2016-01-04 09:34] dmzaytsev commented on #903
@mkordas

why you expect this?
is it the documented feature?

[2016-01-04 09:35] dmzaytsev commented on #901
@mkordas kick-out is the deprecated feature. it will be removed

[2016-01-04 09:36] dmzaytsev commented on #900
@karato valid bug

[2016-01-04 11:23] karato commented on #904
@dmzaytsev I added `bug` tag to this ticket

[2016-01-04 11:23] karato commented on #905
@dmzaytsev tag bug added to this issue

[2016-01-04 11:23] karato commented on #900
@dmzaytsev tag bug added to this issue

[2016-01-04 13:44] karato commented on #900
@mkordas I set the milestone to 3.1 since there is nothing set yet

[2016-01-04 13:44] karato commented on #904
@mkordas I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-01-04 13:44] karato commented on #905
@mkordas since the ticket has no milestone I set it to 3.1

[2016-01-04 13:46] dmzaytsev commented on #637
@yegor256 ping

[2016-01-04 13:59] karato commented on #905
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `568a7ac04b12f70334000058`

[2016-01-04 15:39] karato commented on #904
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 568a92089d6a2550f50003f1

[2016-01-04 15:56] yegor256 commented on #637
@dmzaytsev thanks!

[2016-01-04 15:56] #637 closed

[2016-01-04 18:38] karato commented on #900
@mkordas many thanks for the bug report, I added 15 mins to your acc, transaction `568abc1202373e6c5f0004ad`

[2016-01-04 20:53] mkordas commented on #901
@dmzaytsev I don't see any issue opened for such removal, should I reword this one?

[2016-01-04 20:56] mkordas opened #908 "PDD and estimates are not configured in Travis"
We should have puzzles and estimates verification done by Travis build instead of waiting for Rultor merge to fail. This could be done e.g. as in `jcabi-dynamo` project: https://github.com/jcabi/jcabi-dynamo/blob/6ab5f80beb9b3016cbd818cf6c3ef77c6ddddee0/.travis.yml#L15.

I'd expect `pdd --file=/dev/null` and `est --dir=est --file=/dev/null` being invoked on Travis for every build.

[2016-01-04 21:37] mkordas commented on #902
@dmzaytsev I cannot reproduce it on Chrome but I see it in the following browsers:
* Firefox 39.0 on Windows
* Microsoft Edge 20
* Windows Phone browser
* Bundled Android browser

[2016-01-04 21:55] mkordas opened #909 "Bump up year in header and update to the latest jcabi-parent"
1. We have year 2016 already, so all occurrences of 2015 in licenses and headers should be bumped up to 2016.
2. [jcabi-parent used by Netbout](https://github.com/yegor256/netbout/blob/master/pom.xml#L50) is pretty outdated, we should update it to the [latest version](https://github.com/jcabi/jcabi-parent/releases) and make sure the build is passing

[2016-01-04 21:57] mkordas opened #910 "Page maven.netbout.com does not work correctly"
I'd expect all the links on http://maven.netbout.com/index.html to work correcty, but majority of them return 404. Only Project Information and Project Reports work fine, the rest of documentation is inaccessible.

[2016-01-04 21:58] mkordas commented on #903
@dmzaytsev so maybe we should document it better? It's part of REST API. Is there any place to create such docs?

[2016-01-04 22:01] mkordas opened #911 "Enable FindBugs checks for Netbout code"
Currently all FindBugs checks are [disabled](https://github.com/yegor256/netbout/search?utf8=%E2%9C%93&q=findbugs) in the entire codebase. This is the last tool I would disable in a project.

I'd expect FindBugs to not be excluded from Qulice. All easy violations should be fixed, while for harder cases PDD approach may be used.

<hr id='w'>

[2016-01-05 07:25] dmzaytsev commented on #911
@karato valid bug

[2016-01-05 07:26] dmzaytsev commented on #910
@karato valid bug

[2016-01-05 07:26] dmzaytsev commented on #910
@karato this is postponed

[2016-01-05 07:29] dmzaytsev commented on #908
@karato valid bug

[2016-01-05 07:29] dmzaytsev commented on #902
@karato valid bug

[2016-01-05 07:29] dmzaytsev commented on #902
@karato this is postponed

[2016-01-05 07:32] dmzaytsev commented on #901
@mkordas see https://github.com/yegor256/netbout/issues/634#issuecomment-105601103 https://github.com/yegor256/netbout/issues/634#issuecomment-111782630

[2016-01-05 08:09] dmzaytsev commented on #903
@mkordas I didn't get why a user should use this link `http://www.netbout.com/?since=0`
maybe you find a place on www.netbout.com where the user can click on that link?

[2016-01-05 08:09] dmzaytsev commented on #909
@karato valid bug

[2016-01-05 08:10] dmzaytsev commented on #909
@karato this is postponed

we are waiting for https://github.com/teamed/qulice/issues/411

[2016-01-05 08:58] mkordas commented on #901
@dmzaytsev thanks for explanation!

[2016-01-05 08:58] #901 closed

[2016-01-05 09:09] karato commented on #910
@dmzaytsev I added `bug` tag to this ticket

[2016-01-05 09:09] karato commented on #911
@dmzaytsev I just added bug tag here

[2016-01-05 09:09] karato commented on #909
@dmzaytsev tag "bug" added

[2016-01-05 09:09] karato commented on #902
@dmzaytsev I added `bug` tag to this ticket

[2016-01-05 09:09] karato commented on #908
@dmzaytsev added "bug" tag to this issue

[2016-01-05 11:21] karato commented on #902
@mkordas I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-01-05 11:21] karato commented on #908
@mkordas since there is no milestone yet I set it to "3.1"

[2016-01-05 11:21] karato commented on #909
@mkordas I set milestone here to `3.1`, let me know if it is wrong

[2016-01-05 11:21] karato commented on #910
@mkordas since the ticket has no milestone I set it to 3.1

[2016-01-05 11:21] karato commented on #911
@mkordas attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-01-05 11:41] karato commented on #911
@mkordas thank you for the ticket reported, I topped your account for 15 mins, transaction `568babcc705bf266fc0001b0`

[2016-01-05 13:28] ypshenychka commented on #588
@yegor256 @karato Could you please consider this ticket?

[2016-01-05 13:46] yegor256 commented on #588
@ypshenychka this ticket is remove from the backlog, since it's too old. Can you please raise this concern in some other ticket, which is active now and we'll make a payment from there.

[2016-01-05 13:47] karato commented on #910
@dmzaytsev got it, "postponed" label here

[2016-01-05 13:47] karato commented on #910
@dmzaytsev I will try to find someone else

[2016-01-05 13:47] karato commented on #909
@dmzaytsev got it, "postponed" label here

[2016-01-05 13:47] karato commented on #909
@dmzaytsev all right, we'll find someone else for this task

[2016-01-05 13:47] karato commented on #902
@dmzaytsev OK, I put "postponed" label here

[2016-01-05 13:47] karato commented on #902
@dmzaytsev I will assign somebody else to this issue

[2016-01-05 14:05] karato commented on #910
@mkordas thanks a lot for reporting, **15 mins** added to your acc, pmt ID `568bcd9c468d0357a0000006`

[2016-01-05 15:39] dmzaytsev commented on #908
@karato assign me here please

[2016-01-05 17:43] karato commented on #908
@dmzaytsev the task is yours, please proceed

[2016-01-05 17:48] dmzaytsev commented on #908
@mkordas fixed in #912 please close the ticket

[2016-01-05 17:56] karato commented on #909
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 568c03e2d9f14900b50003bc

[2016-01-05 18:25] mkordas commented on #908
@dmzaytsev I have two small concerns:
* do we really need `--verbose` pdd? It pollutes logs a lot, a few thousand lines more is there
* currently pdd analyzes also files in `/target` (https://travis-ci.org/yegor256/netbout#L8930) - I think we should do the clean beforehand

[2016-01-05 18:30] dmzaytsev commented on #908
@mkordas you're right

[2016-01-05 18:40] dmzaytsev commented on #908
@mkordas done

[2016-01-05 18:51] mkordas commented on #908
@dmzaytsev thanks a lot!

[2016-01-05 18:51] #908 closed

[2016-01-05 19:30] karato commented on #637
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-01-05 19:31] karato commented on #902
@mkordas thanks for tis bug, I topped your account for 15 mins, transaction `568c1a11f3f4f4008c00047d`

[2016-01-06 08:58] ypshenychka commented on #637
@karato Quality is good.

[2016-01-06 09:00] ypshenychka commented on #637
@yegor256 @karato Please consider ticket #588. It was removed from backlog but performer was not yet paid.

[2016-01-06 09:01] ypshenychka commented on #588
@yegor256 Mentioned in [ticket #637](https://github.com/yegor256/netbout/issues/637#issuecomment-169270744). Thanks.

[2016-01-06 10:24] prahladyeri opened #914 "netbout-web installs bower each time it is built"
Each time you build netbout-web by doing `mvn clean install -Pqulice`, the bower component is re-installed whether anything is changed/not.

    Running "npm install bower"

I've also noted that there is at least 20 megabytes of additional mavan package downloads when the build is done after some interval (like building again after a gap of 4-5 hours).

<hr id='w'>

[2016-01-06 11:07] yegor256 commented on #637
@karato pls add extra 30 min to @bdragan (for his contribution in #588)

[2016-01-06 12:28] karato commented on #637
@ypshenychka thanks for the review

[2016-01-06 12:28] karato commented on #637
@yegor256 I've paid 30 mins to @bdragan in transaction `73946664`

[2016-01-06 12:55] karato commented on #637
@dmzaytsev added 10 mins to @ypshenychka, for QA review, payment code is `73947502`

**38 mins** was added to your account, many thanks for your contribution (payment 73947507)! The task took 70 hours and 38 mins.

there is a bonus for fast delivery (m=4238)

added +38 to your rating, now it is equal to [+1302](http://www.netbout.com/b/35166?open=rating)

[2016-01-06 12:55] karato commented on #761
@danff could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-06 16:45] dmzaytsev commented on #914
@prahladyeri how can we fix it? what do you think?

[2016-01-06 17:03] dmzaytsev commented on #899
@prahladyeri why you define it as an infinity loop?
the exception occurs on every call  so the method will retry 12 times, with a 5 sec **exponential** back-off delay between attempts.
http://aspects.jcabi.com/annotation-retryonfailure.html

[2016-01-06 17:05] dmzaytsev commented on #892
@prahladyeri yes please close this one

[2016-01-06 17:16] #892 closed

[2016-01-06 17:23] prahladyeri commented on #899
@dmzaytsev I did not define anything. All I did was remove the `ReUser` wrapper class from `NbRule.java`:

    return new ReUser(new CdUser(new RtUser(url, token)));

Since it is now using `CdUser` it had stopped freezing. Since this was my first ticket and I don't know anything in detail about `netbout`, I was unable to perform an `RCA` analysis as to WHY `ReUser` was problematic and causing the

[2016-01-06 17:34] prahladyeri commented on #914
@dmzaytsev I think the easy approach is to check for an existing bower version first:

    npm list bower

This returns the available version and if present, there is no need to re-install bower again. Agreed that this is a pretty trivial thing and even running `npm install bower` might get it from cache instead of actually downloading, but installing a package each time you build doesn't seem lik

[2016-01-06 17:40] dmzaytsev commented on #899
@prahladyeri okay :)
if you verified that ReUser doesn't work as expected(I guess it's not an in-depth RCA analysis)
I register this ticket  as a bug

btw feel free to submit a bug to jcabi-aspect if `@RetryOnFailure` doesn't work as expected

[2016-01-06 19:34] prahladyeri commented on #899
@dmzaytsev I verified using the same way as the ticket owner of #791. I ran the integration test and it just freezes infinitely, now I don't know whether its owing to `@RetryOnFailure` or anything else. To verify, I did the same test again today and it froze for around 60 minutes (and still counting):

![netbout_freeze](https://cloud.githubusercontent.com/assets/5732256/12152417/8e9e89b4-b4da-11e5

[2016-01-06 19:47] karato commented on #908
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-01-07 03:58] elenavolokhova commented on #908
@dmzaytsev
 According to our [quality rules](http://www.teamed.io/qa.html):

 Two PRs were created for this issue. Please try to follow this rule in your tickets in the future.

 Please confirm that everything is clear and you have no questions regarding this approach.

[2016-01-07 04:24] dmzaytsev commented on #908
@elenavolokhova I confirm

[2016-01-07 07:42] elenavolokhova commented on #908
@karato Quality is acceptable here.

[2016-01-07 11:06] karato commented on #908
@elenavolokhova thanks for the QA review, we'll work better next time

[2016-01-07 11:21] karato commented on #908
@dmzaytsev paied 10 mins to @elenavolokhova for QA review (payment ID is `73991681`). **1 hour** added to your account (payment number `73991687`), many thanks for your contribution! 1 hour and 26 mins spent here.. there is a bonus for fast delivery (m=86). +60 added to your rating, at the moment it is: [+1429](http://www.netbout.com/b/35166?open=rating)

[2016-01-07 18:13] dmzaytsev commented on #899
@karato valid bug

[2016-01-07 18:47] karato commented on #899
@dmzaytsev I tagged this as "bug"

[2016-01-07 21:05] karato commented on #899
@prahladyeri attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-01-07 21:22] karato commented on #899
@prahladyeri thanks for the ticket, your account was topped for 15 mins, payment 74012521

[2016-01-08 11:22] exper0 commented on #900
@dmzaytsev @karato ready to take this

[2016-01-08 11:33] dmzaytsev commented on #900
@karato assign @exper0 to this ticket please

[2016-01-08 11:59] dmzaytsev commented on #872
@karato assign @exper0  to this ticket please

[2016-01-08 13:38] karato commented on #872
@dmzaytsev done. @exper0 you are assigned to this task. please proceed...

[2016-01-08 13:38] karato commented on #900
@dmzaytsev OK @exper0 please proceed, this task is yours

[2016-01-08 13:52] karato commented on #793
@exper0 this is your task

[2016-01-08 13:52] karato commented on #794
@prahladyeri please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-08 15:00] exper0 commented on #900
@mkordas @karato done

[2016-01-08 16:51] exper0 opened #917 "mvn package doesn't work"
`mvn clean package` doesn't work - netbout-client build fails
`mvn clean install` works

This is reproduced on clean machine - once `mvn install` is done `mvn package` becomes functional as well

here is extract from build log:

...
[ERROR] can't determine superclass of missing type com.netbout.spi.Friends$UnknownAliasException
when weaving type com.netbout.client.RtFriends
when weaving classes
wh

[2016-01-08 16:57] exper0 commented on #872
@dmzaytsev @karato done

[2016-01-08 17:36] dmzaytsev commented on #917
@exper0 `mvn package` take the compiled code and package it in a JAR
`mvn install` install the package into the local repository, for use as a dependency in other projects locally

netbout-client depend from netbout-spi that's why you need to use `mvn install` instead of `mvn package`

[2016-01-08 18:23] exper0 commented on #917
@dmzaytsev thanks, it's clear.

[2016-01-08 18:33] #917 closed

[2016-01-08 18:49] dmzaytsev commented on #889
@yegor256 PR #906 , #907 merged 7 days ago
but this ticket is open

[2016-01-08 18:56] longtimeago opened #918 "Post a new message using CTRL+Enter"
It would be nice to be able to post a new message using CTRL+ENTER combination.
We really used to this feature with Github :)

[2016-01-08 19:09] dmzaytsev commented on #918
@longtimeago sure,  thanks!

[2016-01-08 19:09] dmzaytsev commented on #918
@karato valid bug

[2016-01-08 19:21] yegor256 commented on #918
@longtimeago I didn't even know that it exists in GitHub :)

[2016-01-08 19:22] longtimeago commented on #918
@yegor256 have you ever tried GitHub? :)

[2016-01-08 19:23] yegor256 commented on #918
@longtimeago trying it now... :)

[2016-01-08 19:24] yegor256 commented on #889
@dmzaytsev are you sure that the puzzle is gone? please check `PUZZLES.md`

[2016-01-08 19:31] dmzaytsev commented on #889
@yegor256 the puzzle present in PUZZLES.md
but the puzzle has been removed in source code 7 days ago in PR #907

[2016-01-08 19:33] yegor256 commented on #889
@dmzaytsev it means that the deployment is broken or you have the puzzle still in the code

[2016-01-08 19:35] dmzaytsev commented on #889
@yegor256 the puzzle removed from the source code
how to restart the deployment?

[2016-01-08 19:35] yegor256 commented on #889
@dmzaytsev just `@rultor deploy`, as usual

[2016-01-08 19:37] dmzaytsev commented on #889
@yegor256 I can't do that
rultor rejects my command

[2016-01-08 19:38] yegor256 commented on #889
@rultor deploy

[2016-01-08 19:41] rultor commented on #889
@yegor256 I see you're talking about me, but I don't understand it. If you want to say something to me directly, start a message with @rultor

[2016-01-08 19:42] rultor commented on #889
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/6249-170102741)

[2016-01-08 19:56] karato commented on #918
@dmzaytsev added "bug" tag to this issue

[2016-01-08 19:57] rultor commented on #889
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6249-170102741) (took me 15min)

[2016-01-08 21:00] exper0 opened #919 "Skipping tests (-Dmaven.test.skip=true) fails the build"
Running maven build without tests fails the build with following error:

java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:57)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java

[2016-01-08 21:06] exper0 commented on #919
not a bug, forgot to set `-DskipTests=true`

[2016-01-08 21:06] #919 closed

[2016-01-09 05:45] dmzaytsev commented on #889
@karato I need more time

[2016-01-09 09:19] karato commented on #918
@longtimeago there is no milestone yet, so I set it to `3.1`

[2016-01-09 09:19] karato commented on #889
@dmzaytsev of course, take your time

[2016-01-09 09:34] karato commented on #918
@longtimeago thank you for reporting this, I added 15 mins to your acc, transaction `74071200`

[2016-01-10 10:05] karato commented on #889
@dmzaytsev Done, the task is closed

[2016-01-10 10:05] #889 closed

[2016-01-10 10:06] karato commented on #889
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-10 15:24] elenavolokhova commented on #889
@dmzaytsev
 According to our [quality rules](http://www.teamed.io/qa.html):

 Two PRs were created for this issue. Please try to follow this rule in your tickets in the future.

 Please confirm that everything is clear and you have no questions regarding this approach.

[2016-01-10 15:35] dmzaytsev commented on #889
@elenavolokhova I confirm

[2016-01-11 03:31] elenavolokhova commented on #889
@karato Quality is acceptable here.

[2016-01-11 08:05] exper0 commented on #900
@mkordas PR #916 is merged and closed - could you please close the ticket?

[2016-01-11 08:07] exper0 commented on #872
@dmzaytsev PR #916 is merged and closed - could you please close the ticket?

[2016-01-11 08:15] dmzaytsev commented on #872
@exper0 thanks!

[2016-01-11 08:15] #872 closed

[2016-01-11 08:19] mkordas commented on #900
@exper0 thanks!

[2016-01-11 08:19] #900 closed

[2016-01-11 08:19] dmzaytsev commented on #879
@yegor256 what does label `D` mean ?

[2016-01-11 10:18] yegor256 commented on #879
@dmzaytsev looks like a bug in Github... I removed it

[2016-01-11 10:19] dmzaytsev commented on #879
@yegor256 there is same label here https://github.com/yegor256/netbout/issues/775

[2016-01-11 10:59] karato commented on #889
@elenavolokhova thanks for the review, we'll try better next time

[2016-01-11 11:16] karato commented on #889
@dmzaytsev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 74132253; Thanks so much! Your account was topped up for **30 mins** (transaction ID is `74132266`, the task took 181 hours and 34 mins); +30 added to your rating, at the moment it is: [+1656](http://www.netbout.com/b/35166?open=rating)

[2016-01-11 23:01] exper0 commented on #793
@carlosmiranda @karato done, PR #920

[2016-01-12 00:55] carlosmiranda commented on #793
@exper0 let's wait for PR to be merged

[2016-01-12 07:09] prahladyeri commented on #750
@dmzaytsev @karato

Please let me know whether my approach to fix this (PR #921 ) is correct or not since I know very less about `netbout`.

[2016-01-12 07:18] dmzaytsev commented on #750
@prahladyeri See my answer in the PR

[2016-01-12 07:38] prahladyeri commented on #750
Thanks @dmzaytsev . I've created a qulice [ticket](https://github.com/teamed/qulice/issues/608) for this.

[2016-01-12 11:36] exper0 commented on #911
@dmzaytsev @karato ready to take this one

[2016-01-12 11:40] dmzaytsev commented on #911
@karato assign @exper0 please

[2016-01-12 11:43] dmzaytsev commented on #884
@karato this is postponed

[2016-01-12 11:44] dmzaytsev commented on #903
@karato this is invalid

[2016-01-12 12:13] karato commented on #872
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-12 12:13] karato commented on #900
@elenavolokhova please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-12 12:14] ypshenychka commented on #872
@karato Quality is good.

[2016-01-12 12:25] mkordas commented on #903
@dmzaytsev sorry for missing that one. There's no direct link, but `since` is part of REST API. It is not documented and incorrect usage of it doesn't raise any errors. But if you don't think it is an issue, I'm closing this one.

[2016-01-12 12:25] #903 closed

[2016-01-12 14:27] karato commented on #872
@ypshenychka thanks, got it, great to see high-quality tickets here

[2016-01-12 14:27] karato commented on #884
@dmzaytsev sure, thanks, I added "postponed" label to it

[2016-01-12 14:27] karato commented on #884
@dmzaytsev I will assign somebody else to this issue