[2015-06-13 11:26] karato commented on #682
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-13 11:28] karato commented on #685
@ekondrashev this is your task

[2015-06-13 14:53] karato commented on #632
@erimerturk 15 days already, in 48 hours I will re-assign. -30 to your rating, your total score is [+180](http://www.netbout.com/b/35280?open=rating)

[2015-06-13 15:46] erimerturk commented on #632
@karato it is fixed and waiting for @yegor256 approve

[2015-06-13 16:05] dmzaytsev commented on #632
@erimerturk keep in mind http://www.teamed.io/policy.html#30
you should just ask more time if you hold the task more then  7 days
it's your responsibility as the ticket performer

[2015-06-13 16:51] erimerturk commented on #632
@dmzaytsev i see, i am beginner at teamed so it will take time to learn all rules. it is my mistake.

[2015-06-13 17:41] pinaf opened #694 "Netbout down: page not found"
When accessing netbout.com, browser address changes to

http://www.netbout.com/,PsCookie=23CA3E.......

(huge sequence)
and page says

page not found

[2015-06-13 17:47] dmzaytsev commented on #694
@pinaf I can't reproduce it...
Please try again, maybe it would better use a new browser tab

[2015-06-13 17:49] pinaf commented on #694
@dmzaytsev hmm it worked on firefox. let me close chromium - it looks like an issue with the github session

[2015-06-13 17:51] pinaf commented on #694
@dmzaytsev yep, sorry about that!

[2015-06-13 17:51] #694 closed

[2015-06-13 17:57] dmzaytsev commented on #694
@pinaf np :)

[2015-06-13 18:07] erimerturk commented on #632
@karato could you please wait until @yegor256 review ? I hope @yegor256  will accept my solution. Fix is already merged to master branch.

[2015-06-13 18:35] dmzaytsev commented on #677
@karato valid bag

[2015-06-13 18:35] dmzaytsev commented on #677
please set milestone to 3.1

[2015-06-13 18:35] dmzaytsev commented on #677
@karato this is postponed task

[2015-06-13 18:38] dmzaytsev commented on #686
@zshamrock are you still need this ticket ?
if no, close it please

[2015-06-13 18:40] dmzaytsev commented on #564
@yegor256 thank you

[2015-06-13 18:41] dmzaytsev commented on #564
@karato this is urgent task
please dispatch

[2015-06-13 19:21] karato commented on #683
@dmzaytsev there are some issues in the project now:

 * some tasks are stuck: #567 (107 days), #614 (24 days), #612 (24 days), #606 (24 days), #603 (24 days), #602 (24 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://www.teamed.io/policy.html#29)),

[2015-06-13 19:24] dmzaytsev opened #695 "the subscription status frozen"
I use two browsers and two github accounts for log into http://snapshot.netbout.com
1. account1 creates  a new bout and invites account_2
2. account_2 turns off the subscription (the bell icon)
3. account_1 sends a message to account2, account_2 doesn't receive any email notifications. and this is right
4. account_2 turns on the subscription (the bell icon)
5. account_1 sends a message to account2

[2015-06-13 19:24] dmzaytsev commented on #695
@karato this is valid bug

[2015-06-13 19:25] dmzaytsev commented on #695
@karato please set milestone to 3.0

[2015-06-13 19:25] dmzaytsev commented on #695
@karato this is urgent

[2015-06-13 19:40] caarlos0 opened #696 "Show related PRs in "agenda""
It would be nice to show the respective Pull requests of an issue in the agenda page.

Github has cross-references, don't know if they are consumable via API, but, if they do, this would be a nice feature to have...

[2015-06-13 20:39] karato commented on #695
@dmzaytsev added "bug" tag to this issue

[2015-06-13 21:33] erimerturk commented on #588
@YamStranger how can i reproduce bug ? i couldn't find it. thank you

[2015-06-14 04:24] dmzaytsev commented on #696
@caarlos0  thanks for reporting,
but the agenda and other pages is out of the scope of the Netbout project.
Ask @yegor256 inside Netbout about this.

[2015-06-14 04:30] dmzaytsev commented on #658
@erimerturk close the ticket please
if you have no more questions on the subject

[2015-06-14 04:35] dmzaytsev commented on #656
@antonini now version of the project is higher than the version in the mentioned files
close the ticket please

[2015-06-14 04:41] dmzaytsev commented on #634
@karato it's a valid bug

[2015-06-14 04:41] dmzaytsev commented on #634
@karato please set milestone to 3.1

[2015-06-14 04:43] dmzaytsev commented on #634
@ikhvostenkov a future performer should remove the "kick-out"-feature

[2015-06-14 05:13] dmzaytsev opened #697 "suspend feature"
let' implement the suspend feature
- anybody can suspend other a bout participant. ~~Just post a message like this `@netbout suspend @yegor256` see #698~~
- anybody can unsuspend other the suspended bout participant.
- suspended participant has "disabled" (grayed-out) photo with a hint `<name> suspended by <name> yyyy-dd-mm HH24:mi`
- suspended participant can't invite someone into the bout
- susp

[2015-06-14 05:14] dmzaytsev commented on #634
@ikhvostenkov @yegor256 suspend feature will be implemented in  #697

[2015-06-14 05:27] dmzaytsev opened #698 "@netbout assistant"
let's implement the `@netbout assistant`
- the assistant  should monitor entered messages for mention `@netbout`. Maybe it can be a friend in each bout.
- The assistant configuration should accept a search template, a response templates and an action interface implementation.
- The assistant should post a message into the bout before and after the action call.

[2015-06-14 05:30] dmzaytsev commented on #697
@yegor256 what do you think about proposed implementation the suspend feature?

[2015-06-14 06:01] dmzaytsev commented on #644
@yegor256 I agree, a bug here, probably in Pegdown
but I can't reproduce it..

[code]
unfortunately, right now I can't dispatch this ticket to a developer
it would be great if you had any idea or an advice how to reproduce the bug locally

[2015-06-14 06:04] dmzaytsev commented on #567
@mbarbieri as the ticket performer you should ask the reporter(@yegor256) to close this ticket

[2015-06-14 06:06] dmzaytsev commented on #614
@lautarobock is there any progress here?

[2015-06-14 06:11] dmzaytsev commented on #626
@karato it's a valid bug

[2015-06-14 06:57] mbarbieri commented on #567
@yegor256 can this be closed?

[2015-06-14 07:02] YamStranger commented on #588
@erimerturk. To reproduce bug you need find at this project on github some closed issue, with payement info. Here will be something like " added +30 to your rating, now it is equal to +106", and +106 is reference to netbout. Or you can generate some url like "http://www.netbout.com/b/35267?;lkjl;kj=kjhkh". When I created this bug - after such redirection I find null pointer, but now I see only "pa

[2015-06-14 07:08] erimerturk commented on #588
@YamStranger could we say it is fixed ? @karato what do you think ?

[2015-06-14 07:28] YamStranger commented on #588
@erimerturk As for me it should be beautiful, like first page and with message "page not found". Now it looks like "hot fix". But it up to you. "null pointer" is fixed, yes.

[2015-06-14 08:45] ypshenychka commented on #682
@ekondrashev
According to our [QA Rules](http://www.teamed.io/qa.html):

Please provide a link to corresponding PR in any of your messages.

[2015-06-14 08:46] ypshenychka commented on #682
@dmzaytsev

According to our [QA Rules](http://www.teamed.io/qa.html):

Please  indicate a person you're referring to in the beginning of your message.

[2015-06-14 08:54] ekondrashev commented on #682
@karato this one is fixed with #689

[2015-06-14 08:56] dmzaytsev commented on #682
@ypshenychka I fixed the comment

[2015-06-14 09:14] karato commented on #695
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2015-06-14 09:15] karato commented on #698
@dmzaytsev added "bug" tag to this issue

[2015-06-14 09:15] karato commented on #634
@dmzaytsev I just added bug tag here

[2015-06-14 09:15] karato commented on #626
@dmzaytsev added "bug" tag to this issue

[2015-06-14 09:16] ypshenychka commented on #682
@ekondrashev Great! Thank you.

[2015-06-14 09:16] ypshenychka commented on #682
@dmzaytsev much better :) Thanks!

[2015-06-14 09:16] ypshenychka commented on #682
@karato Quality is acceptable.

[2015-06-14 09:21] karato commented on #620
@ypshenychka please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-06-14 09:21] karato commented on #652
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-06-14 09:24] karato commented on #695
@mbarbieri this is your task

[2015-06-14 09:24] karato commented on #695
@dmzaytsev thanks for this report, I added 15 mins to your account, in transaction `59118199`

[2015-06-14 09:28] ypshenychka commented on #652
@karato Quality is good.

[2015-06-14 09:37] ypshenychka commented on #620
@antonini

According to our [QA Rules](http://www.teamed.io/qa.html):

Please  indicate a person you're referring to in the beginning of the message.

[2015-06-14 10:46] karato commented on #626
@mbarbieri since the ticket has no milestone I set it to 3.1

[2015-06-14 10:46] karato commented on #634
@ikhvostenkov I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-06-14 10:46] karato commented on #698
@dmzaytsev since the ticket has no milestone I set it to 3.1

[2015-06-14 10:46] karato commented on #652
@ypshenychka thanks for the review

[2015-06-14 10:47] karato commented on #682
@ypshenychka thanks for the review, we'll try better next time

[2015-06-14 10:47] karato commented on #695
@dmzaytsev thanks, I set it to "3.0"

[2015-06-14 10:47] karato commented on #695
@dmzaytsev OK, I labeled it as "urgent" tag

[2015-06-14 10:52] karato commented on #652
@zshamrock just added 10 mins to @ypshenychka (for QA), payment ID is `59118846`; Much obliged! I have added **30 mins** to your account in payment "AP-7WG56382EB491654R", 353 hours and 53 mins spent; +30 added to your rating, current score is: [-150](http://www.netbout.com/b/35316?open=rating)

[2015-06-14 10:52] karato commented on #698
@zshamrock could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-06-14 10:53] karato commented on #698
@dmzaytsev thanks for tis bug, I topped your account for 15 mins, transaction `59118883`

[2015-06-14 11:37] karato commented on #682
@ekondrashev 10 mins was added to the account of @ypshenychka (for QA review), in transaction 59119236... I added **38 mins** to your account, many thanks for working with the project! The completion time here was 59119241.... the bonus for fast delivery (m=2953)... +38 added to your rating, current score is: [+294](http://www.netbout.com/b/35260?open=rating)

[2015-06-14 11:37] karato commented on #634
@ikhvostenkov thanks for reporting! I topped your account for 15 mins, transaction 59119260

[2015-06-14 12:38] karato commented on #626
@mbarbieri thanks for the report, I topped your acc for 15 mins, payment ID `AP-1RG2971751088271U`

[2015-06-14 13:25] antonini commented on #656
@dmzaytsev But the since version should be the version that it was released. It helps developers to know the minimum version of component.

[2015-06-14 13:26] antonini commented on #620
@ypshenychka Fixed my comment.

[2015-06-14 13:48] mbarbieri commented on #695
@dmzaytsev are you sure subscription is implemented and deployed there? I wrote a test to verify it and everything seems to be working fine.
I tried in snapshot but I keep getting mails for every message, no matter if I subscribe or not...

[2015-06-14 14:09] karato commented on #634
@dmzaytsev thanks, I set it to "3.1"

[2015-06-14 14:24] dmzaytsev commented on #695
@mbarbieri yes, the master branch currently deployed on http://snapshot.netbout.com
I made the test today. Try to disable the subscription at once after you joined to the bout and you will get same result.
But I got same result as you when I disabled the subscription  after any message received.

[2015-06-14 14:27] ypshenychka commented on #620
@antonini Great! Thank you.

[2015-06-14 14:27] ypshenychka commented on #620
@karato Quality is acceptable.

[2015-06-14 16:18] karato commented on #620
@ypshenychka thank you, let's try to make it "good" next time

[2015-06-14 16:26] karato commented on #620
@antonini just added 10 mins to @ypshenychka (for QA), payment ID is `59122447`

Many thanks! **30 mins** were added to your account in Transaction ID `AP-4R877570Y69337225` (task took 357 hours and 26 mins)

+30 added to your rating, at the moment it is: [+196](http://www.netbout.com/b/35346?open=rating)

[2015-06-14 17:13] erimerturk commented on #588
@dmzaytsev @yegor256 what do you think ? Do we need this page ? What about page design ?

[2015-06-14 18:17] dmzaytsev commented on #588
@erimerturk I think will be enough to open the root page and to print a status message "page not found" instead "new bout started" like on the screenshot below

![image](https://cloud.githubusercontent.com/assets/9972909/8149815/3e69bbe4-12eb-11e5-8019-178c08110ff9.png)

if user not logged in, just open the root page

[2015-06-14 18:18] erimerturk commented on #692
@dmzaytsev before this issue maybe we should make this issue.
<b>for security reason and avoid spam we have to generate an unique string for the message id, when we sending email we have to write to a table message_id, bout_id, author_alias </b>
And you can see detail on here #600. what do you think ? After insert operation we should implement read and create bout part, i mean this issue . Another

[2015-06-14 18:30] dmzaytsev commented on #692
@erimerturk this outdated requirements...
I simplified the task, see  https://github.com/yegor256/netbout/issues/600#issuecomment-106876950

* we have to setup a redirection all incoming messages for @reply.netbout.com into bouts@reply.netbout.com
* we have to add header` Reply-To: <boat_id>@reply.netbout.com>` into an outgoing email. e.g `Reply-To: 35351@reply.netbout.com>`
* ~~netbout should mon

[2015-06-14 18:41] erimerturk commented on #588
@yegor256 please fix your comment which is

###### yegor256 commented on May 11
###### it's fixed already

According to our [quality rules] (http://www.teamed.io/qa.html):

###### Messages in a ticket always start with a name of a user they are addressed to.

[2015-06-14 18:49] dmzaytsev commented on #683
@karato

* #567 should be closed soon
* #614 seems need to be reassigned to another developer
* #612 we have the impediment  for this task
* #606 I removed "postponed" tag 4 days ago, task assigned to the developer
* #603 shoud be closed soon
* #602 I removed "postponed" tag 4 days ago, task assigned to the developer

* #658 asked the reporter to close it.
* #656 I will update the javadoc
* #644 h

[2015-06-14 18:54] dmzaytsev commented on #698
@karato I didn't ask to mark it as a bug yet...

please set postponed tag here.

[2015-06-14 19:05] dmzaytsev commented on #683
@yegor256 please see the project report

Scope status:

* RESTful API [95%]
* search functionality [40%]
* email enhancement [55%]
* UI enhancement[10%]
* current bugs fix [20%]

Issues:
I need your advise in these tickets
* https://github.com/yegor256/netbout/issues/697#issuecomment-111784729
* https://github.com/yegor256/netbout/issues/602#issuecomment-110858137
* https://github.com/yegor256/net

[2015-06-14 19:27] erimerturk commented on #692
@dmzaytsev thank you! We have a problem and i have already created an issue #658 for this . To create new message we need user alias info. We have user email so <code> User should be findable by email </code> what do you think ?

[2015-06-14 19:31] yegor256 commented on #613
@karato quality is bad, I confirm

[2015-06-14 20:06] zshamrock commented on #693
Thank you, @karato

[2015-06-14 20:07] #686 closed

[2015-06-14 20:17] zshamrock commented on #698
Thank you, @karato

[2015-06-14 20:20] zshamrock commented on #613
@yegor256 just curious, why do say quality is bad, if it is an invalid ticket?

[2015-06-15 06:49] erimerturk commented on #632
@yegor256 please review and close if it is acceptable, thank you!

[2015-06-15 07:23] ypshenychka commented on #546
@karato Please fix the above remark.

[2015-06-15 07:25] carlosmiranda commented on #546
@ypshenychka Unfortunately @karato can't fix it, I believe that message is automated. However new tickets already address someone with this message. Let's move on so @mbarbieri can get paid.

[2015-06-15 07:28] ypshenychka commented on #546
@carlosmiranda Yeah, you're right. This ticket is rather old.

[2015-06-15 07:29] ypshenychka commented on #546
@yegor256 can @karato fix this message or we can move forward?

[2015-06-15 09:40] karato commented on #613
@yegor256 thanks a lot, noticing bad quality is what makes us better

[2015-06-15 09:46] karato commented on #613
@zshamrock just added 10 mins to @elenavolokhova (for QA), payment ID is `59135017`

[2015-06-15 09:47] karato commented on #697
@yegor256 please do something about this issue

[2015-06-15 09:47] karato commented on #677
@yegor256 please pay attention to this issue

[2015-06-15 09:47] karato commented on #688
@yegor256 dispatch this issue please

[2015-06-15 09:47] karato commented on #696
@yegor256 please pay attention to this issue

[2015-06-15 09:47] karato commented on #622
@yegor256 dispatch this issue please

[2015-06-15 09:47] karato commented on #656
@yegor256 dispatch this issue please

[2015-06-15 11:32] lautarobock commented on #614
@dmzaytsev yes, but with a little problem

[2015-06-15 15:57] antonini commented on #671
@karato I can do this, can you assign this to me?

[2015-06-15 16:07] dmzaytsev commented on #671
@karato assign this task to @antonini please

[2015-06-15 17:23] karato commented on #671
@dmzaytsev OK @antonini please start, the task is yours

[2015-06-15 17:56] zshamrock commented on #693
@karato could you, please, explain what does it mean in the ticket description "682-753e25af in netbout-client/src/main/java/com/netbout/client/RtBout.java:155-157", I don't see any comments or todo in RtBout.java around these lines in master.

[2015-06-15 18:12] dmzaytsev commented on #692
@erimerturk well.. we can't find the user by his email but we can to encrypt his urn and boat_id and use it in the ReplyTo header. we might  create a string like `<urn>|<email>` encrypt it by some encrypt function (like  jasypt or any another) and set the ReplyTo header to string like this `74y478447y84748ydegxyg7dy@reply.netbout.com`
When we will receive a message we just decrypt the string split

[2015-06-15 18:17] dmzaytsev commented on #693
@zshamrock I think you forget  merge with master...
I see the puzzle here
https://github.com/yegor256/netbout/blob/master/netbout-client/src/main/java/com/netbout/client/RtBout.java#L155

[2015-06-15 18:28] dmzaytsev commented on #649
@karato this task is not postponed any more
please dispatch it

[2015-06-15 18:29] dmzaytsev commented on #643
@karato this task is not postponed any more
please dispatch it

[2015-06-15 18:31] dmzaytsev commented on #628
@karato this task is not postponed any more

[2015-06-15 19:32] karato commented on #628
@dmzaytsev sure, thanks, I removed "postponed" tag to it

[2015-06-15 19:51] zshamrock commented on #693
@dmzaytsev Yes, indeed, I run `merge upstream/master`, but apparently it does not get the latest changes, `pull upstream master` does.

[2015-06-15 19:53] zshamrock commented on #693
@karato have started working on this one.

[2015-06-15 23:20] yegor256 commented on #692
@dmzaytsev yes, I like it!

[2015-06-16 00:08] yegor256 commented on #697
@dmzaytsev I like it, but let's use the UI for that, not messages. Next to each photo/name we have a red cross, which you can click to "suspend" the user. Then, when a user is suspended, let's change the cross to something like an "undo" symbol. Make sense?

[2015-06-16 00:20] yegor256 commented on #613
@dmzaytsev looks like you may consider creating a new ticket of similar content.. since this one is gone wrong

[2015-06-16 00:21] yegor256 commented on #696
@caarlos0 yeah, thanks for the idea, but it's outside of scope of netbout

[2015-06-16 00:21] #696 closed

[2015-06-16 00:22] yegor256 commented on #688
@dmzaytsev I agree, the design we have now is good enough. @zshamrock thanks for suggestion anyway

[2015-06-16 03:57] dmzaytsev commented on #697
@yegor256 I believe we need a log when and who suspend/unsuspend someone.
I think the messages a good option for this one, we can see the event in history and get the email notification. We will use UI for suspend/unsuspend but we need to have  `@netbout` friend who can send a message

[2015-06-16 03:58] dmzaytsev commented on #692
@erimerturk go ahead :)

[2015-06-16 04:23] yegor256 commented on #697
@dmzaytsev yes, I like the idea. Let's use the feature through UI buttons, but post messages from `@netbout` after each operation, just like you suggested. Good thinking!

[2015-06-16 04:28] antonini commented on #671
@karato @yegor256 PR #699 is available for this issue. Please review it.

[2015-06-16 06:23] erimerturk commented on #692
@dmzaytsev @yegor256 one of our main problem not resolved yet. you know we are sending email on <code>EmMessages.email</code>, on that context we have <code>friend</code> object and it doesn't hold <code>URN</code> . So i need to create new method on friend <code>Friend.urn()</code>. What do you think ?

[2015-06-16 15:25] lautarobock commented on #684
@dmzaytsev @karato still waiting?

[2015-06-16 16:54] dmzaytsev commented on #684
@lautarobock yep, that’s right
if you click on the link above you can see that's the issue not resolved yet

[2015-06-16 17:08] dmzaytsev commented on #692
@erimerturk why we need to use `EmMessages.email()` directly?
Look at  `com.netbout.rest.bout.TkPost` it recreates `Bout` uses the bout number and user's urn and then posts the messages into the bout. Isn't it?

[2015-06-16 17:44] erimerturk commented on #692
@dmzaytsev we need to add ReplyTo header right ? i thought that it should be added on <code>EmMessages.email()</code> . We are sending bout email on that function, am i right ?

[2015-06-16 18:16] komaz commented on #603
@yegor256 fixed in pull request #691

[2015-06-16 18:26] erimerturk commented on #632
@yegor256 please review and close if it is acceptable, issue is waiting for your approve , thank you

[2015-06-16 18:58] karato opened #700 "DyInbox.java:62-65: Refactor DyInbox class to avoid..."
Puzzle `603-0cf011c2` in `netbout-web/src/main/java/com/netbout/dynamo/DyInbox.java:62-65` has to be resolved: Refactor DyInbox class to avoid suppressing of PMD.TooManyMethods and PMD.ExcessiveImports warnings. for example there are some private static methods there, those could be easily extracted.... The puzzle was created by Ivan Inozemtsev on 15-Jun-2015.

If you have any technical questions,

[2015-06-16 18:59] karato commented on #603
@yegor256 these 4 puzzles were created in this ticket: `603-0cf011c2`/#700, `603-5d374ee5`, `603-303ccd32`, `603-275d519b`

[2015-06-16 19:42] yegor256 commented on #603
@komaz check this article: http://www.yegor256.com/2015/02/12/top-down-design.html What you've done here is created some code for yourself, not for me, as your user. I still don't have any search functionality but you are asking me to close the ticket and pay. It's "unfair" :) The search box should have been done first and all the rest should have been marked as "todo"

[2015-06-16 19:45] yegor256 opened #701 "jslint is absent"
If I understand it right, we don't check the static quality of `.js` files now. It's wrong. Let's add a `jslint` step to `pom.xml` somehow

[2015-06-16 19:45] yegor256 commented on #632
@rultor deploy

[2015-06-16 19:45] rultor commented on #632
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/4200-112547365)

[2015-06-16 19:46] yegor256 commented on #632
@erimerturk we'll deploy now to snapshot.netbout.com and I'll check it there...

[2015-06-16 19:52] rultor commented on #632
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4200-112547365) (took me 7min)

[2015-06-16 19:57] yegor256 commented on #632
@erimerturk I see exactly the same problem in http://snapshot.netbout.com Try to create a bout and post many messages into it. You won't be able to scroll. See #677, it talks about the same problem (or similar).

[2015-06-16 19:58] yegor256 commented on #632
@erimerturk this is what I see:

![screen shot 2015-06-16 at 12 57 57 pm](https://cloud.githubusercontent.com/assets/526301/8193059/5ba70864-1427-11e5-8e21-1d62ed40012e.png)

[2015-06-16 20:03] erimerturk commented on #632
@yegor256 how can it be ? i am trying on snapshot also and it working for me :S . <b>38.0.5</b> is my firefox version, what is yours ? and could you please add me to that bout ? eerturk is my alias

[2015-06-16 20:07] erimerturk commented on #632
@yegor256 could you please open a private window and try it again ? thank you

[2015-06-16 20:28] yegor256 commented on #632
@erimerturk added you there: http://snapshot.netbout.com/b/17

[2015-06-16 20:56] karato commented on #700
@dmzaytsev milestone set to `3.0` (correct me if I am wrong)

[2015-06-16 20:56] karato commented on #701
@yegor256 added "indie" tag to this issue

[2015-06-16 20:57] karato opened #702 "TkIndex.java:53-55: Bout page should also display..."
Puzzle `603-275d519b` in `netbout-web/src/main/java/com/netbout/rest/bout/TkIndex.java:53-55` has to be resolved: Bout page should also display search box so that user can search for text in messages. See Messages#search method for details.... The puzzle was created by Ivan Inozemtsev on 11-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-16 22:32] karato commented on #546
@ypshenychka fixed, sorry for the delay

[2015-06-16 22:50] yegor256 commented on #602
@dmzaytsev looks like you're on the right track, let's proceed

[2015-06-17 00:59] antonini commented on #643
@dmzaytsev and @karato I can do this.

[2015-06-17 04:47] dmzaytsev commented on #643
@karato assign this task to @antonini please

[2015-06-17 04:49] dmzaytsev commented on #701
@yegor256 what the indie tag does mean?
Should I mark this ticket as a bug?

[2015-06-17 05:29] yegor256 commented on #701
@dmzaytsev yes, please. "indie" means that the bug was reported by an "independent" reviewer (which is my role in this project)

[2015-06-17 05:36] dmzaytsev commented on #701
@karato it's a valid bug

[2015-06-17 05:52] ypshenychka commented on #546
@karato Thank you!

[2015-06-17 05:53] ypshenychka commented on #546
@karato Quality is acceptable.

[2015-06-17 06:53] super132 opened #703 "Unable to upload PDF files to NetBout"
When I start a new bout and click on files button to upload a file, say a PDF with size below 1MB. Server responds "bad request". However, I can upload a text file without problem.

[2015-06-17 09:35] karato commented on #701
@yegor256 since the ticket has no milestone I set it to 3.1

[2015-06-17 09:35] karato commented on #702
@dmzaytsev since there is no milestone yet I set it to "3.0"

[2015-06-17 09:35] karato commented on #546
@ypshenychka thanks for the review, we'll try better next time

[2015-06-17 09:35] karato commented on #643
@dmzaytsev yep, done. @antonini it is your task now

[2015-06-17 09:36] karato opened #704 "TkInbox.java:50-52: Index page should also display..."
Puzzle `603-303ccd32` in `netbout-web/src/main/java/com/netbout/rest/TkInbox.java:50-52` has to be resolved: Index page should also display search box so that user can search for bouts containing text. See Inbox#search method for details.... The puzzle was created by Ivan Inozemtsev on 11-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-17 09:39] ekondrashev commented on #685
@dmzaytsev Could you please elaborate on the necessity to create `PsTwice`? As I understand it can be replaced with `PsChain` easily, no?

[2015-06-17 09:39] ekondrashev commented on #685
@karato thx!

[2015-06-17 09:41] dmzaytsev commented on #704
@karato this is urgent

[2015-06-17 09:43] karato commented on #546
@mbarbieri just added 10 mins to @ypshenychka (for QA), payment ID is `59451516`

done, I added **30 mins** in payment `AP-0VD65516UB181173T`, 162 hours and 32 mins spent to complete this

+30 added to your rating, at the moment it is: [+143](http://www.netbout.com/b/35357?open=rating)

[2015-06-17 09:43] karato commented on #683
@dmzaytsev There are a few concerns:

 * some tasks are stuck: #567 (110 days), #614 (28 days), #612 (28 days), #606 (28 days), #603 (27 days), #602 (27 days), #641 (21 days), #637 (21 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://www.teamed.io/p

[2015-06-17 09:43] karato commented on #701
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-58938970`

[2015-06-17 09:56] dmzaytsev commented on #685
@ekondrashev The idea to use BasicAuth is to enable access for developers only. We have to save current authentification capabilites.
PsChain returns the identity from first successful authentification step.
We can't add BasicAuth into it.

Thus first step is check BasicAuth, we will use one shared credentials for this step.
second step is check access using PsChain

[2015-06-17 09:58] dmzaytsev commented on #702
@karato this is urgent

[2015-06-17 10:09] ekondrashev commented on #685
@dmzaytsev Got it, then I'd suggest to introduce PsAll concept at takes level. It will return identity of a first such step if all others were successful.

We even can have Opt implementation that will behave like Iterator, making it possible iterate over all the identities and make use of it at PsAll.

[2015-06-17 10:16] dmzaytsev commented on #685
@ekondrashev do you propose to use it like this ?
[code]

[2015-06-17 10:25] ekondrashev commented on #685
@dmzaytsev yes

But I'm not sure this is what you wanted originally, it will check the chain first, do you think it is ok?

Alternatively we can have it like
[code]
end access the identity with such flow:
[code]
In other `PsAll` implies we can pass the index of identity that should be return, just thinking. I'd even wrap it with Pass impl that will raise exception if PsAll fails.

[2015-06-17 10:44] dmzaytsev commented on #685
you wrote

in this case if we check PsBasic first then we will get the BasicAuth identity, but we need to have one of the real urns from PsChain.

or I misunderstood you?

[2015-06-17 10:47] ekondrashev commented on #685
@dmzaytsev you got it correctly, I was proposing alternatives and possible ways to access all of the identities, not just first/last

[2015-06-17 11:09] erimerturk commented on #632
@yegor256 it is working for me, you can see two different paging request. could you please try it on private window and give me feedback ? thank you

![screen shot 2015-06-17 at 14 06 20](https://cloud.githubusercontent.com/assets/416283/8205533/2ecd2534-14fa-11e5-9df1-ae5c8d3af1bf.png)

[2015-06-17 11:18] dmzaytsev commented on #685
@ekondrashev do you mean [Opt](https://github.com/yegor256/takes/blob/master/src/main/java/org/takes/misc/Opt.java) from Takes?

It hasn't method `get()` ...

How we can get the identity from PsChain ?

[code]

[2015-06-17 12:34] karato commented on #704
@dmzaytsev I set the milestone to 3.0 since there is nothing set yet

[2015-06-17 12:35] karato commented on #702
@dmzaytsev OK, I labeled it as "urgent" tag

[2015-06-17 12:35] karato opened #705 "DyMessages.java:68-71: Refactor DyMessages class to avoid..."
Puzzle `603-5d374ee5` in `netbout-web/src/main/java/com/netbout/dynamo/DyMessages.java:68-71` has to be resolved: Refactor DyMessages class to avoid suppressing of PMD.TooManyMethods and PMD.ExcessiveImports warnings. for example there are some private static methods there, those could be easily extracted.... The puzzle was created by Ivan Inozemtsev on 15-Jun-2015.

If you have any technical ques

[2015-06-17 12:48] ekondrashev commented on #685
@dmzaytsev well, it does has `get` method
[code]

[2015-06-17 14:02] karato commented on #705
@dmzaytsev I set milestone here to `3.0`, let me know if it is wrong

[2015-06-17 14:03] karato commented on #704
@dmzaytsev OK, I labeled it as "urgent" tag

[2015-06-17 16:21] antonini commented on #643
@yegor256 This issue is going to change xsl. I didn't found any test that use the xsl. Does the project have it?

[2015-06-17 16:30] dmzaytsev commented on #703
@super132 thanks for reporting

[2015-06-17 16:31] dmzaytsev commented on #703
@karato it's valid bug

[2015-06-17 16:31] dmzaytsev commented on #705
@karato this is postponed taks

[2015-06-17 16:31] dmzaytsev commented on #705
please set milestone to 3.1

[2015-06-17 16:32] dmzaytsev commented on #700
@karato this is postponed task

[2015-06-17 16:32] dmzaytsev commented on #700
@karato please set milestone to 3.1

[2015-06-17 16:34] dmzaytsev commented on #688
@zshamrock please close the ticket

[2015-06-17 17:18] dmzaytsev commented on #685
@ekondrashev the Opt instance contains only one value...well we can return Iterator,
but we need to do something to extract main identity.

For this task we definitely need only one identity that's returns by PsChain
so I think the PsTwice idea in this particular case is more preferable.

anyway thanks for suggestion, feel free submit the PsAll idea  to Takes project

[2015-06-17 17:42] dmzaytsev commented on #614
@lautarobock  what's the status here?

[2015-06-17 17:43] dmzaytsev commented on #606
@mbarbieri  what's the status here?

[2015-06-17 17:45] dmzaytsev commented on #602
@lautarobock  what's the status here?

[2015-06-17 18:20] karato commented on #700
@dmzaytsev thanks, I added the "postponed" tag

[2015-06-17 18:20] karato commented on #700
@dmzaytsev no problem, I will try to find somebody else

[2015-06-17 18:20] karato commented on #700
@dmzaytsev I attached this issue to milestone `3.1`

[2015-06-17 18:20] karato commented on #705
@dmzaytsev OK, I labeled it as "postponed" tag

[2015-06-17 18:20] karato commented on #705
@dmzaytsev all right, we'll find someone else for this task

[2015-06-17 18:20] karato commented on #705
@dmzaytsev the milestone here is 3.1

[2015-06-17 18:20] karato commented on #703
@dmzaytsev I tagged this as "bug"

[2015-06-17 18:23] lautarobock commented on #602
@dmzaytsev I'm working on it now

[2015-06-17 18:23] lautarobock commented on #614
@dmzaytsev I have a problem with visual components for tabs

[2015-06-17 18:46] ekondrashev commented on #685
@dmzaytsev Do you think PsTwice is relevant only for netbout? Ot it is also good to have it at takes?

[2015-06-17 19:48] antonini opened #706 "Use message id on mail footer and link"
Instead of adding a timestamp on mail footer to avoid gmail to hide bout link (as shown below):
![netbout](https://cloud.githubusercontent.com/assets/209396/8216838/8476d5ec-150f-11e5-8e08-ba8ccef68dbb.PNG)

It would be nice that the link refers the full link of the message.

This will avoid a bad content on the message body and it will also put the user on top of the desired message.

Sample:

`t

[2015-06-17 20:06] karato commented on #703
@super132 milestone set to `3.1` (correct me if I am wrong)

[2015-06-17 20:12] karato commented on #703
@super132 thanks for this report, I added 15 mins to your account, in transaction `AP-64Y640539S5374243`

[2015-06-18 01:41] antonini commented on #692
@dmzaytsev, About the thing you said to encrypt `<urn>|<email>`, take care to don't use same encrypt method that is used on other parts of the system. This must be a method that will just be used to mail purpose.

[2015-06-18 02:02] antonini opened #707 "In MkUserTest.java class it was created a variable that is used just once."
In MkUserTest.java class it was created a variable that is used just once.

Actual source code:

    final Base base = new MkBase();
    final User user = base.user(new URN("urn:test:9989"));

As it should be:

    final User user = new MkBase().user(new URN("urn:test:9989"));

This can be seen over [here](https://github.com/yegor256/netbout/blob/814170f92de98e2afefccf22217f7c924323e64a/netbout-cl

[2015-06-18 03:53] antonini opened #708 "It would be good to have a history of earnings"
Currently the "earnings" page only show last 2 weeks detailed.

It would be nice to have a way to see all issues that you've worked.

[2015-06-18 03:57] antonini commented on #671
@karato This issue is not on my agenda.

[2015-06-18 04:42] dmzaytsev commented on #692
@erimerturk sorry, I was sure that responded you yesterday...
yes, you're right. we need to know friend's URN when we compose email.
Let's add a new  method  urn() to Friend.

[2015-06-18 04:51] dmzaytsev commented on #708
@antonini it's out of the scope of the project
ask @yegor256 inside Netbout about it

[2015-06-18 04:56] dmzaytsev commented on #706
@karato valid bag

[2015-06-18 04:57] dmzaytsev commented on #706
@karato this is postponed task

[2015-06-18 04:58] dmzaytsev commented on #706
@karato we are waiting for #643 here

[2015-06-18 06:33] #688 closed

[2015-06-18 09:11] mbarbieri commented on #606
@dmzaytsev  working on it

[2015-06-18 09:57] karato commented on #578
@dmzaytsev Thanks all, closed

[2015-06-18 09:57] #578 closed

[2015-06-18 14:35] karato commented on #632
@erimerturk task is too long, stop working with it... -60 added to your rating, at the moment it is: [+120](http://www.netbout.com/b/35280?open=rating)

[2015-06-18 15:10] erimerturk commented on #588
@karato Could you, please, assign someone else or postpone this task until 25th of June, I will be out until this for personal reasons?

[2015-06-18 15:11] erimerturk commented on #692
@karato Could you, please, assign someone else or postpone this task until 25th of June, I will be out until this for personal reasons?

[2015-06-18 16:30] dmzaytsev commented on #685
@ekondrashev I think it too specific case for be included into Takes framework

[2015-06-18 17:32] dmzaytsev commented on #707
@antonini  fixed in #709 please close

[2015-06-18 17:34] antonini commented on #707
@dmzaytsev Thanks.

[2015-06-18 17:34] #707 closed

[2015-06-19 00:24] yegor256 commented on #588
@erimerturk fixed

[2015-06-19 00:26] yegor256 commented on #632
@erimerturk this problem happens sometimes. Sometimes everything works just fine, but sometimes it just fails and I see what I mentioned above

[2015-06-19 00:45] yegor256 commented on #643
@dmzaytsev looks like it's a question to you, can you help?

[2015-06-19 01:03] yegor256 commented on #683
@dmzaytsev it's bad to have "stuck" tasks. You should either postpone them or re-assign. But we can't keep open and assigned for 20+ days. It's bad for project manageability

[2015-06-19 03:35] antonini commented on #643
@dmzaytsev PR #710 waiting for review.

[2015-06-19 03:53] dmzaytsev commented on #567
@yegor256 as the ticket reporter you should close the ticket

[2015-06-19 03:57] dmzaytsev commented on #637
@karato we are waiting for yegor256/takes#339 here

[2015-06-19 03:59] yegor256 commented on #567
@mbarbieri thanks!

[2015-06-19 03:59] #567 closed

[2015-06-19 04:11] dmzaytsev commented on #683
@yegor256 if an  issue marked as postponed  it means the issue never will be resolved, isn't it.
I think waiting is the decision, if a task has impediment.
When impediment will be resolved, the PM will inform us.

[2015-06-19 04:14] yegor256 commented on #683
@dmzaytsev yes, waiting is fine, but for example #614 is not waiting for anything, etc. We should try to avoid such situations. It's not always obvious how to avoid them, but you should keep an eye on them. Also, keep in mind this: http://www.teamed.io/policy.html#31 If some task is stuck because it's too difficult, we can boost it and increase its budget a few times. This will motivate its develo

[2015-06-19 05:06] ekondrashev commented on #685
@dmzaytsev Could you please also comment on cmdline args to be added. Currently all the arguments are passed to takes application. Does this consider creating own Options class in scope of this task? Or I can use `Manifests.read` for this?

[2015-06-19 05:10] ekondrashev commented on #685
@dmzaytsev could you also help me to understand which version of takes should I change the pom dependency to in order to be able to use new `PsBasic` class. Can I use the last one?

[2015-06-19 05:15] dmzaytsev commented on #685
@ekondrashev yes, I agree, let's read the credentials from Manifest

[2015-06-19 05:15] ekondrashev commented on #685
@dmzaytsev the latest version if 0.20.2 and it misses the new `PsBasic` I believe we are blocked here as of now.

[2015-06-19 05:16] dmzaytsev commented on #685
@ekondrashev I think it would better to use the latest version of the Takes

[2015-06-19 05:17] dmzaytsev commented on #685
@ekondrashev 0.20.3 released a few hours ago
it should contains `PsBasic`

[2015-06-19 05:17] ekondrashev commented on #685
@dmzaytsev Cool! let me check.

[2015-06-19 05:53] erimerturk commented on #632
@yegor256 before i made fix js was waiting ajax response as xml, but i netbout was returning html for ff. So i changed xml parsing to html parsing and scroll is working now. It maybe has another problem i dont know. I fixed parsing problem and lost 90 point, it is not fair

[2015-06-19 06:34] dmzaytsev commented on #643
@antonini  If didn't found any test that use the xsl just create it :)

[2015-06-19 09:00] dmzaytsev commented on #603
@yegor256 I'm sure @komaz taken it to account.
Another developers will add the search box in #704 , #702.
These tickets marked as urgent and will be resolved soon, I hope.

@komaz did good job and it would be fair if his job will be paid.
Let's shut our eyes to this ticket. Please keep in mind it's the campus project.
Thanks

[2015-06-19 09:40] dmzaytsev commented on #677
@karato this is postponed task

[2015-06-19 09:47] dmzaytsev commented on #606
@mbarbieri please keep in mind http://www.teamed.io/policy.html#16

[2015-06-19 09:49] dmzaytsev commented on #602
@lautarobock please keep in mind http://www.teamed.io/policy.html#16

[2015-06-19 10:06] dmzaytsev commented on #656
@antonini a developers won't look for a version of any test classes.
It's a cosmetic issue

[2015-06-19 10:18] dmzaytsev commented on #683
@yegor256

#567 (110 days) closed
#614 (28 days), assigned 15 days ago, should be reassigned today. I will think what  I can be done with this task.
#612 (28 days), has the impediment
#606 (28 days), assigned 9 days ago, I reminded the developer
#603 (27 days), I asked the reporter to stretch the point and close the task
#602 (27 days), assigned 9 days ago, I reminded the developer
#641 (21 days),

[2015-06-19 10:51] ekondrashev commented on #685
@karato need more time here, initial discussion took some time, the PR is on review stage.

[2015-06-19 11:03] dmzaytsev commented on #697
@karato it's a vald bug

[2015-06-19 11:04] dmzaytsev commented on #697
@karato please set milestone to 3.1

[2015-06-19 11:12] dmzaytsev commented on #683
@yegor256 seems there is some issues with a project automation ....
e.g. these tasks  #564 #706 #677 has not been handled by PM a few days

[2015-06-19 13:15] karato commented on #685
@ekondrashev sure, thanks for telling me, take your time

[2015-06-19 16:37] yegor256 commented on #603
@dmzaytsev OK

[2015-06-19 16:37] #603 closed

[2015-06-19 16:43] yegor256 commented on #632
@erimerturk you do remember this, right: http://www.teamed.io/policy.html#7 You should worry about task completion in time, that's your responsibility, not mine (as ticket reporter). When you see that you need more time than usual, you should inform project manager about it, see http://www.teamed.io/policy.html#10

[2015-06-19 16:43] yegor256 commented on #632
@karato assign @erimerturk back to this ticket pls

[2015-06-19 18:33] karato commented on #632
@yegor256 done. @erimerturk the task is yours, please go ahead

[2015-06-19 19:46] karato commented on #702
@erimerturk do this task

[2015-06-20 05:42] dmzaytsev commented on #683
@yegor256 can we publish 2.16?

[2015-06-20 09:58] karato commented on #567
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-20 10:00] karato commented on #614
@lautarobock 15 days already, in 48 hours I will re-assign... -30 to your rating, your total score is [+120](http://www.netbout.com/b/35344?open=rating)

[2015-06-20 10:00] karato commented on #704
@bilalyasar please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-06-20 11:06] karato commented on #683
@dmzaytsev There are a few problems in the project now:

 * some tasks are stuck: #614 (31 days), #606 (31 days), #602 (31 days), #632 (25 days), #628 (25 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://www.teamed.io/policy.html#29)), or 3) try to

[2015-06-20 11:06] karato commented on #693
@bilalyasar it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-06-20 11:09] elenavolokhova commented on #567
@karato Quality is good here.

[2015-06-20 12:10] karato commented on #567
@elenavolokhova thanks for the review

[2015-06-20 12:19] karato commented on #567
@mbarbieri just added 10 mins to @elenavolokhova (for QA), payment ID is `59533902`; thank you, added **30 mins** to your acc, payment num is `AP-4LS60593JS895570R`, 262 hours and 40 mins spent in total to complete; added +30 to your rating, now it is equal to [+143](http://www.netbout.com/b/35357?open=rating)

[2015-06-20 13:24] dmzaytsev commented on #628
@karato this is urgent

[2015-06-20 13:33] mbarbieri commented on #695
@dmzaytsev can you please check [here](https://github.com/mbarbieri/netbout/blob/695/netbout-web/src/test/java/com/netbout/email/EmMessagesITCase.java#L85) if the steps are right to reproduce the error?

[2015-06-20 14:33] karato commented on #628
@dmzaytsev got it, "urgent" tag here

[2015-06-20 15:43] dmzaytsev commented on #695
@mbarbieri the steps look correct but the matchers is wrong..
I think it would better to change the messages
"send it" -> "subscribe on"
"don't send it" -> "subscribe off"
and the matchers should check that messages contains "subscribe on"  and not contains "subscribe off"

[2015-06-20 16:15] mbarbieri commented on #695
@dmzaytsev this is what I'm doing. Verify that only 2 mails are sent and all of them have the text  "send it"...  And the test is passing.

[2015-06-20 16:19] dmzaytsev commented on #695
@mbarbieri did you reproduce the error in the browser?
maybe the subscription flag doesn't set correct?

[2015-06-20 18:42] karato commented on #603
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-06-20 22:12] mbarbieri commented on #606
@dmzaytsev @yegor256 What is the correct way to include external jQuery plugins?
If I copy the js file in js folder it will be checked by qulice, the plugin isn't available in a cdn and directly link to github doesn't sound good...

[2015-06-21 04:18] dmzaytsev commented on #606
@mbarbieri you might copy the js file into js folder. If qulice will be complain on it, just exclude the js file from the checks. see http://www.qulice.com/qulice-maven-plugin/example-exclude.html

[2015-06-21 04:29] dmzaytsev commented on #606
@mbarbieri I just would remind, you should inform the PM about the delay and ask more time. It's your responsibility as the ticket performer. You will be fined in 7 days and a task will be reassigned in 10 days on the commercial projects

[2015-06-21 04:42] dmzaytsev commented on #588
@karato FYI

[2015-06-21 13:58] dmzaytsev commented on #685
@ekondrashev thanks!

[2015-06-21 13:58] #685 closed

[2015-06-21 14:09] ekondrashev commented on #685
@karato the issue should be fixed with #711 PR.

[2015-06-21 19:14] antonini commented on #671
@yegor256 It is available on http://snapshot.netbout.com/ so you can test it.

[2015-06-22 02:14] yegor256 commented on #671
@antonini works fine, thanks!

[2015-06-22 02:14] #671 closed

[2015-06-22 02:20] yegor256 commented on #606
@mbarbieri @dmzaytsev having a third-party code in our repo is a **bad** practice. We should find a way how to use their code without copy-pasting

[2015-06-22 06:44] elenavolokhova commented on #603
@karato Quality is good here.

[2015-06-22 10:05] karato commented on #603
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2015-06-22 10:14] karato commented on #603
@komaz just added 10 mins to @elenavolokhova (for QA), payment ID is `59565025`; Much obliged! I have added **30 mins** to your account in payment "AP-7PB298327B919201C", 502 hours and 31 mins spent; +30 added to your rating, at the moment it is: [+398](http://www.netbout.com/b/35322?open=rating)

[2015-06-22 13:21] erimerturk commented on #632
@yegor256 i think you should accept this solution and then we can open another issue for the other problem. Because i believe that they are two different problems and we haven't define reason of your problem.This solution is fixed <b>html parse handle problem</b> what do you think ? i am blocked.

[2015-06-22 15:55] karato commented on #685
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-22 17:07] ypshenychka commented on #685
@dmzaytsev

It will return identity of a first such step if all others were successful.
in this case if we check PsBasic first then we will get the BasicAuth identity, but we need to have one of the real urns from PsChain.
or I misunderstood you?

According to our [QA Rules](http://www.teamed.io/qa.html):

Please correct your message by indicating a person you're referring to in the beginning.

[2015-06-22 17:13] dmzaytsev commented on #685
@ypshenychka my bad :( fixed!

[2015-06-22 17:33] ypshenychka commented on #685
@dmzaytsev Please fix this [message](https://github.com/yegor256/netbout/issues/685#issuecomment-112751640).

[2015-06-22 17:35] dmzaytsev commented on #685
@ypshenychka sorry, done

[2015-06-22 17:36] ypshenychka commented on #685
@dmzaytsev Thank you!

[2015-06-22 17:36] ypshenychka commented on #685
@karato Quality is acceptable.

[2015-06-22 17:39] karato opened #713 "TkAppAuth.java:92-101: Need to implement PsBasic.Entry. PsFake..."
Puzzle `685-6534dff2` in `netbout-web/src/main/java/com/netbout/rest/TkAppAuth.java:92-101` has to be resolved: Need to implement PsBasic.Entry. PsFake usage should be changed to PsBasic( Manifests.read("Netbout-Basic-Realm"), new PsBasic.Default( Manifests.read("Netbout-Basic-User"), Manifests.read("Netbout-Basic-Pwd"))) But PsBasic.Default like class is currently missing. See takes #349. It is a

[2015-06-22 17:39] karato commented on #685
@dmzaytsev once `685-6534dff2`/#713 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-06-22 17:40] dmzaytsev commented on #713
@karato this is urgent

[2015-06-22 19:00] karato commented on #713
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2015-06-22 19:00] karato commented on #685
@ypshenychka thanks for the QA review, we'll work better next time

[2015-06-22 19:12] karato commented on #685
@ekondrashev just added 10 mins to @ypshenychka (for QA), payment ID is `59801985`; **30 mins** was added to your account, many thanks for your contribution (payment 59801997)! The task took 195 hours and 31 mins.; +30 to your rating, your total score is [+354](http://www.netbout.com/b/35260?open=rating)

[2015-06-22 20:09] yegor256 commented on #632
@erimerturk right, thanks

[2015-06-22 20:09] #632 closed

[2015-06-22 20:13] erimerturk commented on #632
@yegor256 thank you!

[2015-06-22 20:54] karato commented on #713
@dmzaytsev got it, "urgent" tag here

[2015-06-23 02:02] yegor256 opened #714 "/start with rename query argument"
We made something similar in #610

Let's make it possible to rename bout right after start in `/start` entry point. Something like this should be possible to do:

[code]

Pay attention, rename should happen _before_ inviting and posting a message.

[2015-06-23 02:08] yegor256 opened #715 "return after login looses query params"
We introduced this feature in #609

I'm logged off and I'm opening this URL:

[code]

I see a login page. I click "github" button and logs in correctly. I see this page:

[code]

Query params are lost. I believe it's a bug.

[2015-06-23 02:12] yegor256 commented on #715
@dmzaytsev this is rather critical feature, in combination with #610. Let's say, I want to give my friend this URL:

[code]

I give him this URL and say: click it when you're ready to discuss. He clicks the URL, logins (or creates an account) and immediately lands into a new bout, where I'm invited and a simple message is posted. I will reply to him right there.

At the moment this scenario doesn'

[2015-06-23 10:08] karato commented on #714
@yegor256 I tagged this as "indie"

[2015-06-23 10:08] karato commented on #697
@dmzaytsev added "bug" tag to this issue

[2015-06-23 11:19] karato commented on #697
@dmzaytsev attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-06-23 11:19] karato commented on #714
@yegor256 since the ticket has no milestone I set it to 3.1

[2015-06-23 11:26] karato commented on #588
@erimerturk 15 days already, in 48 hours I will re-assign... added -30 to your rating, now it is equal to [+120](http://www.netbout.com/b/35280?open=rating)

[2015-06-23 11:27] karato commented on #714
@yegor256 many thanks for the bug report, I added 15 mins to your acc, transaction `000-c6958835`

[2015-06-23 11:38] erimerturk commented on #588
@karato i have already send you message 5 days ago, please see it. @dmzaytsev send you reminder . why is it happening ? i am not able to work and said it before to you. could you please undo negative rate ?

[2015-06-23 11:47] erimerturk commented on #588
@karato see also #692 last message

[2015-06-23 13:05] karato commented on #697
@dmzaytsev I attached this issue to milestone `3.1`

[2015-06-23 13:12] karato commented on #683
@dmzaytsev There are a few concerns:

 * some tasks are stuck: #614 (34 days), #606 (34 days), #602 (34 days), #628 (28 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * we have too many (7) urgent tasks, it's not healthy. Please, de-prioritize some of them.

 * these issues are still not dispatche

[2015-06-23 13:12] karato commented on #697
@dmzaytsev thanks for this report, I added 15 mins to your account, in transaction `59823069`

[2015-06-23 16:17] yegor256 commented on #588
@karato indeed, assign someone else here

[2015-06-23 16:17] yegor256 commented on #588
@erimerturk I'll fix the rating

[2015-06-23 17:03] erimerturk commented on #692
@karato @yegor256 please assign someone else or postpone it, thank you

[2015-06-23 17:34] dmzaytsev commented on #714
@karato it's a valid bug

[2015-06-23 17:35] dmzaytsev commented on #715
@karato it's a valid bug

[2015-06-23 17:36] dmzaytsev commented on #715
@karato please set milestone to 3.1

[2015-06-23 17:37] dmzaytsev commented on #715
@yegor256 is it priority task? should I set urgent tag here?

[2015-06-23 17:43] dmzaytsev commented on #684
@karato this task not urgent any more

[2015-06-23 17:45] yegor256 commented on #715
@dmzaytsev yes, would be nice to have it fixed ASAP (and released in 2.16)

[2015-06-23 17:45] dmzaytsev commented on #695
@karato this task not urgent any more

[2015-06-23 17:45] dmzaytsev commented on #704
@karato this task not urgent any more

[2015-06-23 17:47] karato commented on #588
@yegor256 I deducted 30 points from your rating

[2015-06-23 17:47] karato commented on #588
@yegor256 I will try to find someone else

[2015-06-23 17:47] karato commented on #715
@dmzaytsev tagged this issue with "bug"

[2015-06-23 17:47] dmzaytsev commented on #715
@karato this task is  urgent

[2015-06-23 17:54] dmzaytsev commented on #683
@yegor256 how many urgent task is acceptable for the project ?
We have some urgent tasks  not assigned yet or will become unassigned soon

[2015-06-23 17:56] dmzaytsev commented on #602
@lautarobock is there any progress here?

[2015-06-23 17:57] dmzaytsev commented on #708
@antonini please close the ticket

[2015-06-23 17:58] #708 closed

[2015-06-23 17:58] antonini commented on #708
@dmzaytsev Thanks

[2015-06-23 18:00] dmzaytsev commented on #706
@karato  this task has the impediment #643
Is it possible put it on hold until #643 will be resolved ?

[2015-06-23 18:03] dmzaytsev commented on #677
@karato this is postponed task

[2015-06-23 18:14] dmzaytsev commented on #683
@yegor256 @karato

** stuck tasks **
#614 (34 days) not dispached yet,
#606 (34 days) under the code review now,  I hope will be resolved soon
#602 (34 days) the performer not respond I think will be reassigned in two days
#628 (28 days) I marked it as urgent 3 days ago should be dispatched soon

**not dispatched anyhow:**
#708 сlosed,
#706 marked as bug and should be on hold 6 days ago
#677 marke

[2015-06-23 18:21] karato commented on #715
@yegor256 since the ticket has no milestone I set it to 3.1

[2015-06-23 18:31] karato commented on #715
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-79f5c1e0

[2015-06-23 19:14] dmzaytsev opened #716 "Redirect to http://www.netbout.com/,PsCookie="
sometimes Netbout redirected to http://www.netbout.com/,PsCookie= and put `,PsCookie=value` into query param...

![image](https://cloud.githubusercontent.com/assets/9972909/8314771/16e7de86-1a05-11e5-8100-98b15916eb58.png)

It need to be investigated and fixed

[2015-06-23 19:15] dmzaytsev commented on #716
@karato it's a valid bug

[2015-06-23 19:18] yegor256 commented on #692
@karato assign someone else here

[2015-06-23 19:28] karato commented on #684
@dmzaytsev right, I removed "urgent" tag

[2015-06-23 19:28] karato commented on #695
@dmzaytsev OK, I un-labeled it as "urgent" tag

[2015-06-23 19:28] karato commented on #704
@dmzaytsev got it, "urgent" tag removed from here

[2015-06-23 19:29] karato commented on #716
@dmzaytsev tagged this issue with "bug"

[2015-06-23 20:04] yegor256 commented on #716
@dmzaytsev never seen this... just curious, how can it be reproduced?

[2015-06-23 20:08] yegor256 commented on #683
@dmzaytsev five urgent tasks is a reasonable maximum. If we have more, we're losing the whole point of marking them "urgent"

[2015-06-23 20:16] yegor256 commented on #706
@karato it's a valid bug

[2015-06-24 02:54] yegor256 opened #717 "RtAttachment#write() breaks the content"
`RtAttachment#write()` uses `IOUtils.toString()` in order to convert the stream to String, which is fine for text content but is not acceptable for binary content. It simply breaks the content. We should use `IOUtils.toByteArray()` instead.

[2015-06-24 03:24] yegor256 commented on #644
@dmzaytsev I have no idea either :( I think the best option here is to replace Pegdown with something else. But I tried some other library before (check git log on `Markdown` class), it was no good either

[2015-06-24 03:26] yegor256 commented on #564
@karato this is urgent

[2015-06-24 03:42] dmzaytsev commented on #716
@yegor256 seems the RsReturn cookie is related to this bug.
We had already such issue #694, but I saw it my own eyes yesterday and catched the http headers.
We have some issue with setting the RsReturn cookie value

[2015-06-24 03:46] dmzaytsev commented on #717
@yegor256 seems it duplicate #703 isn't it ?
Anyway thanks for your investigate! It will help the ticket performer

[2015-06-24 05:11] dmzaytsev commented on #644
@yegor256 what do you think about the idea to use Github API for the markdown rendering ?
https://developer.github.com/v3/markdown/
It has limits for the rate calls per hour, but we can use the user's Github token for it. 5000 calls per hour will be enough...
Or we can create a few github accounts and use a token's pool for the API calls...
Or we can cache the rendered content into the dynamo tabl

[2015-06-24 05:50] dmzaytsev commented on #546
@yegor256 after you filled out the form, did you had any response on it?  Is your request been accepted or declined?

[2015-06-24 11:10] karato commented on #716
@dmzaytsev since the ticket has no milestone I set it to 3.1

[2015-06-24 11:10] karato commented on #564
@yegor256 thanks, I added the "urgent" tag

[2015-06-24 11:10] karato commented on #692
@yegor256 deducted 30 from your rating :(

[2015-06-24 11:10] karato commented on #692
@yegor256 someone else will help in this task, no problem at all

[2015-06-24 11:10] karato commented on #715
@dmzaytsev I attached this issue to milestone `3.1`

[2015-06-24 11:10] karato commented on #715
@dmzaytsev right, I added "urgent" tag

[2015-06-24 11:10] karato commented on #706
@yegor256 I just added bug tag here

[2015-06-24 11:16] karato commented on #632
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-24 11:18] karato commented on #716
@dmzaytsev thank you for the ticket reported, I topped your account for 15 mins, transaction `59899742`

[2015-06-24 12:02] karato commented on #706
@antonini attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-06-24 12:07] karato commented on #628
@erimerturk this is your task

[2015-06-24 12:08] karato commented on #706
@antonini thanks for reporting! I topped your account for 15 mins, transaction AP-00061796Y64389601

[2015-06-24 14:14] karato commented on #706
@dmzaytsev got it, "postponed" tag here

[2015-06-24 14:14] karato commented on #706
@dmzaytsev I will try to find someone else

[2015-06-24 14:14] karato commented on #706
@dmzaytsev ok, let's wait for #643

[2015-06-24 14:22] karato commented on #614
@lautarobock task is too long, stop working with it. added -60 to your rating, now it is equal to [+30](http://www.netbout.com/b/35344?open=rating)

[2015-06-24 14:50] lautarobock commented on #614
@karato ok, sorry

[2015-06-24 16:02] yegor256 commented on #716
@dmzaytsev I think I know how to reproduce. Just try to attach a file with an empty form field "name"

[2015-06-24 16:03] yegor256 commented on #716
@dmzaytsev it's reproducable on production, but it's not reproducable on snapshot. Looks like it's fixed already...

[2015-06-24 16:05] dmzaytsev commented on #716
@yegor256 I will mark it as postponed and check again after the release

[2015-06-24 16:08] dmzaytsev commented on #716
@yegor256 I don't understand how it is possible.
I just checked tests for RsWithCookies in Takes, it rejects comma for the cookie values.

[2015-06-24 16:14] yegor256 commented on #716
@dmzaytsev maybe this happens during cookies aggregation. This line means that we have **two** cookies:

[code]

[2015-06-24 16:15] dmzaytsev commented on #716
@yegor256 btw I can't attach a file with an empty name
got the error `invalid attachment name ""`

[2015-06-24 16:16] dmzaytsev commented on #716
@yegor256 I checked it already
Takes uses `;` as cookie separator

[2015-06-24 16:17] yegor256 commented on #546
@dmzaytsev they declined it. but I will try again, looks like I did something wrong

[2015-06-24 16:18] yegor256 commented on #716
@dmzaytsev yes, you can't attach a file without a name, but in production you end up in that wrong page (as you mentioned above), while in the snapshot you see a proper error message.

[2015-06-24 16:18] dmzaytsev commented on #716
@yegor256 I just created the issue https://github.com/yegor256/takes/issues/353
I think it will prevent such errors

[2015-06-24 16:21] dmzaytsev commented on #716
I tried to attach the file with empty name on the production and I saw a proper error message.
I checked the cookies after it. everything is okay

[2015-06-24 16:23] yegor256 commented on #644
@dmzaytsev hm... it's not a bad idea at all. I like the option of caching inside DynamoDB. let's go for it!

[2015-06-24 16:24] yegor256 commented on #716
@dmzaytsev are you sure?? I just checked production, the error is there

[2015-06-24 16:26] dmzaytsev commented on #716
@yegor256 absolutely
is there a browser specific issue ?

[2015-06-24 16:27] dmzaytsev commented on #716
@yegor256 issue that's fixed already on the snapshot...

[2015-06-24 16:27] yegor256 commented on #717
@dmzaytsev I think these are two separate issues. In #703 we're dealing with user interface, while here is the problem in the RESTful client

[2015-06-24 16:28] dmzaytsev commented on #716
@yegor256 I propose postpone this task and check again after the release

[2015-06-24 16:31] dmzaytsev commented on #716
@yegor256  anyway after it https://github.com/yegor256/takes/issues/353
we will got the error before the invalid cookie will be set .
It will allow localize the error location

[2015-06-24 16:31] dmzaytsev commented on #717
@yegor256 you're right, sorry

[2015-06-24 16:32] dmzaytsev commented on #717
@karato it's valid bug

[2015-06-24 16:52] dmzaytsev commented on #716
@karato this is postponed

[2015-06-24 17:10] elenavolokhova commented on #632
@karato Quality is good here.

[2015-06-24 17:12] karato commented on #717
@dmzaytsev added "bug" tag to this issue

[2015-06-24 18:19] dmzaytsev commented on #628
@karato this task not urgent anymore

[2015-06-24 19:29] karato commented on #717
@yegor256 there is no milestone yet, so I set it to `3.1`

[2015-06-24 19:30] karato commented on #632
@elenavolokhova many thanks

[2015-06-24 19:30] karato commented on #628
@dmzaytsev right, I removed "urgent" tag

[2015-06-24 19:30] karato commented on #716
@dmzaytsev thanks, I added the "postponed" tag

[2015-06-24 19:30] karato commented on #716
@dmzaytsev no problem, I will try to find somebody else

[2015-06-24 19:35] karato commented on #632
@erimerturk 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 59912249... **30 mins** was added to your account, many thanks for your contribution (payment AP-22S982568Y486662F)! The task took 74 hours and 19 mins.... added +30 to your rating, now it is equal to [+90](http://www.netbout.com/b/35280?open=rating)

[2015-06-24 19:35] karato commented on #717
@yegor256 thanks for this report, I added 15 mins to your account, in transaction `000-57148a6b`

[2015-06-25 10:12] dmzaytsev opened #718 "The project build is fails on windows"
Right now the project build is fails on windows.
I believe Netbout should be able be builded on any platform

[2015-06-25 10:20] karato commented on #718
@dmzaytsev I just added bug tag here

[2015-06-25 10:31] #718 closed

[2015-06-25 17:43] erimerturk commented on #628
@komaz @dmzaytsev please see PR : #720

[2015-06-26 03:43] dmzaytsev commented on #606
@mbarbieri ask for more time ASAP  if you don't want loose this task

[2015-06-26 04:38] mbarbieri commented on #606
@karato can I have more time to work on this?

[2015-06-26 08:08] erimerturk opened #721 "Change email broken"
Step 1 : Go  http://www.netbout.com/acc/index and change email to <b>"xxx@mail.com" </b>

After redirection to home page

Step 2 : Go  http://www.netbout.com/acc/index and see flash message as <b>email changed to "xxx@mail.com" </b> but inside mail box you will see  <b>old email</b>, it must be <b>"xxx@mail.com" </b>

[2015-06-26 10:20] karato commented on #606
@mbarbieri OK, no problem, take your time

[2015-06-26 10:30] karato commented on #684
@lautarobock 15 days already, in 48 hours I will re-assign

-30 to your rating, your total score is [+0](http://www.netbout.com/b/35344?open=rating)

[2015-06-26 10:36] dmzaytsev commented on #684
@karato  I asked you put this task on hold two weeks ago...

please put it on hold

@yegor256 could you please restore the rating ?

[2015-06-26 10:43] dmzaytsev commented on #721
@erimerturk thanks for reporting!

[2015-06-26 10:43] dmzaytsev commented on #721
@karato valid bug

[2015-06-26 11:33] karato commented on #721
@dmzaytsev I just added bug tag here

[2015-06-26 11:41] karato commented on #602
@lautarobock the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... -30 added to your rating, current score is: [-30](http://ww

[2015-06-26 13:18] karato commented on #721
@erimerturk there is no milestone yet, so I set it to `3.1`

[2015-06-26 13:26] karato commented on #721
@erimerturk many thanks for the bug report, I added 15 mins to your acc, transaction `AP-5MT14451TW489401T`

[2015-06-26 14:58] karato commented on #683
@dmzaytsev there are some issues in the project now:

 * some tasks are stuck: #614 (37 days), #602 (37 days), #628 (31 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://www.teamed.io/policy.html#29)), or 3) try to help their performers to resolve th

[2015-06-26 15:03] dmzaytsev commented on #677
@karato this is postponed task

[2015-06-26 16:42] dmzaytsev commented on #702
@erimerturk is there any progress on this task?

[2015-06-26 17:13] erimerturk commented on #702
@dmzaytsev i am working on it but i think i need more time. @karato i need more time for this task please.

[2015-06-27 05:12] #658 closed

[2015-06-27 05:19] erimerturk opened #722 "Message posted flash message is broken"
1. Enter a bout (bout id:XXX) and post a message and then u will see <b>message posted to the bout XXX </b>
2. Go to main page and again u will see again <b>message posted to the bout XXX </b>

I am expecting that <b>Message posted</b> flash message should be lost.

[2015-06-27 07:21] mbarbieri commented on #695
@karato can I have more time to work on this? I'm still not able to reproduce it

[2015-06-27 09:14] karato commented on #695
@mbarbieri OK, no problem, take your time

[2015-06-27 09:14] karato opened #723 "bout.xsl:45-45: The line below should be..."
Puzzle `606-457eb15d` in `netbout-web/src/main/xsl/bout.xsl:45-45` has to be resolved: The line below should be changed to avoid linking... The puzzle was created by Matteo Barbieri on 27-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-27 09:14] karato commented on #606
@dmzaytsev once `606-457eb15d`/#723 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-06-27 10:18] karato commented on #606
@rultor rultor closed it (automatically), @dmzaytsev please take a look

[2015-06-27 10:18] karato commented on #723
@dmzaytsev since the ticket has no milestone I set it to 3.0

[2015-06-27 13:29] dmzaytsev commented on #606
@mbarbieri thanks!

[2015-06-27 13:29] #606 closed

[2015-06-27 14:04] erimerturk commented on #702
@karato i need more time for this task please, thank you

[2015-06-27 15:07] erimerturk commented on #702
@dmzaytsev @karato please see PR #724

[2015-06-27 16:47] dmzaytsev commented on #722
@erimerturk thanks !
 it's a bug in Takes https://github.com/yegor256/takes/issues/354

[2015-06-27 16:48] dmzaytsev commented on #722
@karato valid bug

[2015-06-27 16:48] dmzaytsev commented on #722
@karato this is postponed task

until yegor256/takes#354 will be resolved

[2015-06-27 16:53] karato commented on #702
@erimerturk right, take your time and thanks for informing

[2015-06-27 16:54] karato commented on #722
@dmzaytsev tagged this issue with "bug"

[2015-06-27 18:33] karato commented on #722
@erimerturk I set the milestone to 3.1 since there is nothing set yet

[2015-06-27 18:43] karato commented on #722
@erimerturk thank you for the ticket reported, I topped your account for 15 mins, transaction `AP-38U09202H29436733`

[2015-06-28 01:05] antonini opened #725 "Highlight message when accessed from a permalink"
Message that is accessed from permalink on email should be highlighted.
This is to help the user to know where the new content begins.

[2015-06-28 01:05] antonini commented on #725
This issue depends on #643.

[2015-06-28 01:17] antonini opened #726 "Each loaded page generates a new div inside external content."
Each loaded page (when scrolling down) generates a new div inside the external div that holds the content.

This can be seen on the print screen below.

![screen shot 2015-06-27 at 10 13 59 pm](https://cloud.githubusercontent.com/assets/209396/8394660/2eb93420-1d1a-11e5-8365-93228f5c37ba.png)

[2015-06-28 01:21] antonini opened #727 "Cross-Origin Resource Sharing (CORS) error"
When accessing a bout and looking over Chrome console i saw the following error:

`Font from origin 'http://img.netbout.com' has been blocked from loading by Cross-Origin Resource Sharing policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://www.netbout.com' is therefore not allowed access.`

[2015-06-28 04:11] dmzaytsev commented on #725
@antonini see a bug definition
http://www.yegor256.com/2014/04/13/bugs-are-welcome.html#what-is-a-bug?
this functionality not implemented yet

please close this ticket and create a puzzle about "highlight a message" in your pull request #710

[2015-06-28 04:13] dmzaytsev commented on #727
@antonini I can't reproduce it or I misunderstood the reproduction steps. Could you attach a screenshot?

[2015-06-28 04:38] dmzaytsev commented on #726
@antonini please elaborate a bit what's wrong here and how you suggest fix it.

[2015-06-28 08:23] erimerturk commented on #628
@komaz could you please check and close issue, thank you!

[2015-06-28 08:25] #628 closed

[2015-06-28 09:56] karato commented on #641
@dmzaytsev #628 is closed, we were waiting for it.. maybe we can continue?

[2015-06-28 10:46] dmzaytsev commented on #641
@karato yes, please

[2015-06-28 12:41] antonini commented on #726
@dmzaytsev When you access a BOUT that has more then 16 messages, it loads latest 16 messages (As you can see `div#messages >div.message``).
When you scroll down your browser it loads next page and so on, but instead of adding new messages on same level, it generates an inner div that holds all messages.

On the printscreen above you can see that the second page starts on `div#messages > div >div.

[2015-06-28 12:46] antonini commented on #727
Just open http://www.netbout.com on your google chrome and open browser console. Here is a screenshot.
![screen shot 2015-06-28 at 9 18 36 am](https://cloud.githubusercontent.com/assets/209396/8396415/73ec010c-1d7a-11e5-9144-3f6c66aa63ad.png)

[2015-06-28 12:46] antonini commented on #725
Ok. I'll add it over there.

[2015-06-28 12:47] #725 closed

[2015-06-28 14:28] dmzaytsev commented on #727
@antonini I don't see any error...

![image](https://cloud.githubusercontent.com/assets/9972909/8396714/81b0c66e-1dcb-11e5-99c3-5d6552cc1394.png)

the future performer should know steps for reproduce the issue

[2015-06-28 14:54] karato commented on #606
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-28 14:56] dmzaytsev commented on #726
@karato it's a valid bug

[2015-06-28 16:02] karato commented on #726
@dmzaytsev tagged this issue with "bug"

[2015-06-28 17:19] karato commented on #726
@antonini since the ticket has no milestone I set it to 3.1

[2015-06-28 17:29] karato commented on #726
@antonini thanks for the ticket, your account was topped for 15 mins, payment AP-9LA14211U7555905R

[2015-06-28 18:40] dmzaytsev commented on #702
@karato this task not urgent  anymore

[2015-06-28 19:58] ypshenychka commented on #606
@mbarbieri
According to our [QA Rules](http://www.teamed.io/qa.html):

Please mention in any of your messages link to corresponding PR.

[2015-06-28 20:12] antonini commented on #727
@dmzaytsev Strange. I just opened the web site. And when I checked my console there were the error.
Even on the login page it happens (tried to access with an anonymous session).

My environment:
OS: OSX Yosemite
Google Chrome: Version 43.0.2357.124 (64-bit)
DNS: 8.8.8.8, 4.4.4.4
Resolve:
`www.netbout.com -> us-east-1-a.route.herokuapp.com -> 23.21.247.21`
`img.netbout.com -> dxe6yfv2r7pzd.cloudfr

[2015-06-28 20:14] antonini commented on #671
@karato Any progress over here?

[2015-06-28 21:01] karato commented on #702
@dmzaytsev thanks, I removed the "urgent" tag

[2015-06-28 21:05] mbarbieri commented on #606
@ypshenychka done

[2015-06-29 01:58] yegor256 commented on #726
@antonini @dmzaytsev I believe it's by design... I made it this way. I didn't find a way to do it differently. If we can fix it and make them "flat", would be great of course.

[2015-06-29 02:35] antonini commented on #726
@yegor256 Yes. It is possible to do it "flat". Using `insertBefore` method. I think i can't implement it because I reported it. Am I wrong?

[2015-06-29 04:06] yegor256 commented on #726
@antonini not sure... I'm not a big expert in HTML/jQuery. We have to create a proper test first, before making changes

[2015-06-29 04:17] yegor256 commented on #677
@karato  it's a bug

[2015-06-29 04:21] yegor256 commented on #684
@karato we need more time here

[2015-06-29 04:33] antonini commented on #726
@yegor256 I've created the [following](http://jsfiddle.net/antonini/dbxqyws5/) code so you can see the main change that will be done on JS file.

[2015-06-29 04:51] dmzaytsev commented on #614
@antonini could you pick up this task?

[2015-06-29 05:03] dmzaytsev opened #728 "paste a link to a message causes wrong sequence of the messages"
when I paste a link on last message, Netbout shows earlier messages after it.
See screenshot.
Looks as a bug for me.

![image](https://cloud.githubusercontent.com/assets/9972909/8413677/9fb05f2c-1eab-11e5-8b85-fdbd7eab0e1a.png)

[2015-06-29 05:04] dmzaytsev commented on #728
@karato it's a vald bug

[2015-06-29 05:04] dmzaytsev commented on #728
@karato please assign to @antonini

[2015-06-29 09:06] karato commented on #684
@yegor256 right, take your time and thanks for informing

[2015-06-29 09:07] karato commented on #728
@dmzaytsev I just added bug tag here

[2015-06-29 09:07] karato commented on #677
@yegor256 I just added bug tag here

[2015-06-29 09:07] karato opened #729 "bout.js:141-144: System should highlights a message..."
Puzzle `643-0c6bbfa8` in `netbout-web/src/main/js/bout.js:141-144` has to be resolved: System should highlights a message when accessing it through message's permalink. This must be implemented on a different method and must be called over here and on the `else` statement of the same `if else` block.... The puzzle was created by Endrigo Antonini on 28-Jun-2015.

If you have any technical questions

[2015-06-29 09:07] karato commented on #643
@dmzaytsev the code made here contains a puzzle `643-0c6bbfa8`/#729, which will be resolved soon

[2015-06-29 09:56] karato commented on #677
@mbarbieri I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-06-29 09:56] karato commented on #728
@dmzaytsev I set the milestone to 3.1 since there is nothing set yet

[2015-06-29 09:56] karato commented on #729
@dmzaytsev I set the milestone to 3.1 since there is nothing set yet

[2015-06-29 10:02] karato commented on #628
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-29 10:05] karato commented on #728
@dmzaytsev thank you for the ticket reported, I topped your account for 15 mins, transaction `60017918`

[2015-06-29 11:00] ypshenychka commented on #606
@mbarbieri Thank you.

[2015-06-29 11:00] ypshenychka commented on #606
@karato Quality is acceptable.

[2015-06-29 11:03] ypshenychka commented on #628
@karato Quality is good.

[2015-06-29 11:28] karato commented on #677
@dmzaytsev thanks, I set it to "3.1"

[2015-06-29 11:28] karato commented on #677
@dmzaytsev got it, "postponed" tag here

[2015-06-29 11:28] karato commented on #677
@dmzaytsev no problem, I will try to find somebody else

[2015-06-29 11:28] karato commented on #677
@dmzaytsev OK, I labeled it as "postponed" tag

[2015-06-29 11:54] antonini commented on #614
@dmzaytsev Yes I can! Please assign this to me.

[2015-06-29 11:54] antonini commented on #643
@dmzaytsev Can you test it and close the issue if it is ok?

[2015-06-29 12:13] dmzaytsev commented on #614
@karato please assign to @antonini

[2015-06-29 12:27] dmzaytsev commented on #643
@antonini thanks!

[2015-06-29 12:27] #643 closed

[2015-06-29 13:09] antonini commented on #643
@karato Issue is closed, waiting for QA.

[2015-06-29 13:25] antonini opened #730 "Redirected to home if submit empty message inside a bout."
In a bout, when user try to post an empty message, system redirect user to home page with error instead of leaving the user on boat page with error.

Steps to reproduce:
1. Access netbout;
2. Access any bout;
3. Just hit submit;
4. And there you are redirected to home instead of leaving you inside the bout;

[2015-06-29 13:30] karato commented on #606
@ypshenychka thanks a lot, next time everybody should try to make it better

[2015-06-29 13:31] karato commented on #628
@ypshenychka thanks for the review and a good remark

[2015-06-29 16:16] dmzaytsev commented on #730
@karato it's a valid bug

[2015-06-29 16:19] dmzaytsev commented on #730
@karato this is postponed task

we are waiting for  https://github.com/yegor256/takes/issues/355

[2015-06-29 16:34] dmzaytsev commented on #727
@antonini I did all steps, but I can't get the error...
anyway, whats wrong in Netbout except the error in the developer's console?
the developer's console is not a common way using Netbout, isn't it?

[2015-06-29 16:35] dmzaytsev commented on #729
@karato this task not postponed anymore

[2015-06-29 16:37] antonini commented on #727
@dmzaytsev I tried in a different computer and no error happened too. I´ll try to find why this is happening just on my devel machine. Do you want me to close it and when I find the reason reopen it?

[2015-06-29 16:41] dmzaytsev commented on #727
@antonini yes, please

[2015-06-29 16:42] #727 closed

[2015-06-29 17:55] karato commented on #729
@dmzaytsev thanks, I removed the "postponed" tag

[2015-06-29 18:58] dmzaytsev commented on #728
@karato please assign to @antonini

[2015-06-29 19:12] antonini commented on #671
@karato This issue is not going to be paid?

[2015-06-29 20:22] yegor256 commented on #677
@mbarbieri just curious, what browsers this problems is reproducible in?

[2015-06-29 20:25] mbarbieri commented on #677
@yegor256 with chrome (desktop and mobile). Didn't tried with others

[2015-06-29 20:36] yegor256 commented on #728
@karato assign it to @antonini

[2015-06-29 20:46] yegor256 opened #731 "'undefined' is not an object (evaluating '$(location.hash.trim()).offset().top')"
I keep getting this error (5-10 times per day) from qbaka:

[code]

[2015-06-30 00:21] antonini commented on #728
@karato can you assign this to me?

[2015-06-30 00:27] antonini commented on #728
@dmzaytsev I can't reproduce the error. Can you add me on that bout? my user on snapshot is `endrigotest`.

[2015-06-30 01:48] antonini commented on #643
@karato Any update over here?

[2015-06-30 01:49] antonini commented on #671
@karato Any update over here?

[2015-06-30 01:52] antonini commented on #614
@karato Can you assign this to me?

[2015-06-30 02:01] yegor256 commented on #671
@antonini give us a few hours pls

[2015-06-30 02:48] yegor256 commented on #731
@dmzaytsev looks like this happens on local machines only, when someone is testing netbout or just running it locally

[2015-06-30 03:36] yegor256 commented on #726
@antonini I like it, but again, in order to be able to change the JS we should test it first (just like with all other parts of the system)

[2015-06-30 03:45] antonini commented on #726
@yegor256 Agree. And how you suggest it? We don't have much view tests (using CasperJS). I think it would be nice to create more tests before changing it. What do you think about it?

[2015-06-30 03:49] dmzaytsev commented on #730
@karato this task not postponed anymore

the issue yegor256/takes#355 resolved
we can continue with Takes 0.21

[2015-06-30 03:52] dmzaytsev commented on #728
@antonini I just added you to this bout http://snapshot.netbout.com/b/4

[2015-06-30 03:58] antonini commented on #728
@dmzaytsev All messages came in correct sequence as can be seen on the screenshot below.

![screen shot 2015-06-30 at 12 55 09 am](https://cloud.githubusercontent.com/assets/209396/8423651/ebc02ae8-1ec2-11e5-9541-eecf002d7f2c.png)

I used same message Id that you used. Is there any other step that you did?

[2015-06-30 10:21] dmzaytsev commented on #728
@antonini
* I posted a new message to the bout
* closed the tab
* opened the link http://snapshot.netbout.com/b/4#msg13 in the new browser tab
* and got the messages list in the wrong order , same as screenshot in the ticket description

[2015-06-30 10:42] dmzaytsev commented on #731
@yegor256 I think if all of the errors from localhost we can close this ticket,
otherwise we will investigate this case
what do you think?

p.s. the port value 18727 means that is test case

[2015-06-30 10:45] karato commented on #677
@dmzaytsev I set the milestone here to 3.1

[2015-06-30 10:45] karato commented on #677
@dmzaytsev sure, thanks, I added "postponed" tag to it

[2015-06-30 10:45] karato commented on #677
@dmzaytsev I will assign somebody else to this issue

[2015-06-30 10:45] karato commented on #677
@dmzaytsev sure, thanks, I added "postponed" tag to it

[2015-06-30 10:45] karato commented on #677
@dmzaytsev someone else will help in this task, no problem at all

[2015-06-30 10:45] karato commented on #677
@dmzaytsev sure, thanks, I added "postponed" tag to it

[2015-06-30 13:40] lautarobock commented on #602
@yegor256 @dmzaytsev about `urn: urn:email:<email>` is not possible. URN doesn't accept `@` nor `.`.
And with this specs, it have not way to detect **email users** for sending invitations

[2015-06-30 13:45] erimerturk commented on #702
@karato @dmzaytsev  please check and close if it is acceptable, thank you

[2015-06-30 14:47] dmzaytsev commented on #704
@bilalyasar  is there any progress on this task?

[2015-06-30 16:20] yegor256 commented on #731
@dmzaytsev why closing? we shouldn't fail even in tests... let's fix it

[2015-06-30 16:34] dmzaytsev commented on #602
@lautarobock we don't need to store email in the urn as is. It just unique identifier...
let's use `some-hash-function(<email>)` instead `<email>` in the urn expression above

[2015-06-30 16:44] lautarobock commented on #602
@dmzaytsev and how do you think to identify this kind of  **email users** ?

[2015-06-30 17:18] dmzaytsev commented on #602
@lautarobock please see this comment https://github.com/yegor256/netbout/issues/602#issuecomment-110858137

we won't need to identify these email users, their urns will be updated to actual after they will be registered

[2015-06-30 17:24] lautarobock commented on #602
@dmzaytsev ok, I thought  than in **every** mail has to be a link for invitation. sorry

[2015-06-30 17:35] dmzaytsev commented on #731
@yegor256 OK, will do

[2015-06-30 17:35] dmzaytsev commented on #731
@karato it's a valid bug

[2015-06-30 17:51] dmzaytsev commented on #602
@lautarobock you should not only create an alias, but also to invite it into the bout
I just updated https://github.com/yegor256/netbout/issues/602#issuecomment-110858137

[2015-06-30 17:52] dmzaytsev commented on #614
@yegor256 @karato please assign this ticket to @antonini

[2015-06-30 17:56] yegor256 commented on #614
@karato assign this task to @antonini pls

[2015-06-30 18:12] karato commented on #731
@dmzaytsev I just added bug tag here

[2015-06-30 18:12] karato commented on #730
@dmzaytsev tagged this issue with "bug"

[2015-06-30 18:16] yegor256 commented on #726
@antonini exactly, first step is to create tests and reproduce the problem. Then, we'll think about fixing

[2015-06-30 18:22] karato commented on #643
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-06-30 18:24] karato commented on #706
@antonini we waited for #643, it is closed already

[2015-06-30 18:24] karato commented on #606
@mbarbieri I added 10 mins to @ypshenychka (for QA review) in transaction 60283990... thank you, added **30 mins** to your acc, payment num is `AP-5B4161993B003974A`, 401 hours and 16 mins spent in total to complete... +30 to your rating, your total score is [-7](http://www.netbout.com/b/35357?open=rating)

[2015-06-30 18:24] karato commented on #677
@mbarbieri thanks for the ticket, your account was topped for 15 mins, payment AP-4UK733034S953262X

[2015-06-30 19:53] karato commented on #730
@antonini since there is no milestone yet I set it to "3.1"

[2015-06-30 19:53] karato commented on #731
@yegor256 since the ticket has no milestone I set it to 3.1

[2015-06-30 19:53] karato commented on #677
@dmzaytsev milestone set to `3.1`, thanks

[2015-06-30 19:53] karato commented on #677
@dmzaytsev "postponed" label already here

[2015-06-30 23:12] yegor256 commented on #728
@karato assign it to @antonini pls

[2015-06-30 23:14] yegor256 commented on #614
@karato assign this task to @antonini pls

[2015-07-01 03:44] dmzaytsev commented on #704
@erimerturk could you pickup this ticket?

[2015-07-01 06:00] elenavolokhova commented on #643
@karato Looks good!

[2015-07-01 06:30] erimerturk commented on #704
@dmzaytsev  just assign it to me

[2015-07-01 06:32] dmzaytsev commented on #704
@karato assign this task to @erimerturk  please

[2015-07-01 07:29] bilalyasar commented on #693
@karato i need more time for this task please.

[2015-07-01 09:58] karato commented on #643
@elenavolokhova thanks!

[2015-07-01 09:58] karato commented on #693
@bilalyasar no problem, thanks for letting me know

[2015-07-01 21:28] yegor256 commented on #677
@mbarbieri I also see it in Chrome, but only occasionally

[2015-07-01 21:29] yegor256 commented on #614
@karato assign this task to @antonini pls

[2015-07-01 21:31] mbarbieri commented on #677
@yegor256 not sure, but I think it depends on the screen resolution... on my mobile it appears after two comments, on my laptop after 3, if I zoom out it appears after 5/6. Basically when the last message is "near the end of the screen"...

[2015-07-02 02:49] antonini commented on #671
@yegor256 2 days... And no update.. :(

[2015-07-02 04:21] antonini commented on #728
@karato I'm waiting the issue to be assign to create the pull request.

[2015-07-02 04:33] antonini commented on #614
@karato This issue depends on #728. There is an error on JS that stops all other events.

[2015-07-02 09:32] karato commented on #677
@dmzaytsev milestone set to `3.1`, thanks

[2015-07-02 09:32] karato commented on #677
@dmzaytsev "postponed" label already at this ticket

[2015-07-02 09:32] karato commented on #677
@dmzaytsev all right, we'll find someone else for this task

[2015-07-02 09:32] karato commented on #677
@dmzaytsev "postponed" label already in this issue

[2015-07-02 09:32] karato commented on #677
@dmzaytsev I will assign somebody else to this issue

[2015-07-02 09:32] karato commented on #677
@dmzaytsev "postponed" label already in this issue

[2015-07-02 11:26] dmzaytsev commented on #704
@yegor256 @karato  assign this task to @erimerturk please

[2015-07-02 18:28] karato commented on #677
@dmzaytsev sure, milestone set to 3.1

[2015-07-02 18:28] karato commented on #677
@dmzaytsev "postponed" label already here

[2015-07-02 18:28] karato commented on #677
@dmzaytsev OK, I will try to assign someone else

[2015-07-02 18:28] karato commented on #677
@dmzaytsev "postponed" label already here

[2015-07-03 06:13] erimerturk commented on #702
@karato @dmzaytsev could you please check and close if it is acceptable, thank you

[2015-07-03 06:21] dmzaytsev commented on #702
@erimerturk karato will close it

[2015-07-03 06:24] erimerturk commented on #702
@dmzaytsev just a reminder :)

[2015-07-03 16:14] karato commented on #702
@dmzaytsev Closing..

[2015-07-03 16:14] #702 closed

[2015-07-03 16:15] karato commented on #702
@ypshenychka please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-07-03 16:16] karato commented on #628
@erimerturk I added 10 mins to @ypshenychka (for QA review) in transaction 60405915... Thanks a lot, I just topped your account for **30 mins**, transaction ID `AP-81T36288L8809133N`, total time was 93 hours and 43 mins... +30 added to your rating, current score is: [+150](http://www.netbout.com/b/35280?open=rating)

[2015-07-03 16:16] karato commented on #683
@dmzaytsev there are some issues in the project now:

 * some tasks are stuck: #614 (41 days), #602 (41 days), #641 (35 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://www.teamed.io/policy.html#29)), or 3) try to help their performers to resolve th

[2015-07-03 16:16] karato commented on #731
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-95c9aa70`

[2015-07-03 17:18] karato commented on #677
@dmzaytsev thanks, I set it to "3.1"

[2015-07-03 17:18] karato commented on #677
@dmzaytsev "postponed" label already at this ticket

[2015-07-03 17:18] karato commented on #677
@dmzaytsev right, I will find someone else, no problem

[2015-07-03 17:18] karato commented on #677
@dmzaytsev "postponed" label already at this ticket

[2015-07-03 17:18] dmzaytsev commented on #728
@karato assign it to @antonini please

[2015-07-03 17:18] dmzaytsev commented on #614
@karato assign this task to @antonini please

[2015-07-03 21:02] ypshenychka commented on #702
@karato Quality is good.

[2015-07-04 03:32] antonini commented on #731
Issue #728 is going to fix it.

[2015-07-04 03:49] antonini commented on #728
@karato, @dmzaytsev and @yegor256  I'm waiting for issue to be to me so I can do a PR. Am I going to have some trouble with the following [policy](http://www.teamed.io/policy.html#7)?

[2015-07-04 03:49] antonini commented on #614
@karato, @dmzaytsev and @yegor256  I'm waiting for issue to be to me so I can do a PR. Am I going to have some trouble with the following [policy](http://www.teamed.io/policy.html#7)

[2015-07-04 03:51] antonini commented on #643
@karato Any update over here?

[2015-07-04 03:53] antonini commented on #671
@karato Is there any update over here?

[2015-07-04 09:46] karato commented on #702
@ypshenychka thank you

[2015-07-04 09:55] karato commented on #643
@antonini 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 60420220

Much obliged! I have added **30 mins** to your account in payment "AP-810886140X354821V", 291 hours and 54 mins spent

+30 added to your rating, at the moment it is: [+256](http://www.netbout.com/b/35346?open=rating)

[2015-07-04 09:55] karato commented on #730
@antonini thanks for reporting! I topped your account for 15 mins, transaction AP-6LH92432E43579520

[2015-07-04 11:34] karato commented on #602
@lautarobock this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

added -60 to your rating, now it is equal to [-150](http://www.netbout.com/b/35344?open=rating)

[2015-07-04 11:34] karato commented on #702
@erimerturk I added 10 mins to @ypshenychka (for QA review) in transaction 60421213. Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-2KP15954SY233664K`, the task took 259 hours and 7 mins). added +30 to your rating, now it is equal to [+180](http://www.netbout.com/b/35280?open=rating)

[2015-07-05 17:43] antonini commented on #671
@karato ping.

[2015-07-05 17:43] antonini commented on #728
@karato , @dmzaytsev and @yegor256 Ping.

[2015-07-05 17:44] antonini commented on #614
@karato, @dmzaytsev and @yegor256 Ping.

[2015-07-05 18:03] dmzaytsev commented on #728
@antonini I don't know what happens. Why @karato not respond...
I hope after weekend we'll get a new information.
Regarding your PR, you shouldn't create it before you will be assigned.
You won't be paid if you not assigned to the task before.
Let's wait for the answer from @yegor256 or @karato

[2015-07-06 09:25] karato opened #732 "Re-estimate project size"
The latest estimate is rather old (created on 29-May-2015),we have to create a new one as explained [here](https://github.com/teamed/est)

[2015-07-06 11:22] karato commented on #732
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2015-07-06 15:40] karato commented on #609
@yegor256 last puzzled solved `609-bc8eaf9f`/#648

[2015-07-06 18:35] karato commented on #683
@dmzaytsev please, pay attention to this:

 * some tasks are stuck: #614 (47 days), #602 (47 days), #641 (41 days), #692 (24 days), #698 (22 days), #634 (22 days), #626 (22 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * some issues were reported some time ago, but still not dispatched: #656, #64

[2015-07-06 18:38] antonini commented on #683
@karato Issue #614 is waiting for you action and this depends on #728.

[2015-07-07 01:47] yegor256 commented on #614
@karato assign it to @antonini

[2015-07-07 09:51] longtimeago opened #733 "Add ARC reviews to the agenda"
ARC misses notification about pending ARC review very often.
I propose to add such pending reviews to the agenda as well as other assigned PRs

[2015-07-07 11:39] dmzaytsev commented on #733
@longtimeago unfortunately the agenda's issues is out of the scope of the project.
Please submit such issues inside Netbout to @yegor256

[2015-07-07 12:16] longtimeago commented on #733
@dmzaytsev ok, no problem! Thanks!

[2015-07-07 12:17] #733 closed

[2015-07-07 19:34] karato commented on #614
@antonini do this task, 30 mins is budget

[2015-07-07 20:28] antonini commented on #614
@karato As I said before, this issue depends on #728. Can you assign that to me too?

That issue need to be merged before the fix of this one.

[2015-07-07 21:36] dmzaytsev commented on #728
@karato assign it to @antonini please

[2015-07-08 00:58] antonini commented on #614
@karato and @dmzaytsev PR #734 waiting for review. Please assing issue #728 to me so I can create PR to be merged before this one!

[2015-07-08 02:42] antonini commented on #671
@karato ping.

[2015-07-08 10:09] karato commented on #728
@dmzaytsev done. @antonini you are assigned to this task. please proceed...

[2015-07-08 11:30] antonini commented on #728
@dmzaytsev and @karato PR #735 is ready.

[2015-07-09 05:41] dmzaytsev commented on #614
@antonini I guess  the messagebox tabs won't  switch until  #728 will be resolved.
am I right?

[2015-07-09 12:01] antonini commented on #614
@dmzaytsev Yeap. On that PR i fixed an error that is happening on console.

[2015-07-09 20:35] karato commented on #683
@dmzaytsev please, pay attention to this:

 * some tasks are stuck: #614 (50 days), #602 (50 days), #641 (44 days), #692 (27 days), #698 (25 days), #634 (25 days), #626 (25 days), #704 (22 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://www.teamed.

[2015-07-09 21:49] antonini commented on #671
@karato ping.

[2015-07-10 03:32] dmzaytsev commented on #671
@antonini I think it would be better ask @yegor256 in Netbout about it

[2015-07-10 03:44] dmzaytsev commented on #641
@komaz  #628 is closed, please continue

[2015-07-10 03:46] dmzaytsev commented on #704
@yegor256 @karato assign this task to @erimerturk please

[2015-07-10 04:05] dmzaytsev commented on #614
@antonini thanks!

[2015-07-10 04:05] #614 closed

[2015-07-10 05:30] dmzaytsev commented on #728
@antonini the bug is still here

* I posted a new message to the bout http://snapshot.netbout.com/b/4
* closed the tab
* opened the link http://snapshot.netbout.com/b/4#msg13 in the new browser tab
* and got the messages list in the wrong order
* also an empty message appears below #msg13

![image](https://cloud.githubusercontent.com/assets/9972909/8612708/61fb7fea-26ee-11e5-8b4b-3d6157d3bddc.png)

[2015-07-10 11:59] antonini commented on #614
@karato Issue is closed.

[2015-07-10 12:04] antonini commented on #731
@yegor256 Check snapshot. The error is gone.

[2015-07-10 12:05] antonini commented on #728
@dmzaytsev Strange, I tested on chrome and safari and it worked. Can you clean your cache?

[2015-07-10 12:20] dmzaytsev commented on #728
I just cleared the cache and tested on Chrome and Firefox,  the bug is still here.
Did you repeat all steps from the comment above ?

[2015-07-10 12:21] dmzaytsev commented on #728
@antonini please repeat all steps, including first

[2015-07-10 12:40] dmzaytsev commented on #731
@yegor256 could you check the Qbaka log after `2015-07-10T03:39:47 GMT`?
if you will see a message like `'undefined' is not an object (evaluating '$(location.hash.trim()).offset().top')`
let me know please

[2015-07-10 12:46] antonini commented on #728
@dmzaytsev I could reproduce it on a windows VM. On my dev machine i jumped first step. Going to try it again.

[2015-07-10 15:13] yegor256 opened #736 "550 previously hard-bounced"
I'm posting a message and getting this error:

[code]

The message is posted, but not delivered by email

[2015-07-10 15:13] yegor256 commented on #736
@dmzaytsev this is why you don't get emails from Netbout

[2015-07-10 16:05] karato commented on #614
@antonini thanks, I'll dispatch the payment soon

[2015-07-10 16:06] karato commented on #622
@dmzaytsev OK, will assign soon

[2015-07-10 16:32] dmzaytsev commented on #736
@yegor256 did you see this message before?
besides when you answering me?

[2015-07-10 16:52] karato commented on #622
@dmzaytsev OK, will assign soon

[2015-07-10 18:13] dmzaytsev commented on #546
@yegor256 did you have any success?

[2015-07-10 18:28] karato commented on #622
@dmzaytsev OK, will assign soon

[2015-07-10 18:42] yegor256 commented on #736
@dmzaytsev no. I see it only when I answer you.

[2015-07-10 19:02] dmzaytsev commented on #736
@yegor256 It's my mistake, I set invalid email address during an experiment before this.

[2015-07-10 19:12] karato commented on #622
@dmzaytsev OK, will assign soon

[2015-07-10 19:33] dmzaytsev opened #737 "cache of CdFriend not cleared"
When someone changes his email all bouts sends notifications  to his old email until the cache of CdFriend will be expired(up to 5 hours). It looks like a bug for me.
If the email changed for an alias the CdFriend's cache also  should be cleared

There is failed netbout-client test as well

[code]

[2015-07-10 19:34] dmzaytsev commented on #737
@karato it's a valid bug

[2015-07-10 20:55] karato commented on #737
@dmzaytsev tag "bug" added

[2015-07-10 20:55] karato commented on #622
@dmzaytsev OK, will assign soon

[2015-07-10 20:55] yegor256 commented on #736
@dmzaytsev but we should find a way to prevent this stacktrace... In the future, another user will make a similar mistake... I think we should check the email when it's being changed. Or maybe even ask for verification click

[2015-07-11 01:10] yegor256 commented on #622
@dmzaytsev anyone else in the project can complete this task, pls try to avoid assigning tasks to me

[2015-07-11 01:12] yegor256 commented on #704
@karato assign @erimerturk to this pls

[2015-07-11 07:10] yegor256 commented on #546
@dmzaytsev I've sent it again to them... as soon as I get a response I'll update you here.

[2015-07-11 09:24] karato commented on #737
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2015-07-11 09:24] karato commented on #704
@yegor256 sure! @erimerturk the task is yours, please go ahead

[2015-07-11 09:34] karato commented on #737
@dmzaytsev thanks for tis bug, I topped your account for 15 mins, transaction `60849495`

[2015-07-11 10:50] karato commented on #614
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-07-11 10:52] karato commented on #692
@bilalyasar this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-07-11 13:13] dmzaytsev commented on #736
@yegor256 Yes, you're right we should verify the email before change it. But such error can be occur with valid email. The mailbox may be blocked or is full.
Anyway a stack trace instead a clear message is definitely wrong.
We should catch a send mail error and display the error message like this `Sorry we can't send notification email to <alias>. SMTP error NNN. XXXXX  `.
I propose do it in this

[2015-07-11 13:14] dmzaytsev commented on #736
@karato it's a valid bug

[2015-07-11 14:00] karato commented on #736
@dmzaytsev tag "bug" added

[2015-07-11 14:36] ypshenychka commented on #614
@karato Quality is good.

[2015-07-11 14:48] dmzaytsev commented on #622
@yegor256 sorry, I asked 40 days ago about it...

[2015-07-11 14:49] dmzaytsev commented on #622
@karato this is postponed

[2015-07-11 15:07] karato commented on #736
@yegor256 there is no milestone yet, so I set it to `3.1`

[2015-07-11 15:18] karato commented on #736
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-89116272`

[2015-07-11 15:59] karato commented on #614
@ypshenychka thank you ;)

[2015-07-11 16:08] karato commented on #614
@antonini I added 10 mins to @ypshenychka (for QA review) in transaction 60853834. done, I added **38 mins** in payment `AP-3SP03399W2380861F`, 62 hours and 3 mins spent to complete this. there is a bonus for fast delivery (m=3723). +38 added to your rating, current score is: [+309](http://www.netbout.com/b/35346?open=rating)

[2015-07-11 17:30] dmzaytsev opened #738 "send email verification link"
If email has been changed let's verify it.

* add a new attribute to Alias, name: emverified, type: boolean
* after the email update, print the message `Email changed to "XXX@XXX.XXX". The verification link sent to this address.`
* set emverified to false
* add a new attribute Netbout-EmailCryptSecret to the manifest.
* after email update we should generate the verification link  `http://www.netbo

[2015-07-11 17:31] dmzaytsev opened #739 "process the email verification link"
if user click on the verification link we should process this.

* create a new Take `TkEmVerify`, map it to `http://www.netbout.com/emverify/{code}`
in `TkEmVerify.act()`
* decrypt `{code}`,
* find the alias
* reject request if the email attribute doesn't contain `!`
* compare the email attribute part after `!`  with value from the verification link
* if the values match, update the 'old part' fro

[2015-07-11 17:58] dmzaytsev commented on #738
@karato its a valid bug

[2015-07-11 17:59] karato commented on #739
@dmzaytsev I tagged this as "bug"

[2015-07-11 17:59] karato commented on #738
@dmzaytsev tagged this issue with "bug"

[2015-07-11 18:29] karato commented on #738
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2015-07-11 18:29] karato commented on #739
@dmzaytsev I set the milestone to 3.1 since there is nothing set yet

[2015-07-11 18:38] karato commented on #739
@dmzaytsev thanks for reporting! I topped your account for 15 mins, transaction 60855633

[2015-07-11 19:41] karato commented on #738
@dmzaytsev many thanks for the report, I topped your account for 15 mins, transaction 60856342

[2015-07-13 02:11] antonini commented on #728
@dmzaytsev A new PR was created fixing the problem that you reported. Here it is #740.

[2015-07-13 06:05] yegor256 commented on #738
@dmzaytsev I don't think we should add anything to interface `Alias`... we can implement all this internally, in `com.netbout.email` package. Nobody else should not know about this mechanism. Or I'm wrong?

[2015-07-13 06:48] dmzaytsev commented on #738
@yegor256 we should implement deferred update the `email` attribute for `Alias`. I don't know how implement it without a separate storage for a confirmation data because the email confirmation  not in one stage. The user changed the attribute, we sent an email, email delivered, user opened it, clicked on link... it can take a long time.
If we don't want change Alias interface so we need to create

[2015-07-13 10:48] karato commented on #641
@komaz 15 days already, in 48 hours I will re-assign... do not forget to remove the TODO puzzle from the source code... -30 added to your rating, current score is: [+368](http://www.netbout.com/b/35322?open=rating)

[2015-07-13 11:29] dmzaytsev commented on #728
@antonini the bug is still here... Could you reproduce it ?

[2015-07-13 11:34] antonini commented on #728
@dmzaytsev No.. I tested on Safari, Chrome and Firefox on OSX and didn't got the error.
I was getting the error only with Firefox on OSX...
Did you follow same steps as you said above? What is your environment?
I'll try it on Windows too.

[2015-07-13 11:46] dmzaytsev commented on #728
@antonini absolutely same steps as above..
and same error.
I tested on  Chrome and Firefox on windows 8.1

[2015-07-13 12:17] dmzaytsev commented on #728
@antonini sorry, it works on Firefox

[2015-07-13 12:31] karato commented on #683
@dmzaytsev please, pay attention to this:

 * some tasks in the project are "stuck": #602 (54 days), #641 (48 days), #692 (31 days), #698 (29 days), #634 (29 days), #626 (29 days), #704 (26 days), #701 (26 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them ([par.29](http:

[2015-07-13 14:59] antonini commented on #728
@dmzaytsev Ok. Thanks for update. I'll do a simulation on Windows + Chrome

[2015-07-13 16:22] dmzaytsev commented on #698
@karato this is postponed

[2015-07-13 16:49] dmzaytsev commented on #683
@karato you can see status for the "stucked" task below
#602 not assigned yet
#641 seems the developer is offline. He is not respond. The task will be reassigned in two days.
#692 assigned two days ago
#698 postponed
#634 not assigned yet
#626 not assigned yet
#704 assigned two days ago
#701 not assigned yet

@yegor256 as far as I understand, if a task not assigned I can do nothing with such tasks

[2015-07-13 17:22] yegor256 commented on #683
@dmzaytsev make sense, but I think we shouldn't do this. From a project management perspective, a stuck task is a stuck task. Why it's stuck - doesn't really matter. It does matter for you, the architect. But from a project management point of view they are all the same - they have no progress for many days. Keep in mind that if/when a task is not assigned to anyone it means that there is not enou

[2015-07-13 17:34] yegor256 commented on #738
@dmzaytsev how about storing emails as `"yegor@teamed.io"` for confirmed ones and `"yegor@teamed.io!my-new-email@teamed.io"` for not yet confirmed ones? Once a confirmation arrives, we just remove the first part before `!` and start using the second part. Just to simplify the design..

[2015-07-13 17:59] yegor256 commented on #731
@antonini I see that #728 is still open... in which pull request this problem was fixed?

[2015-07-13 18:23] karato commented on #698
@dmzaytsev thanks, I added "postponed" label

[2015-07-13 18:23] karato commented on #698
@dmzaytsev got it, someone else will be assigned soon

[2015-07-13 18:41] antonini commented on #731
@yegor256 It was fixed on PR #735.

[2015-07-13 18:44] yegor256 commented on #731
@antonini ok, thanks!

[2015-07-13 18:44] #731 closed

[2015-07-14 17:36] dmzaytsev commented on #738
@yegor256 ok than

a new action plan for the ticket:

* add a new attribute `Netbout-EmailCryptSecret` to the manifest.
* after the email update, print the message `Email changed to "XXX@XXX.XXX". The verification link sent to this address.`
* the email attribute value should be set to `<old email>!<new email>` as @yegor256 suggested above
* generate the verification link `http://www.netbout.com/e

[2015-07-14 19:04] dmzaytsev commented on #683
@yegor256 the projects managers respond to the template requests only. we need to know some key words for communications with them.. sometimes it seems to me they are not humans. the automation tools replaced the humans...
why they ask me to do something with the stuck tasks ASAP if tasks are still be not assigned for weeks even urgent tasks? There is not enough people in the project, I guess. But

[2015-07-14 19:04] dmzaytsev commented on #683
@karato many tasks are still be not assigned even urgent tasks.
please do something about it

[2015-07-14 19:06] dmzaytsev commented on #602
@karato please assign this task

[2015-07-14 19:06] dmzaytsev commented on #634
@karato please assign this task

[2015-07-14 19:06] dmzaytsev commented on #626
@karato please assign this task

[2015-07-14 19:07] dmzaytsev commented on #701
@karato please assign this task

[2015-07-14 22:35] yegor256 commented on #738
@dmzaytsev looks good to me

[2015-07-14 23:10] antonini opened #741 "Server doesn't loads next page or load just the next one when you submit a new message on bout."
Server doesn't loads next page or load just the next one when you submit a new message on bout.

Steps to reproduce:

1. Run the server;
1. Open a chrome and access the web server;
1. Create a bout;
1. Inside a bout, create 50 messages (I created a JS that I run on Chrome console that create 50 messages: http://pastebin.com/UsFcEcNm);
1. If you used javascript, wait until it prints on console: `BO

[2015-07-14 23:14] antonini commented on #728
@dmzaytsev Check issue #741.

This is happening on production and I tested against an old version and the problem was there.
I used the following commit to test it 520cecdbf7d93b8c47a0b84c51009ca63a2f6bf4. If you checkout that commit and run same steps that are described on the issue you will receive the results that are listed there.

That problem affects this issue because when the message is ol

[2015-07-15 01:15] antonini commented on #738
@dmzaytsev and @yegor256 I disagree about how generating `{code}`. If you do that you can expose the value of `Netbout-EmailCryptSecret`.
In my opinion, the value of code should be generated randomly.

[2015-07-15 05:03] dmzaytsev commented on #738
@antonini yes, you're right, it would better if we need strong security.
But it's the product owner choice. I agree with him.
Say we lost the encryption key. Someone generated the fake link and try to change your email. We will reject this request if you didn't change your email before or the email from the link doesn't match with the new email. See #739
Do you have any scenario to hack Netbout us

[2015-07-15 10:29] dmzaytsev commented on #728
@antonini if so what did you fix in #735 #740 ?

[2015-07-15 11:01] antonini commented on #728
@dmzaytsev Here it is:
#735 I fixed JS error that was being thrown on console, improved the logic of "load next page or scroll user to the message that he wants". I thought that part was wrong, so I created a test case for that.
#740 I fixed the part that was counting how many messages was received on a new page if server return it as html.

[2015-07-15 11:04] antonini commented on #738
@dmzaytsev No I don't have it right now.

[2015-07-15 11:20] dmzaytsev commented on #738
@antonini fine :)

[2015-07-15 11:21] dmzaytsev commented on #728
@antonini thanks!

[2015-07-15 11:21] #728 closed

[2015-07-15 11:22] dmzaytsev commented on #741
@karato it's a valid bug

[2015-07-15 11:35] karato commented on #741
@dmzaytsev I tagged this as "bug"

[2015-07-15 13:25] karato commented on #741
@antonini since there is no milestone yet I set it to "3.1"

[2015-07-15 13:33] karato commented on #741
@antonini many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `AP-8LS48455G5765623X`

[2015-07-15 23:33] antonini commented on #728
@karato Issue is closed.

[2015-07-15 23:34] antonini commented on #671
@karato ping.

[2015-07-16 09:32] karato commented on #602
@dmzaytsev we don't have enough people in the project now... we're working on it now

[2015-07-16 09:32] karato commented on #634
@dmzaytsev we don't have enough people in the project now... we're working on it now

[2015-07-16 09:32] karato commented on #626
@dmzaytsev we don't have enough people in the project now... we're working on it now

[2015-07-16 09:32] karato commented on #701
@dmzaytsev we don't have enough people in the project now... we're working on it now

[2015-07-16 10:07] dmzaytsev commented on #701
@karato  thanks for letting me know

[2015-07-16 10:07] dmzaytsev commented on #634
@karato  thanks for letting me know

[2015-07-16 10:07] dmzaytsev commented on #626
@karato  thanks for letting me know

[2015-07-16 10:07] dmzaytsev commented on #602
@karato  thanks for letting me know

[2015-07-16 13:27] karato commented on #728
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-07-16 14:32] karato commented on #683
@dmzaytsev There are a few problems in the project now:

 * some tasks are stuck: #602 (57 days), #641 (51 days), #692 (34 days), #634 (32 days), #626 (32 days), #704 (29 days), #701 (29 days), #703 (28 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * some issues were reported some time ago, but s

[2015-07-16 15:42] elenavolokhova commented on #728
@karato Looks good!

[2015-07-16 16:16] antonini commented on #701
@dmzaytsev What about the profile that is going to be used?

[2015-07-16 16:20] antonini commented on #626
@karato I can do this.

[2015-07-16 16:22] dmzaytsev commented on #602
@antonini Could you pickup this ticket?
the action plan [here](https://github.com/yegor256/netbout/issues/602#issuecomment-110858137)

[2015-07-16 16:24] dmzaytsev commented on #701
@antonini there is more priority tasks in the project... would be great if you pickup some of them

[2015-07-16 16:32] dmzaytsev commented on #564
@antonini could you pickup this task?

[2015-07-16 16:33] dmzaytsev commented on #701
@karato this is postponed

[2015-07-16 17:14] karato commented on #728
@elenavolokhova thanks!

[2015-07-16 17:18] karato commented on #728
@antonini just added 10 mins to @elenavolokhova (for QA), payment ID is `61244041`

paid, thanks, added **30 mins** to your account, payment `AP-7UM142597H299501S`, 169 hours and 24 mins was spent

+30 added to your rating, at the moment it is: [+354](http://www.netbout.com/b/35346?open=rating)

[2015-07-16 18:26] karato commented on #602
@dmzaytsev np :)

[2015-07-16 18:26] karato commented on #634
@dmzaytsev no problems

[2015-07-16 18:26] karato commented on #626
@dmzaytsev no probs

[2015-07-16 18:26] karato commented on #701
@dmzaytsev np

[2015-07-16 18:26] karato commented on #701
@dmzaytsev right, I added "postponed" label

[2015-07-16 18:26] karato commented on #701
@dmzaytsev got it, someone else will be assigned soon

[2015-07-16 23:56] antonini opened #742 "User should be allowed to rename his alias"
User should be allowed to rename his alias.
Right now, when you choose an alias you can't change it any more.

[2015-07-17 01:28] antonini commented on #564
@dmzaytsev Sure! @karato assign it to me.

[2015-07-17 01:31] antonini commented on #602
@dmzaytsev All those three steps need to be implemented over this issue? Or should implement one and other steps are going to be puzzle?

[2015-07-17 02:20] dmzaytsev commented on #564
@karato assign this ticket to @antonini please

[2015-07-17 02:29] dmzaytsev commented on #602
@antonini time budget is 30min. Let''s start from first step. You should implement this one and create a puzzle for others

[2015-07-17 03:48] dmzaytsev commented on #602
@karato assign this to @antonini please

[2015-07-17 03:58] antonini commented on #602
@dmzaytsev Understood! I'll do that!

[2015-07-17 09:48] karato commented on #564
@dmzaytsev done. @antonini you are assigned to this task. please proceed...

[2015-07-17 09:48] karato commented on #602
@dmzaytsev yep, done. @antonini it is your task now

[2015-07-17 11:37] dmzaytsev commented on #641
@karato this is postponed

[2015-07-17 11:38] dmzaytsev commented on #704
@erimerturk is there any progress on this issue?

[2015-07-17 11:41] dmzaytsev commented on #703
@karato assign this to @antonini please

[2015-07-17 11:44] dmzaytsev commented on #626
@karato assign this to @antonini please

[2015-07-17 12:08] antonini commented on #564
@karato Issue is without the tag in my name. It also is not on my `agenda` on netbout.

[2015-07-17 12:45] karato commented on #641
@dmzaytsev got it, "postponed" label here

[2015-07-17 12:45] karato commented on #641
@dmzaytsev got it, someone else will be assigned soon

[2015-07-17 12:45] karato commented on #626
@dmzaytsev done. @antonini the task is yours, please go ahead

[2015-07-17 12:45] karato commented on #703
@dmzaytsev done. @antonini you are assigned to this task. please proceed...

[2015-07-17 13:31] erimerturk commented on #704
@dmzaytsev actually i am in <b>away</b> mode, you can see it from netbout, i can fix this issue but need more time. @karato could you please give me more time if it is possible ?

[2015-07-17 13:43] dmzaytsev commented on #704
@erimertuk I have no access to your status :)
The ticket has been assigned to you  thats why I ask.
Could you estimate how much time you need?

[2015-07-17 13:59] erimerturk commented on #704
@dmzaytsev i can start to work this issue on monday so i think 10 days maybe.

[2015-07-17 15:09] dmzaytsev commented on #704
@erimerturk I think you will spend less than 10 days. You did such task recently

[2015-07-17 15:09] dmzaytsev commented on #704
@karato we need more time here

[2015-07-17 16:31] karato commented on #564
@antonini I'll update your agenda soon and will add a tag... it takes usually some time

[2015-07-17 16:31] karato commented on #704
@dmzaytsev no problem, thanks for letting me know

[2015-07-18 01:04] antonini commented on #564
@karato Ok.

[2015-07-18 01:06] antonini commented on #564
@karato PR #743 ready for review.

[2015-07-18 02:04] antonini commented on #626
@dmzaytsev I know that I asked for it, but I think we have a situation running local tests. When I did those steps maven threw an expcetion:

[code]

What we should do?

[2015-07-18 12:30] erimerturk commented on #704
@dmzaytsev please see PR details on #744

[2015-07-18 14:36] dmzaytsev commented on #704
@erimerturk thanks!

[2015-07-18 18:38] dmzaytsev commented on #692
@bilalyasar  is there any progress on this issue?

[2015-07-18 18:44] dmzaytsev commented on #626
@antonini perhaps it's the bug #737

[2015-07-18 18:46] dmzaytsev commented on #626
@antonini try to ignore this test
You should update  readme in this ticket, right?

[2015-07-18 20:23] karato commented on #564
@antonini thanks

[2015-07-18 20:23] karato commented on #564
@antonini thanks will find someone soon

[2015-07-18 21:05] antonini commented on #626
@dmzaytsev Ok.

[2015-07-18 21:06] antonini commented on #626
@karato PR #745 ready for review.

[2015-07-19 01:30] antonini commented on #703
@dmzaytsev Do you know if it's possible to upload files when running netbout locally? I have a situation on my environment that I don't know if it is something that I can't do or is a problem.

Here it is what is happening:
In a local instance, when I try to upload a pdf, it invokes a mock class of Bucket. That mock doesn't do anything with the file content. So, when I try to download the file, it

[2015-07-19 04:16] antonini commented on #602
@dmzaytsev One thing. I can't create a URN like `urn:email:name@domain.com`, neither `urn:email:name-domain.com`. I'll replace `@` to `-` and also `.` to `-`.
So final URN will be: `urn:email:name-domain-com`.
What you think about?

[2015-07-19 08:08] dmzaytsev commented on #602
@antonini yes, you can use it.
we don't need to restore the real email from the urn. It should be just an unique identifier.
we can use even `urn:email:<some hash function from the email>`

[2015-07-19 08:43] dmzaytsev commented on #703
@antonini Netbout uses Amazon S3 as a storage for attachments. It should work locally using a mocked objects from https://github.com/jcabi/jcabi-s3.
I don't know... maybe it's a bug in your code or maybe it's a bug in jcabi-s3...
If second feel free to submit a bug into jcabi-s3 project

[2015-07-19 11:54] dmzaytsev commented on #602
@antonini it would be better to use a hash instead an email

[2015-07-19 16:52] karato commented on #683
@dmzaytsev There are a few concerns:

 * some tasks are stuck: #602 (60 days), #692 (37 days), #634 (35 days), #626 (35 days), #703 (31 days), #713 (26 days), #714 (26 days), #697 (26 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * some issues were reported some time ago, but still not dispatched

[2015-07-19 17:29] dmzaytsev commented on #697
@karato this is postponed

[2015-07-19 17:31] karato commented on #626
@antonini thanks!

[2015-07-19 17:36] dmzaytsev commented on #634
@karato this is postponed

[2015-07-19 18:54] karato commented on #634
@dmzaytsev OK, I put "postponed" label here

[2015-07-19 18:54] karato commented on #634
@dmzaytsev got it, someone else will be assigned soon

[2015-07-19 18:54] karato commented on #697
@dmzaytsev got it, "postponed" label here

[2015-07-19 18:54] karato commented on #697
@dmzaytsev no problem, I will try to find somebody else

[2015-07-20 05:35] antonini commented on #602
@karato PR #746 ready for review.

@dmzaytsev I've made some changes on the messages of Puzzles. Can you check it too?

[2015-07-21 03:32] antonini commented on #703
@karato PR #747 ready for review.

[2015-07-21 08:54] dmzaytsev commented on #704
@rultor deploy

[2015-07-21 08:55] rultor commented on #704
@dmzaytsev OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/4575-123220866)

[2015-07-21 09:00] rultor commented on #704
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/4575-123220866) (took me 6min)

[2015-07-21 09:17] karato opened #748 "TkInboxTest.java:46-48: Test case for search bouts..."
Puzzle `704-c6ad2d19` in `netbout-web/src/test/java/com/netbout/rest/TkInboxTest.java:46-48` has to be resolved: Test case for search bouts of TkInbox should be added, e.g. response should have filtered bouts by search term... The puzzle was created by erimerturk on 20-Jul-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-07-21 09:17] karato commented on #704
@dmzaytsev the code made here contains a puzzle `704-c6ad2d19`/#748, which will be resolved soon

[2015-07-21 09:22] karato commented on #742
@dmzaytsev please do something about this issue

[2015-07-21 12:01] karato commented on #748
@dmzaytsev I added milestone `3.0` to this issue, let me know if there has to be something else

[2015-07-21 17:35] karato commented on #602
@antonini thanks

[2015-07-21 17:35] karato commented on #703
@antonini OK, thanks, will take a look soon

[2015-07-22 05:01] dmzaytsev commented on #748
@karato please set milestone to 3.1

[2015-07-22 06:42] erimerturk commented on #704
@dmzaytsev please close it, if acceptable for you, thank you

[2015-07-22 06:46] dmzaytsev commented on #704
@erimerturk this is the puzzle ticket. @karato will close it as the ticket reporter

[2015-07-22 09:56] karato commented on #748
@dmzaytsev the milestone here is 3.1

[2015-07-22 09:59] karato commented on #704
@dmzaytsev Closed, done, thanks all

[2015-07-22 09:59] #704 closed

[2015-07-22 10:00] karato commented on #704
@ypshenychka please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-07-22 11:02] ypshenychka commented on #704
@karato Quality is good here.

[2015-07-22 12:31] karato commented on #704
@ypshenychka thank you

[2015-07-22 12:37] karato commented on #704
@erimerturk I added 10 mins to @ypshenychka (for QA review) in transaction 61633789; Thank you, I have added **30 mins** to your account in payment/transaction "`AP-862964467W6089221`", time consumed: 239 hours and 51 mins; +30 added to your rating, at the moment it is: [+120](http://www.netbout.com/b/35280?open=rating)

[2015-07-22 13:15] antonini commented on #626
@mbarbieri PR was merged, please check if looks good for you.

[2015-07-22 13:17] antonini commented on #564
@longtimeago PR was merged and deployed on http://snapshot.netbout.com/. Please check it and if it looks good close the issue.

[2015-07-22 14:36] longtimeago commented on #564
@antonini Shouldn't it preserve paragraph indentation?

[2015-07-22 14:42] longtimeago opened #749 "Preview tab doesn't work at all"
I tried to write some text in the message window (http://snapshot.netbout.com/b/25)
and click `Preview` tab, but nothing happens.

Url was changed to `http://snapshot.netbout.com/b/25#preview`.

Not sure if it's a bug or not implemented yet. Didn't found any task or puzzle for that.

[2015-07-22 14:58] dmzaytsev commented on #749
@longtimeago Preview functionality has been implemented. It works fine..
Maybe you catched a browser specific issue?
Let me know your environment please

[2015-07-22 15:06] longtimeago commented on #749
@dmzaytsev sure
Chrome Version 43.0.2357.134 (64-bit) Ubuntu 14.04
same as
FF 39.0 Ubuntu 14.04

[2015-07-22 15:14] antonini commented on #564
@longtimeago, Did you tested on snapshot?

Bellow is the output of submitting this content:

    First line
    Second line

    Third line

![capturar](https://cloud.githubusercontent.com/assets/209396/8828917/d53ef128-306a-11e5-9d78-d7432fbb1fcc.PNG)

And here is the generated source code:

    <p>First line
    <br>
    Second line</p>
    <p>Third line</p>

What was the problem that you got?

[2015-07-22 15:32] longtimeago commented on #564
@antonini yep, I'm checking on http://snapshot.netbout.com/ version.
For example, initial message:
[code]
But after post it become:
[code]

[2015-07-22 15:55] antonini commented on #564
@longtimeago If you check the output source code, you will see that it generates a lot of spaces. All browsers ignores multiple spaces.
Even here on github if you do that you will receive all lines aligned.

Check it out:

 Lorem ipsum
Lorem ipsum
 Lorem ipsum
Lorem ipsum

[2015-07-22 16:00] longtimeago commented on #564
@antonini ahhr ... you are right! Sorry :)

[2015-07-22 16:00] #564 closed

[2015-07-22 16:01] antonini commented on #564
@longtimeago Thanks! :)

[2015-07-22 16:01] antonini commented on #564
@karato Issue is closed!

[2015-07-22 17:59] dmzaytsev commented on #641
@karato please set milestone to 3.1

[2015-07-22 18:11] dmzaytsev commented on #692
@bilalyasar ping

[2015-07-22 18:17] karato commented on #683
@dmzaytsev There are a few problems in the project now:

 * some tasks are stuck: #602 (63 days), #692 (40 days), #626 (38 days), #703 (34 days), #713 (29 days), #714 (29 days), #715 (28 days), #717 (27 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * these issues are still not dispatched anyhow:

[2015-07-22 19:01] karato commented on #641
@dmzaytsev I attached this issue to milestone `3.1`

[2015-07-23 02:36] antonini commented on #671
@karato @yegor256 Ping.

[2015-07-23 04:35] yegor256 commented on #671
@karato pls add extra 30 mins to @antonini

[2015-07-23 09:52] karato commented on #671
@yegor256 I've paid 30 mins to @antonini in transaction `AP-3ML83078BE330230T`

[2015-07-24 03:49] antonini opened #750 "Start bout should be by a POST request not a GET"
As major browsers are requesting the website that the user is typing, if the user type `www.netbout.com/start` and hit enter, he will create a bout.

After that, every time user write `www.netbout.com/s` on the browser URL and the it autocomplete to `/start` it will create a new bout.

Below are all steps that I followed to reproduce it:

1. Login to www.netbout.com;
1. Access www.netbout.com/star

[2015-07-24 08:13] dmzaytsev commented on #602
@rultor deploy

[2015-07-24 08:16] rultor commented on #602
@dmzaytsev OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/4611-124425237)

[2015-07-24 08:25] rultor commented on #602
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/4611-124425237) (took me 9min)

[2015-07-24 08:56] dmzaytsev commented on #602
@yegor256 @antonini I just invited a new user by email  into the bout on snapshop. When I posted a message into the bout it sent to the user's email as it requested in the ticket. I using http://10minutemail.com/ for temporary email address

[2015-07-24 10:04] karato opened #751 "TkInvite.java:119-124: Invited user should receive an..."
Puzzle `602-3825bd3b` in `netbout-web/src/main/java/com/netbout/rest/bout/TkInvite.java:119-124` has to be resolved: Invited user should receive an email message with a text like this 'You are invited into the Netbout click on the link to register' and the link should be `http://www.netbout.com/b/

?invite= ` where `invite-key` is the encrypted urn. We can use `CcAES` from Takes project.... The pu

[2015-07-24 10:04] karato commented on #602
@yegor256 2 puzzles were created here: `602-3825bd3b`/#751, `602-8a4d4ea4`

[2015-07-24 11:13] karato commented on #751
@dmzaytsev since there is no milestone yet I set it to "3.0"

[2015-07-24 11:14] karato opened #752 "TkRegister.java:62-66: During the user registration if..."
Puzzle `602-8a4d4ea4` in `netbout-web/src/main/java/com/netbout/rest/login/TkRegister.java:62-66` has to be resolved: During the user registration if the `invite-key` param presented in the original ticket (destination url) it should decrypt that value and use it to search for alias. Using that alias, you must update urn and alias to use the alias that was choosen by the user.... The puzzle was cr

[2015-07-24 12:40] karato commented on #752
@dmzaytsev attached this issue to milestone "3.0" (let me know if this is wrong)

[2015-07-24 19:34] yegor256 commented on #602
@dmzaytsev just checked it myself, works fine, thanks!

[2015-07-24 19:34] #602 closed

[2015-07-25 20:14] karato commented on #602
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-07-26 07:27] ypshenychka commented on #602
@karato Quality is good here.

[2015-07-26 09:35] karato commented on #602
@ypshenychka thanks a lot

[2015-07-26 09:42] karato commented on #602
@antonini 10 mins was added to the account of @ypshenychka (for QA review), in transaction 61729845... Many thanks! **30 mins** were added to your account in Transaction ID `AP-6CT28321N4834715A` (task took 178 hours and 16 mins)... added +30 to your rating, now it is equal to [+414](http://www.netbout.com/b/35346?open=rating)

[2015-07-26 16:44] dmzaytsev commented on #750
@karato it's a valid bug

[2015-07-26 16:53] dmzaytsev commented on #742
@yegor256 you're the product owner, I need your opinion on this issue.
Do we really need to be able rename an alias? I think it will impact on an infrastructure related with an agents. Isn't it?

[2015-07-26 17:16] karato commented on #750
@dmzaytsev tag "bug" added

[2015-07-26 18:09] dmzaytsev commented on #749
@longtimeago I just opened Preview on latest Chrome (Version 44.0.2403.107 (64-bit)) on Ubuntu 14.04
![image](https://cloud.githubusercontent.com/assets/9972909/8895226/dae81cc0-33ea-11e5-86f9-4170744d7142.png)

any idea how a developer can reproduce the issue?

[2015-07-26 18:24] longtimeago commented on #749
@dmzaytsev humm ... it works from my home PC now ... gonna check ones again from work tomorrow

[2015-07-26 18:28] karato commented on #750
@antonini I set the milestone to 3.1 since there is nothing set yet

[2015-07-26 18:36] karato commented on #750
@antonini thank you for reporting this, I added 15 mins to your acc, transaction `AP-6R601285EP4202412`

[2015-07-27 08:42] yegor256 commented on #742
@dmzaytsev I think we should not allow this. Github, for example, doesn't allow this. If a user needs a new alias, he/she will create a new one. But the old one can't be renamed.

[2015-07-27 09:50] dmzaytsev commented on #742
@antonini thanks for your suggestion, but it's not applicable for the project
close the ticket please

[2015-07-27 16:17] karato commented on #715
@sretenperic this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-07-27 16:22] antonini commented on #742
@dmzaytsev @yegor256 Ok, thanks.

[2015-07-27 16:22] #742 closed

[2015-07-27 16:25] antonini commented on #703
@karato Need more time, think this is a problem inside takes project.

[2015-07-27 16:25] antonini commented on #626
@mbarbieri Did you checked it?

[2015-07-27 17:44] karato commented on #703
@antonini sure, take your time

[2015-07-27 17:48] karato commented on #732
@sretenperic could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-07-28 16:10] dmzaytsev commented on #749
@longtimeago ping

[2015-07-28 16:18] longtimeago commented on #749
@dmzaytsev I've found the cause.
Corporate firewall blocks call to this resource for some reason
``` http://yuku-t.com/jquery-textcomplete/media/javascripts/jquery.textcomplete.js ```
It causes errors in browser console

[2015-07-28 16:20] longtimeago commented on #749
@dmzaytsev It would be really cool to load it from some other places ... or copy in project resources

[2015-07-28 16:25] dmzaytsev commented on #749
@longtimeago you're right, we have the puzzle #723 for it
anyway thanks you for reporting

[2015-07-28 16:37] longtimeago commented on #749
@dmzaytsev thank you

[2015-07-28 16:37] #749 closed

[2015-07-28 18:16] antonini commented on #626
@mbarbieri @karato Ping.

[2015-07-28 18:16] antonini commented on #564
@karato Ping.

[2015-07-30 11:21] antonini commented on #564
@karato Ping.

[2015-07-30 11:35] dmzaytsev commented on #564
@yegor256 FYI

[2015-08-01 12:59] karato commented on #626
@antonini 15 days already, in 48 hours I will re-assign; -30 added to your rating, at the moment it is: [+399](http://www.netbout.com/b/35346?open=rating)

[2015-08-01 13:02] antonini commented on #626
@karato PR was merged. I'm pinging issue author and he is not answering.

[2015-08-01 15:03] antonini commented on #626
@dmzaytsev Can you help me over here?

[2015-08-01 15:18] dmzaytsev commented on #626
@antonini sorry, I can't.
but if you had asked the PM for more time you had not be fined..

I suggest to ask @yegor256 about the closing and the payment.

[2015-08-01 18:29] antonini commented on #564
@karato Ping.. waiting payment.

[2015-08-01 18:36] dmzaytsev commented on #564
@antonini I suggest to ask @yegor256

[2015-08-01 18:37] antonini commented on #564
@dmzaytsev I've just sent a message inside netbout about it. Thanks! :)

[2015-08-01 21:40] mbarbieri commented on #626
@antonini @dmzaytsev Sorry I was on vacation...

[2015-08-01 21:40] #626 closed

[2015-08-01 21:47] antonini commented on #626
@mbarbieri Thank you.

[2015-08-01 21:47] antonini commented on #626
@karato Issue is closed.

[2015-08-03 06:59] yegor256 commented on #564
@karato pls add extra 30 mins to @antonini

[2015-08-03 09:49] karato commented on #626
@antonini OK thanks

[2015-08-03 09:54] karato commented on #626
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-08-03 12:15] elenavolokhova commented on #626
@karato Quality is good here.

[2015-08-03 14:09] karato commented on #626
@elenavolokhova thanks a lot

[2015-08-03 14:17] karato commented on #626
@antonini just added 10 mins to @elenavolokhova (for QA), payment ID is `62249803`... thank you, added **30 mins** to your acc, payment num is `AP-7W464123EX439740N`, 380 hours and 57 mins spent in total to complete... added +30 to your rating, now it is equal to [+429](http://www.netbout.com/b/35346?open=rating)

[2015-08-03 19:29] antonini commented on #703
@karato This issue depends on resolution of issue [takes/#372](https://github.com/yegor256/takes/issues/372).

[2015-08-04 09:54] karato commented on #703
@antonini @karato more time

[2015-08-04 23:43] antonini commented on #564
@karato ping.

[2015-08-05 11:55] karato opened #753 "pom.xml:58-58: Current version of Takes doesn't..."
Puzzle `703-ca5668ad` in `netbout-web/pom.xml:58-58` has to be resolved: Current version of Takes doesn't support... The puzzle was created by Endrigo Antonini on 4-Aug-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-08-05 11:56] karato commented on #703
@super132 there is a puzzle in this code `703-ca5668ad`/#753, we'll resolve it later

[2015-08-05 14:27] karato commented on #753
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2015-08-05 15:30] karato commented on #751
@mstzn36 could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-08-06 03:53] antonini opened #754 "User should be able to delete an attachment"
Netbout should allow an user to delete an attachment from a bout using web interface.

[2015-08-06 03:53] antonini commented on #564
@karato ping.

[2015-08-06 04:09] antonini opened #755 "Add method of Aliases class should return an Alias instead of void."
Add method on Aliases interface return void. Instead of that it should return an instance of the recent created Alias.

This will avoid to instantiate an RqAlias to retrieve the desired alias.

That situation can be seen on the following peace of code:

https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/rest/bout/TkInvite.java#L135

[2015-08-08 13:58] antonini commented on #564
@karato Ping.

[2015-08-08 14:14] antonini commented on #703
@karato As this issue depends on a third party fix, I think the amount of "spend time" inside netbout should stop.

[2015-08-09 09:30] karato commented on #754
@dmzaytsev dispatch this issue please

[2015-08-09 09:30] karato commented on #755
@dmzaytsev please pay attention to this issue

[2015-08-09 12:12] dmzaytsev commented on #754
@antonini  I think the user should be able delete an attachment If there are no comments sent later by other users. We won't lost the content in this case, and will give ability to fix some mistakes.
The deletion of the attachment should be logged by posting a message like `the attachment <name> deleted` into the bout.

[2015-08-09 12:12] dmzaytsev commented on #754
@karato valid bug

[2015-08-09 12:20] dmzaytsev opened #756 "notification/logging about the attachment uploading"
at the moment uploading an attachment into the bout non loggable, participants of the bout don't get the notification about it. Let's post a message into the bout after uploading the attachment.

[2015-08-09 12:20] dmzaytsev commented on #756
@karato valid bug

[2015-08-09 12:52] dmzaytsev commented on #755
@yegor256 I'm not sure we can change any spi interface, am I right?

[2015-08-09 13:04] yegor256 commented on #755
@dmzaytsev why not? we can change the SPI, but have to do it carefully. in this case I don't see anything bad in this change. do you?

[2015-08-09 13:16] karato commented on #756
@dmzaytsev added "bug" tag to this issue

[2015-08-09 13:16] karato commented on #754
@dmzaytsev tagged this issue with "bug"

[2015-08-09 13:17] dmzaytsev commented on #755
@yegor256 I agree with this change

[2015-08-09 13:18] dmzaytsev commented on #755
@karato it's a valid bug

[2015-08-09 15:37] karato commented on #754
@antonini I set the milestone to 3.1 since there is nothing set yet

[2015-08-09 15:37] karato commented on #756
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-08-09 15:38] karato commented on #703
@antonini I'm not sure I understood you... what exactly do you mean?

[2015-08-09 15:38] karato commented on #755
@dmzaytsev I just added bug tag here

[2015-08-09 15:48] karato commented on #756
@dmzaytsev thank you for reporting this, I added 15 mins to your acc, transaction `62638349`

[2015-08-09 16:59] karato commented on #755
@antonini I set milestone here to `3.1`, let me know if it is wrong

[2015-08-09 17:10] karato commented on #754
@antonini thanks for the report, I topped your acc for 15 mins, payment ID `AP-05282870WN448321W`

[2015-08-09 18:01] karato commented on #755
@antonini thank you for reporting this, I added 15 mins to your acc, transaction `AP-3SU73540EW158083J`

[2015-08-09 22:48] antonini commented on #564
@yegor256 Need your help over here. I'm pinging @karato and there is no progress.

[2015-08-09 22:51] antonini commented on #703
@karato This issue is on hold because an error that is going to be fixed on Takes project. I saw inside netbout that the spent time of this issue continues to grow. Is it correct?

[2015-08-10 09:03] yegor256 commented on #703
@karato pls add extra 30 minutes to @antonini (for #564)

[2015-08-10 09:04] yegor256 commented on #564
@antonini you'll be paid in #703 for this, sorry for delay

[2015-08-10 10:51] yegor256 commented on #683
@dmzaytsev when are you planning to release this version to production? There are over 100 commits already in it.. maybe it's time to bring it live?

[2015-08-10 11:01] dmzaytsev commented on #683
@yegor256 if you [approved](https://github.com/yegor256/netbout/issues/661#issuecomment-110810970) this  version we can release. It have some unresolved puzzles/bugs, but nothing to break the functionality.

[2015-08-10 11:08] yegor256 commented on #683
@dmzaytsev looks good for a release, let's do it

[2015-08-10 11:10] dmzaytsev commented on #683
@rultor release, tag is `2.16`

[2015-08-10 11:11] rultor commented on #683
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4765-129409565)

[2015-08-10 11:30] rultor commented on #683
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/4765-129409565) (took me 10min)

[2015-08-10 11:43] antonini commented on #564
@yegor256 I don't understand. There is no connection between those issues.

[2015-08-10 11:59] yegor256 opened #757 "Character #00 is in the restricted XML range"
I see this in production, after version 2.16 is released

[code]

I believe, we have to use `Xembler.escape()` to fix this. It's urgent

[2015-08-10 12:09] dmzaytsev commented on #757
@yegor256 where you see this message? how to reproduce it?

[2015-08-10 12:11] yegor256 commented on #757
@dmzaytsev not sure how to reproduce... I see it when I open some bouts where I was able to talk before the release 2.16. I think we can reproduce it only in a unit test

[2015-08-10 12:12] dmzaytsev commented on #757
@karato it's a valid bug

[2015-08-10 12:12] dmzaytsev commented on #757
@karato this is urgent

[2015-08-10 15:11] dmzaytsev commented on #757
@assign this to me please

[2015-08-10 19:21] yegor256 commented on #564
@antonini yes, there is no connection, but this ticket is too old and is not under our control any more. that's why it's more convenient to pay "extra" in #703. don't worry, the total will be correct.

[2015-08-10 21:42] yegor256 commented on #757
@rultor release, tag is `2.16.1`

[2015-08-10 21:42] rultor commented on #757
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4776-129619788)

[2015-08-10 21:49] rultor commented on #757
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4776-129619788) (took me 7min)

[2015-08-10 21:49] yegor256 commented on #757
@dmzaytsev I made a quick fix, since it's very urgent. Let's create a proper test and fix it properly anyway

[2015-08-10 22:40] mstzn36 opened #758 "when reply to a bout message from email, it creates too many bouts"
When i reply to a bout message from email,it creates too many bouts on my main menu.
I think application should handle this case.

Here's some of bouts name :
#35524 com.netbout.client.RtUserITCase
#35527 com.netbout.client.RtBoutITCase
#35518 com.netbout.client.RtAttachmentsITCase

[2015-08-10 22:56] antonini opened #759 "Not showing charts of "Rating" and "Speed"."
When accessing "rating" and "speed" charts are not been displayed.

Below there is an screen shot that i took.

![screen shot 2015-08-10 at 7 46 13 pm](https://cloud.githubusercontent.com/assets/209396/9186290/b295d7ca-3f99-11e5-87b4-eb22193c1f59.png)

[2015-08-10 23:36] antonini opened #760 "Not possible to remove a user from a bout if he has a long name and is not the last one"
It is not possible to remove a user, that has a long name, from a bout if is not the last one.

When you try to put the mouse cursor on top of the "x" button it hides current username and show the next one.

Below there is an image that represents the situation that I'm describing.

![screen shot 2015-08-10 at 8 27 45 pm](https://cloud.githubusercontent.com/assets/209396/9186789/7b1d35c6-3f9f-11e5

[2015-08-10 23:41] antonini opened #761 "User should be able to change his picture (avatar)"
User should be able to change his picture (avatar) or it should use external systems such as www.gravatar.com.

[2015-08-10 23:53] antonini commented on #564
@yegor256 And what about ranking points?

[2015-08-11 03:28] dmzaytsev commented on #757
@yegor256 yes, i did it already 791064f

[2015-08-11 03:48] dmzaytsev commented on #683
@yegor256 please tag `2.16.1` as stable

[2015-08-11 10:36] karato commented on #703
@yegor256 I've sent 30 mins extra to @antonini in transaction ID "AP-7F427171HF068030E"

[2015-08-11 13:56] karato commented on #683
@dmzaytsev please, pay attention to this:

 * some tasks are stuck: #692 (59 days), #713 (49 days), #714 (48 days), #715 (48 days), #717 (47 days), #721 (45 days), #723 (45 days), #722 (44 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://www.teamed.

[2015-08-11 14:05] #656 closed

[2015-08-11 15:51] dmzaytsev commented on #683
@yegor256 what is it? new rules??

I just checked [the policy](http://www.teamed.io/policy.html) and found nothing about it.
I believe the rules should by updated before applying. If rules changed the team should by notified before applying.

please restore my rating

[2015-08-11 16:40] karato commented on #715
@sretenperic you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck). -30 added to your rating, current score is:

[2015-08-11 18:07] karato commented on #732
@sretenperic you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck)... added -30 to your rating, now it is equal

[2015-08-12 10:46] karato opened #763 "Indie tech review no.3"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `indie` tag to each of them.

[2015-08-12 11:25] dmzaytsev commented on #758
@mstzn36 reply to bout from email not implemented yet.

[2015-08-12 11:25] dmzaytsev commented on #758
@karato it's a valid bug

[2015-08-12 11:27] dmzaytsev commented on #759
@antonini it's not in scope of this project. Submit such issues inside the netbout

[2015-08-12 11:30] dmzaytsev commented on #760
@antonini kick-out feature deprecated. it will be removed soon
https://github.com/yegor256/netbout/issues/634#issuecomment-111782630

[2015-08-12 11:40] dmzaytsev commented on #683
@karato please set due date Oct 1 to milestone 3.0
and Dec 1 to milestone 3.1

[2015-08-12 11:41] antonini commented on #760
@dmzaytsev Ok.

[2015-08-12 11:41] #760 closed

[2015-08-12 11:50] antonini commented on #759
@dmzaytsev

[2015-08-12 11:50] #759 closed

[2015-08-12 11:56] dmzaytsev commented on #761
@antonini right now  Netbout stores url to user's picture. e.g. if you login via github you can change your picture in your Github profile. Is this not enough?
though we can allow to use www.gravatar.com or another external system...

[2015-08-12 12:06] antonini commented on #761
My account on github has picture but my user on netbout doesn't.

If I inspect generated HTML I see that netbout is using the following URL as my picture.
http://img.netbout.com/unknown.png

[2015-08-12 12:20] karato commented on #763
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-08-12 13:16] dmzaytsev commented on #761
@antonini okay.
Gravatar uses the email as the key for the avatar image, right?
we can add a check-box to user's profile and if it checked we will put gravatar's url instead github
if the check-box unchecked we will request the picture from github again

[2015-08-12 13:19] antonini commented on #761
@dmzaytsev Agree.

[2015-08-12 14:51] karato commented on #683
@dmzaytsev I attached this issue to milestone `3.1`

[2015-08-12 15:21] yegor256 commented on #683
@dmzaytsev I changed the dates of milestones and reverted the points. The rule in the policy is here: http://www.teamed.io/policy.html#33 It was introduced recently, I didn't announce it yet. But now you know, be careful

[2015-08-12 15:39] dmzaytsev commented on #683
@yegor256 what is your decision?

[2015-08-12 16:00] dmzaytsev commented on #692
@karato this is postponed

[2015-08-12 16:03] dmzaytsev commented on #722
@karato this is postponed

[2015-08-12 16:04] dmzaytsev commented on #622
@karato this is postponed

[2015-08-12 16:51] yegor256 commented on #683
@karato please mark release 2.16.1 as final

[2015-08-12 17:22] karato commented on #692
@dmzaytsev sure, thanks, I added "postponed" label to it

[2015-08-12 17:22] karato commented on #692
@dmzaytsev thanks, I removed the "urgent" tags

[2015-08-12 17:22] karato commented on #692
@dmzaytsev no problem, I will try to find somebody else

[2015-08-12 17:22] karato commented on #722
@dmzaytsev got it, "postponed" label here

[2015-08-12 17:22] karato commented on #722
@dmzaytsev all right, we'll find someone else for this task

[2015-08-12 17:28] dmzaytsev commented on #692
@karato this is not postponed any more

[2015-08-12 18:47] karato commented on #692
@dmzaytsev OK, I un-labeled it as "postponed" tag

[2015-08-12 19:08] dmzaytsev commented on #644
@yegor256 please close this issue
it's a bug in Pegdown but we can't reproduce it
I'm keep in mind the idea about github markdown, I'll create a task for that later

[2015-08-12 19:14] dmzaytsev commented on #683
@yegor256 I hope stucked tasks won't be fined... you know we haven't developers, tasks not dispatched a long time
should I ask the PM mark all tasks as postponed?

[2015-08-12 20:45] yegor256 commented on #683
@dmzaytsev I think I have to add more developers to the project. I'll try to do it ASAP

[2015-08-12 20:49] yegor256 commented on #644
@dmzaytsev ok

[2015-08-12 20:49] #644 closed

[2015-08-12 21:03] antonini opened #764 "User's autocomplete is not filtering after typing a char"
After I type an @ and start to type an user name, the list not filter available names.

Image below show that autocomplete shows all options. I moved the cursor to the user that it should just be visible.
![image](https://cloud.githubusercontent.com/assets/209396/9236624/511e4cb4-411c-11e5-99fa-3cf3d0b92a25.png)

[2015-08-13 03:33] dmzaytsev commented on #761
@karato it's a vald bug

[2015-08-13 04:15] dmzaytsev commented on #683
@yegor256 anyway even if you added developers, these tasks will be closed at least in 10 days.
if stuck tasks will be assigned...

[2015-08-13 12:34] dmzaytsev commented on #764
@karato it's a valid bug

[2015-08-13 12:34] dmzaytsev commented on #764
@karato this is postponed

[2015-08-13 12:35] dmzaytsev commented on #757
@karato assign this to me please

[2015-08-13 18:51] longtimeago opened #765 "Page not found when accessing www.netbout.com"
Try www.netbout.com and see
[code]
as a body.
Browser url automatically changed to
[code]

Reproduces in Chrome last version on Ubuntu
Works fine in FF

[2015-08-13 18:57] dmzaytsev commented on #765
@longtimeago we have already #716 for this
I would suggest workaround: to clear cookies for www.netbout.com

[2015-08-13 19:08] longtimeago commented on #765
@dmzaytsev sorry for duplicating

[2015-08-13 19:08] #765 closed

[2015-08-13 19:11] dmzaytsev commented on #765
@longtimeago no problem

[2015-08-14 06:53] dmzaytsev commented on #683
@yegor256 I have to tell [it's](http://www.teamed.io/policy.html#33) unrealizable rule. Every 3-5 days the architect (me or someone else) will lose points on this project. We have some "stuck" tasks, some of them is postponed. First, even if some developers will be assigned, anyway it may take several weeks, but there will be new stuck tasks. It is an endless process...
Second, if the architect wi

[2015-08-15 16:15] karato commented on #683
@dmzaytsev please, pay attention to this:

 * some tasks are stuck: #692 (64 days), #713 (53 days), #714 (53 days), #715 (52 days), #717 (51 days), #721 (50 days), #723 (49 days), #726 (47 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://www.teamed.

[2015-08-15 16:33] dmzaytsev commented on #683
@yegor256 I guess I was fined for this, right?

if so, that's unfairly
I asked tag #757 as a bug [5 days ago](https://github.com/yegor256/netbout/issues/757#issuecomment-129424436)

same about #622, I postponed it twice [Jul 11] (https://github.com/yegor256/netbout/issues/622#issuecomment-120626856) and [Aug 12](https://github.com/yegor256/netbout/issues/622#issuecomment-130356311)

[2015-08-16 20:43] antonini commented on #764
@karato Any progress over here?

[2015-08-16 20:43] antonini commented on #761
@karato Any progress over here?

[2015-08-17 11:39] yegor256 commented on #716
@dmzaytsev I believe the problem is caused by this bug in Takes: https://github.com/yegor256/takes/issues/375

[2015-08-17 12:05] dmzaytsev commented on #716
@yegor256 many thanks

but I believe we should check the location yegor256/takes#353  in any case

[2015-08-17 12:05] yegor256 commented on #716
@dmzaytsev I upgraded takes to 0.23.2. let's try to release a new version and see how it works

[2015-08-17 12:06] yegor256 commented on #716
@dmzaytsev I'm not sure about that idea of checking the `Location`... we don't know what users have in mind... in some applications `,PsCookie=abc` may be a perfectly valid location. it's not against the architecture of HTTP

[2015-08-17 12:12] yegor256 commented on #716
@rultor release, tag is `2.16.2`

[2015-08-17 12:13] rultor commented on #716
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4853-131796458)

[2015-08-17 12:23] rultor commented on #716
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4853-131796458) (took me 9min)

[2015-08-17 12:32] yegor256 commented on #716
@dmzaytsev the problem is gone

[2015-08-17 12:34] dmzaytsev commented on #716
@yegor256 thanks!

[2015-08-17 12:34] #716 closed

[2015-08-17 13:07] karato commented on #757
@yegor256 I am aware of the task, give me some time to find a developer...

[2015-08-17 13:07] karato commented on #622
@ekondrashev since there is no milestone yet I set it to "3.1"

[2015-08-17 13:07] karato commented on #757
@yegor256 I set milestone here to `3.1`, let me know if it is wrong

[2015-08-17 13:14] karato commented on #757
@yegor256 thank you for reporting this, I added 15 mins to your acc, transaction `000-136519b0`

[2015-08-17 15:07] yegor256 commented on #683
@dmzaytsev our fault indeed. I removed the deduction from your rating.

[2015-08-17 15:53] karato commented on #757
@dmzaytsev right, I added "urgent" label

[2015-08-17 15:53] karato commented on #757
@dmzaytsev of course, the task is yours, go ahead

[2015-08-17 15:53] karato commented on #622
@dmzaytsev yep, done. @yegor256 it is your task now

[2015-08-17 15:53] karato commented on #757
@dmzaytsev this task was already yours, go ahead

[2015-08-17 15:54] karato commented on #622
@dmzaytsev got it, "postponed" label here

[2015-08-17 15:54] karato commented on #622
@dmzaytsev no problem, I will try to find somebody else

[2015-08-17 15:54] karato commented on #622
@dmzaytsev "postponed" label already in this issue

[2015-08-17 15:54] karato commented on #622
@dmzaytsev I will ask somebody else to pick this up

[2015-08-17 16:03] karato commented on #732
@sretenperic you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... added -60 to your rating, now it is equal to [-180](http://www.netbout.com/b/35464?open=rating)

[2015-08-17 16:03] karato commented on #622
@ekondrashev thanks for the ticket, your account was topped for 15 mins, payment 63342280

[2015-08-17 16:26] dmzaytsev commented on #757
@yegor256 fixed in #762  please close the ticket

[2015-08-17 16:30] karato commented on #761
@dmzaytsev tag "bug" added

[2015-08-17 16:30] karato commented on #764
@dmzaytsev I just added bug tag here

[2015-08-17 16:30] karato commented on #758
@dmzaytsev I tagged this as "bug"

[2015-08-17 16:41] karato commented on #752
@sretenperic please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.h

[2015-08-17 16:46] dmzaytsev commented on #757
@karato this is not urgent any more

[2015-08-17 18:43] karato commented on #758
@mstzn36 attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-08-17 18:43] karato commented on #761
@antonini attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-08-17 18:43] karato commented on #764
@antonini there is no milestone yet, so I set it to `3.1`

[2015-08-17 18:43] karato commented on #757
@dmzaytsev OK, I un-labeled it as "urgent" tag

[2015-08-17 18:54] karato commented on #764
@antonini thanks for this report, I added 15 mins to your account, in transaction `AP-78160544EC304761S`

[2015-08-17 19:51] karato commented on #684
@sretenperic it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket... The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-08-17 19:51] karato commented on #761
@antonini thank you for the ticket reported, I topped your account for 15 mins, transaction `AP-8JD47947GK606493J`

[2015-08-18 03:51] dmzaytsev commented on #683
@karato please mark release 2.16.1 as final

[2015-08-18 05:40] dmzaytsev commented on #757
@yegor256 ping

[2015-08-18 06:15] yegor256 commented on #757
@dmzaytsev thanks!

[2015-08-18 06:15] #757 closed

[2015-08-18 08:29] yegor256 commented on #683
@karato release 2.16.1 is final

[2015-08-18 11:42] karato commented on #764
@dmzaytsev OK, I put "postponed" label here

[2015-08-18 11:42] karato commented on #764
@dmzaytsev right, I'll try to find someone else for this task

[2015-08-18 18:45] karato commented on #683
@dmzaytsev OK, will do now

[2015-08-18 19:50] karato commented on #683
@dmzaytsev OK, will do now

[2015-08-18 21:02] karato commented on #683
@dmzaytsev OK, will do now

[2015-08-18 21:02] karato commented on #683
@yegor256 done, release 2.16.1 is final, the "draft" flag is removed

[2015-08-18 21:12] karato commented on #758
@mstzn36 thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-0SL77479T52984116`

[2015-08-19 11:11] karato opened #766 "2.17"
Please, publish a new release **2.17** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-08-19 11:19] karato commented on #766
@dmzaytsev this is your task

[2015-08-19 12:19] karato commented on #766
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2015-08-19 12:29] karato commented on #757
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-08-19 12:37] ypshenychka commented on #757
@karato Quality is good here.

[2015-08-19 14:30] karato commented on #757
@ypshenychka thank you :)

[2015-08-19 14:38] karato commented on #757
@dmzaytsev just added 10 mins to @ypshenychka (for QA), payment ID is `63439733`; Thanks a lot, I just topped your account for **1 hour**, transaction ID `63439742`, total time was 19 hours and 47 mins; m=1187, that's why a bonus here for fast delivery; +60 added to your rating, at the moment it is: [+1564](http://www.netbout.com/b/35166?open=rating)

[2015-08-20 11:22] karato commented on #683
@dmzaytsev I am closing it, thanks all

[2015-08-20 11:22] #683 closed

[2015-08-20 11:24] karato commented on #683
@dmzaytsev Much obliged! I have added **30 mins** to your account in payment "63468871", 1674 hours and 54 mins spent... +30 added to your rating, current score is: [+1564](http://www.netbout.com/b/35166?open=rating)

[2015-08-20 11:43] dmzaytsev commented on #683
@yegor256 is it final value? only 30 min?

[2015-08-20 13:07] yegor256 commented on #683
@dmzaytsev the bonus here is less than a few minutes, the numbers are t=1656, c=107, h=5732, diff=2.15.1..master, this is the calculator: t=1656, c=107, h=5732, diff=2.15.1..master

[2015-08-20 15:36] karato commented on #751
@mstzn36 the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck... do not forget that the ticket will be closed once the `@todo` p

[2015-08-20 19:34] dmzaytsev opened #767 "MarkdownTest broken on windows"
We have a broken test on Windows
[code]
let's fix it

[2015-08-20 19:35] dmzaytsev commented on #767
@karato it's a valid bug

[2015-08-20 19:56] dmzaytsev commented on #692
@karato assign this to me please

[2015-08-20 20:22] karato commented on #767
@dmzaytsev I just added bug tag here

[2015-08-20 20:32] dmzaytsev commented on #692
@karato please see PR #768

[2015-08-21 10:33] karato commented on #767
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2015-08-21 10:33] karato commented on #692
@dmzaytsev yep, it is yours, go ahead

[2015-08-21 10:33] karato commented on #692
@dmzaytsev thanks, I'll take a look

[2015-08-21 10:40] karato commented on #767
@dmzaytsev thanks for reporting! I topped your account for 15 mins, transaction 63497618

[2015-08-21 10:50] dmzaytsev commented on #767
@yegor256 will the [new paragraph](http://www.teamed.io/policy.html#34) be applied?

[2015-08-21 11:59] dmzaytsev commented on #692
@karato fixed in #768 please close the task

[2015-08-21 14:51] dmzaytsev commented on #692
@rultor deploy

[2015-08-21 14:52] rultor commented on #692
@dmzaytsev OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/4914-133451210)

[2015-08-21 15:00] rultor commented on #692
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/4914-133451210) (took me 8min)

[2015-08-22 00:17] mstzn36 commented on #751
@karato PR #769  ready for review.

[2015-08-23 14:32] karato commented on #692
@dmzaytsev I will close it, but only when the puzzle is removed from the code and project stats are updated (may take up to a day) after successful deployment

[2015-08-23 14:33] karato opened #770 "EmMessages.java:137-141: Header `Reply-To` should be added..."
Puzzle `692-1caba32d` in `netbout-web/src/main/java/com/netbout/email/EmMessages.java:137-141` has to be resolved: Header `Reply-To` should be added to an outgoing email. Format is crypt-string@reply.netbout.com where crypt-string is user-urn|bout-number Use EmCatch.encrypt() to encrypt the string see #692 and EmActionTest for additional info... The puzzle was created by Dmitry Zaytsev on 20-Aug-2

[2015-08-23 14:33] karato commented on #692
@dmzaytsev there is a puzzle in this code `692-1caba32d`/#770, we'll resolve it later

[2015-08-23 16:08] karato commented on #770
@dmzaytsev I set milestone here to `3.1`, let me know if it is wrong

[2015-08-23 16:16] dmzaytsev commented on #714
@karato please assign this to me

[2015-08-23 16:19] karato commented on #766
@dmzaytsev there are some issues in the project now:

some tasks in the project are "stuck": #713 (61 days), #714 (61 days), #715 (60 days), #717 (59 days), #721 (58 days), #723 (57 days), #726 (55 days), #730 (53 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them ([par.2

[2015-08-23 16:26] dmzaytsev commented on #730
@karato this is postponed

[2015-08-23 16:26] dmzaytsev commented on #726
@karato this is postponed

[2015-08-23 16:27] dmzaytsev commented on #721
@karato this is postponed

[2015-08-23 17:22] karato commented on #714
@dmzaytsev of course, the task is yours, go ahead

[2015-08-23 17:54] dmzaytsev opened #772 "Integration test should be able run on snapshop netbout.com"
Integration test should be able run on http://snapshop.netbout.com.
like this

[2015-08-23 17:55] dmzaytsev commented on #772
@karato it's a valid bug

[2015-08-23 17:59] dmzaytsev opened #773 "Integration test creates a lot of new bouts"
I tried to run integration tests. It was in running state ~ 10min then I terminated it.
Later I have opened netbout.com and saw a lot of new bouts

![image](https://cloud.githubusercontent.com/assets/9972909/9429461/2336ed34-49ea-11e5-9540-f9a3bbc68dac.png)

Let's fix it

[2015-08-23 17:59] dmzaytsev commented on #773
@karato it's a valid bug

[2015-08-23 19:04] karato commented on #721
@dmzaytsev thanks, I added "postponed" label

[2015-08-23 19:04] karato commented on #721
@dmzaytsev I will try to find someone else

[2015-08-23 19:04] karato commented on #726
@dmzaytsev got it, "postponed" label here

[2015-08-23 19:04] karato commented on #726
@dmzaytsev I will ask somebody else to pick this up

[2015-08-23 19:04] karato commented on #730
@dmzaytsev OK, I put "postponed" label here

[2015-08-23 19:04] karato commented on #730
@dmzaytsev all right, we'll find someone else for this task

[2015-08-23 19:04] karato commented on #751
@mstzn36 OK, thanks, will take a look soon

[2015-08-23 19:04] karato commented on #773
@dmzaytsev tagged this issue with "bug"

[2015-08-23 19:04] karato commented on #772
@dmzaytsev tagged this issue with "bug"

[2015-08-23 20:05] karato commented on #772
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2015-08-23 20:05] karato commented on #773
@dmzaytsev since the ticket has no milestone I set it to 3.1

[2015-08-23 20:20] karato commented on #773
@dmzaytsev thanks for this report, I added 30 mins to your account, in transaction `63547205`

[2015-08-24 03:52] dmzaytsev commented on #692
@yegor256 @karato the puzzle removed and the project deployed 3 days ago. Please check

[2015-08-24 09:38] karato commented on #772
@dmzaytsev thanks a lot for reporting, **30 mins** added to your acc, pmt ID `63560585`

[2015-08-24 14:45] karato commented on #692
@dmzaytsev Finished, thanks, closing..

[2015-08-24 14:45] #692 closed

[2015-08-24 14:46] karato commented on #692
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-08-24 19:00] dmzaytsev commented on #751
@mstzn36  I would suggest ask more time  ASAP
http://www.teamed.io/policy.html#10

[2015-08-24 19:16] mstzn36 commented on #751
@dmzaytsev I forgot about that and i lose -30 point for nothing :(

[2015-08-25 10:58] elenavolokhova commented on #692
@karato Looks good!

[2015-08-25 12:07] karato commented on #692
@elenavolokhova thanks a lot

[2015-08-25 12:15] karato commented on #692
@dmzaytsev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 63827734... Thanks for your contribution, **38 mins** was added to your account, payment ID is `63827745`, 51 hours and 58 mins spent total... m=3118, that's why a bonus here for fast delivery... +38 added to your rating, at the moment it is: [+1641](http://www.netbout.com/b/35166?open=rating)

[2015-08-25 15:13] antonini opened #774 "Netbout is down (Application Error)"
I'm trying to access netbout and server is taking a long time.
Sometimes it logs in, and sometimes it shows the screen bellow.

![image](https://cloud.githubusercontent.com/assets/209396/9470488/984fa906-4b22-11e5-9652-4c13d9ee62a1.png)

[2015-08-25 15:20] dmzaytsev commented on #774
@antonini Thanks for reporting. Maybe some hosting problem...
@yegor256 Could you check the logs please?

[2015-08-25 15:21] karato opened #775 "TkRegister.java:67-71: During the user registraton if..."
Puzzle `751-6f10d03b` in `netbout-web/src/main/java/com/netbout/rest/login/TkRegister.java:67-71` has to be resolved: During the user registraton if the invite-key` param presented in the original ticket (destination url) it should decrypt that value and use it to search for alias. using that alias, you must update urn and alias to use the alias that was choosen by the user.... The puzzle was crea

[2015-08-25 15:22] karato commented on #751
@dmzaytsev there is a puzzle in this code `751-6f10d03b`/#775, we'll resolve it later

[2015-08-25 16:52] dmzaytsev commented on #713
@karato it's not urgent anymore

[2015-08-25 18:10] karato commented on #775
@dmzaytsev since the ticket has no milestone I set it to 3.1

[2015-08-25 18:10] karato commented on #713
@dmzaytsev thanks, I removed the "urgent" tag

[2015-08-25 18:13] dmzaytsev commented on #714
@yegor256 fixed in PR #771
I just checked it on snapshot.netbout.com. it works
Please close the ticket

[2015-08-25 18:51] yegor256 commented on #714
@dmzaytsev thanks!

[2015-08-25 18:51] #714 closed

[2015-08-26 13:30] dmzaytsev commented on #774
@antonini I think you could close the ticket
I believe it was a temporary hosting related issue

[2015-08-26 13:34] antonini commented on #774
@dmzaytsev Yeap. working fine for me. Tks!

[2015-08-26 13:34] #774 closed

[2015-08-26 15:51] dmzaytsev opened #776 "Netbout client integration tests should be able to run on snapshop"
Netbout-client integration tests should be able run on the snapshot instance.
Let's allow to set target server via Maven variable like this
[code]

[2015-08-26 15:51] dmzaytsev commented on #776
@karato this is valid bug

[2015-08-26 16:10] karato commented on #776
@dmzaytsev tag "bug" added

[2015-08-26 16:16] #751 closed

[2015-08-26 16:16] #752 closed

[2015-08-26 16:16] karato commented on #751
@dmzaytsev Closing, thanks all

[2015-08-26 16:16] karato commented on #752
@dmzaytsev The task is done, thanks all, I am closing it

[2015-08-26 16:17] karato commented on #752
@sretenperic there weren't any messages from you, no need to pay, as I understand (feel free to correct me)

[2015-08-26 16:17] karato commented on #751
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-08-26 17:20] dmzaytsev commented on #713
@karato assign this to me please

[2015-08-26 17:34] karato commented on #776
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2015-08-26 17:42] karato commented on #748
@sretenperic this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-08-26 17:43] karato commented on #776
@dmzaytsev many thanks, **30 mins** added to your acc for reporting this bug, pmt ID `63918371`

[2015-08-26 18:00] dmzaytsev commented on #714
@karato @yegor256 I don't see a bug tag here

@karato it's a valid bug

I guess that's why the ticket not paid yet
what we shall to do?

[2015-08-26 18:41] ypshenychka commented on #751
@karato Quality is good here.

[2015-08-26 19:04] dmzaytsev commented on #715
@karato assign this to me please

[2015-08-26 20:03] karato commented on #713
@dmzaytsev the task is yours, please proceed

[2015-08-26 20:03] karato commented on #751
@ypshenychka thanks a lot ;)

[2015-08-27 02:13] dmzaytsev commented on #715
@karato assign this to me please

[2015-08-27 03:38] dmzaytsev commented on #713
@karato please see PR #777

[2015-08-27 09:30] karato commented on #713
@dmzaytsev thank you, I will check it

[2015-08-27 09:30] karato commented on #715
@dmzaytsev done, the task is yours, go ahead

[2015-08-27 09:30] karato commented on #715
@dmzaytsev this task was already yours, go ahead

[2015-08-27 09:36] karato commented on #714
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-08-27 09:38] karato commented on #751
@mstzn36 10 mins was added to the account of @ypshenychka (for QA review), in transaction 63939818... Thanks a lot, I just topped your account for **30 mins**, transaction ID `AP-1WX43412YU091532F`, total time was 479 hours and 53 mins... +30 to your rating, your total score is [-15](http://www.netbout.com/b/35470?open=rating)

[2015-08-27 09:44] dmzaytsev commented on #715
@yegor256 fixed in #778
I just checked on snapshot.netbout.com, it works fine
please close the ticket

[2015-08-27 09:49] dmzaytsev commented on #715
@karato this is not urgent anymore

[2015-08-27 09:51] dmzaytsev commented on #776
@karato this is urgent

[2015-08-27 09:54] ypshenychka commented on #714
@karato Quality is good.

[2015-08-27 11:18] karato commented on #714
@ypshenychka thanks a lot

[2015-08-27 11:18] karato commented on #715
@dmzaytsev OK, I un-labeled it as "urgent" tag

[2015-08-27 11:18] karato commented on #776
@dmzaytsev thanks, I added "urgent" label

[2015-08-27 11:28] karato commented on #714
@dmzaytsev 10 mins was added to the account of @ypshenychka (for QA review), in transaction 63941640. Thanks a lot, I just topped your account for **38 mins**, transaction ID `63941646`, total time was 63 hours and 51 mins. m=3831, that's why a bonus here for fast delivery. added +38 to your rating, now it is equal to [+1729](http://www.netbout.com/b/35166?open=rating)

[2015-08-27 11:43] dmzaytsev commented on #723
@antonini could you pickup this ticket?

[2015-08-27 11:56] yegor256 commented on #715
@dmzaytsev thanks!

[2015-08-27 11:56] #715 closed

[2015-08-27 12:16] antonini commented on #723
@dmzaytsev I can.

[2015-08-27 12:18] dmzaytsev commented on #723
@antonini thanks

[2015-08-27 12:18] dmzaytsev commented on #723
@karato assign @antonini please to this issue

[2015-08-27 12:42] dmzaytsev commented on #766
@yegor256 how many days should pass before a task will be "stuck"?

[2015-08-27 13:08] yegor256 commented on #766
@dmzaytsev 20 days

[2015-08-27 15:08] karato commented on #723
@dmzaytsev done. @antonini you are assigned to this task. please proceed...

[2015-08-27 15:16] karato commented on #766
@dmzaytsev There are a few concerns:

 * some tasks are stuck: #713 (65 days), #717 (63 days), #723 (61 days), #737 (47 days), #736 (46 days), #739 (46 days), #738 (46 days), #741 (42 days); please do something about it. There are basically three options: 1) mark some of them as "postponed" (see [par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them (see [par.29](http://www.teamed.io/po

[2015-08-27 20:45] antonini commented on #723
@dmzaytsev Do you know how do I disable validations (all tests) to a given file? I added 'jquery.textcomplete.min.js' file to the project and added that to the "exclude" on pom file.
But qulice still check that js.

[2015-08-27 20:56] antonini commented on #723
@dmzaytsev and @karato Just found that this issue is blocked by this one: [qulice/#424](https://github.com/teamed/qulice/issues/424).

[2015-08-28 01:59] dmzaytsev commented on #723
@antonini  you should download this `.js` file during mvn package phase and place it into `target/classes/js`. You don't need to disable jslint.
You can use [bower for instance](https://github.com/yegor256/netbout/pull/712#issuecomment-114315530) see #712 for details

             directly to the plugin author's website. Before doing that,
             we should add the functionality to download t

[2015-08-28 02:20] dmzaytsev commented on #713
@karato fixed in #777 please close the ticket

[2015-08-28 03:53] dmzaytsev commented on #741
@karato this is postponed

[2015-08-28 04:55] antonini commented on #723
@karato PR #779 ready for review.

[2015-08-28 06:55] dmzaytsev commented on #684
@sretenperic Takes `0.23.3` just released, google auth bug resolved
please upgrade Netbout to this version

[2015-08-28 06:57] dmzaytsev commented on #776
@antonini could you pickup this task?

[2015-08-28 10:19] karato commented on #713
@dmzaytsev I will close it when the puzzle disappears from the source code, and keep in mind that it may take up to a day to update project stats after a successful deployment

[2015-08-28 10:19] karato commented on #741
@dmzaytsev right, I added "postponed" label

[2015-08-28 10:19] karato commented on #741
@dmzaytsev right, I'll try to find someone else for this task

[2015-08-28 14:15] karato commented on #715
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-08-28 15:35] elenavolokhova commented on #715
@karato Looks good!

[2015-08-28 18:24] karato commented on #715
@elenavolokhova thanks!

[2015-08-28 18:40] karato commented on #715
@dmzaytsev just added 10 mins to @elenavolokhova (for QA), payment ID is `63982424`... Much obliged! I have added **1 hour** to your account in payment "63982434", 3 hours and 40 mins spent... there is a bonus for fast delivery (m=220)... added +60 to your rating, now it is equal to [+1794](http://www.netbout.com/b/35166?open=rating)

[2015-08-28 19:35] antonini commented on #606
@dmzaytsev Puzzle #723 was merged. Can you check it?

[2015-08-28 19:35] antonini commented on #723
@karato PR #779 was merged and deployed.

[2015-08-28 19:44] dmzaytsev commented on #606
@antonini it works
you can see on snapshot.netbout.com

[2015-08-28 20:04] dmzaytsev commented on #766
@yegor256 we are ready to release `2.17`, are you agree?

[2015-08-28 20:55] antonini commented on #606
@dmzaytsev Yep.. I just checked. I have one doubt. Who closes puzzle? You (as reporter of this issue) or PM (as reporter of puzzle issue)?

[2015-08-28 20:55] yegor256 commented on #766
@dmzaytsev yes, let's do it

[2015-08-28 21:02] dmzaytsev commented on #606
@antonini @karato will close the puzzle soon

[2015-08-28 21:04] dmzaytsev commented on #766
@rultor release, tag=`2.17`

[2015-08-28 21:04] rultor commented on #766
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4992-135887328)

[2015-08-28 21:19] rultor commented on #766
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/4992-135887328) (took me 14min)

[2015-08-28 21:20] dmzaytsev commented on #766
@yegor256 please mark 2.17 as final

[2015-08-29 04:36] antonini opened #780 "Kick a user should be using a DELETE request and not using a GET"
Netbout uses a GET request to kick users from bout.

Actions that remove things from database or relationship should be using a DELETE method and not a GET.

[2015-08-29 05:59] dmzaytsev commented on #780
@antonini you're right but kick-out feature is deprecated. it will be removed soon https://github.com/yegor256/netbout/issues/634#issuecomment-111782630

[2015-08-29 06:50] dmzaytsev commented on #766
@karato release 2.17 is final

@yegor256 please confirm

[2015-08-29 08:32] dmzaytsev commented on #713
@rultor deploy

[2015-08-29 08:33] rultor commented on #713
@dmzaytsev OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/4996-135961821)

[2015-08-29 08:43] rultor commented on #713
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/4996-135961821) (took me 10min)

[2015-08-29 11:16] #713 closed

[2015-08-29 11:16] karato commented on #713
@dmzaytsev We are done here, thanks all

[2015-08-29 11:17] karato commented on #713
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-08-29 14:15] ypshenychka commented on #713
@karato Quality is good.

[2015-08-29 15:25] karato commented on #713
@ypshenychka thanks!

[2015-08-29 15:37] karato commented on #713
@dmzaytsev 10 mins was added to the account of @ypshenychka (for QA review), in transaction 64001598

**45 mins** was added to your account, many thanks for your contribution (payment 64001606)! The task took 38 hours and 15 mins.

the bonus for fast delivery (m=2295)

+45 to your rating, your total score is [+1794](http://www.netbout.com/b/35166?open=rating)

[2015-08-29 20:19] karato commented on #723
@dmzaytsev It is closed now

[2015-08-29 20:19] #723 closed

[2015-08-29 20:21] karato commented on #723
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-08-30 04:33] dmzaytsev commented on #684
@karato assign me to this please

[2015-08-30 09:12] karato commented on #684
@dmzaytsev done, the task is yours, whoever worked before, stop now

[2015-08-30 09:12] karato commented on #723
@antonini OK, will take a look

[2015-08-30 09:12] karato commented on #723
@antonini OK

[2015-08-30 09:12] karato commented on #766
@dmzaytsev @yegor256 could you please confirm?

[2015-08-30 09:54] dmzaytsev commented on #684
@erimerturk fixed in #781 close the task please

[2015-08-30 11:32] erimerturk commented on #684
@dmzaytsev thank you

[2015-08-30 11:32] #684 closed

[2015-08-30 12:26] dmzaytsev commented on #693
@karato this is postponed

[2015-08-30 12:27] dmzaytsev commented on #693
@karato set milestone to 3.1 please

[2015-08-30 13:37] karato commented on #693
@dmzaytsev right, I added "postponed" label

[2015-08-30 13:37] karato commented on #693
@dmzaytsev right, I'll try to find someone else for this task

[2015-08-30 13:37] karato commented on #693
@dmzaytsev I attached this issue to milestone `3.1`

[2015-08-30 13:54] karato commented on #776
@sretenperic it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more

[2015-08-30 15:34] yegor256 commented on #766
@karato yes, I confirm, release 2.17 is final

[2015-08-30 17:46] karato commented on #766
@yegor256 done, release 2.17 is final

[2015-08-30 20:05] karato opened #782 "2.18"
Please, publish a new release **2.18** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-08-30 20:12] antonini commented on #780
@dmzaytsev Ok.

[2015-08-30 20:12] #780 closed

[2015-08-30 20:43] karato commented on #782
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-08-31 05:16] elenavolokhova commented on #723
@karato Looks good!

[2015-08-31 11:44] karato commented on #723
@elenavolokhova thank you ;)

[2015-08-31 11:54] karato commented on #723
@antonini just added 10 mins to @elenavolokhova (for QA), payment ID is `64038096`... I added **45 mins** to your account, many thanks for working with the project! The completion time here was AP-35W57876DP712680C.... the bonus for fast delivery (m=1720)... +45 added to your rating, current score is: [+692](http://www.netbout.com/b/35346?open=rating)

[2015-08-31 11:54] karato commented on #782
@dmzaytsev this is your task

[2015-08-31 15:56] karato commented on #684
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-08-31 16:36] elenavolokhova commented on #684
@karato Looks good!

[2015-08-31 18:20] karato commented on #684
@elenavolokhova thank you, good quality is always good ;)

[2015-08-31 18:32] karato commented on #684
@dmzaytsev 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 64276511

Much obliged! I have added **1 hour** to your account in payment "64276522", 4 hours and 24 mins spent

there is a bonus for fast delivery (m=264)

+60 added to your rating, at the moment it is: [+1876](http://www.netbout.com/b/35166?open=rating)

[2015-09-01 00:48] antonini commented on #703
@super132 Takes project was fixed and updated. Can you teste it?

[2015-09-01 02:26] super132 commented on #703
@antonini Just have a test in production netbout. I uploaded a PDF file with size 7kb and I can upload it without problem. However, when I try uploading a PDF with size 569kb, I got bad request again. Thanks.

[2015-09-01 11:19] karato commented on #766
@dmzaytsev I'm closing the issue...

[2015-09-01 11:19] #766 closed

[2015-09-01 11:22] karato commented on #766
@dmzaytsev Thanks a lot, I just topped your account for **30 mins**, transaction ID `64304740`, total time was 272 hours and 47 mins... +30 added to your rating, at the moment it is: [+1778](http://www.netbout.com/b/35166?open=rating)

[2015-09-01 18:57] antonini commented on #703
@super132 Strange. I just uploaded this file and it worked fine. http://nvie.com/files/Git-branching-model.pdf.

[2015-09-02 17:18] karato commented on #732
@bilalyasar This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-03 15:11] karato commented on #782
@dmzaytsev There are a few problems in the project now:

some tasks in the project are "stuck": #717 (70 days), #737 (54 days), #736 (53 days), #739 (53 days), #738 (53 days), #748 (44 days), #750 (38 days), #753 (29 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them ([pa

[2015-09-03 18:11] dmzaytsev commented on #753
@antonini I guess we don't need this ticket anymore, right ?
https://github.com/yegor256/takes/issues/372#issuecomment-136180325

[2015-09-03 18:24] dmzaytsev commented on #750
@yegor256 you have requested this feature https://github.com/yegor256/netbout/issues/610
I think @antonini is right, we shouldn't allow to create a new bout or make any other changes  by GET request. But I guess you would send such links to friends by email so it can't be POST request..
I would suggest ask the confirmation before create a new bout to prevent wrong bout's creation.

@yegor256 @anto

[2015-09-03 18:33] antonini commented on #753
@dmzaytsev Yeap.

[2015-09-03 18:36] antonini commented on #750
@dmzaytsev and @yegor256 What if, the feature #610 be implemented with a "token". So it will only create a bout if that token is on the request? Something similar to keys that we generate to integrate softwares such as github.

[2015-09-03 18:37] antonini commented on #703
@super132 Can you close it?

[2015-09-03 18:48] dmzaytsev commented on #753
@rultor deploy

[2015-09-03 18:49] dmzaytsev commented on #753
@karato I just removed the puzzle from the code. we don't need this anymore

[2015-09-03 18:50] rultor commented on #753
@dmzaytsev OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/5031-137540187)

[2015-09-03 18:57] dmzaytsev commented on #750
@antonini @yegor256 or we can encrypt parameters
so @yegor256  if you will perform GET `/start-enc?post=How+are+you&invite=yegor256&invite=dmzaytsev`
you will get the respose like this `/start?enc=YUIjh89779hyh9789898`
and you could send this link to your friend

[2015-09-03 19:01] rultor commented on #753
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/5031-137540187) (took me 11min)

[2015-09-03 20:13] karato commented on #588
@mstzn36 this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-04 03:09] super132 commented on #703
@antonini Sorry but I cannot close the request as I still experience "bad request" error when uploading a PDF file like the one below in production:

https://ptgmedia.pearsoncmg.com/images/9780735619654/samplepages/9780735619654.pdf

Not sure why but it does happen. Thanks.

[2015-09-05 10:20] karato commented on #753
@dmzaytsev The task is done, thanks all, I am closing it

[2015-09-05 10:20] #753 closed

[2015-09-10 19:36] karato commented on #748
@sretenperic the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

do not forget to remove the TODO puzzle from the source code

[2015-09-12 10:01] yegor256 opened #784 "/start: multiple post arguments"
see #610

Let's make it possible to use multiple `post` arguments:

[code]

This request should create a new bout and post **two** messages into it. At the moment I only see the first message.

[2015-09-12 10:26] dmzaytsev commented on #784
@karato valid bug

[2015-09-12 11:26] karato commented on #784
@dmzaytsev tagged this issue with "bug"

[2015-09-12 12:11] karato commented on #784
@yegor256 attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-09-12 12:23] karato commented on #784
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-ec9c1c23

[2015-09-13 10:19] yegor256 commented on #750
@antonini @dmzaytsev I don't think it's a big issue now. yes, you can create a new bout accidentally, but so what? it's a cheap resource. You can create a million of them, we don't really care. But it's a very important for us to have it done through `GET`, since that's how we integrate it with other systems. Take this page for example: http://www.teamed.io/join.html (source code: https://raw.gith

[2015-09-13 17:25] dmzaytsev commented on #750
@yegor256 I take your point, but GET is  "idempotent" transaction, i.e those which can be repeated without causing any harm. In this case if your friend just clicks refresh on the link 3 times it will create 3 bout, Alice will assign 3 interviews... You're right it's not fatal but you will pay something, isn't it? Anyway it's out of the scope of the project.
A new bouts is a cheap resource as you

[2015-09-13 19:16] yegor256 commented on #750
@dmzaytsev wait... what you're saying makes sense

[2015-09-13 19:17] yegor256 commented on #750
@dmzaytsev let's not close this ticket, but find a solution instead. You're right about duplicate bouts. It's not a problem for Netbout, but is a problem for other software modules that use Netbout. What would you suggest?

[2015-09-14 08:05] dmzaytsev commented on #750
@yegor256 I would suggest
1. to use POST inside netbout
2. to use one-time ticket (one time password) as a query parameter on GET request for the integration purpose.

[2015-09-14 11:13] yegor256 commented on #750
@dmzaytsev I'm not sure I understand... at the moment I just forward the user to `http://www.netbout.com/start?post=hello` and it just works. How do you propose it to look instead?