[2015-03-18 03:01] rultor commented on #571
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2641-82705584)

[2015-03-18 03:25] rultor commented on #571
Release `2.13.6` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-03-18 03:25] rultor commented on #571
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2641-82705584) (took me 23min)

[2015-03-18 04:06] #571 closed

[2015-03-18 04:50] yegor256 opened #572 "bug in bout iterating"

[2015-03-18 04:53] yegor256 commented on #572
@rultor release, tag is `2.13.7`

[2015-03-18 04:53] #572 closed

[2015-03-18 04:53] rultor commented on #572
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2646-82738846)

[2015-03-18 05:20] rultor commented on #572
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2646-82738846) (took me 26min)

[2015-03-18 07:42] karato commented on #570
@yegor256 thanks, I added the "bug" tag

[2015-03-19 07:29] karato commented on #570
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-0728456b

[2015-03-19 16:34] dmzaytsev opened #573 "duplicated error messages"
after unsuccesful team join request(conversation #35166), Alice send messages "I'll see what I can do"
every 2,3,4,6 hours during two days. I think one error message needs.

[2015-03-19 19:51] yegor256 commented on #573
@dmzaytsev yes, it was a bug, fixed already, thanks for notifying!

[2015-03-19 19:51] #573 closed

[2015-03-20 03:29] yegor256 opened #574 "RtFriends.invite is not implemented"

[2015-03-20 03:53] yegor256 commented on #574
@rultor release, tag is `2.13.8`

[2015-03-20 03:54] rultor commented on #574
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2693-83886665)

[2015-03-20 04:19] rultor commented on #574
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/2693-83886665) (took me 24min)

[2015-03-20 04:50] #574 closed

[2015-03-23 02:41] yegor256 opened #575 "server error on "upload" right after "create""
[code]

[2015-03-26 07:32] karato commented on #575
@yegor256 got it, tag `bug` is here

[2015-03-26 08:05] karato commented on #575
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-00f10e2a

[2015-04-07 07:37] karato opened #576 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 08:55] karato opened #577 "2.14"
Please, publish a new release **2.14** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 12:58] karato opened #578 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `indie` tag to each of them.

[2015-04-10 20:30] ndbroadbent commented on #548
@yegor256, I just noticed this bug too, and would like to fix it.

[2015-04-10 22:16] yegor256 commented on #548
@karato assign @ndbroadbent to this problem pls

[2015-04-10 22:36] ndbroadbent opened #579 "Travis CI should cache maven dependencies to speed up builds"
Please see [this comment](https://github.com/travis-ci/travis-ci/issues/1441#issuecomment-67607074) on the ["Cache downloaded Maven artifacts" Travis CI issue](https://github.com/travis-ci/travis-ci/issues/1441#issuecomment-67607074) for more information.

Example `.travis.yml`: https://github.com/alv-ch/alv-ch-sysinfos.api/blob/master/.travis.yml#L7-L18

[2015-04-10 22:55] yegor256 commented on #579
we have this already: https://github.com/yegor256/netbout/blob/master/.travis.yml#L2-L4

[2015-04-12 05:36] dmzaytsev opened #580 "tasks under QA review is missing"
Completed task disappears from the Agenda page  and doesn't appear on the Earning page until it will  pass a QA review.  Would be better to show such tasks on a separate page or mark them some other way.

[2015-04-12 14:46] dmzaytsev opened #581 "urls in a message are a plain text instead html links"
Urls in a message should be clickable html links.
e.q.

looks better like this

or like this

[2015-04-12 18:43] yegor256 commented on #581
@dmzaytsev you're right, it's a valid bug

[2015-04-13 08:48] karato commented on #581
@dmzaytsev I will find a developer for the task soon...

[2015-04-13 08:48] karato commented on #548
@yegor256 OK @ndbroadbent please start, the task is yours

[2015-04-13 08:51] karato commented on #581
@dmzaytsev many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `55165398`

[2015-04-13 23:52] ndbroadbent commented on #548
@karato - This will take longer than 30 minutes, and requires some refactoring. Please see #582

[2015-04-14 04:59] dmzaytsev opened #583 "the posted message lost newline"
when I typed such message in the netbout
[code]
after post it displayed as
[code]
it would be nice to preserve EOLs in a message

[2015-04-14 07:31] yegor256 commented on #583
@dmzaytsev isn't it a duplicate of #564?

[2015-04-14 07:38] dmzaytsev commented on #583
@yegor256 yes it is
this is my mistake
I have not seen a duplicate
sorry

[2015-04-14 07:38] #583 closed

[2015-04-14 14:27] ndbroadbent commented on #579
Ah, I missed that. However, the cache is not working at the moment. I think we need to add `sudo: false` to use the container-based infrastructure, where caching is allowed for public repos. See: http://docs.travis-ci.com/user/workers/container-based-infrastructure/

[2015-04-14 16:41] ndbroadbent opened #584 "Can't log out when I run the server locally"
When I run the server locally, I can't log out to create a new account. I need to do this so that I can post messages to a bout with multiple accounts.

[2015-04-15 14:51] ndbroadbent commented on #579
Fixed in #585

[2015-04-15 14:57] ndbroadbent commented on #546
@yegor256 - I would love to take care of this one too.

[2015-04-15 19:36] yegor256 commented on #546
@ndbroadbent sure, but right after I finish this one: #569

[2015-04-17 12:17] dmzaytsev opened #586 "Automatically assign for QA review. @netbout assistant ?"
Why shouldn't automatically assign QA review for closed task via Github API? Since every task must be pass QA. I am talking about tasks which has been assigned to somebody before closed. It can also be checked via API. Someone like `@netbout` would do it.
QA-engineer will review  a task and type  `@netbout quality is good`  or  `@netbout quality is acceptable` . This bot will to set QA mark for th

[2015-04-17 22:15] yegor256 commented on #586
@dmzaytsev good idea, but it's outside of scope of netbout.

[2015-04-17 22:15] #586 closed

[2015-04-21 09:34] dmzaytsev opened #587 "Team page doesn't update after role change"
Alice reports that promote role request is done but roles list on the Team page not changed.

[2015-04-22 03:36] yegor256 commented on #587
it's not in scope of this project. netbout is just a communication platform. submit such issues inside the bout

[2015-04-22 03:36] #587 closed

[2015-04-24 12:19] YamStranger opened #588 "Application Error during access to some pages"
@yegor256
Problem:
 If user tries to get access to pages without rights to access them, he receives "Application Error". Application must never return errors to user.
Solution:
 In this situation application must return to him page with correct explanation, not error. For example "We have no page you are looking for" or http://stackoverflow.com/questionsMy

Please look at image.
![application erro

[2015-04-27 08:57] karato commented on #588
@yamstranger I am aware of the task, give me some time to find a developer...

[2015-04-27 09:01] karato commented on #588
@yamstranger thanks for reporting! I topped your account for 15 mins, transaction 56032529

[2015-05-10 00:26] yegor256 commented on #569
@rultor release, tag is `2.14`

[2015-05-10 00:26] rultor commented on #569
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3724-100564964)

[2015-05-10 00:31] rultor commented on #569
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3724-100564964) (spent 5min)

[code]

[2015-05-10 00:35] yegor256 commented on #569
@rultor release, tag is `2.14`

[2015-05-10 00:35] rultor commented on #569
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3724-100566944)

[2015-05-10 00:45] rultor commented on #569
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3724-100566944) (spent 10min)

[code]

[2015-05-10 00:48] yegor256 commented on #569
@rultor release, tag is `2.14`

[2015-05-10 00:49] rultor commented on #569
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3724-100568005)

[2015-05-10 01:04] rultor commented on #569
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3724-100568005) (spent 15min)

[code]

[2015-05-10 03:40] super132 opened #589 "Application Error when login using Github account"
I attempted to login to NetBout.com with version 3.0-SNAPSHOT using my GitHub account and I encounter the following error screen:
![screen shot 2015-05-10 at 11 39 35 am](https://cloud.githubusercontent.com/assets/6581896/7553000/56c1001a-f709-11e4-8ad1-b568e6664f92.png)

[2015-05-10 03:46] yegor256 commented on #589
@super132 yeah, we're temporary down... will be fixed in a few minutes

[2015-05-10 03:55] yegor256 commented on #589
@super132 works fine now

[2015-05-10 03:55] #589 closed

[2015-05-10 05:45] dmzaytsev opened #590 "link to any page causes the message "page not found""
I got "page not found" when clicked any page link
e.g. http://www.netbout.com/b/35166/open?name=agenda

[2015-05-10 06:28] yegor256 commented on #590
@dmzaytsev fixed already, thanks

[2015-05-10 06:28] #590 closed

[2015-05-10 06:28] yegor256 opened #591 "layout fixes"

[2015-05-10 06:29] yegor256 commented on #591
@rultor release, tag is `2.14`

[2015-05-10 06:29] rultor commented on #591
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3728-100592379)

[2015-05-10 06:40] rultor commented on #591
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3728-100592379) (took me 11min)

[2015-05-10 06:43] #591 closed

[2015-05-10 18:02] dmzaytsev opened #592 "post a message causes Internal Application Error"
when I post a message  I got the error

[code]

[2015-05-10 19:21] yegor256 commented on #592
@dmzaytsev very strange... looking into it

[2015-05-10 19:28] dmzaytsev commented on #592
@yegor256  I sent four messages today and got this error four times

[2015-05-10 19:30] yegor256 commented on #592
@dmzaytsev it works fine on my laptop, just confirmed with an integration test :(

[2015-05-10 19:30] yegor256 commented on #592
@dmzaytsev something is wrong with JVM in Heroku or our way of deploying the app there

[2015-05-10 19:58] yegor256 commented on #592
@dmzaytsev asked this: http://stackoverflow.com/questions/30156048/java-lang-nosuchmethoderror-com-sun-mail-util-traceinputstream

[2015-05-10 20:29] yegor256 commented on #592
@dmzaytsev fixed, thanks to SO

[2015-05-10 20:29] #592 closed

[2015-05-10 20:30] yegor256 commented on #592
@rultor release, tag is `2.14.1`

[2015-05-10 20:31] rultor commented on #592
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3731-100696903)

[2015-05-10 20:48] rultor commented on #592
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3731-100696903) (took me 17min)

[2015-05-10 23:09] yegor256 opened #593 "new user registration doesn't work"

[2015-05-11 01:08] yegor256 commented on #593
@rultor release, tag is `2.14.2`

[2015-05-11 01:09] rultor commented on #593
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3737-100726938)

[2015-05-11 01:19] rultor commented on #593
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3737-100726938) (took me 11min)

[2015-05-11 01:23] #593 closed

[2015-05-11 01:30] yegor256 commented on #584
@rultor release, tag is `2.14.3`

[2015-05-11 01:31] rultor commented on #584
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3738-100731936)

[2015-05-11 01:31] yegor256 commented on #584
@ndbroadbent should be working now. start the app like this:

[code]

Then, open `http://localhost:8080`

Then, open this URL: `localhost:8080/?PsByFlag=fake-user&urn=urn:test:12345`, register a user and enjoy. Any moment you can open the same URL with a different number after `urn:test:`

[2015-05-11 01:32] yegor256 commented on #588
it's fixed already

[2015-05-11 01:33] yegor256 commented on #581
@ndbroadbent can you fix this? shall I assign it to you?

[2015-05-11 01:33] yegor256 commented on #569
done

[2015-05-11 01:33] #569 closed

[2015-05-11 01:34] #575 closed

[2015-05-11 01:46] rultor commented on #584
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3738-100731936) (took me 15min)

[2015-05-11 07:05] karato commented on #584
@ndbroadbent I will ask someone to take care of this task soon

[2015-05-11 07:06] karato commented on #584
@ndbroadbent thanks for the report, I topped your acc for 15 mins, payment ID `AP-18C51600567278336`

[2015-05-11 18:40] yegor256 opened #594 "Firefox: Error loading stylesheet: Parsing an XSLT stylesheet failed."
The site doesn't render in Firefox at all:

[code]

[2015-05-11 19:20] yegor256 commented on #594
@rultor release, tag is `2.14.4`

[2015-05-11 19:20] rultor commented on #594
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3747-101023008)

[2015-05-11 19:36] rultor commented on #594
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3747-101023008) (took me 16min)

[2015-05-11 19:38] #594 closed

[2015-05-11 19:39] yegor256 commented on #594
@rultor release, tag is `2.14.5`

[2015-05-11 19:40] rultor commented on #594
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3747-101027538)

[2015-05-11 19:55] rultor commented on #594
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3747-101027538) (took me 15min)

[2015-05-11 23:56] yegor256 opened #595 "java.lang.NoSuchMethodError: com.sun.mail.util.TraceInputStream..."
[code]

similar to #592

[2015-05-12 00:13] yegor256 commented on #595
@rultor release, tag is `2.14.6`

[2015-05-12 00:14] rultor commented on #595
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3748-101079387)

[2015-05-12 00:28] rultor commented on #595
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3748-101079387) (spent 14min)

[code]

[2015-05-12 00:35] yegor256 commented on #595
@rultor release, tag is `2.14.6`

[2015-05-12 00:35] rultor commented on #595
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3748-101082223)

[2015-05-12 00:51] rultor commented on #595
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3748-101082223) (took me 16min)

[2015-05-12 08:04] karato commented on #577
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-13 05:36] yegor256 opened #596 "bad_request errors pollute logs"

[2015-05-13 05:44] yegor256 commented on #596
@rultor release, tag is `2.14.7`

[2015-05-13 05:44] rultor commented on #596
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3761-101520062)

[2015-05-13 06:01] rultor commented on #596
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3761-101520062) (took me 16min)

[2015-05-13 06:04] #596 closed

[2015-05-13 06:07] yegor256 opened #597 "build number is not deployed"

[2015-05-13 06:10] yegor256 commented on #597
@rultor release, tag is `2.14.8`

[2015-05-13 06:10] rultor commented on #597
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3762-101525498)

[2015-05-13 06:21] rultor commented on #597
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3762-101525498) (took me 11min)

[2015-05-13 06:42] #597 closed

[2015-05-13 07:51] cyberone opened #598 "Netbout escapes HTML tags"
After transformation netbouts outputs calculated pages with HTML tags escaped instead of direct output, e.g I see:

[code]

instead of

[code]

in a HTML source I see:

[code]

[2015-05-13 18:16] longtimeago commented on #598
@cyberone @yegor256 Issue is reproduced in FF.
For Chrome all is OK

[2015-05-13 19:50] yegor256 commented on #598
@cyberone @longtimeago stupid FF... I'll take a look, thanks

[2015-05-13 22:08] yegor256 commented on #598
@cyberone seems to be a bug in firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=98168

[2015-05-14 01:11] cyberone commented on #598
@yegor256 sorry, closing then.

[2015-05-14 01:14] yegor256 commented on #598
@cyberone no no, we have to fix, don't close :)

[2015-05-14 01:20] cyberone commented on #598
@yegor256 that'd be great.

[2015-05-14 06:33] yegor256 commented on #598
@rultor release, tag is `2.14.9`

[2015-05-14 06:34] rultor commented on #598
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3771-101936665)

[2015-05-14 06:51] rultor commented on #598
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3771-101936665) (took me 17min)

[2015-05-14 06:52] yegor256 commented on #598
@cyberone check now

[2015-05-14 07:42] karato commented on #577
@yegor256 The description of the task was changed (see above). If anybody has any questions or concerns about this change, please express them right now. Otherwise, please work with the new version

[2015-05-14 08:24] cyberone commented on #598
@yegor256 thanks, closing now.

[2015-05-14 08:24] #598 closed

[2015-05-15 22:10] yegor256 opened #599 "attachment delete doesn't work"
I can't delete an attachment

[2015-05-15 22:35] yegor256 commented on #599
@rultor release, tag is `2.14.10`

[2015-05-15 22:35] rultor commented on #599
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3791-102540815)

[2015-05-15 22:51] rultor commented on #599
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3791-102540815) (took me 16min)

[2015-05-15 23:35] yegor256 commented on #599
@rultor release, tag is `2.14.11`

[2015-05-15 23:36] rultor commented on #599
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3791-102547425)

[2015-05-15 23:53] rultor commented on #599
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3791-102547425) (took me 16min)

[2015-05-16 05:16] yegor256 commented on #599
@rultor release, tag is `2.14.12`

[2015-05-16 05:17] rultor commented on #599
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3791-102572225)

[2015-05-16 05:28] rultor commented on #599
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/3791-102572225) (took me 11min)

[2015-05-16 05:54] #599 closed

[2015-05-16 17:45] dmzaytsev opened #600 "Reply to Netbout message from Email"
At the moment when I get a email notification to respond to the message, I have to open a browser, to login to Netbout and type a message.
It would be useful to be able to reply  from email as it does Github.

[2015-05-16 18:40] yegor256 commented on #600
@dmzaytsev yes, make sense, thanks

[2015-05-17 09:30] YamStranger commented on #588
@yegor256 This issue is not fixed.
Now I can find null pointers.
![nullpointer](https://cloud.githubusercontent.com/assets/1667699/7669825/7f7d4c2a-fc90-11e4-960f-17dcaf65cc48.JPG)

[2015-05-17 14:30] dmzaytsev opened #601 "Netbout roadmap"
Is there any roadmap for the Netbout project ?
Maybe some ideas for it's elaboration or anything else?

[2015-05-17 16:42] yegor256 opened #602 "invite via email"
It should be possible to invite a user into a bout, just by using his email. I just type in an email address into "invite" box and the user gets into the bout. He receives emails with all messages and is able to reply to them (after #600 is ready). When he clicks the link inside the email, he gets into web app and it asks him to register. Once registered, we link all bouts associated with this ema

[2015-05-17 16:43] yegor256 opened #603 "search"
At the moment, search is not implemented, but it has to be. There should be a search box at the top bar, which should search by keyword either in the inbox or in the current bout. Let's use DynamoDB for search index.

[2015-05-17 16:45] #595 closed

[2015-05-17 16:46] yegor256 commented on #555
@dpisarenko fixed

[2015-05-17 16:46] #555 closed

[2015-05-17 16:47] yegor256 commented on #550
@alevohin it's fixed already

[2015-05-17 16:47] #550 closed

[2015-05-17 16:47] #530 closed

[2015-05-17 16:48] #527 closed

[2015-05-17 16:48] #579 closed

[2015-05-17 16:49] yegor256 commented on #601
@dmzaytsev I created the first milestone: https://github.com/yegor256/netbout/milestones That's all we have and it should be enough

[2015-05-17 16:49] #601 closed

[2015-05-17 17:08] dmzaytsev commented on #603
@karato it's a valid bug

[2015-05-17 17:09] dmzaytsev commented on #603
@karato  set milestone to 3.0

[2015-05-17 17:10] dmzaytsev commented on #602
@karato it's a valid bug

[2015-05-17 17:10] dmzaytsev commented on #602
@karato set milestone to 3.0

[2015-05-17 17:12] dmzaytsev commented on #602
@karato this task is posponed

[2015-05-17 17:13] dmzaytsev commented on #600
set milestone to 3.0

[2015-05-17 17:17] dmzaytsev commented on #584
@ndbroadbent the issue resolved, right? if so close the task please

[2015-05-17 17:17] dmzaytsev commented on #581
@karato set milestone to 3.0

[2015-05-17 17:21] dmzaytsev commented on #570
@karato set milestone to 3.0

[2015-05-17 17:29] dmzaytsev commented on #567
@yegor256 Is this issue resolved ? if so close the task please

[2015-05-17 17:30] dmzaytsev commented on #566
@karato set milestone to 3.0

[2015-05-17 17:33] dmzaytsev commented on #568
@pinaf it's not in scope of this project. Submit such issues inside the netbout

[2015-05-17 17:34] dmzaytsev commented on #568
@karato this is invalid ticket

[2015-05-17 17:35] dmzaytsev commented on #564
@karato set milestone to 3.0

[2015-05-17 17:37] dmzaytsev commented on #561
@yegor256 I think it's not in scope of this project, but I see the bug tag here.
Should we mark the ticket as invalid?

[2015-05-17 17:38] dmzaytsev commented on #554
@karato set milestone to 3.0

[2015-05-17 17:40] dmzaytsev commented on #560
@yegor256 this is out of the scope of the project. Isn't it ?

[2015-05-17 17:44] dmzaytsev commented on #549
@alevohin this issue fixed already
@yegor256 correct me if I wrong

[2015-05-17 17:45] dmzaytsev commented on #548
@karato set milestone 3.0

[2015-05-17 17:45] dmzaytsev commented on #547
@karato set milestone to 3.0

[2015-05-17 17:48] dmzaytsev commented on #543
@yegor256 Is this fixed already ? If so close the task please
If no let me know how to reproduce the issue

[2015-05-17 18:02] dmzaytsev opened #604 "com.netbout.rest.MarkdownTest fails under windows"
`com.netbout.rest.MarkdownTest` fails when the project builds under windows

formatsTextFragmentsToHtml(com.netbout.rest.MarkdownTest)  Time elapsed: 0.524 sec  <<< FAILURE!
java.lang.AssertionError:
Expected: "<p>hi, \n<em>dude</em>!</p>"
     but: was "<p>hi, \r\n<em>dude</em>!</p>"
        at org.hamcrest.MatcherAssert.assertThat(MatcherAssert.java:20)
        at org.hamcrest.MatcherAssert.asse

[2015-05-17 18:03] dmzaytsev commented on #604
@karato it's a valid bug

[2015-05-17 18:04] dmzaytsev commented on #604
@karato set milestone to 3.0

[2015-05-17 18:04] yegor256 commented on #543
@dmzaytsev right, it's gone

[2015-05-17 18:04] #543 closed

[2015-05-17 18:23] dmzaytsev opened #605 "Can't run the server locally"
I try to run the server  `mvn clean install -DskipTests=true -Phit-refresh -Dport=8080`
and got error

        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
        at java.lang.reflect.Method.invo

[2015-05-17 18:27] dmzaytsev commented on #580
@karato it is invalid task
it's not in scope of this project

[2015-05-17 18:27] #580 closed

[2015-05-17 18:33] yegor256 commented on #605
@dmzaytsev try this:

[code]

The problem is that you skip tests and that's why local dynamodb doesn't start

[2015-05-17 18:34] yegor256 commented on #560
@dmzaytsev yes it's out of scope

[2015-05-17 18:34] yegor256 commented on #561
@dmzaytsev yes, I agree, it's out of scope

[2015-05-17 18:35] yegor256 commented on #567
@dmzaytsev no, it's not resolved. if you click "Post Message" twice, you will get two identical messages

[2015-05-17 18:38] dmzaytsev commented on #526
@longtimeago I uploaded a file without extension successfully. Seems this issue fixed already. If so close the task please

[2015-05-17 18:39] dmzaytsev commented on #567
@karato set millestone to 3.0

[2015-05-17 18:43] dmzaytsev commented on #605
@yegor256 thanks!

under windows a test fails, under linux I have a http proxy issue with another test ... :)

[2015-05-17 18:43] #605 closed

[2015-05-17 18:43] dmzaytsev commented on #560
@karato this is invalid task

[2015-05-17 18:44] dmzaytsev commented on #561
@karato this is invalid task

[2015-05-17 19:06] longtimeago commented on #526
@dmzaytsev looks like that, thanks!

[2015-05-17 19:06] #526 closed

[2015-05-17 19:28] dmzaytsev opened #606 "@mention autocompletion"
I believe netbout needs `@mention` autocompletion like Github.
When you type an @ and you should see a list of people on the boat. Continue typing to filter the list and hit enter or tab to complete the name.

updated 6/10/2015:
you might to use e.g. this autocompletion implementation https://github.com/podio/jquery-mentions-input but feel free to propose another. I spent 3 mins to google it....

[2015-05-17 19:28] dmzaytsev commented on #606
@karato it's a valid bug

[2015-05-17 19:29] dmzaytsev commented on #606
@karato please set millestone to 3.0

[2015-05-17 21:51] #568 closed

[2015-05-18 00:26] #584 closed

[2015-05-18 02:15] yegor256 commented on #606
@dmzaytsev yes, that would be awesome

[2015-05-18 02:16] yegor256 commented on #588
@YamStranger thanks, reopening...

[2015-05-18 03:34] dmzaytsev opened #607 "milestone 3.1"
@yegor256 Could you create a new milestone 3.1 please?

[2015-05-18 03:41] dmzaytsev commented on #606
@karato this issue is postponed

[2015-05-18 03:45] yegor256 commented on #607
done: https://github.com/yegor256/netbout/milestones?with_issues=no

[2015-05-18 03:45] #607 closed

[2015-05-18 07:02] dmzaytsev opened #608 "RESTful API"
@yegor256

Do you mean to create a new implementation `com.netbout.client` ?
what it will be different from existing one?

[2015-05-18 07:20] yegor256 commented on #608
@dmzaytsev no no, I mean that existing one is not fully implemented. Some methods still throw `UnsupportedOperationException`

[2015-05-18 07:22] dmzaytsev commented on #608
@yegor256 Ok
thanks

[2015-05-18 07:22] #608 closed

[2015-05-18 19:15] dmzaytsev commented on #608
@yegor256
As far as I understand we need implement java client Restful API  for all classes in `com.netbout.spi` except `Base` and `Pageable`. Right?
If so we have to implement

`com.netbout.client.RtAlias.email() `
`com.netbout.client.RtAlias.email(final String email)`
`com.netbout.client.RtUser.friends(String text)`
`com.netbout.client.RtFriends.friends()`

[2015-05-18 19:30] yegor256 commented on #608
@dmzaytsev yes, looks like that

[2015-05-18 22:22] yegor256 opened #609 "return after login"
Say, I'm not logged in. I open `http://www.netbout.com/b/12345`. Now I'm getting "page not found" page.

Instead, would be better to throw me to the login page and ask to login. After I login (or login+register) I get back to the original page I was looking for (http://www.netbout.com/b/12345)

[2015-05-18 22:43] yegor256 opened #610 "/start with arguments"
It should be possible to make this request:

[code]

Such a request should start a bout, invite a few users and post a message. All in one go.

[2015-05-19 06:48] dmzaytsev commented on #610
@karato please set milestone to 3.0

[2015-05-19 06:48] dmzaytsev commented on #609
@karato please set milestone to 3.0

[2015-05-19 06:49] dmzaytsev commented on #610
@karato it's a valid bug

[2015-05-19 06:49] dmzaytsev commented on #609
@karato it's a valid bug

[2015-05-19 13:00] dmzaytsev opened #611 "RtAlias.email not implemented yet"
`com.netbout.client.RtAlias.email()` and `com.netbout.client.RtAlias.email(final String email)` not implemented yet but has to be. Let's implement them and don't forget about the unit test.

[2015-05-19 13:00] dmzaytsev commented on #611
@karato it's a valid bug

[2015-05-19 13:00] dmzaytsev commented on #611
@karato please set milestone to 3.0

[2015-05-19 13:02] dmzaytsev opened #612 "RtUser.friends() not implemented"
`com.netbout.client.RtUser.friends(String text)` not implemented yet but has to be.
Let's implement it and don't forget about the unit test

[2015-05-19 13:02] dmzaytsev commented on #612
@karato it's a valid bug

[2015-05-19 13:02] dmzaytsev commented on #612
@karato please set milestone to 3.0

[2015-05-19 13:04] dmzaytsev opened #613 "RtFriends.friends() not implemented"
`com.netbout.client.RtFriends.friends()` not implemented yet but has to be.
Let's implement it and don't forget about the unit test

[2015-05-19 13:04] dmzaytsev commented on #613
@karato it's a valid bug

[2015-05-19 13:04] dmzaytsev commented on #613
@karato please set milestone to 3.0

[2015-05-19 13:37] dmzaytsev commented on #604
@karato this task is postponed

[2015-05-19 15:56] dmzaytsev opened #614 "Preview the entered message"
It would be great if we will allow to preview a message before post it.
we should implement two tabs above the message area: Write and Preview like in the Github comments.  Let's use `com.netbout.rest.Markdown` for convert the entered message to html.

[2015-05-19 15:56] dmzaytsev commented on #614
@karato it's a valid bug

[2015-05-19 15:57] dmzaytsev commented on #614
@karato please set milestone to 3.0

[2015-05-19 16:01] dmzaytsev commented on #564
@karato this issue will be resolved in #614
please set duplicate tag

[2015-05-19 16:02] dmzaytsev commented on #554
@karato this issue will be resolved in #614
please set duplicate tag

[2015-05-19 16:05] dmzaytsev commented on #577
@yegor256 please see the project report

Scope status:

* RESTful API [75%]
* search functionality [none]
* email enhancement [none]
* UI enhancement[none]
* current bugs fix [none]

Issues:

* 548 redundant email on message post
* 609 return after login
* 581 urls in a message are a plain text instead html links
* 564 Netbout should respect newline in post messages
* 567 prevent duplicate message

[2015-05-19 16:07] dmzaytsev commented on #577
@yegor256 please update [.rultor.yml](https://github.com/yegor256/netbout/blob/master/.rultor.yml)

[2015-05-19 19:16] karato commented on #600
@dmzaytsev I am aware of the task, give me some time to find a developer...

[2015-05-19 19:16] karato commented on #526
@longtimeago I set milestone here to `3.1`, let me know if it is wrong

[2015-05-19 19:16] karato commented on #527
@yegor256 since the ticket has no milestone I set it to 3.1

[2015-05-19 19:16] karato commented on #528
@carlosmiranda milestone set to `3.1` (correct me if I am wrong)

[2015-05-19 19:16] karato commented on #530
@yegor256 attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-05-19 19:16] karato commented on #535
@longtimeago attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-05-19 19:16] karato commented on #541
@maurezen attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-05-19 19:16] karato commented on #543
@yegor256 I set milestone here to `3.1`, let me know if it is wrong

[2015-05-19 19:16] karato commented on #546
@carlosmiranda milestone set to `3.1` (correct me if I am wrong)

[2015-05-19 19:16] karato commented on #547
@carlosmiranda milestone set to `3.1` (correct me if I am wrong)

[2015-05-19 19:16] karato commented on #548
@yegor256 there is no milestone yet, so I set it to `3.1`

[2015-05-19 19:16] karato commented on #549
@alevohin since the ticket has no milestone I set it to 3.1

[2015-05-19 19:16] karato commented on #550
@alevohin there is no milestone yet, so I set it to `3.1`

[2015-05-19 19:16] karato commented on #553
@carlosmiranda I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-05-19 19:16] karato commented on #554
@maurezen since there is no milestone yet I set it to "3.1"

[2015-05-19 19:16] karato commented on #555
@dpisarenko since the ticket has no milestone I set it to 3.1

[2015-05-19 19:16] karato commented on #560
@carlosmiranda there is no milestone yet, so I set it to `3.1`

[2015-05-19 19:16] karato commented on #561
@maurezen attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-05-19 19:16] karato commented on #564
@longtimeago since the ticket has no milestone I set it to 3.1

[2015-05-19 19:16] karato commented on #566
@carlosmiranda attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-05-19 19:16] karato commented on #567
@yegor256 I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-05-19 19:16] karato commented on #570
@yegor256 since the ticket has no milestone I set it to 3.1

[2015-05-19 19:16] karato commented on #576
@yegor256 attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-05-19 19:16] karato commented on #577
@yegor256 I set milestone here to `3.1`, let me know if it is wrong

[2015-05-19 19:16] karato commented on #578
@yegor256 attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-05-19 19:16] karato commented on #581
@dmzaytsev attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-05-19 19:16] karato commented on #584
@ndbroadbent since there is no milestone yet I set it to "3.1"

[2015-05-19 19:16] karato commented on #588
@yamstranger I set milestone here to `3.1`, let me know if it is wrong

[2015-05-19 19:16] karato commented on #600
@dmzaytsev since the ticket has no milestone I set it to 3.1

[2015-05-19 19:16] karato commented on #614
@dmzaytsev added "bug" tag to this issue

[2015-05-19 19:16] karato commented on #612
@dmzaytsev I tagged this as "bug"

[2015-05-19 19:16] karato commented on #613
@dmzaytsev I just added bug tag here

[2015-05-19 19:16] karato commented on #610
@dmzaytsev I just added bug tag here

[2015-05-19 19:16] karato commented on #611
@dmzaytsev tag "bug" added

[2015-05-19 19:16] karato commented on #609
@dmzaytsev tagged this issue with "bug"

[2015-05-19 19:16] karato commented on #606
@dmzaytsev tagged this issue with "bug"

[2015-05-19 19:19] yegor256 commented on #577
@karato set milestone to 3.0 here

[2015-05-19 19:21] yegor256 commented on #614
@dmzaytsev markdown is already supported in messages, try it. The only thing that is not supported is that "preview" button

[2015-05-19 20:08] alevohin commented on #549
@dmzaytsev could you please provide some additional info issue's fix?

[2015-05-19 20:42] karato commented on #604
@dmzaytsev we will find someone to do this task, soon

[2015-05-19 20:42] karato commented on #604
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2015-05-19 20:42] karato commented on #606
@dmzaytsev I set milestone here to `3.1`, let me know if it is wrong

[2015-05-19 20:42] karato commented on #609
@yegor256 I set milestone here to `3.1`, let me know if it is wrong

[2015-05-19 20:42] karato commented on #610
@yegor256 since there is no milestone yet I set it to "3.1"

[2015-05-19 20:42] karato commented on #611
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-05-19 20:42] karato commented on #612
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2015-05-19 20:42] karato commented on #613
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2015-05-19 20:42] karato commented on #614
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2015-05-19 20:42] karato commented on #547
@dmzaytsev milestone set to `3.0`, thanks

[2015-05-19 20:42] karato commented on #554
@dmzaytsev milestone is set to 3.0

[2015-05-19 20:42] karato commented on #561
@dmzaytsev got it, "invalid" tag here

[2015-05-19 20:42] karato commented on #560
@dmzaytsev got it, "invalid" tag here

[2015-05-19 20:42] karato commented on #566
@dmzaytsev thanks, I set it to "3.0"

[2015-05-19 20:42] karato commented on #564
@dmzaytsev the milestone here is 3.0

[2015-05-19 20:42] karato commented on #602
@dmzaytsev tag "bug" added

[2015-05-19 20:42] karato commented on #603
@dmzaytsev I tagged this as "bug"

[2015-05-19 20:49] karato commented on #577
@dmzaytsev this is your task

[2015-05-19 20:50] karato commented on #600
@dmzaytsev thanks for tis bug, I topped your account for 15 mins, transaction `57638899`

[2015-05-20 03:30] dmzaytsev commented on #553
@karato this is postponed task

[2015-05-20 03:51] dmzaytsev commented on #549
@alevohin Netbout has been migrated to Takes.
We have no class  `com.netbout.rest.LoginRs` any more, that's why I think the issue fixed
But if you got the same error recently please let me know how I can reproduce this.
Thank you

[2015-05-20 05:13] dmzaytsev commented on #577
@yegor256 what do you think about [GreenMail](http://www.icegreen.com/greenmail/) for testing the email interactions  ?

[2015-05-20 05:44] yegor256 commented on #577
@dmzaytsev looks like a good option

[2015-05-20 05:52] dmzaytsev commented on #577
it doesn't allow to use random ports,
but Rultor runs a build in the docker container and we do not get a port conflict
Or we can create some class for a port reservation

[2015-05-20 05:54] yegor256 commented on #577
@dmzaytsev yeah, it's better to reserver a port properly. we can copy-paste `Ports` class from Takes framework

[2015-05-20 05:56] dmzaytsev commented on #577
@yegor256 sure, I thought about it

[2015-05-20 06:23] YamStranger commented on #588
@karato have you a link about meaning of "milestone" on such projects?

[2015-05-20 06:30] dmzaytsev opened #615 "Network port reservation"
Let's create class `Ports` for network port reservation and put it into `com.netbout.misc` package.
We can copy-paste `Ports` class from Takes framework.

[2015-05-20 06:31] dmzaytsev commented on #615
@karato it's a valid bug

please set milestone to 3.0

this is urgent task

[2015-05-20 06:33] dmzaytsev commented on #548
@karato we are wating #582 here

[2015-05-20 06:37] dmzaytsev commented on #615
@karato please assign @ndbroadbent to this task

[2015-05-20 06:39] dmzaytsev commented on #548
@karato please assign @ndbroadbent to this task

[2015-05-20 08:06] yegor256 commented on #548
@karato milestone here is 3.0

[2015-05-20 09:03] karato commented on #602
@yegor256 I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-05-20 09:03] karato commented on #603
@yegor256 I set milestone here to `3.1`, let me know if it is wrong

[2015-05-20 09:03] karato commented on #553
@dmzaytsev right, I added "postponed" tag

[2015-05-20 09:03] karato commented on #553
@dmzaytsev got it, someone else will be assigned soon

[2015-05-20 09:03] karato commented on #570
@dmzaytsev sure, milestone set to 3.0

[2015-05-20 09:03] karato commented on #577
@yegor256 thanks, I set it to "3.0"

[2015-05-20 09:03] karato commented on #581
@dmzaytsev milestone is set to 3.0

[2015-05-20 09:03] karato commented on #600
@dmzaytsev milestone set to `3.0`, thanks

[2015-05-20 09:03] karato commented on #613
@dmzaytsev I attached this issue to milestone `3.0`

[2015-05-20 09:03] karato commented on #614
@dmzaytsev I attached this issue to milestone `3.0`

[2015-05-20 09:04] karato commented on #612
@dmzaytsev milestone set to `3.0`, thanks

[2015-05-20 09:04] karato commented on #611
@dmzaytsev I set the milestone here to 3.0

[2015-05-20 09:09] karato commented on #547
@ikhvostenkov do this task

[2015-05-20 09:09] karato commented on #554
@erimerturk this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-20 09:09] karato commented on #564
@lautarobock this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-20 09:10] karato commented on #614
@dmzaytsev many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `57685379`

[2015-05-20 09:13] dmzaytsev commented on #554
@karato this task should not be assigned
this issue will be resolved in #614
please set duplicate tag and close the task

[2015-05-20 09:17] dmzaytsev commented on #564
@karato this task should not be assigned
this issue will be resolved in #614
please set duplicate tag and close the task

[2015-05-20 12:01] karato commented on #548
@yegor256 thanks, I set it to "3.0"

[2015-05-20 12:01] karato commented on #609
@dmzaytsev the milestone here is 3.0

[2015-05-20 12:01] karato commented on #610
@dmzaytsev milestone is set to 3.0

[2015-05-20 12:01] karato commented on #606
@dmzaytsev I attached this issue to milestone `3.0`

[2015-05-20 12:01] karato commented on #606
@dmzaytsev sure, thanks, I added "postponed" tag to it

[2015-05-20 12:01] karato commented on #604
@dmzaytsev sure, milestone set to 3.0

[2015-05-20 12:01] karato commented on #604
@dmzaytsev sure, thanks, I added "postponed" tag to it

[2015-05-20 12:01] karato commented on #602
@dmzaytsev thanks, I set it to "3.0"

[2015-05-20 12:01] karato commented on #603
@dmzaytsev sure, milestone set to 3.0

[2015-05-20 12:01] karato commented on #602
@dmzaytsev got it, "postponed" tag here

[2015-05-20 13:29] karato commented on #600
@ikhvostenkov this is your task

[2015-05-20 13:29] karato commented on #602
@komaz this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-20 13:29] karato commented on #613
@dmzaytsev thanks a lot for reporting, **15 mins** added to your acc, pmt ID `57691869`

[2015-05-20 13:51] erimerturk commented on #554
@karato please decide it is duplicate or not. i will go on after your decision.

[2015-05-20 14:08] karato commented on #603
@ikhvostenkov do this task

[2015-05-20 14:08] karato commented on #612
@dmzaytsev thank you for the ticket reported, I topped your account for 15 mins, transaction `57693110`

[2015-05-20 15:04] karato commented on #611
@dmzaytsev many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `57694731`

[2015-05-20 16:47] karato commented on #610
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-7fe61838

[2015-05-20 17:23] karato commented on #609
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-122e7fef

[2015-05-20 17:24] yegor256 commented on #554
@karato this task is duplicate

[2015-05-20 17:25] yegor256 commented on #564
@karato it's a duplicate of #614

[2015-05-20 17:26] yegor256 commented on #588
@YamStranger milestones are here: https://github.com/yegor256/netbout/milestones

[2015-05-20 18:19] karato commented on #609
@komaz the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-20 18:19] karato commented on #606
@dmzaytsev thank you for the ticket reported, I topped your account for 15 mins, transaction `57699831`

[2015-05-20 19:10] karato commented on #554
@yegor256 right, I added "invalid", "duplicate" tags

[2015-05-20 19:10] karato commented on #564
@yegor256 right, I added "invalid", "duplicate" tags

[2015-05-20 19:16] karato commented on #604
@komaz please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here... Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-05-20 19:16] karato commented on #604
@dmzaytsev thanks for the ticket, your account was topped for 15 mins, payment 57701340

[2015-05-20 20:57] karato commented on #526
@yegor256 there weren't any messages from you, no need to pay, as I understand (feel free to correct me)

[2015-05-20 20:58] karato commented on #610
@komaz this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-05-20 20:58] karato commented on #611
@mbarbieri it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-20 20:59] karato commented on #603
@yegor256 many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `000-332d7e53`

[2015-05-21 06:43] mbarbieri commented on #611
By unit tests you mean similar to `com.netbout.client.RtMessagesITCase`?
I'm not able to run any of those tests because *netbout.token* is empty..
How can I run them?
Thanks

[2015-05-21 06:56] komaz opened #616 "TkPost.act catches wrong exception"
`TkPost.act` posts messages like this:
[code]
However according to `DyMessages.post`, the exception thrown should be `Messages.BrokenPostException`. Looks like the catch snippet is taken from `TkAttach`.

[2015-05-21 07:13] dmzaytsev opened #617 "where com.netbout.mock is used?"
@yegor256  What is the purpose of these classes `com.netbout.mock.*` ?
I could not find where it is used

[2015-05-21 08:25] dmzaytsev commented on #616
@komaz you're right, thanks!

[2015-05-21 08:25] dmzaytsev commented on #616
@karato it's a valid bug

[2015-05-21 08:26] dmzaytsev commented on #616
@karato please set milestone to 3.0

[2015-05-21 08:28] dmzaytsev commented on #602
@komaz let's use [GreenMail](http://www.icegreen.com/greenmail/) for email testing

[2015-05-21 08:29] dmzaytsev commented on #600
@ikhvostenkov let's use [GreenMail](http://www.icegreen.com/greenmail/) for email testing

[2015-05-21 08:33] dmzaytsev commented on #602
@karato we are waiting #600 here

[2015-05-21 08:53] komaz opened #618 "MkInbox is not equivalent to DyInbox"
Consider an inbox without bouts. The same snippet will work fine on dynamo db, but fails with `NoSuchElementException` on mock db:
[code]
Looks like `MkInbox.start` should also add a self alias into `friend` table, as `MkFriends.invite` does.

[2015-05-21 09:37] komaz commented on #617
@dmzaytsev I found MkBase usage in `com.netbout.rest` tests, e.g `con.netbout.rest.bout.TkCreateTest`

[2015-05-21 09:40] karato commented on #616
@dmzaytsev tagged this issue with "bug"

[2015-05-21 09:44] karato commented on #548
@mbarbieri the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-21 09:44] karato commented on #566
@erimerturk this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here... **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time y

[2015-05-21 09:44] karato commented on #570
@lautarobock This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-05-21 09:44] karato commented on #602
@yegor256 thanks for this report, I added 15 mins to your account, in transaction `000-9b6df556`

[2015-05-21 10:08] komaz opened #620 "Kick link is broken"
When I'm trying to kick someone from a conversation on an index page, the kick link looks like this: `http://www.netbout.com/b/5555555/%2Fkick?name=ivaninozemtsev`. When I click on it, I get an error message `page not found`. Looks like an extra slash is escaped as `%2F` here.

I think the problem is in `TkInbox.source(Bout, Friend)` method:
[code]

[2015-05-21 10:59] karato commented on #616
@komaz attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-05-21 11:04] karato commented on #616
@komaz thanks for tis bug, I topped your account for 15 mins, transaction `AP-41274360G2475400S`

[2015-05-21 12:45] karato commented on #616
@dmzaytsev the milestone here is 3.0

[2015-05-21 12:49] karato commented on #606
@ekondrashev this is your task

[2015-05-21 13:54] lautarobock commented on #570
@yegor256 Where can I get documentation or some extra information to contextualize it?

[2015-05-21 14:38] karato commented on #612
@ekondrashev this is your task

[2015-05-21 15:28] ekondrashev opened #622 "User.friends documentation is not fully complete"
Current `User.friends` documentation states:

[code]

But it does not elaborate on who potential friends are.

It is also not specified on what is the semantic of `text` parameter. What is the format, is it a pattern to apply to the name, or a comma separated list of patterns. Example of a text parameter would help a lot.

[2015-05-21 15:29] ekondrashev commented on #612
@karato this one is blocked by #622

[2015-05-21 16:00] ekondrashev opened #623 "netbout needs js autocompletion lib implementing github like mention functionality"
As for now netbout code base missing js library that can be used in order to implement github like `@mention` functionality.

It has to be, making it possible to fix #606 defect.
The library should include js file(s) and style sheet file(s) to regulate styles of autosuggestion dropdown.
It is also good idea to cover it with unit tests.

Brief googling gave following results that can be used
* http

[2015-05-21 16:01] ekondrashev commented on #606
@karato This one is blocked by #623 , we need to decide which lib to use to implement autocompletion.

[2015-05-21 16:56] dmzaytsev commented on #618
@komaz isn't it a duplicate of #570 ?

[2015-05-21 16:57] dmzaytsev commented on #620
@karato it's a valid bug

[2015-05-21 16:57] dmzaytsev commented on #620
@komaz thanks!

[2015-05-21 16:58] dmzaytsev commented on #620
@karato please set milestone tp 3.0

[2015-05-21 17:00] komaz commented on #618
@dmzaytsev you are right, it is, I'm closing an issue

[2015-05-21 17:00] #618 closed

[2015-05-21 17:05] dmzaytsev commented on #617
@komaz yes, thanks!

[2015-05-21 17:10] dmzaytsev commented on #622
@yegor256 I think we need a brief paper with a project description. Could you help us?

[2015-05-21 17:18] dmzaytsev opened #624 "netbout logs"
@yegor256 Could you provide the netbout logs today between 12:15 and 12:45 GMT?
I saw application error in this time. Thanks

[2015-05-21 17:22] yegor256 commented on #624
[code]

[2015-05-21 17:24] yegor256 commented on #624
@dmzaytsev this happens because DynamoDB, sometimes, throttles our requests, due to the limitations on some tables with "provisional throughput": http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughputIntro.html

It's a big problem for us and would be great to solve it

[2015-05-21 17:32] yegor256 commented on #617
@dmzaytsev we still need this ticket?

[2015-05-21 17:32] yegor256 commented on #570
@lautarobock check this: http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

[2015-05-21 17:39] dmzaytsev commented on #624
@yegor256 thanks
we will look into

[2015-05-21 17:39] #624 closed

[2015-05-21 17:41] karato commented on #612
@ekondrashev sure, let's wait for #622

[2015-05-21 17:41] karato commented on #606
@dmzaytsev I attached this issue to milestone `3.0`

[2015-05-21 17:41] karato commented on #606
@dmzaytsev sure, thanks, I added "postponed" tag to it

[2015-05-21 17:41] karato commented on #606
@dmzaytsev OK, I will try to assign someone else

[2015-05-21 17:41] karato commented on #602
@dmzaytsev thanks, I set it to "3.0"

[2015-05-21 17:41] karato commented on #602
@dmzaytsev got it, "postponed" tag here

[2015-05-21 17:41] karato commented on #602
@dmzaytsev OK, I will try to assign someone else

[2015-05-21 17:45] lautarobock commented on #570
@yegor256 the project has almost empty readme and none general documentation. Is not school, is about software documentation. It is not self explained

[2015-05-21 18:00] dmzaytsev commented on #617
@yegor256 I'm closing this ticket ,
thanks

[2015-05-21 18:00] #617 closed

[2015-05-21 18:06] mbarbieri commented on #548
Looks like this depends on #582
Am I wrong?

[2015-05-21 18:08] lautarobock commented on #570
@yegor256 I will make a more specific question

[2015-05-21 18:09] dmzaytsev commented on #548
@karato @yegor256
please assign @ndbroadbent to this task

[2015-05-21 18:16] dmzaytsev commented on #548
@mbarbieri btw keep in mind [quality rules](http://www.teamed.io/qa.html):

[2015-05-21 18:31] dmzaytsev commented on #623
@ekondrashev If we will assign someone on this task what will be the result of this ticket? what a performer should be deliver?
There is no need to create a separate ticket in this case, I think.
You have a task,  you have to suggest a solution and implement it.
Let's continue in #606.

[2015-05-21 19:08] ekondrashev commented on #623
@dmzaytsev the result is particular lib to use.
The performer should search on the web the library, analyse if it fits to requirement like: license, support availability etc. If #606 will contains text like "use this particular lib" then this ticket is not needed.

[2015-05-21 19:13] yegor256 commented on #623
@ekondrashev looks like @dmzaytsev is right, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken and http://www.yegor256.com/2015/02/16/it-is-not-a-school.html

[2015-05-21 19:14] yegor256 commented on #548
@dmzaytsev unfortunately @ndbroadbent is not with us any more

[2015-05-21 19:18] ekondrashev commented on #623
@yegor256 I'm not sure where I'm not following those rules.
#606 requires investigation. Please let me know I'm missing.

[2015-05-21 20:27] mbarbieri commented on #611
@dmzaytsev sorry, forgot to mention you in the previous comment

[2015-05-21 20:49] yegor256 commented on #604
@karato that's postponed

[2015-05-21 21:24] lautarobock commented on #570
@karato PR#625 is ready for review

[2015-05-21 21:53] mbarbieri commented on #548
@yegor256 Sorry I'm a little confused... it seems to me that #582 will fix this as well.
Should I wait for it to be merged or should I take the changes he did and continue?

[2015-05-21 22:02] mbarbieri opened #626 "Missing documentation on how to run com.netbout.client.Rt* tests"
com.netbout.client.Rt* tests (for example `RtUserITCase`) are skipped because `netbout.token` is null.
Add documentation in README.md on how to run them. (see comments below)

[2015-05-22 01:42] dmzaytsev commented on #623
@ekondrashev a ticket result is a merged PR. If no a ticket will get bad
quality mark and won't be paid.

[2015-05-22 05:47] ekondrashev commented on #623
@dmzaytsev @yegor256 would it work if I change the initial issue title/details requesting js library to be imported to the source base that can be used to implement mention functionality?

[2015-05-22 06:52] dmzaytsev commented on #548
@mbarbieri the previous performer closed his PR, you have to resolve this issue from scratch. I would to use [GreenMail](http://www.icegreen.com/greenmail/) for the unit tests.
Please start

[2015-05-22 07:32] komaz commented on #604
@dmzaytsev fixed in pull request #621

[2015-05-22 07:47] dmzaytsev commented on #604
@komaz thanks!

[2015-05-22 08:48] ikhvostenkov opened #627 "Incomplete alias check"
Check here:
[code]
According with code above, if you enter alias "Test", you will get error message "only English letters and numbers are accepted", English letters are used in alias, but in upper case. Lets change current notification or add one more check with separate error message.

[2015-05-22 08:59] dmzaytsev commented on #627
@ikhvostenkov you're right, thanks

[2015-05-22 08:59] dmzaytsev commented on #627
@karato it's a valid bug

[2015-05-22 08:59] dmzaytsev commented on #627
@karato please set milestone to 3.0

[2015-05-22 09:14] dmzaytsev commented on #627
@ikhvostenkov I believe we have to extend the regexp above to allow use mixed case for an alias.
Because Github allows to use characters in the upper and lower case  in username. The netbout accounts generally use GitHub auth.

[2015-05-22 09:31] ikhvostenkov commented on #627
@dmzaytsev This will be even better to allow upper case.

[2015-05-22 11:36] karato commented on #604
@dmzaytsev I set the milestone here to 3.0

[2015-05-22 11:36] karato commented on #604
@dmzaytsev OK, I labeled it as "postponed" tag

[2015-05-22 11:36] karato commented on #604
@dmzaytsev no problem, I will try to find somebody else

[2015-05-22 11:36] karato commented on #604
@yegor256 got it, "postponed" tag here

[2015-05-22 11:40] erimerturk commented on #566
@carlosmiranda i couldn't reproduce this bug. Can you help me how can i reproduce it ?

[2015-05-22 11:52] komaz opened #628 "MkFriends.invite never fails"
The following statement executes successfully, but `Friends.UnknownAliasException` expected:
[code]

[2015-05-22 12:17] komaz commented on #602
@dmzaytsev could you please comment on a status of this issue, is it postponed or not? If it is waiting for #600, then I can't start working on that, right? Shouldn't it be unassigned from me to make sure I won't be penalised?

[2015-05-22 12:33] dmzaytsev commented on #628
@komaz  there is no need to create a new ticket, if you think that's the task exceed the budget.
Just create a puzzle in your PR and another developer will continue your work.
Check this article please www.yegor256.com/2009/03/04/pdd.html

[2015-05-22 12:41] dmzaytsev commented on #602
@komaz the task should not be assigned to anybody...
Anyway just inform the project manager  http://www.teamed.io/policy.html#11

[2015-05-22 12:44] komaz commented on #628
@dmzaytsev I think the fact that the behavior of `MkFriends` and `DyFriends` differs is a separate issue, which is not directly related to completing #610. I'll create puzzle for negative tests, thanks for the information.

[2015-05-22 12:45] komaz commented on #602
@karato waiting for #600

[2015-05-22 14:13] carlosmiranda commented on #566
@erimerturk I think you'd need a second account to trigger a notification by posting on the bout

[2015-05-22 15:07] karato commented on #602
@komaz sure, we'll wait for #600

[2015-05-22 16:21] dmzaytsev commented on #615
@karato it's a valid bug

[2015-05-22 16:21] dmzaytsev commented on #615
@karato please set milestone to 3.0

[2015-05-22 19:55] karato commented on #604
@dmzaytsev milestone is set to 3.0

[2015-05-22 19:55] karato commented on #604
@dmzaytsev OK, I labeled it as "postponed" tag

[2015-05-22 21:06] ikhvostenkov opened #629 "Missing email validation"
In `TkSaveEmail` we save emails without any validation. You can save any string as an email.

[2015-05-22 21:36] mbarbieri commented on #611
@dmzaytsev I'm not able to run Rt tests, raised an issue #626

[2015-05-22 21:40] mbarbieri commented on #548
@dmzaytsev ok.
I don't think we need GreenMail for this.
From what I see GreenMail can be useful to test that the sending/retrieving code is working, but to unit test this I would rather mock the mail sender (not looked at the code yet) and verify that we are not putting the current user mail as a recipient.

[2015-05-22 22:25] mbarbieri commented on #626
Ok, blaming the project now :smile:
Tests like `RtUserITCase` are skipped because `netbout.token` is null and there is no documentation on how to run them.

[2015-05-22 23:17] yegor256 commented on #627
@ikhvostenkov @dmzaytsev this pattern is correct: `[a-z0-9]+`. We don't want upper case letters in aliases.

[2015-05-23 00:10] yegor256 commented on #623
@ekondrashev something should be **broken** in order to become a good cause for a ticket, see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken

[2015-05-23 00:11] yegor256 commented on #623
@ekondrashev you're not supposed to _request_ anything in a ticket. Instead, you should say what is wrong in current version of the code base.

[2015-05-23 00:11] yegor256 commented on #623
@ekondrashev keep in mind that documentation can also be broken

[2015-05-23 05:43] ekondrashev commented on #623
@yegor256 I was owner of several tickets requesting for implementing something to simplify coding/testing, like [takes259](https://github.com/yegor256/takes/issues/259) and takes [260](https://github.com/yegor256/takes/issues/260) that are tagged as enhancements.

[2015-05-23 05:43] ekondrashev commented on #623
@dmzaytsev please review reworked ticket and let me know if it makes sense now.

[2015-05-23 14:52] mbarbieri commented on #548
@dmzaytsev PR630 is ready for review

[2015-05-23 17:42] dmzaytsev commented on #626
@yegor256 could you please answer the question above?
how to run integration tests locally? is it possilble without the token?

[2015-05-23 17:46] karato commented on #620
@dmzaytsev added "bug" tag to this issue

[2015-05-23 17:46] karato commented on #627
@dmzaytsev tag "bug" added

[2015-05-23 17:46] karato commented on #615
@dmzaytsev I tagged this as "bug"

[2015-05-23 17:50] dmzaytsev commented on #629
@ikhvostenkov you're right, we should validate the email before save. I think we have to find suitable  RFC and use a regular expression according it

[2015-05-23 17:50] dmzaytsev commented on #629
@karato it's a valid bug

[2015-05-23 17:50] dmzaytsev commented on #629
please set milestone to 3.0

[2015-05-23 18:00] yegor256 commented on #626
@mbarbieri just run them from command line, like this:

[code]

You're probably trying to run them from your IDE. This way they won't work (but they won't fail, will just be skipped by JUnit)

[2015-05-23 18:03] dmzaytsev commented on #628
@komaz you should say what is wrong in current version of the code base,
see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#5.-report-when-it-is-broken
please reformat your ticket

[2015-05-23 18:33] dmzaytsev commented on #626
@yegor256 are you sure? @mbarbieri talking about `com.netbout.client.Rt*`
I just run `mvn clean install`
[code]

all tests skiped because `netbout.token`  variable is not set

Anyway we need to test `com.netbout.client` classes. From my point to test the rest-client we just need a simple Take that will receive the request and respond to it. There is the problem we don't known which a Take should u

[2015-05-23 19:03] dmzaytsev commented on #623
@yegor256 @ekondrashev
I think the library choice should be done inside #606. It's a particular task related only the  ticket #606. There is no need to update readme.
I propose to do so @ekondrashev  implement the input data preparation - add all bout's friends (full name and alias) into the page as js-array
e.q. users: [{name: 'Lindsay Made',	username: 'lindsaym'},
{name: 'Rob Dyrdek',username: '

[2015-05-23 19:06] karato commented on #615
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2015-05-23 19:06] karato commented on #620
@komaz I set milestone here to `3.1`, let me know if it is wrong

[2015-05-23 19:06] karato commented on #627
@ikhvostenkov milestone set to `3.1` (correct me if I am wrong)

[2015-05-23 19:20] dmzaytsev commented on #615
@karato please set milestone to 3.0

[2015-05-23 19:31] dmzaytsev commented on #620
@karato please set milestone to 3.0

[2015-05-23 20:37] karato commented on #627
@dmzaytsev sure, milestone set to 3.0

[2015-05-23 20:37] karato commented on #620
@dmzaytsev sure, milestone set to 3.0

[2015-05-23 20:37] karato commented on #620
@dmzaytsev milestone is set to 3.0

[2015-05-23 20:37] karato commented on #615
@dmzaytsev sure, milestone set to 3.0

[2015-05-23 20:37] karato commented on #615
@dmzaytsev I attached this issue to milestone `3.0`

[2015-05-24 06:45] ekondrashev commented on #623
@dmzaytsev I totally agree with you on the input data preparation, but don't you think that the one who will be working with the lib should make a choice on which lib to use? I mean most of the time decision is made after tight work with the lib.

[2015-05-24 09:52] mbarbieri commented on #548
@dmzaytsev can the issue be closed?

[2015-05-24 09:56] dmzaytsev commented on #548
@mbarbieri ask the ticket reporter

[2015-05-24 12:47] erimerturk opened #631 "Logout functionality is not working on local env."
Logout functionality is not working on local env. when i run it with this command. Because of this reason i am not able to create different users.
<code>$ mvn clean install -Phit-refresh -Dport=8080</code>

[2015-05-24 12:51] dmzaytsev commented on #631
@erimerturk check this comment https://github.com/yegor256/netbout/issues/584#issuecomment-100732005 I guess it will help

[2015-05-24 13:01] erimerturk commented on #631
@dmzaytsev thank you, it helped

[2015-05-24 13:01] #631 closed

[2015-05-24 13:26] dmzaytsev commented on #623
@ekondrashev I do not see a way to choose the library in a separate task  without violating the rules at the same time. "Choosing" as a process do nothing for the project. We can't merge "choosing". Do you see my point ?
I think a performer should choose a library and make a stub which just  show the empty friends list. But we already have the ticket #606 for this. I understand full implementation

[2015-05-24 14:25] mbarbieri commented on #548
@yegor256 can the issue be closed?

[2015-05-24 15:19] erimerturk commented on #566
@carlosmiranda nb-friends dynamo tables have record for each bout invited friends. And when one of them change title of bout only change own bout and the others not affected this renaming. So the main problem is this i think. Should it be updated for each record or not ? It is a design decision i think.
@yegor256 what do you think, what is your suggestion ?

first update version :
![screen shot 20

[2015-05-24 19:06] dmzaytsev commented on #553
@karato this is postponed task

[2015-05-24 19:09] yegor256 commented on #566
@erimerturk this is by design. I mean, the structure of DynamoDB table. each user should be able to rename his own bout and this change should not be visible to other users. But when an email is sent, we should use the title that is "owned" by the recipient of the email.

[2015-05-24 19:19] dmzaytsev commented on #577
@yegor256 please see the project report

Scope status:

* RESTful API [75%]
* search functionality [none]
* email enhancement [none]
* UI enhancement[none]
* current bugs fix [5%]

Issues:

* 609 return after login
* 581 urls in a message are a plain text instead html links
* 564 Netbout should respect newline in post messages
* 567 prevent duplicate messages in bouts
* 566 Bout title in email not

[2015-05-24 19:23] yegor256 commented on #577
@dmzaytsev many thanks! a few comments.

1. list of issues should include things that are problematic for you, like item 2 in the risk list. Non need to copy here a list of Github issues, we already have them in the issue tracker. In this "list of issues" we're interested in problems you're having with the product, as an architect. Again, risk no.2 is a good example of an issue.

2. risks no.2 and

[2015-05-24 23:42] yegor256 opened #632 "infinite scrolling doesn't work in Firefox"
Infinite scrolling of messages in bout doesn't work in Firefox. I'm not sure about bouts in inbox, but I suspect that it also doesn't work.

[2015-05-24 23:45] yegor256 commented on #548
@mbarbieri in which pull request this problem was solved?

[2015-05-25 00:04] yegor256 commented on #626
@mbarbieri @dmzaytsev right, my fault. This `netbout.token` should be provided on command line, like this:

[code]

You can get its value from www.netbout.com. Just login there and then see the cookie returned at `Set-Cookie: PsCookie=...` (this is the token).

`ITCase` tests are intended to test the client against a real production server. We shouldn't mock anything there. We need to keep them th

[2015-05-25 00:42] ikhvostenkov commented on #547
@carlosmiranda I've checked ```EmMessages``` and according with:
[code]
Email messages will be delivered only for people who are added to current bout. I've checked it also with latest build and it works correctly. Could you, please, explain how were you able to reproduce this issue? Also you can unsubscribe from bout just by exiting this bout.

[2015-05-25 01:05] ikhvostenkov opened #633 "Not possible to remove user from bout"
If user name is larger than icon size, this is not possible to click "X" to remove user from bout. You will be able to remove only most right person, but not first or in the middle.
![screenshot](https://cloud.githubusercontent.com/assets/861305/7790496/de92309a-028a-11e5-82ba-2821b515b0d4.png)

[2015-05-25 01:11] ikhvostenkov opened #634 "This is possible to remove topic starter from bout"
If I create new bout, anybody who was added to this bout is able to remove me from this bout.

[2015-05-25 01:16] ikhvostenkov commented on #600
@dmzaytsev ```EmMessages```:
[code]
This is already implemented. Or do you mean some other functionality?

[2015-05-25 01:21] carlosmiranda commented on #547
@ikhvostenkov Yes, that works fine, but we're talking here about a different scenario.  Let's say I still want to remain in the conversation, but I just want not to receive emails from it; I can't do that now. Users should be able to be participate in the bout but choose not to receive messages from them individually.

[2015-05-25 02:44] mbarbieri commented on #548
@yegor256 here #630

[2015-05-25 04:53] komaz commented on #628
@dmzaytsev does it look better now?

[2015-05-25 05:00] mbarbieri commented on #626
@dmzaytsev changed the issue to report it as a bug

[2015-05-25 05:10] dmzaytsev commented on #633
@ikhvostenkov isn't it a duplicate of #528 ?

[2015-05-25 05:25] dmzaytsev commented on #634
@yegor256 what do you think?
Maybe we shoud also add some roles to netbout? For example add an administrator role that can remove anyone from anywhere. We can define members in `/netbout/netbout-web/src/main/resources/META-INF/MANIFEST.MF` or a comand line argument...
`Netbout-Admins: yegor256,alice` or `-Dnetbout.admins="yegor256,alice"`

[2015-05-25 05:33] yegor256 commented on #634
@ikhvostenkov well, this is by design. a "bout" is a communication room, where everybody is equal. anyone can remove you from the bout and anyone can invite you back. maybe this is not intuitive, but that's how it was created. let's discuss how to improve that...

[2015-05-25 05:47] dmzaytsev commented on #577
@yegor256 thanks for clarifications.
but I defined risk 3 as a risk because notwithstanding that we resolved the issue with tests on windows, netbout doesn't compile on windows. Nobody complains so I didn't raise it. Current developers don't use windows or builds on virtual machines. At the moment the ability to compile on windows isn't a priority task. But we have this risk yet.

[2015-05-25 05:58] dmzaytsev commented on #632
@karato it's a valid bug

[2015-05-25 05:59] dmzaytsev commented on #632
@karato please set milestone to 3.0

[2015-05-25 06:02] dmzaytsev commented on #628
@komaz Is `DyFriends` raise exception if unknown friends invited?

[2015-05-25 06:14] komaz commented on #628
@dmzaytsev yes, it is being thrown from [line 127](https://github.com/yegor256/netbout/blob/2.14.12/netbout-web/src/main/java/com/netbout/dynamo/DyFriends.java#L127), looks like this in a log:
[code]

[2015-05-25 06:35] dmzaytsev commented on #600
@ikhvostenkov I mean reply into a bout from the email response.

* for security reason and avoid spam we have to generate an unique string for  the message id, when we sending email we have to write to a table  message_id, bout_id, author_alias

* We have to add header `Reply-To: <message_id>@reply.netbout.com>` into an outgoing email. e.g `Reply-To: jhjkh7y78y@reply.netbout.com>`
* netbout  shoul

[2015-05-25 06:35] dmzaytsev commented on #628
@karato it's a valid bug

[2015-05-25 06:36] dmzaytsev commented on #628
@karato please set milestone to 3.1

[2015-05-25 06:37] dmzaytsev commented on #628
@karato this task is postponed

[2015-05-25 06:38] dmzaytsev commented on #628
@komaz thanks!

[2015-05-25 06:45] dmzaytsev commented on #577
@yegor256 who should make deploy in this project ?
In Takes the project manager did deploy, but in Sigzig - the project architect..

[2015-05-25 07:48] ekondrashev commented on #623
@dmzaytsev well, it is not like a "choosing" now, initial ticket description is changed pointing that the codebase misses proper library, asking the performer to import it to codebase.
@yegor256 wha is your word?

[2015-05-25 08:13] ikhvostenkov commented on #633
@dmzaytsev True, this is the same, did not see this when posted my. Can be marked as duplicated.

[2015-05-25 08:19] dmzaytsev commented on #633
@ikhvostenkov just close this issue
thanks

[2015-05-25 09:24] karato commented on #553
@dmzaytsev got it, "postponed" tag here

[2015-05-25 09:24] karato commented on #553
@dmzaytsev got it, someone else will be assigned soon

[2015-05-25 13:18] dmzaytsev commented on #634
@yegor256 @ikhvostenkov I think the bout creator should have a bit more privileges than other
friends.

[2015-05-25 13:24] erimerturk commented on #566
@carlosmiranda @yegor256 I need to find personal bout title from nb-friends  so i am planning to add a new method to <b>Friend </b> interface, it will find personal bout by number and alias.  it will be something like this. Is it good idea adding new method to <b>Friend</b> ?

 <code>String title(final long number) throws IOException; </code>

What do you think about this solution and what are you

[2015-05-25 14:10] komaz commented on #609
@yegor256 does this sound like a correct approach?
- Create `RsReturn` similar to `RsFlash`, which will set a cookie with path to return to.
- Once user is authenticated, `TkReturn`, similar to `TkFlash`, would send a redirect to stored path and clear the cookie

[2015-05-25 15:05] komaz opened #635 "TkAppITCase.rendersHtmlByDefault fails locally"
The test fails with a message:
[code]

An exception happens on server side:
[code]
Looks like `RsPrettyXML` can't format produced HTML, more specifically its `SYSTEM` property in `DOCTYPE`:
[code]

This issue is also reproducible by running netbout with `mvn clean install -Phit-refresh -Dport=8080` and opening a local server with Firefox.

[2015-05-25 15:07] dmzaytsev opened #636 "broken test com.netbout.rest.TkAppITCase"
@yegor256 after last commit eac2909e8b020529c23552988a3f48ca326b9a21 we have the  broken test `com.netbout.rest.TkAppITCase` in the master branch

Error
  java.net.MalformedURLException: unknown protocol: about
[ERROR] BkParallel-1 com.netbout.rest.TkAppFallback: java.io.IOException: net.sf.saxon.trans.XPathException: java.net.MalformedURLException: unknown protocol: about
        at org.takes.rs.

[2015-05-25 15:09] yegor256 commented on #609
@komaz looks like a perfect idea to me

[2015-05-25 15:18] dmzaytsev commented on #636
@yegor256 sorry to have to say this, but let's follow the rules
http://www.yegor256.com/2014/07/21/read-only-master-branch.html

[2015-05-25 16:00] #633 closed

[2015-05-25 16:00] ikhvostenkov commented on #633
@dmzaytsev closed.

[2015-05-25 16:08] ikhvostenkov commented on #634
@dmzaytsev @yegor256 I agree with Dmitry. We can add one more field "Owner" to identify bout creator. In this case we can avoid using roles, actually we do need roles here we just need to identify bout starter.

[2015-05-25 17:28] dmzaytsev commented on #634
@ikhvostenkov @yegor256 Why I proposed an admin role ? Let's imagine  a situation when  someone has created a bout to discuss some question, but later the owner is no longer engaged this subject. We need to preserve the  messages instead of creation a new bout. In this case an administrator just remove the original owner from the bout and assign a new owner.

[2015-05-25 17:39] yegor256 commented on #604
@karato it's invalid

[2015-05-25 17:41] yegor256 opened #637 "RsPrettyXML from takes 0.17 is not used yet"
Let's use `RsPrettyXML` in `RsPage`, to make our XML output pretty formatted (see also #636)

[2015-05-25 17:41] yegor256 commented on #636
@dmzaytsev totally my fault, sorry, reverted/fixed in c8ef239 Created this issue: #637 Again, sorry about it, won't do it again

[2015-05-25 17:48] dmzaytsev commented on #604
@yegor256 why do you mark this as invalid?

[2015-05-25 17:53] dmzaytsev commented on #635
@komaz fixed in #636

[2015-05-25 17:53] dmzaytsev commented on #637
@karato it's a valid bug

[2015-05-25 17:54] dmzaytsev commented on #637
@karato please set milestone to 3.0

[2015-05-25 17:55] komaz commented on #635
@dmzaytsev great

[2015-05-25 17:55] #635 closed

[2015-05-25 18:18] yegor256 commented on #604
@dmzaytsev because you closed it and it shouldn't be paid. or I'm wrong?

[2015-05-25 18:19] dmzaytsev commented on #604
@yegor256 this issue  fixed in pull request #621
thats why I closed it

[2015-05-25 18:20] yegor256 commented on #634
@dmzaytsev it's a "public" platform, which is supposed to have millions of bouts. We can't have any "admins" here. The platform has to be able to regulate itself. Here is a question - why do we need to remember who was the creator of a bout? What's wrong with giving everybody an ability to remove anybody?

[2015-05-25 18:21] yegor256 commented on #604
@dmzaytsev my bad. I removed the "invalid" tag

[2015-05-25 18:22] dmzaytsev commented on #604
@yegor256 thanks!

[2015-05-25 18:35] dmzaytsev commented on #634
@yegor256 I considered it as a communication platform for teamed.io :) anyway

it's a public platform... in this case we don't need any admins, you're right

well..  let's imagine you have a skype account  whats wrong if anybody can deprive you the account ? no problem you can register a new one and invite your contact list again isn't it?  but it's is not good, right? Do you see my point?

[2015-05-25 18:41] yegor256 commented on #634
@dmzaytsev well, if I remove you from a bout, I don't remove/delete your account. You can join the bout again, if I invite you again. It's just inconvenient for you, but it's not fatal. Let's try to imagine a situation when this removal is a problem... I can't think of any

[2015-05-25 18:43] dmzaytsev commented on #634
@yegor256 key words is `if I invite you again`
I lost access to some content in the bout. in some cases it can be a valuable

[2015-05-25 18:49] yegor256 commented on #634
@dmzaytsev yes, but if you need it again, I will invite you... or you mean that I can "block" you from some valuable content intentionally, but removing you from the bout? maybe "kicking out" is not a good idea in the first place. maybe we should remove this feature and create a new one - "suspend a participant". you will see the bout, all its messages, but only till the moment you were active in

[2015-05-25 18:53] dmzaytsev commented on #634
@yegor256 suspend instead kick out
I like this idea

[2015-05-25 18:54] yegor256 commented on #566
@erimerturk I don't think you should touch/modify `Friend` interface. I think you can just "find" a friend in the `base` and then get his inbox and find bout there, and get title from it

[2015-05-25 19:07] karato commented on #604
@yegor256 please don't close the issue, ask @dmzaytsev to do this instead, since he is the author of it

[2015-05-25 19:07] karato commented on #632
@dmzaytsev tagged this issue with "bug"

[2015-05-25 19:07] karato commented on #637
@dmzaytsev I tagged this as "bug"

[2015-05-25 19:07] karato commented on #628
@dmzaytsev tag "bug" added

[2015-05-25 19:07] karato commented on #629
@dmzaytsev I tagged this as "bug"

[2015-05-25 19:07] karato opened #638 "DyInbox.java:134-140: DynamoDBLocal doesn't work with all..."
Puzzle `1-b5151558` in `netbout-web/src/main/java/com/netbout/dynamo/DyInbox.java:134-140` has to be resolved: DynamoDBLocal doesn't work with all attributes in global index. If we remove this check for a local version, most tests fail. I'm not sure how to fix that. I suspect, it's a bug in DynamoDBLocal, but I don't even know how to report it to them :( Anyway, let's try to investigate and either

[2015-05-25 19:07] karato commented on #1
@yegor256 there is a puzzle in this code `1-b5151558`/#638, we'll resolve it later

[2015-05-25 19:07] yegor256 commented on #623
@ekondrashev I'm with @dmzaytsev on this. First, "choosing" anything or thinking about anything is not what a project is willing to pay for. The project is paying for source code. How you create it - it's your business. If you need to choose, or to think, or to experiment, or to learn something first, do it, but the result is always a piece of code that we can add to the code base. This article ex

[2015-05-25 19:12] karato commented on #627
@ikhvostenkov many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `58040546`

[2015-05-25 19:15] yegor256 commented on #577
@dmzaytsev you can deploy yourself any moment. also, you can release any time. but @karato deploys after each successful pull request, to make sure we have up to date deployment pipeline

[2015-05-25 19:21] yegor256 commented on #600
@dmzaytsev FYI, we have this feature in the previous version of Netbout (1.6), see this code: https://github.com/yegor256/netbout/blob/netbout-1.6/netbout-rest/src/main/java/com/netbout/notifiers/email/RoutineFarm.java So, yes, I agree with you :)

[2015-05-25 19:29] yegor256 commented on #547
@carlosmiranda @ikhvostenkov I think we will have to put a small icon, next to bout title, which can be triggered by a user, something like this:

http://fortawesome.github.io/Font-Awesome/icon/bell-o/
http://fortawesome.github.io/Font-Awesome/icon/bell-slash-o/

[2015-05-25 22:02] mbarbieri commented on #611
@dmzaytsev PR #639 is ready to be reviewed

[2015-05-26 03:31] dmzaytsev commented on #604
@karato the issue resolved
I'm closing it

[2015-05-26 03:31] #604 closed

[2015-05-26 03:34] dmzaytsev commented on #611
@mbarbieri you should inform the project manager about it not me

[2015-05-26 03:49] dmzaytsev commented on #600
@yegor256 why you removed this feature?

[2015-05-26 03:53] mbarbieri commented on #611
@karato PR #639 is ready to be reviewed

[2015-05-26 04:07] dmzaytsev commented on #577
@rultor release, tag=2.14.13

[2015-05-26 04:07] rultor commented on #577
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3907-105386798)

[2015-05-26 04:08] rultor commented on #577
@dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3907-105386798) (spent 24s)

[code]

[2015-05-26 04:09] dmzaytsev commented on #577
@rultor release, tag=`2.14.13`

[2015-05-26 04:10] rultor commented on #577
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3907-105387828)

[2015-05-26 04:20] rultor commented on #577
@dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3907-105387828) (spent 10min)

[code]

[2015-05-26 04:25] dmzaytsev commented on #577
@rultor release, tag=`2.14.13`

[2015-05-26 04:26] rultor commented on #577
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3907-105389429)

[2015-05-26 04:39] rultor commented on #577
@dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/3907-105389429) (spent 14min)

[code]

[2015-05-26 05:48] ekondrashev commented on #623
@yegor256 It does make sense. But I'd really love to understand difference between this ticket being refused as not giving any value to the user and [this](https://github.com/yegor256/takes/issues/260) which falls under same conditions(no end user value, nothing is broken), being accepted as valid.

From my POV the only difference between those tickets is that current one enriches project with a l

[2015-05-26 05:56] yegor256 commented on #577
@dmzaytsev it's a bug in Github plugin, see: https://github.com/github/maven-plugins/issues/88 The only solution is to disable site-deploy in `.rultor.yml` for now

[2015-05-26 05:57] yegor256 commented on #577
@dmzaytsev like I did for takes recently: https://github.com/yegor256/takes/issues/296

[2015-05-26 06:00] yegor256 commented on #623
@ekondrashev not really. In Netbout project a user is a web user with a browser. In Takes project a user is a software developer, who is using that Java framework to create some web app. That's why that ticket is perfectly legal, since it basically says "I'm a user and I can't use your library the way I want it, because it doesn't have this feature, fix it"

Here, we can't say so. A user of Netbou

[2015-05-26 06:01] yegor256 commented on #600
@dmzaytsev I was too lazy to implement it. Version 2.0 of Netbout was created mostly from scratch, only some elements from 1.6 were used. I didn't take this element since I didn't have time.

[2015-05-26 06:54] dmzaytsev commented on #577
@rultor release, tag=`2.14.13`

[2015-05-26 06:56] rultor commented on #577
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3907-105419130)

[2015-05-26 07:07] rultor commented on #577
Release `2.14.13` already exists! I can't duplicate it, but I posted a comment there. In the future, try to avoid duplicate releases

[2015-05-26 07:07] rultor commented on #577
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/3907-105419130) (took me 9min)

[2015-05-26 09:03] karato commented on #628
@komaz since there is no milestone yet I set it to "3.1"

[2015-05-26 09:03] karato commented on #629
@ikhvostenkov since there is no milestone yet I set it to "3.1"

[2015-05-26 09:03] karato commented on #632
@yegor256 since there is no milestone yet I set it to "3.1"

[2015-05-26 09:03] karato commented on #637
@yegor256 since the ticket has no milestone I set it to 3.1

[2015-05-26 09:03] karato commented on #638
@yegor256 I set the milestone to 3.1 since there is nothing set yet

[2015-05-26 09:03] karato commented on #604
@dmzaytsev I attached this issue to milestone `3.0`

[2015-05-26 09:03] karato commented on #604
@dmzaytsev OK, I labeled it as "postponed" tag

[2015-05-26 09:03] karato commented on #604
@dmzaytsev I will assign somebody else to this issue

[2015-05-26 09:03] karato commented on #604
@yegor256 got it, "postponed" tag here

[2015-05-26 09:03] karato commented on #604
@yegor256 right, I will find someone else, no problem

[2015-05-26 09:04] karato opened #641 "TkStartTest.java:54-57: Test case for negative scenario..."
Puzzle `610-76d661ee` in `netbout-web/src/test/java/com/netbout/rest/bout/TkStartTest.java:54-57` has to be resolved: Test case for negative scenario of TkStart should be added, e.g. when a friend is not found, the error should be reported correctly and bout creation should be discarded.... The puzzle was created by Ivan Inozemtsev on 25-May-2015.

If you have any technical questions, don't ask me

[2015-05-26 09:04] karato commented on #610
@yegor256 there is a puzzle in this code `610-76d661ee`/#641, we'll resolve it later

[2015-05-26 09:07] karato commented on #576
@komaz do this task

[2015-05-26 09:08] karato commented on #620
@komaz thanks a lot for reporting, **15 mins** added to your acc, pmt ID `AP-9PH37963PA2788132`

[2015-05-26 09:52] dmzaytsev commented on #604
@karato this task is completed already

[2015-05-26 10:18] karato commented on #641
@yegor256 I set milestone here to `3.0`, let me know if it is wrong

[2015-05-26 10:19] karato commented on #632
@dmzaytsev thanks, I set it to "3.0"

[2015-05-26 10:19] karato commented on #637
@dmzaytsev I set the milestone here to 3.0

[2015-05-26 10:19] karato commented on #628
@dmzaytsev I attached this issue to milestone `3.1`

[2015-05-26 10:19] karato commented on #628
@dmzaytsev thanks, I added the "postponed" tag

[2015-05-26 10:19] karato commented on #628
@dmzaytsev right, I will find someone else, no problem

[2015-05-26 10:23] karato commented on #615
@dmzaytsev thanks for this report, I added 15 mins to your account, in transaction `58056210`

[2015-05-26 10:42] ekondrashev commented on #623
@dmzaytsev @yegor256 thank you guys for your answers, I believe pdd is my friend. Not sure if I should just close this guy or rename it once puzzle will be introduced.

[2015-05-26 12:04] #623 closed

[2015-05-26 12:25] karato commented on #581
@komaz this is your task

[2015-05-26 12:25] karato commented on #637
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-1fe0687f`

[2015-05-26 14:08] karato commented on #632
@yegor256 thanks for the ticket, your account was topped for 15 mins, payment 000-d4d28758

[2015-05-26 14:55] karato commented on #629
@ikhvostenkov thanks for reporting! I topped your account for 15 mins, transaction 58062748

[2015-05-26 15:53] dmzaytsev commented on #636
@yegor256 thanks!

[2015-05-26 15:53] #636 closed

[2015-05-26 16:09] dmzaytsev commented on #634
@ikhvostenkov @yegor256 so
* we have to  implement the suspend feature
* we have to disable kick out feature, but user should have ability to remove self from the bout
are you agree?

[2015-05-26 16:12] komaz commented on #610
@yegor256 fixed in pull request #619

[2015-05-26 16:29] karato commented on #628
@komaz thanks for reporting! I topped your account for 15 mins, transaction AP-2T172356NM835162G

[2015-05-26 16:45] yegor256 commented on #610
@komaz thanks!

[2015-05-26 16:45] #610 closed

[2015-05-26 16:54] yegor256 commented on #634
@dmzaytsev I would suggest to remove the "kick-out" feature entirely

[2015-05-26 16:57] dmzaytsev commented on #634
@yegor256 how to leave the bout in this case ?

[2015-05-26 17:03] yegor256 commented on #634
@dmzaytsev there is no way to "leave". just suspend your participation and you won't see any new messages. but the bout will stay in your inbox, at the bottom. what's wrong about it? why do you need to "leave" it entirely?

[2015-05-26 17:08] dmzaytsev commented on #634
@yegor256 maybe we need a hide option? allows to hide the suspended bouts.
I wouldn't want to see the hundreds of bouts in my inbox

[2015-05-26 17:34] yegor256 commented on #634
@dmzaytsev the inbox is "endless". you see only the first 10 and then you just scroll down and you see more and more. those that are not updated will stay at the end of the list. you won't see them. they won't bother you at all.

[2015-05-26 17:36] yegor256 commented on #623
@ekondrashev yes, try to use PDD as much as possible, you will like it eventually :)

[2015-05-26 18:37] dmzaytsev commented on #627
@karato this is postponed task

[2015-05-26 19:59] karato commented on #627
@dmzaytsev right, I added "postponed" tag

[2015-05-26 19:59] karato commented on #627
@dmzaytsev right, I will find someone else, no problem

[2015-05-26 20:05] karato commented on #602
@lautarobock this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here; The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-26 20:08] erimerturk commented on #566
@yegor256 i am not able to get Friend's inbox. I need to get user and then user's inbox.  <code>Base.user(URN urn)</code> is expecting <b>URN</b> to get user. But <code>Friend</code> has <code>alias</code> not <code>URN</code> . So i am not able to access user, there should be method or way getting user <b> by alias </b>. Should i add a method to <code>Base</code> interface ? any suggestion, thank

[2015-05-26 20:42] lautarobock commented on #602
@karato  #600 is not done yet.

[2015-05-27 03:44] dmzaytsev commented on #602
@karato we are waiting #600 here

[2015-05-27 05:14] dmzaytsev opened #643 "link to a message"
It would be great if the text `time ago` above a message will be a link to the message. When we open the link, the message should be appear ~~on the top of the list~~ on top of the browser window
~~Also let's add a hint for the `time ago` as the string representation of the message date .~~

[2015-05-27 05:14] dmzaytsev commented on #643
@karato it's a valid bug

[2015-05-27 05:14] dmzaytsev commented on #643
@karato please set milestone to 3.1

[2015-05-27 05:15] dmzaytsev commented on #643
@karato this is postponed task

[2015-05-27 09:07] komaz commented on #609
@yegor256 fixed in pull request #642

[2015-05-27 09:37] karato commented on #643
@dmzaytsev added "bug" tag to this issue

[2015-05-27 10:50] karato commented on #643
@dmzaytsev milestone set to `3.1` (correct me if I am wrong)

[2015-05-27 10:56] karato commented on #643
@dmzaytsev thanks for the report, I topped your acc for 15 mins, payment ID `58145878`

[2015-05-27 11:34] lautarobock commented on #602
@karato Should not it be un-assigned? I won't be penalised

[2015-05-27 11:35] dmzaytsev commented on #602
@karato this is postponed task

[2015-05-27 11:44] dmzaytsev commented on #611
@yegor256 why Rultor closed this ticket?

[2015-05-27 13:06] karato commented on #611
@rultor don't close it, ask @dmzaytsev to do do it, since he created it, thanks!

[2015-05-27 13:06] karato commented on #602
@dmzaytsev got it, "postponed" tag here

[2015-05-27 13:06] karato commented on #602
@dmzaytsev someone else will help in this task, no problem at all

[2015-05-27 13:06] karato commented on #643
@dmzaytsev milestone is set to 3.1

[2015-05-27 13:06] karato commented on #643
@dmzaytsev right, I added "postponed" tag

[2015-05-27 13:06] karato commented on #643
@dmzaytsev all right, we'll find someone else for this task

[2015-05-27 15:28] dmzaytsev commented on #611
@mbarbieri thanks!

[2015-05-27 15:28] #611 closed

[2015-05-27 15:32] yegor256 commented on #643
@dmzaytsev we already have a "hint": https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/xsl/bout.xsl#L136-L138

[2015-05-27 16:46] dmzaytsev commented on #643
@yegor256 you're right
I did not see it, thanks!

[2015-05-27 16:55] yegor256 opened #644 "org.pegdown.ParsingTimeoutException"
I see this in production log every 15-30 minutes:

[code]

It's not an error, but a warning, since the failure happens only on the first attempt. The second attempt successfully renders the HTML, but pay attention to the timing: 13s! There is definitely something wrong.

[2015-05-27 16:56] yegor256 commented on #643
@dmzaytsev I don't think it's a good idea to show the message "on top of the list". I would rather show it at its normal place, but highlight it somehow and point the browser to it. just like Github is doing. what do you think?

[2015-05-27 16:57] yegor256 commented on #609
@komaz thanks!

[2015-05-27 16:57] #609 closed

[2015-05-27 16:59] yegor256 commented on #609
@dmzaytsev let's release it?

[2015-05-27 17:02] dmzaytsev commented on #643
@yegor256 I mean like Github
if you open this link https://github.com/yegor256/netbout/issues/643#issuecomment-105899975 in a new browser window this comment will appear on the top of the window(on the top of the message list)

[2015-05-27 17:05] dmzaytsev commented on #609
@yegor256 sure,
I waited until ticket will be closed

[2015-05-27 17:05] dmzaytsev commented on #577
@rultor release, tag=`2.14.14`

[2015-05-27 17:06] rultor commented on #577
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3907-105998216)

[2015-05-27 17:20] rultor commented on #577
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/3907-105998216) (took me 14min)

[2015-05-27 17:22] dmzaytsev commented on #644
@yegor256 we need more information here
I would turn verbose to true

[2015-05-27 17:36] mbarbieri commented on #548
@yegor256 is there any problem causing the issue to be still open? Let me know if there is something wrong.

[2015-05-27 17:36] yegor256 opened #646 "return-after-login feature doesn't work"
Return after login feature was introduced in #609. I believe it doesn't work. Here is what I'm doing:

 1. I'm logged off
 2. I open `http://www.netbout.com/b/123` (where 123 is a real number of bout I participate in)
 3. I see login page
 4. I login using Github
 5. I see inbox page, while I expect to see `http://www.netbout.com/b/123`

Let's investigate and fix.

[2015-05-27 17:38] yegor256 commented on #609
@dmzaytsev @komaz looks like it doesn't work yet: #646 (let's continue in that ticket)

[2015-05-27 17:38] yegor256 commented on #609
@dmzaytsev FYI it's better to do "rultor release" inside the ticket where the fix/feature was introduced

[2015-05-27 17:39] yegor256 commented on #548
@mbarbieri thanks, closing!

[2015-05-27 17:39] #548 closed

[2015-05-27 17:40] yegor256 commented on #643
@dmzaytsev aha, so it's not "on top of the list" but "on top of the browser window" :)

[2015-05-27 17:43] dmzaytsev commented on #577
@rultor release, tag=`2.14.15`

[2015-05-27 17:44] rultor commented on #577
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3907-106008809)

[2015-05-27 17:47] dmzaytsev commented on #609
@yegor256 got it

[2015-05-27 17:49] dmzaytsev commented on #646
@karato it's a valid bug

[2015-05-27 17:49] dmzaytsev commented on #646
@karato please assign @komaz to this ticket

[2015-05-27 17:49] dmzaytsev commented on #646
@karato please set milestone to 3.0

[2015-05-27 17:54] dmzaytsev commented on #643
@yegor256 exactly :)

[2015-05-27 17:57] rultor commented on #577
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/3907-106008809) (took me 13min)

[2015-05-27 18:00] dmzaytsev commented on #644
@yegor256 please update this ticket when the error will occur.
the full stack trace should be in the log

[2015-05-27 18:15] komaz commented on #646
@yegor256 investigation results:

1. `Set-Cookie` header is being sent and cookie is stored (e.g. in my case cookie value is `http%3A%2F%2Fwww.netbout.com%2Fb%2F35322`), but `Path` attribute is not set explicitly, hence it defaults to `/b/` and cookie is not resent when returning to `/` after login. Updating the source and the test accordingly.
1. Changing `Path` to `/` manually and refreshing rev

[2015-05-27 20:57] erimerturk commented on #566
@yegor256 any advice, i am blocked by <b>URN</b> problem. we need to provide <b>URN</b> for friend or find User by <b>alias</b>. What do you think ?

[2015-05-27 21:27] yegor256 commented on #566
@erimerturk I'm not sure... thinking...

[2015-05-27 22:22] lautarobock commented on #570
@yegor256 something else to close the issue?

[2015-05-27 22:23] yegor256 commented on #570
@lautarobock thanks!

[2015-05-27 22:23] #570 closed

[2015-05-28 03:57] dmzaytsev commented on #644
@yegor256 any updates here ?

[2015-05-28 07:10] yegor256 commented on #646
@komaz looks good, thanks. I'm thinking, maybe this `TkReturn` should be moved to the Takes framework. Other applications may use the same functionality.. It looks rather generic to me. @dmzaytsev @komaz what do you think?

[2015-05-28 08:09] dmzaytsev commented on #646
@yegor256 @komaz I agree, this is generic case
somebody should create a ticket on the Takes for this and @komaz should be assigned to the ticket

[2015-05-28 09:42] erimerturk commented on #566
@yegor256 @karato should we pause this issue until find a proper technical solution ? My concurrent task limit is just 2 and this task is holding one of them.

[2015-05-28 10:13] karato commented on #646
@dmzaytsev tagged this issue with "bug"

[2015-05-28 10:17] karato commented on #610
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-28 10:26] ypshenychka commented on #610
@karato Quality is good.

[2015-05-28 11:26] karato commented on #646
@yegor256 I set the milestone to 3.1 since there is nothing set yet

[2015-05-28 11:26] karato opened #648 "TkAppTest.java:99-102: We need to be able..."
Puzzle `609-bc8eaf9f` in `netbout-web/src/test/java/com/netbout/rest/TkAppTest.java:99-102` has to be resolved: We need to be able to send anonymous requests from tests to verify correct TkApp behavior for anonymous users. But now all requests from tests are authorized because of PsFake(TkAppAuth.TESTING) in TkAppAuth.... The puzzle was created by Ivan Inozemtsev on 27-May-2015.

If you have any t

[2015-05-28 11:26] karato commented on #609
@yegor256 once `609-bc8eaf9f`/#648 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2015-05-28 11:31] karato commented on #577
@dmzaytsev There are a few concerns:

some tasks are stuck: #528 (301 days), #535 (149 days), #541 (134 days), #547 (131 days), #546 (131 days), #549 (128 days), #553 (126 days), #554 (125 days), #561 (119 days), #560 (118 days), #576 (51 days), #566 (94 days), #564 (94 days), #548 (94 days), #567 (91 days), #577 (51 days), #578 (50 days), #570 (70 days), #581 (45 days), #588 (31 days), #600 (8 da

[2015-05-28 11:31] karato commented on #641
@komaz do this task

[2015-05-28 11:31] karato commented on #648
@antonini it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more inf

[2015-05-28 11:31] karato commented on #646
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-4b198ebc

[2015-05-28 13:50] karato commented on #648
@yegor256 since the ticket has no milestone I set it to 3.0

[2015-05-28 13:51] karato commented on #610
@ypshenychka thank you

[2015-05-28 13:51] karato commented on #646
@dmzaytsev yep, done. @komaz it is your task now

[2015-05-28 13:51] karato commented on #646
@dmzaytsev thanks, I set it to "3.0"

[2015-05-28 13:57] karato commented on #610
@komaz I added 10 mins to @ypshenychka (for QA review) in transaction 58184010. thank you, added **30 mins** to your acc, payment num is `AP-4H06191740850015N`, 140 hours and 38 mins spent in total to complete. +30 added to your rating, current score is: [+210](http://www.netbout.com/b/35322?open=rating)

[2015-05-28 14:18] dmzaytsev commented on #646
@rultor release, tag=`2.14.16`

[2015-05-28 14:19] rultor commented on #646
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/3956-106343355)

[2015-05-28 14:30] rultor commented on #646
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/3956-106343355) (took me 11min)

[2015-05-28 15:05] dmzaytsev commented on #646
@komaz it works :)
thanks!

[2015-05-28 15:36] yegor256 commented on #646
@komaz works fine, thanks!

[2015-05-28 15:36] #646 closed

[2015-05-28 15:38] yegor256 commented on #646
@komaz this is for you: https://github.com/yegor256/takes/issues/317

[2015-05-28 16:17] karato commented on #611
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-05-28 16:18] karato commented on #606
@antonini could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-28 16:18] karato commented on #613
@zshamrock this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-05-28 16:52] karato commented on #614
@mbarbieri it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket

The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-o

[2015-05-28 16:52] karato commented on #615
@antonini this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-05-28 17:09] dmzaytsev commented on #606
@karato why did you change the ticket performer?

[2015-05-28 18:17] ypshenychka commented on #611
@mbarbieri
According to our [QA Rules](http://www.teamed.io/qa.html):

Please always indicate a person you're referring too in the beginning of the comment/message.

Please confirm that everything is clear and you have no questions regarding this approach.

[2015-05-28 18:19] mbarbieri commented on #611
@ypshenychka yes, it was my first task... Thanks

[2015-05-28 19:25] yegor256 commented on #606
@karato it's postponed, please remove the assignee

[2015-05-28 19:35] yegor256 commented on #644
@dmzaytsev this is what I see now:

[code]

[2015-05-28 19:54] karato commented on #578
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-28 19:55] karato commented on #548
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-28 19:55] karato commented on #609
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-28 20:02] yegor256 commented on #566
@dmzaytsev I think we should postpone it... I don't know how to do it right, but we have to find a proper solution

[2015-05-28 20:03] dmzaytsev commented on #566
@karato this is postponed task

[2015-05-28 20:18] dmzaytsev commented on #566
@karato please set milestone to 3.1

[2015-05-28 20:51] karato commented on #606
@yegor256 sure, thanks, I added "postponed" tag to it

[2015-05-28 20:51] karato commented on #606
@yegor256 OK, I will try to assign someone else

[2015-05-28 21:19] k0r opened #649 "users can't delete comments"
users should be able to delete comments for various reasons.

[2015-05-29 02:16] antonini commented on #615
@yegor256 Which module I put this? I think it should be on `netbout-client`. Is it right?

[2015-05-29 04:26] vbodak commented on #611
@mbarbieri thanks! Let's try to make high-quality tickets :)

[2015-05-29 04:26] vbodak commented on #611
@karato Quality is acceptable.

[2015-05-29 05:38] yegor256 opened #652 "takes 0.19"
Let's use `RqWithAuth` from Takes 0.19 instead of our custom `RqWithTester`. Also, let's use `RsFailure` from Takes 0.19 instead of our custom version.

See https://github.com/yegor256/takes/releases/tag/0.19

[2015-05-29 05:45] komaz commented on #581
@dmzaytsev markdown syntax supports explicit links, hence once we detect a link we can replace it with `[link](link)` and markdown to html converter will do the rest of the work (just need to make sure we won't affect existing well-formed links. What do you think about implementing such link detection inside `com.netbout.rest.Markdown` class before passing a text into downstream converter?

[2015-05-29 05:57] dmzaytsev commented on #649
@yegor256 I think users should be able to delete comments, but the deleted comment should be printed with `[deleted]` instead the text

[2015-05-29 06:05] dmzaytsev commented on #615
@antonini please put this into `netbout-web`. This class will be used in the future unit tests.

[2015-05-29 06:11] dmzaytsev commented on #652
@karato it's a valid bug

[2015-05-29 06:11] dmzaytsev commented on #652
@karato please set milestone to 3.0

[2015-05-29 07:44] ypshenychka commented on #611
@mbarbieri thanks! Let's try to make high-quality tickets :)

[2015-05-29 07:44] ypshenychka commented on #611
@karato Quality is acceptable.

[2015-05-29 08:03] ypshenychka commented on #548
@karato

According to our [QA Rules](http://www.teamed.io/qa.html):

Please always indicate a person you're referring too in the beginning of the comment/message.

Please confirm that everything is clear and you have no questions regarding this approach.

[2015-05-29 08:04] ypshenychka commented on #548
@mbarbieri

Am I wrong?

According to our [QA Rules](http://www.teamed.io/qa.html):

Please always indicate a person you're referring too in the beginning of the comment/message.

Please confirm that everything is clear and you have no questions regarding this approach.

[2015-05-29 08:06] ypshenychka commented on #609
@karato Quality is good.

[2015-05-29 08:06] dmzaytsev commented on #581
@komaz I agree, let's implement this

[2015-05-29 08:10] mbarbieri commented on #548
@ypshenychka yes thank you

[2015-05-29 09:23] karato commented on #566
@dmzaytsev OK, I labeled it as "postponed" tag

[2015-05-29 09:23] karato commented on #566
@dmzaytsev someone else will help in this task, no problem at all

[2015-05-29 09:23] karato commented on #566
@dmzaytsev milestone is set to 3.1

[2015-05-29 09:23] karato commented on #609
@ypshenychka thanks a lot

[2015-05-29 09:23] karato commented on #611
@ypshenychka thanks for the QA review, we'll work better next time

[2015-05-29 09:23] karato commented on #652
@dmzaytsev tag "bug" added

[2015-05-29 09:31] karato commented on #611
@mbarbieri 10 mins was added to the account of @ypshenychka (for QA review), in transaction 58206178; **30 mins** added to your account (payment number `AP-7T512155EN2896133`), many thanks for your contribution! 162 hours and 44 mins spent here.; added +30 to your rating, now it is equal to [+30](http://www.netbout.com/b/35357?open=rating)

[2015-05-29 09:39] komaz commented on #641
@karato waiting for #628

[2015-05-29 10:19] dmzaytsev commented on #638
@yegor256 I would like mark this issue as postponed if you don't mind
Please let me know if you  want to  escalate this ticket

[2015-05-29 10:19] dmzaytsev commented on #638
@karato this is postponed task

[2015-05-29 10:20] dmzaytsev commented on #641
@karato we are waiting #628 here

[2015-05-29 10:21] dmzaytsev commented on #629
@karato this is postponed task

[2015-05-29 10:22] dmzaytsev commented on #616
@karato this is postponed task

[2015-05-29 10:24] dmzaytsev commented on #553
@karato this is postponed task

[2015-05-29 10:33] dmzaytsev commented on #600
@ikhvostenkov any updates here?
You do not need to implement the entire task, it is too large for a single ticket. Let's use a puzzle www.yegor256.com/2009/03/04/pdd.html.
Feel free to ask any technical questions here.

[2015-05-29 10:35] dmzaytsev commented on #603
@ikhvostenkov any updates here?

[2015-05-29 11:35] karato commented on #652
@yegor256 attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-05-29 11:35] karato commented on #553
@dmzaytsev thanks, I added the "postponed" tag

[2015-05-29 11:35] karato commented on #553
@dmzaytsev all right, we'll find someone else for this task

[2015-05-29 11:35] karato commented on #616
@dmzaytsev OK, I labeled it as "postponed" tag

[2015-05-29 11:35] karato commented on #616
@dmzaytsev right, I'll try to find someone else for this task

[2015-05-29 11:35] karato commented on #638
@dmzaytsev right, I added "postponed" tag

[2015-05-29 11:35] karato commented on #638
@dmzaytsev OK, I will try to assign someone else

[2015-05-29 11:35] karato commented on #641
@komaz ok, let's wait for #628

[2015-05-29 11:35] karato commented on #629
@dmzaytsev sure, thanks, I added "postponed" tag to it

[2015-05-29 11:35] karato commented on #629
@dmzaytsev I will ask somebody else to pick this up

[2015-05-29 11:40] karato commented on #570
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-29 11:42] karato commented on #609
@komaz I added 10 mins to @ypshenychka (for QA review) in transaction 58208209; **30 mins** added to your account (payment number `AP-0BD27849CE588701C`), many thanks for your contribution! 167 hours and 40 mins spent here.; +30 to your rating, your total score is [+240](http://www.netbout.com/b/35322?open=rating)

[2015-05-29 11:42] karato commented on #620
@antonini this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-05-29 11:43] karato commented on #652
@yegor256 thanks for tis bug, I topped your account for 15 mins, transaction `000-c93680a1`

[2015-05-29 12:19] ypshenychka commented on #570
@karato Quality is good here.

[2015-05-29 12:42] karato commented on #606
@erimerturk the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-29 12:42] karato commented on #616
@lautarobock it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-05-29 13:54] karato commented on #570
@ypshenychka many thanks

[2015-05-29 13:54] karato commented on #652
@dmzaytsev sure, milestone set to 3.0

[2015-05-29 13:59] karato commented on #570
@lautarobock just added 10 mins to @ypshenychka (for QA), payment ID is `58210802`

done, I added **30 mins** in payment `AP-28T54580VA541623D`, 168 hours and 30 mins spent to complete this

+30 added to your rating, at the moment it is: [+60](http://www.netbout.com/b/35344?open=rating)

[2015-05-29 13:59] karato commented on #632
@erimerturk do this task

[2015-05-29 14:06] lautarobock commented on #570
@karato thanks!

[2015-05-29 14:11] lautarobock commented on #616
@karato PR #655 are ready for review

[2015-05-29 14:16] erimerturk commented on #606
@yegor256 @karato  is this task postponed or not ? I am confused because of the comments. thank you.

[2015-05-29 14:18] komaz commented on #576
@karato fixed in #651, please close the issue

[2015-05-29 15:15] karato commented on #637
@erimerturk this is your task

[2015-05-29 15:15] karato commented on #652
@zshamrock this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you will actually spend). See [this](

[2015-05-29 16:29] ikhvostenkov commented on #603
@dmzaytsev I've faced with problems with DynamoDB, did not work before with it, but now problem resolved, but I've asked for some break. Could you, please, assign someone else or postpone this task until 8th of Juni, I will be out until this for personal reasons?

[2015-05-29 16:31] ikhvostenkov commented on #600
@dmzaytsev Could you, please, assign someone else or postpone this task until 8th of June, I will be out until this for personal reasons?

[2015-05-29 16:31] ikhvostenkov commented on #547
@karato Could you, please, assign someone else or postpone this task until 8th of June, I will be out until this for personal reasons?

[2015-05-29 16:33] karato commented on #646
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-05-29 16:34] karato commented on #535
@erimerturk do this task

[2015-05-29 16:45] dmzaytsev commented on #535
@karato this is postponed task

[2015-05-29 17:02] dmzaytsev commented on #528
@karato this is postponed task

[2015-05-29 17:05] dmzaytsev commented on #603
@ikhvostenkov no problem

@karato please assign this task to @komaz

[2015-05-29 17:07] yegor256 commented on #603
@karato assign @komaz to this pls

[2015-05-29 17:21] dmzaytsev commented on #600
@yegor256 let's make this task simpler
* we have to setup a redirection all incoming messages for `@reply.netbout.com` into `bouts@reply.netbout.com`
* we have to add header `Reply-To: <boat_id>@reply.netbout.com>` into an outgoing email. e.g `Reply-To: 35351@reply.netbout.com>`
* netbout should monitor mailbox bouts@reply.netbout.com
* nebout recieve email with the header To:<boat_id>@reply.netbo

[2015-05-29 17:23] dmzaytsev commented on #600
@yegor256 please ask `@karato` assign this task to someone else

[2015-05-29 17:51] yegor256 commented on #600
@dmzaytsev yes, looks correct to me

[2015-05-29 17:51] yegor256 commented on #600
@karato assign someone else here pls

[2015-05-29 17:53] dmzaytsev commented on #600
@karato this is urgent

[2015-05-29 19:01] karato commented on #528
@dmzaytsev thanks, I added the "postponed" tag

[2015-05-29 19:01] karato commented on #528
@dmzaytsev right, I'll try to find someone else for this task

[2015-05-29 19:01] karato commented on #535
@dmzaytsev right, I added "postponed" tag

[2015-05-29 19:01] karato commented on #535
@dmzaytsev got it, someone else will be assigned soon

[2015-05-29 19:01] karato commented on #600
@yegor256 -30 points to your rating

[2015-05-29 19:01] karato commented on #600
@yegor256 someone else will help in this task, no problem at all

[2015-05-29 19:01] karato commented on #600
@dmzaytsev thanks, I added the "urgent" tag

[2015-05-29 19:01] karato commented on #603
@yegor256 of course! @komaz it's your ticket now, please go ahead

[2015-05-29 19:34] yegor256 commented on #547
@karato give this to someone else pls

[2015-05-29 19:55] ypshenychka commented on #646
@komaz
According to our [QA Rules](http://www.teamed.io/qa.html):

Please indicate in any of your messages link to the created PR.

[2015-05-29 20:03] yegor256 commented on #606
@karato it is postponed indeed, don't assign it to anyone pls

[2015-05-29 20:35] komaz commented on #646
@ypshenychka my bad, the issue isfized in pull request #647

[2015-05-30 02:41] ypshenychka commented on #646
@komaz Thank you.

[2015-05-30 02:41] ypshenychka commented on #646
@karato Quality is acceptable.

[2015-05-30 09:51] karato commented on #547
@yegor256 deducted 30 from your rating :(

[2015-05-30 09:51] karato commented on #547
@yegor256 no problem, I will try to find somebody else

[2015-05-30 09:51] karato commented on #606
@yegor256 right, I added "postponed" tag

[2015-05-30 09:51] karato commented on #606
@yegor256 no problem, I will try to find somebody else

[2015-05-30 09:51] karato commented on #646
@ypshenychka thanks for the review, we'll try better next time

[2015-05-30 09:59] karato commented on #528
@yegor256 do this task, 30 mins is budget

[2015-05-30 10:55] karato commented on #600
@erimerturk this is your task

[2015-05-30 10:55] karato commented on #646
@komaz I added 10 mins to @ypshenychka (for QA review) in transaction 58230300; thank you, added **1 hour** to your acc, payment num is `AP-3XP12873NT5169641`, 2 hours and 20 mins spent in total to complete; the bonus for fast delivery (m=140); +60 added to your rating, at the moment it is: [+300](http://www.netbout.com/b/35322?open=rating)

[2015-05-30 11:50] karato commented on #547
@erimerturk do this task

[2015-05-30 15:42] antonini opened #656 "since version (on javadoc) is larger than it should be."
On the following classes the since are larger than the current version.

https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/rest/FkRegistered.java#L43

https://github.com/yegor256/netbout/blob/master/netbout-web/src/test/java/com/netbout/email/EmAliasITCase.java#L41

https://github.com/yegor256/netbout/blob/master/netbout-web/src/test/java/com/netbout/rest/bout/T

[2015-05-30 16:15] dmzaytsev commented on #627
@ikhvostenkov fixed in  #657 please close

[2015-05-30 16:43] dmzaytsev commented on #577
@yegor256 please see the project report

Scope status:

* RESTful API [90%]
* search functionality [none]
* email enhancement [15%]
* UI enhancement[5%]
* current bugs fix [5%]

Issues:

* I have no information about available developers and these the task limits on this project. This complicates the planning. It would be great if I had the the possible number of concurrent tasks for this project.

[2015-05-30 16:50] erimerturk commented on #600
@dmzaytsev you have already defined steps but also could we decide which steps will be implemented in this bug ? which of them should be puzzle ? what is your suggestion ? thank you

[2015-05-30 17:07] erimerturk commented on #547
@carlosmiranda @yegor256 before this bug we need to fix another problem. To do this task i need to find friend's personal version of bout which will have subscription property. To access bout, find user, get inbox and find bout steps should be followed. At this version of user i am just able to find it by <b>URN</b>. Friend don't have <b>URN</b> property.  Friend has <code>alias</code> and <code>e

[2015-05-30 17:18] erimerturk opened #658 "User should be findable by email or alias"
Current version of User is just searchable by <code>URN</code>. #547 and also #566 issues are need <b>User</b> and <b>User's inbox</b> information. And we have <code>alias</code> or <code>email</code> information to find find. So i should be able to find user by <code>alias</code> or <code>email</code>  information. @yegor256 @dmzaytsev @karato what do you think ?

[2015-05-30 20:23] mbarbieri commented on #614
@karato Since I'm still learning the codebase, I'm sure I'll not be able to complete it in a short time.
I think it's better if you assign this task to someone else.

[2015-05-31 08:21] komaz commented on #604
@dmzaytsev should I expect to get paid for this issue?

[2015-05-31 10:51] dmzaytsev commented on #604
@komaz I agree, you should get paid
@yegor256 @karato please pay attention on this ticket

[2015-05-31 11:14] dmzaytsev commented on #577
@yegor256 should be the ARC-task closed?
I see this task as RED in my agenda

[2015-05-31 12:09] dmzaytsev commented on #600
@erimerturk
let's implement the mailbox monitor in this task.
something like this
[code]
Monitor shoud use single daemon thread inside.
and don't forget about the unit tests. You might to use [GreenMail](http://www.icegreen.com/greenmail/) for the unit tests and `Ports` for the random port reservation.
Other steps must be described in the puzzle

[2015-05-31 13:14] karato commented on #577
@dmzaytsev There are a few concerns:

some tasks in the project are "stuck": #541 (137 days), #547 (134 days), #546 (134 days), #549 (131 days), #554 (129 days), #561 (122 days), #560 (121 days), #576 (54 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://www.teamed.io/policy.html#26)), 2) re-assign them ([par.29](http:/

[2015-05-31 14:02] dmzaytsev commented on #615
@antonini thanks!

[2015-05-31 14:02] #615 closed

[2015-05-31 14:35] dmzaytsev commented on #622
@ekondrashev the parameter `text` is the name of the user alias.
`User.friend()` looks for `Friends` by they alias name
https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/rest/TkFriend.java#L81
you may proceed the task #612 on the basis of this.

@yegor256 Have you any plan to use this interface another way?
should we change the javadoc as above?

[2015-05-31 14:40] dmzaytsev commented on #549
@alevohin did I answer to your question?
could you please close the ticket if so
or if you got the same error recently please let me know how I can reproduce this.

[2015-05-31 14:54] dmzaytsev commented on #577
@karato
#541 nobody assigned to this task yet
#547 has been reassigned to another developer 1 day ago
#546 nobody assigned to this task yet
#549 fixed already, I asked again to close the task
#554 marked as invalid 12 days ago
#561 marked as invalid 12 days ago
#560 marked as invalid 12 days ago
#576 completed 2 days ago

@yegor256 could you fix the "stuck" task selection algorithm to exclude "inv

[2015-05-31 18:57] dmzaytsev commented on #616
@karato this task is not postponed any more

[2015-05-31 20:31] karato commented on #616
@dmzaytsev thanks, I removed the "postponed" tag

[2015-05-31 21:18] erimerturk commented on #632
@yegor256 is there anyway to disable compress, minify js files ? I couldn't find it how can do it ? I should be able to debug js files.

[2015-06-01 05:46] ekondrashev commented on #622
@dmzaytsev
I'm missing the meaning of word `potential` here. Who are potential friends? What is the algorithm of deciding whether it is a friend or not?
[code]
It is current user alias? If yes why it is not encapsulated into the User class itself?

[2015-06-01 05:52] dmzaytsev commented on #622
@ekondrashev I don't know, I just looked into code and saw how this parameter used.

it's a friend alias.
let's ask Yegor

@yegor256 please help us

[2015-06-01 05:52] dmzaytsev commented on #622
@karato please assign this task to @yegor256

[2015-06-01 11:07] ypshenychka commented on #548
@karato Please confirm that you have no questions regarding above remark.

[2015-06-01 14:47] karato commented on #615
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-01 14:49] ypshenychka commented on #615
@antonini
According to our [QA Rules](http://www.teamed.io/qa.html):

Please mention link to the PR in any message.

[2015-06-01 15:50] karato commented on #541
@antonini this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-06-01 16:10] antonini commented on #615
@ypshenychka I didn't understood your point, because the PR mention the original issue.

[2015-06-01 17:35] karato commented on #548
@ypshenychka I fixed my comments, thanks for noticing

[2015-06-01 17:52] ypshenychka commented on #615
@antonini You should've written in this ticket at least one message that will point us to the PR in which the bug is fixed.
For example, "Waiting for PR #654" or "Issue is fixed in PR #654".

[2015-06-01 17:53] ypshenychka commented on #548
@karato Thanks a lot!

[2015-06-01 17:54] ypshenychka commented on #548
@karato Quality is acceptable here.

[2015-06-01 18:04] antonini commented on #615
@ypshenychka Now I understood. I´ll do that on other issues. Thanks.

[2015-06-01 18:10] ypshenychka commented on #615
@antonini Thank you!

[2015-06-01 18:10] ypshenychka commented on #615
@karato Quality is acceptable.

[2015-06-01 18:34] yegor256 commented on #604
@karato pls add extra 30 mins to @komaz

[2015-06-01 19:01] karato commented on #548
@ypshenychka thanks for the review, we'll try better next time

[2015-06-01 19:09] karato commented on #548
@mbarbieri 10 mins was added to the account of @ypshenychka (for QA review), in transaction 58503835

paid, thanks, added **38 mins** to your account, payment `AP-8R272510DF090542W`, 152 hours and 14 mins was spent

the bonus for fast delivery (age=2972)

added +38 to your rating, now it is equal to [+68](http://www.netbout.com/b/35357?open=rating)

[2015-06-01 19:38] yegor256 commented on #577
@dmzaytsev you're right, thanks, we'll take care of this.

[2015-06-01 19:45] yegor256 commented on #658
@erimerturk I see what you need, but this is against the idea of netbout. You're not supposed to know my email or my URN when you talk to me. All you know is my alias. If you will be able to find me by my email - it will be a serious violation of my privacy.

[2015-06-01 19:52] yegor256 commented on #528
@karato assign someone else here

[2015-06-01 20:13] karato commented on #604
@yegor256 I've sent 30 mins extra to @komaz in transaction ID "AP-2TK445388C3346358"

[2015-06-01 20:13] karato commented on #615
@ypshenychka thanks, got it. everybody, please try to make it good next time

[2015-06-01 20:18] erimerturk commented on #658
@yegor256 i don't agree to violation of privacy. Because system will be able to find user by alias, it is not opened the world, so i think it is not a violation.

[2015-06-01 20:20] yegor256 commented on #658
@erimerturk but our SPI is accessible via RESTful interface. Everything that is accessible inside the system is visible outside of it.

[2015-06-01 20:20] karato commented on #546
@mbarbieri it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket; The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-06-01 20:20] karato commented on #615
@antonini just added 10 mins to @ypshenychka (for QA), payment ID is `58505496`; paid, thanks, added **38 mins** to your account, payment `AP-5BY68816K7131492E`, 69 hours and 46 mins was spent; there is a bonus for fast delivery (m=4186); +38 added to your rating, at the moment it is: [+106](http://www.netbout.com/b/35346?open=rating)

[2015-06-01 20:21] yegor256 commented on #638
@karato it's postponed

[2015-06-01 20:26] yegor256 commented on #649
@k0r @dmzaytsev I'm not sure about this feature... if we allow comment deletion, we'll lose the entire idea of "traceability" of information. maybe we should make it possible to **edit** comments (including the ability to remove the entire content). when I edit my comment, the content of the comment is changed, but also a new comment is posted, that says that I edited the content of the comment. w

[2015-06-01 20:32] k0r commented on #649
@yegor256 most commenting systems have deletion implemented.

[2015-06-01 20:37] yegor256 commented on #649
@k0r I'm not against editing/deleting, but against loosing the information entirely. we must have a way to see absolutely everything that happened in the bout since it was created. otherwise, this whole Netbout system is not any different from Skype or any Slack or any other chatting system.

[2015-06-01 20:42] k0r commented on #649
@yegor256 the comments a user would delete wouldn't disrupt the integrity.

[2015-06-01 20:49] yegor256 commented on #649
@k0r well, if I create a bout to discuss something with you, we both post 10 comments each and then you delete all of your comments. I have a bout with only 10 my own comments. I simply don't have a history of our conversation any more. That will be frustrating for me :) And this is not what Netbout guarantees. Netbout guarantees persistency of information, with no time limits

[2015-06-01 20:51] k0r commented on #649
@yegor256 not entirely accurate, netbout emails copies of comments.

[2015-06-01 20:55] yegor256 commented on #649
@k0r not every user has an email notification in his/her account. And emails are not persistent at all. Netbout is a replacer of emails, for important long-term communications. That's its business idea.

[2015-06-01 21:02] k0r commented on #649
@yegor256 `netbout` has a specific userbase that probably wouldn't misuse the deletion feature.

[2015-06-01 22:03] yegor256 commented on #649
@k0r no no, it's a public project, for an absolutely un-filtered audience. anyone can use Netbout for any needs. it's a communication platform.

[2015-06-01 22:19] lautarobock commented on #616
@karato anything else for close it?

[2015-06-01 22:20] mbarbieri commented on #546
@karato PR #659 is ready for review

[2015-06-01 22:36] k0r commented on #649
@yegor256 [this](https://github.com/yegor256/netbout/issues/649#issuecomment-106699552) makes sense.

[2015-06-01 23:02] yegor256 commented on #649
@k0r yes, we have to show that the comment was deleted, but we should give an ability to see the original content. maybe through an extra click, but there has to be a way to get there and see what was posted originally

[2015-06-01 23:07] yegor256 commented on #616
@lautarobock only @komaz can close it, talk to him

[2015-06-02 05:06] dmzaytsev commented on #649
@yegor256 @k0r I think the user should be able delete/edit own comments
in the bout If there are no comments sent later by other users.
We won't lost the content in this case, and will give ability to fix some mistakes

[2015-06-02 05:26] dmzaytsev commented on #577
@yegor256

[2015-06-02 05:36] yegor256 commented on #577
@dmzaytsev I marked 2.14.16 as "stable release", see https://github.com/yegor256/netbout/releases This ticket will be closed soon (and paid). A new ticket will be opened, where we will continue to work on 2.15

[2015-06-02 05:40] dmzaytsev commented on #577
@yegor256 thanks!

[2015-06-02 05:42] yegor256 commented on #649
@dmzaytsev yes, that's a good idea!

[2015-06-02 05:43] dmzaytsev commented on #649
@karato this is valid bug

[2015-06-02 05:44] dmzaytsev commented on #649
@karato please set milestone to 3.1

[2015-06-02 05:44] dmzaytsev commented on #649
@karato this is postponed task

[2015-06-02 05:45] komaz commented on #616
@lautarobock thanks for the fix

[2015-06-02 05:45] #616 closed

[2015-06-02 06:12] antonini commented on #541
@karato PR #660 is available and waiting for review.

[2015-06-02 06:13] antonini commented on #648
PR #650 is available and waiting for a review.

[2015-06-02 09:24] karato commented on #528
@yegor256 30 points was deducted from your rating

[2015-06-02 09:24] karato commented on #528
@yegor256 no problem, I will try to find somebody else

[2015-06-02 09:24] karato commented on #638
@yegor256 got it, "postponed" tag here

[2015-06-02 09:24] karato commented on #638
@yegor256 someone else will help in this task, no problem at all

[2015-06-02 09:24] karato commented on #649
@dmzaytsev I tagged this as "bug"

[2015-06-02 09:25] karato opened #661 "2.15"
Please, publish a new release **2.15** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-06-02 09:32] karato commented on #549
@mbarbieri this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here. Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-06-02 10:25] alevohin commented on #549
@dmzaytsev Why do you suggest that problem was with jersey and not with `Takes`?

[2015-06-02 10:30] karato commented on #649
@k0r since the ticket has no milestone I set it to 3.1

[2015-06-02 10:30] karato commented on #661
@yegor256 milestone set to `3.1` (correct me if I am wrong)

[2015-06-02 10:43] erimerturk commented on #637
@yegor256 i am planning to remove <code>doctype-system="about:legacy-compat"</code> from <b>xsl</b> files. Is it the proper solution ? what do you think ? thank you

[2015-06-02 11:11] dmzaytsev commented on #549
@alevohin I see `at com.netbout.rest.LoginRs.login(LoginRs.java:59)` in the trace
but we have no class `com.netbout.rest.LoginRs` any more.
Could you give us more information ? did you get same error after March 18?

[2015-06-02 11:50] komaz commented on #576
@dmzaytsev who can close this issue?

[2015-06-02 11:57] dmzaytsev commented on #576
@komaz @karato should close this ticket

[2015-06-02 12:44] karato commented on #649
@dmzaytsev I set the milestone here to 3.1

[2015-06-02 12:44] karato commented on #649
@dmzaytsev right, I added "postponed" tag

[2015-06-02 12:44] karato commented on #649
@dmzaytsev I will assign somebody else to this issue

[2015-06-02 13:03] erimerturk commented on #600
@dmzaytsev your description is not enough i think. Could you please explain <b>EmCatch</b> object more ? What is the duty of <b>EmCatch</b> , how will you initialize it, which interface do you need ? I need more information about <b>EmCatch</b>. This version of it is not clear for me, thank you.

[2015-06-02 13:07] mbarbieri commented on #549
@alevohin @dmzaytsev I tried to reproduce the error in my local running
[code]
and looking in visualvm for something strange, but I wasn't able to reproduce it.

[2015-06-02 15:09] yegor256 commented on #576
@rultor deploy

[2015-06-02 15:10] rultor commented on #576
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/4026-107986316)

[2015-06-02 15:17] rultor commented on #576
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4026-107986316) (took me 7min)

[2015-06-02 15:28] yegor256 commented on #637
@erimerturk I put it there because of http://stackoverflow.com/a/3404922/187141 (see other answers too)

[2015-06-02 17:01] dmzaytsev commented on #600
@erimerturk Sorry I thought jcabi-email supports not sending only...
well.. the `EmCatch` mission is periodically(in separate thread) grab all messages from mailbox(POP3 or IMAP) and to call `EmCatch.Action.run()` for each message. We should pass into the ctor the connection parameters (javax.mail API) and the `EmCacth.Action` instance. We'll create `EmCatch` in `com.netbout.Launch`.

You don't ne

[2015-06-02 17:06] dmzaytsev commented on #549
@mbarbieri I think you can't reproduce it locally...

@karato this is postponed task

[2015-06-02 19:18] lautarobock commented on #616
@karato what about my paid? thanks

[2015-06-02 20:44] mbarbieri commented on #614
@karato will you assign this to someone else?

[2015-06-02 21:13] yegor256 commented on #549
@dmzaytsev I think we should close it, not postpone. This problem existed before we migrated to Takes. I believe it's gone.

[2015-06-02 22:15] yegor256 opened #662 "TkReturn from Takes 0.20"
Let's use `TkReturn` and `RsReturn` from Takes 0.20 recently released: https://github.com/yegor256/takes/releases/tag/0.20

[2015-06-03 02:45] antonini commented on #620
PR #663 ready for review.

[2015-06-03 04:01] dmzaytsev commented on #549
@yegor256 The ticker reporter able to close the ticket, but @alevohin don't want do it and don't explain why :)
thats why I marked it as postponed

[2015-06-03 05:19] alevohin commented on #549
@dmzaytsev I did not see OOM after March 18. @yegor256 confirmed that the problem has gone after migration. So I just close it, thank you!

[2015-06-03 05:19] #549 closed

[2015-06-03 05:27] dmzaytsev commented on #549
@alevohin thanks!

[2015-06-03 06:23] dmzaytsev commented on #662
@karato it's a valid bug

[2015-06-03 06:23] dmzaytsev commented on #662
@karato please set milestone to 3.0

[2015-06-03 11:51] dmzaytsev commented on #581
@rultor release, tag=`2.14.17`

[2015-06-03 11:52] rultor commented on #581
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4041-108334178)

[2015-06-03 12:05] rultor commented on #581
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/4041-108334178) (took me 13min)

[2015-06-03 12:13] dmzaytsev commented on #581
@komaz please mention PR right here in the ticket

[2015-06-03 12:17] komaz commented on #581
@dmzaytsev fixed in pull request #653

[2015-06-03 12:17] dmzaytsev commented on #581
@komaz thanks!

[2015-06-03 12:17] #581 closed

[2015-06-03 14:49] yegor256 opened #664 "native markdown links are parsed twice"
After the changes made in #581 we have a problem with links rendering. A raw link like `http://www.google.com` is converted into `<a href="http://www.google.com">http://www.google.com</a>`, which is perfect. But a like like this `[google](http://www.google.com)` is converted into `<a href="[http://www.google.com](http://www.google.com)">google.com</a>`, which is not good.

[2015-06-03 14:50] yegor256 commented on #581
@dmzaytsev @komaz now we have this #664

[2015-06-03 14:58] komaz commented on #664
@yegor256 links like `[google](http://google.com)` work fine, there's a special test to make sure that links  starting with `](` are not highlighted. Problem appears when part in square brackets contains url, e.g. `[http://google.com](http://google.com)`. We need to make sure that links having preceding `[` are not highlighted too.

[2015-06-03 15:16] dmzaytsev commented on #664
@karato this is valid bug

[2015-06-03 15:17] dmzaytsev commented on #664
@karato please set milestone to 3.0

[2015-06-03 15:17] dmzaytsev commented on #664
@karato please assign this ticket to @komaz

[2015-06-03 18:22] longtimeago opened #666 "Error trying to go by github issue link"
There's an error appears if clicking on any github issue link from "agenda" page
[code]
Looks like the link itself is broken

[2015-06-03 23:43] yegor256 commented on #666
@longtimeago it's a duplicate of #664

[2015-06-03 23:43] #666 closed

[2015-06-04 06:30] longtimeago commented on #666
@yegor256 sorry, it wasn't so clear from bug title

[2015-06-04 07:48] erimerturk opened #667 "Netbout agenda tab links broken"
href part broken version :

```[ https://github.com/yegor256/netbout/issues/547 ](https://github.com/yegor256/netbout/issues/547)```

it should be :

``` https://github.com/yegor256/netbout/issues/547 ```

[2015-06-04 07:53] dmzaytsev commented on #667
@erimerturk  it's a duplicate of #664

[2015-06-04 08:00] erimerturk commented on #667
@dmzaytsev thank you

[2015-06-04 08:00] #667 closed

[2015-06-04 10:04] karato commented on #614
@mbarbieri 30 points deducted from your rating

[2015-06-04 10:04] karato commented on #614
@mbarbieri no problem, I will try to find somebody else

[2015-06-04 10:05] karato commented on #664
@dmzaytsev I just added bug tag here

[2015-06-04 10:05] karato commented on #662
@dmzaytsev I just added bug tag here

[2015-06-04 10:08] karato commented on #554
@maurezen It is "invalid", I am closing it

[2015-06-04 10:08] #554 closed

[2015-06-04 10:08] karato commented on #560
@carlosmiranda closed since "invalid"

[2015-06-04 10:08] #560 closed

[2015-06-04 10:08] karato commented on #561
@maurezen I am closing it

[2015-06-04 10:08] #561 closed

[2015-06-04 10:08] karato commented on #564
@longtimeago the ticket is "invalid", closing it

[2015-06-04 10:08] karato commented on #576
@yegor256 Thanks, closed

[2015-06-04 10:08] #576 closed

[2015-06-04 10:08] karato commented on #577
@yegor256 Closing..

[2015-06-04 10:08] #577 closed

[2015-06-04 10:08] karato commented on #616
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-04 10:09] karato commented on #576
@komaz Much obliged! I have added **30 mins** to your account in payment "AP-90619241HD722451H", 175 hours and 9 mins spent. +30 to your rating, your total score is [+360](http://www.netbout.com/b/35322?open=rating)

[2015-06-04 10:09] karato commented on #577
@dmzaytsev **30 mins** was added to your account, many thanks for your contribution! The task took 58619887.; +30 added to your rating, at the moment it is: [+2245](http://www.netbout.com/b/35166?open=rating)

[2015-06-04 10:11] ypshenychka commented on #616
@karato Quality is good here.

[2015-06-04 12:06] karato commented on #662
@yegor256 I set the milestone to 3.1 since there is nothing set yet

[2015-06-04 12:06] karato commented on #664
@yegor256 attached this issue to milestone "3.1" (let me know if this is wrong)

[2015-06-04 12:06] karato commented on #616
@ypshenychka thanks a lot :)

[2015-06-04 12:12] karato commented on #616
@lautarobock 10 mins was added to the account of @ypshenychka (for QA review), in transaction 58621465; Thank you, I have added **30 mins** to your account in payment/transaction "`AP-7PU11138212249406`", time consumed: 92 hours and 44 mins; +30 to your rating, your total score is [+90](http://www.netbout.com/b/35344?open=rating)

[2015-06-04 12:12] karato commented on #664
@yegor256 thanks for reporting! I topped your account for 15 mins, transaction 000-88f4b9bf

[2015-06-04 14:13] karato commented on #664
@dmzaytsev the milestone here is 3.0

[2015-06-04 14:13] karato commented on #662
@dmzaytsev I attached this issue to milestone `3.0`

[2015-06-04 14:17] karato commented on #614
@lautarobock could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here... Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-06-04 14:17] karato commented on #662
@mbarbieri can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here. The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-06-04 14:17] karato commented on #662
@yegor256 many thanks for the report, I topped your account for 15 mins, transaction 000-92a3a706

[2015-06-04 14:37] lautarobock opened #668 "Links are not redirected properly"
If you go to netbout **agenda** page and make click on any github bug, you cannot get the page, instead of it, you get an URL like this: http://www.netbout.com/b/[https://github.com/yegor256/takes/issues/263](https://github.com/yegor256/takes/issues/263)

[2015-06-04 15:19] karato commented on #664
@lautarobock this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here

Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-06-04 15:36] dmzaytsev commented on #668
@lautarobock it's a duplicate of #664

[2015-06-04 15:42] lautarobock commented on #668
@dmzaytsev yes, I've see it later,

[2015-06-04 15:45] dmzaytsev commented on #664
@karato please assign this ticket to @komaz

[2015-06-04 15:47] dmzaytsev commented on #614
@lautarobock you need to implement two tabs above the message area: Write and Preview like in the  Github comments. For Preview you might to use `com.netbout.rest.Markdown`

[2015-06-04 20:36] mbarbieri commented on #662
@yegor256 sorry. Use them where? To do what?

[2015-06-04 20:38] mbarbieri commented on #662
@yegor256 replace those in netbout with those from takes, right?

[2015-06-04 20:38] yegor256 commented on #662
@mbarbieri we have our own `TkReturn` and `RsReturn` classes in Netbout project now. Let's remove them and use similar classes from the latest Takes

[2015-06-04 21:22] mbarbieri opened #669 "Tests not running after upgrade to Takes 0.20"
Trying to upgrade to takes 0.20 lots of tests (just an example ```TkBoutITCase```) are failing because of this exception:
[code]

This is blocking #662

[2015-06-04 21:24] mbarbieri commented on #662
@yegor256 @dmzaytsev not able to proceed on this task until #669 is fixed

[2015-06-04 21:52] yegor256 commented on #669
@dmzaytsev FYI, it's not a bug since it doesn't say what is broken in current master

[2015-06-05 10:38] karato commented on #549
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-05 10:38] karato commented on #581
@elenavolokhova please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-05 12:41] erimerturk commented on #637
@yegor256 I couldn't find any solution, do you have any suggestion ? should we consider upgrade saxon. you can see  saxon upgrade suggestion from [here] (http://stackoverflow.com/a/19379446/652945)

[2015-06-05 15:26] dmzaytsev commented on #668
@lautarobock please close this ticket

[2015-06-05 15:29] #668 closed

[2015-06-05 15:43] dmzaytsev commented on #664
@yegor256 please confirm the assignment @komaz to the task

[2015-06-05 15:51] yegor256 commented on #664
@karato assign @komaz here pls

[2015-06-05 16:28] yegor256 commented on #637
@erimerturk sure, if you need to upgrade saxon, go for it, why not? @dmzaytsev any objections?

[2015-06-05 16:28] super132 opened #670 "Tasks URLs on agenda page are not working correctly"
Under agenda list, when I now click on the task assigned to me, I get this error:

[code]

[2015-06-05 16:50] dmzaytsev commented on #670
@super132  it's a duplicate of #664

[2015-06-05 17:08] dmzaytsev commented on #637
@erimerturk @yegor256 no objections
let's try

[2015-06-05 17:34] karato commented on #664
@yegor256 OK. @komaz the ticket is yours, please proceed

[2015-06-05 17:43] yegor256 opened #671 "space after link is swallowed in Markdown"
When I post this message:

[code]

I see this HTML:

[code]

The space after the link is lost. Looks like a bug to me.

[2015-06-05 17:48] dmzaytsev commented on #671
@yegor256 we'll add a test for it
https://github.com/yegor256/netbout/pull/665#issuecomment-109344045

[2015-06-05 18:06] dmzaytsev commented on #669
@mbarbieri upgrading to Takes 0.2 is the part of the subject of your ticket(#662)
if the ticket will be too big for the time budget just upgrade the project to Takes 0.2 in one PR and create a puzzle for other job

[2015-06-05 18:23] dmzaytsev commented on #661
@yegor256 please see the project report

Scope status:

* RESTful API [90%]
* search functionality [none]
* email enhancement [30%]
* UI enhancement[10%]
* current bugs fix [7%]

Issues:

* I have no information about available developers and their the task limits on this project. This complicates the planning. It would better if I had the the possible number of concurrent tasks for this project.

[2015-06-05 18:36] mbarbieri commented on #669
@dmzaytsev actually I've already done the changes for #662 and fixed some tests that were failing because of that. What if I push the code `@Ignore` the failing tests (there are quite a lot) and let someone else fix them?

[2015-06-05 20:54] yegor256 commented on #671
@dmzaytsev ok, closing as duplicate of #665

[2015-06-05 21:10] erimerturk commented on #637
@yegor256 @dmzaytsev we need to upgrade takes saxon version because exception thrown on takes side. <code>RsPrettyXML</code> line :117 . So i think first we should fix this problem on takes project and then use updated <code>RsPrettyXML</code> and refactor xsl files. What do you think ? I am planning to open an issue on takes project about saxon upgrade, should i ? thanks you.

[2015-06-05 21:31] yegor256 commented on #637
@erimerturk keep in mind that Takes is DOM-agnostic, which means that it doesn't know how exactly DOM is implemented, either with Saxon or Apache or anything else.

[2015-06-06 03:20] super132 commented on #670
@dmzaytsev understood. I'm closing this ticket.

[2015-06-06 03:20] #670 closed

[2015-06-06 06:24] dmzaytsev commented on #662
@mbarbieri if the changes relate only tests, then yes, you can ignore part of them.
Try to make a PR.

[2015-06-06 06:25] dmzaytsev commented on #669
@mbarbieri I answered to you in #662
please close this issue

[2015-06-06 07:06] elenavolokhova commented on #549
@karato There was no fix provided in this ticket, as the issue is not reproducible any more. So it shouldn't be paid. Quality is bad here.

[2015-06-06 07:18] elenavolokhova commented on #581
@karato Quality is good here.

[2015-06-06 07:41] #669 closed

[2015-06-06 09:56] karato commented on #549
@elenavolokhova thanks a lot, noticing bad quality is what makes us better

[2015-06-06 09:56] karato commented on #581
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2015-06-06 10:05] karato commented on #549
@mbarbieri 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 58669427

[2015-06-06 11:28] karato commented on #581
@komaz I added 10 mins to @elenavolokhova (for QA review) in transaction 58670109... thanks, paid, **30 mins** to your account, payment ID is `AP-7N211370L5337983P`, task took 213 hours and 40 mins to complete... +30 added to your rating, current score is: [+420](http://www.netbout.com/b/35322?open=rating)

[2015-06-06 11:58] YamStranger opened #673 "IllegalArgumentException during redirecting to url from agenda"
Here is error during processing of redirect from agenda to GitHub issue.

Now in my agenda I see 5 urls:
http://www.netbout.com/b/[https://github.com/jcabi/jcabi-maven-skin/issues/16](https://github.com/jcabi/jcabi-maven-skin/issues/16)
http://www.netbout.com/b/[https://github.com/jcabi/jcabi-http/issues/85](https://github.com/jcabi/jcabi-http/issues/85)
http://www.netbout.com/b/[https://github.co

[2015-06-06 13:15] mbarbieri commented on #662
@karato @dmzaytsev PR #674 is ready for review.

[2015-06-06 13:16] karato commented on #648
@yegor256 Thanks all, closed

[2015-06-06 13:16] #648 closed

[2015-06-06 13:16] karato commented on #648
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-06-06 13:47] dmzaytsev commented on #673
@YamStranger  it's a duplicate of #664

[2015-06-06 14:27] YamStranger commented on #673
@dmzaytsev Ok I will close it

[2015-06-06 14:27] #673 closed

[2015-06-06 14:37] karato commented on #662
@mbarbieri I will take a look, thanks

[2015-06-06 17:13] longtimeago commented on #664
@komaz @dmzaytsev the bug is really annoying. Hope you will fix it soon :)

[2015-06-06 17:32] dmzaytsev commented on #664
@longtimeago  sorry for the inconvenience
I hope the PR #665 will pass CR soon

[2015-06-06 17:53] dmzaytsev commented on #671
@yegor256 please reopen the ticket

[2015-06-06 19:51] ypshenychka commented on #648
@karato Quality is good.

[2015-06-07 07:54] carlosmiranda opened #675 "Broken links on Agenda page"
The links on the agenda page (ones on the left, leading to the tickets) are broken.

![image](https://cloud.githubusercontent.com/assets/1917892/8023074/8fdca53c-0d2c-11e5-97b2-36fabb62a74b.png)

For example, the very last link leads to the following URL:

![image](https://cloud.githubusercontent.com/assets/1917892/8023086/26e5c238-0d2d-11e5-8fff-8678a6c5f7c1.png)

Which leads to the following err

[2015-06-07 08:07] dmzaytsev commented on #675
@carlosmiranda thanks for reporting
but  it's a duplicate of #664
The issue will be resolved soon

[2015-06-07 08:12] carlosmiranda commented on #675
@dmzaytsev Right, thanks

[2015-06-07 08:12] #675 closed

[2015-06-07 09:14] karato commented on #648
@ypshenychka thank you

[2015-06-07 09:21] karato commented on #648
@antonini just added 10 mins to @ypshenychka (for QA), payment ID is `58683022`. I just added **30 mins** to your account, many thanks for your contribution (AP-5U878803RY6445325).. 193 hours and 23 mins spent here. added +30 to your rating, now it is equal to [+106](http://www.netbout.com/b/35346?open=rating)

[2015-06-07 15:46] dmzaytsev commented on #603
@komaz any progress here?

[2015-06-07 18:28] dmzaytsev commented on #664
@rultor release, tag=`2.14.18`

[2015-06-07 18:28] rultor commented on #664
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4079-109786150)

[2015-06-07 18:42] rultor commented on #664
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/4079-109786150) (took me 13min)

[2015-06-07 18:43] komaz commented on #664
@dmzaytsev looks like my agenda is fixed

[2015-06-07 18:44] longtimeago commented on #664
@komaz @dmzaytsev for me too, perfect! Thank you!

[2015-06-07 18:44] dmzaytsev commented on #664
@komaz Indeed :)
thanks!

[2015-06-07 18:44] komaz commented on #664
@yegor256 fixed in pull request #665

[2015-06-08 04:17] dmzaytsev commented on #546
@rultor release, tag=`2.15`

[2015-06-08 04:17] rultor commented on #546
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4084-109855801)

[2015-06-08 04:29] rultor commented on #546
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/4084-109855801) (took me 12min)

[2015-06-08 04:55] dmzaytsev commented on #546
@yegor256 did you fill out the [registration form](https://developers.google.com/gmail/markup/registering-with-google) ?

[2015-06-08 08:41] ikhvostenkov commented on #627
@dmzaytsev Verified - Fixed.

[2015-06-08 08:41] #627 closed

[2015-06-08 10:23] karato commented on #546
@rultor @carlosmiranda please take a look, rultor closed it automatically

[2015-06-08 10:28] karato commented on #567
@mbarbieri can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here

This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2015-06-08 10:28] karato commented on #588
@erimerturk this is your task

[2015-06-08 10:37] dmzaytsev commented on #600
@erimerturk any progress here?

[2015-06-08 10:40] dmzaytsev commented on #652
@zshamrock any progress here ?

[2015-06-08 10:44] erimerturk commented on #600
@dmzaytsev i am working on it but i should say that it is a little bit difficult for me. could you please review my first version from [gist](https://gist.github.com/erimerturk/f0832f1d8a874f9b82af).  i think your comment could help me.

[2015-06-08 11:33] dmzaytsev commented on #600
@erimerturk I would do it like this
[code]

[2015-06-08 11:49] dmzaytsev commented on #600
@yegor256 pop3 will be enough for the mailbox monitor or we have to add imap as an option? what do you think?

[2015-06-08 11:52] dmzaytsev commented on #600
@erimerturk also please put check period into properties
I think it would better to use `Map` instead `Properties`

[2015-06-08 12:11] erimerturk commented on #600
@dmzaytsev  <b>// looking for the boat by email and pass it into action .run()</b>  how can i get email ? Is it equal to <code>messages[i].getFrom()[0] </code> ?
Is it user email or bout_id ? I need user_email and bout_id both of them. But i think we are losing one of them.

[2015-06-08 12:22] dmzaytsev commented on #600
@erimerturk sorry, I meant look for the boat by boat_id
the user replies to the `<boat_id>@reply.netbout.com>` so we should extract `boat_id` from `message.getTo`. The alias email we might take from `message.getFrom`

[2015-06-08 13:18] carlosmiranda commented on #546
@karato looks correct, closing it now.

[2015-06-08 13:18] #546 closed

[2015-06-08 18:13] dmzaytsev commented on #602
@yegor256   do you mean send all existing bout messages to the entered email in single message?

[2015-06-08 20:02] zshamrock commented on #652
hi, @dmzaytsev, sorry for the delay, for the others tasks as well, I was off, will take a look into this one this week

[2015-06-08 20:40] erimerturk commented on #600
@dmzaytsev please review last version from [gist] (https://gist.github.com/erimerturk/8a58969cbac35261711e) . <code> Action.run </code> is expecting Message for now, it should be solved by another issue i think. What do you think ? If  [gist] (https://gist.github.com/erimerturk/8a58969cbac35261711e) version is okay for you, i will send PR. thank you so much.

[2015-06-08 20:51] mbarbieri commented on #567
@yegor256 I'm thinking of doing that on client side, disabling the submit after the first click.
What do you think?

[2015-06-08 21:09] yegor256 commented on #567
@mbarbieri yes, I think it's the only way to do it

[2015-06-08 21:11] yegor256 commented on #602
@dmzaytsev no, no, just one by one. Every message I post to the bout, the user recipient receives to his email

[2015-06-08 21:12] yegor256 commented on #600
@dmzaytsev I think POP3 is more than enough. Don't see a reason for using IMAP

[2015-06-08 21:15] mbarbieri opened #677 "Empty message after adding some message"
After inserting some message in a new bout I start seeing an empty one:

![selection_035](https://cloud.githubusercontent.com/assets/110143/8045512/2382bd1e-0e34-11e5-96f3-5583bee99262.png)

Obviously it should not be there...
To reproduce:
- create a new bout
- type a first message
- then a second one
  after 2 or 3 (I guess is based on the screen resolution, but not sure) an empty one appears at

[2015-06-08 21:54] mbarbieri commented on #567
@karato PR #678 ready to be reviewed

[2015-06-08 22:29] yegor256 commented on #664
@komaz thanks!

[2015-06-08 22:29] #664 closed

[2015-06-08 22:34] yegor256 commented on #671
@dmzaytsev indeed, the bug is still there

[2015-06-08 23:56] yegor256 commented on #546
@carlosmiranda yes, just did

[2015-06-08 23:56] yegor256 commented on #546
@dmzaytsev yes, I just filled the registration form

[2015-06-09 03:32] dmzaytsev commented on #671
@karato it's a valid bug

[2015-06-09 03:32] dmzaytsev commented on #671
@karato  please set milestone to 3.0

[2015-06-09 03:38] dmzaytsev commented on #677
@mbarbieri please elaborate a bit
what's wrong? what you expected to see?
how a performer should reproduce this bug?
It's occurs with any bout or not ?

[2015-06-09 03:54] dmzaytsev commented on #652
@zshamrock FYI Netbout just upgraded to Takes 0.20.2
also keep in mind
http://www.teamed.io/policy.html#16
http://www.teamed.io/policy.html#10

[2015-06-09 04:12] dmzaytsev commented on #600
@erimerturk let's use the ctor params for user,passwd,host,port,check_period instead the Map
we should have default values for port(110 for pop3) and check_periiod (2min)
then make the PR

[2015-06-09 04:42] dmzaytsev commented on #603
@komaz ping

[2015-06-09 04:55] antonini commented on #541
@karato Any progress on this issue?

[2015-06-09 04:55] komaz commented on #603
@dmzaytsev no progress here

[2015-06-09 04:59] dmzaytsev commented on #541
@antonini ask the ticket reporter to close this

[2015-06-09 05:05] dmzaytsev commented on #603
@komaz if you have any technical questions don't hesitate ask right here in the ticket
also keep in mind
http://www.teamed.io/policy.html#10
http://www.teamed.io/policy.html#16

[2015-06-09 06:47] yegor256 commented on #661
@dmzaytsev many thanks for the report. I think that we should create a "staging" deployment of Netbout, a full copy of production. Every time we "deploy" the snapshot, this staging will be updated. It will help us to test the product before putting it to production. Something like `staging.netbout.com`. What do you think?

[2015-06-09 06:48] yegor256 commented on #661
@dmzaytsev or maybe `snapshot.netbout.com`, for clarity

[2015-06-09 06:55] dmzaytsev commented on #661
@yegor256 in my opinion `snapshot.netbout.com` is good .
we have to merge then deploy and test on the `snapshot.netbout.com`, right ?
What we should to do if after checking we see task not completed?
The performer have to make a new PR?

[2015-06-09 06:56] zshamrock commented on #652
@dmzaytsev more time?

[2015-06-09 06:57] zshamrock commented on #652
@dmzaytsev thank you, will start to make my head around the working principles, and the working workflow in general. Thank you.

[2015-06-09 07:03] komaz commented on #603
@dmzaytsev I'm thinking about this issue in background all this time, but it seems to me that even properly identify all `@todo` places can take a while. Now I think a good starting point might be the following:
- method `search(String term)` in `com.netbout.spi.Messages`
- method `messages()` in `com.netbout.spi.Inbox`
- naive iterate-all implementation + tests
- todos to continue
What do you thi

[2015-06-09 07:08] erimerturk commented on #547
@carlosmiranda @yegor256 you can see PR details #672

[2015-06-09 07:57] dmzaytsev commented on #661
@yegor256 in this case the `master` branch and the `netbout.com` will be different. It's not good I think. Maybe it would better to create a new branch e.g. `dev`, merge the changes into it and `snapshot.netbout.com`(or `dev.netbout.com`) will be updated from `dev`.
what do you think?

[2015-06-09 08:00] dmzaytsev commented on #652
@zshamrock I just wanted to remind, don't forget inform the project manager about the delay

[2015-06-09 08:57] erimerturk commented on #600
@dmzaytsev please see PR #679

[2015-06-09 09:23] karato commented on #662
@rultor @yegor256 please take a look, rultor closed it automatically

[2015-06-09 09:23] karato commented on #671
@yegor256 I am aware of the task, give me some time to find a developer...

[2015-06-09 09:23] karato commented on #671
@yegor256 I set the milestone to 3.1 since there is nothing set yet

[2015-06-09 09:36] zshamrock commented on #652
@dmzaytsev and who is the project manager? @yegor256 ? What it is the easiest way to find out who is the PM for the specific project?

[2015-06-09 10:11] dmzaytsev commented on #652
@zshamrock `@karato` is the PM

[2015-06-09 10:34] karato commented on #671
@dmzaytsev milestone set to `3.0`, thanks

[2015-06-09 10:42] dmzaytsev commented on #603
@komaz I agree, please proceed

[2015-06-09 11:23] zshamrock commented on #652
@karato more time?

[2015-06-09 11:40] dmzaytsev commented on #567
@rultor release, tag=`2.15.1`

[2015-06-09 11:44] rultor commented on #567
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4107-110327959)

[2015-06-09 11:58] rultor commented on #567
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/4107-110327959) (took me 13min)

[2015-06-09 11:59] karato commented on #567
@rultor @yegor256 please take a look, rultor closed it automatically

[2015-06-09 12:07] karato commented on #638
@ekondrashev do this task

[2015-06-09 12:07] karato commented on #661
@dmzaytsev do this task

[2015-06-09 12:26] dmzaytsev commented on #638
@karato this is postponed task

[2015-06-09 14:28] erimerturk commented on #637
@yegor256 <code>RsPrettyXml</code> ignore  this line ``` <xsl:text disable-output-escaping='yes'>&lt;!DOCTYPE html&gt;</xsl:text> ``` .  how can i check is ```disable-output-escaping``` enabled. Because there is a guy says it is optional [feature] (http://stackoverflow.com/a/3404922/652945). Do you have any idea, why it is happing ? And another thing i failed to ugrade saxon version.

[2015-06-09 14:36] karato commented on #638
@dmzaytsev thanks, I added the "postponed" tag

[2015-06-09 14:36] karato commented on #638
@dmzaytsev right, I will find someone else, no problem

[2015-06-09 14:36] karato commented on #652
@zshamrock OK, take your time

[2015-06-09 15:36] karato commented on #546
@ypshenychka review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-09 16:40] komaz commented on #603
@karato more time please

[2015-06-09 17:09] yegor256 commented on #603
@komaz I didn't get what `Inbox#messages()` is for... I think we need this:

 * `Pageable<Message> Messages#search(String term)`
 * `Pageable<Bout> Inbox#search(String term)`

That's it.

[2015-06-09 17:10] yegor256 commented on #603
@komaz or maybe even create a new interface `Searchable<T>` and make sure:

 * `Inbox extends Searchable<Bout>`
 * `Messages extends Searchable<Message>`

[2015-06-09 17:20] komaz commented on #603
@yegor256 I don't mind implementing to that way, but my thought was that
user would like to see exact messages in search results over inbox, not
just bouts (otherwise either search in bout functionality is redundant, or
user will have to repeat a search in bouts). Or do you mean the application
code should compose these searches (e.g. find bouts first, then find in
bouts) in order to provide full

[2015-06-09 17:41] yegor256 commented on #603
@komaz well, I thought that a user will have to find a bout first and than search inside that bout again, to find a message. Just like it happens in Gmail. First, you find an email thread and then you can go through it and find the message you're looking for... what do you think?

[2015-06-09 17:52] yegor256 commented on #637
@erimerturk maybe it's a bug in `RsPrettyXML`?

[2015-06-09 17:58] komaz commented on #603
@yegor256 I played with gmail search and I believe your approach will work fine if bout links in search result will be "search in bout" links – that way user won't need need to repeat the search in opened bouts. Sorry for misunderstanding if that's what you meant in the beginning :)

[2015-06-09 18:29] yegor256 commented on #661
@dmzaytsev master branch should not be equal to production. Every time we release, we create a new Git tag, which is equal to production. The master should go forward and introduce new features. So, the most logical approach is to deploy master somewhere else and see how it works there. We'll have to create "snapshot" tables in DynamoDB, "snapshot" facebook/google/github accounts, etc. etc. It wil

[2015-06-09 18:30] yegor256 commented on #661
@dmzaytsev the `dev` branch you're suggesting is what GitFlow is suggesting (http://nvie.com/posts/a-successful-git-branching-model/), but I prefer to have it vice versa: master branch is where we develop and "release" branches/tags is where we keep stable versions

[2015-06-09 18:32] yegor256 commented on #603
@komaz yes, that's also possible, but we can do it later. For now it will be good enough to let users search in inbox and find bouts and then search in bouts and find messages. These are two different types of searches.

[2015-06-09 18:34] yegor256 commented on #662
@mbarbieri thanks!

[2015-06-09 18:34] #662 closed

[2015-06-09 18:43] dmzaytsev commented on #661
@yegor256 I agree,  BasicAuth will be enough.
just one question

what do you mean?

[2015-06-09 19:40] erimerturk commented on #637
@yegor256 i will test it again, be sure and then if it is a bug in <code>RsPrettyXML</code>, open a bug on takes.

[2015-06-09 19:44] zshamrock commented on #613
@karato more time

[2015-06-09 20:08] erimerturk commented on #632
@yegor256 you can see PR #676

[2015-06-09 20:18] erimerturk commented on #637
@yegor256 i am sure, it is <code>RsPrettyXML</code> bug

[2015-06-09 20:24] karato commented on #603
@komaz yes, take your time, thanks for letting me know

[2015-06-09 20:28] erimerturk commented on #637
@yegor256 i opened a bug on [takes] (https://github.com/yegor256/takes/issues/339) . Could you please postpone this issue until RsPrettyXML fix ? thank you.

[2015-06-09 21:51] zshamrock commented on #652
@yegor256 could you, please, share the order of the imports we use. Is there a checkstyle.xml I can consult in case of the any qulice failures?

[2015-06-09 22:08] zshamrock commented on #652
@karato created a pull request https://github.com/yegor256/netbout/pull/680

[2015-06-09 23:54] yegor256 commented on #652
@zshamrock imports must be ordered alphabetically, no static imports, no star imports

[2015-06-09 23:56] yegor256 commented on #637
@dmzaytsev looks like we should ask the PM for more time here

[2015-06-10 00:00] yegor256 commented on #661
@dmzaytsev there will be a possibility to login to `snapshot.netbout.com`. Current OAuth logins won't work, because they are attached to `www.netbout.com`. I will have to create new "apps" in facebook, google+, and github. Not a big problem, but has to be done

[2015-06-10 00:01] yegor256 opened #681 "snapshot.netbout.com"
Let's create a staging platform and deploy there on every "deploy" cycle.

[2015-06-10 00:01] yegor256 commented on #661
@dmzaytsev see #681

[2015-06-10 00:01] yegor256 commented on #681
@dmzaytsev I'll do it

[2015-06-10 01:20] antonini commented on #541
@maurezen PR was merged and also deployed. Can you check it?

[2015-06-10 03:37] dmzaytsev commented on #681
@yegor256 thanks

[2015-06-10 03:38] dmzaytsev commented on #637
@karato give us more time please

[2015-06-10 03:42] dmzaytsev commented on #637
@erimerturk you might inform the PM like this `@karato  we are waiting for yegor256/takes#339`
so he can make that this task depended from the bug-task

[2015-06-10 04:35] yegor256 commented on #681
@rultor deploy

[2015-06-10 04:35] rultor commented on #681
@yegor256 OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/4124-110585966)

[2015-06-10 04:46] rultor commented on #681
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4124-110585966) (took me 10min)

[2015-06-10 04:46] yegor256 commented on #681
@dmzaytsev I think it's ready, check this out: http://snapshot.netbout.com

[2015-06-10 04:47] yegor256 commented on #681
@dmzaytsev there is no HTTP Basic auth protection at the moment, so anyone can get access to it, which is not good, I think. And only Github works as an OAuth provider.

[2015-06-10 04:50] dmzaytsev commented on #681
@yegor256 it works,
thank you!

[2015-06-10 04:51] dmzaytsev commented on #681
is there single http-basic password? How we will share it ?

[2015-06-10 04:52] yegor256 commented on #681
@dmzaytsev there is no password at all now. but we have to create something, to protect this resource from public eyes. I think you don't need my help in this, right? I can close this ticket?

[2015-06-10 04:55] dmzaytsev commented on #681
@yegor256 sure, you can, thank you!

[2015-06-10 04:56] #681 closed

[2015-06-10 05:02] dmzaytsev commented on #681
@yegor256 can we use a command-line param for the HttpBasic auth?

[2015-06-10 05:04] dmzaytsev commented on #681
@yegor256 I meant to set username/passwd via a command-line param

[2015-06-10 05:07] dmzaytsev commented on #681
@yegor256 can we share user/password on the team page for the members of the netbout team.
what do you think?

[2015-06-10 05:30] yegor256 commented on #681
@dmzaytsev yeah, I think we can. there is no secret there, we just need to be sure that a stranger won't take this site for a real netbout site, that's all.

[2015-06-10 05:32] dmzaytsev commented on #681
@yegor256 thanks!

[2015-06-10 07:43] maurezen commented on #541
@antonini the email about your message still had the link hidden as the quoted text. I believe the problem is in the separator, not in the url itself.

[2015-06-10 08:01] ypshenychka commented on #546
@karato

According to our [QA Rules](http://www.teamed.io/qa.html):

Please fix your message by adding the addressee at the beginning.

[2015-06-10 08:50] zshamrock commented on #652
@karato should I do anything specific related to the pull request? Is there some process of doing the pull request?

[2015-06-10 09:29] karato commented on #613
@zshamrock sure, take your time

[2015-06-10 09:29] karato commented on #637
@dmzaytsev OK, no problem, take your time

[2015-06-10 09:30] karato opened #682 "EmMessages.java:96-97: Send email if friend subscribed..."
Puzzle `547-299902f6` in `netbout-web/src/main/java/com/netbout/email/EmMessages.java:96-97` has to be resolved: Send email if friend subscribed to bout. Friend should be filtered before send email by subscription... The puzzle was created by erim erturk on 9-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-10 09:30] karato commented on #547
@carlosmiranda the code made here contains a puzzle `547-299902f6`/#682, which will be resolved soon

[2015-06-10 09:32] dmzaytsev commented on #682
@karato please set milestone to 3.0

[2015-06-10 09:35] karato commented on #664
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-06-10 09:36] karato commented on #682
@ekondrashev this is your task

[2015-06-10 09:40] ypshenychka commented on #664
@karato Quality is good.

[2015-06-10 11:17] karato commented on #682
@dmzaytsev there is no milestone yet, so I set it to `3.0`

[2015-06-10 11:18] karato commented on #664
@ypshenychka thanks, got it, great to see high-quality tickets here

[2015-06-10 11:23] karato commented on #664
@komaz 10 mins was added to the account of @ypshenychka (for QA review), in transaction 59024364. thanks, I just added **30 mins** to your account, payment `AP-6D71791623036224W`, 87 hours and 47 mins spent. added +30 to your rating, now it is equal to [+488](http://www.netbout.com/b/35322?open=rating)

[2015-06-10 11:51] antonini commented on #541
@maurezen Remember that we changed Netbout. The e-mail that you received about this issue came from GitHub and we can't change that.

[2015-06-10 13:45] karato commented on #682
@dmzaytsev sure, milestone set to 3.0

[2015-06-10 14:01] maurezen commented on #541
@antonini sorry, that was me being distracted.

[2015-06-10 14:01] #541 closed

[2015-06-10 15:52] dmzaytsev commented on #661
@yegor256 could you please mark 2.15.1 as stable release?

[2015-06-10 15:58] yegor256 commented on #661
@dmzaytsev I did it for 2.15.1

[2015-06-10 15:59] yegor256 commented on #661
@dmzaytsev since we have a snapshot deployment, let's agree that you don't deploy to production until I approve what I see in the snapshot. OK?

[2015-06-10 16:02] dmzaytsev commented on #661
@yegor256

thanks!

sure, I agree, it would better

[2015-06-10 16:13] karato opened #683 "2.16"
Please, publish a new release **2.16** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-06-10 16:20] karato commented on #683
@dmzaytsev this is your task

[2015-06-10 16:22] dmzaytsev commented on #671
@karato please remove the duplicate label

[2015-06-10 16:27] dmzaytsev commented on #671
@karato this is urgent

[2015-06-10 16:57] yegor256 commented on #671
@dmzaytsev I removed the duplicate label

[2015-06-10 17:13] yegor256 commented on #652
@zshamrock this article may help you: http://www.yegor256.com/2014/04/15/github-guidelines.html

[2015-06-10 17:20] karato commented on #683
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2015-06-10 17:55] erimerturk commented on #547
@carlosmiranda please check and close issue if it is acceptable, thank you

[2015-06-10 18:05] dmzaytsev commented on #602
@yegor256 I break this ticket on the three parts(1 task and two puzzle), please take a look

1. if the text entered into the invite box matched an email address regexp we should
сreate alias
  urn:    urn:email:<email>
  name: <email >  (replace @ to -)
  email:<email>

2. when a new message posted into bout we should add to an e-mail message for the email-user a text like this 'You are invited in

[2015-06-10 18:07] erimerturk opened #684 "login with google is broken"
On netbout [main page] (www.netbout.com) just click google+ and <code> 404 </code> page. You can see details.

[code]

[2015-06-10 18:09] dmzaytsev commented on #684
@erimerturk thanks for reporting

[2015-06-10 18:09] dmzaytsev commented on #684
@karato it's a valid bug

[2015-06-10 18:09] dmzaytsev commented on #684
please set milestone to 3.0

[2015-06-10 18:19] dmzaytsev commented on #606
@karato this task not postponed any more

[2015-06-10 18:33] dmzaytsev commented on #602
@karato this task not postponed any more

[2015-06-10 18:36] dmzaytsev commented on #564
@karato please reopen this issue

[2015-06-10 18:40] karato commented on #671
@dmzaytsev right, I added "urgent" tag

[2015-06-10 18:42] dmzaytsev commented on #684
@karato this is urgent

[2015-06-10 19:11] dmzaytsev opened #685 "the snapshot instance protection"
Let's protect the snapshot instance by HttpBasicAuth.

1. We should create a new `Pass` implementation e.g. `PsTwice` which use two a `Pass` instances. Inside `PsTwice.enter()` we have to check the first Pass and if it passed succesfully then continue with second `Pass` and return `Identity` from it.

2. Let's add a new command-line params to the application.
   `basic-user`, `basic-pwd` with basi

[2015-06-10 19:12] dmzaytsev commented on #685
@karato it's a valid bug

[2015-06-10 19:13] dmzaytsev commented on #685
@karato this is postponed

we are waiting for yegor256/takes#221

[2015-06-10 19:47] karato commented on #564
@dmzaytsev right, I added "invalid" tag

[2015-06-10 19:47] karato commented on #606
@dmzaytsev thanks, I removed the "postponed" tag

[2015-06-10 19:47] karato commented on #602
@dmzaytsev right, I removed "postponed" tag

[2015-06-10 19:48] karato commented on #684
@dmzaytsev tag "bug" added

[2015-06-10 19:54] karato commented on #662
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-06-10 20:10] mbarbieri commented on #677
@dmzaytsev updated

[2015-06-10 20:53] karato commented on #684
@erimerturk since there is no milestone yet I set it to "3.1"

[2015-06-10 20:54] karato commented on #685
@dmzaytsev I just added bug tag here

[2015-06-10 21:04] karato commented on #602
@lautarobock this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanatio

[2015-06-10 21:04] karato commented on #606
@mbarbieri the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-06-10 21:04] karato commented on #684
@erimerturk many thanks, **15 mins** added to your acc for reporting this bug, pmt ID `AP-9AJ449212P7962343`

[2015-06-11 03:39] yegor256 commented on #684
@dmzaytsev it's a bug in Takes: https://github.com/yegor256/takes/issues/341

[2015-06-11 03:47] dmzaytsev commented on #684
@yegor256 thanks!

[2015-06-11 03:52] dmzaytsev commented on #564
@yegor256 could you please help here ?
I would like remove `invalid` and `duplicate` tags and reopen this ticket

[2015-06-11 04:07] carlosmiranda commented on #547
@erimerturk looks good, thanks!

[2015-06-11 04:07] #547 closed

[2015-06-11 04:37] zshamrock commented on #652
@yegor256 thank you

[2015-06-11 04:38] zshamrock commented on #613
@karato started working on this one

[2015-06-11 05:00] zshamrock opened #686 "Friends interface doesn't have friends() method"
And adding this one will affect all the implementations.

[2015-06-11 05:02] zshamrock commented on #613
@karato according to http://www.yegor256.com/2014/04/15/github-guidelines.html I create a bug https://github.com/yegor256/netbout/issues/686

[2015-06-11 05:06] zshamrock opened #687 "Upgrade to Java 8"
And then we also can get rid of `com.google.common.base.Function` and others.

[2015-06-11 05:14] zshamrock opened #688 "Improve MkBase of managing aliases"
There are multiple places in the test (maybe in the main code as well) doing the following:

        final User user = base.user(new URN(urn));
        user.aliases().add(alias);

or
in one line

    base.user(URN.create(urn)).aliases().add(alias);

It violates http://en.wikipedia.org/wiki/Law_of_Demeter, and also a smell of unused variable (`user`) and hidden setup for the test.
I suggest making

[2015-06-11 07:42] YamStranger opened #690 "Incorrect "confirm" link"
I found such message "UserName, you've been invited to "jcabi" team in Github, don't forget to confirm." word "confirm" is url to https://github.com/orgs/teamed/invitation, but must be url to invitation.

[2015-06-11 07:57] elenavolokhova commented on #662
@karato Quality is good here.

[2015-06-11 07:58] dmzaytsev commented on #690
@YamStranger It's out of the scope of the project
please report such issues inside Netbout
I think @yegor256  can help you

[2015-06-11 10:02] karato commented on #685
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2015-06-11 10:03] karato commented on #662
@elenavolokhova thank you, good quality is always good :)

[2015-06-11 10:03] karato commented on #684
@dmzaytsev the milestone here is 3.0

[2015-06-11 10:03] karato commented on #684
@dmzaytsev OK, I labeled it as "urgent" tag

[2015-06-11 10:11] karato commented on #662
@mbarbieri 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 59053316

thanks, I just added **30 mins** to your account, payment `AP-3NK99795VN266820Y`, 125 hours and 14 mins spent

+30 to your rating, your total score is [+98](http://www.netbout.com/b/35357?open=rating)

[2015-06-11 10:11] karato commented on #684
@lautarobock this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here

The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-06-11 10:12] karato commented on #685
@dmzaytsev thanks for this report, I added 15 mins to your account, in transaction `59053384`

[2015-06-11 10:18] dmzaytsev commented on #684
@karato we are wating yegor256/takes#341 here

[2015-06-11 11:27] dmzaytsev commented on #600
@erimerturk thanks!

[2015-06-11 11:27] #600 closed

[2015-06-11 11:33] lautarobock commented on #564
@dmzaytsev I'm curious, why do you want to re-open it?

[2015-06-11 11:38] karato commented on #602
@yegor256 FYI, issue #600 is already closed, and we were waiting for it..

[2015-06-11 11:52] dmzaytsev commented on #564
@lautarobock  I changed my mind, the issue won't be resolved in #614  .
that's why  I want to reopen the ticket

[2015-06-11 12:08] lautarobock commented on #564
@dmzaytsev great

[2015-06-11 12:44] YamStranger commented on #690
may be, may be )
I will close it, if you want

[2015-06-11 12:44] #690 closed

[2015-06-11 15:31] karato commented on #541
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://www.teamed.io/qa.html)

[2015-06-11 16:23] karato commented on #661
@dmzaytsev It is closed now

[2015-06-11 16:23] #661 closed

[2015-06-11 16:27] karato commented on #661
@dmzaytsev Thanks for your contribution, **32 mins** was added to your account, payment ID is `59061951`, 28 hours and 8 mins spent total. here is how the bonus is calculated: t=322, c=52, h=1293, diff=2.14.16..master. +32 added to your rating, at the moment it is: [+2615](http://www.netbout.com/b/35166?open=rating)

[2015-06-11 18:21] dmzaytsev commented on #613
@karato @yegor256 all methods of `com.netbout.spi.Friends` has the Restful API implementation already. My bad, sorry :(
I'm closing the ticket

[2015-06-11 18:21] #613 closed

[2015-06-11 18:22] dmzaytsev commented on #613
@zshamrock sorry, it's invalid ticket

[2015-06-11 18:30] dmzaytsev commented on #687
@zshamrock please check this article http://www.yegor256.com/2014/04/13/bugs-are-welcome.html#what-is-a-bug?

[2015-06-11 18:57] dmzaytsev commented on #688
@zshamrock `MkBase` just the mock object for the testing purpose. I'm not sure need any changes here.
@yegor256 what do you think?

[2015-06-11 21:27] zshamrock commented on #687
@dmzaytsev so there is no a way to propose improvement, which is not a bug according the definition?

[2015-06-12 01:22] ekondrashev commented on #682
@karato Could you please close this ticket, solution is provided at #689

[2015-06-12 01:51] yegor256 commented on #687
@zshamrock an improvement must explain the problem first. For example, "this car is very slow, would be great to tune it so that it can fly". First you say that the car is slow, that is the problem statement. Then, you suggest an improvement.

[2015-06-12 02:07] yegor256 commented on #564
@dmzaytsev I re-opened the ticket and removed the tags

[2015-06-12 04:47] dmzaytsev commented on #682
@rultor deploy

[2015-06-12 04:47] rultor commented on #682
@dmzaytsev OK, I'll try to deploy now. You can check the progress [here](http://www.rultor.com/t/4158-111358149)

[2015-06-12 04:57] rultor commented on #682
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/4158-111358149) (took me 10min)

[2015-06-12 04:59] elenavolokhova commented on #541
@antonini

I'm aware of the task, give me some time to find a developer...

 According to our [quality rules](http://www.teamed.io/qa.html):

 IAs far as you are the performer of this ticket you are responsible for its quality. Please make sure that everyone follows this rule in your tickets in the future. Ask them to fix issues before closing the ticket.

 Please confirm that everything is clear

[2015-06-12 05:22] dmzaytsev commented on #682
@ekondrashev please register on http://snapshot.netbout.com/
create a bout and invite me (`@dmzaytsev`)
I would check the subscribtion functionality

[2015-06-12 06:58] ekondrashev commented on #682
@dmzaytsev done, here is the bout http://snapshot.netbout.com/b/3

[2015-06-12 07:06] dmzaytsev commented on #682
send me a message via this bout

[2015-06-12 07:43] zshamrock commented on #687
@yegor256 Make sense. So, you can close this one, and then I will come with the compelling reason (if so), why it is good to upgrade to Java 8 :)

[2015-06-12 10:47] karato commented on #682
@rultor I will close this task myself when it goes out of our backlog

[2015-06-12 10:48] karato opened #692 "EmCatch.java:188-194: Create bout message using using..."
Puzzle `600-f8c0ce2e` in `netbout-web/src/main/java/com/netbout/email/EmCatch.java:188-194` has to be resolved: Create bout message using using msg values. Msg recipient value will hold boutId info. Msg from value will hold bout message creator info. Msg content will hold bout message content info. This method should get bout info from email and save it as bout message. And then change method sign

[2015-06-12 10:48] karato commented on #682
@dmzaytsev there is a puzzle in this code `682-753e25af`, we'll resolve it later

[2015-06-12 10:48] karato commented on #600
@dmzaytsev the code made here contains a puzzle `600-f8c0ce2e`/#692, which will be resolved soon

[2015-06-12 10:51] karato commented on #547
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://www.teamed.io/qa.html)

[2015-06-12 11:46] karato commented on #692
@dmzaytsev I set the milestone to 3.0 since there is nothing set yet

[2015-06-12 11:46] karato opened #693 "RtBout.java:155-157: Implement getting subscription by alias...."
Puzzle `682-753e25af` in `netbout-client/src/main/java/com/netbout/client/RtBout.java:155-157` has to be resolved: Implement getting subscription by alias. Should return subscription status for current boat, passing friend alias value using REST call.... The puzzle was created by Eugene Kondrashev on 11-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-12 11:51] karato commented on #600
@ypshenychka please, review this task for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-12 11:52] karato commented on #692
@erimerturk do this task

[2015-06-12 12:00] antonini commented on #541
@karato Please, fix the message quoted by @elenavolokhova.

[2015-06-12 12:41] ypshenychka commented on #600
@karato Quality is good here.

[2015-06-12 14:22] karato commented on #693
@dmzaytsev I added milestone `3.0` to this issue, let me know if there has to be something else

[2015-06-12 14:22] karato commented on #600
@ypshenychka thank you :)

[2015-06-12 14:28] karato commented on #600
@erimerturk just added 10 mins to @ypshenychka (for QA), payment ID is `59085142`; paid, thanks, added **30 mins** to your account, payment `AP-07G90720MA999790C`, 288 hours and 38 mins was spent; +30 added to your rating, at the moment it is: [+180](http://www.netbout.com/b/35280?open=rating)

[2015-06-12 14:36] erimerturk commented on #600
@karato quality is good but i didn't get any bonus for it ? is it normal ? what is the rule of getting bonus ? thank you

[2015-06-12 15:34] yegor256 commented on #600
@erimerturk at the moment, we don't give any bonuses for good quality. we're planning to start giving them in some time (in a few weeks, I think)

[2015-06-12 15:38] karato commented on #541
@elenavolokhova @antonini I fixed my comment, thanks

[2015-06-12 15:39] yegor256 commented on #687
@zshamrock close it yourself, please, it's your ticket

[2015-06-12 15:57] antonini commented on #541
@elenavolokhova We will try to do it better next time.

[2015-06-12 19:16] #687 closed

[2015-06-12 19:19] zshamrock commented on #652
@karato the PR was merged, anything else should do as part of the process to proceed with this task?

[2015-06-12 20:43] karato commented on #613
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://www.teamed.io/qa.html)

[2015-06-12 23:54] antonini commented on #620
@komaz Code was deployed and available 4 days ago. Did you tested it?

[2015-06-13 00:55] yegor256 commented on #652
@zshamrock thanks (it's my ticket, you should ask ticket reporter to close it)

[2015-06-13 00:55] #652 closed

[2015-06-13 05:17] komaz commented on #620
@antonini thanks for a fix

[2015-06-13 05:29] #620 closed

[2015-06-13 06:47] elenavolokhova commented on #541
@antonini Thank you!

[2015-06-13 06:48] elenavolokhova commented on #541
@karato Quality is acceptable here.

[2015-06-13 07:08] elenavolokhova commented on #613
@karato Quality is bad here. Ticket is invalid

[2015-06-13 07:17] elenavolokhova commented on #547
@erimerturk

this task will get someone's attention soon

 According to our [quality rules](http://www.teamed.io/qa.html):

 As far as you are the performer of this ticket you are responsible for its quality. Please make sure that everyone follows this rule in your tickets in the future. Ask them to fix issues before closing the ticket.

 Please confirm that everything is clear and you have no que

[2015-06-13 07:26] erimerturk commented on #547
@elenavolokhova i understand what do you say but i need to say that it happened before task assigned to me. Next time i will give more attention to it. thank you

[2015-06-13 07:32] elenavolokhova commented on #547
@erimerturk It doesn't really matter when you were assigned to the task. You become responsible for ticket's quality as soon as you were assigned to it. Next time just ask to fix the issue, if you see it. Usually everyone is trying to help and fixes such minor things easily. Thanks!

[2015-06-13 07:32] elenavolokhova commented on #547
@karato Quality is acceptable here.

[2015-06-13 08:25] erimerturk commented on #547
@elenavolokhova next time i will try to fix it, thanks for comments

[2015-06-13 09:07] karato commented on #541
@elenavolokhova thank you, let's try to make it "good" next time

[2015-06-13 09:15] karato commented on #541
@antonini just added 10 mins to @elenavolokhova (for QA), payment ID is `59102685`; Thanks for your contribution, **30 mins** was added to your account, payment ID is `AP-9X809873YY642514Y`, 215 hours and 17 mins spent total; +30 added to your rating, at the moment it is: [+106](http://www.netbout.com/b/35346?open=rating)

[2015-06-13 09:15] karato commented on #693
@zshamrock this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-06-13 09:55] erimerturk commented on #632
@yegor256 please review and close if it is acceptable, thank you!

[2015-06-13 10:28] karato commented on #547
@elenavolokhova thanks a lot, next time everybody should try to make it better

[2015-06-13 10:36] karato commented on #547
@erimerturk 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 59103324; I added **30 mins** to your account, many thanks for working with the project! The completion time here was AP-5PY025006B0016825.; +30 added to your rating, current score is: [+210](http://www.netbout.com/b/35280?open=rating)

[2015-06-13 11:24] #682 closed

[2015-06-13 11:24] karato commented on #682
@dmzaytsev Closing, thanks all