[2016-01-12 14:27] karato commented on #911
@dmzaytsev done. @exper0 the task is yours, please go ahead

[2016-01-12 14:46] karato commented on #872
@exper0 10 mins was added to the account of @ypshenychka (for QA review), in transaction 74448890; Thanks a lot, I just topped your account for **38 mins**, transaction ID `AP-69718615RT161511A`, total time was 69 hours and 19 mins; m=4159, that's why a bonus here for fast delivery; +38 to your rating, your total score is [+233](http://www.netbout.com/b/36185?open=rating)

[2016-01-12 18:32] exper0 opened #924 "Fix FindBugs issues"
During the work on #911 I found that there are plenty findbugs violations that fail the build. Worth fixing them

[2016-01-12 18:41] dmzaytsev commented on #924
@exper0 no needs to create a separate ticket
just create a puzzle in the original pull request

[2016-01-12 18:44] exper0 commented on #924
@dmzaytsev where can I read about puzzles? Not quite sure how to create it

[2016-01-12 18:49] dmzaytsev commented on #924
@exper0 check out this article http://www.yegor256.com/2009/03/04/pdd.html
you can find a lot of puzzle examples in Netbout
just search for `@todo` in the sources

[2016-01-12 18:52] dmzaytsev commented on #896
@karato assign me please

[2016-01-12 18:53] exper0 commented on #924
@dmzaytsev thanks

[2016-01-12 18:53] #924 closed

[2016-01-12 20:09] karato commented on #896
@dmzaytsev this task is yours now, please proceed

[2016-01-12 20:44] dmzaytsev commented on #896
@exper0 fixed in #922 please close the ticket

[2016-01-12 20:54] exper0 commented on #793
@carlosmiranda PR #920 is merged and closed

[2016-01-12 20:55] exper0 commented on #896
@dmzaytsev thanks

[2016-01-12 20:55] #896 closed

[2016-01-13 03:01] carlosmiranda commented on #793
@exper0 Excellent, thanks!

[2016-01-13 03:01] #793 closed

[2016-01-13 06:14] elenavolokhova commented on #900
@karato Looks good!

[2016-01-13 10:30] dmzaytsev commented on #918
@karato please assign me

[2016-01-13 12:21] dmzaytsev commented on #860
@karato assign me please

[2016-01-13 12:40] karato commented on #900
@elenavolokhova thanks a lot :)

[2016-01-13 12:40] karato commented on #918
@dmzaytsev of course, the task is yours, go ahead

[2016-01-13 13:05] dmzaytsev commented on #918
@longtimeago fixed in #927 please close if alright

[2016-01-13 13:14] longtimeago commented on #918
@dmzaytsev thank you!

[2016-01-13 13:14] #918 closed

[2016-01-13 14:20] karato commented on #860
@dmzaytsev the task is yours, please proceed

[2016-01-13 14:37] karato commented on #900
@exper0 paied 10 mins to @elenavolokhova for QA review (payment ID is `74525199`)

thank you, added **38 mins** to your acc, payment num is `AP-1BF48510GV285280H`, 69 hours and 19 mins spent in total to complete

there is a bonus for fast delivery (m=4159)

+38 added to your rating, current score is: [+271](http://www.netbout.com/b/36185?open=rating)

[2016-01-13 14:47] dmzaytsev commented on #860
@mkordas fixed in #928 the ticket can be closed

[2016-01-13 18:02] mkordas commented on #860
@dmzaytsev thank you

[2016-01-13 18:02] #860 closed

[2016-01-14 14:05] karato commented on #793
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-14 14:05] karato commented on #896
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-14 14:31] elenavolokhova commented on #896
@karato Looks good!

[2016-01-14 14:34] elenavolokhova commented on #793
@karato Looks good!

[2016-01-14 15:40] karato commented on #793
@elenavolokhova thank you, good quality is always good :)

[2016-01-14 15:40] karato commented on #896
@elenavolokhova thank you ;)

[2016-01-14 16:02] karato commented on #918
@ypshenychka please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-14 16:04] karato commented on #750
@prahladyeri 15 days already, in 48 hours I will re-assign

-30 added to your rating, current score is: [+90](http://www.netbout.com/b/36189?open=rating)

[2016-01-14 16:04] karato commented on #793
@exper0 added 10 mins to @elenavolokhova, for QA review, payment code is `74579212`

paid, thanks, added **30 mins** to your account, payment `AP-7GY47672AE737203N`, 118 hours and 50 mins was spent

+30 added to your rating, at the moment it is: [+301](http://www.netbout.com/b/36185?open=rating)

[2016-01-14 16:31] ypshenychka commented on #918
@karato Quality is good here.

[2016-01-14 16:54] thihara opened #929 "File upload fails."
Tried to upload a pdf file.

Kept getting bad response thrown instead.

<b>HAR File pasted below</b>

{
  "log": {
    "version": "1.2",
    "creator": {
      "name": "WebInspector",
      "version": "537.36"
    },
    "pages": [
      {
        "startedDateTime": "2016-01-14T16:49:55.809Z",
        "id": "page_1",
        "title": "http://www.netbout.com/b/36338/attach",
        "pageTimings":

[2016-01-14 17:23] karato commented on #896
@dmzaytsev paied 10 mins to @elenavolokhova for QA review (payment ID is `74582921`). done, I added **1 hour** in payment `74582944`, 16 hours and 30 mins spent to complete this. the bonus for fast delivery (m=990). +60 to your rating, your total score is [+1704](http://www.netbout.com/b/35166?open=rating)

[2016-01-14 18:29] karato commented on #918
@ypshenychka thanks a lot ;)

[2016-01-14 18:46] karato commented on #918
@dmzaytsev paied 10 mins to @ypshenychka for QA review (payment ID is `74586880`)... Thanks so much! Your account was topped up for **1 hour** (transaction ID is `74586890`, the task took 1 hour and 38 mins)... the bonus for fast delivery (m=98)... +60 added to your rating, current score is: [+1764](http://www.netbout.com/b/35166?open=rating)

[2016-01-15 05:17] prahladyeri commented on #750
@karato My PR #921 is ready which I had submitted 3 days ago. We are only awaiting resolution of qulice ticket [608](https://github.com/teamed/qulice/issues/608) so that qulice does not incorrectly fail my build.

But in any case, if you have already reduced the rating, I don't think there is any reason for me to continue working on this issue.

[2016-01-15 06:43] prahladyeri commented on #794
@karato I've clubbed this in PR #921. See my latest commit [2c070e6 - fix for issue #794; Added note about utf-8 related problem pertaining to unit tests in README.md](https://github.com/yegor256/netbout/commit/2c070e69c0123ac269c5a59908f9bcdd1c46e83f) which provides resolution to this.

[2016-01-15 06:54] dmzaytsev commented on #794
@prahladyeri one ticket - one PR
please create a new PR for your fix

[2016-01-15 06:59] prahladyeri commented on #794
@dmzaytsev Does that mean I can't create new PR when existing is open? If I commit anything it will go to the latest PR. If I created PR for this issue (750) and I want to push anything for the other issue (750), how can I do that? All changes will be pushed to this new PR instead.

[2016-01-15 07:13] dmzaytsev commented on #794
@prahladyeri I mean you have to create a separate PR for this ticket
and you can do it right now for sure
We prefer small PRs, each of them should fix only one issue

[2016-01-15 07:16] dmzaytsev commented on #911
@karato we are waiting for  #909

[2016-01-15 07:18] dmzaytsev commented on #794
@prahladyeri yepp
a new branch for each issue

[2016-01-15 07:24] dmzaytsev commented on #750
@prahladyeri just a suggestion
check out the policy http://at.teamed.io/policy.html

[2016-01-15 07:28] dmzaytsev commented on #929
@thihara thanks for reporting but we already have ticket #703  for this

[2016-01-15 07:56] prahladyeri commented on #794
@dmzaytsev Sorry, I wasn't aware of that. I've reverted the `README.md` change from that PR, I'll create a separate PR for this issue.

[2016-01-15 08:05] prahladyeri commented on #750
@dmzaytsev Agreed to your suggestions, I'll make sure this won't happen next time. However, PR #921 is ready now and fixes this issue. I hope there is provision for accepting the PR even after the delay?

(I'm not worried about ratings/points in this particular instance, just trying to resolve this asap).

[2016-01-15 08:17] dmzaytsev commented on #750
@prahladyeri I would suggest you ask for more time right now
to prevent the reassigning

[2016-01-15 08:21] dmzaytsev commented on #794
@prahladyeri by the way you should change only Readme
not TkStart and pom.xml

[2016-01-15 08:23] prahladyeri commented on #750
@karato May I request more time for this?

There is around `32` hours left for your `48` hours deadline to complete, but chances are that the issue may not be resolved within that time limit. You see, I have submitted the PR and also made all suggested changes to it, but there is a chance that the reviewer may come up with more suggestions. There is also the chance that the architect (@dmzaytsev )

[2016-01-15 08:33] prahladyeri commented on #794
@dmzaytsev Apologies, I reverted changes in `TkStart.java` and `pom.xml`. I forked it from `master` branch which was already tainted with changes related to issue #750. Won't happen from next time as I'll create a separate branch for each issue instead of tainting the `master` branch.

[2016-01-15 14:42] exper0 commented on #905
@dmzaytsev @karato I looked into it, this is caused by Takes flaw: https://github.com/yegor256/takes/issues/511
I'm ready to fix it once we have resolution on Takes issue

[2016-01-15 15:08] dmzaytsev commented on #905
@exper0 np
ping me when issue on Takes will be resoved

[2016-01-15 15:09] dmzaytsev commented on #905
@karato this is postponed

[2016-01-15 15:31] prahladyeri commented on #794
@hs3180 I've created PR #930 for this. Please close if the same resolves your issue.

[2016-01-15 15:53] exper0 commented on #861
@dmzaytsev @mkordas I'm pretty sure it's fixed in scope of #868

[2016-01-15 16:02] dmzaytsev commented on #861
@exper0 I just tried to upload the file https://github.com/yegor256/netbout/issues/861#issuecomment-164194700
and got a stack trace

[2016-01-15 16:08] exper0 commented on #861
@dmzaytsev do we have #861 deployed in production? I know it's merged and deployed somewhere but I guess not in production

[2016-01-15 16:19] dmzaytsev commented on #861
@exper0 you're right it not in production yet
but I also checked on snapshot.netbout.com with same result

[2016-01-15 16:42] hs3180 commented on #794
@prahladyeri thanks

[2016-01-15 16:45] exper0 commented on #861
@dmzaytsev you're right, thanks. Anyway it's very similar issue and will be fixed https://github.com/yegor256/takes/issues/512 is fixed. I'll let you know once it's happened.

[2016-01-15 16:57] dmzaytsev commented on #794
@hs3180 @prahladyeri let's wait until PR be merged :)

[2016-01-15 20:40] karato commented on #905
@dmzaytsev got it, "postponed" label here

[2016-01-15 20:40] karato commented on #905
@dmzaytsev OK, I will try to assign someone else

[2016-01-15 20:40] karato commented on #911
@dmzaytsev sure, let's wait for #909

[2016-01-15 20:56] karato commented on #860
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-15 21:17] longtimeago opened #931 "Internal Application Error on access to close bout"
Url accessed: http://www.netbout.com/b/36337
Visible in both Chrome and FF

[code]

[2016-01-15 22:23] exper0 commented on #861
@dmzaytsev so I think this issue should be postponed until https://github.com/yegor256/takes/issues/512 is fixed. Btw, it's very common problem overall both in Takes and in Netbout(both in tests and actualy code) - files often not closed causing issues like above

[2016-01-15 23:07] mkordas opened #932 "Internal Application Error: EncryptionOperationNotPossibleException"
To reproduce just open page http://www.netbout.com/emverify/x and see:

![image](https://cloud.githubusercontent.com/assets/5467276/12367757/083a11ce-bbe5-11e5-8321-1fdab498b53f.png)

Stacktrace:
[code]

I'd expect instead user-friendly information that email verification link is invalid.

[2016-01-16 07:01] michaelben opened #933 "Internal Application Error Version: 2.22"
com.jcabi.xml.ListWrapper$NodeNotFoundException: XPath '/OAuth/access_token/text()' not found in '\n\n  <..162..#bad-verification-code\n': Index (0) is out of bounds (size=0)
    at com.jcabi.xml.ListWrapper.get(ListWrapper.java:153)
    at org.takes.facets.auth.social.PsGithub.token(PsGithub.java:156)
    at org.takes.facets.auth.social.PsGithub.enter(PsGithub.java:115)
    at org.takes.facets.au

[2016-01-16 07:13] elenavolokhova commented on #860
@karato Quality is good here.

[2016-01-16 08:30] dmzaytsev commented on #888
@karato assign me please

[2016-01-16 09:58] karato commented on #750
@prahladyeri agreed, take your time

[2016-01-16 09:58] karato commented on #860
@elenavolokhova thanks for the review

[2016-01-16 10:35] dmzaytsev commented on #909
@karato this is not postponed

[2016-01-16 11:44] dmzaytsev commented on #909
@karato assign me please

[2016-01-16 14:06] karato commented on #909
@dmzaytsev sure, thanks, I removed "postponed" tag to it

[2016-01-16 15:26] prahladyeri commented on #794
@hs3180 PR #930 is merged. Please have a look and close if this resolves the issue.

[2016-01-16 15:48] prahladyeri commented on #750
@karato thanks.

[2016-01-16 18:01] karato commented on #750
@prahladyeri you are welcome

[2016-01-16 18:46] karato commented on #888
@dmzaytsev yep, it is yours, go ahead

[2016-01-16 18:46] karato commented on #909
@dmzaytsev done, the task is yours, go ahead

[2016-01-16 19:14] karato commented on #860
@dmzaytsev I added 10 mins to @elenavolokhova (for QA review) in transaction 74666081. **1 hour** sent to your balance (ID `74666091`), many thanks! It took 5 hours and 11 mins.. m=311, that's why a bonus here for fast delivery. +60 added to your rating, current score is: [+1871](http://www.netbout.com/b/35166?open=rating)

[2016-01-16 19:35] dmzaytsev commented on #888
@karato fixed in #925 please close the ticket

[2016-01-16 20:06] dmzaytsev commented on #909
@karato please see PR #934

[2016-01-16 21:57] mkordas commented on #812
@dmzaytsev please assign me here

[2016-01-17 03:37] dmzaytsev commented on #909
@mkordas fixed in #934 please close the ticket

[2016-01-17 03:38] dmzaytsev commented on #812
@karato assign @mkordas please

[2016-01-17 05:34] prahladyeri opened #936 "Build gets stuck when a Timer/Scheduler is implemented in the constructor."
### How to reproduce:
#### Way-1:
- Open source file for any class in `netbout-web` (For example, `com.netbout.rest.TkStart`).
- Import the following two java concurrency objects to implement the scheduler:

  import java.util.concurrent.Executors;
  import java.util.concurrent.ScheduledExecutorService;
- Add the following code block at the end of the constructor method to implement the scheduler

[2016-01-17 07:21] mkordas commented on #812
@karato please see #935

[2016-01-17 07:22] mkordas commented on #909
@dmzaytsev thanks!

[2016-01-17 07:22] #909 closed

[2016-01-17 09:36] karato commented on #812
@dmzaytsev OK @mkordas please go ahead, this task is yours

[2016-01-17 09:36] karato commented on #812
@mkordas thanks, I'll take a look

[2016-01-17 09:36] karato commented on #888
@dmzaytsev the ticket will be closed when the puzzle is removed from the code, keep in mind that it takes some time after deployment to update our statistics, please give me at least a day

[2016-01-17 09:36] karato commented on #909
@dmzaytsev I will take a look, thanks

[2016-01-17 09:55] karato commented on #911
@mkordas FYI, the issue we were waiting for (#909) is fixed

[2016-01-17 10:32] mkordas commented on #812
@dmzaytsev done in #935, can you close the issue?

[2016-01-17 10:49] dmzaytsev commented on #812
@mkordas thanks!

[2016-01-17 10:49] #812 closed

[2016-01-17 12:37] karato opened #937 "Markdown.java:59-61: We should switch to another..."
Puzzle `888-3f71fb04` in `netbout-web/src/main/java/com/netbout/rest/Markdown.java:59-61` has to be resolved: We should switch to another Markdown processor MarkdownTxtMark and remove the old implementation MarkdownPegdown and its unit tests from the code.... The puzzle was created by Dmitry Zaytsev on 14-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The

[2016-01-17 12:37] karato commented on #888
@dmzaytsev once `888-3f71fb04`/#937 puzzle is resolved (later, in another ticket), this ticket will be fully complete

[2016-01-17 13:31] karato commented on #937
@dmzaytsev I set the milestone to 3.1 since there is nothing set yet

[2016-01-17 21:22] kujtimiihoxha opened #938 "DyAlias does not throw InvalidEmailException if I pass in an invalid email."
If I pass in an invalid email like for example  'test'  without a proper email format I think that DyAlias should throw an InvalidEmailException.

[2016-01-18 05:24] dmzaytsev commented on #938
@kujtimiihoxha do you mean [DyAlias#email()](https://github.com/yegor256/netbout/blob/a80198aae507fafa07de2007d04ad96d2b33c132/netbout-web/src/main/java/com/netbout/dynamo/DyAlias.java#L129) ?
[code]

[2016-01-18 05:34] dmzaytsev commented on #933
@michaelben how  can I reproduce it?

[2016-01-18 05:35] dmzaytsev commented on #932
@karato valid bug

[2016-01-18 05:42] dmzaytsev commented on #931
@longtimeago I have no access to that bout
how is it different from others?

[2016-01-18 05:43] dmzaytsev commented on #929
@karato this is duplicate #703

[2016-01-18 06:18] kujtimiihoxha commented on #938
@dmzaytsev yes that's right.

[2016-01-18 06:44] dmzaytsev commented on #938
@kujtimiihoxha thanks for reporting

[2016-01-18 06:44] dmzaytsev commented on #938
@karato valid bug

[2016-01-18 07:04] michaelben commented on #933
@dmzaytsev This is error when I was trying to register netbout. The error page suggested me to report here. When I reloaded, the error was gone.

[2016-01-18 07:09] dmzaytsev commented on #933
@michaelben thanks for reporting
I guess it's a temporary issue
but we should catch it and display a friendly error message

[2016-01-18 07:10] dmzaytsev commented on #933
@karato valid bug

[2016-01-18 07:58] longtimeago commented on #931
@dmzaytsev I think it was in progress of deletion.
It's a bout, which was created to interview a canditate.
Right now I'm also don't have an access to it - redirected to the main page.

[2016-01-18 08:11] dmzaytsev commented on #933
@karato this is postponed

[2016-01-18 08:16] dmzaytsev commented on #931
@yegor256 how implemented the deletion of bouts after an interview?
Bouts never  deleted in Netbout as I know
Maybe some external process can do that?

[2016-01-18 09:34] exper0 commented on #937
@karato @dmzaytsev what does 'indie' label mean?

[2016-01-18 09:52] exper0 commented on #879
@karato @dmzaytsev what does `D` label means?

[2016-01-18 09:56] exper0 commented on #905
@dmzaytsev It turned out that issue I created is a duplicate - so we are waiting for original issue: https://github.com/yegor256/takes/issues/438

[2016-01-18 10:08] kujtimiihoxha commented on #883
@dmzaytsev I  was looking if I could solve this one, but when i try to add an email to the tester account (to be able to write a bout) locally it fails to send the verification link, is this supposed to happen or is it a bug.

[2016-01-18 10:12] kujtimiihoxha commented on #883
@dmzaytsev I can start a bout without an email, nevertheless should I be able to add an email locally ?

[2016-01-18 10:38] dmzaytsev opened #941 "Local Netbout doesn't allow to start a new bout"
Local Netbout server https://github.com/yegor256/netbout#run-locally-and-test-it doesn't allow to start a new bout

![image](https://cloud.githubusercontent.com/assets/9972909/12389032/3dbc77b4-bdf8-11e5-93a0-ab91d3749615.png)

however Start link is available from profile page

![image](https://cloud.githubusercontent.com/assets/9972909/12389065/74b8a148-bdf8-11e5-96e3-d9f6d731469e.png)

let's ena

[2016-01-18 10:39] dmzaytsev commented on #883
@kujtimiihoxha  you can start a new bout from the profile page  see #941

[2016-01-18 10:42] dmzaytsev opened #942 "Email setting on local Netbout instance"
Let's disable the email checking when Netbout runs locally

[2016-01-18 10:45] karato commented on #942
@dmzaytsev tag "bug" added

[2016-01-18 10:45] karato commented on #941
@dmzaytsev I just added bug tag here

[2016-01-18 10:45] karato commented on #933
@dmzaytsev added "bug" tag to this issue

[2016-01-18 10:45] karato commented on #938
@dmzaytsev tag "bug" added

[2016-01-18 10:45] karato commented on #932
@dmzaytsev I tagged this as "bug"

[2016-01-18 10:46] dmzaytsev commented on #879
@exper0 :)

Owner
yegor256 commented 7 days ago
@dmzaytsev looks like a bug in Github... I removed it

[2016-01-18 10:56] kujtimiihoxha commented on #883
@dmzaytsev I am ready to take this one, could you please assign me this task.

[2016-01-18 11:01] karato commented on #909
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-18 11:02] dmzaytsev opened #943 "check for CI and rultor for years in copyright"
Let's add automatic check for Appveyor, Travis, Rultor  for  2009-current year in copyright
see  [Qulice project](https://github.com/teamed/qulice)  for instance

[2016-01-18 11:03] dmzaytsev commented on #883
@karato assign @kujtimiihoxha please

[2016-01-18 11:13] dmzaytsev commented on #938
@karato assign me please

[2016-01-18 11:13] dmzaytsev commented on #938
@karato please see PR #940

[2016-01-18 11:15] dmzaytsev commented on #937
@exper0 Yegor created the original ticket as independent reviewer that's why Karato put `indie` label to all tickets and PRs that created from that ticket

[2016-01-18 11:16] dmzaytsev commented on #937
@karato assign me please

[2016-01-18 11:16] dmzaytsev commented on #937
@karato please see PR #939

[2016-01-18 11:20] exper0 commented on #879
@dmzaytsev sorry, I missed it :)

[2016-01-18 11:23] kujtimiihoxha commented on #883
@dmzaytsev see PR  #944

[2016-01-18 11:45] ypshenychka commented on #909
@karato Quality is good.

[2016-01-18 12:15] exper0 commented on #839
@dmzaytsev I see 7 different implementations and a lot of links to various Attachment implementations. This task doesn't look like 30min task.

[2016-01-18 12:20] dmzaytsev commented on #839
@exper0 checkout this article http://www.yegor256.com/2009/03/04/pdd.html
no needs to do it in one task

[2016-01-18 12:56] danff commented on #761
@karato Need more time here

[2016-01-18 13:05] karato commented on #932
@mkordas I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-01-18 13:05] karato commented on #933
@michaelben since the ticket has no milestone I set it to 3.1

[2016-01-18 13:05] karato commented on #938
@kujtimiihoxha I set the milestone to 3.1 since there is nothing set yet

[2016-01-18 13:05] karato commented on #941
@dmzaytsev since the ticket has no milestone I set it to 3.1

[2016-01-18 13:05] karato commented on #942
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2016-01-18 13:06] karato commented on #883
@dmzaytsev done. @kujtimiihoxha you are assigned to this task. please proceed...

[2016-01-18 13:06] karato commented on #909
@ypshenychka thanks!

[2016-01-18 13:06] karato commented on #937
@dmzaytsev done, the task is yours, go ahead

[2016-01-18 13:06] karato commented on #937
@dmzaytsev thank you, I will check it

[2016-01-18 13:06] karato commented on #943
@dmzaytsev I tagged this as "bug"

[2016-01-18 13:23] #888 closed

[2016-01-18 13:23] karato commented on #888
@dmzaytsev Thanks, closed

[2016-01-18 13:24] kujtimiihoxha opened #945 "Markdown format lost after post message"
In the preview page you can see that the text is formatted as 'code'  but after you post the message the message is not formatted.

Formatted in the preview :
![formmated](https://cloud.githubusercontent.com/assets/14311743/12392354/ac370182-bdee-11e5-8448-8e4b9d9c645a.png)
Not formatted in the after post:
![unformmated](https://cloud.githubusercontent.com/assets/14311743/12392367/c0c54d5c-bdee-11

[2016-01-18 13:24] karato commented on #812
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-18 13:24] karato commented on #888
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-18 13:26] karato commented on #909
@dmzaytsev 10 mins was added to the account of @ypshenychka (for QA review), in transaction 74722215

done, I added **1 hour** in payment `74722225`, 14 hours and 48 mins spent to complete this

there is a bonus for fast delivery (m=888)

+60 added to your rating, at the moment it is: [+2031](http://www.netbout.com/b/35166?open=rating)

[2016-01-18 13:26] karato commented on #942
@dmzaytsev thanks a lot for reporting, **30 mins** added to your acc, pmt ID `74722309`

[2016-01-18 13:36] dmzaytsev commented on #936
@yegor256 could you advise here?
I think we should call `ExecutorService#shutdown()` somewhere  to stop Takes server after integration tests
But I have no idea where exactly we should to do it

[2016-01-18 13:43] exper0 commented on #941
@dmzaytsev well, it allows starting new bout - but you need to click to your logic name at first

[2016-01-18 13:51] exper0 commented on #881
@dmzaytsev ready to take this

[2016-01-18 14:05] kujtimiihoxha commented on #883
@mkordas please close the issue.

[2016-01-18 14:06] exper0 commented on #770
@dmzaytsev ready to take this

[2016-01-18 14:09] exper0 commented on #861
@dmzaytsev found similar issue in Takes: https://github.com/yegor256/takes/issues/254

[2016-01-18 14:11] dmzaytsev commented on #770
@karato assign @exper0 please

[2016-01-18 14:12] dmzaytsev commented on #881
@karato assign @exper0 please

[2016-01-18 14:51] dmzaytsev commented on #941
@exper0 I meant we need valid link on the main page as well

[2016-01-18 14:54] exper0 commented on #941
@dmzaytsev sure, I just added few more information about the fact that somehow it works from different page.

[2016-01-18 15:05] dmzaytsev commented on #945
@karato valid bug

[2016-01-18 15:07] dmzaytsev commented on #914
@prahladyeri let's try to speed the build a little bit

[2016-01-18 15:08] dmzaytsev commented on #914
@karato valid bug

[2016-01-18 15:10] karato commented on #943
@dmzaytsev I set the milestone to 3.1 since there is nothing set yet

[2016-01-18 15:10] karato commented on #761
@danff yeah, I know, take your time

[2016-01-18 15:10] karato commented on #938
@dmzaytsev of course, the task is yours, go ahead

[2016-01-18 15:10] karato commented on #933
@dmzaytsev thanks, I added "postponed" label

[2016-01-18 15:10] karato commented on #938
@dmzaytsev will take a look, thanks

[2016-01-18 15:10] karato commented on #933
@dmzaytsev right, I'll try to find someone else for this task

[2016-01-18 15:11] karato commented on #945
@dmzaytsev tagged this issue with "bug"

[2016-01-18 15:11] karato commented on #914
@dmzaytsev tag "bug" added

[2016-01-18 15:35] karato commented on #941
@dmzaytsev thanks for the report, I topped your acc for 30 mins, payment ID `74968192`

[2016-01-18 15:50] elenavolokhova commented on #888
@karato Looks good!

[2016-01-18 15:51] elenavolokhova commented on #812
@karato Looks good!

[2016-01-18 16:35] karato commented on #914
@prahladyeri I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-01-18 16:35] karato commented on #945
@kujtimiihoxha attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-01-18 16:35] karato commented on #770
@dmzaytsev OK @exper0 please go ahead, this task is yours

[2016-01-18 16:35] karato commented on #881
@dmzaytsev OK @exper0 please go ahead, this task is yours

[2016-01-18 17:03] karato commented on #938
@kujtimiihoxha thank you for reporting this, I added 15 mins to your acc, transaction `AP-31B64609S2887302D`

[2016-01-18 17:35] kujtimiihoxha commented on #883
@mkordas could you please review the solution and close the issue.

[2016-01-18 17:46] karato commented on #812
@elenavolokhova thank you, good quality is always good :)

[2016-01-18 17:46] karato commented on #888
@elenavolokhova thank you, good quality is always good ;)

[2016-01-18 18:15] karato commented on #812
@mkordas I added 10 mins to @elenavolokhova (for QA review) in transaction 75006305

[2016-01-18 18:15] karato commented on #932
@mkordas thanks for the report, I topped your acc for 15 mins, payment ID `569d2bbb0f5de046ec0003f1`

[2016-01-18 18:21] mkordas commented on #883
@kujtimiihoxha can you provide screenshot before and after fix to prove that issue is fixed?

[2016-01-18 18:32] kujtimiihoxha commented on #883
@mkordas here you can se the before and after pictures.

Before:
![before](https://cloud.githubusercontent.com/assets/14311743/12399394/1fc59eb2-be1a-11e5-962c-91c8b1ac9acd.png)

After:
![solved](https://cloud.githubusercontent.com/assets/14311743/12399399/26bf7b7a-be1a-11e5-9b84-927aa67429f3.png)

[2016-01-18 18:43] kujtimiihoxha opened #947 "Email not accepted"
When I try to add email it returns a message 'Email '!kujtimii.h@gmail.com' is wrong', it appears that it ads an extra '!' to the email .
![email](https://cloud.githubusercontent.com/assets/14311743/12399683/c5837f08-be1b-11e5-9db3-b0969cb01bc6.png)

[2016-01-18 18:52] exper0 commented on #770
@dmzaytsev please look at #946 and check if I understand you correctly.
@karato please assign reviewer

[2016-01-18 19:36] kujtimiihoxha commented on #883
@mkordas is everything ok now ?

[2016-01-18 20:05] karato commented on #888
@dmzaytsev I added 10 mins to @elenavolokhova (for QA review) in transaction 75011243; Thanks so much! Your account was topped up for **1 hour** (transaction ID is `75011260`, the task took 17 hours and 49 mins); m=1069, that's why a bonus here for fast delivery; +60 to your rating, your total score is [+2106](http://www.netbout.com/b/35166?open=rating)

[2016-01-18 20:06] karato commented on #943
@dmzaytsev many thanks for the bug report, I added 30 mins to your acc, transaction `75011331`

[2016-01-18 20:49] mkordas commented on #883
@kujtimiihoxha thanks!

[2016-01-18 20:49] #883 closed

[2016-01-18 21:13] kujtimiihoxha commented on #941
@dmzaytsev I am ready for this one could you please assign me this task.

[2016-01-18 21:57] kujtimiihoxha commented on #941
@yegor256 could you assign me to this task.

[2016-01-18 23:08] kujtimiihoxha commented on #932
@dmzaytsev Please assign this task to me.

[2016-01-19 03:41] dmzaytsev commented on #932
@karato assign @kujtimiihoxha please

[2016-01-19 03:41] dmzaytsev commented on #941
@karato assign @kujtimiihoxha please

[2016-01-19 05:06] dmzaytsev commented on #938
@kujtimiihoxha fixed in #940 please close the ticket if alright

[2016-01-19 05:57] dmzaytsev commented on #937
@karato fixed in #939
the ticket can be closed

[2016-01-19 07:17] kujtimiihoxha commented on #938
@dmzaytsev do you think that #947 is related with your fix ?

[2016-01-19 08:27] dmzaytsev commented on #938
@kujtimiihoxha no, I don't
my fix doesn't deployed yet

[2016-01-19 08:28] dmzaytsev commented on #947
@kujtimiihoxha do you think an email with `!` are valid email?:)

[2016-01-19 08:31] kujtimiihoxha commented on #938
@dmzaytsev I pulled your changes from master branch after they where merged, this is locally tested.

[2016-01-19 08:32] kujtimiihoxha commented on #947
@dmzaytsev The ```!``` is being  added after I put in my email , the email I gave was  ```kujtimii.h@gmail.com```

[2016-01-19 08:38] dmzaytsev commented on #938
@kujtimiihoxha now I understand,
no, my fix not related to that issue
this ticket can be closed

[2016-01-19 08:39] dmzaytsev commented on #947
@kujtimiihoxha we use `!` as separator for new and old email for some reason

[2016-01-19 08:40] dmzaytsev commented on #947
@kujtimiihoxha I agree, case when  a new user change his email doesn't handled properly

[2016-01-19 08:41] dmzaytsev commented on #947
@karato valid bug

[2016-01-19 09:18] karato commented on #937
@dmzaytsev thank you!

[2016-01-19 09:18] karato commented on #941
@dmzaytsev done. @kujtimiihoxha you are assigned to this task. please proceed...

[2016-01-19 09:18] karato commented on #932
@dmzaytsev OK @kujtimiihoxha please start, the task is yours

[2016-01-19 09:19] karato commented on #947
@dmzaytsev I just added bug tag here

[2016-01-19 09:38] karato commented on #945
@kujtimiihoxha thanks for this report, I added 15 mins to your account, in transaction `AP-5D3571449B162553H`

[2016-01-19 10:16] kujtimiihoxha commented on #941
@dmzaytsev  See PR #948

[2016-01-19 11:01] karato commented on #947
@kujtimiihoxha there is no milestone yet, so I set it to `3.1`

[2016-01-19 11:21] karato commented on #914
@prahladyeri many thanks for the report, I topped your account for 15 mins, transaction 75042101

[2016-01-19 12:28] exper0 opened #950 "Temporary files file are not removed in case of attachment failure"
During attaching file to a bout Netbout creates temporary files. However, in some cases files are not removed and polute file system.
This happens if something goes wrong during file upload: if file that violates some limitations, e.g. has 0 size or greater than 10mb. In this case temp file remains forever in file system.
We need to refactor TkAttach in such a way that it removes temp file in all

[2016-01-19 14:37] karato commented on #947
@kujtimiihoxha thanks for reporting! I topped your account for 15 mins, transaction AP-45P88675RR536311N

[2016-01-19 15:27] dmzaytsev commented on #938
@kujtimiihoxha ping

[2016-01-19 15:31] #938 closed

[2016-01-19 16:18] dmzaytsev opened #952 "Preview doesn't display code block properly"
Preview doesn't display code block properly
Let's fix it

![image](https://cloud.githubusercontent.com/assets/9972909/12424364/a2d0b508-bef1-11e5-8e6f-fe7563b539d5.png)

![image](https://cloud.githubusercontent.com/assets/9972909/12424374/af349030-bef1-11e5-9b4d-abacc55c6b3c.png)

[2016-01-19 16:23] karato commented on #952
@dmzaytsev added "bug" tag to this issue

[2016-01-19 16:23] karato opened #953 "TkStart.java:57-59: Solve the puzzle for build..."
Puzzle `750-23d45618` in `netbout-web/src/main/java/com/netbout/rest/TkStart.java:57-59` has to be resolved: Solve the puzzle for build mysteriously failing for this task citing a NullPointerException (See qulice issue #608 raised for the same) and then remove TkStart.java from qulice exceptions.... The puzzle was created by Prahlad Yeri on 18-Jan-2016.

If you have any technical questions, don't

[2016-01-19 16:24] karato commented on #750
@antonini 2 puzzles were created here: `750-23d45618`/#953, `750-65232fbb`

[2016-01-19 16:58] karato commented on #953
@kujtimiihoxha this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions... The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-19 17:45] karato commented on #952
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2016-01-19 17:45] karato commented on #953
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2016-01-19 17:46] karato opened #954 "TkStart.java:60-61: Add unit tests to test..."
Puzzle `750-65232fbb` in `netbout-web/src/main/java/com/netbout/rest/TkStart.java:60-61` has to be resolved: Add unit tests to test scenarios for requests with/without a token.... The puzzle was created by Prahlad Yeri on 18-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "done" when the problem is fixed and the text of the puzzle is remov

[2016-01-19 18:05] karato commented on #954
@kitsook could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here; The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-19 18:05] karato commented on #952
@dmzaytsev thank you for the ticket reported, I topped your account for 30 mins, transaction `75059336`

[2016-01-19 18:45] exper0 commented on #770
@karato PR #946 is merged. Could you close the request?

[2016-01-19 18:46] kujtimiihoxha commented on #953
@karato  waiting for #936

[2016-01-19 18:46] exper0 commented on #770
@karato PR #946 is merged. Could you close the ticket?

[2016-01-19 18:51] dmzaytsev commented on #953
@kujtimiihoxha this issue not related to #936
we have to wait the qulice upgrade

[2016-01-19 18:51] dmzaytsev commented on #953
@karato this is postponed

[2016-01-19 19:56] karato commented on #954
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-01-19 19:57] karato commented on #953
@kujtimiihoxha sure, we'll wait for #936

[2016-01-19 19:57] karato commented on #953
@dmzaytsev right, I added "postponed" label

[2016-01-19 19:57] karato commented on #953
@dmzaytsev right, I'll try to find someone else for this task

[2016-01-20 01:44] kitsook commented on #954
@karato I am about to start this task and I just took a look at PR #921 .  I see that even when token is specified and a cached Inbox is found, the logic still proceed to call inbox.start() to generate bout.

Opening the URL http://localhost:8080/start?post=hello&token=123 multiple times confirmed that new bouts are created.

Is my understand correct that the fix should prevent this?

[2016-01-20 08:53] prahladyeri commented on #750
@antonini PR #921 is deployed. Please close if this resolves the issue.

[2016-01-20 09:49] exper0 commented on #770
@dmzaytsev @karato ping

[2016-01-20 10:37] exper0 commented on #950
fixed in scope of #811

[2016-01-20 10:37] #950 closed

[2016-01-20 10:46] exper0 commented on #770
@dmzaytsev who should close this puzzle issue - you or @karato ?

[2016-01-20 10:49] exper0 commented on #881
@mkordas it's fixed - empty attachments are rejected correctly now. It's in #951 which is merged already.

[2016-01-20 10:56] dmzaytsev commented on #770
@exper0 @karato will close the puzzle
I'm not able to close puzzle tickets

[2016-01-20 11:15] mkordas commented on #881
@exper0 thanks

[2016-01-20 11:15] #881 closed

[2016-01-20 12:26] karato commented on #883
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-20 12:44] ypshenychka commented on #883
@karato Quality is good.

[2016-01-20 13:14] dmzaytsev commented on #909
@yegor256 the pull request contains a [puzzle](https://github.com/yegor256/netbout/pull/934/files#diff-600376dffeb79835ede4a0b285078036R48)
PR has been merged and deployed 2 days ago however there is not a new ticket for the puzzle

[2016-01-20 13:16] dmzaytsev commented on #909
@yegor256 maybe a new deploy can help...
Could you assist here? Rultor doesn't like this command from me :)

[2016-01-20 13:46] karato commented on #883
@ypshenychka many thanks

[2016-01-20 13:59] exper0 commented on #828
@yegor256 do you mean something similar to [X-Netbout-Bout](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/rest/bout/FkBout.java#L79)?

[2016-01-20 14:02] hs3180 commented on #794
@prahladyeri thank you

[2016-01-20 14:02] #794 closed

[2016-01-20 14:08] karato commented on #883
@kujtimiihoxha added 10 mins to @ypshenychka, for QA review, payment code is `75140340`

Thanks so much! Your account was topped up for **1 hour** (transaction ID is `AP-12076489JA235323Y`, the task took 20 hours and 10 mins)

m=1210, that's why a bonus here for fast delivery

+60 added to your rating, current score is: [+105](http://www.netbout.com/b/36323?open=rating)

[2016-01-20 15:31] exper0 commented on #904
@dmzaytsev ready to fix it

[2016-01-20 15:43] dmzaytsev commented on #904
@karato assign @exper0 please

[2016-01-20 17:16] karato commented on #904
@dmzaytsev OK @exper0 please go ahead, this task is yours

[2016-01-20 17:43] karato commented on #770
@dmzaytsev The issue should be closed..

[2016-01-20 17:43] #770 closed

[2016-01-20 17:43] karato commented on #937
@dmzaytsev Finished, thanks, closing..

[2016-01-20 17:43] #937 closed

[2016-01-20 17:43] karato commented on #770
@ypshenychka review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-01-20 17:43] karato commented on #937
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-01-20 17:43] karato commented on #938
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-01-20 19:59] dmzaytsev commented on #947
@karato assign it to me please

[2016-01-20 20:03] dmzaytsev commented on #848
@yegor256 I'm going to release a new Markdown implementation,
a lot of bugs fixed as well
let me know if it works for you

[2016-01-20 20:04] ypshenychka commented on #937
@karato Quality is good.

[2016-01-20 20:05] ypshenychka commented on #770
@karato Quality is good.

[2016-01-21 06:09] dmzaytsev commented on #911
@karato we need more time here

[2016-01-21 10:25] karato commented on #770
@ypshenychka many thanks

[2016-01-21 10:25] karato commented on #911
@dmzaytsev OK, no problem, take your time

[2016-01-21 10:25] karato commented on #937
@ypshenychka many thanks

[2016-01-21 10:26] karato commented on #947
@dmzaytsev this task is yours now, please proceed

[2016-01-21 10:46] karato commented on #770
@exper0 I added 10 mins to @ypshenychka (for QA review) in transaction 75185381

Many thanks! **1 hour** were added to your account in Transaction ID `AP-4XG27124F0955872C` (task took 23 hours and 46 mins)

the bonus for fast delivery (m=1426)

+60 to your rating, your total score is [+391](http://www.netbout.com/b/36185?open=rating)

[2016-01-21 10:47] exper0 commented on #911
@dmzaytsev btw, why are we waiting for jcabi parent update? How will it help here? The only thing is updated qulice and repaired findbugs filters. Do you expect that I create granular exclude filters for findbug?

[2016-01-21 10:57] dmzaytsev commented on #911
@exper0 I think it doesn't make sense to make a fix for outdated findbugs checks
I expect updated qulice will save our time

[2016-01-21 10:58] dmzaytsev commented on #947
@kujtimiihoxha fixed in #955 please close the tcket

[2016-01-21 12:22] #947 closed

[2016-01-21 12:25] mkordas commented on #911
@dmzaytsev actually there were almost no changes to FindBugs over entire history in Qulice, this part is very stable

[2016-01-21 12:39] karato commented on #881
@elenavolokhova please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-21 12:41] karato commented on #848
@dmzaytsev please, pay attention to this ([par.33](http://at.teamed.io/policy.html#33)):

 * some tasks in the project are "stuck": #775 (148 days), #801 (113 days), #803 (107 days), #806 (103 days), #805 (103 days), #813 (97 days), #816 (96 days), #817 (95 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://at.teamed.io/

[2016-01-21 12:41] karato commented on #937
@dmzaytsev added 10 mins to @ypshenychka, for QA review, payment code is `75188960`. **45 mins** added to your account (payment number `75188965`), many thanks for your contribution! 27 hours and 15 mins spent here.. m=1635, that's why a bonus here for fast delivery. +45 added to your rating, at the moment it is: [+2205](http://www.netbout.com/b/35166?open=rating)

[2016-01-21 12:46] dmzaytsev commented on #911
@mkordas thanks
@exper0  let's continue

[2016-01-21 12:50] exper0 commented on #911
@dmzaytsev sure. As a reviewer of #923 what do you expect from my side? I think it's ready.

[2016-01-21 13:19] dmzaytsev commented on #911
@exper0 see my question in the PR

[2016-01-21 13:22] elenavolokhova commented on #938
@karato Quality is good here.

[2016-01-21 15:04] karato commented on #938
@elenavolokhova thanks a lot :)

[2016-01-21 15:05] karato opened #957 "TkSaveEmail.java:53-55: TkSaveEmail shouldn't validate a email..."
Puzzle `947-64235763` in `netbout-web/src/main/java/com/netbout/rest/account/TkSaveEmail.java:53-55` has to be resolved: TkSaveEmail shouldn't validate a email when running locally. One idea how to know Netbout running locally or not is checking Version attribute from MANIFEST for substring LOCAL... The puzzle was created by Dmitry Zaytsev on 20-Jan-2016.

If you have any technical questions, don'

[2016-01-21 15:05] karato commented on #947
@kujtimiihoxha the code made here contains a puzzle `947-64235763`/#957, which will be resolved soon

[2016-01-21 15:27] karato commented on #938
@dmzaytsev added 10 mins to @elenavolokhova, for QA review, payment code is `75195641`

Much obliged! I have added **45 mins** to your account in payment "75195665", 25 hours and 11 mins spent

m=1511, that's why a bonus here for fast delivery

+45 added to your rating, at the moment it is: [+2315](http://www.netbout.com/b/35166?open=rating)

[2016-01-21 16:14] elenavolokhova commented on #881
@karato Quality is good here!

[2016-01-21 16:32] karato commented on #957
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-01-21 16:56] karato commented on #794
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-21 17:05] ypshenychka commented on #794
@karato Quality is good.

[2016-01-21 17:58] dmzaytsev commented on #858
@mkordas we fix it already, please close the ticket

![image](https://cloud.githubusercontent.com/assets/9972909/12424802/85c99392-bef3-11e5-89f8-f6cfdf31af6a.png)

![image](https://cloud.githubusercontent.com/assets/9972909/12424789/733dac86-bef3-11e5-9fcc-b37282e3bfcf.png)

[2016-01-21 17:59] dmzaytsev commented on #882
@mkordas we fix it already please close the ticket

![image](https://cloud.githubusercontent.com/assets/9972909/12424564/96204dcc-bef2-11e5-9d6b-fc187b4bf5fb.png)

![image](https://cloud.githubusercontent.com/assets/9972909/12424573/a0f91094-bef2-11e5-9516-9e7884e9b948.png)

![image](https://cloud.githubusercontent.com/assets/9972909/12424586/aed2168e-bef2-11e5-95aa-dd62c1beb0d6.png)

[2016-01-21 18:00] dmzaytsev commented on #942
@karato this is invalid

[2016-01-21 18:03] mkordas commented on #882
@dmzaytsev thx

[2016-01-21 18:03] #882 closed

[2016-01-21 18:11] mkordas commented on #858
@dmzaytsev please use `script` not `scrypt`

[2016-01-21 18:13] dmzaytsev commented on #838
@krzyk we fixed it already
the ticket can be closed

![image](https://cloud.githubusercontent.com/assets/9972909/12489854/4e2fdf98-c094-11e5-9305-e832fd7f0d6a.png)

![image](https://cloud.githubusercontent.com/assets/9972909/12489872/606cb7b2-c094-11e5-9b44-d892d70bfddc.png)

[2016-01-21 18:14] karato commented on #794
@ypshenychka thank you

[2016-01-21 18:15] karato commented on #881
@elenavolokhova thanks for the review

[2016-01-21 18:16] dmzaytsev commented on #858
@mkordas sorry, my mistake
so now we haven't allert window but we have empty message
let's keep it open, this is a bug

[2016-01-21 18:33] karato commented on #794
@prahladyeri added 10 mins to @ypshenychka, for QA review, payment code is `75203799`; **30 mins** sent to your balance (ID `75203813`), many thanks! It took 289 hours and 45 mins.; +30 added to your rating, at the moment it is: [+135](http://www.netbout.com/b/36189?open=rating)

[2016-01-21 19:07] krzyk commented on #838
@dmzaytsev thanks

[2016-01-21 19:07] #838 closed

[2016-01-21 19:13] kujtimiihoxha commented on #957
@dmzaytsev please specify the task, should it only display a message after email  save that says for example``` "You are a local user this email will not be saved"``` or should the application not even ask for an email so just don't show the text ```give us your email please```.

[2016-01-21 19:19] kujtimiihoxha commented on #880
@dmzaytsev I am ready for this one. @mkordas and @dmzaytsev. What solution should I use

 1.do not demand at least 3 characters for filename
 2.change error message to be more specific

[2016-01-21 19:24] dmzaytsev commented on #880
@karato assign @kujtimiihoxha please

[2016-01-21 19:40] karato commented on #942
@dmzaytsev sure, thanks, I added "invalid" label to it

[2016-01-21 19:40] karato commented on #954
@kitsook you should address your technical comments to the project architect (@dmzaytsev)

[2016-01-21 19:43] #942 closed

[2016-01-21 19:46] dmzaytsev commented on #957
@karato assign me please

[2016-01-21 20:06] dmzaytsev commented on #954
@kitsook take a look https://github.com/yegor256/netbout/issues/750
* if you open url `http://localhost:8080/start?post=hello&token=123` two times or more
only  one bout should be created
* if you open url `http://localhost:8080/start?post=hello` two times or more
one bout should be created on each call

you have to create unit tests to check these two cases

[2016-01-21 20:07] dmzaytsev commented on #957
@karato please see #PR 958

[2016-01-21 20:12] karato commented on #881
@exper0 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 75207950... Much appreciated! **45 mins** was added to your account, payment ID `AP-9FH86824K34004604`, time spent is 43 hours and 28 mins... the bonus for fast delivery (m=2608)... +45 added to your rating, current score is: [+466](http://www.netbout.com/b/36185?open=rating)

[2016-01-21 20:53] kitsook commented on #954
@dmzaytsev so my understanding was correct.

as said, PR #921 did not implement correctly.  [TKStart.java](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/rest/TkStart.java#L135) calls `inbox.start()` even when a cached bot was found.  This effectively creates a new bout no matter a matching token is found or not.

just tested the latest master branch, opening

[2016-01-21 21:01] karato commented on #880
@dmzaytsev done. @kujtimiihoxha you are assigned to this task. please proceed...

[2016-01-22 03:49] dmzaytsev commented on #954
@kitsook you can create PR for sure
just put `@Ignore` on broken tests
and create a [puzzle](http://www.yegor256.com/2009/03/04/pdd.html) to fix the tests for another developer

[2016-01-22 05:13] kitsook commented on #954
@karato please see PR #960

[2016-01-22 10:41] dmzaytsev commented on #957
@karato PR #958 merged, the ticket can be closed

[2016-01-22 10:59] karato commented on #954
@kitsook I will take a look, thanks

[2016-01-22 11:06] kujtimiihoxha commented on #880
@mkordas please see PR #959

[2016-01-22 11:09] kujtimiihoxha commented on #941
@dmzaytsev could you please close this issue, the changes are merged.

[2016-01-22 11:12] dmzaytsev commented on #941
@kujtimiihoxha thank!

[2016-01-22 11:12] #941 closed

[2016-01-22 11:23] exper0 commented on #904
@mkordas fix for this issue is merged in #956, please close the ticket.

[2016-01-22 11:32] mkordas commented on #904
@exper0 thx

[2016-01-22 11:32] #904 closed

[2016-01-22 11:42] exper0 opened #961 "Old qulice"
Let's upgrade qulice to latest version - 0.15.2. upgrading jcabi-parent is good idea but it also contains outdated qulice (obviously qulice will be always ahead of jcabi-parent). So I'd propose to update qulice explicitly in Netbout pom.
Similar task already created in takes: https://github.com/yegor256/takes/issues/530

[2016-01-22 12:30] dmzaytsev commented on #961
@exper0 we can't do it right now due to unresolved issue in Qulice https://github.com/teamed/qulice/issues/411

[2016-01-22 12:30] dmzaytsev commented on #961
@karato valid bug

[2016-01-22 12:30] dmzaytsev commented on #961
@karato this is postponed

[2016-01-22 12:32] exper0 commented on #961
@dmzaytsev why this is a blocker for migration to 0.15.2? Looks not so critical

[2016-01-22 12:39] dmzaytsev commented on #961
@exper0 I recall tried to update to jcab-parrent I got a lot of indentation issues from checkstyle
why need we fix it now and then fix again after an new update&

[2016-01-22 12:45] karato commented on #957
@dmzaytsev the task is yours, please proceed

[2016-01-22 12:45] karato commented on #957
@dmzaytsev thanks, I'll take a look

[2016-01-22 12:45] karato commented on #957
@dmzaytsev thank you

[2016-01-22 12:46] karato commented on #961
@dmzaytsev tagged this issue with "bug"

[2016-01-22 15:05] karato commented on #961
@exper0 since there is no milestone yet I set it to "3.1"

[2016-01-22 15:20] karato commented on #947
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-01-22 15:22] karato commented on #961
@exper0 many thanks for the bug report, I added 15 mins to your acc, transaction `AP-0UX27396HJ1575919`

[2016-01-22 15:23] ypshenychka commented on #947
@karato Quality is good.

[2016-01-22 16:33] kujtimiihoxha commented on #932
@mkordas the issue is solved.
This is how it looks now.
![verify link](https://cloud.githubusercontent.com/assets/14311743/12516521/31e8f7e4-c12e-11e5-82c8-f1476185526a.png)

[2016-01-22 16:35] kujtimiihoxha opened #962 "RsFlash is being saved in the Cookies."
When I have an error or any other RsForward response, the RsFlash is being saved in the Cookies, so even if I refresh the page the message is still being displayed.

[2016-01-22 16:55] mkordas commented on #932
@kujtimiihoxha from [QA policy](http://at.teamed.io/qa.html):

[2016-01-22 16:59] kujtimiihoxha commented on #932
@mkordas I updated the comment.

[2016-01-22 17:11] mkordas commented on #932
@kujtimiihoxha thanks!

[2016-01-22 17:11] #932 closed

[2016-01-22 17:30] exper0 opened #963 "H2 temporary files cleanup"
Every time I run the build I see growing temp folder with many files similar to `netbout-9127471367576530490.h2.mv.db`. It would be great if Netbout build/tests didn't polute temp folder

[2016-01-22 18:21] karato commented on #947
@ypshenychka thanks a lot

[2016-01-22 18:21] karato commented on #961
@dmzaytsev right, I added "postponed" label

[2016-01-22 18:21] karato commented on #961
@dmzaytsev OK, I will try to assign someone else

[2016-01-22 18:37] karato commented on #947
@dmzaytsev paied 10 mins to @ypshenychka for QA review (payment ID is `75251421`)... Much appreciated! **1 hour** was added to your account, payment ID `75251431`, time spent is 4 hours and 37 mins... the bonus for fast delivery (m=277)... +60 to your rating, your total score is [+2432](http://www.netbout.com/b/35166?open=rating)

[2016-01-22 20:14] dmzaytsev commented on #929
@thihara could you close this ticket? thanks

[2016-01-23 01:01] #929 closed

[2016-01-23 06:06] dmzaytsev commented on #848
@yegor256 can we release ?

[2016-01-23 06:24] dmzaytsev commented on #813
@yegor256  what was the idea of `Start(later)` ?
Start of  a new bout disabled when `"/page/bouts and count(/page/bouts/bout) = 0 and /page/query = ''`

[2016-01-23 09:39] karato commented on #898
@prahladyeri this is your task

[2016-01-23 09:39] karato commented on #943
@jhyle please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-23 09:39] karato commented on #945
@kitsook it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-01-23 09:39] karato commented on #952
@danff this is your task

[2016-01-23 10:40] karato commented on #899
@danff this is your task

[2016-01-23 10:40] karato commented on #914
@jhyle can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-23 10:40] karato commented on #878
@kitsook this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-23 11:05] prahladyeri commented on #898
@karato I'm looking into this.

[2016-01-23 13:05] karato commented on #876
@danff this is your task

[2016-01-23 13:05] karato commented on #877
@jhyle please go ahead, it's your task now, keep [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions you may have; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-01-23 13:11] dmzaytsev commented on #876
@karato this is postponed

[2016-01-23 14:28] karato commented on #876
@dmzaytsev got it, "postponed" label here

[2016-01-23 14:28] karato commented on #876
@dmzaytsev someone else will help in this task, no problem at all

[2016-01-23 14:29] karato opened #965 "pom.xml:184-189: Fix findbugs errors in client..."
Puzzle `911-a1464331` in `netbout-client/pom.xml:184-189` has to be resolved: Fix findbugs errors in client Some issues may not require fixing an should be excluded. Filters in qulice 0.12 are broken, right excludes should be more granular. I think it should be resolved when #961 completed due to broken Findbugs filters in current version of Qulice... The puzzle was created by exper0 on 15-Jan-201

[2016-01-23 14:30] karato commented on #911
@mkordas 3 puzzles were created here: `911-a1464331`/#965, `911-20c870d4`, `911-1ad8e6c0`

[2016-01-23 14:37] kujtimiihoxha commented on #962
@dmzaytsev  could you confirm this bug ?

[2016-01-23 15:02] karato commented on #957
@dmzaytsev Finished, thanks, closing..

[2016-01-23 15:02] #957 closed

[2016-01-23 15:03] karato commented on #904
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-23 15:03] karato commented on #941
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-23 15:03] karato commented on #957
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-23 15:04] karato commented on #965
@danff do this task

[2016-01-23 15:05] dmzaytsev commented on #965
@karato this is postponed
we are waiting for #961

[2016-01-23 15:06] dmzaytsev commented on #963
@karato valid bug

[2016-01-23 15:41] dmzaytsev commented on #962
@kujtimiihoxha sure, thanks for reporting
there two issues related to Takes here
* incorrect expiration time when Takes sets the cookie https://github.com/yegor256/takes/issues/354
* I think one hour too much for an error message, one minute good enough, but Takes doesn't allow te set the expiration time https://github.com/yegor256/takes/issues/542

so we should wait until these bug will be resolv

[2016-01-23 15:41] dmzaytsev commented on #962
@karato valid bug

[2016-01-23 15:42] dmzaytsev commented on #962
@karato this is postponed

[2016-01-23 15:46] dmzaytsev commented on #612
@karato this is postponed

[2016-01-23 15:48] dmzaytsev commented on #750
@antonini ping

[2016-01-23 15:58] elenavolokhova commented on #904
@karato Looks good!

[2016-01-23 16:20] karato commented on #965
@dmzaytsev I set milestone here to `3.1`, let me know if it is wrong

[2016-01-23 16:21] karato commented on #962
@dmzaytsev I tagged this as "bug"

[2016-01-23 16:21] karato commented on #963
@dmzaytsev I tagged this as "bug"

[2016-01-23 16:21] karato opened #966 "pom.xml:94-100: Fix findbugs errors in SPI..."
Puzzle `911-20c870d4` in `netbout-spi/pom.xml:94-100` has to be resolved: Fix findbugs errors in SPI classes Friends and Attachemtns Some issues may not require fixing and should be excluded. filters in qulice 0.12 are broken, right excludes should be more granular. I think it should be resolved when #961 completed due to broken Findbugs filters in current version of Qulice... The puzzle was creat

[2016-01-23 16:34] dmzaytsev commented on #966
@karato this is postponed
we are waiting for #961

[2016-01-23 16:47] karato commented on #966
@exper0 do this task

[2016-01-23 16:53] exper0 commented on #966
@karato @dmzaytsev I thought it's postponed, isn't it?

[2016-01-23 17:05] jhyle commented on #943
@karato I didn't added the years.sh script to appveyor.yml because it isn't there in qulice and the script section is missing also. Would it work to just add it? Do I have a chance to test that? And should I do a pull request when the task is finished?

[2016-01-23 17:15] dmzaytsev commented on #943
@jhyle yes, you should create a pull request to merge your changes to the master branch
you can test your script locally before

[2016-01-23 17:36] krzyk opened #967 "netbout-web hangs on bower install"
When I try to build netbout using `mvn clean install -Pqulice` everything builds fine except netbout-web.
I get logs like this:
[code]

Is there something required on my setup to make this work, README.md doesn't mention anything for building, only for integration tests?
I'm on linux, without any proxy.
[code]

[2016-01-23 17:50] karato commented on #962
@kujtimiihoxha I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-01-23 17:50] karato commented on #963
@exper0 I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-01-23 17:50] karato commented on #966
@dmzaytsev I set milestone here to `3.1`, let me know if it is wrong

[2016-01-23 17:50] karato commented on #612
@dmzaytsev thanks, I added "postponed" label

[2016-01-23 17:50] karato commented on #612
@dmzaytsev OK, I will try to assign someone else

[2016-01-23 17:51] karato commented on #904
@elenavolokhova thank you, good quality is always good ;)

[2016-01-23 17:51] karato commented on #965
@dmzaytsev of course, let's wait for #961

[2016-01-23 17:51] karato opened #968 "pom.xml:730-735: Fix findbugs errors in web..."
Puzzle `911-1ad8e6c0` in `netbout-web/pom.xml:730-735` has to be resolved: Fix findbugs errors in web Some issues may not require fixing an should be excluded. Filters in qulice 0.12 are broken, right excludes should be more granular. I think it should be resolved when #961 completed due to broken Findbugs filters in current version of Qulice... The puzzle was created by exper0 on 15-Jan-2016.

If

[2016-01-23 18:02] dmzaytsev commented on #967
@krzyk never seen anything like it
I have no idea :(

[2016-01-23 18:06] dmzaytsev commented on #967
@krzyk I just google for `failed with ECONNRESET` all links from the first page about bower and proxy
Are you  sure about a proxy in your environment?

[2016-01-23 18:07] dmzaytsev commented on #968
@karato this is postponed
we are waiting for #961

[2016-01-23 18:22] karato commented on #904
@exper0 just added 10 mins to @elenavolokhova (for QA), payment ID is `75286572`

Much obliged! I have added **45 mins** to your account in payment "AP-1MG02599J9900842E", 43 hours and 27 mins spent

the bonus for fast delivery (m=2607)

+45 to your rating, your total score is [+526](http://www.netbout.com/b/36185?open=rating)

[2016-01-23 18:22] karato commented on #968
@danff do this task

[2016-01-23 18:22] karato commented on #963
@exper0 thanks for the report, I topped your acc for 15 mins, payment ID `AP-3CE10940LS153982U`

[2016-01-23 18:35] krzyk commented on #961
@dmzaytsev indentation issues are mostly related to corrected indentation checks in the code, only in 3 cases (DyInbox, CdInbox, EmInbox) are related to bug mentioned in qulice#411. Until that one is fixed there will be many code reviews in which other issues have to be manually reported by the reviewer instead of qulice.
Also the migration won't be so fast (many new rules), so I think it is bette

[2016-01-23 18:35] dmzaytsev commented on #966
@karato this is postponed

[2016-01-23 18:35] dmzaytsev commented on #965
@karato this is postponed

[2016-01-23 18:35] dmzaytsev commented on #968
@karato this is postponed

[2016-01-23 18:37] krzyk commented on #967
@dmzaytsev yes, you are right, I thought I disabled proxy, but I forgot to updated shell, now it works. Thanks :)

[2016-01-23 18:37] #967 closed

[2016-01-23 18:38] dmzaytsev commented on #961
@krzyk thanks
okay let's try to upgrade

[2016-01-23 18:38] dmzaytsev commented on #961
@karato this is not postponed anymore

[2016-01-23 18:39] dmzaytsev commented on #967
@krzyk np :)

[2016-01-23 18:58] dmzaytsev commented on #805
@karato assign me please

[2016-01-23 19:07] karato commented on #968
@dmzaytsev I set the milestone to 3.1 since there is nothing set yet

[2016-01-23 19:27] kitsook commented on #878
@karato please see PR #969

@dmzaytsev since the site is XML/XSLT based, i doubt if google or other web crawlers will pickup the meta tag.  for reference, see [how google indexed stateful.co](https://www.google.com/search?q=site%3astateful.co). it just so happen that stateful.co has a `documentation` tag that contains the description.  if this meta tag doesn't work, we can try to add a dummy tag f

[2016-01-23 19:37] karato commented on #932
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-01-23 19:39] karato commented on #962
@kujtimiihoxha thank you for reporting this, I added 15 mins to your acc, transaction `AP-81427348J45414449`

[2016-01-23 20:11] antonini commented on #750
@dmzaytsev I just tested on production and snapshot environments. Both are not fixed.
If I reproduce all those steps system creates a new bout.

[2016-01-23 20:20] kitsook commented on #945
@karato please see PR #970

[2016-01-23 21:09] jhyle commented on #914
@karato What I figured out is that "npm ls | grep bower || npm install bower" / "npm ls | grep bower && npm update bower" works on the command line, anyhow the frontend-maven-plugin does not execute this probably when given as <arguments>. I see no way to implement it, at least not without using something else then the maven-frontend-plugin or hacking it.

[2016-01-24 07:41] jhyle commented on #877
@karato This should be fixed in the takes project. org.takes.misc.Href should catch the unchecked exception from URI.create in line 73 and rethrow it as a checked one so that programmers actually get informed that the method can fail. Then I a suggest a catch for this exception in org.takes.facets.auth.PsByFlag::enter. If the URI is not malformed it cannot match and so an empty Identity should be

[2016-01-24 08:52] dmzaytsev commented on #750
@antonini yep there is a bug here
a new ticket for the [puzzle](https://github.com/yegor256/netbout/blob/876cff2b782ef186924530f5304708a6821449ca/netbout-web/src/test/java/com/netbout/rest/bout/TkStartTest.java#L63) will be created soon
so I think this ticket can be closed

[2016-01-24 09:25] karato commented on #805
@dmzaytsev yep, it is yours, go ahead

[2016-01-24 09:25] karato commented on #945
@kitsook will take a look at it, thanks

[2016-01-24 09:25] karato commented on #961
@dmzaytsev thanks, I removed the "postponed" tag

[2016-01-24 09:25] karato commented on #965
@dmzaytsev got it, "postponed" label here

[2016-01-24 09:25] karato commented on #965
@dmzaytsev all right, we'll find someone else for this task

[2016-01-24 09:25] karato commented on #966
@dmzaytsev yes, waiting for #961

[2016-01-24 09:25] karato commented on #966
@dmzaytsev thanks, I added "postponed" label

[2016-01-24 09:25] karato commented on #966
@dmzaytsev right, I'll try to find someone else for this task

[2016-01-24 09:25] karato commented on #968
@dmzaytsev yes, of course, we'll wait for #961

[2016-01-24 09:25] karato commented on #968
@dmzaytsev sure, thanks, I added "postponed" label to it

[2016-01-24 09:25] karato commented on #968
@dmzaytsev no problem, I will try to find somebody else

[2016-01-24 09:25] karato commented on #962
@dmzaytsev thanks, I added "postponed" label

[2016-01-24 09:25] karato commented on #962
@dmzaytsev OK, I will try to assign someone else

[2016-01-24 09:36] prahladyeri commented on #750
@antonini
My mistake, I didn't initially realize that storing inbox object in the cache just may not be enough. Caching the bout object, or instead, both inbox and bout objects seem a better idea in retrospect. But the change should be trivial. All the new dev has to do is change just the two lines where the concurrent hashmap is stored and retrieved, and make it `bout` instead of `inbox` objects.

[2016-01-24 09:42] dmzaytsev commented on #805
@hs3180 the issue fixed in PR #964 please close the ticket

[2016-01-24 09:50] ypshenychka commented on #957
@karato Quality is good.

[2016-01-24 09:50] hs3180 commented on #805
@dmzaytsev thanks

[2016-01-24 09:50] #805 closed

[2016-01-24 09:52] ypshenychka commented on #941
@karato Quality is good.

[2016-01-24 09:54] ypshenychka commented on #932
@karato Quality is good.

[2016-01-24 11:39] karato commented on #941
@ypshenychka thank you

[2016-01-24 11:39] karato commented on #932
@ypshenychka thanks a lot

[2016-01-24 11:39] karato commented on #957
@ypshenychka thanks, got it, great to see high-quality tickets here

[2016-01-24 11:51] dmzaytsev commented on #878
@kitsook Why we can't add `documentation` tag on netbout.com ?
the response from stateful.co below
[code]

[2016-01-24 12:00] karato commented on #941
@kujtimiihoxha 10 mins was added to the account of @ypshenychka (for QA review), in transaction 75305810. Many thanks! **30 mins** were added to your account in Transaction ID `AP-93G361368B0174810` (task took 75 hours and 25 mins). +30 added to your rating, at the moment it is: [+150](http://www.netbout.com/b/36323?open=rating)

[2016-01-24 13:29] karato commented on #932
@kujtimiihoxha just added 10 mins to @ypshenychka (for QA), payment ID is `75307235`. Much appreciated! **30 mins** was added to your account, payment ID `AP-71043466A40828814`, time spent is 81 hours and 1 min. +30 to your rating, your total score is [+180](http://www.netbout.com/b/36323?open=rating)

[2016-01-24 13:29] karato commented on #963
@danff do this task

[2016-01-24 14:01] prahladyeri commented on #898
@karato @dmzaytsev
I've made the following changes in PR #972. Please let me know if this is sufficient or anything else needs to be done here.

- Upgraded `site-maven-plugin` to `v0.12` in pom.xml.
- site-deployment enabled in `.rultor.yml`.

[2016-01-24 14:30] karato opened #973 "TkStartTest.java:63-65: TkStart should not create new..."
Puzzle `954-b453159b` in `netbout-web/src/test/java/com/netbout/rest/bout/TkStartTest.java:63-65` has to be resolved: TkStart should not create new bout when same token is specified. When this is fixed, remove @Ignore from handlesTokens test... The puzzle was created by clarence ho on 23-Jan-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be "don

[2016-01-24 14:31] karato commented on #954
@dmzaytsev the code made here contains a puzzle `954-b453159b`/#973, which will be resolved soon

[2016-01-24 14:56] karato commented on #961
@danff this is your task

[2016-01-24 16:04] karato commented on #973
@dmzaytsev there is no milestone yet, so I set it to `3.1`

[2016-01-24 16:24] karato commented on #957
@dmzaytsev 10 mins was added to the account of @ypshenychka (for QA review), in transaction 75311174

Many thanks! **1 hour** were added to your account in Transaction ID `75311185` (task took zero)

m=0, that's why a bonus here for fast delivery

+60 added to your rating, current score is: [+2566](http://www.netbout.com/b/35166?open=rating)

[2016-01-24 19:17] karato commented on #898
@prahladyeri thanks

[2016-01-24 19:17] karato commented on #898
@prahladyeri the reviewer will take a look

[2016-01-24 20:02] kitsook commented on #878
@dmzaytsev yes we can.  assuming the web crawler is treating the response as xml, we can name the tag as `documentation` or whatever and it will parse the text within.

another possible way is to return fully processed html instead of xml/xslt.  i see in [RsPage.java](https://github.com/yegor256/netbout/blob/master/netbout-web/src/main/java/com/netbout/rest/RsPage.java#L102) it now returns html if

[2016-01-24 21:22] karato commented on #933
@michaelben thanks for the report, I topped your acc for 15 mins, payment ID `AP-8P1054959A3593438`

[2016-01-24 22:36] kitsook commented on #954
@karato PR #960 merged.  please close this issue if it is considered to be resolved

[2016-01-25 04:03] dmzaytsev commented on #878
@kitsook let's try `documentation` tag first
there are a few crawlers,
not only google

[2016-01-25 10:09] karato opened #974 "Re-estimate project size"
The latest estimate is rather old (created on 18-Dec-2015),we have to create a new one as explained [here](https://github.com/teamed/est)

[2016-01-25 10:22] karato commented on #827
@dmzaytsev Closing this issue now...

[2016-01-25 10:22] #827 closed

[2016-01-25 10:25] karato commented on #974
@michaelben it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-01-25 13:48] karato commented on #974
@dmzaytsev I set the milestone to 3.1 since there is nothing set yet

[2016-01-25 14:04] karato commented on #805
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-25 14:06] karato commented on #973
@michaelben could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2016-01-25 14:12] ypshenychka commented on #805
@karato Quality is good.

[2016-01-25 16:07] karato commented on #805
@ypshenychka thank you

[2016-01-25 16:26] #954 closed

[2016-01-25 16:26] karato commented on #954
@dmzaytsev We are done here, thanks all

[2016-01-25 16:27] karato commented on #943
@ypshenychka please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-25 16:27] karato commented on #954
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-01-25 16:30] karato commented on #805
@dmzaytsev paied 10 mins to @ypshenychka for QA review (payment ID is `75634386`)

**1 hour** was added to your account, many thanks for your contribution (payment 75634449)! The task took 2 hours and 12 mins.

there is a bonus for fast delivery (m=132)

+60 added to your rating, at the moment it is: [+2704](http://www.netbout.com/b/35166?open=rating)

[2016-01-25 16:30] karato commented on #848
@dmzaytsev There are a few problems in the project now, see [par.33](http://at.teamed.io/policy.html#33):

 * some tasks in the project are "stuck": #775 (152 days), #801 (117 days), #803 (111 days), #806 (107 days), #813 (102 days), #816 (100 days), #817 (99 days), #826 (87 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](ht

[2016-01-25 16:30] karato commented on #875
@michaelben this task is yours, please help (see our key [principles of work](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html)). If you have any technical questions, don't hesitate to ask right here. **30 mins** is the budget of the task. This is exactly how much will be paid when the problem is [solved](http://www.xdsd.org/2014/04/15/definition-of-done.html) (no matter how much time you

[2016-01-25 16:32] ypshenychka commented on #943
@jhyle
According to our [QA Rules](http://www.teamed.io/qa.html):

Please provide a link to corresponding PR in any of your messages.

[2016-01-25 18:01] karato commented on #943
@rultor @dmzaytsev please look at this issue, rultor closed it automatically

[2016-01-25 18:02] karato commented on #877
@jhyle you should address your technical comments to the project architect (@dmzaytsev)

[2016-01-25 18:02] karato commented on #914
@jhyle you should address your technical comments to the project architect (@dmzaytsev)

[2016-01-25 18:02] karato commented on #954
@kitsook OK

[2016-01-25 18:03] rultor commented on #943
@karato I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2016-01-25 18:19] dmzaytsev commented on #877
@jhyle feel free to submit a ticket on Takes project

[2016-01-25 18:24] dmzaytsev commented on #914
@prahladyeri please explain your idea about checking bower version

[2016-01-25 18:42] prahladyeri commented on #914
@dmzaytsev My original idea was that if we just do a `npm ls|grep bower`, the program returns the version if the package exists on the first line:

	└─┬ bower@1.7.2
	  ├─┬ bower-config@1.3.0
	  ├── bower-endpoint-parser@0.2.2
	  ├─┬ bower-json@0.4.0
	  ├── bower-logger@0.2.2
	  ├─┬ bower-registry-client@1.0.0

Now, if our Java class does the same thing while building (using `java.lang.Runtime` or

[2016-01-25 19:48] dmzaytsev commented on #914
@prahladyeri I didn't get why we need  java class in this case?

[2016-01-25 19:54] prahladyeri commented on #914
@dmzaytsev  I assumed that our build process might be calling a Java class, which might be installing the `bower` and other stuff, my mistake if that is not the case. In case the build process is just an `ant` script, then I don't see how this could be achieved. Maybe, we can delegate the installing part to a separate `bash` script which then does this check? But as @jhyle said, that method would

[2016-01-25 21:28] jhyle commented on #914
@prahladyeri @dmzaytsev Sure, on bash it's a no-brainer. But how to do it with maven? The currently used maven-frontend-plugin does not support shell commands. Directions to go are:

* replace install via maven-frontend-plugin with a maven plugin that executes shell commands (and do this probably for our case)
* patch maven-frontend-plugin so that it offers a method to install if not present and u

[2016-01-25 21:36] jhyle commented on #943
@ypshenychka pull request is  #971

[2016-01-25 21:42] jhyle commented on #877
@dmzaytsev @karato See https://github.com/yegor256/takes/issues/548.

[2016-01-26 04:33] yegor256 commented on #828
@exper0 yes

[2016-01-26 05:08] dmzaytsev commented on #943
@jhyle I would suggest to avoid usage of `fixes #<ticket>` in a pull request description in the future.
The ticket shouldn't be closed automatically

[2016-01-26 05:08] #943 closed

[2016-01-26 06:23] kitsook commented on #954
@karato may i know when will my payment and rating be updated?

[2016-01-26 06:32] kitsook commented on #878
@mkordas PR #969 merged. please close this issue if appropriate. thx

[2016-01-26 06:33] kitsook commented on #945
@kujtimiihoxha PR #970 merged. please close the issue. thx

[2016-01-26 06:41] ypshenychka commented on #943
@jhyle Thank you.

[2016-01-26 06:41] dmzaytsev commented on #954
@kitsook after QA review

[2016-01-26 06:42] ypshenychka commented on #943
@karato Quality is acceptable.

[2016-01-26 10:16] dmzaytsev commented on #914
@jhyle @prahladyeri take a look at the example project
https://github.com/eirslett/frontend-maven-plugin/blob/master/frontend-maven-plugin/src/it/example%20project/pom.xml#L38
they use `package.json` instead of direct call of `npm install bower`

I guess `bower` would be installed  as needed if we had did the same

[2016-01-26 11:16] karato commented on #943
@ypshenychka thanks for the QA review, we'll work better next time

[2016-01-26 11:32] karato commented on #864
@kitsook this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-01-26 11:32] karato commented on #865
@jhyle this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-01-26 11:32] karato commented on #943
@jhyle I added 10 mins to @ypshenychka (for QA review) in transaction 75677078. Many thanks! **45 mins** were added to your account in Transaction ID `AP-85U26360VG043535G` (task took 28 hours and 52 mins). m=1732, that's why a bonus here for fast delivery. +45 added to your rating, at the moment it is: [+45](http://www.netbout.com/b/36320?open=rating)

[2016-01-26 12:01] elenavolokhova commented on #954
@karato Looks good!

[2016-01-26 13:07] karato commented on #954
@elenavolokhova many thanks

[2016-01-26 13:28] karato commented on #954
@kitsook just added 10 mins to @elenavolokhova (for QA), payment ID is `75680321`; thank you, added **30 mins** to your acc, payment num is `AP-4TV167733Y4303337`, 116 hours and 42 mins spent in total to complete; added +30 to your rating, now it is equal to [+30](http://www.netbout.com/b/36293?open=rating)

[2016-01-26 19:09] kitsook commented on #864
@dmzaytsev i can reproduce it on the production site but not localhost. test environment handles `RsFailure` differently?

[2016-01-26 19:16] dmzaytsev commented on #864
@kitsook i'm not sure. Maybe it fixed already with another issue...
I would suggest checkout latest release and check against the local instance again

[2016-01-26 19:17] dmzaytsev commented on #864
@kitsook try http://snapshot.netbout.com first

[2016-01-26 19:33] kitsook commented on #864
@dmzaytsev sorry that i wasn't clear in my question.  i can trigger an uncaught exception on localhost if the alias is too long.  if i modified the code to throw a proper `RsFailure`, the stacktrace is gone but I can't get the `flash` tag in the result xml.

i tried to invite an unknown alias, which should show `incorrect alias "xxxxxxx", try again`.  but i can't get this either on localhost.

so

[2016-01-26 19:47] jhyle commented on #877
@karato I have created the ticket. How to proceed?

[2016-01-26 19:50] dmzaytsev commented on #864
@kitsook I don't know why it happens...
let's add a unit test with expected RsFaulure exception

[2016-01-26 19:54] dmzaytsev commented on #877
@jhyle you should inform the program manager

@karato we are waiting yegor256/takes#548

and just wait until yegor256/takes#548 will be resolved

[2016-01-26 22:49] kitsook commented on #864
@karato please assign to someone else

[2016-01-26 23:11] jhyle commented on #914
@dmzaytsev  Thank you, that worked. Unfortunately the travis build fails for a reason that is hopefully unrelated to my patch. Can you have a look?

[2016-01-27 04:54] dmzaytsev commented on #914
@jhyle looks like a temporary network issue
try close/open the PR to trigger the build

[2016-01-27 10:38] jhyle commented on #914
@karato Please see PR #975

[2016-01-27 10:45] karato commented on #864
@kitsook -30 points to your rating

[2016-01-27 10:45] karato commented on #864
@kitsook all right, we'll find someone else for this task

[2016-01-27 13:44] karato commented on #914
@jhyle thanks, I'll take a look

[2016-01-27 15:35] karato opened #976 "Indie tech review no.5"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `indie` tag to each of them.

[2016-01-27 17:00] karato commented on #976
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-01-28 08:38] krzyk opened #977 "Using bold causes the space after it to disappear, again"
This is basically a reopen of #838, this problem was fixed and now it resurfaced in www.netbout.com again.
Problem description:
When I write text like this: `This is **bold** test`, the space after `bold` disappears, here's the result:
This is **bold**test.
`bold` and `test` merge into one word.
Bolding a word shouldn't make spaces after it disappear.

[2016-01-28 08:51] dmzaytsev commented on #977
@krzyk your case works fine on http://snapshot.netbout.com . However we use Pegdown on production right now, I still wait [the confirmation] (https://github.com/yegor256/netbout/issues/848#issuecomment-174152578) from @yegor256

[2016-01-28 08:52] krzyk opened #978 "Text form starts with a space"
![space](https://cloud.githubusercontent.com/assets/105730/12639824/cdc68218-c5a6-11e5-9fa7-7b7920ab91e6.png)

When I want to write a text in netbout I always see that the form has a space at the beginning of the form.
This space is useless, and should be removed.

In the screenshot I have selected this space.

Browser: Firefox 45 developer edition.

[2016-01-28 08:55] krzyk commented on #977
@dmzaytsev OK, thanks, I was pretty sure it was working on production some time ago.

[2016-01-28 08:55] #977 closed

[2016-01-28 09:01] dmzaytsev commented on #978
@krzyk could you make a screenshot?

[2016-01-28 09:06] krzyk commented on #978
@dmzaytsev here it is

[2016-01-28 09:51] dmzaytsev commented on #978
@krzyk thanks

[2016-01-28 09:51] dmzaytsev commented on #978
@karato valid bug

[2016-01-28 12:01] karato commented on #978
@dmzaytsev tagged this issue with "bug"

[2016-01-28 14:37] jhyle commented on #865
@karato please find someone to review the PR #979

[2016-01-28 14:44] karato commented on #978
@krzyk I set the milestone to 3.1 since there is nothing set yet

[2016-01-28 15:08] karato commented on #978
@krzyk thanks a lot for reporting, **15 mins** added to your acc, pmt ID `75849205`

[2016-01-28 16:30] karato commented on #865
@jhyle thank you

[2016-01-28 16:47] kujtimiihoxha commented on #880
@mkordas the changes have been merged please close this issue.

[2016-01-28 16:53] karato commented on #978
@jhyle the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here. This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-01-28 17:59] mkordas commented on #880
@kujtimiihoxha thanks

[2016-01-28 17:59] #880 closed

[2016-01-28 18:06] jhyle commented on #978
@karato please review PR #980

[2016-01-28 19:32] karato commented on #978
@jhyle will take a look at it, thanks

[2016-01-28 21:36] kitsook commented on #945
@kujtimiihoxha ping

[2016-01-28 21:37] kitsook commented on #878
@mkordas ping

[2016-01-28 21:40] mkordas commented on #878
@kitsook you should have been pinging me every couple of hours, sorry for delay, closing

[2016-01-28 21:40] #878 closed

[2016-01-28 21:59] #945 closed

[2016-01-29 07:42] jhyle commented on #877
@karato Can you do something do move this forward?

[2016-01-29 09:47] karato commented on #863
@kujtimiihoxha do this task

[2016-01-29 09:47] karato commented on #864
@jhyle the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-01-29 10:24] mkordas opened #981 "PDD check on Travis is not working for pom.xml"
We must have PDD check on Travis wrongly configured, as during code review I spotted puzzle without time specified at https://github.com/yegor256/netbout/pull/975/files#diff-127b5be4d5df4b983d3c654409321957R329 while build for this PR is fine.

Please make sure that PDD will fail for any wrongly defined puzzle in `pom.xml`.

[2016-01-29 17:22] karato opened #982 "pom.xml:330-339: investigate error messages of the..."
Puzzle `914-ecab4401` in `netbout-web/pom.xml:330-339` has to be resolved: investigate error messages of the following command and change package.json accordingly. The error messages are: [ERROR] npm WARN package.json netbout-web@ No description [ERROR] npm WARN package.json netbout-web@ No repository field. [ERROR] npm WARN package.json netbout-web@ No README data [ERROR] npm WARN package.json ne

[2016-01-29 17:22] karato commented on #914
@prahladyeri the code made here contains a puzzle `914-ecab4401`/#982, which will be resolved soon

[2016-01-29 19:08] karato commented on #982
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-01-29 19:09] karato commented on #877
@jhyle what exactly do you want me to do? :)

[2016-01-29 19:32] karato commented on #848
@dmzaytsev there are some issues (see [par.33](http://at.teamed.io/policy.html#33)) in the project now:

 * some tasks in the project are "stuck": #775 (157 days), #801 (121 days), #803 (115 days), #806 (112 days), #813 (106 days), #816 (105 days), #817 (104 days), #826 (91 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](htt

[2016-01-29 20:19] jhyle opened #983 "Build stalls on email related tests"
On my machine the build spends more than 15 min on the following tests:

[code]

This is very annoying so I appreciate a fix.

[2016-01-29 20:46] karato commented on #880
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-29 21:24] jhyle commented on #877
@karato Well, it seems like https://github.com/yegor256/takes/issues/548 is not getting reviewed (and filed as a bug). And what happens when the assignment hits the ten days mark?

[2016-01-30 02:57] dmzaytsev commented on #877
@jhyle just ask @karato for more time

[2016-01-30 04:42] elenavolokhova commented on #880
@karato Quality is good here.

[2016-01-30 06:51] jhyle commented on #978
@karato Please close the issue.

[2016-01-30 07:01] krzyk commented on #978
@jhyle you have to ask issue creator (in this case me) to close the issue. I'll check if it is fixed and close it.

[2016-01-30 07:04] krzyk commented on #978
@jhyle thanks

[2016-01-30 07:04] #978 closed

[2016-01-30 09:58] karato commented on #880
@elenavolokhova thanks!

[2016-01-30 10:19] karato commented on #878
@elenavolokhova please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-01-30 10:19] karato commented on #945
@elenavolokhova please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-01-30 10:21] karato commented on #880
@kujtimiihoxha added 10 mins to @elenavolokhova, for QA review, payment code is `75932075`... paid, thanks, added **30 mins** to your account, payment `AP-9NT33999KY979062P`, 166 hours and 29 mins was spent... +30 added to your rating, at the moment it is: [+120](http://www.netbout.com/b/36323?open=rating)

[2016-01-30 10:21] karato commented on #982
@kujtimiihoxha this is your task

[2016-01-30 13:13] elenavolokhova commented on #878
@karato Looks good!

[2016-01-30 13:14] elenavolokhova commented on #945
@karato Looks good!

[2016-01-30 15:30] karato commented on #878
@elenavolokhova thanks a lot ;)

[2016-01-30 15:30] karato commented on #945
@elenavolokhova thanks for the review

[2016-01-30 16:01] karato commented on #878
@kitsook just added 10 mins to @elenavolokhova (for QA), payment ID is `75940182`

Much obliged! I have added **30 mins** to your account in payment "AP-30U95834AC425133F", 142 hours and 54 mins spent

+30 to your rating, your total score is [+30](http://www.netbout.com/b/36293?open=rating)

[2016-01-30 17:37] karato commented on #945
@kitsook just added 10 mins to @elenavolokhova (for QA), payment ID is `75943182`

thanks, paid, **30 mins** to your account, payment ID is `AP-37V757017J690160S`, task took 143 hours and 55 mins to complete

+30 to your rating, your total score is [+60](http://www.netbout.com/b/36293?open=rating)

[2016-01-31 11:32] karato commented on #978
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-01-31 12:41] ypshenychka commented on #978
@karato Quality is good.

[2016-01-31 14:03] karato commented on #978
@ypshenychka thank you, good quality is always good :)

[2016-01-31 14:23] karato commented on #978
@jhyle paied 10 mins to @ypshenychka for QA review (payment ID is `75964583`). Thanks a lot, I just topped your account for **45 mins**, transaction ID `AP-2Y6021621A644413S`, total time was 41 hours and 7 mins. the bonus for fast delivery (m=2467). +45 added to your rating, current score is: [+90](http://www.netbout.com/b/36320?open=rating)

[2016-01-31 15:57] jhyle commented on #914
@karato Does closing this issue has to wait until #982 is solved?

[2016-01-31 20:55] mkordas commented on #851
@dmzaytsev please dispatch this issue

[2016-02-01 05:49] dmzaytsev commented on #851
@karato valid bug

[2016-02-01 09:39] karato commented on #914
@jhyle no, it's just an information message

[2016-02-01 09:39] karato commented on #851
@dmzaytsev I just added bug tag here

[2016-02-01 09:44] #914 closed

[2016-02-01 11:26] karato commented on #851
@mkordas attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-02-01 11:42] karato commented on #851
@mkordas many thanks for the bug report, I added 15 mins to your acc, transaction `56af449895ff72796e00040e`

[2016-02-01 11:42] karato commented on #981
@dmzaytsev take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-01 11:55] dmzaytsev commented on #981
@mkordas what's wrong with "time-less" puzzle?

Travis's settings and Rultor's settings are same, so I have no idea what can we fix in this case

https://github.com/yegor256/netbout/blob/master/.travis.yml#L21
[code]
https://github.com/yegor256/netbout/blob/master/.rultor.yml#L45
[code]

[2016-02-01 21:28] karato commented on #983
@dmzaytsev please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-02-01 22:48] jhyle commented on #864
@karato please have a look at PR #984

[2016-02-01 22:49] jhyle commented on #914
@karato Why isn't this task removed from my agenda?

[2016-02-01 23:30] prahladyeri commented on #914
@jhyle I have already closed this bug. Are you referring to the labeling? I don't think its up to us to add/remove those.

[2016-02-02 04:03] dmzaytsev commented on #983
@jhyle did you run these tests from maven ?
could you provide timing for another tests not related to email?

[2016-02-02 04:12] dmzaytsev commented on #983
@jhyle

![image](https://cloud.githubusercontent.com/assets/9972909/12739603/d57b7056-c98c-11e5-843a-eeaf3d324fbb.png)

[2016-02-02 07:08] jhyle commented on #983
@dmzaytsev Yes, I run these from the command line on linux with `mvn clean install -Pqulice`. Here the whole test suite:

[code]

[2016-02-02 13:49] exper0 commented on #911
@karato should those puzzles to be resolved to close this ticket?

[2016-02-02 14:44] dmzaytsev commented on #911
@exper0 just ask the ticker reporter

[2016-02-02 15:23] exper0 commented on #911
@mkordas do you think we can close the ticket?

[2016-02-02 16:00] mkordas commented on #911
@exper0 sure, thx

[2016-02-02 16:00] #911 closed

[2016-02-02 18:32] yegor256 commented on #883
@karato pls add extra 210 minutes to @kujtimiihoxha since all his previous transactions were reverted by PayPal

[2016-02-02 20:04] kujtimiihoxha commented on #982
@dmzaytsev Please se PR  #985

[2016-02-03 05:35] dmzaytsev commented on #848
@yegor256 can we release?

[2016-02-03 05:53] yegor256 commented on #848
@dmzaytsev yes, let's do it

[2016-02-03 06:02] dmzaytsev commented on #848
@rultor release, tag=`2.23`

[2016-02-03 06:04] rultor commented on #848
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6736-179028813)

[2016-02-03 06:19] rultor commented on #848
@dmzaytsev @karato Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6736-179028813) (spent 15min)

[code]

[2016-02-03 07:14] dmzaytsev commented on #848
@yegor256 it seems something wrong `${coveralls.token}`
if so could you fix it ?
I have no access to `settings.xml`

[2016-02-03 07:15] yegor256 opened #986 "java.lang.IndexOutOfBoundsException: No group 3"
I'm getting this sometimes:

[code]

Didn't have in the previous version. The bug is rather annoying!

[2016-02-03 08:05] dmzaytsev commented on #986
@karato valid bug

[2016-02-03 08:10] dmzaytsev commented on #986
@yegor256 could you provide an example of the entered text ?

[2016-02-03 08:33] essobedo opened #987 "Cannot access to a netbout"
Hi,

When I tried to access to http://www.netbout.com/b/36421, I get an Internal Application Error with the following stacktrace:
`java.lang.IndexOutOfBoundsException: No group 3
	at java.util.regex.Matcher.start(Matcher.java:374)
	at java.util.regex.Matcher.appendReplacement(Matcher.java:831)
	at com.netbout.rest.MarkdownTxtmark.makeLineBreak(MarkdownTxtmark.java:98)
	at com.netbout.rest.Markdown

[2016-02-03 08:34] essobedo commented on #987
Duplicate Issue

[2016-02-03 08:34] #987 closed

[2016-02-03 08:35] dmzaytsev commented on #987
@essobedo do you remember the latest entered text into the bout?

[2016-02-03 08:42] essobedo commented on #987
@dmzaytsev According to my emails, it should be something like "Nicolas FILOTTO, I added you to a new campus project: rultor"

[2016-02-03 08:45] dmzaytsev commented on #987
@essobedo is there another messages before?

[2016-02-03 08:50] essobedo commented on #987
@dmzaytsev Just before I have "Nicolas FILOTTO, I added you to a new campus project: takes" which is very similar to the previous message. Maybe @alice wrote another message that caused the bout to be unstable for which no email notification has been sent.

[2016-02-03 08:53] dmzaytsev commented on #987
@essobedo maybe... I can't reproduce it yet
thanks for your help

[2016-02-03 09:02] essobedo commented on #987
@dmzaytsev Do you mean that you can access to this particular bout?

[2016-02-03 09:04] dmzaytsev commented on #987
@essobedo No, I can't

I mean I can't reproduce the bug in another bout

[2016-02-03 09:13] dmzaytsev commented on #986
@karato assign me please

[2016-02-03 09:38] dmzaytsev commented on #986
@rultor release, tag=`2.24`

[2016-02-03 09:39] rultor commented on #986
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6740-179125521)

[2016-02-03 09:48] rultor commented on #986
@dmzaytsev @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6740-179125521) (spent 9min)

[code]

[2016-02-03 09:52] dmzaytsev commented on #987
@essobedo could you try to open your bout?

[2016-02-03 09:53] essobedo commented on #987
@dmzaytsev It works perfectly now thank you very much

[2016-02-03 09:56] dmzaytsev commented on #987
@essobedo Please share latest messages from the bout  if possible

[2016-02-03 10:08] essobedo commented on #987
@dmzaytsev it was "Nicolas FILOTTO, I added you to a new campus project: rultor"

[2016-02-03 10:09] dmzaytsev commented on #987
@essobedo hmm, I have no idea why it happens

[2016-02-03 10:16] dmzaytsev commented on #986
@yegor256  I caught  the exception as workaround. @essobedo was be able to open  the bout (see #987),
however I can't reproduce the bug
please share [the error logs](https://github.com/yegor256/netbout/pull/988/files#diff-1021c23d59dcc0efbfc07027c961701eR107) with the text that causes the exception

[2016-02-03 10:19] mkordas opened #989 "Exclamation mark icon on production after recent release"
After releasing version 2.23 to production I see exclamation mark icon on my avatar:
![image](https://cloud.githubusercontent.com/assets/5467276/12778848/57d6150a-ca65-11e5-889a-80a67ef7c9ad.png)
It shouldn't be there, as I have my email address set properly.

[2016-02-03 10:25] essobedo commented on #987
@dmzaytsev Apart the messages above, the only thing that is new in the bout since the last time I could access it, are the "tabs" agenda earnings leaders rating speed team, I don't know if it helps but I wanted to mention that just in case it could help.

[2016-02-03 11:45] dmzaytsev commented on #987
@essobedo I think these tabs not relate to the issue
we will try to look into the logs
thanks!

[2016-02-03 11:51] dmzaytsev commented on #989
@karato valid bug

[2016-02-03 12:25] kujtimiihoxha commented on #982
@karato Please se PR #985

[2016-02-03 13:44] yegor256 commented on #986
@dmzaytsev I don't see the stack trace any more

[2016-02-03 13:45] yegor256 commented on #986
@dmzaytsev the log:

[code]

[2016-02-03 15:45] dmzaytsev commented on #986
@karato please see PR #990

[2016-02-03 15:54] karato commented on #864
@jhyle thank you

[2016-02-03 15:54] karato commented on #883
@yegor256 I've sent 3 hours and 30 mins extra to @kujtimiihoxha in transaction ID "AP-14R57234Y0219745R"

[2016-02-03 15:54] karato commented on #982
@kujtimiihoxha thank you

[2016-02-03 15:55] karato commented on #989
@dmzaytsev I tagged this as "bug"

[2016-02-03 15:55] karato commented on #986
@dmzaytsev tagged this issue with "bug"

[2016-02-03 16:11] karato commented on #914
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-02-03 16:18] ypshenychka commented on #914
@karato Quality is good.

[2016-02-03 16:23] yegor256 opened #991 "java.lang.IllegalArgumentException: Illegal group reference"
Another problem in production, a very annoying and urgent one:

[code]

[2016-02-03 16:25] dmzaytsev commented on #991
@yegor256 will be fixed soon
PR #990 waiting for review

[2016-02-03 17:25] kujtimiihoxha commented on #982
@dmzaytsev please close this issue.

[2016-02-03 17:36] dmzaytsev commented on #986
@rultor release, tag=`2.25`

[2016-02-03 17:37] rultor commented on #986
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6740-179365216)

[2016-02-03 17:48] rultor commented on #986
@dmzaytsev @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6740-179365216) (spent 11min)

[code]

[2016-02-03 17:52] dmzaytsev commented on #982
@karato will close it

[2016-02-03 17:52] dmzaytsev commented on #991
@yegor256 I just released the fix, please check

[2016-02-03 21:26] yegor256 commented on #848
@dmzaytsev fixed, try again

[2016-02-03 23:31] yegor256 commented on #991
@dmzaytsev works now, thanks

[2016-02-03 23:31] #991 closed

[2016-02-04 03:53] dmzaytsev commented on #848
@rultor release, tag=`2.26`

[2016-02-04 03:54] rultor commented on #848
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6736-179608350)

[2016-02-04 04:07] rultor commented on #848
@dmzaytsev @karato Oops, I failed. You can see the full log [here](http://www.rultor.com/t/6736-179608350) (spent 13min)

[code]

[2016-02-04 04:09] dmzaytsev commented on #848
@yegor256 another error `Caused by: java.io.IOException: No coverage report files found`

[2016-02-04 05:12] yegor256 commented on #848
@dmzaytsev this time this has nothing to do with me :) it's a bug inside the project

[2016-02-04 05:25] dmzaytsev opened #992 "deployment failed due to the coverage report not exists"
Let's configure the cobertura plugin to provide the coverage report
see https://github.com/yegor256/netbout/issues/848#issuecomment-179612466

[2016-02-04 05:25] dmzaytsev commented on #992
@karato valid bug

[2016-02-04 05:26] dmzaytsev commented on #848
@yegor256 thanks

[2016-02-04 10:19] karato commented on #986
@yegor256 since the ticket has no milestone I set it to 3.1

[2016-02-04 10:19] karato commented on #989
@mkordas I set milestone here to `3.1`, let me know if it is wrong

[2016-02-04 10:20] karato commented on #914
@ypshenychka thanks!

[2016-02-04 10:20] karato commented on #982
@dmzaytsev the ticket will be closed when the puzzle is removed from the code, keep in mind that it takes some time after deployment to update our statistics, please give me at least a day

[2016-02-04 10:20] karato commented on #992
@dmzaytsev I added `bug` tag to this ticket

[2016-02-04 10:34] dmzaytsev commented on #986
@karato assign me please

[2016-02-04 10:37] karato commented on #848
@dmzaytsev pay attention to the following, as required in [par.33](http://at.teamed.io/policy.html#33):

 * some tasks in the project are "stuck": #775 (162 days), #801 (126 days), #803 (120 days), #806 (117 days), #813 (111 days), #816 (110 days), #817 (108 days), #826 (96 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](htt

[2016-02-04 10:37] karato commented on #914
@jhyle paied 10 mins to @ypshenychka for QA review (payment ID is `76503769`). Many thanks! **30 mins** were added to your account in Transaction ID `AP-2F923971Y9576242X` (task took 216 hours and 48 mins). added +30 to your rating, now it is equal to [+120](http://www.netbout.com/b/36320?open=rating)

[2016-02-04 10:38] karato commented on #989
@mkordas thanks for reporting! I topped your account for 15 mins, transaction 56b329ea4f694f57700000c7

[2016-02-04 10:43] dmzaytsev commented on #981
@mkordas ping

[2016-02-04 10:46] dmzaytsev commented on #848
@yegor256 can we make this release final?

[2016-02-04 11:47] mkordas commented on #981
@dmzaytsev I meant that we should configure PDD properly as in other projects: https://github.com/yegor256/takes/blob/master/.pdd

[2016-02-04 12:20] karato commented on #992
@dmzaytsev I set milestone here to `3.1`, let me know if it is wrong

[2016-02-04 12:21] karato commented on #986
@dmzaytsev the task is yours, please proceed

[2016-02-04 12:21] karato commented on #986
@dmzaytsev will take a look, thanks

[2016-02-04 12:21] karato commented on #986
@dmzaytsev sure, it was yours before, go ahead

[2016-02-04 12:37] karato commented on #986
@yegor256 thank you for the ticket reported, I topped your account for 15 mins, transaction `000-6585a348`

[2016-02-04 12:39] dmzaytsev commented on #986
@yegor256 fixed in #990 please close the ticket

[2016-02-04 13:58] kujtimiihoxha opened #993 "I am getting bower install error"
Trying to run ``` mvn clean install -Pqulice``` I get this :
"Failed to execute goal com.github.eirslett:frontend-maven-plugin:0.0.25:bower (bower install) on project netbout-web: Failed to run task:"

Here is the full log
[out.txt](https://github.com/yegor256/netbout/files/117490/out.txt)

[2016-02-04 13:58] kujtimiihoxha commented on #863
@karato  waiting for  #993

[2016-02-04 17:29] karato commented on #863
@kujtimiihoxha yep, got it, let's wait for #993 being solved

[2016-02-04 17:47] karato commented on #911
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-04 17:49] karato commented on #992
@dmzaytsev thanks for tis bug, I topped your account for 30 mins, transaction `76522208`

[2016-02-04 17:58] ypshenychka commented on #911
@karato Quality is good.

[2016-02-05 06:28] dmzaytsev commented on #986
@yegor256 ping

[2016-02-05 08:43] dmzaytsev commented on #981
@karato valid bug

[2016-02-05 09:30] karato commented on #911
@ypshenychka thanks!

[2016-02-05 09:30] karato commented on #981
@dmzaytsev I just added bug tag here

[2016-02-05 10:06] karato commented on #911
@exper0 paied 10 mins to @ypshenychka for QA review (payment ID is `76555906`)

paid, thanks, added **30 mins** to your account, payment `AP-5YF64632AX157512H`, 413 hours and 56 mins was spent

+30 to your rating, your total score is [+573](http://www.netbout.com/b/36185?open=rating)

[2016-02-05 13:33] karato commented on #981
@mkordas I set the milestone to 3.1 since there is nothing set yet

[2016-02-05 13:51] karato commented on #981
@mkordas many thanks for the bug report, I added 15 mins to your acc, transaction `56b4a8c7e7df065b1c00023b`

[2016-02-05 23:01] jhyle commented on #877
@karato takes#548 is in progress, but we need more time

[2016-02-05 23:07] danff commented on #899
@karato need more time here

[2016-02-05 23:07] danff commented on #952
@karato need more time here

[2016-02-06 09:28] karato commented on #877
@jhyle of course, take your time

[2016-02-06 09:28] karato commented on #899
@danff of course, thanks for letting me know, take your time

[2016-02-06 09:28] karato commented on #952
@danff sure, take your time

[2016-02-06 17:09] karato commented on #982
@dmzaytsev Thanks, closed

[2016-02-06 17:09] #982 closed

[2016-02-06 17:10] karato commented on #982
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-06 17:38] dmzaytsev commented on #986
@yegor256 ping

[2016-02-06 19:14] karato commented on #992
@kujtimiihoxha do this task

[2016-02-07 06:02] dmzaytsev commented on #993
@kujtimiihoxha it seems you have no `sh.exe` in your `path` check it
`C:\Program Files (x86)\Git\bin`

[2016-02-07 06:57] elenavolokhova commented on #982
@karato Looks good!

[2016-02-07 09:55] karato commented on #982
@elenavolokhova thanks, got it, great to see high-quality tickets here

[2016-02-07 10:18] karato commented on #898
@prahladyeri 15 days already, in 48 hours I will re-assign

-30 added to your rating, at the moment it is: [+105](http://www.netbout.com/b/36189?open=rating)

[2016-02-07 10:18] karato commented on #982
@kujtimiihoxha 10 mins was added to the account of @elenavolokhova (for QA review), in transaction 76631219. done, I added **30 mins** in payment `AP-300381756Y008091W`, 149 hours and 10 mins spent to complete this. +30 added to your rating, at the moment it is: [+150](http://www.netbout.com/b/36323?open=rating)

[2016-02-07 15:56] danff commented on #963
@karato need more time

[2016-02-07 15:56] danff commented on #961
@karato need more time

[2016-02-07 17:17] karato commented on #961
@danff OK, take your time

[2016-02-07 17:17] karato commented on #963
@danff no problem, thanks for letting me know

[2016-02-07 21:20] prahladyeri commented on #898
@karato May I request some more time?

[2016-02-08 15:23] karato commented on #848
@dmzaytsev pay attention to the following, as required in [par.33](http://at.teamed.io/policy.html#33):

 * some tasks are stuck: #775 (166 days), #801 (131 days), #803 (125 days), #806 (121 days), #813 (115 days), #816 (114 days), #817 (113 days), #826 (101 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve

[2016-02-08 15:42] krzyk opened #994 "API is not described"
I just noticed that netbout has an API, but is not described anywhere (netbout.com, README.md).
It would be good to have at least some basic description how to log in and e.g. retrieve messages.
As we are at API, there is no description how to get API key to use in netbout.com, it should be also described either on netbout.com or in README.md.

[2016-02-08 15:48] krzyk opened #995 "Autocompletion doesn't filter"
Autocompletion of aliasses shows a list of parties involved in given bout, but it doesn't filter them based on the text already written.
E.g. when I write `@yeg` and I have in given bout `@krzyk` and `@yegor256`, the list of possible aliases should be reduced to just one.

See screenshot how it currently works:
![completion](https://cloud.githubusercontent.com/assets/105730/12890313/6f19304a-ce83-

[2016-02-08 16:23] dmzaytsev commented on #986
@yegor256 fixed in #990 please close the ticket

[2016-02-08 17:02] karato commented on #898
@prahladyeri sure, take your time

[2016-02-09 04:23] dmzaytsev commented on #995
@karato valid bug

[2016-02-09 06:03] dmzaytsev commented on #994
@krzyk we have [the description how to get API key](https://github.com/yegor256/netbout#integration-tests) to use in integration tests.
Regarding the API description, I'm not sure is it public API or not.

@yegor256 should we have a description of the Netbout API (rest client)?  what do you think?

[2016-02-09 09:38] kujtimiihoxha commented on #992
@dmzaytsev how can I test this issue ?

[2016-02-09 09:43] karato commented on #995
@dmzaytsev I tagged this as "bug"

[2016-02-09 10:26] dmzaytsev commented on #992
@kujtimiihoxha the cobertura plugin should build the report in `target`

[2016-02-09 10:33] #993 closed

[2016-02-09 10:34] kujtimiihoxha commented on #863
@karato , @mkordas see PR #996

[2016-02-09 10:48] kujtimiihoxha opened #997 "White space after Inline link should be ignored."
If I add an inline link like:
![withspaces](https://cloud.githubusercontent.com/assets/14311743/12914122/d31483d4-cf22-11e5-98e4-9bed0f292630.png)
It should ignore the spaces instead it does not get the image :
![noimage](https://cloud.githubusercontent.com/assets/14311743/12914108/c6605cee-cf22-11e5-98ef-0b0a25dc42aa.png)
In github the spaces are being ignored and the image displayes correctly.

[2016-02-09 10:55] kujtimiihoxha opened #998 "Page not found error is displayed as success message."
When you go to a url that does not exist netbout displays :

![message](https://cloud.githubusercontent.com/assets/14311743/12914271/cc3d5c74-cf23-11e5-82c0-720dbe5c2018.png)

It should display the message in red to indicate that the url given was wrong

[2016-02-09 11:13] kujtimiihoxha opened #999 "Erros from JSR-303"
We should fix these error messages.

[ERROR] JSR-303 validator failed to initialize: Unable to create a Configuration, because no Bean Validation provider could be found. Add a provider like Hibernate Validator (RI) to your classpath. (see http://aspects.jcabi.com/jsr-303.html)

[ERROR] JSR-303 validator failed to initialize: Unable to instantiate Configuration. (see http://www.jcabi.com/jcabi-asp

[2016-02-09 12:45] kujtimiihoxha commented on #992
@dmzaytsev  do you mean specifying the  ``` <outputDirectory>${basedir}/target</outputDirectory>``` ? because I do not fully understand this task.

[2016-02-09 12:49] kujtimiihoxha commented on #981
@dmzaytsev  I am ready to do this task. Please assign it to me.

[2016-02-09 13:01] karato commented on #995
@krzyk since the ticket has no milestone I set it to 3.1

[2016-02-09 13:02] karato commented on #863
@kujtimiihoxha thanks, I'll take a look

[2016-02-09 13:14] dmzaytsev commented on #981
@karato assign @kujtimiihoxha please

[2016-02-09 13:19] karato commented on #974
@michaelben the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; -30 added to your rating, at the moment it is: [-15](http://ww

[2016-02-09 13:19] karato commented on #995
@krzyk thank you for reporting this, I added 15 mins to your acc, transaction `77017989`

[2016-02-09 13:20] jhyle commented on #877
@karato Bug is fixed in Takes - should I wait for a release and then set the version number of Takes in the pom.xml?

[2016-02-09 13:27] kujtimiihoxha commented on #981
@karato , @dmzaytsev  see PR #1000 .

[2016-02-09 13:31] dmzaytsev commented on #992
@kujtimiihoxha just make the build locally and check for cobertura reports in `target`
if it doesn't exists you should  to do something

see the rultor [log](http://www.rultor.com/t/6736-179608350) from the link above

[2016-02-09 13:54] kujtimiihoxha commented on #992
@dmzaytsev after running ```  mvn org.codehaus.mojo:cobertura-maven-plugin:cobertura ```
Build succeeds and there is a file ```cobertura.ser``` in ```target/cobertura/cobertura.ser ```

[2016-02-09 14:34] karato commented on #981
@dmzaytsev done. @kujtimiihoxha you are assigned to this task. please proceed...

[2016-02-09 14:34] karato commented on #981
@kujtimiihoxha thanks

[2016-02-09 15:02] karato commented on #863
@mkordas we waited for #993, it is closed already

[2016-02-09 15:02] karato commented on #973
@michaelben you're holding this ticket for 15 days already. If it is not finished (and closed) in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle ([this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck)

do not forget to remove the TODO puzzle from

[2016-02-09 17:27] kujtimiihoxha commented on #981
@mkordas  Please close this changes are merged.

[2016-02-09 17:51] kujtimiihoxha commented on #999
@dmzaytsev Could you confirm this bug

[2016-02-09 17:52] kujtimiihoxha commented on #998
@dmzaytsev Could you confirm this bug

[2016-02-09 17:52] kujtimiihoxha commented on #997
@dmzaytsev Could you confirm this bug

[2016-02-09 17:57] dmzaytsev commented on #999
@kujtimiihoxha it's a Qulice issue not Netbout

[2016-02-09 17:57] #999 closed

[2016-02-09 18:03] kujtimiihoxha commented on #863
@mkordas  Please close this issue changes have been merged.

[2016-02-09 18:20] mkordas commented on #981
@kujtimiihoxha we also need to cleanup Travis and Rultor config I think

[2016-02-09 18:33] karato commented on #875
@michaelben check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

-30 added to your rating, current score is:

[2016-02-09 18:42] mkordas commented on #863
@kujtimiihoxha  thanks

[2016-02-09 18:42] #863 closed

[2016-02-09 19:30] kujtimiihoxha commented on #981
@mkordas I am looking at takes .yml files and I don't see what is needed to be changed.

[2016-02-09 19:30] kujtimiihoxha commented on #981
@mkordas also the .pdd is working properly because it detected the issues with the puzzles so I updated these puzzles.

[2016-02-09 20:10] karato commented on #877
@jhyle I guess so, you better ask project architect (@dmzaytsev)

[2016-02-09 23:05] dmzaytsev commented on #877
@jhyle yes, ask for a new release in Takes and then upgrade Netbout to the new release

[2016-02-10 07:21] kujtimiihoxha commented on #981
@mkordas Ping.

[2016-02-10 08:22] mkordas commented on #981
@kujtimiihoxha I mean that we have duplicated source property

[2016-02-10 10:00] sebing opened #1001 "Application Error"
On the earnings click; I got this error

[code]

Hope it is a one time issue.

[2016-02-10 10:10] jhyle commented on #877
@dmzaytsev How can I do this?

[2016-02-10 10:14] dmzaytsev commented on #877
@jhyle like this https://github.com/yegor256/takes/issues/548#issuecomment-182292072
so please wait until the fix will be released
and then change Takes version in `pom.xml`

[2016-02-10 11:11] kujtimiihoxha commented on #981
@mkordas  so I should remove ```  --source=$(pwd) --verbose ```  from ``` pdd --source=$(pwd) --verbose --file=netbout.xml```

[2016-02-10 11:52] mkordas commented on #981
@kujtimiihoxha exactly

[2016-02-10 12:23] karato commented on #865
@jhyle 15 days already, in 48 hours I will re-assign. added -30 to your rating, now it is equal to [+105](http://www.netbout.com/b/36320?open=rating)

[2016-02-10 12:40] kujtimiihoxha commented on #981
@karato , @mkordas  see PR #1002

[2016-02-10 12:59] jhyle commented on #865
@karato waiting for https://github.com/yegor256/takes/issues/577

[2016-02-10 15:22] karato commented on #981
@kujtimiihoxha thanks for that

[2016-02-10 18:35] kujtimiihoxha commented on #981
@mkordas changes are merged please close this issue.

[2016-02-10 19:13] mkordas commented on #981
@kujtimiihoxha thanks!

[2016-02-10 19:13] #981 closed

[2016-02-10 20:27] karato opened #1003 "RtBout.java:155-157: Implement getting subscription by alias...."
Puzzle `682-2583dc75` in `netbout-client/src/main/java/com/netbout/client/RtBout.java:155-157` has to be resolved: Implement getting subscription by alias. Should return subscription status for current boat, passing friend alias value using REST service call.... The puzzle was created by Eugene Kondrashev on 11-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instea

[2016-02-10 21:30] karato commented on #863
@elenavolokhova please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-11 05:23] dmzaytsev commented on #986
@karato I need more time

[2016-02-11 12:10] karato commented on #1003
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-02-11 12:10] karato commented on #865
@jhyle agreed, take your time

[2016-02-11 12:10] karato commented on #986
@dmzaytsev no problem, thanks for letting me know

[2016-02-11 12:24] elenavolokhova commented on #863
@karato Looks good!

[2016-02-11 12:27] karato commented on #995
@2686747 please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here; This task's budget is **30 mins**. This is exactly how much will be paid when the problem explained above is solved. See [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more information

[2016-02-11 14:13] karato commented on #863
@elenavolokhova thank you, good quality is always good ;)

[2016-02-11 14:36] karato commented on #863
@kujtimiihoxha added 10 mins to @elenavolokhova, for QA review, payment code is `77171926`... Thanks a lot, I just topped your account for **1 hour**, transaction ID `AP-4FM11258K6921634E`, total time was 5 hours and 6 mins... there is a bonus for fast delivery (m=306)... added +60 to your rating, now it is equal to [+210](http://www.netbout.com/b/36323?open=rating)

[2016-02-12 01:19] 2686747 commented on #995
@karato the PR is ready to be reviewed thx in advance. There is other issue: autocompletion doesn't work with names != [A-Za-z0-9_] (eg @имя @&&name). Do i have to fix it?

[2016-02-12 08:18] dmzaytsev commented on #1001
@sebing is it reproducible issue?

[2016-02-12 08:30] sebing commented on #1001
@dmzaytsev I got them few times. I remember got the same error yesterday too. As I have no access to the log I cannot produce them.

[2016-02-12 09:50] karato commented on #693
@dmzaytsev I am closing it, thanks all

[2016-02-12 09:50] #693 closed

[2016-02-12 09:50] karato commented on #981
@elenavolokhova review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-12 12:02] karato commented on #989
@kujtimiihoxha do this task

[2016-02-12 16:31] danff commented on #963
@karato PR #1007 has been added fixing this issue.

[2016-02-12 17:34] karato commented on #963
@danff thank you!

[2016-02-12 17:55] karato commented on #848
@dmzaytsev please, pay attention to this ([par.33](http://at.teamed.io/policy.html#33)):

 * some tasks are stuck: #775 (171 days), #801 (135 days), #803 (129 days), #806 (126 days), #813 (120 days), #816 (119 days), #817 (117 days), #826 (105 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve them.

 * some

[2016-02-12 17:56] karato commented on #997
@dmzaytsev please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-02-12 17:56] karato commented on #998
@dmzaytsev please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-02-12 21:52] danff commented on #963
@exper0 The pull request #1007 has been merged and closed. What about the issue?

[2016-02-13 07:37] elenavolokhova commented on #981
@kujtimiihoxha
 According to our [quality rules](http://www.teamed.io/qa.html):

 Two PRs were created for this issue. Please try to follow this rule in your tickets in the future.

 Please confirm that everything is clear and you have no questions regarding this approach.

[2016-02-13 08:45] krzyk opened #1008 "Content is not sanitized"
When I post following content in netbout message:

[code]

then I will get Internal Application Error with stack trace:

[code]

When I revisit the same bout I'm still getting this error, please fix it.

[2016-02-13 08:48] krzyk opened #1009 "Can't reply to bout using email"
When I try to reply to a bout using email (in gmail) I get following response:
[code]

[2016-02-13 08:49] dmzaytsev commented on #1008
@krzyk did you post exactly as written above?

I just posted the same text

![image](https://cloud.githubusercontent.com/assets/9972909/13026843/897b363a-d258-11e5-83f7-6d4da503aae8.png)

[2016-02-13 09:22] krzyk opened #1010 "Can't kick anyone from a room"
I can't kick out anyone from a room.
Browser: Firefox 46

I move the mouse pointer to the user photo, it shows the name and an `x` (to kick), but when I lower my mouse over the username, it disappears (along with the `x`).

Screenshot when I have mouse over the user photo:
![kick](https://cloud.githubusercontent.com/assets/105730/13026938/739f2730-d23b-11e5-8527-9746022598a2.png)

And here when I

[2016-02-13 09:26] krzyk commented on #1008
@dmzaytsev yes, exactly as in the report, I tried it again and I see this again, another bout is inaccessible.
I wonder, maybe it is a browser thing, I'm using Firefox 46.

[2016-02-13 09:28] krzyk commented on #1008
@dmzaytsev I added you to the bout (but it says that it couldn't sent email notification to you) and posted the same code and it failed again.

[2016-02-13 09:31] dmzaytsev commented on #1008
@krzyk hm.. you're right it's a browser related issue
I was be able to open that bout in Chrome
and got the error on the same bout in Firefox

Try to use Chrome as workaround for now

Thanks for the reporting

[2016-02-13 09:32] dmzaytsev commented on #1008
@karato valid bug

[2016-02-13 09:59] karato commented on #995
@2686747 please, address your technical questions to the author of the ticket

[2016-02-13 09:59] karato commented on #1008
@dmzaytsev I added `bug` tag to this ticket

[2016-02-13 10:11] danff commented on #961
@exper0 PR #1006 addressing this issue merged and closed. What about this issue?

[2016-02-13 10:15] karato commented on #864
@jhyle 15 days already, in 48 hours I will re-assign; -30 added to your rating, at the moment it is: [+75](http://www.netbout.com/b/36320?open=rating)

[2016-02-13 10:31] exper0 commented on #961
@danff thanks

[2016-02-13 10:31] #961 closed

[2016-02-13 10:35] jhyle commented on #864
@karato ??? It's merged, what did I do wrong?

[2016-02-13 10:43] dmzaytsev commented on #864
@jhyle you have to ask the ticket reporter to close the ticket

[2016-02-13 12:17] kujtimiihoxha commented on #981
@elenavolokhova I confirm.

[2016-02-13 12:35] 2686747 commented on #995
@krzyk There is other issue: autocompletion doesn't work with names != A-Za-z0-9_. Do i have to fix it?

[2016-02-13 12:39] kujtimiihoxha commented on #992
@dmzaytsev I am reading throw rultor.yml and i don't see that the coveralls profile is called anywhere so it is not running the plugin goals at all . Can we try adding the profile to the deploy command ?

[2016-02-13 12:41] krzyk commented on #995
@2686747 You should just fix what was in the issue description. If you find a bug then you should report it (you will get 15mins for correct bug report).

[2016-02-13 12:45] karato commented on #1008
@krzyk milestone set to `3.1` (correct me if I am wrong)

[2016-02-13 13:14] karato commented on #965
@dmzaytsev we waited for #961, it is closed already

[2016-02-13 13:14] karato commented on #966
@dmzaytsev impediment in issue #961 is closed, we can probably try to continue here

[2016-02-13 13:14] karato commented on #968
@dmzaytsev I think we can continue, impediment #961 is closed

[2016-02-13 13:14] karato commented on #1008
@krzyk thanks for this report, I added 15 mins to your account, in transaction `77265594`

[2016-02-13 13:15] 2686747 opened #1011 "Autocomplete doesn't work with names ain't equivalent to [A-Za-z0-9_]."
Autocomplete doesn't work with names contain non-alphanumeric symbols [A-Za-z0-9_]. Names will display in whole list but if you input non-alphanumeric symbol from needed name - it will not be processed.

Here you can see 2 names with such symbols
![bug-2016 02 12-13 39 08 592892103-max-vaio-arch](https://cloud.githubusercontent.com/assets/8187855/13027759/f9811026-d26c-11e5-8525-6b89140dfd44.jpg)

[2016-02-13 14:04] elenavolokhova commented on #981
@karato Quality is acceptable here.

[2016-02-13 14:54] karato opened #1012 "pom.xml:747-752: These excludes were added during..."
Puzzle `961-58fc8a23` in `netbout-web/pom.xml:747-752` has to be resolved: These excludes were added during upgrade to qulice 0.15.2. New version of qulice adds new violations that need to be fixed. There are also excludes added to netbout-client/pom.xml (lines 192 - 207) related to this puzzle. They also need to be fixed in order to solve this puzzle.... The puzzle was created by Dan Baleanu on 1

[2016-02-13 14:55] karato commented on #961
@exper0 there is a puzzle in this code `961-58fc8a23`/#1012, we'll resolve it later

[2016-02-13 16:21] karato commented on #1012
@dmzaytsev attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-02-13 16:21] karato commented on #981
@elenavolokhova thanks, got it. everybody, please try to make it good next time

[2016-02-13 16:46] karato commented on #981
@kujtimiihoxha just added 10 mins to @elenavolokhova (for QA), payment ID is `77270868`. Many thanks! **45 mins** were added to your account in Transaction ID `AP-2DX25027L7284341T` (task took 29 hours and 50 mins). m=1790, that's why a bonus here for fast delivery. +45 added to your rating, current score is: [+255](http://www.netbout.com/b/36323?open=rating)

[2016-02-13 17:45] 2686747 commented on #995
@krzyk please close the ticket if you don't have any further questions.

[2016-02-13 19:01] krzyk commented on #995
@2686747 please give reference to the PR

[2016-02-13 19:03] 2686747 commented on #995
@krzyk sure, [1005](https://github.com/yegor256/netbout/pull/1005)

[2016-02-13 20:01] krzyk commented on #995
@2686747 it is enough to have write `#1005` you don't have to make a link :)

[2016-02-13 20:01] #995 closed

[2016-02-14 00:15] yegor256 commented on #848
@dmzaytsev when are you planning to release it?

[2016-02-14 05:22] dmzaytsev commented on #848
@yegor256 it released 10 days ago. I have asked you to make it final

[2016-02-14 12:57] jhyle commented on #864
@mkordas Please close the ticket.

[2016-02-14 12:57] mkordas commented on #864
@jhyle thanks

[2016-02-14 12:57] #864 closed

[2016-02-14 13:22] krzyk opened #1013 "Upgrade qulice to 0.16.2"
Netbout is currently at version 0.15.2, while 0.16.2 was released with following new fixes:
* teamed/qulice#594 Implement check to prohibit Javadoc in methods with '@Override'
* teamed/qulice#634 Qulice doesn't check order of Javadoc tags
* teamed/qulice#627 Qulice allows catch parameters not following naming convention
* teamed/qulice#398 DependenciesValidator should support excludes
* teamed/qul

[2016-02-14 14:11] karato commented on #961
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-14 14:13] karato commented on #973
@michaelben this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

-60 to your rating, your total score is [-135](http://www.netbout.com/b/36349?open=rating)

[2016-02-14 14:39] ypshenychka commented on #961
@karato Quality is good.

[2016-02-14 16:09] karato commented on #961
@ypshenychka thank you ;)

[2016-02-14 16:28] karato commented on #875
@michaelben this task is taking too long, I have to change the performer, sorry. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... added -60 to your rating, now it is equal to [-195](http://www.netbout.com/b/36349?open=rating)

[2016-02-14 16:28] karato commented on #961
@danff 10 mins was added to the account of @ypshenychka (for QA review), in transaction 77297930; Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-7UK21737E6189341J`, the task took 477 hours and 51 mins); +30 added to your rating, current score is: [+30](http://www.netbout.com/b/36198?open=rating)

[2016-02-14 16:28] karato commented on #1012
@danff do this task

[2016-02-14 16:36] danff commented on #1012
@karato Thanks, I will do it.

[2016-02-14 17:25] karato commented on #974
@michaelben you've been working with this task for too long. I'm sorry, but I'll assign someone else. Please stop working with it. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle. -60 to your rating, your total score is [-255](http://www.netbout.com/b/36349?open=rating)

[2016-02-14 19:28] karato commented on #1012
@danff you are welcome

[2016-02-14 20:31] danff commented on #963
@exper0 any progress with closing the issue?

[2016-02-14 20:41] exper0 commented on #963
@danff ooh, sorry, thanks a lot!

[2016-02-14 20:41] #963 closed

[2016-02-15 03:59] dmzaytsev commented on #1013
@krzyk advertising ? :)
Thanks, we should actually do that

[2016-02-15 03:59] dmzaytsev commented on #1013
@karato valid bug

[2016-02-15 05:06] dmzaytsev commented on #1011
@2686747 only lower case English letters and numbers are accepted as an alias
https://github.com/yegor256/netbout/blob/12961da5bbb9f1079ef9b06a698379d179e4c820/netbout-web/src/main/java/com/netbout/dynamo/DyAliases.java#L132

I wonder how you have created a non alpha-numeric alias.
I's a bug if you did it using Netbout web interface
if so please update the ticket's title and its description

[2016-02-15 05:08] dmzaytsev commented on #1010
@krzyk  kick-out is the deprecated feature. it will be removed
see https://github.com/yegor256/netbout/issues/634#issuecomment-105601103 https://github.com/yegor256/netbout/issues/634#issuecomment-111782630

[2016-02-15 05:09] dmzaytsev commented on #1009
@krzyk reply to bout using email feature not released yet

[2016-02-15 06:02] dmzaytsev commented on #997
@karato valid bug

[2016-02-15 06:02] dmzaytsev commented on #997
@karato assign me please

[2016-02-15 06:20] krzyk commented on #1009
@dmzaytsev oh, OK

[2016-02-15 06:20] #1009 closed

[2016-02-15 06:21] krzyk commented on #1010
@dmzaytsev OK

[2016-02-15 06:21] #1010 closed

[2016-02-15 06:25] dmzaytsev commented on #997
@karato please see PR #1014

[2016-02-15 06:30] krzyk commented on #1013
@dmzaytsev yeah, and loosing potential review points :)

[2016-02-15 06:44] 2686747 commented on #1011
@dmzaytsev Thank you, it will be closed.

[2016-02-15 06:44] #1011 closed

[2016-02-15 06:53] dmzaytsev commented on #1013
@krzyk me, too :)

[2016-02-15 09:40] karato commented on #1013
@dmzaytsev I tagged this as "bug"

[2016-02-15 09:40] karato commented on #997
@dmzaytsev I added `bug` tag to this ticket

[2016-02-15 10:00] karato commented on #995
@elenavolokhova please, help us to evaluate quality here, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-15 10:12] elenavolokhova commented on #995
@karato Looks good!

[2016-02-15 11:47] karato commented on #997
@kujtimiihoxha there is no milestone yet, so I set it to `3.1`

[2016-02-15 11:47] karato commented on #1013
@krzyk attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-02-15 11:48] karato commented on #995
@elenavolokhova thanks for the review and a good remark

[2016-02-15 12:06] karato commented on #974
@2686747 the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here. The budget here is **30 mins**, which is exactly how much time will be paid for, when the task is [completed](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-15 12:06] karato commented on #995
@2686747 I added 10 mins to @elenavolokhova (for QA review) in transaction 77332026

[2016-02-15 12:07] karato commented on #997
@kujtimiihoxha thank you for reporting this, I added 15 mins to your acc, transaction `AP-3SY58621UF764561S`

[2016-02-15 13:27] karato commented on #997
@dmzaytsev the task is yours, please proceed

[2016-02-15 13:27] karato commented on #997
@dmzaytsev thanks, will take a look

[2016-02-15 13:49] karato commented on #1013
@krzyk thanks for reporting! I topped your account for 15 mins, transaction 77335817

[2016-02-15 14:12] dmzaytsev commented on #997
@kujtimiihoxha fixed in #1014 please close the ticket

[2016-02-15 14:13] #997 closed

[2016-02-15 14:13] kujtimiihoxha commented on #997
@dmzaytsev thanks.

[2016-02-15 14:15] kujtimiihoxha commented on #1013
@dmzaytsev I could do this .

[2016-02-15 14:19] kujtimiihoxha commented on #998
@dmzaytsev Is this a valid bug or should I close it ?

[2016-02-15 15:15] kujtimiihoxha commented on #989
@mkordas  @dmzaytsev  I just created a new user and I am not getting this issue It seems this is only related to already created users ? I do not know how I can test this locally.
![screenshot from 2016-02-15 16-14-33](https://cloud.githubusercontent.com/assets/14311743/13052457/3f708010-d3ff-11e5-81a0-1655e1d0c3c1.png)

[2016-02-15 15:17] kujtimiihoxha commented on #989
@mkordas  Now I don't see this issue in my account to. It is gone now could you please close the issue.

[2016-02-15 15:19] kujtimiihoxha commented on #992
@dmzaytsev could you please answer my question.

[2016-02-15 15:39] karato commented on #864
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-02-15 15:47] ypshenychka commented on #864
@karato Quality is good.

[2016-02-15 17:58] karato commented on #864
@ypshenychka many thanks

[2016-02-15 18:23] karato commented on #864
@jhyle I added 10 mins to @ypshenychka (for QA review) in transaction 77636322; Thanks so much! Your account was topped up for **30 mins** (transaction ID is `AP-2D7062835D7017110`, the task took 387 hours and 51 mins); +30 added to your rating, current score is: [+105](http://www.netbout.com/b/36320?open=rating)

[2016-02-15 18:35] mkordas commented on #989
@kujtimiihoxha I still see it in my profile

[2016-02-15 18:55] kujtimiihoxha opened #1015 "Somehow my email is changed in Netbout and it wont change to another one"
I have noticed that I am not getting email from my Bouts, I saw that my email was changed and when I tried to change back it does not change back.
![screenshot from 2016-02-15 19-53-07](https://cloud.githubusercontent.com/assets/14311743/13057672/03f253f0-d41e-11e5-86b7-0e94968cc386.png)

[2016-02-15 18:56] kujtimiihoxha commented on #989
Here is my account, but I have a very strange issue now #1015.
![screenshot from 2016-02-15 19-53-07](https://cloud.githubusercontent.com/assets/14311743/13057709/3ec36b54-d41e-11e5-90f8-c505c3653fb3.png)

[2016-02-15 19:02] kujtimiihoxha commented on #1015
@dmzaytsev Could you take a look at this because it is a big issue for me.

[2016-02-15 19:05] kujtimiihoxha commented on #1015
@dmzaytsev  I thin I used ``` mvn clean install -Dnetbout.token=${cookie_value} -Dnetbout.url=${netbout_server}``` some days ago to try and test  #989, this might have changed my email, but it does not explain why I cant change it back.

[2016-02-15 19:26] 2686747 commented on #974
@karato what exactly do i have to estimate:
 - time of project development from scratch to current project state
 - time of project development based on project's goals (i'm not sure i see any final requirements) from current state
 - resolving of current critical issues
 - something else

[2016-02-16 03:54] dmzaytsev commented on #1015
@kujtimiihoxha did you check your inbox for the confirmation email from Netbout ?
Netbout shows your previous email until you click on a link in the confirmation email.

[2016-02-16 03:59] dmzaytsev commented on #998
@karato valid bug

[2016-02-16 04:02] dmzaytsev commented on #983
@jhyle  I have no idea how to reproduce it, sorry

[2016-02-16 04:04] dmzaytsev commented on #931
@longtimeago it seems the ticket should be closed
I have no idea how to reproduce it

[2016-02-16 04:57] yegor256 commented on #848
@dmzaytsev I don't think it was released... the latest release is 2.22: https://github.com/yegor256/netbout/releases

[2016-02-16 06:25] longtimeago commented on #931
@dmzaytsev well ... OK, will post another one in case this situation appears again. Thanks

[2016-02-16 07:49] kujtimiihoxha commented on #1015
@dmzaytsev that is the problem I am not recieving any email confirmation.

[2016-02-16 08:26] dmzaytsev commented on #1015
@karato valid bug

[2016-02-16 08:27] dmzaytsev commented on #1015
@kujtimiihoxha did you get any message like `Email changed to .... The verification link sent to this address` ?

[2016-02-16 08:45] dmzaytsev commented on #1015
@karato assign me please

[2016-02-16 08:46] dmzaytsev commented on #1013
@karato assign @kujtimiihoxha please

[2016-02-16 08:54] dmzaytsev commented on #1015
@karato please see PR #1016

[2016-02-16 10:10] karato commented on #1013
@dmzaytsev yep, done. @kujtimiihoxha it is your task now

[2016-02-16 10:10] karato commented on #1015
@dmzaytsev tag "bug" added

[2016-02-16 10:10] karato commented on #998
@dmzaytsev tag bug added to this issue

[2016-02-16 10:28] karato commented on #963
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-02-16 10:47] kujtimiihoxha commented on #1015
@dmzaytsev The only message I got is the one in the image.

[2016-02-16 10:48] ypshenychka commented on #963
@karato Quality is good.

[2016-02-16 11:50] kujtimiihoxha commented on #989
@dmzaytsev  I can not reproduce this with my account and cant test it ?

[2016-02-16 11:54] dmzaytsev commented on #989
@kujtimiihoxha let's wait until fix for #1015 will be released

[2016-02-16 12:02] kujtimiihoxha commented on #989
@karato waiting for #1015 to be released

[2016-02-16 12:05] kujtimiihoxha commented on #1013
@dmzaytsev  I am getting some checkstyle error in some files where there are puzzled written over ```@Override```  should I add this files to the excluded files ?

[2016-02-16 12:12] dmzaytsev commented on #1013
@krzyk please support @kujtimiihoxha on this question
I think the puzzles should be rewritten a different way

[2016-02-16 12:14] krzyk commented on #1013
@kujtimiihoxha puzzles above override should be written using double slash comments `//` not Javadoc ones

[2016-02-16 12:14] kujtimiihoxha commented on #1013
@krzyk Ok I will fix that now .

[2016-02-16 12:21] kujtimiihoxha commented on #1013
@krzyk  @dmzaytsev  I am getting a lot of findbug violations
[code]
45 in total, do I have to fix all of them or exclude findbug check from netbout.client

[2016-02-16 12:23] krzyk commented on #1013
@kujtimiihoxha you should fix as much as budget allows and puzzle with exclude the rest.

[2016-02-16 12:24] kujtimiihoxha commented on #1013
@krzyk @dmzaytsev  I can see that it is already excluded but it does not exclude this files https://github.com/yegor256/netbout/blob/master/netbout-client/pom.xml#L191

[2016-02-16 12:25] krzyk commented on #1013
@kujtimiihoxha also there is a bug, that gives false positives for this findbugs errors if method or class is annotated with jcabi aspects annitations

[2016-02-16 12:27] kujtimiihoxha commented on #1013
@krzyk  the excluded files are in com.netbout.client, i am getting violations in com.netbout.mock my fault sorry.

[2016-02-16 12:28] kujtimiihoxha commented on #1013
@krzyk  is there an issue I can relate to in about the bug with jcabi annotations so i can mention it in the puzzle?

[2016-02-16 12:37] krzyk commented on #1013
@kujtimiihoxha https://github.com/teamed/qulice/issues/706, it will be reopened

[2016-02-16 13:11] kujtimiihoxha commented on #992
@dmzaytsev could you assist in this issue ??

[2016-02-16 13:15] kujtimiihoxha commented on #1013
@karato , @krzyk  See PR #1017.

[2016-02-16 14:18] karato commented on #998
@kujtimiihoxha I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-02-16 14:18] karato commented on #1015
@kujtimiihoxha I set the milestone to 3.1 since there is nothing set yet

[2016-02-16 14:18] karato commented on #963
@ypshenychka many thanks

[2016-02-16 14:19] karato commented on #989
@kujtimiihoxha agreed, we'll wait for #1015

[2016-02-16 14:19] karato commented on #1013
@kujtimiihoxha thanks, I'll take a look

[2016-02-16 14:35] karato commented on #963
@danff I added 10 mins to @ypshenychka (for QA review) in transaction 77684592... I just added **30 mins** to your account, many thanks for your contribution (AP-2DE63275AS948760V).. 524 hours and 14 mins spent here... +30 added to your rating, current score is: [+60](http://www.netbout.com/b/36198?open=rating)

[2016-02-16 14:35] karato commented on #973
@danff do this task

[2016-02-16 14:36] karato commented on #998
@kujtimiihoxha thanks for the ticket, your account was topped for 15 mins, payment AP-4SB77262LX053121W

[2016-02-16 16:09] dmzaytsev commented on #992
@kujtimiihoxha  as you can see in the log Rultor runs `mvn clean site-deploy` and expects to find the Coberura report in `target` but the report already deleted by `clean`
So we have two options
* remove `clean` from the last command to use Coberura report from the previous step
* use `mvn clean install site-deploy` to force run the tests and build a new Cobetura report

@yegor256 what do you thin

[2016-02-16 21:52] longtimeago commented on #931
@dmzaytsev it appears again for http://www.netbout.com/b/36618
![screenshot from 2016-02-16 23 50 02](https://cloud.githubusercontent.com/assets/1388994/13092384/53235538-d508-11e5-83e7-7d13d45fb5fa.png)

[2016-02-17 09:49] kujtimiihoxha commented on #1013
@krzyk the changes are merged please close this issue.

[2016-02-17 10:01] karato commented on #974
@2686747 check this project please, it explains how it should be done: https://github.com/teamed/est If something is not clear there, please submit a bug to that repo

[2016-02-17 10:01] karato commented on #1015
@dmzaytsev the task is yours, please proceed

[2016-02-17 10:01] karato commented on #1015
@dmzaytsev will check it soon, thanks

[2016-02-17 10:13] karato commented on #997
@ypshenychka please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-02-17 10:15] karato commented on #1015
@kujtimiihoxha thanks for the ticket, your account was topped for 15 mins, payment AP-3A625820J7439251G

[2016-02-17 10:17] ypshenychka commented on #997
@karato Quality is good.

[2016-02-17 10:19] dmzaytsev commented on #1015
@kujtimiihoxha fixed in  #1016 please close

[2016-02-17 10:50] krzyk commented on #1013
@kujtimiihoxha thanks

[2016-02-17 10:50] #1013 closed

[2016-02-17 10:52] #1015 closed

[2016-02-17 10:57] dmzaytsev commented on #1015
@rultor release, tag=`2.27`

[2016-02-17 10:57] rultor commented on #1015
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7093-185153722)

[2016-02-17 11:07] rultor commented on #1015
@dmzaytsev @kujtimiihoxha Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7093-185153722) (spent 10min)

[code]

[2016-02-17 11:11] kujtimiihoxha commented on #1015
@dmzaytsev   it looks like we need to solve #992  first.

[2016-02-17 11:18] dmzaytsev commented on #1015
@kujtimiihoxha Rultor doesn't release a new version
but the production instance updated.
Please check the email changing

[2016-02-17 11:33] kujtimiihoxha commented on #1015
@dmzaytsev Now it says no verification is needed after I click the link

[2016-02-17 16:48] dmzaytsev commented on #1015
@kujtimiihoxha I just changed my email, got the confirmation link and confirm the new email.
please try again

[2016-02-17 17:54] kujtimiihoxha commented on #992
@dmzaytsev  I think I have to use one of your proposed solutions, I got this task 11 days before so my time is running, should we wait or proceed ?

[2016-02-17 17:56] dmzaytsev commented on #992
@kujtimiihoxha okay let's remove `clean` from last command in the release section

[2016-02-17 17:58] kujtimiihoxha commented on #992
@dmzaytsev I am on it .

[2016-02-17 18:07] kujtimiihoxha commented on #992
@karato , @dmzaytsev  see PR #1018

[2016-02-17 18:11] kujtimiihoxha commented on #1015
@dmzaytsev It is very interesting I used the link and after I verified It says email verified, when I go to my index page it shows me my old email and in the exclamation mark it tells my that the email I just verified is not verified. This could have to do with #989, but still my email should be changed in the save box , should I add this as a new issue ?
![screenshot from 2016-02-17 18-57-51](htt

[2016-02-17 18:13] kujtimiihoxha commented on #1015
@dmzaytsev  I should add that I cleared my cookies because I thought that it had something to do with the cookies but again the same.

[2016-02-17 18:22] dmzaytsev commented on #1015
@kujtimiihoxha I guess it is a cache related issue we already have a ticket about it

[2016-02-17 18:24] kujtimiihoxha commented on #1015
@dmzaytsev so could it be that #989 is also related to the cache issue ? because I do not know how to test this issue locally ?

[2016-02-17 18:35] dmzaytsev commented on #1015
@kujtimiihoxha I'm afraid it is not related to the cache issue. It seems hi didn't change his email before so it can't be a cache issue
Also Netbout has been restarted recently

[2016-02-17 18:46] kujtimiihoxha commented on #989
@dmzaytsev I think it hase something to do with :
[code]
in XeAlias, it does return newemail even when there is no newemail ?

[2016-02-17 18:47] kujtimiihoxha commented on #989
@mkordas Could you tell me what it says if you hover over it ?

[2016-02-17 18:58] mkordas commented on #989
@kujtimiihoxha it says that my email is not yet verified

[2016-02-17 19:04] kujtimiihoxha commented on #989
@mkordas does it specify the email because I want to know what the newEmail is returning, is it the same email you are now using or an old one ?

[2016-02-17 19:05] mkordas commented on #989
@kujtimiihoxha the same as I'm using now

[2016-02-17 19:06] kujtimiihoxha commented on #989
@mkordas Ok, I will see it is very interesting.

[2016-02-17 19:14] kujtimiihoxha opened #1019 "Users should not be allowed to add an email that already is bind to another user."
I just tested this, netbout allows me to have multiple users with the same email, I thinks this should not be allowed.

[2016-02-17 19:19] kujtimiihoxha opened #1020 "We should add support for shortcuts in bout comments"
We should add support for shortcuts  like here on github exp. ```ctrl+b``` will show ```** **``` for bold text and ```ctrl+i``` will add ```_ _``` for italic.

[2016-02-17 19:34] 2686747 commented on #974
@karato  Done, please, see #1021

[2016-02-17 23:03] danff commented on #1012
@karato PR #1022 has been created addressing this issue. Thank you.

[2016-02-18 01:54] yegor256 opened #1023 ""incorrect alias" mistake"
When I'm trying to invite someone to a bout via RESTful API, I'm getting this answer:

[code]

Everything was fine some time ago, but it's happening now... Would be great to check and reproduce. It's rather urgent.

Full stack trace:

[code]

[2016-02-18 05:10] yegor256 commented on #1023
@dmzaytsev I also can't invite anyone to the bout from the web

[2016-02-18 05:12] yegor256 commented on #1023
@dmzaytsev I think the problem is in `TkInvite`:

[code]

should be `if (check.isEmpty()) {`, if we need that check at all. I don't really understand what this check is doing in `TkInvite`. this validation should happen in `Friends#invite()`, not here in the presentation layer.

[2016-02-18 05:13] yegor256 commented on #1023
@dmzaytsev would be great if we can fix that ASAP, since it's blocking many things now... :(

[2016-02-18 05:20] dmzaytsev commented on #1023
@karato valid bug

[2016-02-18 05:21] dmzaytsev commented on #1023
@karato assign me please

[2016-02-18 05:21] dmzaytsev commented on #1023
@yegor256 I will look into

[2016-02-18 05:21] yegor256 commented on #1023
@dmzaytsev thanks!

[2016-02-18 05:23] dmzaytsev commented on #986
@yegor256 fixed in #990 please close the ticket

[2016-02-18 05:32] yegor256 commented on #1023
@dmzaytsev keep in mind that if you just fix this bug and release the next version 2.23, we will get 300+ new commits into production. that's rather risky, we may introduce other problems. it's better to release 2.22.1 right now, which will include 2.22 and a few new commits, which fix just this particular problem.

to do that you have to modify `release` script in `.rultor.yml` somehow... I'm thi

[2016-02-18 05:36] dmzaytsev commented on #1023
@yegor256 actually we have 2.27 in production

![image](https://cloud.githubusercontent.com/assets/9972909/13134712/60c3ee86-d62b-11e5-9356-1372f7cf0bc6.png)

[2016-02-18 05:37] yegor256 commented on #1023
@dmzaytsev hm.. why don't we have a Github release for it??

[2016-02-18 05:38] dmzaytsev commented on #1023
@yegor256 it is not match to latest release due bug in rultor settings

[2016-02-18 05:38] dmzaytsev commented on #1023
@yegor256 we have the fix for it https://github.com/yegor256/netbout/pull/1018

[2016-02-18 05:40] dmzaytsev commented on #1023
@yegor256 you have modified `pom.xml` several weeks ago
it were changes related to coverall stats

[2016-02-18 05:45] yegor256 commented on #1023
@dmzaytsev I understand now. OK, let's fix and release ASAP

[2016-02-18 09:03] dmzaytsev commented on #1023
@karato please see PR #1024

[2016-02-18 18:09] dmzaytsev commented on #1023
@rultor release, tag=`2.28`

[2016-02-18 18:10] rultor commented on #1023
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7114-185839575)

[2016-02-18 18:22] rultor commented on #1023
@dmzaytsev @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7114-185839575) (spent 12min)

[code]

[2016-02-18 18:25] dmzaytsev commented on #1023
@yegor256 done
please check the invitation

[2016-02-18 19:57] karato commented on #974
@2686747 thanks, I'll take a look

[2016-02-18 19:57] karato commented on #992
@kujtimiihoxha thank you, I will check it

[2016-02-18 19:57] karato commented on #997
@ypshenychka thanks, got it, great to see high-quality tickets here

[2016-02-18 19:57] karato commented on #1023
@dmzaytsev I added `bug` tag to this ticket

[2016-02-18 20:01] yegor256 commented on #1023
@dmzaytsev invitation works, thanks

[2016-02-18 20:15] karato commented on #989
@mkordas we were waiting for #1015 - it is closed already

[2016-02-18 20:15] karato commented on #848
@dmzaytsev pay attention to the following, as required in [par.33](http://at.teamed.io/policy.html#33):

 * some tasks are stuck: #775 (175 days), #801 (140 days), #803 (134 days), #806 (130 days), #813 (124 days), #816 (123 days), #817 (122 days), #826 (110 days); please resolve this. You have three options: 1) mark some of them as "postponed", 2) re-assign them, or 3) help performers to resolve

[2016-02-18 20:15] karato commented on #997
@dmzaytsev paied 10 mins to @ypshenychka for QA review (payment ID is `77858037`)... thanks, paid, **1 hour** to your account, payment ID is `77858058`, task took 1 hour and 54 mins to complete... there is a bonus for fast delivery (m=114)... +60 to your rating, your total score is [+3258](http://www.netbout.com/b/35166?open=rating)

[2016-02-18 23:14] yegor256 opened #1025 "thread in group 'main' interrupted"
I'm seeing this in logs, a lot:

[code]

[2016-02-18 23:25] yegor256 commented on #1025
@dmzaytsev now it works OK, I don't see this exception any more. what's interesting, right after this exception disappeared, I see this:

[code]

[2016-02-19 00:51] yegor256 commented on #1025
@dmzaytsev we're having some serious problem on production now. I can't understand what's causing it. 50% of requests take longer than 30 seconds and get interrupted by `BkTimeable`. DynamoDB is not the cause of the problem now. maybe it's Heroku, where load average is now close to 30.0

[2016-02-19 01:50] yegor256 commented on #1025
@dmzaytsev also, please upgrade to Takes 0.31.2 in this ticket

[2016-02-19 03:33] dmzaytsev commented on #1023
@yegor256 please reopen ticket
I am not assigned yet to this one

[2016-02-19 03:45] dmzaytsev commented on #1019
@karato valid bug

[2016-02-19 04:33] dmzaytsev commented on #992
@rultor release, tag=`2.29`

[2016-02-19 04:33] rultor commented on #992
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7129-186045882)

[2016-02-19 04:43] rultor commented on #992
@dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7129-186045882) (spent 9min)

[code]

[2016-02-19 04:47] dmzaytsev commented on #992
@kujtimiihoxha let's try another way

[2016-02-19 07:02] HDouss opened #1026 "CasperJS tests are skipped when unit tests are skipped"
CasperJS tests are considered as integration tests. Now, they are configured to run if IT are skipped and they are skipped if unit tests are skipped. They should be configured to be run even if unit tests are skipped, and they should be skipped when IT are skipped.

[2016-02-19 07:30] kujtimiihoxha commented on #992
@dmzaytsev  I will try  to do it like this ```   mvn clean install site-deploy -Psite --errors --settings ../settings.xml --batch-mode ``` What do you say ?

[2016-02-19 08:21] dmzaytsev commented on #992
@kujtimiihoxha let's do it

[2016-02-19 08:35] kujtimiihoxha commented on #992
@dmzaytsev  @karato  see PR #1027

[2016-02-19 12:13] dmzaytsev commented on #1025
@yegor256  I have no idea what's causing the loading
do you think upgrade to Takes 0.31.2 may help?

[2016-02-19 12:17] karato commented on #1023
@yegor256 there is no milestone yet, so I set it to `3.1`

[2016-02-19 12:18] karato commented on #1012
@danff ok

[2016-02-19 12:18] karato commented on #1019
@dmzaytsev I tagged this as "bug"

[2016-02-19 12:18] karato opened #1028 "pom.xml:193-197: Fix findbugs errors in mock...."
Puzzle `1013-d9e5eb87` in `netbout-client/pom.xml:193-197` has to be resolved: Fix findbugs errors in mock. There are issues with classes that use jcabi-aspects annotations and they are causing the false violation positives. This will be resolved when issue teamed/qulice#706 is closed.... The puzzle was created by kujtimiihoxha on 16-Feb-2016.

If you have any technical questions, don't ask me, su

[2016-02-19 12:19] karato commented on #1013
@krzyk the code made here contains a puzzle `1013-d9e5eb87`/#1028, which will be resolved soon

[2016-02-19 12:33] karato commented on #998
@original-brownbear it's yours now, please proceed keeping in mind [our principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Feel free to ask any technical questions right here in the ticket; The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-19 12:33] karato commented on #1023
@yegor256 thanks for the report, I topped your acc for 15 mins, payment ID `000-d00bf676`

[2016-02-19 12:55] dmzaytsev commented on #1023
@karato assign me

[2016-02-19 14:11] dmzaytsev commented on #992
@rultor release, tag=`2.30`

[2016-02-19 14:12] rultor commented on #992
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7129-186229487)

[2016-02-19 14:21] rultor commented on #992
@dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7129-186229487) (spent 8min)

[code]

[2016-02-19 14:29] kujtimiihoxha commented on #992
@dmzaytsev  It looks that this is a new issue.

[2016-02-19 18:13] 2686747 commented on #974
@karato  can we close it?

[2016-02-19 22:32] original-brownbear commented on #998
@karato pull request added https://github.com/yegor256/netbout/pull/1029 :)

[2016-02-19 23:16] #986 closed

[2016-02-20 17:31] yegor256 commented on #1025
@dmzaytsev upgrade to Takes 0.31.2 will give a bit more information in logs. also, let's merge this: #1030

[2016-02-20 18:42] karato commented on #1019
@kujtimiihoxha attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-02-20 18:42] karato commented on #1028
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-02-20 18:43] karato commented on #1023
@dmzaytsev of course, the task is yours, go ahead

[2016-02-20 18:43] karato commented on #1023
@dmzaytsev will take a look, thanks

[2016-02-20 18:43] karato commented on #1023
@dmzaytsev this task was already yours, go ahead

[2016-02-20 18:58] karato commented on #1013
@ypshenychka review this ticket please, for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-20 18:58] karato commented on #1015
@elenavolokhova please, review this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-20 18:59] karato commented on #862
@carlosgines This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here

Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2016-02-20 20:57] karato commented on #861
@carlosgines can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here... The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-20 23:12] yegor256 commented on #828
@dmzaytsev would be great to implement this in the next version. this is rather important for me now. thanks.

[2016-02-20 23:16] original-brownbear commented on #875
@karato I see this assigned to me in Netbout but not here, should I get on with it ?

[2016-02-21 06:33] elenavolokhova commented on #1015
@karato Quality is good.

[2016-02-21 08:33] dmzaytsev commented on #1023
@yegor256 fixed in #1024 please close the ticket

[2016-02-21 13:03] original-brownbear commented on #998
@kujtimiihoxha PR #1029 has been merged, please close this isssue.

[2016-02-21 13:09] dmzaytsev commented on #1025
@karato valid bug

[2016-02-21 13:09] #998 closed

[2016-02-21 13:10] kujtimiihoxha commented on #998
@original-brownbear thanks

[2016-02-21 14:26] original-brownbear commented on #875
@karato put in PR #1031 , given that this counted towards my current task limit I hope this is ok :)

[2016-02-21 17:00] kujtimiihoxha commented on #989
@karato Please assign someone else because I can not find the issue here.

[2016-02-21 17:00] kujtimiihoxha commented on #992
@dmzaytsev Could you please look into this ?

[2016-02-21 18:06] karato commented on #989
@kujtimiihoxha 30 points was deducted from your rating

[2016-02-21 18:06] karato commented on #989
@kujtimiihoxha all right, we'll find someone else for this task

[2016-02-21 18:06] karato commented on #1015
@elenavolokhova thanks for the review

[2016-02-21 18:07] karato commented on #1025
@dmzaytsev I added `bug` tag to this ticket

[2016-02-21 18:33] karato commented on #875
@original-brownbear this ticket is yours now, please proceed, and keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions you should ask right here... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-d

[2016-02-21 18:33] karato commented on #1015
@dmzaytsev added 10 mins to @elenavolokhova, for QA review, payment code is `77970024`... thanks, I just added **45 mins** to your account, payment `77970033`, 33 hours and 54 mins spent... there is a bonus for fast delivery (m=2034)... +45 added to your rating, current score is: [+3346](http://www.netbout.com/b/35166?open=rating)

[2016-02-21 18:34] karato commented on #1019
@kujtimiihoxha many thanks for the bug report, I added 15 mins to your acc, transaction `AP-3MK64717031365316`

[2016-02-21 18:35] karato commented on #1020
@dmzaytsev take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-21 19:00] yegor256 commented on #1025
@dmzaytsev maybe you have other ideas about why the application is so slow? This happened just recently. This problem exists for the last 2-3 days. And it's a serious issue. Looks like some defect was released recently. Any ideas?

[2016-02-21 19:02] yegor256 commented on #1025
@dmzaytsev we need to fix this urgently

[2016-02-21 19:04] original-brownbear commented on #998
@karato this is fully handled as far as I understand, can you release me from this given it's closed and hence done and my current 2 task limit ? :)

[2016-02-21 23:43] CarlosGines commented on #862
Thank you @karato I will get down to it very soon. I will ask if I have any question.

[2016-02-21 23:49] CarlosGines commented on #861
Ok, thank you @karato

[2016-02-22 05:39] dmzaytsev commented on #1025
@yegor256 all of the log records related to Dynamo
 I think it is a Dynamo problem

[2016-02-22 05:42] dmzaytsev commented on #1025
@yegor256 however there is a similar issue https://github.com/yegor256/netbout/issues/983
but it was unreproducable

[2016-02-22 06:34] yegor256 commented on #1025
@dmzaytsev Dynamo metrics show less than 10% load of the maximum capacity. this means that Dynamo is not throttling us at all...

[2016-02-22 09:56] ypshenychka commented on #1013
@karato Quality is good.

[2016-02-22 09:58] original-brownbear commented on #875
@mkordas changes are merged now please close this :)

[2016-02-22 10:06] sebing commented on #1001
@dmzaytsev I got the same error today too.

[2016-02-22 10:15] mkordas commented on #875
@original-brownbear thanks!

[2016-02-22 10:15] #875 closed

[2016-02-22 10:59] dmzaytsev opened #1032 "Coveralls maven plugin can't parse a date"
Coveralls maven plugin failed with a message:

there is not same but similar [issue](https://github.com/trautonen/coveralls-maven-plugin/issues/90)
it may help

        at java.text.DateFormat.parse(DateFormat.java:357)
        at org.eluder.coveralls.maven.plugin.util.TimestampParser.parse(TimestampParser.java:60)
        ... 23 more

see full log http://www.rultor.com/t/7129-186229487

[2016-02-22 10:59] dmzaytsev commented on #1032
@karato valid bug

[2016-02-22 11:00] dmzaytsev commented on #992
@kujtimiihoxha you're right, it's a new issue
thanks

[2016-02-22 11:00] #992 closed

[2016-02-22 11:01] dmzaytsev commented on #1032
@karato this is urgent

[2016-02-22 11:03] sebing commented on #1001
@dmzaytsev Now the error is so frequent, and it is almost impossible for me to post a message :(

[2016-02-22 11:09] dmzaytsev commented on #1001
@sebing yes, thanks

@yegor256 could you provide logs related to the time of the issue?
I need more information about the error

[2016-02-22 11:45] CarlosGines commented on #862
@karato I have a question. I have been reading a lot about how we work with tasks, please let me know if what I have concluded is right. The workflow should be like this:

- I fork the main repo and create a local clone of my fork.
- I fix the bug in master in my fork.
- Run Maven build with Qulice to check everything is alright.
- Commit my changes and create a Pull Request.
- Post a link to the

[2016-02-22 11:58] dmzaytsev commented on #862
@CarlosGines

right

it would better to create a new branch for each issue. That allows work on more than one issue at the same time

right

commit and push your changes and create a pull request

right

the pull request will be assigned to the code review.
the reviewer should accept the pull request before your work will be complete

[2016-02-22 12:41] dmzaytsev commented on #1025
@yegor256 I can't upgrate to latest Takes right now. There are a lot of broken tests.
Could you make this https://github.com/yegor256/takes/issues/620 urgent ?

[2016-02-22 13:36] CarlosGines commented on #862
@dmzaytsev Thank you. Another question, do you have any document that explains the architecture of the project? I think it is important for new developers. I also see you are using at least "jcabi" and "takes" project within this one (which are new to me too). Any explanation on how all of this works together?

[2016-02-22 14:46] karato commented on #1025
@yegor256 attached this issue to milestone "3.1" (let me know if this is wrong)

[2016-02-22 14:47] karato commented on #1013
@ypshenychka thank you

[2016-02-22 14:47] karato commented on #1032
@dmzaytsev I tagged this as "bug"

[2016-02-22 14:48] dmzaytsev commented on #1025
@karato assign me please

[2016-02-22 15:01] karato commented on #986
@ypshenychka please, review this ticket for compliance with our [QA rules](http://at.teamed.io/qa.html)

[2016-02-22 15:03] karato commented on #1013
@kujtimiihoxha 10 mins was added to the account of @ypshenychka (for QA review), in transaction 78181778. Thanks for your contribution, **38 mins** was added to your account, payment ID is `AP-5F8122040S4962104`, 57 hours and 45 mins spent total. the bonus for fast delivery (m=3465). +38 to your rating, your total score is [+323](http://www.netbout.com/b/36323?open=rating)

[2016-02-22 15:03] karato commented on #1025
@yegor256 many thanks for the bug report, I added 15 mins to your acc, transaction `000-168c4fae`

[2016-02-22 15:04] ypshenychka commented on #986
@karato Quality is good.

[2016-02-22 15:04] karato commented on #1026
@dmzaytsev please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-02-22 15:33] dmzaytsev commented on #1026
@karato valid bug

[2016-02-22 15:34] dmzaytsev commented on #1023
@yegor256  fixed in #1024 please close the ticket

[2016-02-22 15:35] dmzaytsev commented on #994
@karato valid bug

[2016-02-22 15:35] dmzaytsev commented on #994
@karato this is postponed

[2016-02-22 15:37] dmzaytsev commented on #931
@karato valid bug

[2016-02-22 15:38] dmzaytsev commented on #931
@karato this is postponed

[2016-02-22 15:39] dmzaytsev commented on #936
@karato valid bug

[2016-02-22 15:39] dmzaytsev commented on #936
@karato this is postponed

[2016-02-22 15:41] dmzaytsev commented on #862
@CarlosGines there is only one document. It's Readme on each project

[2016-02-22 15:42] dmzaytsev commented on #801
@karato this is postponed

[2016-02-22 15:43] dmzaytsev commented on #803
@karato this is postponed

[2016-02-22 15:43] dmzaytsev commented on #806
@karato this is postponed

[2016-02-22 15:44] dmzaytsev commented on #813
@karato this is postponed

[2016-02-22 15:44] dmzaytsev commented on #816
@karato this is postponed

[2016-02-22 15:46] dmzaytsev commented on #817
@karato this is postponed

[2016-02-22 15:46] dmzaytsev commented on #826
@karato this is postponed

[2016-02-22 15:48] dmzaytsev commented on #612
@karato set milestone 3.1

[2016-02-22 15:58] kujtimiihoxha commented on #1013
@karato the task took 24 hours and 20 min, from the moment I was assigned until the moment it was closed. please check the time again.

[2016-02-22 17:01] wild-lotus opened #1033 "Insufficient documentation for JAVA newcomers."
Current documentation is not enough for new Java programmers arriving to the project. There needs to be added more info about its architecture and setup:
- List of technologies, 3rd party plugins and libraries used. Including what they do, how and why they are used. Provide all relevant links.
- Folder structure explanation.
- Naming conventions used.
- Setup instructions for local development env

[2016-02-22 17:05] CarlosGines commented on #862
I have created issue #1033 that needs to be addressed before I can continue with this task. Waiting for its approval.

[2016-02-22 17:11] CarlosGines commented on #861
I have created issue #1033 that needs to be addressed before I can continue with this task. Waiting for its approval.

[2016-02-22 18:04] longtimeago commented on #1032
@dmzaytsev adding this to coveralls plugin configuration should solve the issue
[code]

[2016-02-22 18:24] dmzaytsev commented on #1032
@longtimeago thanks

[2016-02-22 18:33] kujtimiihoxha commented on #859
@dmzaytsev  could you assign this to me please.

[2016-02-22 18:39] dmzaytsev commented on #859
@karato assign @kujtimiihoxha please

[2016-02-22 18:40] dmzaytsev commented on #1032
@rultor release, tag='2.31'

[2016-02-22 18:41] rultor commented on #1032
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7215-187312058)

[2016-02-22 18:41] rultor commented on #1032
@dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7215-187312058) (spent 25s)

[code]

[2016-02-22 18:43] dmzaytsev commented on #1032
@rultor release, tag=`2.31`

[2016-02-22 18:44] rultor commented on #1032
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7215-187313288)

[2016-02-22 18:44] longtimeago commented on #1032
@dmzaytsev ah, that's why we have netbout down time ... new release is coming :)

[2016-02-22 18:55] dmzaytsev commented on #1032
@longtimeago just a test release, no features :)

[2016-02-22 18:56] rultor commented on #1032
@dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7215-187313288) (spent 12min)

[code]

[2016-02-22 18:57] karato commented on #1032
@dmzaytsev since there is no milestone yet I set it to "3.1"

[2016-02-22 18:57] karato commented on #612
@dmzaytsev the milestone here is 3.1

[2016-02-22 18:57] karato commented on #801
@dmzaytsev right, I added "postponed" label

[2016-02-22 18:57] karato commented on #801
@dmzaytsev OK, I will try to assign someone else

[2016-02-22 18:57] karato commented on #803
@dmzaytsev OK, I put "postponed" label here

[2016-02-22 18:57] karato commented on #803
@dmzaytsev someone else will help in this task, no problem at all

[2016-02-22 18:57] karato commented on #806
@dmzaytsev thanks, I added "postponed" label

[2016-02-22 18:57] karato commented on #806
@dmzaytsev right, I'll try to find someone else for this task

[2016-02-22 18:57] karato commented on #813
@dmzaytsev got it, "postponed" label here

[2016-02-22 18:57] karato commented on #813
@dmzaytsev OK, I will try to assign someone else

[2016-02-22 18:57] karato commented on #816
@dmzaytsev OK, I put "postponed" label here

[2016-02-22 18:57] karato commented on #816
@dmzaytsev someone else will help in this task, no problem at all

[2016-02-22 18:57] karato commented on #817
@dmzaytsev thanks, I added "postponed" label

[2016-02-22 18:57] karato commented on #817
@dmzaytsev I will ask somebody else to pick this up

[2016-02-22 18:58] karato commented on #826
@dmzaytsev right, I added "postponed" label

[2016-02-22 18:58] karato commented on #826
@dmzaytsev got it, someone else will be assigned soon

[2016-02-22 18:58] karato commented on #986
@ypshenychka thank you, good quality is always good ;)

[2016-02-22 18:58] karato commented on #1025
@dmzaytsev of course, the task is yours, go ahead

[2016-02-22 18:58] karato commented on #1026
@dmzaytsev tagged this issue with "bug"

[2016-02-22 18:58] karato commented on #994
@dmzaytsev I added `bug` tag to this ticket

[2016-02-22 18:58] karato commented on #936
@dmzaytsev tagged this issue with "bug"

[2016-02-22 18:58] karato commented on #931
@dmzaytsev I tagged this as "bug"

[2016-02-22 18:59] longtimeago commented on #1032
@dmzaytsev shit ... looks like the fix didn't help

[2016-02-22 19:01] dmzaytsev commented on #1032
@longtimeago so do I

[2016-02-22 19:07] longtimeago commented on #1032
@dmzaytsev you have a problem because of this
https://github.com/yegor256/netbout/blob/master/pom.xml#L115

[2016-02-22 19:09] longtimeago commented on #1032
@dmzaytsev coveralls expects some timestamp parameter in it's plugin configuration. If not found it takes one from `${maven.build.timestamp}`
Remove the line https://github.com/yegor256/netbout/blob/master/pom.xml#L115
and it should be fine

[2016-02-22 19:13] karato commented on #998
@ypshenychka please, check this issue for QA compliance, as per [par.24](http://at.teamed.io/policy.html#24)

[2016-02-22 19:14] karato commented on #859
@kujtimiihoxha this is your task

[2016-02-22 19:14] karato commented on #986
@dmzaytsev I added 10 mins to @ypshenychka (for QA review) in transaction 78316429. Much obliged! I have added **30 mins** to your account in payment "78316438", 390 hours and 20 mins spent. +30 added to your rating, at the moment it is: [+3392](http://www.netbout.com/b/35166?open=rating)

[2016-02-22 19:14] karato commented on #1032
@dmzaytsev thanks a lot for reporting, **30 mins** added to your acc, pmt ID `78316475`

[2016-02-22 19:17] longtimeago commented on #1032
@dmzaytsev also, there is an issue registered https://github.com/trautonen/coveralls-maven-plugin/issues/90

[2016-02-22 19:33] ypshenychka commented on #998
@karato Quality is good.

[2016-02-22 19:50] dmzaytsev commented on #1032
@rultor release, tag=`2.32`

[2016-02-22 19:52] rultor commented on #1032
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7215-187350239)

[2016-02-22 20:06] rultor commented on #1032
@dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7215-187350239) (spent 14min)

[code]

[2016-02-22 20:14] kujtimiihoxha commented on #859
@karato @dmzaytsev  see PR #1036

[2016-02-22 20:23] CarlosGines commented on #1033
@dmzaytsev please check.

[2016-02-22 20:52] longtimeago opened #1037 "Removing participant from the discussion is very tricky in case of long name"
For example,
![screenshot from 2016-02-22 22 48 23](https://cloud.githubusercontent.com/assets/1388994/13232185/beed40b4-d9b6-11e5-963f-716e756b628f.png)

When I move mouse to the red cross a label with name and red cross constantly disappears.
Please, add some timeout on hiding this label :)

[2016-02-22 20:54] kujtimiihoxha commented on #857
@dmzaytsev  I could do this task please assign me.

[2016-02-22 21:17] kujtimiihoxha commented on #850
@dmzaytsev  I can do this one please assign me.

[2016-02-23 00:30] yegor256 commented on #1025
@dmzaytsev this is very serious now. I will try to fix it myself

[2016-02-23 02:31] yegor256 commented on #1025
@rultor release, tag is `2.22.1`

[2016-02-23 02:32] yegor256 commented on #1025
@dmzaytsev the problem was here: 446d995

[2016-02-23 02:32] rultor commented on #1025
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7229-187490008)

[2016-02-23 02:43] rultor commented on #1025
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7229-187490008) (spent 11min)

[code]

[2016-02-23 05:05] #1025 closed

[2016-02-23 05:15] yegor256 opened #1038 "can't login using Google OAuth"
I can't login using Google OAuth:

[code]

[2016-02-23 05:27] dmzaytsev commented on #1038
@karato valid bug

[2016-02-23 05:51] dmzaytsev commented on #1025
@yegor256 but these files were modified several months ago
why do you think it is the reason of the issue?

[2016-02-23 05:55] dmzaytsev commented on #850
@karato assign @kujtimiihoxha please

[2016-02-23 05:55] dmzaytsev commented on #857
@karato assign @kujtimiihoxha please

[2016-02-23 06:01] dmzaytsev commented on #1033
@CarlosGines Netbout has a standart maven project structure,
all plugins and libraries you can find in `pom` files.
just read your IDE's guide about maven projects.
I think all java IDEs in the world support maven

[2016-02-23 06:03] dmzaytsev commented on #1032
@longtimeago would you like to do this task? :)

[2016-02-23 06:32] dmzaytsev commented on #1025
@yegor256 it seems the problem not resolved yet
please provide detailed logs

[2016-02-23 06:37] yegor256 commented on #1025
@dmzaytsev well, the site works fast now, logs are clean... maybe some other things I've done above helped?

[2016-02-23 06:41] dmzaytsev commented on #1025
@yegor256  I got an application error on Netbout about 30 mins ago
please check the logs

[2016-02-23 06:43] dmzaytsev commented on #1025
@yegor256 I got a new one right now
![image](https://cloud.githubusercontent.com/assets/9972909/13243687/ac3cf4b6-da22-11e5-9f19-014ceedc5c09.png)

[2016-02-23 06:45] yegor256 commented on #1025
@dmzaytsev are you logged in via Google?

[2016-02-23 06:45] yegor256 commented on #1025
@dmzaytsev if yes, check this: https://github.com/yegor256/netbout/issues/1038

[2016-02-23 06:46] yegor256 commented on #1025
@dmzaytsev logs:

[code]

[2016-02-23 06:47] dmzaytsev commented on #1025
no, logged via github

[2016-02-23 06:50] yegor256 commented on #1025
@dmzaytsev that's all I see in logs... only this exception. try again right now.

[2016-02-23 06:55] dmzaytsev commented on #1025
@yegor256 it works now but too slow

[2016-02-23 06:56] yegor256 commented on #1025
@dmzaytsev now it's in your hands. I removed the critical problem. try to remove others too.

[2016-02-23 07:06] dmzaytsev commented on #1032
@rultor release, tag=`2.22.2`

[2016-02-23 07:07] rultor commented on #1032
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7215-187576720)

[2016-02-23 07:17] rultor commented on #1032
@dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7215-187576720) (spent 10min)

[code]

[2016-02-23 07:30] kujtimiihoxha commented on #857
@karato  @mkordas  see PR #1040

[2016-02-23 07:31] kujtimiihoxha commented on #857
@mkordas  This is how it looks now if you have not selected any file :
![screenshot from 2016-02-23 08-28-07](https://cloud.githubusercontent.com/assets/14311743/13244606/ce54146e-da07-11e5-91e4-de538eddbdc7.png)

[2016-02-23 07:34] kujtimiihoxha commented on #850
@dmzaytsev  If we incorporate
[code]
 in the pom I don't think we need to mention it in the readme what do you think ?

[2016-02-23 07:44] dmzaytsev commented on #850
@kujtimiihoxha I agree

[2016-02-23 07:53] dmzaytsev commented on #1032
@rultor release, tag=`2.22.3`

[2016-02-23 07:53] rultor commented on #1032
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7215-187588593)

[2016-02-23 08:03] rultor commented on #1032
@dmzaytsev Oops, I failed. You can see the full log [here](http://www.rultor.com/t/7215-187588593) (spent 10min)

[code]

[2016-02-23 08:16] kujtimiihoxha commented on #850
@karato  @dmzaytsev  please see PR #1042

[2016-02-23 08:29] dmzaytsev commented on #1032
@rultor release, tag=`2.22.4`

[2016-02-23 08:31] rultor commented on #1032
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7215-187600319)

[2016-02-23 08:42] rultor commented on #1032
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/7215-187600319) (took me 11min)

[2016-02-23 08:55] dmzaytsev commented on #848
@yegor256  could you set final tag for 2.22.4 ?

[2016-02-23 09:31] kujtimiihoxha opened #1044 "I am getting Application Error"
Today I am constantly getting .
[code]

[2016-02-23 09:40] dmzaytsev commented on #1025
@yegor256 could you check heroku system logs?

[2016-02-23 11:47] kujtimiihoxha commented on #1020
@dmzaytsev Should I close this issue ?

[2016-02-23 11:49] dmzaytsev commented on #1020
@kujtimiihoxha yes please, I don't think  we need a github copy

[2016-02-23 11:53] kujtimiihoxha commented on #1020
@dmzaytsev Ok I thought that it would be easier for users that are used to use this shortcuts in github that's why.

[2016-02-23 11:53] #1020 closed

[2016-02-23 11:57] CarlosGines commented on #1033
Thank you @dmzaytsev that is a starting point. Still many things missing for me in documentation. I will ask some questions related to the architecture to see if I can better explain this issue:

- What are the folders "netbout-client", "netbout-spi" and "netbout-web"?
- What are the REST objects like "RtBout"?
- What are the cached objects like "CdBout" and "ReBout"? ("Re-" objects are also defin

[2016-02-23 12:48] original-brownbear commented on #998
@karato this issue has disappeared from my Netbout agenda, but still not been paid.

[2016-02-23 16:49] dmzaytsev commented on #1023
@yegor256 fixed in #1024 please close the ticket

[2016-02-23 17:01] dmzaytsev commented on #1037
@longtimeago kick-out is the deprecated feature. it will be removed
see https://github.com/yegor256/netbout/issues/634#issuecomment-105601103 https://github.com/yegor256/netbout/issues/634#issuecomment-111782630

[2016-02-23 18:10] karato commented on #931
@longtimeago milestone set to `3.1` (correct me if I am wrong)

[2016-02-23 18:10] karato commented on #936
@prahladyeri there is no milestone yet, so I set it to `3.1`

[2016-02-23 18:10] karato commented on #994
@krzyk there is no milestone yet, so I set it to `3.1`

[2016-02-23 18:10] karato commented on #1026
@hdouss I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-02-23 18:11] karato commented on #859
@dmzaytsev no problem, @kujtimiihoxha is already assigned to this task, please go on

[2016-02-23 18:11] karato commented on #859
@kujtimiihoxha thank you, I will check it

[2016-02-23 18:11] karato commented on #857
@dmzaytsev OK @kujtimiihoxha please go ahead, this task is yours

[2016-02-23 18:11] karato commented on #857
@kujtimiihoxha will take a look at it, thanks

[2016-02-23 18:11] karato commented on #850
@dmzaytsev OK @kujtimiihoxha please proceed, this task is yours

[2016-02-23 18:11] karato commented on #850
@kujtimiihoxha I will take a look, thanks

[2016-02-23 18:11] karato commented on #1013
@kujtimiihoxha see http://at.teamed.io/policy.html#15

[2016-02-23 18:11] karato commented on #998
@ypshenychka many thanks

[2016-02-23 18:11] karato commented on #1038
@dmzaytsev tag bug added to this issue

[2016-02-23 18:27] #974 closed

[2016-02-23 18:27] karato commented on #974
@dmzaytsev Finished, thanks, closing..

[2016-02-23 18:27] karato commented on #875
@elenavolokhova please, let us know what do you think about this ticket, according to our [QA rules](http://at.teamed.io/qa.html)

[2016-02-23 18:27] karato commented on #992
@ypshenychka please, review this task for compliance with our [quality rules](http://at.teamed.io/qa.html)

[2016-02-23 18:33] karato commented on #998
@original-brownbear just added 10 mins to @ypshenychka (for QA), payment ID is `78373442`... Many thanks! **38 mins** were added to your account in Transaction ID `AP-2K7355691A3926930` (task took 53 hours and 33 mins)... there is a bonus for fast delivery (m=3213)... +38 added to your rating, at the moment it is: [+98](http://www.netbout.com/b/36646?open=rating)

[2016-02-23 18:34] karato commented on #994
@krzyk thank you for reporting this, I added 15 mins to your acc, transaction `78373751`

[2016-02-23 18:47] ypshenychka commented on #992
@kujtimiihoxha Why are there 2 pull requests created for this issue?

[2016-02-23 18:56] kujtimiihoxha commented on #992
@ypshenychka because the first solution did not solve the issue this was agreed with @dmzaytsev to try another solution

[2016-02-23 19:00] ypshenychka commented on #992
@kujtimiihoxha I see that both PRs were merged and none of them is closed as invalid. The new committed fix could have been done in scope of the first PR.
According to our [QA Rules](http://at.teamed.io/qa.html):

@dmzaytsev Please correct me if I'm missing anything.

[2016-02-23 22:50] yegor256 opened #1045 "Memory quota exceeded in Heroku"
From Heroku logs:

[code]

[2016-02-23 22:50] yegor256 commented on #1025
@dmzaytsev now it's this: https://github.com/yegor256/netbout/issues/1045

[2016-02-23 23:04] yegor256 commented on #1045
@dmzaytsev there is a memory leakage somewhere... we're going over 512Mb in just about 10 minutes of work

[2016-02-24 00:17] #1037 closed

[2016-02-24 01:14] yegor256 commented on #1045
@rultor release, tag is `0.22.5`

[2016-02-24 01:14] rultor commented on #1045
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7244-187997577)

[2016-02-24 01:30] rultor commented on #1045
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/7244-187997577) (took me 15min)

[2016-02-24 05:17] yegor256 commented on #1023
@dmzaytsev thanks!

[2016-02-24 05:17] #1023 closed

[2016-02-24 05:24] dmzaytsev commented on #992
@ypshenychka usually we can verify PR on a code review stage using varios tests, etc
however the solution of this issue can be verified by Rultor only on a release stage,
PR has to be merged and released, that's why we can't mark the previous  PR as invalid.
The first PR was rolled back by the second one.

I believe a few tickets will be overkill for this particular task

[2016-02-24 05:25] dmzaytsev commented on #1045
@karato valid bug

[2016-02-24 06:10] yegor256 commented on #1045
@dmzaytsev any ideas?

[2016-02-24 06:11] yegor256 commented on #1045
@dmzaytsev I increased the size of VM at Heroku to 1Gb RAM. the problem is still there. we're eating the entire memory in 20-30 minutes. there is definitely a memory leak somewhere... some static variables, I assume...

[2016-02-24 06:16] ypshenychka commented on #992
@dmzaytsev Thank you for explanation. I agree that this ticket is an exceptional case.

[2016-02-24 06:16] ypshenychka commented on #992
@karato Quality is good.

[2016-02-24 06:16] dmzaytsev commented on #1045
it can be both a memory leak and the normal memory consumation by jcabi-cacheble
unfortunatelly jcabi-cacheble doen't allow to set a eviction policy for its cache, only by time we can't set a max size of the cache

[2016-02-24 08:22] kujtimiihoxha commented on #850
@mkordas  changes have been merged please close this issue.

[2016-02-24 08:35] kujtimiihoxha commented on #859
@mkordas  Please close this issue changes have been merged.

[2016-02-24 08:41] dmzaytsev commented on #1045
@yegor256 let's shift back to PegDown for test

[2016-02-24 08:43] yegor256 commented on #1045
@dmzaytsev yeah, but we didn't have any issues for months... let's try the PegDown. now we're having serious issues. I have to restart Heroku dyno every 20 minutes.

[2016-02-24 08:45] dmzaytsev commented on #1045
@yegor256 I'm going to release a few latest changes now.
and then will shift back to the Pegdown in a new release

[2016-02-24 08:47] dmzaytsev commented on #1045
@rultor release, tag=`2.22.6`

[2016-02-24 08:47] rultor commented on #1045
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7244-188142218)

[2016-02-24 08:58] rultor commented on #1045
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/7244-188142218) (took me 11min)

[2016-02-24 09:02] dmzaytsev commented on #1045
@yegor256 do you see the memory leak after the  latest release?

[2016-02-24 09:07] yegor256 commented on #1045
@dmzaytsev watching...

[2016-02-24 09:35] dmzaytsev commented on #1045
@karato assign me please

[2016-02-24 10:13] dmzaytsev commented on #1045
@yegor256 I'm ready to shift to the PegDown
let me know if the problem is still there

[2016-02-24 11:16] CarlosGines commented on #862
@karato How does my last message affect my "timer" for this task? Is it stopped? Is it stopped only if the issue is accepted? In that last case, would it be stopped from the moment it is accepted or from the moment I posted it? Thank you.

[2016-02-24 12:54] mkordas commented on #859
@kujtimiihoxha thanks

[2016-02-24 12:54] #859 closed

[2016-02-24 12:54] mkordas commented on #850
@kujtimiihoxha thx

[2016-02-24 12:54] #850 closed

[2016-02-24 16:29] yegor256 commented on #1045
@dmzaytsev yes, the problem is still there

[2016-02-24 17:16] karato commented on #1038
@yegor256 I set the milestone to 3.1 since there is nothing set yet

[2016-02-24 17:16] dmzaytsev commented on #1045
@rultor release, tag=`2.22.7`

[2016-02-24 17:17] karato commented on #992
@ypshenychka thanks a lot

[2016-02-24 17:17] karato commented on #1032
@dmzaytsev got it, "urgent" label here

[2016-02-24 17:17] karato commented on #994
@dmzaytsev thanks, I added "postponed" label

[2016-02-24 17:17] karato commented on #994
@dmzaytsev all right, we'll find someone else for this task

[2016-02-24 17:17] karato commented on #936
@dmzaytsev sure, thanks, I added "postponed" label to it

[2016-02-24 17:17] karato commented on #936
@dmzaytsev I will try to find someone else

[2016-02-24 17:17] karato commented on #1045
@dmzaytsev I tagged this as "bug"

[2016-02-24 17:17] karato opened #1047 "pom.xml:544-547: This integration test doesn't work..."
Puzzle `1025-adc69076` in `netbout-web/pom.xml:544-547` has to be resolved: This integration test doesn't work on Mac OSX at all. I tried to run it a few times and every time all tests fail with some sort "timeout" problem. I'm not sure what it is. Let's try to fix and enable it again.... The puzzle was created by Yegor Bugayenko on 23-Feb-2016.

If you have any technical questions, don't ask me,

[2016-02-24 17:18] rultor commented on #1045
@dmzaytsev OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/7244-188358733)

[2016-02-24 17:18] karato commented on #1025
@yegor256 there is a puzzle in this code `1025-adc69076`/#1047, we'll resolve it later

[2016-02-24 17:31] rultor commented on #1045
@dmzaytsev Done! FYI, the full log is [here](http://www.rultor.com/t/7244-188358733) (took me 13min)

[2016-02-24 17:33] dmzaytsev commented on #1045
@yegor256 could you check again?

[2016-02-24 17:35] dmzaytsev commented on #1032
@karato it is not urgent anymore

[2016-02-24 19:12] yegor256 commented on #1045
@dmzaytsev well... I don't see a problem any more. let's monitor for a few more hours

[2016-02-24 19:12] yegor256 commented on #1045
@dmzaytsev in the mean time, I would strongly recommend to create a few performance/stress tests, to prevent this from happening in the future. we MUST control how stable is the product BEFORE deploying it to production

[2016-02-24 20:40] yegor256 commented on #1045
@dmzaytsev nope, it didn't help. I put the memory limit back to 512m in Heroku and we see "memory quota exceeded" again, after about 15-20 minutes of work

[2016-02-24 22:34] yegor256 commented on #1045
@dmzaytsev just start a server locally, put big traffic on it (using Apache Bench for example) and see what's going on inside, using some profiler. you will find the reason of memory leak pretty soon.

[2016-02-25 07:45] elenavolokhova commented on #875
@karato Looks good!

[2016-02-25 09:24] dmzaytsev commented on #1045
@yegor256 It's not too simple task to emulate real workload locally...
Just putting a big traffic on the root page not enough, we need make requests like a real user, log in, open bouts, post messages , scroll  pages, etc..
I would propose set up generating of memory dumps on Heroku as described here https://devcenter.heroku.com/articles/java-memory-issues#generating-heap-dumps-in-the-background

[2016-02-25 10:03] kujtimiihoxha commented on #857
@mkordas please close.

[2016-02-25 11:10] mkordas commented on #857
@kujtimiihoxha thanks

[2016-02-25 11:10] #857 closed

[2016-02-25 15:58] dmzaytsev commented on #828
@karato this is urgent

[2016-02-25 16:53] karato commented on #1045
@yegor256 I set the milestone to 3.1 since there is nothing set yet

[2016-02-25 16:53] karato commented on #1047
@dmzaytsev I added milestone `3.1` to this issue, let me know if there has to be something else

[2016-02-25 16:53] karato commented on #862
@carlosgines every time you post a message, address it to someone. otherwise it's just a noise. see http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html#4-avoid-noise-mdash-address-your-comments

[2016-02-25 16:53] karato commented on #875
@elenavolokhova thanks for the review

[2016-02-25 16:54] karato commented on #1032
@dmzaytsev sure, thanks, I removed "urgent" tag to it

[2016-02-25 16:54] karato commented on #931
@dmzaytsev right, I added "postponed" label

[2016-02-25 16:54] karato commented on #931
@dmzaytsev no problem, I will try to find somebody else

[2016-02-25 17:14] yegor256 commented on #1045
@dmzaytsev you can download that dumps from http://jmap.netbout.com (login: `team`, pwd: `sugar16`) But keep in mind that I restart heroku process every 20 minutes now, by cron. So, the information may not be very helpful. I can stop that restarts process, but the system will go out of memory very soon...

[2016-02-25 17:17] yegor256 commented on #1045
@dmzaytsev I set jmap dump interval to 10 minutes:

[code]

[2016-02-25 17:20] karato commented on #848
@dmzaytsev pay attention to the following, as required in [par.33](http://at.teamed.io/policy.html#33):

 * some tasks in the project are "stuck": #775 (182 days), #828 (115 days), #834 (102 days), #839 (98 days), #841 (97 days), #853 (74 days), #852 (74 days), #858 (73 days); please do something about it ASAP. You basically have three options: 1) mark some of them as "postponed" ([par.26](http://

[2016-02-25 17:20] karato commented on #875
@original-brownbear added 10 mins to @elenavolokhova, for QA review, payment code is `78546734`; I just added **45 mins** to your account, many thanks for your contribution (AP-0HM44082TC269654J).. 43 hours and 48 mins spent here; there is a bonus for fast delivery (m=2628); +45 added to your rating, current score is: [+153](http://www.netbout.com/b/36646?open=rating)

[2016-02-25 17:20] karato commented on #1032
@2686747 please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here

The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)